Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$

fix: update test_events_export.py for NEM-3611 JSON export support
  backend/tests/unit/api/routes/test_events_export.py
Due: check-test-timeouts

feat: implement 11 frontend features from parallel agent dispatch
  frontend/src/components/analytics/AnalyticsPage.tsx
  frontend/src/components/events/EventCard.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: prettier-frontend, eslint, typescript-check

fix: regenerate api.ts using official generate-types.sh script
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: resolve ESLint and TypeScript errors
  .secrets.baseline
  docs/architecture/api-reference/detections-api.md
  docs/architecture/api-reference/events-api.md
  frontend/scripts/generate-ws-types.py
  frontend/src/components/BatchProcessingIndicator.test.tsx
  frontend/src/components/settings/AccessControlSettings.tsx
  frontend/src/components/settings/AccessScheduleEditor.test.tsx
  frontend/src/components/settings/AccessScheduleEditor.tsx
  frontend/src/components/settings/AdminSettings.tsx
  frontend/src/components/settings/ZoneAccessSettings.test.tsx
  frontend/src/components/settings/ZoneAccessSettings.tsx
  frontend/src/hooks/useCameraStatusWebSocket.ts
  frontend/src/hooks/useSystemSetting.test.ts
  frontend/src/hooks/useSystemSetting.ts
  frontend/src/services/api.ts
  frontend/src/services/systemSettingsApi.test.ts
  setup.py
  tools/nemo_data_designer/analyze_coverage.py
  tools/nemo_data_designer/generate_scenarios.py
Due: prettier-frontend, eslint, typescript-check

fix: regenerate OpenAPI spec and API types for NEM-3625 version field
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: add eslint-disable to generated api.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

feat: implement 5 discovery tasks with parallel agents
  .secrets.baseline
  backend/alembic/versions/0003_add_scheduled_reports_table.py
  backend/api/routes/__init__.py
  backend/api/routes/events.py
  backend/api/routes/scheduled_reports.py
  backend/api/schemas/__init__.py
  backend/api/schemas/event_cluster.py
  backend/api/schemas/scheduled_report.py
  backend/main.py
  backend/models/__init__.py
  backend/models/scheduled_report.py
  backend/tests/unit/api/routes/test_events_clusters.py
  backend/tests/unit/api/routes/test_scheduled_reports.py
  backend/tests/unit/api/schemas/test_event_cluster.py
  backend/tests/unit/api/schemas/test_scheduled_report.py
  backend/tests/unit/models/test_scheduled_report.py
  docs/openapi.json
  frontend/src/App.tsx
  frontend/src/components/events/AGENTS.md
  frontend/src/components/events/DetectionFeedback.test.tsx
  frontend/src/components/events/DetectionFeedback.tsx
  frontend/src/components/events/EventClusterCard.test.tsx
  frontend/src/components/events/EventClusterCard.tsx
  frontend/src/components/events/EventTimeline.test.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/components/pwa/InstallPrompt.test.tsx
  frontend/src/components/pwa/InstallPrompt.tsx
  frontend/src/components/pwa/index.ts
  frontend/src/components/settings/DetectionThresholdsPanel.test.tsx
  frontend/src/components/settings/DetectionThresholdsPanel.tsx
  frontend/src/components/settings/FeatureTogglesPanel.tsx
  frontend/src/components/settings/ProcessingSettings.tsx
  frontend/src/components/settings/__tests__/FeatureTogglesPanel.test.tsx
  frontend/src/types/generated/api.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-test-timeouts, check-validation-drift, check-integration-tests

fix: add missing MockEventBroadcaster methods and fix test parameters
  .secrets.baseline
  backend/tests/unit/core/test_websocket.py
  backend/tests/unit/routes/test_events_routes.py
Due: check-test-timeouts

fix: add order_detections_by to remaining test calls in api/routes
  backend/tests/unit/api/routes/test_events_routes.py
Due: check-test-timeouts

feat: implement 5 discovery tasks with parallel agents (NEM-3619, NEM-3620, NEM-3621, NEM-3622, NEM-3645) (#4210)
  .secrets.baseline
  backend/alembic/versions/0003_add_scheduled_reports_table.py
  backend/api/routes/__init__.py
  backend/api/routes/events.py
  backend/api/routes/scheduled_reports.py
  backend/api/schemas/__init__.py
  backend/api/schemas/event_cluster.py
  backend/api/schemas/scheduled_report.py
  backend/main.py
  backend/models/__init__.py
  backend/models/scheduled_report.py
  backend/tests/unit/api/routes/test_events_clusters.py
  backend/tests/unit/api/routes/test_events_routes.py
  backend/tests/unit/api/routes/test_scheduled_reports.py
  backend/tests/unit/api/schemas/test_event_cluster.py
  backend/tests/unit/api/schemas/test_scheduled_report.py
  backend/tests/unit/core/test_websocket.py
  backend/tests/unit/models/test_scheduled_report.py
  backend/tests/unit/routes/test_events_routes.py
  docs/openapi.json
  frontend/src/App.tsx
  frontend/src/components/events/AGENTS.md
  frontend/src/components/events/DetectionFeedback.test.tsx
  frontend/src/components/events/DetectionFeedback.tsx
  frontend/src/components/events/EventClusterCard.test.tsx
  frontend/src/components/events/EventClusterCard.tsx
  frontend/src/components/events/EventTimeline.test.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/components/pwa/InstallPrompt.test.tsx
  frontend/src/components/pwa/InstallPrompt.tsx
  frontend/src/components/pwa/index.ts
  frontend/src/components/settings/DetectionThresholdsPanel.test.tsx
  frontend/src/components/settings/DetectionThresholdsPanel.tsx
  frontend/src/components/settings/FeatureTogglesPanel.tsx
  frontend/src/components/settings/ProcessingSettings.tsx
  frontend/src/components/settings/__tests__/FeatureTogglesPanel.test.tsx
  frontend/src/types/generated/api.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-test-timeouts, check-validation-drift, check-integration-tests

feat(events): add object_type filter and include_deleted toggle (NEM-3586, NEM-3589, NEM-3596)
  frontend/src/components/events/FilterChips.test.tsx
  frontend/src/components/events/FilterChips.tsx
  frontend/src/hooks/useEventEnrichmentsQuery.test.ts
  frontend/src/hooks/useEventEnrichmentsQuery.ts
  frontend/src/hooks/useEventsQuery.ts
Due: prettier-frontend, eslint, typescript-check

fix: resolve TypeScript and ESLint errors from parallel agent work
  frontend/src/components/analytics/CameraBaselinePanel.tsx
  frontend/src/components/common/BulkActionBar.test.tsx
  frontend/src/components/common/BulkActionBar.tsx
  frontend/src/components/common/BulkActionBar.utils.ts
  frontend/src/components/events/EventCard.test.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/notifications/NotificationHistoryPanel.tsx
  frontend/src/hooks/useBatchStatistics.test.ts
  frontend/src/hooks/useEventEnrichmentsQuery.test.ts
  frontend/src/services/api.ts
Due: prettier-frontend, eslint, typescript-check

feat(websocket): add enrichment and queue metrics WebSocket events (NEM-3627, NEM-3637)
  backend/core/websocket/event_schemas.py
  backend/core/websocket/event_types.py
  backend/tests/unit/core/websocket/test_enrichment_queue_events.py
  backend/tests/unit/test_websocket_event_types.py
  frontend/src/hooks/index.ts
  frontend/src/hooks/useEventEnrichmentWebSocket.test.ts
  frontend/src/hooks/useEventEnrichmentWebSocket.ts
  frontend/src/hooks/useQueueMetricsWebSocket.test.ts
  frontend/src/hooks/useQueueMetricsWebSocket.ts
  frontend/src/types/websocket-events.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: implement search/bulk features (NEM-3532, NEM-3614, NEM-3615)
  backend/api/routes/events.py
  backend/api/routes/system.py
  backend/api/schemas/search.py
  backend/api/schemas/system.py
  backend/services/search.py
  backend/tests/integration/test_search_api.py
  backend/tests/unit/api/routes/test_system_config_deprecation.py
  frontend/src/components/common/BulkActionBar.test.tsx
  frontend/src/components/common/BulkActionBar.tsx
  frontend/src/components/search/SearchResultCard.tsx
  frontend/src/hooks/useBulkSelection.test.ts
  frontend/src/hooks/useBulkSelection.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

chore: apply pre-push hook formatting fixes
  backend/core/websocket/event_schemas.py
  backend/tests/unit/core/websocket/test_enrichment_queue_events.py
  backend/tests/unit/test_websocket_event_types.py
Due: check-test-timeouts

chore: regenerate OpenAPI spec and fix AnalyticsPage after rebase
  .secrets.baseline
  docs/openapi.json
  frontend/src/components/analytics/AnalyticsPage.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: add missing batch analysis broadcast methods to MockEventBroadcaster
  backend/tests/unit/core/test_websocket.py
Due: check-test-timeouts

fix: resolve ruff and TypeScript lint errors
  .secrets.baseline
  backend/api/routes/gpu_config.py
  backend/services/export_service.py
  backend/tests/unit/api/routes/test_exports.py
  frontend/src/components/exports/ExportColumnSelector.tsx
  frontend/src/components/settings/NotificationSettings.tsx
  frontend/src/hooks/useCameraPathValidationQuery.test.tsx
  frontend/src/hooks/useCameraSnapshotStatus.test.tsx
  frontend/src/hooks/useIntegratedNotifications.test.tsx
  frontend/src/hooks/useIntegratedNotifications.ts
  frontend/src/hooks/useSceneChangeSummaryQuery.test.tsx
  frontend/src/services/api.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-test-timeouts, check-integration-tests

fix: reset GPU config fallback state in test fixture
  backend/tests/unit/api/routes/test_gpu_config.py
Due: check-test-timeouts

chore: retrigger CI
  .secrets.baseline
Due: none

fix: add mock response parameter to patch_config tests
  backend/tests/unit/routes/test_system_routes.py
Due: check-test-timeouts

feat: expose enrichment model data to frontend (NEM-3535)
  backend/tests/unit/api/schemas/test_enrichment_schema.py
Due: check-test-timeouts

fix: resolve Python 3.14 Query object string representation issue (NEM-3664)
  backend/api/routes/events.py
Due: generate-openapi, generate-api-types, check-integration-tests

feat: integrate EventFeedback calibration fields into frontend (NEM-3552)
  frontend/src/components/feedback/FeedbackPanel.test.tsx
  frontend/src/components/feedback/FeedbackPanel.tsx
  frontend/src/services/api.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check

fix: persist welcome tour dismissal across page visits (NEM-3518)
  frontend/src/components/common/ProductTour.test.tsx
  frontend/src/components/common/ProductTour.tsx
Due: prettier-frontend, eslint, typescript-check

feat: add WebSocket endpoint for detection events (NEM-3554)
  backend/api/routes/websocket.py
  backend/tests/integration/test_websocket.py
Due: generate-openapi, generate-api-types, check-test-mocks, check-test-timeouts, check-integration-tests
