Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

generate-api-types:
  name: Generate TypeScript API Types
  entry: bash -c './scripts/generate-types.sh && git add frontend/src/types/generated/api.ts'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv lock file is up-to-date
  entry: bash -c 'cd "$0" && uv lock --check' .
  language: system
  pass_filenames: false

npm-install-check:
  name: Check npm dependencies are installed
  entry: bash -c 'cd frontend && npm ci --prefer-offline --no-audit --dry-run'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-validation-drift:
  name: Check validation drift (Pydantic/Zod)
  entry: python3 scripts/check-validation-drift.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

fix(vehicle_damage): catch meta tensor in buffers and at inference time
  backend/services/vehicle_damage_loader.py
Due: check-integration-tests

fix(vehicle_damage): fail fast on CPU; fix _materialize_meta_tensors compat
  backend/services/vehicle_damage_loader.py
Due: check-integration-tests

fix: prevent violence-detection CPU inference from blocking event loop
  backend/services/violence_loader.py
  scripts/seed-events.py
Due: check-integration-tests

fix: ruff format vehicle_damage_loader.py
  backend/services/vehicle_damage_loader.py
Due: check-integration-tests

fix: add asyncio.wait_for(15s) to all slow CPU-bound inference calls
  backend/services/image_quality_loader.py
  backend/services/segformer_loader.py
  backend/services/smoke_fire_loader.py
  backend/services/yolo_world_loader.py
Due: check-integration-tests

diag: add event-loop watchdog + model-load timeout for GIL starvation
  backend/main.py
  backend/services/model_zoo.py
  backend/services/nemotron_analyzer.py
Due: check-integration-tests

fix: update vehicle_damage_loader tests for CPU fail-fast and new meta-tensor API
  backend/tests/unit/services/test_vehicle_damage_loader.py
Due: check-test-timeouts

feat: switch backend to Python 3.14t free-threaded build (no GIL)
  backend/Dockerfile
  docker-compose.prod.yml
Due: none

fix: ruff - replace EN DASH with hyphen in docstring, format nemotron_analyzer
  backend/main.py
  backend/services/nemotron_analyzer.py
Due: check-integration-tests

fix: eliminate GIL starvation without free-threading
  backend/main.py
  backend/services/model_zoo.py
  backend/services/segformer_loader.py
  backend/services/yolo_world_loader.py
  docker-compose.prod.yml
Due: check-integration-tests

fix: prevent runtime model weight downloads in backend
  backend/services/fashion_clip_loader.py
  docker-compose.prod.yml
Due: check-integration-tests

fix: complete CUDA-only guard rollout + revert to standard Python 3.14
  backend/Dockerfile
  backend/services/age_classifier_loader.py
  backend/services/clip_loader.py
  backend/services/depth_anything_loader.py
  backend/services/gender_classifier_loader.py
  backend/services/pet_classifier_loader.py
  backend/services/vitpose_loader.py
  backend/services/weather_loader.py
  backend/services/xclip_loader.py
  docker-compose.prod.yml
Due: check-integration-tests

fix: use expire= instead of ex= in RedisClient.set() call in batch_coalescer
  backend/services/batch_coalescer.py
Due: check-integration-tests

fix: move model_load success code out of dead except TimeoutError block
  backend/services/model_zoo.py
Due: check-integration-tests

fix: pre-download brisque SVR weights in setup.py, persist TORCH_HOME
  backend/services/batch_coalescer.py
  docker-compose.prod.yml
  scripts/seed-events.py
  setup_lib/model_downloader.py
Due: check-integration-tests

fix: update loader tests for CUDA-only guard rollout
  backend/tests/unit/services/test_clip_loader.py
  backend/tests/unit/services/test_fashion_clip_loader.py
  backend/tests/unit/services/test_model_zoo.py
  backend/tests/unit/services/test_xclip_loader.py
  backend/tests/unit/services/test_yolo_world_loader.py
Due: check-test-timeouts

fix: pre-download tiktoken BPE encoding to prevent event-loop freeze on first LLM call
  backend/main.py
  backend/services/model_zoo.py
  docker-compose.prod.yml
  setup_lib/model_downloader.py
Due: check-integration-tests

fix: mypy - annotate _log as Any, use Path() for str model_path.name
  backend/main.py
  backend/services/model_zoo.py
Due: check-integration-tests

fix: robust LLM response parsing and preserve raw_response on failure
  backend/services/nemotron_analyzer.py
  setup_lib/podman_install.py
Due: check-integration-tests

fix: ruff format nemotron_analyzer.py
  backend/services/nemotron_analyzer.py
Due: check-integration-tests

fix: update tests for CUDA guard, new aux downloads, nemotron parser changes
  backend/tests/unit/services/test_depth_anything_loader.py
  backend/tests/unit/services/test_nemotron_analyzer.py
  backend/tests/unit/services/test_violence_loader.py
  backend/tests/unit/services/test_weather_loader.py
  backend/tests/unit/setup_lib/test_model_downloader.py
Due: check-test-timeouts

fix: Grafana plugins, tracing dashboard, and platform health check
  docker-compose.prod.yml
  monitoring/grafana/Dockerfile
  monitoring/grafana/dashboards/tracing.json
  monitoring/grafana/provisioning/plugins/.gitkeep
  scripts/platform-healthcheck.py
Due: none

fix: update segformer CPU test to expect RuntimeError (CUDA required)
  backend/tests/unit/services/test_segformer_loader.py
Due: check-test-timeouts

fix: update vitpose tests to match CPU-rejection behavior
  backend/services/vitpose_loader.py
  backend/tests/unit/services/test_vitpose_loader.py
Due: check-test-timeouts, check-integration-tests

fix: update pet classifier CPU test and quarantine flaky timing test
  backend/services/pet_classifier_loader.py
  backend/tests/unit/services/test_enrichment_parallelization.py
  backend/tests/unit/services/test_pet_classifier_loader.py
Due: check-test-timeouts, check-integration-tests

docs: arm64/GB300 milestone-1 design spec
  docs/superpowers/specs/2026-09-12-arm64-gb300-milestone1-design.md
Due: none

docs: milestone-1 implementation plan (arm64/GB300 core bring-up)
  docs/superpowers/plans/2026-09-12-arm64-gb300-milestone1.md
Due: none

docs(plan): fold in blocker-audit findings (6/7 lanes)
  docs/superpowers/plans/2026-09-12-arm64-gb300-milestone1.md
Due: none

docs: documentation-updates ledger + probe log
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

fix(env): declare TEMPO/AI_GATEWAY_METRICS/GPU_AI_SERVICES ports referenced by prod compose
  .env.example
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

feat(gb300): .env generation template with single-GPU + socket deltas
  docs/plans/2026-09-12-context-map-doc-updates.md
  env-templates/gb300.env.template
Due: none

feat(gb300): additive compose overlay (rule mounts + GPU exclusion)
  config/docker-compose.gb300.yml
Due: none

fix(gb300): node-exporter root bind without rslave (rootless compose)
  config/docker-compose.gb300.yml
Due: none

docs(gb300): phase A bring-up status — core observability healthy on arm64
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

fix(validate): provider-safe container discovery + scope load/benchmarks out of combined gate
  scripts/validate.sh
Due: none

fix(tests): disable pyroscope native profiler under pytest (aarch64 xdist crashclass)
  backend/tests/conftest.py
  backend/tests/unit/core/test_telemetry_profiling.py
Due: check-test-timeouts

fix(frontend): repair motionSensitivity test drift after RTSP UI changes
  frontend/src/components/settings/__tests__/CamerasSettings.motionSensitivity.test.tsx
Due: prettier-frontend, eslint, typescript-check

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
