Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$

docs(uplevel): set the O1.5 row done with #6931 (contract: the PR sets its row)
  docs/uplevel/README.md
Due: none

docs(agents): de-duplicate the +50% latency clause in the rollback bullet
  backend/AGENTS.md
Due: none

docs(agents): recover the dropped gray-override pair-fact; fix a system-confusion line
  frontend/src/AGENTS.md
  frontend/src/components/AGENTS.md
Due: prettier-frontend

docs(uplevel): O1.11 — status row to awaiting real tier (rule 5)
  docs/uplevel/README.md
Due: none

fix(gates): close the O1.5 self-review findings A/B/C/F
  .prettierignore
  README.md
  ai/AGENTS.md
  ai/yolo26/AGENTS.md
  backend/tests/unit/models/test_r8_s4_demographics_reid_retirement.py
  docs/testing/AGENTS.md
  scripts/test_retired_paths.py
Due: check-test-timeouts

docs(uplevel): W3.1 post-ship audit — 6 reader defects + 1 live find + 1 own misaim
  backend/core/AGENTS.md
  frontend/src/AGENTS.md
Due: prettier-frontend

docs(uplevel): W3.1 backend/core :22-23 -> :29-30 docstring pointer (NEM-2383)
  backend/core/AGENTS.md
Due: none

test(ops): O1.11 — commit the nginx seam render harness (rule 3)
  scripts/uplevel-real-tier/README.md
  scripts/uplevel-real-tier/render-nginx-seams.sh
Due: none

docs(uplevel): W3.1 drop the inverted because-clause at frontend/src/AGENTS.md:887
  frontend/src/AGENTS.md
Due: prettier-frontend

docs(uplevel): W3.1 batch-9 seventh round — three count defects in my own prose
  frontend/src/AGENTS.md
Due: prettier-frontend

docs(uplevel): W3.1 batch-9 eighth round — the dead name in components' common/ row
  frontend/src/components/AGENTS.md
Due: prettier-frontend

docs(uplevel): W3.1 batch-9 ninth round — two count defects b8-reader-B found in my neighbours
  frontend/src/AGENTS.md
Due: prettier-frontend

fix(gates): O1.5 self-review tail: dead ignore, scan-view drift, count
  .pre-commit-config.yaml
  .prettierignore
  .secrets.baseline
  scripts/retired_paths.txt
  scripts/test_precommit_config.py
Due: none

fix(gates): anchor also sees an interior ../ (self-review J)
  scripts/test_retired_paths.py
Due: none

test(ops): O1.11 — RED pins for the ops-b review round
  backend/tests/unit/core/test_monitoring_expose_lan_credentials.py
Due: check-test-timeouts

fix(ops): O1.11 — entrypoint override, idempotent boot seam, key merge
  docker-compose.prod.yml
  docs/reference/config/env-reference.md
  frontend/docker-entrypoint.sh
  setup.py
  setup_lib/core.py
Due: none

fix(ops): O1.11 — CI mypy leg at setup_lib/core.py:239
  setup_lib/core.py
Due: none

uplevel: two read-only specialist subagents, adapted from agency-agents
  .claude/agents/LICENSE-agency-agents.txt
  .claude/agents/codebase-archaeologist.md
  .claude/agents/security-auditor.md
  .gitignore
  docs/uplevel/50-coordination.md
Due: none

test(ruling 44): guard fails CI if browser code reads the key again
  frontend/src/__tests__/no-browser-api-key.test.ts
Due: prettier-frontend, eslint, typescript-check

style(ruling 44): make the guard pass the repo's own lint gate
  frontend/src/__tests__/no-browser-api-key.test.ts
Due: prettier-frontend, eslint, typescript-check

fix(ops): O1.7 answer review — battery regex, dead!=deletable, docs
  docs/uplevel/00-audit.md
  scripts/AGENTS.md
  scripts/audit/battery_census.py
  scripts/audit/env_dead_vars.py
  scripts/audit/retired_names.py
  scripts/audit/test_battery_census.py
  scripts/audit/test_env_dead_vars.py
  scripts/audit/test_retired_names.py
Due: none

ci(ops): O1.7 census tests join the anti-rot gates' own-tests step
  .github/workflows/ci.yml
Due: none

feat(ops): O1.7 retired-names bucket x name cross-tab
  scripts/audit/retired_names.py
  scripts/audit/test_retired_names.py
Due: none

docs(uplevel): O1.7 replaces audit [A] figures with measured [C]
  docs/uplevel/00-audit.md
  docs/uplevel/README.md
Due: none

fix(ops): O1.7 literal_groups skips installed packages
  docs/uplevel/00-audit.md
  scripts/audit/literal_groups.py
  scripts/audit/test_literal_groups.py
Due: none

feat(ops): O1.7 committed measurement scripts, one per audit count
  scripts/audit/AGENTS.md
  scripts/audit/battery_census.py
  scripts/audit/env_dead_vars.py
  scripts/audit/literal_groups.py
  scripts/audit/retired_names.py
  scripts/audit/settings_orphans.py
  scripts/audit/test_battery_census.py
  scripts/audit/test_env_dead_vars.py
  scripts/audit/test_literal_groups.py
  scripts/audit/test_retired_names.py
  scripts/audit/test_settings_orphans.py
Due: none

docs(scripts): pointer to scripts/audit/ in the lane root
  scripts/AGENTS.md
Due: none

test(F1.3): unit tests for useKnownPersonsApi (coverage gate, ruling 44)
  frontend/src/hooks/useKnownPersonsApi.test.ts
Due: prettier-frontend, eslint, typescript-check

docs(AGENTS.md): re-aim guard refs the W1.1 ratchet must resolve
  frontend/src/config/AGENTS.md
  frontend/src/services/AGENTS.md
Due: prettier-frontend

fix(ci): ratchet ids +1 — compose-list edit shifted pinned skips
  .github/suppression-registry.yml
Due: none

docs(backend): trace backend entry points (supports F2.2)
  docs/reference/backend-entry-points.md
Due: none

docs(ruling 44): 28 stale credential comments corrected
  frontend/src/hooks/useCircuitBreakerStatus.ts
  frontend/src/hooks/useConnectionStatus.ts
  frontend/src/hooks/useEventStream.ts
  frontend/src/hooks/usePerformanceMetrics.ts
  frontend/src/hooks/useServiceStatus.ts
  frontend/src/hooks/useSystemStatus.ts
  frontend/src/hooks/useWebSocketStatus.ts
  frontend/src/services/abTestService.ts
  frontend/src/services/aiAuditApi.ts
  frontend/src/services/api.ts
  frontend/src/services/auditApi.ts
  frontend/src/services/backupApi.ts
  frontend/src/services/baselineConfigApi.ts
  frontend/src/services/gpuConfigApi.ts
  frontend/src/services/gpuHistoryApi.ts
  frontend/src/services/modelZooApi.ts
  frontend/src/services/performanceHistoryApi.ts
  frontend/src/services/pipelineLatencyApi.ts
  frontend/src/services/plateReadsApi.ts
  frontend/src/services/promptManagementApi.ts
  frontend/src/services/scheduledReportsApi.ts
  frontend/src/services/webhookApi.ts
Due: prettier-frontend, eslint, typescript-check

fix(backend): strip run-scalar comments in the shard-pin gate
  scripts/mint-test-durations.py
  scripts/test_shard_durations.py
Due: none

docs(backend): floors comment tier membership; 76.9% not 75%
  .github/workflows/ci.yml
  .github/workflows/integration-shard.yml
  scripts/test_shard_durations.py
Due: none

chore(backend): exclude .test_durations from large-file cap
  .pre-commit-config.yaml
Due: none
