Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: .venv/bin/python scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: .venv/bin/python scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

fix: resolve CI failures (SAST, GPU tests) (#42)
  .beads/issues.jsonl
  .github/workflows/gpu-tests.yml
  .gitignore
  .semgrepignore
  .venv
Due: none

fix: mitigate Trivy container security scan failures
  .github/workflows/trivy.yml
  .trivyignore
  backend/requirements-prod.txt
Due: none

feat: add reliability, security, and media handling services
  backend/alembic/versions/add_baseline_tables.py
  backend/api/schemas/__init__.py
  backend/core/__init__.py
  backend/core/config.py
  backend/core/tls.py
  backend/main.py
  backend/models/__init__.py
  backend/models/baseline.py
  backend/models/event.py
  backend/requirements.txt
  backend/services/__init__.py
  backend/services/circuit_breaker.py
  backend/services/degradation_manager.py
  backend/services/zone_service.py
  backend/tests/unit/test_circuit_breaker.py
  backend/tests/unit/test_degradation_manager.py
  backend/tests/unit/test_tls.py
  backend/tests/unit/test_zone_service.py
  scripts/generate_certs.py
Due: check-test-timeouts

fix: add test isolation fixture to prevent parallel test conflicts
  backend/tests/conftest.py
  backend/tests/unit/test_alert_dedup.py
  backend/tests/unit/test_alert_engine.py
  backend/tests/unit/test_alert_models.py
  backend/tests/unit/test_models.py
Due: check-test-timeouts

chore: regenerate TypeScript types from OpenAPI schema
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: audit remediation - healthchecks, video pipeline, Redis handling, MIME types
  backend/api/middleware/auth.py
  backend/api/routes/detections.py
  backend/api/routes/system.py
  backend/core/__init__.py
  backend/core/config.py
  backend/services/pipeline_workers.py
  backend/services/video_processor.py
  backend/tests/unit/test_auth_middleware.py
  backend/tests/unit/test_pipeline_workers.py
  backend/tests/unit/test_video_support.py
Due: check-test-timeouts

fix: use unique IDs in test_pipeline_e2e.py for parallel test isolation
  backend/tests/integration/test_pipeline_e2e.py
Due: check-test-mocks, check-test-timeouts

fix(tests): add clean_pipeline fixture to pipeline E2E tests
  backend/tests/integration/test_pipeline_e2e.py
Due: check-test-mocks, check-test-timeouts

ci: add PostgreSQL service to backend test jobs
  .github/workflows/ci.yml
Due: none

feat: add video file support for camera uploads
  backend/api/routes/detections.py
  backend/services/file_watcher.py
  backend/services/video_processor.py
  backend/tests/unit/test_video_support.py
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: test isolation and API attribute fixes for CI
  backend/tests/conftest.py
  backend/tests/unit/test_database.py
  backend/tests/unit/test_redis.py
Due: check-test-timeouts

fix: update test imports for renamed classes
  backend/tests/unit/test_redis.py
Due: check-test-timeouts

fix: run unit tests sequentially to avoid database conflicts
  .github/workflows/ci.yml
Due: none

ci: add explicit coverage threshold to unit tests
  .github/workflows/ci.yml
Due: none

ci: explicitly pass --cov-config=pyproject.toml for unit tests
  .github/workflows/ci.yml
Due: none

fix: resolve CI failures - alembic heads, timezone, test isolation
  backend/alembic/versions/add_alerts_and_alert_rules.py
  backend/alembic/versions/add_baseline_tables.py
  backend/alembic/versions/add_zones_table.py
  backend/alembic/versions/audit_logs_table.py
  backend/models/baseline.py
  backend/tests/unit/test_admin_api.py
Due: check-test-timeouts

fix: use unique IDs for test isolation instead of TRUNCATE
  backend/tests/conftest.py
  backend/tests/unit/test_alert_dedup.py
  backend/tests/unit/test_alert_engine.py
  backend/tests/unit/test_alert_models.py
  backend/tests/unit/test_models.py
Due: check-test-timeouts

chore: update documentation and configs from stash
  .github/AGENTS.md
  backend/models/AGENTS.md
Due: none

fix: improve cleanup service test isolation for parallel execution
  backend/tests/unit/test_cleanup_service.py
Due: check-test-timeouts

feat: add lightbox, fix camera thumbnails, verify SQLite config
  backend/tests/unit/test_database.py
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/services/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: audit batch 3 - RT-DETR reliability, queue safety, PostgreSQL migration
  .env.example
  README.md
  backend/api/routes/system.py
  backend/core/config.py
  backend/core/database.py
  backend/models/log.py
  backend/requirements-prod.txt
  backend/requirements.txt
  backend/services/__init__.py
  backend/services/pipeline_workers.py
  backend/tests/conftest.py
  backend/tests/e2e/conftest.py
  backend/tests/integration/conftest.py
  backend/tests/unit/test_config.py
  backend/tests/unit/test_database.py
  backend/tests/unit/test_pipeline_workers.py
  backend/tests/unit/test_redis.py
  docs/RUNTIME_CONFIG.md
Due: check-test-mocks, check-test-timeouts

fix(tests): resolve integration test fixture ordering issues
  backend/services/AGENTS.md
  backend/tests/conftest.py
Due: check-test-timeouts

fix: improve test isolation with unique IDs and session fixture
  backend/services/alert_engine.py
  backend/tests/conftest.py
  backend/tests/unit/test_admin_api.py
  backend/tests/unit/test_alert_dedup.py
  backend/tests/unit/test_alert_engine.py
  backend/tests/unit/test_alert_models.py
  backend/tests/unit/test_cleanup_service.py
  backend/tests/unit/test_database.py
  backend/tests/unit/test_models.py
  backend/tests/unit/test_nemotron_analyzer.py
  backend/tests/unit/test_redis.py
Due: check-test-timeouts

fix: skip SQLite migration tests and xfail audit integration tests
  backend/tests/integration/test_audit_api.py
Due: check-test-mocks, check-test-timeouts

fix: timezone-aware datetime in unit tests
  backend/tests/unit/test_models.py
  backend/tests/unit/test_nemotron_analyzer.py
  backend/tests/unit/test_redis.py
Due: check-test-timeouts

fix: improve DlqMonitor test reliability by waiting for badge render
  frontend/src/components/settings/DlqMonitor.test.tsx
Due: prettier-frontend, eslint, typescript-check

fix: use unique IDs in test_search_api.py for parallel test isolation
  backend/tests/integration/test_search_api.py
Due: check-test-mocks, check-test-timeouts

fix: use timezone-aware DateTime columns for PostgreSQL compatibility
  backend/models/camera.py
  backend/models/log.py
  backend/tests/conftest.py
  backend/tests/unit/test_cleanup_service.py
Due: check-test-timeouts

fix: update test fixtures and skip outdated redis tests
  backend/tests/conftest.py
  backend/tests/unit/test_redis.py
Due: check-test-timeouts

fix(tests): improve DlqMonitor refresh button test reliability
  frontend/src/components/settings/DlqMonitor.test.tsx
Due: prettier-frontend, eslint, typescript-check

fix: integration test isolation and error message assertions
  backend/tests/conftest.py
Due: check-test-timeouts

fix: disable parallel test execution to fix database race conditions
  .github/workflows/ci.yml
Due: none

fix: audit remediation batch 2 - camera contract, CI, nginx, scripts, docs
  .github/workflows/ci.yml
  backend/api/middleware/auth.py
  backend/models/camera.py
  backend/services/file_watcher.py
  backend/tests/unit/test_auth_middleware.py
  frontend/tests/e2e/AGENTS.md
Due: check-test-timeouts

fix: update tests to work with PostgreSQL-only configuration
  .github/workflows/ci.yml
  backend/tests/unit/test_benchmarks.py
  backend/tests/unit/test_models.py
Due: check-test-timeouts

fix: skip unimplemented API integration tests
  backend/tests/integration/test_audit_api.py
  backend/tests/integration/test_search_api.py
Due: check-test-mocks, check-test-timeouts

fix: improve test isolation with raw connection TRUNCATE
  backend/tests/conftest.py
Due: check-test-timeouts

fix(tests): add clean_full_stack fixture to full stack integration tests
  backend/tests/integration/test_full_stack.py
Due: check-test-mocks, check-test-timeouts

perf: optimize FTS migration based on code review
  backend/alembic/versions/20251228_add_fts_search_vector.py
Due: none

feat: add post-MVP features - alerts, zones, audit, search, severity
  backend/alembic/versions/20251228_add_fts_search_vector.py
  backend/alembic/versions/add_alerts_and_alert_rules.py
  backend/alembic/versions/add_zones_table.py
  backend/alembic/versions/audit_logs_table.py
  backend/api/schemas/__init__.py
  backend/core/config.py
  backend/models/__init__.py
  backend/models/camera.py
  backend/models/event.py
  backend/services/alert_engine.py
  backend/services/zone_service.py
  backend/tests/integration/test_audit_api.py
  backend/tests/integration/test_search_api.py
  backend/tests/unit/test_alert_dedup.py
  backend/tests/unit/test_alert_engine.py
  backend/tests/unit/test_alert_models.py
  backend/tests/unit/test_zone_service.py
Due: check-test-mocks, check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
