Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$

docs: comprehensive documentation audit - 15 new guides (NEM-1917) (#2299)
  README.md
  backend/tests/unit/routes/test_system_routes.py
  docs/ROADMAP.md
  docs/WEBSOCKET_CONTRACTS.md
  docs/api-reference/analytics.md
  docs/api-reference/notification-preferences.md
  docs/api-reference/overview.md
  docs/api-reference/services.md
  docs/architecture/resilience.md
  docs/developer-hub.md
  docs/developer/AGENTS.md
  docs/developer/accessibility.md
  docs/developer/backend-patterns.md
  docs/developer/clip-generation.md
  docs/developer/entity-tracking.md
  docs/developer/keyboard-patterns.md
  docs/developer/prompt-management.md
  docs/developer/pwa-implementation.md
  docs/developer/resilience-patterns.md
  docs/developer/ux-patterns.md
  docs/developer/visualization-components.md
  docs/operator-hub.md
  docs/operator/dlq-management.md
  docs/operator/monitoring.md
  docs/operator/prometheus-alerting.md
  docs/operator/scene-change-detection.md
  docs/operator/secrets-management.md
  docs/operator/service-control.md
  docs/reference/api/overview.md
  docs/user-guide/AGENTS.md
  docs/user-guide/accessibility.md
  docs/user-guide/dashboard-customization.md
  docs/user-guide/event-investigation.md
  docs/user-guide/getting-started-tour.md
  docs/user-guide/interface-guide.md
  docs/user-guide/keyboard-shortcuts.md
  docs/user-guide/mobile-pwa.md
  docs/user-guide/prompt-playground.md
  docs/user-hub.md
Due: check-test-timeouts

refactor: consolidate custom exception classes into central module (N… (#2084)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  backend/api/exception_handlers.py
  backend/api/routes/detections.py
  backend/api/routes/prompt_management.py
  backend/api/utils/field_filter.py
  backend/tests/integration/repositories/README.md
  backend/tests/integration/repositories/conftest.py
  backend/tests/integration/repositories/test_base.py
  backend/tests/unit/api/middleware/test_file_validator.py
  backend/tests/unit/api/middleware/test_rate_limit.py
  backend/tests/unit/api/routes/test_ai_audit.py
  backend/tests/unit/api/routes/test_analytics.py
  backend/tests/unit/api/routes/test_cameras.py
  backend/tests/unit/api/routes/test_detections.py
  backend/tests/unit/api/routes/test_entities.py
  backend/tests/unit/api/routes/test_events_routes.py
  backend/tests/unit/api/routes/test_media.py
  backend/tests/unit/api/routes/test_notification_preferences.py
  backend/tests/unit/api/routes/test_system.py
  backend/tests/unit/api/schemas/test_llm.py
  backend/tests/unit/api/test_exception_handlers.py
  backend/tests/unit/core/test_logging_context.py
  backend/tests/unit/models/test_soft_delete.py
  backend/tests/unit/services/test_ai_fallback.py
  backend/tests/unit/services/test_batch_aggregator.py
  backend/tests/unit/services/test_clip_generator.py
  backend/tests/unit/services/test_clip_loader.py
  backend/tests/unit/services/test_container_orchestrator.py
  backend/tests/unit/services/test_context_enricher.py
  frontend/src/components/dashboard/CameraGrid.tsx
  frontend/tailwind.config.js
  frontend/tests/e2e/specs/user-journeys/alert-lifecycle.spec.ts
  frontend/tests/e2e/specs/user-journeys/camera-management.spec.ts
  pyproject.toml
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

feat: 8 parallel agent improvements - test refactoring, exception handlers, helpers, pipeline, cost tracking (#2116)
  backend/api/dependencies.py
  backend/api/exception_handlers.py
  backend/api/routes/ai_audit.py
  backend/api/routes/alerts.py
  backend/api/routes/prompt_management.py
  backend/api/routes/zones.py
  backend/core/metrics.py
  backend/services/__init__.py
  backend/services/cost_tracker.py
  backend/services/nemotron_analyzer.py
  backend/tests/integration/repositories/__init__.py
  backend/tests/integration/repositories/test_camera_repository.py
  backend/tests/integration/repositories/test_detection_repository.py
  backend/tests/integration/repositories/test_event_repository.py
  backend/tests/unit/api/routes/test_ai_audit.py
  backend/tests/unit/api/routes/test_prompt_management.py
  backend/tests/unit/api/test_dependencies.py
  backend/tests/unit/api/test_exception_handlers.py
  backend/tests/unit/repositories/__init__.py
  backend/tests/unit/routes/test_ai_audit_routes.py
  backend/tests/unit/services/test_cost_tracker.py
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/utils/pipeline.test.ts
  frontend/src/utils/pipeline.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

perf: optimize slow tests and fix CI failures (#2115)
  backend/tests/unit/core/test_json_utils.py
  backend/tests/unit/models/test_alert.py
  backend/tests/unit/models/test_audit_log.py
  backend/tests/unit/models/test_event.py
  backend/tests/unit/services/test_file_watcher.py
  frontend/tests/e2e/specs/alerts.spec.ts
  frontend/tests/e2e/specs/dashboard.spec.ts
  frontend/tests/e2e/specs/error-handling.spec.ts
  frontend/tests/e2e/specs/navigation.spec.ts
  scripts/audit-test-durations.py
  vulture_whitelist.py
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix(ci): use valid docker/build-push-action SHA in deploy.yml (#2354)
  .github/workflows/deploy.yml
Due: none

ci: add workflow_dispatch trigger for manual CI runs (#2323)
  .github/workflows/ci.yml
Due: none

fix(db,cache): add scene_changes table, soft delete, and cache invalidation (NEM-1997, NEM-1938) (#2407)
  backend/alembic/versions/add_deleted_at_soft_delete.py
  backend/alembic/versions/create_scene_changes_table.py
  backend/api/routes/events.py
  backend/tests/unit/routes/test_events_cache_invalidation.py
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

chore: regenerate WebSocket types to fix CI
  frontend/src/types/generated/websocket.ts
Due: prettier-frontend, eslint, typescript-check

fix: API alignment - URL mismatches, 201 status codes, WebSocket types (NEM-2078, NEM-2081, NEM-2082)
  .github/workflows/ci.yml
  backend/api/routes/admin.py
  backend/api/routes/events.py
  backend/tests/integration/test_admin_api.py
  backend/tests/unit/api/routes/test_event_clips.py
  backend/tests/unit/api/routes/test_events_routes.py
  backend/tests/unit/routes/test_admin_routes.py
  frontend/src/services/api.ts
  frontend/src/types/api-endpoints.test.ts
  frontend/src/types/api-endpoints.ts
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
  frontend/src/types/generated/websocket.ts
  frontend/src/types/websocket.ts
  scripts/generate-ws-types.py
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

chore: regenerate WebSocket types
  frontend/src/types/generated/websocket.ts
Due: prettier-frontend, eslint, typescript-check

fix: strip trailing whitespace in generate-ws-types.py output
  frontend/src/types/generated/websocket.ts
  scripts/generate-ws-types.py
Due: prettier-frontend, eslint, typescript-check

fix: API alignment - URL mismatches, 201 status codes, WebSocket types (NEM-2078, NEM-2081, NEM-2082) (#2411)
  .github/workflows/ci.yml
  backend/api/routes/admin.py
  backend/api/routes/events.py
  backend/tests/integration/test_admin_api.py
  backend/tests/unit/api/routes/test_event_clips.py
  backend/tests/unit/api/routes/test_events_routes.py
  backend/tests/unit/routes/test_admin_routes.py
  frontend/src/services/api.ts
  frontend/src/types/api-endpoints.test.ts
  frontend/src/types/api-endpoints.ts
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
  frontend/src/types/generated/websocket.ts
  frontend/src/types/websocket.ts
  scripts/generate-ws-types.py
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

feat: add comprehensive E2E tests for event detail modal (NEM-2059)
  frontend/tests/e2e/specs/event-detail.spec.ts
Due: prettier-frontend, eslint, typescript-check

test: add integration and E2E tests for 6 testing issues
  backend/tests/integration/api/__init__.py
  backend/tests/integration/api/routes/test_camera_cache_invalidation.py
  backend/tests/integration/api/test_cursor_pagination.py
  backend/tests/integration/database/AGENTS.md
  backend/tests/integration/database/__init__.py
  backend/tests/integration/database/test_isolation_levels.py
  backend/tests/integration/websocket/test_broadcast_triggers.py
  frontend/tests/e2e/specs/realtime-updates.spec.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

test: Wave 3 integration tests - 150 new tests across 5 domains
  backend/tests/integration/test_config_validation.py
  backend/tests/integration/test_idempotency.py
  backend/tests/integration/test_memory_leaks.py
  backend/tests/integration/test_rfc7807_problem_details.py
  backend/tests/integration/test_shutdown_sequence.py
Due: check-test-mocks, check-test-timeouts

fix: API standards - auto-redaction, status constants, OpenAPI spec (NEM-2141, NEM-2083, NEM-2073)
  .github/workflows/ci.yml
  .secrets.baseline
  backend/api/dependencies.py
  backend/api/middleware/auth.py
  backend/api/middleware/body_limit.py
  backend/api/middleware/content_type_validator.py
  backend/api/routes/debug.py
  backend/api/routes/dlq.py
  backend/api/routes/media.py
  backend/api/routes/system.py
  backend/api/schemas/errors.py
  backend/core/config.py
  backend/main.py
  backend/tests/unit/core/test_config_repr_redaction.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
  scripts/generate-openapi.py
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

chore: regenerate OpenAPI spec after rebase
  .secrets.baseline
  docs/openapi.json
Due: none

fix: API standards - auto-redaction, status constants, OpenAPI spec (NEM-2141, NEM-2083, NEM-2073) (#2417)
  .github/workflows/ci.yml
  .secrets.baseline
  backend/api/dependencies.py
  backend/api/middleware/auth.py
  backend/api/middleware/body_limit.py
  backend/api/middleware/content_type_validator.py
  backend/api/routes/debug.py
  backend/api/routes/dlq.py
  backend/api/routes/media.py
  backend/api/routes/system.py
  backend/api/schemas/errors.py
  backend/core/config.py
  backend/main.py
  backend/tests/unit/core/test_config_repr_redaction.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
  scripts/generate-openapi.py
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: add missing pytest fixtures to Vulture whitelist (NEM-2142)
  vulture_whitelist.py
Due: none

fix: API standards - auto-redaction, status constants, OpenAPI spec (NEM-2141, NEM-2083, NEM-2073)
  .secrets.baseline
  docs/openapi.json
Due: none

chore: regenerate OpenAPI spec after rebase
  .secrets.baseline
Due: none

fix: change return types from dict to Pydantic models (NEM-2074)
  backend/api/routes/admin.py
  backend/api/routes/alerts.py
  backend/api/routes/detections.py
  backend/api/routes/events.py
  docs/openapi.json
Due: none

test: add integration tests for soft delete behavior (NEM-1958)
  backend/tests/integration/api/routes/TEST_SOFT_DELETE_SUMMARY.md
  backend/tests/integration/api/routes/test_soft_delete.py
Due: check-test-mocks, check-test-timeouts

feat: implement soft delete pattern with cascade and restore
  backend/alembic/versions/add_detections_deleted_at_cascade.py
  backend/api/dependencies.py
  backend/api/routes/cameras.py
  backend/api/routes/events.py
  backend/api/schemas/restore.py
  backend/models/audit.py
  backend/models/detection.py
  backend/repositories/base.py
  backend/repositories/camera_repository.py
  backend/repositories/event_repository.py
  backend/services/cascade_delete.py
  backend/tests/conftest.py
  backend/tests/integration/conftest.py
  backend/tests/unit/api/routes/test_cameras.py
  backend/tests/unit/api/routes/test_restore_endpoints.py
  backend/tests/unit/models/test_audit_log.py
  backend/tests/unit/routes/test_cameras_routes.py
  backend/tests/unit/services/test_cascade_delete.py
  frontend/src/App.tsx
  frontend/src/components/layout/Sidebar.test.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/trash/AGENTS.md
  frontend/src/components/trash/TrashPage.test.tsx
  frontend/src/components/trash/TrashPage.tsx
  frontend/src/components/trash/index.ts
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

feat: 6 parallel agent improvements - soft-delete filtering, cache headers, compression, and docs
  .secrets.baseline
  backend/api/dependencies.py
  backend/api/routes/alerts.py
  backend/api/routes/cameras.py
  backend/api/routes/detections.py
  backend/api/routes/events.py
  backend/api/routes/system.py
  backend/api/routes/zones.py
  backend/api/utils/__init__.py
  backend/api/utils/cache_headers.py
  backend/main.py
  backend/services/search.py
  backend/tests/unit/api/middleware/test_compression.py
  backend/tests/unit/api/routes/test_cameras.py
  backend/tests/unit/api/routes/test_events_routes.py
  docs/DI_PATTERNS.md
  docs/openapi.json
  pyproject.toml
  uv.lock
Due: check-test-timeouts

docs: add Linear auto-close keywords guidance to CLAUDE.md
  CLAUDE.md
Due: none

fix: Return Pydantic models instead of dicts in API endpoints (NEM-2074)
  backend/api/routes/audit.py
  backend/api/routes/cameras.py
  backend/api/routes/entities.py
  backend/api/routes/logs.py
  backend/api/routes/zones.py
Due: none

fix: update tests to use Pydantic model attribute access (NEM-2074)
  backend/tests/unit/api/routes/test_cameras.py
  backend/tests/unit/api/routes/test_entities.py
  backend/tests/unit/routes/test_logs_routes.py
Due: check-test-timeouts

fix: properly configure mock Log objects with all required fields
  backend/tests/unit/routes/test_logs_routes.py
Due: check-test-timeouts
