Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

generate-api-types:
  name: Generate TypeScript API Types
  entry: bash -c './scripts/generate-types.sh && git add frontend/src/types/generated/api.ts'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv lock file is up-to-date
  entry: bash -c 'cd "$0" && uv lock --check' .
  language: system
  pass_filenames: false

npm-install-check:
  name: Check npm dependencies are installed
  entry: bash -c 'cd frontend && npm ci --prefer-offline --no-audit --dry-run'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-validation-drift:
  name: Check validation drift (Pydantic/Zod)
  entry: python3 scripts/check-validation-drift.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

fix(ci): remove ai-services-tests job with incompatible imports
  .github/workflows/ci.yml
Due: none

feat(ai): implement object tracking with BoT-SORT and trajectory storage (NEM-3707, NEM-3708)
  ai/yolo26/model.py
  backend/alembic/versions/0007_add_track_id_to_detections.py
  backend/alembic/versions/0008_add_tracks_table.py
  backend/api/routes/__init__.py
  backend/api/routes/tracks.py
  backend/api/schemas/__init__.py
  backend/api/schemas/detections.py
  backend/api/schemas/track.py
  backend/main.py
  backend/models/__init__.py
  backend/models/camera.py
  backend/models/detection.py
  backend/models/track.py
  backend/services/__init__.py
  backend/services/track_service.py
  backend/tests/integration/test_tracks.py
  backend/tests/unit/services/test_track_service.py
  config/botsort.yaml
  config/bytetrack.yaml
  docs/openapi.json
  frontend/bun.lock
  frontend/src/types/generated/api.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

feat(ai): complete YOLO26 epic remaining tasks (NEM-3689, NEM-3694, NEM-3697, NEM-3698, NEM-3705)
  .github/workflows/ci.yml
Due: none

feat(analytics): implement video analytics with Supervision library (NEM-3709, NEM-3711, NEM-3712, NEM-3713)
  ai/enrichment/__init__.py
  ai/enrichment/heatmap_generator.py
  ai/enrichment/line_zone_processor.py
  ai/enrichment/loitering_detector.py
  ai/enrichment/polygon_zone_processor.py
  backend/alembic/versions/0009_add_analytics_zones.py
  backend/alembic/versions/0010_add_dwell_time_records.py
  backend/alembic/versions/0011_add_heatmap_data.py
  backend/api/routes/__init__.py
  backend/api/routes/analytics_zones.py
  backend/api/routes/heatmaps.py
  backend/api/schemas/__init__.py
  backend/api/schemas/analytics_zone.py
  backend/api/schemas/dwell_time.py
  backend/api/schemas/heatmap.py
  backend/main.py
  backend/models/__init__.py
  backend/models/analytics_zone.py
  backend/models/camera.py
  backend/models/dwell_time.py
  backend/models/heatmap.py
  backend/services/__init__.py
  backend/services/dwell_time_service.py
  backend/services/heatmap_service.py
  backend/services/line_zone_service.py
  backend/services/polygon_zone_service.py
  backend/tests/integration/test_analytics_zones.py
  backend/tests/integration/test_dwell_time_service.py
  backend/tests/integration/test_heatmap_service.py
  backend/tests/integration/test_heatmaps.py
  backend/tests/integration/test_line_zone_service.py
  backend/tests/integration/test_polygon_zone_service.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
  pyproject.toml
  uv.lock
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

feat(ai): implement action recognition, face recognition, and enhanced ALPR (NEM-3714, NEM-3716, NEM-3717, NEM-3718)
  ai/enrichment/models/__init__.py
  ai/enrichment/models/face_recognizer.py
  ai/enrichment/models/plate_ocr.py
  backend/alembic/versions/0012_add_action_events.py
  backend/alembic/versions/0013_add_face_recognition.py
  backend/alembic/versions/0014_add_plate_reads.py
  backend/api/routes/__init__.py
  backend/api/routes/action_events.py
  backend/api/routes/face_recognition.py
  backend/api/routes/plate_reads.py
  backend/api/schemas/__init__.py
  backend/api/schemas/action_event.py
  backend/api/schemas/face_recognition.py
  backend/api/schemas/plate_read.py
  backend/main.py
  backend/models/__init__.py
  backend/models/action_event.py
  backend/models/camera.py
  backend/models/face_identity.py
  backend/models/plate_read.py
  backend/models/track.py
  backend/services/action_recognition_service.py
  backend/services/alpr_service.py
  backend/services/face_recognition_service.py
  backend/tests/integration/test_action_events.py
  backend/tests/integration/test_action_recognition_service.py
  backend/tests/integration/test_alpr_service.py
  backend/tests/integration/test_face_recognition.py
  backend/tests/integration/test_face_recognition_service.py
  backend/tests/integration/test_plate_reads.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
  pyproject.toml
  uv.lock
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

feat(ai): enable TensorRT for pose and threat detection
  docker-compose.prod.yml
Due: none

feat(ai): optimize GPU distribution and enable YOLO26 default
  docker-compose.prod.yml
Due: none

refactor(backend): remove RT-DETR support, YOLO26 is now the only detector
  backend/services/detector_client.py
Due: check-integration-tests

fix(types): resolve mypy errors in polygon_zone_processor and demographics
  .secrets.baseline
  ai/enrichment/models/demographics.py
  ai/enrichment/polygon_zone_processor.py
Due: none

docs: remove RT-DETR references, YOLO26 is now the only detector
  ai/AGENTS.md
  docs/benchmarks/yolo26-benchmarks.md
Due: none

feat(ai): enable CLIP TensorRT with auto-export on first run
  docker-compose.prod.yml
  docker-compose.staging.yml
Due: none

fix(ai): update CLIP TensorRT config in staging
  docker-compose.staging.yml
Due: none

test(backend): update tests for YOLO26-only detection
  backend/tests/unit/api/routes/test_health_ai_services.py
  backend/tests/unit/core/test_config_validation.py
Due: check-test-timeouts

feat(gpu): move YOLO26 to GPU 1 for multi-GPU distribution
  docker-compose.prod.yml
Due: none

fix(ai): resolve CLIP TensorRT deployment issues
  docker-compose.prod.yml
Due: none

perf(ai): optimize GPU memory distribution
  ai/enrichment-light/Dockerfile
  docker-compose.prod.yml
Due: none

fix(ai): correct method names for pose/threat in enrichment-light API
  ai/enrichment-light/model.py
Due: none

feat(ai): enable TensorRT acceleration for enrichment-light pose/threat models
  ai/enrichment-light/Dockerfile
  ai/enrichment-light/models/pose_estimator.py
  ai/enrichment-light/models/threat_detector.py
  ai/enrichment-light/requirements.txt
  docker-compose.prod.yml
Due: none

fix: replace RT-DETR references with YOLO26 for mypy compliance
  backend/services/detector_client.py
Due: check-integration-tests

feat(ai): enable model preloading for enrichment-heavy service
  docker-compose.prod.yml
Due: none

chore(frontend): add @msgpack/msgpack dependency
  frontend/package-lock.json
Due: npm-install-check

feat(ai): add config-driven enrichment model routing
  ai/enrichment-light/Dockerfile
  ai/enrichment-light/model.py
  ai/enrichment-light/models/pose_estimator.py
  ai/enrichment-light/models/threat_detector.py
  ai/enrichment-light/requirements.txt
  docker-compose.prod.yml
Due: none

fix: complete RT-DETR to YOLO26 migration in tests and services
  backend/tests/unit/api/routes/test_health_full.py
  backend/tests/unit/api/schemas/__snapshots__/test_response_schema_snapshots.ambr
  backend/tests/unit/routes/test_system_routes.py
  backend/tests/unit/services/test_gpu_monitor.py
  backend/tests/unit/services/test_performance_collector.py
  backend/tests/unit/test_main.py
Due: check-test-timeouts

refactor(backend/services): complete RT-DETR to YOLO26 migration
  backend/services/AGENTS.md
  backend/services/container_discovery.py
  backend/services/detector_client.py
Due: check-integration-tests

refactor(backend/core): complete RT-DETR to YOLO26 migration
  backend/core/AGENTS.md
  backend/core/__init__.py
Due: none

docs: complete RT-DETR to YOLO26 migration
  backend/core/AGENTS.md
  backend/core/__init__.py
  backend/core/config.py
  backend/core/exceptions.py
  backend/core/logging.py
  backend/core/metrics.py
  backend/core/otel_metrics.py
  backend/core/protocols.py
  backend/core/sanitization.py
  backend/core/telemetry.py
  backend/core/telemetry_ai_conventions.py
  backend/core/websocket/event_schemas.py
Due: none

refactor: complete RT-DETR to YOLO26 migration in scripts/monitoring/frontend
  backend/api/schemas/AGENTS.md
  backend/api/schemas/health.py
  backend/api/schemas/settings_api.py
  backend/api/schemas/system.py
  backend/models/AGENTS.md
  docker-compose.prod.yml
  monitoring/AGENTS.md
  scripts/AI_STARTUP_README.md
  scripts/benchmark_yolo26_accuracy.py
  scripts/benchmark_yolo26_container.py
  scripts/benchmark_yolo26_gpu.py
  scripts/benchmark_yolo26_latency.py
Due: generate-openapi, generate-api-types, check-validation-drift

refactor(backend/core): complete RT-DETR to YOLO26 migration
  backend/core/__init__.py
Due: none

refactor: complete RT-DETR to YOLO26 migration in .github
  backend/core/AGENTS.md
  backend/core/__init__.py
  backend/core/config.py
  backend/core/exceptions.py
  backend/core/logging.py
  backend/core/metrics.py
  backend/core/otel_metrics.py
  backend/core/protocols.py
  backend/core/sanitization.py
  backend/core/telemetry.py
  backend/core/telemetry_ai_conventions.py
  backend/core/websocket/event_schemas.py
Due: none

refactor: complete RT-DETR to YOLO26 migration - final cleanup
  ai/AGENTS.md
  docs/openapi.json
Due: none

docs: complete RT-DETR to YOLO26 migration
  backend/tests/unit/api/routes/test_health_ai_services.py
  backend/tests/unit/api/routes/test_health_full.py
  backend/tests/unit/core/test_config_validation.py
  backend/tests/unit/routes/test_system_routes.py
  backend/tests/unit/services/test_gpu_monitor.py
  backend/tests/unit/services/test_performance_collector.py
  backend/tests/unit/test_main.py
  docs/architecture/data-model/auxiliary-tables.md
  docs/architecture/dataflows/README.md
  docs/architecture/dataflows/error-recovery-flow.md
  docs/architecture/dataflows/image-to-event.md
  docs/benchmarks/yolo26-benchmarks.md
  docs/openapi.json
Due: check-test-timeouts

test: regenerate schema snapshots
  backend/tests/unit/api/schemas/__snapshots__/test_response_schema_snapshots.ambr
Due: none

test: regenerate all schema snapshots
  .secrets.baseline
  backend/tests/unit/api/schemas/__snapshots__/test_response_schema_snapshots.ambr
Due: none

fix: update display name YOLO26v2 -> YOLO26 and regenerate snapshots
  .secrets.baseline
  backend/services/container_discovery.py
  backend/tests/unit/api/schemas/__snapshots__/test_response_schema_snapshots.ambr
Due: check-integration-tests

fix: exclude .ambr files from trailing-whitespace check and regenerate snapshots
  backend/tests/unit/api/schemas/__snapshots__/test_response_schema_snapshots.ambr
Due: none

feat(deployment): add GPU memory limits per container (NEM-3803)
  ai/nemotron/Dockerfile.hf
  ai/nemotron/README.md
  docker-compose.prod.yml
  docs/deployment/gpu-memory-limits.md
  docs/development/buildkit-secrets.md
  docs/development/nemotron-buildkit-secrets.md
Due: none

feat: implement shared base image for Python services (NEM-3804)
  .github/workflows/build-base-image.yml
  ai/clip/Dockerfile
  ai/enrichment-light/Dockerfile
  ai/enrichment/Dockerfile
  ai/florence/Dockerfile
  ai/yolo26/Dockerfile
  backend/Dockerfile
  docker-compose.prod.yml
  docker/base.Dockerfile
  docs/deployment/gpu-memory-limits.md
  docs/openapi.json
  frontend/src/types/generated/api.ts
  requirements-base.txt
Due: prettier-frontend, eslint, typescript-check

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
