Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

fix(ci): use version tags for Docker actions in preview-deploy
  .github/workflows/preview-deploy.yml
Due: none

fix(test): fix clothing extraction and timing test failures
  backend/api/routes/detections.py
  backend/tests/unit/services/test_degradation_manager.py
Due: check-test-timeouts

fix(ci): resolve CI/CD workflow failures
  .github/workflows/ai-code-review.yml
  .github/workflows/api-compatibility.yml
  .github/workflows/preview-deploy.yml
  backend/services/audit.py
Due: none

fix(test): use vi.stubGlobal for fetch mock isolation in useAIMetrics tests
  frontend/src/hooks/useAIMetrics.test.ts
Due: prettier-frontend, eslint, typescript-check

fix: handle generic exceptions in audit service LLM calls
  backend/services/audit_service.py
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: resolve TypeScript and ESLint errors in frontend
  frontend/eslint.config.mjs
  frontend/src/components/system/ServicesPanel.test.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check

fix: update audit service test to match new error message format
  backend/tests/unit/services/test_audit_service.py
Due: check-test-timeouts

fix: resolve CI failures - ServiceStatus naming, test bounds, E2E timeout
  backend/api/routes/services.py
  backend/api/schemas/__init__.py
  backend/api/schemas/services.py
  backend/api/schemas/websocket.py
  backend/services/AGENTS.md
  backend/services/__init__.py
  backend/services/container_orchestrator.py
  backend/services/degradation_manager.py
  backend/services/health_monitor_orchestrator.py
  backend/services/lifecycle_manager.py
  backend/services/service_registry.py
  backend/tests/chaos/test_database_failures.py
  backend/tests/chaos/test_redis_failures.py
  backend/tests/integration/test_events_api.py
  backend/tests/integration/test_orchestrator_integration.py
  backend/tests/unit/api/routes/test_services.py
  backend/tests/unit/api/schemas/test_services.py
  backend/tests/unit/core/test_websocket_validation.py
  backend/tests/unit/services/test_container_orchestrator.py
  backend/tests/unit/services/test_degradation_manager.py
  backend/tests/unit/services/test_health_monitor_orchestrator.py
  backend/tests/unit/services/test_lifecycle_manager.py
  backend/tests/unit/services/test_service_registry.py
  backend/tests/unit/services/test_service_status_events.py
  frontend/src/components/system/ServicesPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/hooks/useHealthStatus.ts
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
  frontend/tests/e2e/specs/navigation.spec.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

feat(testing): comprehensive testing improvements from GPT-5 feedback
  .github/workflows/trivy.yml
  backend/tests/integration/conftest.py
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, check-test-mocks, check-test-timeouts

feat(testing): complete Backend Testing & Code Quality epic (NEM-1400)
  .github/workflows/ci.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/trivy.yml
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix(ci): resolve CI/CD workflow failures
  .github/workflows/preview-deploy.yml
Due: none

fix: resolve merge conflicts and test failures for PR #1564
  backend/tests/integration/conftest.py
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: handle generic exceptions in audit service LLM calls
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

chore: regenerate API types and fix type exports
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: regenerate API types with correct ServiceStatus schema names
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: make OpenAPI type generation deterministic with sort_keys=True
  frontend/src/types/generated/api.ts
  scripts/generate-types.sh
Due: prettier-frontend, eslint, typescript-check

fix: rename conflicting ServiceStatus types to unique names
  backend/api/routes/system.py
  backend/api/schemas/system.py
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: update ServiceStatus references to HealthCheckServiceStatus after rename
  backend/tests/unit/routes/test_system_routes.py
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

chore: codebase cleanup and merge work2 branch (#1586)
  .gitignore
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/data/thumbnails/.gitkeep
  backend/tests/DATABASE_TEST_FIXES.md
  backend/tests/WEBSOCKET_TEST_SUMMARY.md
  backend/tests/e2e/TEST_SUMMARY.md
  backend/tests/unit/routes/test_system_routes.py
  backend/tests/unit/test_websocket_README.md
  docs/DOCKER_VERIFICATION_SUMMARY.md
  docs/LINK_AUDIT.md
  docs/api-reference/ai-audit.md
  docs/api-reference/events.md
  docs/api-reference/model-zoo.md
  docs/architecture/resilience.md
  docs/architecture/system-page-pipeline-visualization.md
  docs/user-hub.md
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
  frontend/tsconfig.node.tsbuildinfo
  postgresql+asyncpg:/security:security_dev_password@localhost:5432/foscam/front_door/a.jpg
  postgresql+asyncpg:/security:security_dev_password@localhost:5432/foscam/front_door/b.jpg
  scripts/generate-types.sh
  secrets/.gitkeep
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: implement async Python patterns improvements (NEM-1500)
  backend/core/async_utils.py
  backend/core/config.py
  backend/services/detector_client.py
  backend/services/gpu_monitor.py
  backend/tests/unit/core/test_async_utils.py
  backend/tests/unit/services/test_detector_client.py
  backend/tests/unit/services/test_gpu_monitor.py
Due: check-test-timeouts

feat(security): add HSTS header and enhance CSP policy (NEM-1544)
  backend/api/middleware/security_headers.py
  backend/tests/unit/core/test_security_headers.py
Due: check-test-timeouts

feat(types): add discriminated union types for WebSocket messages (NEM-1532)
  frontend/src/types/websocket.test.ts
  frontend/src/types/websocket.ts
Due: prettier-frontend, eslint, typescript-check

feat(docker): harden Dockerfiles with security best practices (NEM-1543)
  ai/clip/Dockerfile
  ai/enrichment/Dockerfile
  ai/florence/Dockerfile
  ai/nemotron/Dockerfile
  ai/rtdetr/Dockerfile
  backend/Dockerfile
  frontend/Dockerfile
  vsftpd/Dockerfile
Due: none

feat(utils): add type guard utilities for runtime validation (NEM-1534)
  frontend/src/types/constants.test.ts
  frontend/src/types/constants.ts
  frontend/src/utils/index.ts
  frontend/src/utils/typeGuards.test.ts
  frontend/src/utils/typeGuards.ts
Due: prettier-frontend, eslint, typescript-check

feat(types): add branded types for entity IDs (NEM-1530)
  frontend/src/types/branded.test.ts
  frontend/src/types/branded.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check

feat(types): add AsyncState discriminated union for async operations (NEM-1545)
  frontend/src/hooks/useAsyncData.ts
  frontend/src/types/async-state.test.ts
  frontend/src/types/async-state.ts
Due: prettier-frontend, eslint, typescript-check

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
