Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$

W1.3: remove dead_reference_allowlist: zero tolerance, exit 2 on key
  .agents-md-validator.yml
  scripts/AGENTS.md
  scripts/agents_md_validator.py
  scripts/test_agents_md_validator.py
Due: none

W1.3: banner the six largest inventories as unmaintained until W3.2
  backend/api/routes/AGENTS.md
  backend/api/schemas/AGENTS.md
  backend/core/AGENTS.md
  backend/models/AGENTS.md
  backend/services/AGENTS.md
  frontend/src/hooks/AGENTS.md
Due: prettier-frontend

W1.3: routed intake fixes (c/e/f) from the #6884 ledger and review
  AGENTS.md
  ai/AGENTS.md
  data/AGENTS.md
  docs/operator/admin/README.md
  docs/operator/ai-tls.md
  docs/reference/models.md
  llms.txt
Due: none

W1.3: drain the 13 allowlisted dead references, keep the knowledge
  .github/AGENTS.md
  .github/codeql/custom-queries/AGENTS.md
  ai/common/AGENTS.md
  ai/common/tests/AGENTS.md
  ai/triton/AGENTS.md
  docs/AGENTS.md
  docs/architecture/AGENTS.md
  docs/images/AGENTS.md
  synthbench/AGENTS.md
  synthbench/clips/AGENTS.md
  tests/AGENTS.md
Due: none

W1.3 bookkeeping: status row done #6915
  docs/uplevel/README.md
Due: none

feat(uplevel): B1.4 real-tier test-deployment harness (ruling 22)
  scripts/uplevel-real-tier/README.md
  scripts/uplevel-real-tier/docker-compose.b14-real.yml
  scripts/uplevel-real-tier/render-test-compose.sh
  scripts/uplevel-real-tier/vlm-mock.mjs
  scripts/uplevel-real-tier/vlm-proxy.mjs
Due: none

uplevel(B1.4): row to done — real tier posted on #6886 (6071672778)
  docs/uplevel/README.md
Due: none

docs(uplevel): the queue runs oldest-ready first; update-branch via the API
  docs/uplevel/50-coordination.md
Due: none

fix(ci): pass the two checks 51d908d6 failed — enroll the compose file honestly
  .pre-commit-config.yaml
  backend/tests/security/test_docker_compose_security.py
  scripts/uplevel-real-tier/README.md
  scripts/uplevel-real-tier/docker-compose.b14-real.yml
Due: check-test-timeouts

fix(ci): re-point the two suppression ids my enrollment shifted by +1
  .github/suppression-registry.yml
Due: none

fix(hooks): one prettier for the repo — unify the pin, name formatting findings (ruling 24)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/gen-ai-contract.py
  scripts/test_gen_ai_contract.py
  scripts/test_precommit_config.py
Due: none

chore(ruling24): refresh secret-baseline for the sweep's line drift and baseline recipes.json checksums
  .secrets.baseline
Due: none

chore(ruling24): take the hook's own baseline rewrite — models.yml:116 was stale at main
  .secrets.baseline
Due: none

fix(ruling24c): name the violator class honestly — hook rewrite, not formatter
  .github/workflows/ci.yml
Due: none

W1.3: fix 3 review findings (profiles scope, pose clause, dead comment)
  ai/triton/AGENTS.md
  data/AGENTS.md
  scripts/agents_md_validator.py
Due: none

docs(cites): re-aim 60 cites that B1.5 shifted in config.py, main.py
  backend/tests/unit/services/test_vlm_client.py
  docs/architecture/ai-orchestration/README.md
  docs/architecture/ai-orchestration/fallback-strategies.md
  docs/architecture/dataflows/error-recovery-flow.md
  docs/architecture/dataflows/image-to-event.md
  docs/architecture/dataflows/llm-analysis-flow.md
  docs/architecture/detection-pipeline/analysis-queue.md
  docs/architecture/system-overview/configuration.md
  docs/developer/llm-inference-optimization.md
  docs/developer/risk-analysis.md
Due: check-test-timeouts

chore(ruling24): converge the merged baseline — union of main's regen and this branch's delta
  .secrets.baseline
Due: none

uplevel(B2.1): move the interface bar to the patterns doc
  backend/tests/mutation/accepted_survivors.toml
  backend/tests/unit/test_accepted_survivors.py
  docs/developer/patterns/mutation-testing.md
  docs/uplevel/01-mutation-policy.md
  docs/uplevel/README.md
Due: check-test-timeouts

uplevel(B2.1): status row done #6921
  docs/uplevel/README.md
Due: none

feat(agents-md): W2.1 boundary list and per-tier line caps
  .agents-md-validator.yml
  scripts/agents_md_validator.py
  scripts/test_agents_md_validator.py
Due: none

docs(agents-md): give the AGENTS.md standard one home
  docs/developer/agents-md-standard.md
  docs/uplevel/40-docs.md
  mkdocs.yml
Due: none

docs(uplevel): doc-sync W2.1; flip its status row to done
  docs/uplevel/README.md
  scripts/AGENTS.md
Due: none

fix(agents-md): re-measure the W2.1 threshold evidence in the test
  .agents-md-validator.yml
  scripts/test_agents_md_validator.py
Due: none

test(F1.3): 401 routes to login; WS carries the credential
  backend/tests/unit/core/test_nginx_credential_forwarding.py
  frontend/src/components/auth/ProtectedRoute.auth-gate.test.tsx
  frontend/src/hooks/webSocketManager.auth.test.ts
  frontend/src/services/api.auth-seam.test.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

docs(F1.3): refresh the endpoint-truth snapshot and hooks docs
  docs/uplevel/README.md
  frontend/src/__tests__/api-endpoint-contract.test.ts
  frontend/src/components/dashboard/SummaryCardsIntegration.test.tsx
  frontend/src/hooks/AGENTS.md
  frontend/src/hooks/__tests__/useSummaries.test.ts
Due: prettier-frontend, eslint, typescript-check

fix(F1.3): login gate follows backend; credential rides along
  frontend/docker-entrypoint.sh
  frontend/src/components/auth/ProtectedRoute.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useAlertWebSocket.ts
  frontend/src/hooks/useEventLifecycleWebSocket.ts
  frontend/src/hooks/usePlateReadWebSocket.ts
  frontend/src/hooks/useRecentThreats.ts
  frontend/src/hooks/useSummaries.ts
  frontend/src/hooks/useUnknownStrangerAlerts.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/hooks/webSocketManager.ts
  frontend/src/services/api.ts
  frontend/src/services/authApi.ts
Due: prettier-frontend, eslint, typescript-check

chore(F1.3): refresh secret-baseline line numbers this PR shifted
  .secrets.baseline
Due: none

docs(agents-md): state what the line-cap arm cannot see
  docs/developer/agents-md-standard.md
Due: none

uplevel(B2.1): self-review round — prose context, real teeth
  backend/tests/unit/test_accepted_survivors.py
  docs/developer/patterns/mutation-testing.md
  docs/uplevel/01-mutation-policy.md
  docs/uplevel/templates/feature-design.md
Due: check-test-timeouts

uplevel(B2.1): patterns AGENTS.md topics + honest docstring
  backend/tests/unit/test_accepted_survivors.py
  docs/developer/patterns/AGENTS.md
Due: check-test-timeouts

docs(uplevel): W2.2 the three docs rulings, rows first
  docs/uplevel/r2-sheet.md
Due: none

test(F1.3): wire the 401 chain end-to-end; stale docs, SSL guard
  .secrets.baseline
  backend/tests/unit/core/test_nginx_credential_forwarding.py
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/hooks/webSocketManager.ts
  frontend/src/services/AGENTS.md
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat(uplevel): F1.3 Done-when stack harness in the repo (rule 3)
  scripts/uplevel-f13-done-when/README.md
  scripts/uplevel-f13-done-when/backend-overlay.Dockerfile
  scripts/uplevel-f13-done-when/docker-compose.f13-expose-true.yml
  scripts/uplevel-f13-done-when/docker-compose.f13-stack.yml
  scripts/uplevel-f13-done-when/ui-drive.cjs
  scripts/uplevel-f13-done-when/ws-probe.cjs
Due: none

docs(agents-md): state what the over-cap set cannot see
  docs/developer/agents-md-standard.md
Due: none

test(agents-md): pin the tier and threshold claims, not import them
  scripts/test_agents_md_validator.py
Due: none

test(F1.3): unit tests for the two rewired WS hooks (coverage gate)
  frontend/src/hooks/useEventLifecycleWebSocket.test.tsx
  frontend/src/hooks/useRecentThreats.test.ts
Due: prettier-frontend, eslint, typescript-check
