Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

generate-api-types:
  name: Generate TypeScript API Types
  entry: bash -c './scripts/generate-types.sh && git add frontend/src/types/generated/api.ts'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv lock file is up-to-date
  entry: bash -c 'cd "$0" && uv lock --check' .
  language: system
  pass_filenames: false

npm-install-check:
  name: Check npm dependencies are installed
  entry: bash -c 'cd frontend && npm ci --prefer-offline --no-audit --dry-run'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-validation-drift:
  name: Check validation drift (Pydantic/Zod)
  entry: python3 scripts/check-validation-drift.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

docs(uplevel): O1.9's row reads done — Deploy is green
  docs/uplevel/README.md
Due: none

docs(uplevel): the merge queue's owner rulings from 2026-10-08
  docs/uplevel/50-coordination.md
Due: none

fix(B1.4): correct the 15 s cache and 3-failure breaker in prose
  backend/services/AGENTS.md
  backend/services/verdict_engine_status.py
  backend/tests/integration/test_verdict_engine_readiness.py
  backend/tests/unit/services/test_verdict_engine_status.py
  docs/operator/monitoring/README.md
Due: check-test-mocks, check-test-timeouts, check-integration-tests

docs(B1.4): re-point the stale bare system.py cites at head
  docs/architecture/background-services/gpu-monitor.md
  docs/architecture/background-services/retention-cleanup.md
  docs/architecture/data-model.md
Due: none

fix(B1.1): finish the per-read idle budget sweep, nine sites
  backend/services/vlm_client.py
  docs/architecture/system-overview/configuration.md
  docs/developer/pipeline-overview.md
  docs/operator/ai-configuration.md
  docs/operator/deployment-modes.md
  docs/reference/README.md
  docs/reference/config/env-reference.md
  docs/vss-integration/17-action-plan.md
  scripts/vlm_probes/latency_tail.py
Due: check-integration-tests

docs(B1.1): name the answered-status class the retry header omitted
  .env.example
  backend/services/AGENTS.md
  backend/services/vlm_client.py
  docs/architecture/dataflows/image-to-event.md
  docs/architecture/dataflows/llm-analysis-flow.md
  docs/architecture/detection-pipeline/analysis-queue.md
  docs/architecture/detection-pipeline/critical-paths.md
  docs/developer/llm-inference-optimization.md
  docs/operator/admin/README.md
  docs/reference/config/env-reference.md
  docs/reference/troubleshooting/connection-issues.md
  scripts/vlm_probes/latency_tail.py
Due: check-integration-tests

docs(B1.1): re-point every stale cite in the touched set from head
  docs/architecture/ai-orchestration/README.md
  docs/architecture/decisions.md
  docs/architecture/detection-pipeline/critical-paths.md
  docs/architecture/system-overview/configuration.md
  docs/architecture/system-overview/deployment-topology.md
  docs/developer/llm-inference-optimization.md
  docs/developer/risk-analysis.md
  docs/reference/config/env-reference.md
  docs/reference/nvidia-technology-inventory.md
Due: none

style(B1.1): prettier 3.9.9 table alignment for the swapped cells
  docs/architecture/dataflows/llm-analysis-flow.md
  docs/developer/pipeline-overview.md
  docs/operator/ai-configuration.md
  docs/reference/README.md
  docs/reference/config/env-reference.md
  docs/vss-integration/17-action-plan.md
Due: none

docs(uplevel): settle the #6864 prose these lines still deferred to
  scripts/uplevel/AGENTS.md
  scripts/uplevel/sandboxes.toml
Due: none

fix(uplevel): normalize the mount source the gpu guard compares
  backend/tests/unit/scripts/test_uplevel_launch.py
  scripts/uplevel/launch.py
Due: check-test-timeouts

fix(tests): mark the download-models bash -n spawn as a real process
  backend/tests/unit/setup_lib/test_download_models_script_vlm_retirement.py
Due: check-test-timeouts

fix(ops): retire the ghcr install path (UR-17, O1.2)
  .env.example
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  AGENTS.md
  backend/services/container_discovery.py
  backend/tests/security/test_docker_compose_security.py
  backend/tests/unit/core/test_camera_timezone_compose.py
  backend/tests/unit/scripts/test_a5500_precheck.py
  backend/tests/unit/scripts/test_ci_compose_cap_drop_bootable.py
  backend/tests/unit/scripts/test_deploy_publishes_latest_after_smoke.py
  backend/tests/unit/scripts/test_main_green_residue.py
  backend/tests/unit/setup_lib/test_deploy_phases.py
  backend/tests/unit/setup_lib/test_image_pull.py
  backend/tests/unit/test_r8_s3_florence_provider_retirement.py
  docker-compose.ghcr.yml
  docs/architecture/ai-pipeline-current-state.md
  docs/guides/profiling.md
  docs/operator/AGENTS.md
  docs/operator/README.md
  docs/operator/ai-ghcr-deployment.md
  docs/operator/ai-installation.md
  docs/operator/ai-services.md
  docs/operator/deployment/README.md
  docs/ui/pyroscope.md
  docs/uplevel/README.md
  docs/vss-integration/17-action-plan.md
  llms.txt
  monitoring/AGENTS.md
  monitoring/prometheus.yml
  pyproject.toml
  scripts/a5500_precheck.py
  scripts/retired_paths.txt
  scripts/test_retired_paths.py
  setup_lib/image_pull.py
Due: uv-lock-check, check-test-timeouts, check-integration-tests

feat(F1.2): verdict-engine status banner (UR-18)
  frontend/src/components/common/VerdictEngineStatusBanner.test.tsx
  frontend/src/components/common/VerdictEngineStatusBanner.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/layout/Layout.test.tsx
  frontend/src/components/layout/Layout.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useVerdictEngineStatus.test.ts
  frontend/src/hooks/useVerdictEngineStatus.ts
  frontend/src/types/websocket-events.test.ts
  frontend/src/types/websocket-events.ts
Due: prettier-frontend, eslint, typescript-check

docs(F1.2): flip the status row to awaiting real tier
  docs/uplevel/README.md
Due: none

docs(F1.2): inventory the banner and the hook in the AGENTS tables
  frontend/src/components/common/AGENTS.md
  frontend/src/hooks/AGENTS.md
Due: prettier-frontend

docs(F1.2): add the hook to the Key Files and Test Files tables
  frontend/src/hooks/AGENTS.md
Due: prettier-frontend

docs(uplevel): O1.12's row reads done — merged as #6901
  docs/uplevel/README.md
Due: none

fix(F1.2): add hooks barrel test, prettier-clean changed files
  frontend/src/components/common/AGENTS.md
  frontend/src/components/common/VerdictEngineStatusBanner.test.tsx
  frontend/src/hooks/AGENTS.md
  frontend/src/hooks/index.test.ts
  frontend/src/hooks/useVerdictEngineStatus.ts
Due: prettier-frontend, eslint, typescript-check

fix(rot): repair two main files dirty under pinned prettier
  backend/core/websocket/AGENTS.md
  docs/vss-integration/17-action-plan.md
Due: none

fix(F1.2): gate banner on loaded, drop stale since, label unknown elapsed
  frontend/src/components/common/VerdictEngineStatusBanner.test.tsx
  frontend/src/components/common/VerdictEngineStatusBanner.tsx
  frontend/src/components/layout/Layout.test.tsx
  frontend/src/components/layout/Layout.tsx
  frontend/src/hooks/useVerdictEngineStatus.test.ts
  frontend/src/hooks/useVerdictEngineStatus.ts
  frontend/src/types/websocket-events.ts
Due: prettier-frontend, eslint, typescript-check

test(F1.2): browser spec shows the banner appearing and clearing
  frontend/tests/e2e/AGENTS.md
  frontend/tests/e2e/specs/AGENTS.md
  frontend/tests/e2e/specs/verdict-engine-banner.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix(ops): dispose the ops-A review on #6907 — living shorthand, gate teeth, records
  backend/api/routes/model_management.py
  backend/tests/unit/scripts/test_a5500_precheck.py
  backend/tests/unit/scripts/test_main_green_residue.py
  backend/tests/unit/setup_lib/test_image_pull.py
  backend/tests/unit/setup_lib/test_selinux_check.py
  docker-compose.ci.yml
  docker-compose.prod.yml
  docs/vss-integration/17-action-plan.md
  docs/vss-integration/README.md
  scripts/a5500_precheck.py
  scripts/retired_paths.txt
  scripts/test_retired_paths.py
  setup_lib/image_pull.py
Due: generate-openapi, generate-api-types, check-test-timeouts, check-integration-tests

style(F1.1): prettier the cameras AGENTS.md the gate now requires
  frontend/src/components/cameras/AGENTS.md
Due: prettier-frontend

style(docs): prettier normalizes the ledger's continuation indents after the merge
  docs/vss-integration/17-action-plan.md
Due: none

docs: retire the last API_KEY_ENABLED-as-auth advice (B1.5)
  README.md
  backend/api/middleware/AGENTS.md
  backend/api/middleware/README.md
  docs/architecture/overview.md
  docs/architecture/security/README.md
  docs/architecture/system-overview/design-decisions.md
  docs/developer/api/README.md
  docs/operator/admin/README.md
Due: none

build(backend): replace python-jose with PyJWT (B1.5)
  .github/workflows/dependency-audit.yml
  .trivyignore
  backend/services/auth_service.py
  pyproject.toml
  uv.lock
Due: uv-lock-check, check-integration-tests

docs(uplevel): set B1.5 done (#6861)
  docs/uplevel/README.md
Due: none

feat(backend): refuse unauthenticated requests when EXPOSE_LAN=true
  backend/api/middleware/auth.py
  backend/api/routes/admin.py
  backend/api/routes/auth.py
  backend/api/routes/notification.py
  backend/api/schemas/auth.py
  backend/core/config.py
  backend/main.py
  backend/tests/integration/test_api_protection.py
  backend/tests/integration/test_auth_flow.py
  backend/tests/integration/test_expose_lan_auth.py
  backend/tests/security/AGENTS.md
  backend/tests/security/test_auth_security.py
  backend/tests/unit/api/middleware/test_auth.py
  backend/tests/unit/api/routes/test_auth.py
  backend/tests/unit/api/test_expose_lan_routes.py
  backend/tests/unit/core/test_auth_middleware.py
  backend/tests/unit/core/test_middleware.py
  backend/tests/unit/test_auth_routes.py
  docker-compose.prod.yml
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

fix(backend): deny monitoring by default when exposed (UR-33)
  AGENTS.md
  README.md
  backend/api/AGENTS.md
  backend/api/middleware/AGENTS.md
  backend/api/middleware/README.md
  backend/api/middleware/auth.py
  backend/core/config.py
  backend/tests/integration/test_api_protection.py
  backend/tests/unit/api/middleware/test_auth.py
  backend/tests/unit/api/test_expose_lan_routes.py
  docs/_includes/auth-model.md
  docs/architecture/dataflows/api-request-flow.md
  docs/architecture/security/README.md
  docs/developer/api/README.md
  docs/operator/admin/security.md
  docs/reference/config/env-reference.md
Due: generate-openapi, generate-api-types, check-test-mocks, check-test-timeouts

docs: describe the EXPOSE_LAN auth model (B1.5)
  AGENTS.md
  backend/AGENTS.md
  backend/api/AGENTS.md
  backend/api/middleware/AGENTS.md
  docs/_includes/auth-model.md
  docs/architecture/dataflows/api-request-flow.md
  docs/architecture/middleware/README.md
  docs/operator/admin/security.md
  docs/reference/config/env-reference.md
  docs/reference/glossary.md
Due: none

chore(backend): refresh baseline and docs after rebase onto B1.3
  .secrets.baseline
  backend/api/middleware/auth.py
  backend/tests/integration/test_auth_flow.py
  docs/operator/admin/README.md
Due: generate-openapi, generate-api-types, check-test-mocks, check-test-timeouts

fix(backend): close the preflight gap; keep authed responses private
  backend/api/middleware/auth.py
  backend/tests/integration/test_expose_lan_auth.py
  backend/tests/unit/api/middleware/test_auth.py
  backend/tests/unit/api/test_expose_lan_routes.py
  backend/tests/unit/core/test_middleware.py
Due: generate-openapi, generate-api-types, check-test-mocks, check-test-timeouts

docs(cites): refresh 163 drifted code cites across 11 files
  backend/tests/unit/services/test_vlm_client.py
  docs/architecture/ai-orchestration/README.md
  docs/architecture/ai-orchestration/fallback-strategies.md
  docs/architecture/dataflows/error-recovery-flow.md
  docs/architecture/dataflows/image-to-event.md
  docs/architecture/dataflows/llm-analysis-flow.md
  docs/architecture/detection-pipeline/analysis-queue.md
  docs/architecture/system-overview/configuration.md
  docs/architecture/system-overview/deployment-topology.md
  docs/developer/llm-inference-optimization.md
  docs/developer/risk-analysis.md
Due: check-test-timeouts

fix(F1.1): keep the path after a query-named hole when text follows it
  frontend/scripts/api-contract-lib.mjs
  frontend/src/__tests__/api-contract-lib.test.ts
Due: prettier-frontend, eslint, typescript-check

fix(docs): redo llms.txt onto main's W1.2 text, keeping only the deploy-section edits
  llms.txt
Due: none

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
