Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$

test(mutmut): battery AB for campaign #26 threat_monitor_service (35 tests, ledger final)
  backend/tests/unit/services/test_threat_monitor_service_batch38_ab.py
Due: check-test-timeouts

test(mutmut): battery AC for campaign #27 worker_supervisor (37 tests, ledger final)
  backend/tests/unit/services/test_worker_supervisor_batch38_ac.py
Due: check-test-timeouts

test(mutmut): battery AD for campaign #28 audit_logger (20 tests, ledger final)
  backend/tests/unit/services/test_audit_logger_batch38_ad.py
Due: check-test-timeouts

fix(vlm): the assess call samples greedily - temperature 0, not an unseeded 0.1
  backend/services/vlm_client.py
  backend/tests/unit/services/test_vlm_client.py
Due: check-test-timeouts, check-integration-tests

test(mutmut): battery AE for campaign #29 alert_engine (29 tests, ledger final)
  backend/tests/unit/services/test_alert_engine_batch38_ae.py
Due: check-test-timeouts

test(mutmut): battery AF for campaign #30 pg_notify_listener (16 tests, ledger final)
  backend/tests/unit/services/test_pg_notify_listener_batch38_af.py
Due: check-test-timeouts

test(mutmut): battery AG for campaign #31 circuit_breaker (45 tests, ledger final)
  backend/tests/unit/services/test_circuit_breaker_batch38_ag.py
Due: check-test-timeouts

fix(deps): upgrade cryptography 49.0.0 -> 50.0.2 and drop the ignores that blamed the old ceiling
  .github/workflows/dependency-audit.yml
  .trivyignore
  uv.lock
Due: uv-lock-check

feat(notify): the analyzer decides whether a verdict notifies and broadcasts the decision (M1)
  backend/api/routes/websocket.py
  backend/api/schemas/websocket.py
  backend/services/notification_filter.py
  backend/services/vlm_analyzer.py
  backend/tests/unit/api/schemas/test_websocket_notify_field.py
  backend/tests/unit/services/test_vlm_analyzer.py
  frontend/src/types/generated/websocket.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-test-timeouts, check-validation-drift, check-integration-tests

docs(vss): refresh the research record to 2026-10-03 - progress, errata E29+, the action-plan register, the world-class target
  docs/vss-integration/00-context.md
  docs/vss-integration/01-vss-architecture.md
  docs/vss-integration/02-model-inventory.md
  docs/vss-integration/03-open-questions.md
  docs/vss-integration/04-fp4-and-deployment.md
  docs/vss-integration/05-hardware-profiles.md
  docs/vss-integration/06-repo-a-readiness.md
  docs/vss-integration/07-lean-backend.md
  docs/vss-integration/08-audit-profile-anatomy.md
  docs/vss-integration/09-audit-integration-surfaces.md
  docs/vss-integration/10-audit-feature-inventory.md
  docs/vss-integration/11-errata-2026-09-23.md
  docs/vss-integration/12-postponed-roadmap.md
  docs/vss-integration/13-implementation-brief.md
  docs/vss-integration/14-specialist-model-research.md
  docs/vss-integration/15-progress-since-the-design.md
  docs/vss-integration/16-errata-2026-10-03.md
  docs/vss-integration/17-action-plan.md
  docs/vss-integration/18-world-class-target.md
  docs/vss-integration/AGENTS.md
  docs/vss-integration/README.md
Due: none

docs(vss): research checkpoints - how NVIDIA benchmarks VSS accuracy; VLMs per GPU tier, benchmarks and fine-tuning
  docs/vss-integration/19-nvidia-accuracy-benchmarking.md
  docs/vss-integration/20-model-tiers-benchmark-and-training.md
Due: none

docs(plans): the 2026-10-03 VLM exercise handoff - measured results, decisions, and the sweep
  docs/plans/2026-10-03-vss-vlm-exercise-handoff.md
Due: none

docs(ledger): row 75 - the P5a baseline re-ran, the sampling temperature and llama.cpp build explain the noise, and three legacy surfaces are gone
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

test(mutmut): battery AG loss-fix for campaign #31 (46 tests)
  backend/tests/unit/services/test_circuit_breaker_batch38_ag.py
Due: check-test-timeouts

fix(merge): the doc and test fixes the main merge (872329b8) lists but did not stage
  backend/tests/unit/services/test_vlm_client_batch37_o.py
  docs/architecture/ai-pipeline-current-state.md
  docs/architecture/dataflows/error-recovery-flow.md
  docs/architecture/dataflows/image-to-event.md
  docs/architecture/dataflows/llm-analysis-flow.md
  docs/developer/risk-analysis.md
  docs/developer/testing.md
Due: check-test-timeouts

fix(ci): the first CI read of #6783 - mypy, the census baseline copy, and the WebSocket contract's field set
  .github/suppression-baseline.json
  backend/services/vlm_analyzer.py
  backend/tests/integration/test_websocket.py
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  docs/vss-integration/17-action-plan.md
Due: check-test-mocks, check-test-timeouts, check-integration-tests

fix(security): ignore CVE-2026-93687 (braces 3.0.3, no fixed version) until 2027-01-03
  .trivyignore
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

feat(docs-gate): recompute the VSS register from its blocks, check the State page, and add a next-id helper
  backend/tests/unit/scripts/test_check_vss_docs_currency.py
  backend/tests/unit/scripts/test_vss_next_id.py
  scripts/check-vss-docs-currency.py
  scripts/vss-next-id.py
Due: check-test-timeouts

docs(vss): the register files ISS-087 and ISS-088 in their area sections, with the counts and the post-merge notes
  docs/vss-integration/17-action-plan.md
Due: none

docs(agents): docs/AGENTS.md stops calling vss-integration "research (in progress)"
  docs/AGENTS.md
Due: none

docs(architecture): the current-state page points at the State of the stack
  docs/architecture/ai-pipeline-current-state.md
Due: none

test(mutmut): battery AH for campaign #32 osnet_loader (48 tests, ledger 1)
  backend/tests/unit/services/test_osnet_loader_batch38_ah.py
Due: check-test-timeouts

docs(vss): file the open work that lived only in errata and reference text (ISS-089 to ISS-098)
  docs/vss-integration/17-action-plan.md
Due: none

docs(vss): record in the register that the sweep's model weights are kept
  docs/vss-integration/17-action-plan.md
Due: none

docs(vss): README becomes the State of the stack, AGENTS the agent guide; the 2026-09-23 bodies move to doc 21
  docs/vss-integration/21-entry-pages-record-2026-09-23.md
  docs/vss-integration/AGENTS.md
  docs/vss-integration/README.md
Due: none

docs(vss): errata E126-E129 and the register's stale template and cryptography note
  docs/vss-integration/16-errata-2026-10-03.md
  docs/vss-integration/17-action-plan.md
Due: none

test(mutmut): battery AI for campaign #33 batch_coalescer (29 tests, ledger 1)
  backend/tests/unit/services/test_batch_coalescer_batch38_ai.py
Due: check-test-timeouts

test(mutmut): battery AI run-1 loss-fix - _get_redis debug family + find continue-vs-break (30 tests, ledger 2)
  backend/tests/unit/services/test_batch_coalescer_batch38_ai.py
Due: check-test-timeouts

test(mutmut): battery AJ for campaign #34 context_enricher (37 tests, ledger 10)
  backend/tests/unit/services/test_context_enricher_batch34_aj.py
Due: check-test-timeouts

test(mutmut): battery AJ run-1 loss-fix - the class_anomalies is_anomalous block (38 tests, ledger 10)
  backend/tests/unit/services/test_context_enricher_batch34_aj.py
Due: check-test-timeouts

docs(mutmut): MILESTONE 36 — 77.98602287166455% completed=true (+0.3009914614544158 vs M35's 77.68503141021013%); campaign #34 context_enricher CLOSES at 97.8308% (451/461 kt) in TWO runs.
  .github/mutation-history.json
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(mutmut): battery AK for campaign #35 export_service (44 tests, ledger 1)
  backend/tests/unit/services/test_export_service_batch35_ak.py
Due: check-test-timeouts

test(mutmut): battery AK run-1 loss-fix - the export_events_with_progress excel/progress births (48 tests, ledger 1)
  backend/tests/unit/services/test_export_service_batch35_ak.py
Due: check-test-timeouts

docs(vss): record the sweep - ISS-097 done, OD-26 ruled, ledger row 77, README Measured and Decisions
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  docs/vss-integration/17-action-plan.md
  docs/vss-integration/README.md
Due: none

docs(benchmarks): the model sweep report - 12 VLMs and 3 controls on the 450 tierb-v0 stills, with its data, analysis and driver
  docs/benchmarks/synthbench/sweep-2026-10-03/analysis.py
  docs/benchmarks/synthbench/sweep-2026-10-03/arms.csv
  docs/benchmarks/synthbench/sweep-2026-10-03/driver/download_all.py
  docs/benchmarks/synthbench/sweep-2026-10-03/driver/recipes.json
  docs/benchmarks/synthbench/sweep-2026-10-03/driver/replay_arm.py
  docs/benchmarks/synthbench/sweep-2026-10-03/driver/results.jsonl
  docs/benchmarks/synthbench/sweep-2026-10-03/driver/summary.md
  docs/benchmarks/synthbench/sweep-2026-10-03/driver/sweep.before-keep-weights.py
  docs/benchmarks/synthbench/sweep-2026-10-03/driver/sweep.py
  docs/benchmarks/synthbench/sweep-2026-10-03/extract.py
  docs/benchmarks/synthbench/sweep-2026-10-03/items.csv
  docs/benchmarks/synthbench/sweep-2026-10-03/report.md
  docs/benchmarks/synthbench/sweep-2026-10-03/stats.json
Due: none

docs(plans): session handoff and the video-question research notes (2026-10-04)
  docs/plans/2026-10-04-video-question-research.md
  docs/plans/2026-10-04-vss-session-handoff.md
Due: none

test(mutmut): battery AL for campaign #36 pipeline_quality_audit_service (48 tests, ledger 30)
  backend/tests/unit/services/test_pipeline_quality_audit_service_batch36_al.py
Due: check-test-timeouts

fix(vlm): raise the assess max_tokens budget from 1024 to 2048
  backend/services/vlm_client.py
  backend/tests/unit/synthbench/test_replay.py
  docs/vss-integration/README.md
Due: check-test-timeouts, check-integration-tests
