Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$

fix: batch of P2 fixes - Redis reliability, UI improvements, API consistency (#83)
  .github/workflows/ci.yml
  backend/api/routes/cameras.py
  backend/api/routes/events.py
  backend/api/routes/websocket.py
  backend/core/config.py
  backend/core/redis.py
  backend/services/alert_engine.py
  backend/services/batch_aggregator.py
  backend/services/dedupe.py
  backend/services/event_broadcaster.py
  backend/services/gpu_monitor.py
  backend/services/pipeline_workers.py
  backend/services/video_processor.py
  backend/tests/gpu/test_detector_integration.py
  backend/tests/integration/test_cameras_api.py
  backend/tests/unit/test_batch_aggregator.py
  backend/tests/unit/test_cameras_routes.py
  backend/tests/unit/test_dedupe.py
  backend/tests/unit/test_event_broadcaster.py
  backend/tests/unit/test_gpu_monitor.py
  backend/tests/unit/test_pipeline_workers.py
  backend/tests/unit/test_query_optimization.py
  backend/tests/unit/test_redis.py
  backend/tests/unit/test_websocket.py
  frontend/playwright.config.ts
  frontend/src/components/system/WorkerStatusPanel.test.tsx
  frontend/src/components/system/WorkerStatusPanel.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: add critical warning to prevent SearchBar test unskipping
  .beads/issues.jsonl
  frontend/src/components/search/SearchBar.test.tsx
Due: prettier-frontend, eslint, typescript-check

chore: sync beads - close bhou, create 3d9k
  .beads/issues.jsonl
Due: none

feat: Testing Infrastructure Reliability Initiative (keix epic)
  backend/tests/integration/conftest.py
  backend/tests/unit/models/test_alert.py
Due: check-test-mocks, check-test-timeouts

fix: use TEST_DATABASE_URL in CI for integration tests
  backend/tests/integration/conftest.py
Due: check-test-mocks, check-test-timeouts

perf: massively accelerate E2E tests (32x faster per test)
  frontend/playwright.config.ts
  frontend/tests/e2e/fixtures/index.ts
  frontend/tests/e2e/pages/BasePage.ts
  frontend/tests/e2e/specs/dashboard.spec.ts
  frontend/tests/e2e/specs/error-handling.spec.ts
  frontend/tests/e2e/specs/events.spec.ts
  frontend/tests/e2e/specs/responsive.spec.ts
  frontend/tests/e2e/specs/system.spec.ts
  postgresql+asyncpg:/security:security_dev_password@localhost:5432/foscam/front_door/a.jpg
  postgresql+asyncpg:/security:security_dev_password@localhost:5432/foscam/front_door/b.jpg
Due: prettier-frontend, eslint, typescript-check

fix: improve E2E test stability for CI
  frontend/playwright.config.ts
  frontend/tests/e2e/pages/AlertsPage.ts
  frontend/tests/e2e/pages/DashboardPage.ts
  frontend/tests/e2e/pages/TimelinePage.ts
Due: prettier-frontend, eslint, typescript-check

fix: update test assertion to match error message
  frontend/src/services/api.test.ts
Due: prettier-frontend, eslint, typescript-check

fix: optimize E2E test waits to prevent CI stalls
  frontend/playwright.config.ts
  frontend/tests/e2e/pages/AlertsPage.ts
  frontend/tests/e2e/pages/DashboardPage.ts
  frontend/tests/e2e/pages/TimelinePage.ts
Due: prettier-frontend, eslint, typescript-check

perf: optimize Playwright E2E tests for CI speed
  .github/workflows/ci.yml
  frontend/playwright.config.ts
Due: prettier-frontend, eslint, typescript-check

fix: increase E2E test timeouts for API retry delays
  frontend/tests/e2e/pages/AlertsPage.ts
  frontend/tests/e2e/specs/dashboard.spec.ts
  frontend/tests/e2e/specs/error-handling.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: address documentation validation findings (#81)
  .beads/issues.jsonl
Due: none

fix: add property-based roundtrip tests to slow test patterns
  scripts/audit-test-durations.py
Due: none

feat: resolve 5 P2 frontend reliability issues
  .github/workflows/gpu-tests.yml
  backend/tests/unit/core/__init__.py
  backend/tests/unit/core/test_database.py
  backend/tests/unit/routes/__init__.py
  backend/tests/unit/routes/test_admin_routes.py
  backend/tests/unit/routes/test_alerts_routes.py
  backend/tests/unit/routes/test_audit_routes.py
  backend/tests/unit/routes/test_notification_routes.py
  backend/tests/unit/services/__init__.py
  backend/tests/unit/services/test_alert_engine.py
  backend/tests/unit/services/test_baseline.py
  backend/tests/unit/services/test_performance_collector.py
  backend/tests/unit/test_performance_collector.py
  frontend/src/components/alerts/AlertsPage.tsx
  frontend/src/components/audit/AuditLogPage.test.tsx
  frontend/src/components/audit/AuditLogPage.tsx
  frontend/src/components/events/EventTimeline.test.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/hooks/webSocketManager.test.ts
  frontend/src/hooks/webSocketManager.ts
  frontend/src/services/api.abort.test.ts
  frontend/src/services/api.test.ts
  frontend/src/services/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: extend test performance audit to cover E2E tests
  .github/workflows/ci.yml
  frontend/playwright.config.ts
  scripts/audit-test-durations.py
Due: prettier-frontend, eslint, typescript-check

fix: improve error state test reliability in CI
  frontend/tests/e2e/specs/alerts.spec.ts
  frontend/tests/e2e/specs/dashboard.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: use page object selectors for error state tests
  frontend/tests/e2e/specs/alerts.spec.ts
  frontend/tests/e2e/specs/dashboard.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix(e2e): fix system error state test to check reloadButton
  frontend/tests/e2e/specs/system.spec.ts
Due: prettier-frontend, eslint, typescript-check
