Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$

test(frontend): hoist useLocalStorage initialValue to break render-loop OOM
  frontend/src/hooks/__tests__/integration/cross-tab-sync.integration.test.ts
Due: prettier-frontend, eslint, typescript-check

test(frontend): flush pending real timers in afterAll before env teardown
  frontend/src/test/setup.ts
Due: prettier-frontend, eslint, typescript-check

docs(ledger): gate-14 verdict + both queued frontend errors root-caused
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test: make CLI --timeout actually govern collected tests (M3 T5 step 1)
  backend/tests/conftest.py
  docs/superpowers/staged/2026-09-14/t5/test_setup_hang_smoke.py
  docs/superpowers/staged/2026-09-14/timeout_stamp_plugin.py
Due: check-test-timeouts

test: pytest-timeout thread->signal, func_only=false (M3 T5 step 2)
  pyproject.toml
Due: uv-lock-check

docs(ledger): M3 T5 steps 1-2 landed, both smoke arms verdicted
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(hygiene): delete duplicate symlinks + zero-byte placeholders (M3 T1, audit 1.1/1.2)
  backend/tests/integration/test_cameras.py
  backend/tests/integration/test_events.py
  backend/tests/integration/test_zone_baselines.py
  backend/tests/unit/api/routes/test_cameras_heatmap.py
  backend/tests/unit/core/test_result.py
  backend/tests/unit/test_matchers.py
  scripts/collection-sanity-allowlist.txt
Due: check-test-mocks, check-test-timeouts

docs(ledger): M3 T1 measurement rows — 4298->4164 (-134 exact), unit green
  docs/plans/2026-09-12-context-map-doc-updates.md
  docs/superpowers/plans/2026-09-14-test-suite-hygiene-milestone3.md
Due: none

Revert "test(hygiene): delete duplicate symlinks + zero-byte placeholders (M3 T1, audit 1.1/1.2)"
  backend/tests/integration/test_cameras.py
  backend/tests/integration/test_events.py
  backend/tests/integration/test_zone_baselines.py
  backend/tests/unit/api/routes/test_cameras_heatmap.py
  backend/tests/unit/core/test_result.py
  backend/tests/unit/test_matchers.py
  scripts/collection-sanity-allowlist.txt
Due: check-test-mocks, check-test-timeouts

docs(ledger): M3 T2 dead-fixture census (9 DEAD verdicts), T1 out-of-turn revert note
  docs/plans/2026-09-12-context-map-doc-updates.md
  docs/superpowers/plans/2026-09-14-test-suite-hygiene-milestone3.md
  docs/superpowers/staged/2026-09-14/wave3-drafts/m3-t1-t3/t2-dead-fixtures.patch
Due: none

feat(scripts): M2 T10/T11 fast-lane runners + change->test selector (inert additive)
  scripts/fast-backend-runner.sh
  scripts/fast-frontend-runner.sh
  scripts/fast_select.py
  scripts/test_fast_select.py
Due: none

docs: goal prompt v5 — post-T5-landing state, critic apply-order, restart tooling paths
  docs/goal-prompt-m1-m2-m3-2026-09-14.md
Due: none

chore(staged): w0 §6 record — anchored patch -> append-at-EOF template
  docs/superpowers/staged/2026-09-14/wave3-drafts/w0-runbook/ledger-addition-append.md
Due: none

chore(staged): drop superseded anchored ledger-addition.patch (use the -append template)
  docs/superpowers/staged/2026-09-14/wave3-drafts/w0-runbook/ledger-addition.patch
Due: none

docs(ledger): owner rulings batch 2 — init_db seam, chaos delete, T14 variant A
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(frontend): STANDARD_TIMEOUT on lazy-route waitFor (gate 16 lone failure)
  frontend/src/App.lazy.test.tsx
Due: prettier-frontend, eslint, typescript-check

docs(ledger): gate-16 RED row — App.lazy contention flake root-caused, fixed 126bf536
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

chore(staged): M3-T2 chaos-half delete patch (owner-ruled 2026-09-14, apply at M2-green)
  docs/superpowers/staged/2026-09-14/wave3-drafts/m3-t1-t3/m3-t2-chaos-delete.patch
Due: none

style(frontend): prettier --write on App.lazy.test.tsx (gate 17 format:check)
  frontend/src/App.lazy.test.tsx
Due: prettier-frontend, eslint, typescript-check

docs(ledger): gate-17 RED row — Prettier on 126bf536; backend green under T5 config (T5 step-4 gate 1/2)
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

style(docs): prettier --write on context-map ledger (hook-debt surfaced by new pre-commit install)
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(ledger): process finding — sandbox git hooks were never installed (gate-17 root cause enabler); commit-stage hooks now live
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(handoff): power-cycle pause handoff — gate 18 aborted pre-verdict; boot recovery, gate-19 recipe, post-green order
  docs/goal-prompt-m1-m2-m3-2026-09-14.md
  docs/superpowers/handoff-2026-09-14-power-cycle.md
Due: none

docs(ledger): dedupe c6b7211d tail duplication
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(gb300): M1 §6 close-out — gate 19 GREEN record + plan T7 ticks
  docs/plans/2026-09-12-context-map-doc-updates.md
  docs/superpowers/plans/2026-09-12-arm64-gb300-milestone1.md
Due: none

config(frontend): env-driven fileParallelism/maxWorkers/heap (spec 3.3)
  frontend/package.json
  frontend/vite.config.ts
  scripts/validate.sh
Due: prettier-frontend, eslint, typescript-check, npm-install-check

ci(frontend): real exit code replaces exit-0-on-first-summary hack (spec 5.1)
  .github/workflows/ci.yml
Due: none

test(core): nosemgrep annotations on the no-hook-era worker DB DDL sites
  backend/tests/conftest.py
Due: check-test-timeouts

test(core): per-worker DB isolation helpers + contract tests (spec 3.1)
  backend/tests/conftest.py
  backend/tests/test_db_isolation.py
Due: check-test-timeouts

test(core): get_test_db_url returns per-worker databases (spec 3.1 cutover)
  backend/tests/test_db_isolation.py
Due: check-test-timeouts

test(core): session-scoped worker DB lifecycle + stale sweep (spec 3.1)
  backend/tests/conftest.py
  backend/tests/test_db_isolation.py
Due: check-test-timeouts

ci(weekly): nightly honest full-gate workflow, variant A (spec 5.4 / T14)
  .github/workflows/nightly-full-gate.yml
Due: none

docs(staged): M3 T8 parametrize-guard rebuild + full-tree merge census
  docs/superpowers/staged/2026-09-14/wave2-drafts/m3-static/parametrize-guard.py.draft
  docs/superpowers/staged/2026-09-14/wave2-drafts/m3-static/t8-guard-report.txt
Due: none

docs(staged): M2 T12 fast-validation playbook draft, corrected runner contract
  docs/superpowers/staged/2026-09-14/wave3-drafts/t13-t14-m2/fast-validation-playbook.sh
Due: none

feat(scripts): validate.sh --fast advisory tier wiring (spec 4.1, M2 T13)
  scripts/AGENTS.md
  scripts/validate.sh
Due: none

fix(scripts): fast-frontend-runner ran registry-latest vitest v5 and masked its exit
  scripts/fast-frontend-runner.sh
Due: none

scripts: fast-tier 5-change playbook with wall assertions (spec 6.3)
  scripts/fast-validation-playbook.sh
Due: none

docs(dev): M2 T15 measurements record at its spec home (spec 6, T12+T15)
  docs/development/fast-confidence-loop-measurements.md
Due: none
