Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

generate-api-types:
  name: Generate TypeScript API Types
  entry: bash -c './scripts/generate-types.sh && git add frontend/src/types/generated/api.ts'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv lock file is up-to-date
  entry: bash -c 'cd "$0" && uv lock --check' .
  language: system
  pass_filenames: false

npm-install-check:
  name: Check npm dependencies are installed
  entry: bash -c 'cd frontend && npm ci --prefer-offline --no-audit --dry-run'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-validation-drift:
  name: Check validation drift (Pydantic/Zod)
  entry: python3 scripts/check-validation-drift.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

docs(detection-pipeline): re-pin hub + batch-aggregator + critical-paths to shipped code, fix profiled-services note
  docs/architecture/detection-pipeline/README.md
  docs/architecture/detection-pipeline/batch-aggregator.md
  docs/architecture/detection-pipeline/critical-paths.md
  docs/operator/prometheus-alerting.md
Due: none

docs(detection-pipeline): full path on the invariant-table citation (bare filename broke validate_docs resolution)
  docs/architecture/detection-pipeline/README.md
Due: none

test(mutmut): battery X run-2 extension - kill the 3 coverage-growth births (campaign #22)
  backend/tests/unit/services/test_webhook_service_batch38_x.py
Due: check-test-timeouts

docs(dataflows): convert remaining dataflow + analysis-queue pages to the shipped VLM path
  docs/architecture/dataflows/error-recovery-flow.md
  docs/architecture/dataflows/event-lifecycle.md
  docs/architecture/dataflows/image-to-event.md
  docs/architecture/dataflows/llm-analysis-flow.md
  docs/architecture/detection-pipeline/analysis-queue.md
  docs/architecture/detection-pipeline/critical-paths.md
Due: none

fix(validate_docs): a host:port in prose is not a file:line citation
  backend/tests/unit/scripts/test_validate_docs.py
  scripts/validate_docs/AGENTS.md
  scripts/validate_docs/config.py
  scripts/validate_docs/parsers/markdown.py
  scripts/validate_docs/parsers/mermaid.py
Due: check-test-timeouts

fix(monitoring): ai-pipeline-alerts fires only on metrics with live writers
  docs/architecture/observability/alertmanager.md
  docs/reference/nvidia-technology-inventory.md
  monitoring/ai-pipeline-alerts.yml
Due: none

docs(operator): re-pin the GPU/VLM/benchmark pages to the shipped topology
  docs/developer/multi-gpu.md
  docs/operator/ai-overview.md
  docs/operator/prometheus-alerting.md
  tests/benchmark/AGENTS.md
  tests/benchmark/README.md
  tests/benchmark/__init__.py
Due: none

chore(ai,scripts): delete cpu_offloading and the llama-server-era benchmark trio
  ai/AGENTS.md
  ai/__init__.py
  ai/cpu_offloading.py
  ai/tests/AGENTS.md
  ai/tests/test_cpu_offloading.py
  scripts/benchmark/AGENTS.md
  scripts/benchmark/metrics.py
  scripts/benchmark/quantization_comparison.py
  scripts/benchmark/run_benchmark.py
  tests/benchmark/test_metrics.py
  tests/benchmark/test_quantization.py
  tests/benchmark/test_runner.py
Due: none

docs(architecture): re-pin seven pages to the shipped ai-vlm topology
  docs/architecture/api-reference/system-api.md
  docs/architecture/observability/README.md
  docs/architecture/observability/grafana-dashboards.md
  docs/architecture/overview.md
  docs/architecture/realtime-system/README.md
  docs/architecture/resilience-patterns/health-monitoring.md
  docs/architecture/security/network-security.md
Due: none

ci(suppression): adjudicate the k1 site main's merge carried -- census gate was red
  .github/suppression-baseline.json
  .github/suppression-registry.yml
Due: none

fix(ci): the census prunes test files before parsing them -- 8.5s -> 3.8s
  scripts/ai-surface-census.py
Due: none

fix(ci): the census parses in a forked pool and prunes its walk -- 3.8s -> 0.45s
  scripts/ai-surface-census.py
  scripts/test_ai_surface_census.py
Due: none

docs(mutmut): MILESTONE 24 — 73.87931159262958% completed=true (+0.3751989883663782 vs M23's 73.5041126042632%); campaign #22 webhook_service CLOSES at 99.009009009009% (1099/1110) over TWO RUNS
  .github/mutation-history.json
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

fix(monitoring): alerting-rules lives on real writers -- deletions + two re-enables
  docs/architecture/observability/alertmanager.md
  monitoring/alerting-rules.yml
  monitoring/prometheus_rules.yml
Due: none

ci(frontend): npm audit gate becomes a fail-closed exemption registry
  .github/workflows/ci.yml
  frontend/.npm-audit-exemptions.json
  frontend/package-lock.json
  frontend/package.json
  scripts/AGENTS.md
  scripts/check-npm-audit-exemptions.py
  scripts/test_check_npm_audit_exemptions.py
Due: prettier-frontend, npm-install-check

test(mutmut): battery Y for vlm_analyzer (campaign #23 pre-run, 46 tests)
  backend/tests/unit/services/test_vlm_analyzer_batch38_y.py
Due: check-test-timeouts

ci(npm-audit): invoke the checker with preinstalled python3, and gate dependency-audit too
  .github/workflows/ci.yml
  .github/workflows/dependency-audit.yml
  scripts/AGENTS.md
Due: none

test(mutmut): battery Y honesty ledger 12th entry - register the run-born EQUIV
  backend/tests/unit/services/test_vlm_analyzer_batch38_y.py
Due: check-test-timeouts

docs(ai): package docstring lists the surviving service dirs
  ai/__init__.py
Due: none

docs(triton): Deployment Status names the path that serves, not the containers that were
  ai/triton/AGENTS.md
  docs/architecture/ai-pipeline-current-state.md
  docs/developer/model-testing.md
  docs/reference/nvidia-technology-inventory.md
Due: none

refactor(scripts): drop the florence arm from seed-events enrichment scoring
  scripts/seed-events.py
Due: none

docs(config): ai_restart_enabled describes the monitor it actually gates
  backend/core/config.py
Due: none

docs(mutmut): MILESTONE 25 — 74.25173955183936% completed=true (+0.3724279592097872 vs M24's 73.87931159262958); campaign #23 vlm_analyzer CLOSES at 98.47908745247148% (777/789) in ONE RUN
  .github/mutation-history.json
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

chore(benchmark): repoint the dev llama.cpp engine arm at the shipped ai-vlm serve
  scripts/benchmark/AGENTS.md
  scripts/benchmark/engine_comparison.py
  scripts/benchmark/quality_comparison.py
  tests/benchmark/test_engine_comparison.py
Due: none

test(mutmut): campaign #24 battery Z - stream_manager (WIP checkpoint, gated)
  backend/tests/unit/services/test_stream_manager_batch38_z.py
Due: check-test-timeouts

WIP(residue) S1: gpu-config lists only services that run (NOT YET GATED)
  backend/api/routes/gpu_config.py
  backend/services/gpu_detection_service.py
  backend/tests/integration/test_gpu_config_workflow.py
  backend/tests/unit/api/routes/test_gpu_config.py
  backend/tests/unit/services/test_gpu_detection_service.py
Due: generate-openapi, generate-api-types, check-test-mocks, check-test-timeouts, check-integration-tests

WIP(residue) S3: backend/services/AGENTS.md re-pinned to the shipped topology (NOT YET GATED)
  backend/services/AGENTS.md
Due: none

chore(metrics): delete the zero-writer metric families -- owner ruling (ii), cascade to dashboards + docs
  backend/core/__init__.py
  backend/core/metrics.py
  backend/tests/integration/test_metric_emission.py
  backend/tests/unit/api/routes/test_metrics.py
  backend/tests/unit/core/test_metrics.py
  backend/tests/unit/core/test_scene_ocr_metrics.py
  backend/tests/unit/core/test_token_metrics.py
  backend/tests/unit/services/test_enrichment_tracking.py
  backend/tests/unit/services/test_prompt_ab_testing.py
  backend/tests/unit/test_business_metrics.py
  backend/tests/unit/test_calibration_monitor.py
  docs/architecture/ai-orchestration/README.md
  docs/architecture/ai-orchestration/model-zoo.md
  docs/architecture/dataflows/event-lifecycle.md
  docs/architecture/dataflows/llm-analysis-flow.md
  docs/architecture/detection-pipeline/analysis-queue.md
  docs/architecture/observability/README.md
  docs/architecture/observability/alertmanager.md
  docs/architecture/observability/distributed-tracing.md
  docs/architecture/observability/grafana-dashboards.md
  docs/architecture/observability/prometheus-metrics.md
  docs/developer/metrics-implementation-status.md
  docs/guides/metrics-coverage.md
  docs/operator/ai-performance.md
  docs/operator/monitoring/README.md
  monitoring/grafana/dashboards/AGENTS.md
  monitoring/grafana/dashboards/ai-service-health.json
  monitoring/grafana/dashboards/ai-services.json
  monitoring/grafana/dashboards/analytics.json
  monitoring/grafana/dashboards/consolidated.json
  monitoring/grafana/dashboards/scene-ocr.json
  monitoring/grafana/dashboards/video-analytics.json
  monitoring/grafana/provisioning/datasources/prometheus.yml
  scripts/audit_grafana_queries.py
Due: check-test-mocks, check-test-timeouts

style(metrics): ruff format the two test files the deletion touched -- CI lint gate
  backend/tests/integration/test_metric_emission.py
  backend/tests/unit/test_business_metrics.py
Due: check-test-mocks, check-test-timeouts

refactor(gpu-config): drop the last retired-service branches -- auto-assign keyed on two unarriving names
  backend/api/routes/gpu_config.py
Due: generate-openapi, generate-api-types, check-integration-tests

test(mutmut): battery Z hang-proof - FakeCapture READ_CAP backstop (#24 sweep)
  backend/tests/unit/services/test_stream_manager_batch38_z.py
Due: check-test-timeouts

fix(schemas): openapi surfaces name only services that ship -- florence example/docstring residue repointed to ai-vlm
  backend/api/schemas/gpu_config.py
  backend/api/schemas/services.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-validation-drift

test(mutmut): battery Z killer pair - fractional fps + replace-cancel (#24)
  backend/tests/unit/services/test_stream_manager_batch38_z.py
Due: check-test-timeouts

test(mutmut): battery Z honesty ledger - 7 EQUIV registered by construction
  backend/tests/unit/services/test_stream_manager_batch38_z.py
Due: check-test-timeouts

docs(agents): services AGENTS.md describes only modules that exist -- whole-file sweep
  backend/services/AGENTS.md
Due: none

style(agents): ruff-format the two code blocks in services AGENTS.md
  backend/services/AGENTS.md
Due: none

test(mutmut): battery Z ledger +2 run-born EQUIVs (#24 close record)
  backend/tests/unit/services/test_stream_manager_batch38_z.py
Due: check-test-timeouts

test(mutmut): battery AA for campaign #25 background_evaluator (WIP - sweep pending)
  backend/tests/unit/services/test_background_evaluator_batch38_aa.py
Due: check-test-timeouts

test(mutmut): battery AA killer pair + honesty ledger (#25 authoring arc)
  backend/tests/unit/services/test_background_evaluator_batch38_aa.py
Due: check-test-timeouts

docs(mutmut): M27 row correction — preM27 tar is the run-3-era restore base, not the M26 close tar (sanctioned pre-run refresh superseded it mid-disaster-arc)
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
