Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - commit
  - push

feat: add contextual documentation link to header
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/PageDocsLink.test.tsx
  frontend/src/components/layout/PageDocsLink.tsx
  frontend/src/config/pageDocumentation.test.ts
  frontend/src/config/pageDocumentation.ts
Due: prettier-frontend, eslint, typescript-check

docs: add UI documentation scaffold with dashboard template
  docs/ui/README.md
  docs/ui/dashboard.md
Due: none

docs: add comprehensive UI documentation for all pages
  docs/plans/2026-01-18-contextual-docs-link-implementation.md
  docs/ui/ai-audit.md
  docs/ui/ai-performance.md
  docs/ui/alerts.md
  docs/ui/analytics.md
  docs/ui/audit-log.md
  docs/ui/dashboard.md
  docs/ui/entities.md
  docs/ui/jobs.md
  docs/ui/logs.md
  docs/ui/operations.md
  docs/ui/settings.md
  docs/ui/timeline.md
  docs/ui/trash.md
Due: none

docs: add Nemotron v3 and AI model HuggingFace documentation
  README.md
  ai/AGENTS.md
  ai/download_models.sh
  ai/enrichment/AGENTS.md
  docs/operator/ai-ghcr-deployment.md
  docs/operator/ai-installation.md
  docs/reference/models.md
Due: none

docs: add documentation drift detection design
  docs/plans/2026-01-18-docs-drift-detection-design.md
Due: none

feat: add useEventDetectionsQuery hook for event detection fetching
  frontend/src/hooks/index.ts
  frontend/src/hooks/useEventDetectionsQuery.ts
Due: prettier-frontend, eslint, typescript-check

feat: salvage additional work from prod1 worktree
  backend/Dockerfile
  backend/entrypoint.sh
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/ReidMatchesPanel.test.tsx
  frontend/src/components/events/ReidMatchesPanel.tsx
  frontend/src/services/api.ts
Due: prettier-frontend, eslint, typescript-check

feat: implement documentation drift detection system
  .env.example
  .github/workflows/docs-drift.yml
  AGENTS.md
  README.md
  backend/tests/unit/services/test_nemotron_analyzer.py
  docs/admin-guide/configuration.md
  docs/admin-guide/troubleshooting.md
  docs/architecture/ai-pipeline.md
  docs/architecture/overview.md
  docs/benchmarks/README.md
  docs/decisions/README.md
  docs/development/AGENTS.md
  docs/development/docs-maintenance.md
  docs/getting-started/first-run.md
  docs/operator/deployment-modes.md
  docs/operator/deployment/self-hosted-runner.md
  docs/plans/README.md
  docs/reference/config/AGENTS.md
  llms.txt
  scripts/AGENTS.md
  scripts/AI_STARTUP_README.md
  scripts/check-docs-drift.py
  scripts/create-docs-tasks.py
  scripts/docs-drift-rules.yml
Due: check-test-timeouts

docs: comprehensive documentation for undocumented features
  backend/api/routes/AGENTS.md
  backend/services/AGENTS.md
  docs/developer/api/README.md
  docs/developer/api/calibration.md
  docs/developer/api/system-monitoring.md
  docs/developer/api/system-ops.md
  docs/developer/api/webhooks.md
  docs/operator/monitoring.md
  docs/reference/config/env-reference.md
  frontend/src/hooks/AGENTS.md
Due: prettier-frontend

fix: update admin tests to match no-auth implementation
  backend/tests/unit/api/routes/test_admin.py
Due: check-test-timeouts

fix: update tests and simplify CLAUDE.md
  CLAUDE.md
  frontend/src/components/layout/Sidebar.test.tsx
  frontend/tests/e2e/specs/accessibility.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: resolve CI failures and implement backlog improvements
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/load-tests.yml
  ai/download_models.sh
  backend/repositories/alert_repository.py
  backend/tests/integration/repositories/test_alert_repository.py
  backend/tests/unit/routes/test_websocket_job_logs.py
  frontend/src/components/ai-audit/__tests__/PromptVersionHistory.test.tsx
  frontend/src/components/audit/AuditLogPage.test.tsx
  frontend/src/components/common/ErrorBoundary.test.tsx
  frontend/src/components/dashboard/DashboardLayout.test.tsx
  frontend/src/components/performance/PerformanceCharts.test.tsx
  frontend/src/components/system/SystemSummaryRow.test.tsx
  lychee.toml
  tests/load/all.js
  tests/load/cameras.js
  tests/load/config.js
  tests/load/events.js
  tests/load/mutations.js
  tests/load/redis.js
  tests/load/websocket-scale.js
  tests/load/websocket.js
  vulture_whitelist.py
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: add npm rebuild to frontend Dockerfile for ARM64/musl support (NEM-2867)
  frontend/Dockerfile
Due: none

fix: resolve CI failures and implement backlog improvements (#3293)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/load-tests.yml
  ai/download_models.sh
  backend/repositories/alert_repository.py
  backend/tests/integration/repositories/test_alert_repository.py
  backend/tests/unit/routes/test_websocket_job_logs.py
  frontend/Dockerfile
  frontend/src/components/ai-audit/__tests__/PromptVersionHistory.test.tsx
  frontend/src/components/audit/AuditLogPage.test.tsx
  frontend/src/components/common/ErrorBoundary.test.tsx
  frontend/src/components/dashboard/DashboardLayout.test.tsx
  frontend/src/components/performance/PerformanceCharts.test.tsx
  frontend/src/components/system/SystemSummaryRow.test.tsx
  lychee.toml
  tests/load/all.js
  tests/load/cameras.js
  tests/load/config.js
  tests/load/events.js
  tests/load/mutations.js
  tests/load/redis.js
  tests/load/websocket-scale.js
  tests/load/websocket.js
  vulture_whitelist.py
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: set PYTHONPATH in backend entrypoint for alembic migrations
  backend/entrypoint.sh
  scripts/recycle-containers.sh
Due: none

fix: handle pynvml BAR1 memory attribute compatibility
  backend/services/gpu_monitor.py
Due: check-integration-tests

feat: production-quality Grafana dashboard improvements
  frontend/src/components/ai/AIPerformancePage.tsx
  monitoring/grafana/dashboards/consolidated.json
Due: prettier-frontend, eslint, typescript-check

fix: enable Grafana iframe embedding on AI Performance page
  CLAUDE.md
  docker-compose.prod.yml
  frontend/docker-entrypoint.sh
  frontend/nginx.conf
Due: none

feat: kill dev servers before container startup in redeploy
  scripts/redeploy.sh
Due: none

test: mark flaky ai-error-handling test as fixme
  frontend/tests/e2e/specs/ai-error-handling.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: Grafana iframe embedding and production dashboard improvements (#3299)
  CLAUDE.md
  backend/entrypoint.sh
  backend/services/gpu_monitor.py
  docker-compose.prod.yml
  frontend/docker-entrypoint.sh
  frontend/nginx.conf
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/tests/e2e/specs/ai-error-handling.spec.ts
  monitoring/grafana/dashboards/consolidated.json
  scripts/recycle-containers.sh
  scripts/redeploy.sh
Due: prettier-frontend, eslint, typescript-check, check-integration-tests

fix: Grafana dashboard rows expanded correctly + rename seed script
  monitoring/grafana/dashboards/consolidated.json
  scripts/AGENTS.md
  scripts/README.md
  scripts/redeploy.sh
  scripts/seed-events.py
  semgrep.yml
Due: none

style: apply prettier formatting
  monitoring/grafana/dashboards/consolidated.json
  scripts/README.md
Due: none

fix: Grafana dashboard rows expanded correctly + rename seed script (#3304)
  monitoring/grafana/dashboards/consolidated.json
  scripts/AGENTS.md
  scripts/README.md
  scripts/redeploy.sh
  scripts/seed-events.py
  semgrep.yml
Due: none

feat: implement pose analysis backend and fix frontend incomplete features
  backend/api/routes/detections.py
  backend/api/schemas/enrichment.py
  backend/services/enrichment_pipeline.py
  backend/services/pose_analysis_service.py
  backend/tests/unit/services/test_pose_analysis_service.py
  docs/openapi.json
  frontend/src/components/ai-audit/AIAuditDashboard.tsx
  frontend/src/components/analytics/PipelineLatencyPanel.test.tsx
  frontend/src/components/events/EnrichmentPanel.test.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/settings/CleanupPreviewPanel.tsx
  frontend/src/components/settings/StorageDashboard.msw.test.tsx
  frontend/src/components/settings/StorageDashboard.test.tsx
  frontend/src/components/settings/StorageDashboard.tsx
  frontend/src/hooks/useCameraStatusWebSocket.test.ts
  frontend/src/hooks/useStorageStatsQuery.test.ts
  frontend/src/hooks/useStorageStatsQuery.ts
  frontend/src/types/generated/api.ts
Due: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-timeouts, check-integration-tests

feat: implement pose analysis backend and fix frontend incomplete features (#3307)
  backend/api/routes/detections.py
  backend/api/schemas/enrichment.py
  backend/services/enrichment_pipeline.py
  backend/services/pose_analysis_service.py
  backend/tests/unit/services/test_pose_analysis_service.py
  docs/openapi.json
  frontend/src/components/ai-audit/AIAuditDashboard.tsx
  frontend/src/components/analytics/PipelineLatencyPanel.test.tsx
  frontend/src/components/events/EnrichmentPanel.test.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/settings/CleanupPreviewPanel.tsx
  frontend/src/components/settings/StorageDashboard.msw.test.tsx
  frontend/src/components/settings/StorageDashboard.test.tsx
  frontend/src/components/settings/StorageDashboard.tsx
  frontend/src/hooks/useCameraStatusWebSocket.test.ts
  frontend/src/hooks/useStorageStatsQuery.test.ts
  frontend/src/hooks/useStorageStatsQuery.ts
  frontend/src/types/generated/api.ts
Due: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-timeouts, check-integration-tests

fix: Grafana dashboard rows expanded correctly + rename seed script
  monitoring/grafana/dashboards/consolidated.json
  scripts/README.md
Due: none

feat: migrate Dev Tools functionality to Operations page
  frontend/src/App.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/settings/SettingsPage.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/hooks/useSystemPageSections.ts
Due: prettier-frontend, eslint, typescript-check

feat: migrate Dev Tools functionality to Operations page (#3314)
  frontend/src/App.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/settings/SettingsPage.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/hooks/useSystemPageSections.ts
Due: prettier-frontend, eslint, typescript-check

fix(security): enforce admin endpoint access control (defense-in-depth)
  backend/api/routes/admin.py
  backend/tests/unit/api/routes/test_admin.py
  backend/tests/unit/routes/test_admin_routes.py
  pyproject.toml
Due: generate-openapi, check-test-timeouts, check-integration-tests

fix(ci): disable UV caching in load tests due to GH Actions cache service errors
  .github/workflows/load-tests.yml
Due: none

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
