Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

fix(tests): add mock_request to test_get_event_returns_event_with_detection_count
  backend/tests/unit/api/routes/test_events_routes.py
Due: check-test-timeouts

fix: remove unused noqa SIM117 directives after per-file-ignore update
  backend/tests/unit/core/test_logging_context.py
Due: check-test-timeouts

fix(a11y): increase text-muted contrast for WCAG AA compliance
  frontend/tailwind.config.js
Due: prettier-frontend, eslint

test: add comprehensive unit tests for API routes and middleware
  backend/api/exception_handlers.py
  backend/api/routes/detections.py
  backend/api/routes/prompt_management.py
  backend/tests/unit/api/middleware/test_file_validator.py
  backend/tests/unit/api/middleware/test_rate_limit.py
  backend/tests/unit/api/routes/test_ai_audit.py
  backend/tests/unit/api/routes/test_cameras.py
  backend/tests/unit/api/routes/test_detections.py
  backend/tests/unit/api/routes/test_entities.py
  backend/tests/unit/api/routes/test_events_routes.py
  backend/tests/unit/api/test_exception_handlers.py
  pyproject.toml
Due: check-test-timeouts

test: add comprehensive unit tests for improved coverage (NEM-1441)
  backend/tests/integration/repositories/test_base.py
  backend/tests/unit/services/test_ai_fallback.py
  backend/tests/unit/services/test_batch_aggregator.py
  backend/tests/unit/services/test_clip_generator.py
  backend/tests/unit/services/test_clip_loader.py
  backend/tests/unit/services/test_container_orchestrator.py
  backend/tests/unit/services/test_context_enricher.py
Due: check-test-mocks, check-test-timeouts

fix(ci): disable coverage threshold checks during split test runs
  .github/workflows/ci.yml
Due: none

fix(tests): make test_unload_torch_import_error_handled robust (NEM-1441)
  backend/tests/unit/services/test_clip_loader.py
Due: check-test-timeouts

fix: resolve test parallelization issues for repository and soft delete tests
  .github/workflows/ci.yml
  backend/tests/integration/repositories/README.md
  backend/tests/integration/repositories/conftest.py
  backend/tests/unit/models/test_soft_delete.py
Due: check-test-mocks, check-test-timeouts

feat: implement JavaScript testing patterns improvements (NEM-1501)
  frontend/src/test/README.md
  frontend/src/test/factories/index.test.ts
  frontend/src/test/factories/index.ts
  frontend/src/test/matchers.test.ts
  frontend/src/test/matchers.ts
  frontend/src/test/mocks/index.ts
  frontend/src/test/setup.ts
  frontend/src/test/utils.test.tsx
  frontend/src/test/utils.tsx
Due: prettier-frontend, eslint, typescript-check

fix: correct TypeScript types in test utilities (NEM-1501)
  frontend/src/test/factories/index.test.ts
  frontend/src/test/factories/index.ts
  frontend/src/test/matchers.test.ts
  frontend/src/test/matchers.ts
  frontend/src/test/mocks/index.ts
  frontend/src/test/setup.ts
  frontend/src/test/utils.test.tsx
  frontend/src/test/utils.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: prettier-frontend, eslint, typescript-check

fix: handle FastAPI Query objects in parse_fields_param (NEM-1441)
  backend/api/utils/field_filter.py
  frontend/src/components/dashboard/CameraGrid.tsx
  frontend/tests/e2e/specs/user-journeys/camera-management.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix(ci): remove obsolete unit/repositories test step (NEM-1441)
  .github/workflows/ci.yml
Due: none

refactor: consolidate custom exception classes into central module (N… (#2084)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  backend/api/exception_handlers.py
  backend/api/routes/detections.py
  backend/api/routes/prompt_management.py
  backend/api/utils/field_filter.py
  backend/tests/integration/repositories/README.md
  backend/tests/integration/repositories/conftest.py
  backend/tests/integration/repositories/test_base.py
  backend/tests/unit/api/middleware/test_file_validator.py
  backend/tests/unit/api/middleware/test_rate_limit.py
  backend/tests/unit/api/routes/test_ai_audit.py
  backend/tests/unit/api/routes/test_analytics.py
  backend/tests/unit/api/routes/test_cameras.py
  backend/tests/unit/api/routes/test_detections.py
  backend/tests/unit/api/routes/test_entities.py
  backend/tests/unit/api/routes/test_events_routes.py
  backend/tests/unit/api/routes/test_media.py
  backend/tests/unit/api/routes/test_notification_preferences.py
  backend/tests/unit/api/routes/test_system.py
  backend/tests/unit/api/schemas/test_llm.py
  backend/tests/unit/api/test_exception_handlers.py
  backend/tests/unit/core/test_logging_context.py
  backend/tests/unit/models/test_soft_delete.py
  backend/tests/unit/services/test_ai_fallback.py
  backend/tests/unit/services/test_batch_aggregator.py
  backend/tests/unit/services/test_clip_generator.py
  backend/tests/unit/services/test_clip_loader.py
  backend/tests/unit/services/test_container_orchestrator.py
  backend/tests/unit/services/test_context_enricher.py
  frontend/src/components/dashboard/CameraGrid.tsx
  frontend/tailwind.config.js
  frontend/tests/e2e/specs/user-journeys/alert-lifecycle.spec.ts
  frontend/tests/e2e/specs/user-journeys/camera-management.spec.ts
  pyproject.toml
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

feat: 8 parallel agent improvements - RFC 7807, Result type, pagination, and more
  .github/workflows/dependency-audit.yml
  .github/workflows/nightly.yml
  backend/api/routes/events.py
  backend/core/database.py
  backend/core/telemetry.py
  backend/services/detector_client.py
  docs/FRONTEND_PATTERNS.md
  docs/UV_USAGE.md
  frontend/src/__mocks__/AGENTS.md
  frontend/src/__mocks__/index.ts
  frontend/src/components/common/ErrorBoundary.test.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/dashboard/DashboardConfigModal.test.tsx
  frontend/src/components/dashboard/DashboardConfigModal.tsx
  frontend/src/components/dashboard/DashboardLayout.test.tsx
  frontend/src/components/dashboard/DashboardLayout.tsx
  frontend/src/components/dashboard/DashboardPage.test.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/hooks/__mocks__/useEventStream.ts
  frontend/src/hooks/__mocks__/useSystemStatus.ts
  frontend/src/hooks/__mocks__/useWebSocket.ts
  frontend/src/lib/functional.test.ts
  frontend/src/lib/functional.ts
  frontend/src/lib/result.test.ts
  frontend/src/lib/result.ts
  frontend/src/services/__mocks__/api.ts
  frontend/src/stores/AGENTS.md
  frontend/src/stores/dashboardConfig.test.ts
  frontend/src/stores/dashboardConfig.ts
  frontend/tests/e2e/specs/utils-demo.spec.ts
  frontend/tests/e2e/utils/AGENTS.md
  frontend/tests/e2e/utils/browser-helpers.ts
  frontend/tests/e2e/utils/data-generators.ts
  frontend/tests/e2e/utils/index.ts
  frontend/tests/e2e/utils/test-helpers.ts
  frontend/tests/e2e/utils/wait-helpers.ts
Due: prettier-frontend, eslint, typescript-check

fix(e2e): add missing testids and parallel pre-push validation
  .pre-commit-config.yaml
  frontend/src/components/dashboard/ActivityFeed.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/events/EventCard.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/components/settings/CamerasSettings.tsx
  frontend/src/components/settings/SettingsPage.tsx
  frontend/tests/e2e/fixtures/test-data.ts
  frontend/tests/e2e/specs/user-journeys/detection-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/investigation-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/settings-configuration.spec.ts
  scripts/pre-push-tests.sh
Due: prettier-frontend, eslint, typescript-check

fix(e2e): make detection-objects assertion optional and add detections API mock
  frontend/tests/e2e/fixtures/api-mocks.ts
  frontend/tests/e2e/specs/user-journeys/detection-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/investigation-workflow.spec.ts
Due: prettier-frontend, eslint, typescript-check

feat: 8 parallel agent improvements - RFC 7807, Result type, pagination, and more (#2126)
  .github/workflows/dependency-audit.yml
  .github/workflows/nightly.yml
  backend/api/routes/events.py
  backend/core/database.py
  backend/core/telemetry.py
  backend/services/detector_client.py
  docs/FRONTEND_PATTERNS.md
  docs/UV_USAGE.md
  frontend/src/__mocks__/AGENTS.md
  frontend/src/__mocks__/index.ts
  frontend/src/components/common/ErrorBoundary.test.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/dashboard/DashboardConfigModal.test.tsx
  frontend/src/components/dashboard/DashboardConfigModal.tsx
  frontend/src/components/dashboard/DashboardLayout.test.tsx
  frontend/src/components/dashboard/DashboardLayout.tsx
  frontend/src/components/dashboard/DashboardPage.test.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/hooks/__mocks__/useEventStream.ts
  frontend/src/hooks/__mocks__/useSystemStatus.ts
  frontend/src/hooks/__mocks__/useWebSocket.ts
  frontend/src/lib/functional.test.ts
  frontend/src/lib/functional.ts
  frontend/src/lib/result.test.ts
  frontend/src/lib/result.ts
  frontend/src/services/__mocks__/api.ts
  frontend/src/stores/AGENTS.md
  frontend/src/stores/dashboardConfig.test.ts
  frontend/src/stores/dashboardConfig.ts
  frontend/tests/e2e/specs/utils-demo.spec.ts
  frontend/tests/e2e/utils/AGENTS.md
  frontend/tests/e2e/utils/browser-helpers.ts
  frontend/tests/e2e/utils/data-generators.ts
  frontend/tests/e2e/utils/index.ts
  frontend/tests/e2e/utils/test-helpers.ts
  frontend/tests/e2e/utils/wait-helpers.ts
Due: prettier-frontend, eslint, typescript-check

docs: comprehensive AGENTS.md update across entire codebase
  .github/AGENTS.md
  .secrets.baseline
  AGENTS.md
  ai/nemotron/AGENTS.md
  backend/AGENTS.md
  backend/api/AGENTS.md
  backend/api/middleware/AGENTS.md
  backend/api/routes/AGENTS.md
  backend/api/schemas/AGENTS.md
  backend/core/AGENTS.md
  backend/models/AGENTS.md
  backend/services/AGENTS.md
  backend/tests/AGENTS.md
  docs/AGENTS.md
  frontend/AGENTS.md
  frontend/src/AGENTS.md
  frontend/src/components/AGENTS.md
  frontend/src/components/status/AGENTS.md
  frontend/src/hooks/AGENTS.md
  frontend/src/services/AGENTS.md
  scripts/AGENTS.md
Due: prettier-frontend

fix(ci): update docker/login-action to valid SHA
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
Due: none

fix(e2e): E2E test fixes and parallel pre-push validation (NEM-1441) (#2127)
  .pre-commit-config.yaml
  backend/api/AGENTS.md
  frontend/src/__tests__/AGENTS.md
  frontend/src/components/dashboard/ActivityFeed.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/events/EventCard.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/components/settings/CamerasSettings.tsx
  frontend/src/components/settings/SettingsPage.tsx
  frontend/tests/e2e/fixtures/api-mocks.ts
  frontend/tests/e2e/fixtures/test-data.ts
  frontend/tests/e2e/specs/user-journeys/detection-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/investigation-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/settings-configuration.spec.ts
  scripts/pre-push-tests.sh
Due: prettier-frontend, eslint, typescript-check

feat: JavaScript testing patterns improvements (NEM-1501) (#2122)
  frontend/src/test/README.md
  frontend/src/test/factories/index.test.ts
  frontend/src/test/factories/index.ts
  frontend/src/test/matchers.test.ts
  frontend/src/test/matchers.ts
  frontend/src/test/mocks/index.ts
  frontend/src/test/setup.ts
  frontend/src/test/utils.test.tsx
  frontend/src/test/utils.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: prettier-frontend, eslint, typescript-check

docs: comprehensive AGENTS.md update + fix(ci): docker/login-action SHA (#2128)
  .github/AGENTS.md
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  .secrets.baseline
  AGENTS.md
  ai/nemotron/AGENTS.md
  backend/AGENTS.md
  backend/api/AGENTS.md
  backend/api/middleware/AGENTS.md
  backend/api/routes/AGENTS.md
  backend/api/schemas/AGENTS.md
  backend/core/AGENTS.md
  backend/models/AGENTS.md
  backend/services/AGENTS.md
  backend/tests/AGENTS.md
  docs/AGENTS.md
  frontend/AGENTS.md
  frontend/src/AGENTS.md
  frontend/src/components/AGENTS.md
  frontend/src/components/status/AGENTS.md
  frontend/src/hooks/AGENTS.md
  frontend/src/services/AGENTS.md
  scripts/AGENTS.md
Due: prettier-frontend

fix(e2e): resolve flaky test-helpers.ts errors in CI
  frontend/tests/e2e/utils/browser-helpers.ts
  frontend/tests/e2e/utils/test-helpers.ts
Due: prettier-frontend, eslint, typescript-check

fix: stabilize flaky E2E demo tests with timeouts and skips
  frontend/tests/e2e/specs/utils-demo.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix(test): increase timing threshold for admin API key security test
  backend/tests/integration/test_admin_api.py
Due: check-test-mocks, check-test-timeouts

fix(e2e): resolve flaky test-helpers.ts errors in CI (#2135)
  backend/tests/integration/test_admin_api.py
  frontend/tests/e2e/specs/utils-demo.spec.ts
  frontend/tests/e2e/utils/browser-helpers.ts
  frontend/tests/e2e/utils/test-helpers.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix(ci): resolve Vulture dead code warnings in test files
  backend/tests/unit/api/routes/test_cameras.py
  backend/tests/unit/api/routes/test_entities.py
  backend/tests/unit/api/routes/test_media.py
Due: check-test-timeouts

feat(ci): auto-create Linear issues for main branch CI failures
  .github/workflows/linear-ci-status.yml
Due: none

fix(ci): resolve CI failures + auto-create Linear issues for main branch failures (#2196)
  .github/workflows/linear-ci-status.yml
  backend/tests/unit/api/routes/test_cameras.py
  backend/tests/unit/api/routes/test_entities.py
  backend/tests/unit/api/routes/test_media.py
Due: check-test-timeouts

feat(ci): add CI gate job and improve non-blocking workflow handling (#1585)
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
Due: none

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
