Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$

fix: resolve RecursionError in test datetime helpers
  backend/tests/integration/test_alert_models.py
  backend/tests/integration/test_models.py
Due: check-test-mocks, check-test-timeouts

fix: resolve double-slash health check URLs + add docs
  backend/core/config.py
  docker-compose.prod.yml
  llms-full.txt
  llms.txt
  scripts/setup-systemd.sh
Due: none

fix: update test files to use naive datetimes for model compatibility
  backend/tests/integration/test_alert_dedup.py
  backend/tests/integration/test_alert_engine.py
Due: check-test-mocks, check-test-timeouts

feat: enable GPU stats from AI containers
  ai/nemotron/Dockerfile
  backend/services/gpu_monitor.py
Due: none

fix: use naive datetimes in integration tests for DB compatibility
  backend/tests/integration/test_alert_dedup.py
  backend/tests/integration/test_alert_engine.py
Due: check-test-mocks, check-test-timeouts

test: update config tests for URL trailing slash fix
  backend/tests/unit/test_config.py
Due: check-test-timeouts

fix: update WebSocket tests with valid event data
  backend/tests/integration/test_websocket.py
Due: check-test-mocks, check-test-timeouts

fix: use naive datetimes in alert services for DB compatibility
  backend/services/alert_dedup.py
  backend/services/alert_engine.py
Due: none

feat: add systemd frontend→backend dependency for DNS fix
  frontend/nginx.conf
  llms-full.txt
  scripts/setup-systemd.sh
Due: none

docs: add systemd orphaned container cleanup and container list
  llms-full.txt
  llms.txt
  scripts/setup-systemd.sh
Due: none

feat: add macOS/Windows auto-start scripts + fix GPU test DB conflict
  .github/workflows/gpu-tests.yml
  llms-full.txt
  llms.txt
  scripts/setup-launchd.sh
  scripts/setup-windows.ps1
Due: none

fix: resolve 11 P0/P1 bugs across frontend, backend, and Redis services
  README.md
  backend/core/config.py
  backend/main.py
  backend/services/batch_aggregator.py
  backend/services/degradation_manager.py
  backend/services/event_broadcaster.py
  backend/services/health_monitor.py
  backend/services/retry_handler.py
  backend/services/service_managers.py
  backend/services/system_broadcaster.py
  backend/tests/integration/test_batch_aggregator_integration.py
  backend/tests/integration/test_pipeline_e2e.py
  backend/tests/unit/test_batch_aggregator.py
  backend/tests/unit/test_degradation_manager.py
  backend/tests/unit/test_event_broadcaster.py
  backend/tests/unit/test_health_monitor.py
  backend/tests/unit/test_pipeline_worker.py
  backend/tests/unit/test_retry_handler.py
  backend/tests/unit/test_service_managers.py
  docs/getting-started/first-run.md
  frontend/src/components/dashboard/RiskGauge.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/hooks/useHealthStatus.ts
  frontend/src/hooks/useWebSocket.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: add _create_scan_iter_mock to MockRedisClient for batch timeout test
  backend/tests/integration/test_pipeline_e2e.py
Due: check-test-mocks, check-test-timeouts

chore: temporarily lower branch coverage threshold to 84%
  frontend/vite.config.ts
Due: prettier-frontend, eslint, typescript-check

fix: add _create_scan_iter_mock to MockRedisClient for batch timeout test
  .beads/issues.jsonl
Due: none

fix: resolve all 17 P1 audit findings via parallel agent dispatch
  .beads/issues.jsonl
  backend/api/middleware/rate_limit.py
  backend/api/routes/system.py
  backend/api/schemas/queue.py
  backend/core/config.py
  backend/main.py
  backend/services/baseline.py
  backend/services/circuit_breaker.py
  backend/services/cleanup_service.py
  backend/services/degradation_manager.py
  backend/services/detector_client.py
  backend/services/file_watcher.py
  backend/services/health_monitor.py
  backend/services/nemotron_analyzer.py
  backend/services/pipeline_workers.py
  backend/services/retry_handler.py
  backend/services/service_managers.py
  backend/services/system_broadcaster.py
  backend/services/thumbnail_generator.py
  backend/tests/integration/test_baseline.py
  backend/tests/integration/test_health_monitor_integration.py
  backend/tests/integration/test_nemotron_analyzer.py
  backend/tests/unit/test_audit.py
  backend/tests/unit/test_circuit_breaker.py
  backend/tests/unit/test_dlq_api.py
  backend/tests/unit/test_file_watcher.py
  backend/tests/unit/test_nemotron_analyzer.py
  backend/tests/unit/test_pipeline_workers.py
  backend/tests/unit/test_redis.py
  backend/tests/unit/test_service_managers.py
  docs/RUNTIME_CONFIG.md
  scripts/validate.sh
Due: check-test-mocks, check-test-timeouts

fix: resolve 9 P0 bugs from Wave 2 Deep Audit
  backend/alembic/versions/add_clip_path_column.py
  backend/alembic/versions/fix_datetime_timezone.py
  backend/api/routes/events.py
  backend/api/routes/system.py
  backend/core/redis.py
  backend/models/alert.py
  backend/models/zone.py
  backend/services/event_broadcaster.py
  backend/tests/integration/test_alert_models.py
  backend/tests/unit/test_events_routes.py
  backend/tests/unit/test_redis.py
  backend/tests/unit/test_system_routes.py
Due: check-test-mocks, check-test-timeouts

ci: add timeout and make integration tests non-blocking
  .github/workflows/ci.yml
  backend/services/event_broadcaster.py
  backend/tests/unit/test_event_broadcaster.py
Due: check-test-timeouts

ci: make GPU Integration Tests non-blocking
  .github/workflows/gpu-tests.yml
Due: none

fix: resolve timezone comparison errors in alert dedup service/tests
  backend/services/alert_dedup.py
  backend/tests/unit/test_alert_dedup.py
Due: check-test-timeouts

test: expand unit tests for cleanup service, alert dedup, and nemotron analyzer
  backend/services/clip_generator.py
  backend/tests/conftest.py
  backend/tests/integration/test_media_api.py
  backend/tests/unit/test_alert_dedup.py
  backend/tests/unit/test_cleanup_service.py
  backend/tests/unit/test_nemotron_analyzer.py
  pytest.ini
Due: check-test-mocks, check-test-timeouts
