Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$

refactor: complete RT-DETR to YOLO26 migration in .github
  backend/core/AGENTS.md
  backend/core/__init__.py
  backend/core/config.py
  backend/core/exceptions.py
  backend/core/logging.py
  backend/core/metrics.py
  backend/core/otel_metrics.py
  backend/core/protocols.py
  backend/core/sanitization.py
  backend/core/telemetry.py
  backend/core/telemetry_ai_conventions.py
  backend/core/websocket/event_schemas.py
Due: none

refactor: complete RT-DETR to YOLO26 migration in scripts/monitoring/frontend
  backend/api/schemas/AGENTS.md
  backend/models/AGENTS.md
  docker-compose.prod.yml
  monitoring/AGENTS.md
  scripts/AI_STARTUP_README.md
  scripts/benchmark_yolo26_accuracy.py
  scripts/benchmark_yolo26_container.py
  scripts/benchmark_yolo26_gpu.py
  scripts/benchmark_yolo26_latency.py
Due: none

refactor(backend/core): complete RT-DETR to YOLO26 migration
  backend/core/__init__.py
Due: none

refactor(backend/services): complete RT-DETR to YOLO26 migration
  backend/services/AGENTS.md
  backend/services/container_discovery.py
Due: check-integration-tests

refactor(backend/core): complete RT-DETR to YOLO26 migration
  backend/core/AGENTS.md
  backend/core/__init__.py
Due: none

refactor: complete RT-DETR to YOLO26 migration - final cleanup
  ai/AGENTS.md
  docs/openapi.json
Due: none

fix: update display name YOLO26v2 -> YOLO26 and regenerate snapshots
  .secrets.baseline
  backend/services/container_discovery.py
  backend/tests/unit/api/schemas/__snapshots__/test_response_schema_snapshots.ambr
Due: check-integration-tests

test: regenerate schema snapshots
  backend/tests/unit/api/schemas/__snapshots__/test_response_schema_snapshots.ambr
Due: none

docs: complete RT-DETR to YOLO26 migration
  backend/tests/unit/api/routes/test_health_ai_services.py
  backend/tests/unit/api/routes/test_health_full.py
  backend/tests/unit/core/test_config_validation.py
  backend/tests/unit/routes/test_system_routes.py
  backend/tests/unit/services/test_gpu_monitor.py
  backend/tests/unit/services/test_performance_collector.py
  backend/tests/unit/test_main.py
  docs/architecture/data-model/auxiliary-tables.md
  docs/architecture/dataflows/README.md
  docs/architecture/dataflows/error-recovery-flow.md
  docs/architecture/dataflows/image-to-event.md
  docs/benchmarks/yolo26-benchmarks.md
  docs/openapi.json
Due: check-test-timeouts

test: regenerate all schema snapshots
  .secrets.baseline
  backend/tests/unit/api/schemas/__snapshots__/test_response_schema_snapshots.ambr
Due: none

fix: resolve ruff errors from rebase conflicts
  .secrets.baseline
  ai/yolo26/model.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
  scripts/benchmark_yolo26_accuracy.py
  scripts/benchmark_yolo26_latency.py
Due: prettier-frontend, eslint, typescript-check

fix: resolve CI failures - test LogRecord conflict and CVE-2026-24486
  backend/tests/unit/api/routes/test_scheduled_reports.py
  pyproject.toml
  uv.lock
Due: uv-lock-check, check-test-timeouts

style: auto-format files via pre-push hooks
  backend/api/schemas/AGENTS.md
  backend/core/AGENTS.md
  backend/models/AGENTS.md
  backend/services/AGENTS.md
  docs/architecture/data-model/auxiliary-tables.md
  docs/architecture/dataflows/README.md
  docs/architecture/dataflows/error-recovery-flow.md
  docs/architecture/dataflows/image-to-event.md
  monitoring/AGENTS.md
  scripts/AI_STARTUP_README.md
  scripts/benchmark_yolo26_container.py
  scripts/benchmark_yolo26_gpu.py
Due: none

test: regenerate response schema snapshots
  .secrets.baseline
  backend/tests/unit/api/schemas/__snapshots__/test_response_schema_snapshots.ambr
Due: none

fix: align container discovery config with test expectations
  backend/services/container_discovery.py
  backend/tests/unit/services/test_container_discovery.py
Due: check-test-timeouts, check-integration-tests

fix: implement standalone OSNet architecture for Person Re-ID (NEM-3861)
  ai/enrichment-light/models/person_reid.py
  ai/enrichment-light/requirements.txt
  ai/enrichment/models/person_reid.py
  ai/enrichment/requirements.txt
  ai/enrichment/tests/test_person_reid.py
Due: none

fix: resolve mypy type errors in OSNet person_reid module
  ai/enrichment-light/models/person_reid.py
  ai/enrichment/models/person_reid.py
Due: none

fix: implement standalone OSNet for Person Re-ID and verify AI pipeline features (NEM-3861) (#4474)
  ai/enrichment-light/models/person_reid.py
  ai/enrichment-light/requirements.txt
  ai/enrichment/models/person_reid.py
  ai/enrichment/requirements.txt
  ai/enrichment/tests/test_person_reid.py
Due: none

fix: add hadolint ignores for pre-existing Dockerfile warnings
  ai/nemotron/Dockerfile
Due: none

fix(tests): correct async context manager mocking in get_db tests
  backend/tests/unit/core/test_database_pool.py
Due: check-test-timeouts

fix: lower Nemotron temperature for consistent risk scoring (NEM-3734)
  backend/services/nemotron_analyzer.py
Due: check-integration-tests

feat(scripts): add parallel AI builds and local base image to redeploy
  scripts/redeploy.sh
Due: none

fix(scripts): correct base image tag to match backend Dockerfile
  scripts/redeploy.sh
Due: none

fix: lower Nemotron temperature for consistent risk scoring (NEM-3734) (#4479)
  backend/services/nemotron_analyzer.py
Due: check-integration-tests

feat(scripts): parallel AI builds and local base image in redeploy (#4480)
  scripts/redeploy.sh
Due: none

chore(deps): bump NVIDIA base images (TensorRT 25.12, CUDA 13.1.1) (#4478)
  ai/clip/Dockerfile
  ai/nemotron/Dockerfile
  ai/nemotron/Dockerfile.hf
  ai/yolo26/Dockerfile
  backend/tests/unit/core/test_database_pool.py
Due: check-test-timeouts

chore(deps): merge GitHub Actions updates (#4452, #4451, #4450)
  .github/workflows/accessibility-tests.yml
  .github/workflows/agents-md.yml
  .github/workflows/bundle-size.yml
  .github/workflows/ci-analytics.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/lighthouse.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/nightly.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/prompt-evaluation.yml
  .github/workflows/python-freethreaded.yml
  .github/workflows/semantic-release.yml
  .github/workflows/visual-tests.yml
  .github/workflows/vulnerability-management.yml
  .github/workflows/weekly-audit.yml
  .github/workflows/weekly-test-report.yml
Due: none

chore(deps): merge dependabot updates (#4461, #4427, #4426)
  requirements-audit.txt
Due: none

fix: revert eslint-plugin-react-hooks to 5.2.0
  frontend/bun.lock
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, npm-install-check

chore(deps): merge remaining dependabot updates (#4453, #4449)
  .github/workflows/deploy.yml
  frontend/bun.lock
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, npm-install-check

feat: add NVIDIA Cosmos video generation infrastructure for synthetic data
  data/synthetic/cosmos/HANDOFF.md
  data/synthetic/cosmos/generation_manifest.yaml
  data/synthetic/cosmos/generation_status.json
  data/synthetic/cosmos/prompts/templates/actions/approach_door.yaml
  data/synthetic/cosmos/prompts/templates/actions/circle_house.yaml
  data/synthetic/cosmos/prompts/templates/actions/deliver_package.yaml
  data/synthetic/cosmos/prompts/templates/actions/exit_vehicle.yaml
  data/synthetic/cosmos/prompts/templates/actions/force_entry.yaml
  data/synthetic/cosmos/prompts/templates/actions/loiter.yaml
  data/synthetic/cosmos/prompts/templates/actions/normal_entry.yaml
  data/synthetic/cosmos/prompts/templates/actions/test_handle.yaml
  data/synthetic/cosmos/prompts/templates/base_prompt.jinja2
  data/synthetic/cosmos/prompts/templates/environments/day_clear.yaml
  data/synthetic/cosmos/prompts/templates/environments/day_overcast.yaml
  data/synthetic/cosmos/prompts/templates/environments/dusk_clear.yaml
  data/synthetic/cosmos/prompts/templates/environments/night_clear.yaml
  data/synthetic/cosmos/prompts/templates/environments/night_rain.yaml
  data/synthetic/cosmos/prompts/templates/scenes/backyard.yaml
  data/synthetic/cosmos/prompts/templates/scenes/driveway.yaml
  data/synthetic/cosmos/prompts/templates/scenes/front_porch.yaml
  data/synthetic/cosmos/prompts/templates/scenes/side_yard.yaml
  data/synthetic/cosmos/prompts/templates/subjects/person_intruder.yaml
  data/synthetic/cosmos/prompts/templates/subjects/person_normal.yaml
  data/synthetic/cosmos/prompts/templates/subjects/person_resident.yaml
  data/synthetic/cosmos/prompts/templates/subjects/person_suspicious.yaml
  data/synthetic/cosmos/prompts/templates/subjects/vehicle_known.yaml
  data/synthetic/cosmos/prompts/templates/subjects/vehicle_unknown.yaml
  docs/plans/2026-01-27-cosmos-video-generation-design.md
  scripts/cosmos_prompt_generator.py
Due: none

chore(deps): consolidate dependabot updates (#4477)
  .github/workflows/accessibility-tests.yml
  .github/workflows/agents-md.yml
  .github/workflows/bundle-size.yml
  .github/workflows/ci-analytics.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/lighthouse.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/nightly.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/prompt-evaluation.yml
  .github/workflows/python-freethreaded.yml
  .github/workflows/semantic-release.yml
  .github/workflows/visual-tests.yml
  .github/workflows/vulnerability-management.yml
  .github/workflows/weekly-audit.yml
  .github/workflows/weekly-test-report.yml
  frontend/bun.lock
  frontend/package-lock.json
  frontend/package.json
  requirements-audit.txt
Due: prettier-frontend, npm-install-check
