Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

generate-api-types:
  name: Generate TypeScript API Types
  entry: bash -c './scripts/generate-types.sh && git add frontend/src/types/generated/api.ts'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv lock file is up-to-date
  entry: bash -c 'cd "$0" && uv lock --check' .
  language: system
  pass_filenames: false

npm-install-check:
  name: Check npm dependencies are installed
  entry: bash -c 'cd frontend && npm ci --prefer-offline --no-audit --dry-run'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-validation-drift:
  name: Check validation drift (Pydantic/Zod)
  entry: python3 scripts/check-validation-drift.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

fix: Florence-2 processor init, YOLO detection thresholds, seed camera routing
  ai/gateway/adapters/florence.py
  ai/triton/model_repository/florence2/1/model.py
  backend/core/config.py
  backend/tests/integration/test_system_api.py
  scripts/seed-events.py
Due: check-test-mocks, check-test-timeouts

fix: Florence-2 task prompt conversion — keep separate tokenizer, add prompt map
  ai/triton/model_repository/florence2/1/model.py
Due: none

chore: update validation report
  data/synthetic/validation_report.json
Due: none

feat: enable llama.cpp prompt caching via cache_prompt API parameter
  ai/nemotron/Dockerfile
  backend/services/nemotron_analyzer.py
Due: check-integration-tests

docs: add AI pipeline evaluation reports from remediation session
  data/ai-pipeline-evaluation/00-triton-validation.md
  data/ai-pipeline-evaluation/01-llama-cpp-llm-evaluation.md
  data/ai-pipeline-evaluation/02-yolo-tensorrt-evaluation.md
  data/ai-pipeline-evaluation/03-florence2-clip-evaluation.md
  data/ai-pipeline-evaluation/04-fastapi-backend-evaluation.md
  data/ai-pipeline-evaluation/05-enrichment-pipeline-evaluation.md
  data/ai-pipeline-evaluation/06-monitoring-infrastructure-evaluation.md
  data/ai-pipeline-evaluation/SYNTHESIS-REPORT.md
Due: none

fix: remove orphaned merge conflict marker in frontend schemas
  frontend/src/schemas/index.ts
Due: prettier-frontend, eslint, typescript-check, check-validation-drift

chore: stage remaining test and evaluation script changes
  backend/tests/unit/services/test_detector_client.py
  data/ai-pipeline-evaluation/create_linear_epic.py
Due: check-test-timeouts

test: update detector client integration test for lowered thresholds
  backend/tests/integration/test_detector_client_integration.py
Due: check-test-mocks, check-test-timeouts

fix: update detector_client integration test for lowered YOLO thresholds
  backend/tests/integration/test_detector_client_integration.py
Due: check-test-mocks, check-test-timeouts

fix: correct persisted detection count in integration test
  backend/tests/integration/test_detector_client_integration.py
Due: check-test-mocks, check-test-timeouts

fix: add 'ci' to valid environment values for docs workflow
  backend/core/config.py
Due: none

fix: add 'ci' to valid environment values for docs workflow (#6335)
  backend/core/config.py
Due: none

chore: stage validation report and pipeline evaluation scripts
  data/ai-pipeline-evaluation/07-sota-vision-models-research.md
  data/ai-pipeline-evaluation/08-model-serving-optimization-research.md
  data/ai-pipeline-evaluation/create_serving_subtasks.py
  data/ai-pipeline-evaluation/create_sota_subtasks.py
  data/ai-pipeline-evaluation/hydrate_5566.py
  data/ai-pipeline-evaluation/hydrate_subtasks.py
  data/ai-pipeline-evaluation/hydrate_thin_subtasks.py
  data/ai-pipeline-evaluation/reprioritize_sprint0.py
  data/synthetic/validation_report.json
Due: none

fix: resolve 20 UI bugs from post-redeployment audit (NEM-5584)
  .env.example
  .secrets.baseline
  backend/api/routes/ai_audit.py
  backend/api/routes/alerts.py
  backend/api/routes/backup.py
  backend/api/routes/cost_analytics.py
  backend/api/routes/face_recognition.py
  backend/api/routes/gpu_config.py
  backend/api/routes/system.py
  backend/api/routes/zone_anomalies.py
  backend/api/schemas/ai_audit.py
  backend/api/schemas/plate_read.py
  backend/services/alpr_service.py
  docs/openapi.json
  frontend/src/components/ai-performance/AIPerformanceSummaryRow.tsx
  frontend/src/components/dashboard/SummaryCards.a11y.test.tsx
  frontend/src/components/dashboard/SummaryCards.test.tsx
  frontend/src/components/dashboard/SummaryCards.tsx
  frontend/src/components/face-recognition/PersonTrackingTab.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/pages/HouseholdPage.tsx
  frontend/src/pages/SceneChangesPage.test.tsx
  frontend/src/pages/SceneChangesPage.tsx
  frontend/src/types/generated/api.ts
  monitoring/prometheus.yml
  scripts/seed-events.py
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-validation-drift, check-integration-tests

chore: remove deprecated redeploy.py module
  scripts/redeploy.py
  scripts/redeploy/__init__.py
  scripts/redeploy/cli.py
  scripts/redeploy/core/__init__.py
  scripts/redeploy/core/output.py
  scripts/redeploy/core/process.py
  scripts/redeploy/core/runtime.py
  scripts/redeploy/models.py
  scripts/redeploy/orchestrator.py
  scripts/redeploy/services/__init__.py
  scripts/redeploy/services/builder.py
  scripts/redeploy/services/containers.py
  scripts/redeploy/services/database.py
  scripts/redeploy/services/git.py
  scripts/redeploy/services/health.py
  scripts/redeploy/services/storage.py
  scripts/redeploy/services/tensorrt.py
Due: none

fix: resolve CI test failures — bounded_gather ordering, cascading test updates
  backend/core/async_utils.py
  backend/tests/unit/api/routes/test_cost_analytics.py
  backend/tests/unit/api/routes/test_system.py
  backend/tests/unit/routes/test_system_performance_cache.py
  backend/tests/unit/services/test_enrichment_pipeline.py
Due: check-test-timeouts

fix: update tests for graceful degradation and httpx pooling changes
  backend/tests/unit/api/routes/test_gpu_config.py
  backend/tests/unit/services/test_nemotron_guided_json.py
Due: check-test-timeouts

fix: deploy-gateway.sh — tolerate export failures, fix observability services, reduce GPU layers
  scripts/deploy-gateway.sh
Due: none

fix: ST-GCN++ architecture — match pyskl checkpoint structure for Triton serving
  ai/triton/model_repository/stgcn_action/config.pbtxt
  backend/services/stgcn_loader.py
Due: check-integration-tests

feat: quick win optimizations — INT8 quantization, YOLO26 INT8 export, FastALPR (NEM-5550, NEM-5547, NEM-5569)
  ai/gateway/export/export_all.sh
  ai/gateway/export/export_yolo26.py
  ai/triton/model_repository/yolo26/config.pbtxt
  backend/services/enrichment_pipeline.py
  backend/services/fast_alpr_loader.py
  backend/services/model_zoo.py
  backend/tests/integration/services/test_fast_alpr_loader.py
  docker-compose.prod.yml
  pyproject.toml
  scripts/download-model-zoo.py
  uv.lock
Due: uv-lock-check, check-test-mocks, check-test-timeouts, check-integration-tests

feat: promote 5 CPU models to GPU for ~2x speedup (NEM-5551)
  ai/gateway/export/export_all.sh
  ai/triton/model_repository/depth/config.pbtxt
  ai/triton/model_repository/pet/config.pbtxt
  ai/triton/model_repository/pose/config.pbtxt
  ai/triton/model_repository/reid/config.pbtxt
  ai/triton/model_repository/threat/config.pbtxt
Due: none

chore: sync download scripts and compose files with model upgrades
  docker-compose.ghcr.yml
  docker-compose.prod.yml
  scripts/download_models.py
  scripts/download_models.sh
  setup_lib/model_downloader.py
Due: none

fix: resolve 9 mypy type errors in stgcn_loader, zero_dce_loader, fast_alpr_loader
  backend/services/fast_alpr_loader.py
  backend/services/stgcn_loader.py
  backend/services/zero_dce_loader.py
Due: check-integration-tests

fix: stale script references, unblock GitHub Pages deployment
  .github/workflows/docs.yml
  ai/enrichment-light/models/AGENTS.md
  ai/enrichment/models/AGENTS.md
  backend/core/config.py
  scripts/benchmark_model_zoo.py
  scripts/collect-calibration-frames.py
  scripts/prebuild-tensorrt-engines.sh
  scripts/seed-events.py
  scripts/test_ai_pipeline_e2e.py
  scripts/test_model_outputs.py
  scripts/test_model_outputs_comprehensive.py
Due: none

fix: update 9 unit tests for NEM-5563/5566/5569 model upgrades
  backend/tests/unit/services/test_enrichment_parallelization.py
  backend/tests/unit/services/test_enrichment_pipeline.py
  backend/tests/unit/test_benchmark_vram.py
Due: check-test-timeouts

fix: remove invalid --merge-qkv flag, promote enrichment models to GPU default
  ai/enrichment/model_registry.py
  ai/nemotron/Dockerfile
Due: none

perf: parallelize deploy-gateway.sh builds and model export
  scripts/deploy-gateway.sh
Due: none

fix: deploy-gateway.sh LLM OOM — use GPU_LAYERS=auto instead of 999
  scripts/deploy-gateway.sh
Due: none

fix: Triton model configs — ONNX on GPU for all models, fix clip/florence2
  ai/triton/model_repository/clip/config.pbtxt
  ai/triton/model_repository/florence2/config.pbtxt
  ai/triton/model_repository/pose/config.pbtxt
  ai/triton/model_repository/threat/config.pbtxt
  ai/triton/model_repository/yolo26/config.pbtxt
Due: none

feat: refactor deploy to podman compose — gateway mode is now default
  docker-compose.gateway.yml
  docker-compose.prod.yml
  scripts/deploy-gateway.sh
Due: none

fix: update clip_loader and enrichment_pipeline tests for model upgrades
  backend/tests/integration/test_enrichment_pipeline.py
  backend/tests/unit/services/test_clip_loader.py
Due: check-test-mocks, check-test-timeouts

fix: use compose build instead of manual podman build in deploy script
  scripts/deploy-gateway.sh
Due: none

feat: auto-detect cached model exports in deploy script
  scripts/deploy-gateway.sh
Due: none

fix: add Podman CDI device passthrough for GPU services in compose
  docker-compose.prod.yml
Due: none

fix: increase ai-gateway health check start_period, relax backend dependency
  docker-compose.gateway.yml
  docker-compose.prod.yml
Due: none

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
