Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$

fix: audit remediation - healthchecks, video pipeline, Redis handling, MIME types
  backend/api/middleware/auth.py
  backend/api/routes/detections.py
  backend/api/routes/system.py
  backend/core/__init__.py
  backend/core/config.py
  backend/core/mime_types.py
  backend/core/redis.py
  backend/models/README.md
  backend/services/detector_client.py
  backend/services/pipeline_workers.py
  backend/services/video_processor.py
  backend/tests/e2e/test_pipeline_integration.py
  backend/tests/integration/test_detector_client_integration.py
  backend/tests/integration/test_system_api.py
  backend/tests/unit/test_auth_middleware.py
  backend/tests/unit/test_detector_client.py
  backend/tests/unit/test_mime_types.py
  backend/tests/unit/test_pipeline_workers.py
  backend/tests/unit/test_system_routes.py
  backend/tests/unit/test_video_support.py
  pyproject.toml
  scripts/migrate-file-types.py
Due: check-test-mocks, check-test-timeouts

fix: audit remediation batch 2 - camera contract, CI, nginx, scripts, docs
  .github/workflows/ci.yml
  backend/api/middleware/auth.py
  backend/api/routes/AGENTS.md
  backend/examples/AGENTS.md
  backend/models/camera.py
  backend/services/file_watcher.py
  backend/tests/AGENTS.md
  backend/tests/unit/test_auth_middleware.py
  backend/tests/unit/test_file_watcher.py
  docs/AI_SETUP.md
  docs/plans/2024-12-21-dashboard-mvp-design.md
  frontend/nginx.conf
  frontend/tests/e2e/AGENTS.md
  frontend/vite.config.ts
  scripts/generate-types.sh
  scripts/setup.sh
  scripts/smoke-test.sh
  scripts/test-docker.sh
  scripts/test-runner.sh
  scripts/validate.sh
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: audit remediation - docs, scripts, CI, and FileWatcher improvements
  .env.example
  .github/workflows/ci.yml
  backend/core/config.py
  backend/examples/AGENTS.md
  backend/services/file_watcher.py
  backend/tests/AGENTS.md
  backend/tests/unit/test_config.py
  backend/tests/unit/test_file_watcher.py
  docs/RUNTIME_CONFIG.md
  scripts/smoke-test.sh
  scripts/test-docker.sh
Due: check-test-timeouts

fix: audit remediation batch 2 - Docker, AI, auth, health monitor
  ai/rtdetr/model.py
  ai/start_detector.sh
  ai/start_llm.sh
  ai/start_nemotron.sh
  backend/Dockerfile
  backend/Dockerfile.prod
  backend/api/routes/admin.py
  backend/api/routes/dlq.py
  backend/api/routes/system.py
  backend/main.py
  backend/tests/unit/test_system_routes.py
  data/AGENTS.md
  frontend/src/components/common/ServiceStatusAlert.test.tsx
  frontend/src/components/common/ServiceStatusAlert.tsx
  frontend/src/components/settings/AGENTS.md
  frontend/src/hooks/AGENTS.md
  frontend/src/hooks/useServiceStatus.test.ts
  frontend/src/hooks/useServiceStatus.ts
  scripts/seed-cameras.py
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: audit remediation batch 3 - data integrity and queue safety
  backend/api/routes/AGENTS.md
  backend/api/routes/system.py
  backend/core/__init__.py
  backend/core/redis.py
  backend/models/AGENTS.md
  backend/models/README.md
  backend/services/detector_client.py
  backend/services/pipeline_workers.py
  backend/tests/e2e/test_pipeline_integration.py
  backend/tests/integration/test_detector_client_integration.py
  backend/tests/integration/test_pipeline_e2e.py
  backend/tests/unit/test_detector_client.py
  backend/tests/unit/test_redis.py
  backend/tests/unit/test_system_routes.py
  backend/tests/unit/test_telemetry_api.py
  docs/plans/AGENTS.md
Due: check-test-mocks, check-test-timeouts

fix: audit batch 3 - RT-DETR reliability, queue safety, PostgreSQL migration
  .env.example
  CLAUDE.md
  README.md
  backend/api/routes/AGENTS.md
  backend/api/routes/events.py
  backend/api/routes/system.py
  backend/core/config.py
  backend/core/database.py
  backend/core/logging.py
  backend/core/redis.py
  backend/models/README.md
  backend/models/log.py
  backend/requirements-prod.txt
  backend/requirements.txt
  backend/services/__init__.py
  backend/services/detector_client.py
  backend/services/pipeline_workers.py
  backend/tests/conftest.py
  backend/tests/e2e/conftest.py
  backend/tests/integration/AGENTS.md
  backend/tests/integration/conftest.py
  backend/tests/unit/test_config.py
  backend/tests/unit/test_database.py
  backend/tests/unit/test_detector_client.py
  backend/tests/unit/test_events_routes.py
  backend/tests/unit/test_pipeline_workers.py
  backend/tests/unit/test_redis.py
  backend/tests/unit/test_system_routes.py
  docs/RUNTIME_CONFIG.md
Due: check-test-mocks, check-test-timeouts

fix: resolve mypy type error and regenerate API types
  backend/services/file_watcher.py
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

chore: regenerate TypeScript types from OpenAPI schema
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: update tests to work with PostgreSQL-only configuration
  .github/workflows/ci.yml
  backend/tests/unit/test_benchmarks.py
  backend/tests/unit/test_database_postgres.py
  backend/tests/unit/test_logging.py
  backend/tests/unit/test_models.py
Due: check-test-timeouts

chore: update documentation and configs from stash
  .github/AGENTS.md
  .github/workflows/AGENTS.md
  ai/nemotron/config.json
  backend/models/AGENTS.md
  package-lock.json
Due: none

chore: regenerate TypeScript types after merge
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: use timezone-aware DateTime columns for PostgreSQL compatibility
  backend/models/camera.py
  backend/models/detection.py
  backend/models/event.py
  backend/models/gpu_stats.py
  backend/models/log.py
  backend/services/cleanup_service.py
  backend/tests/conftest.py
  backend/tests/unit/test_cleanup_service.py
Due: check-test-timeouts

fix: disable parallel test execution to fix database race conditions
  .github/workflows/ci.yml
Due: none

fix: update test imports for renamed classes
  backend/tests/e2e/test_pipeline_integration.py
  backend/tests/integration/test_detector_client_integration.py
  backend/tests/integration/test_pipeline_e2e.py
  backend/tests/unit/test_redis.py
Due: check-test-mocks, check-test-timeouts

fix: update test fixtures and skip outdated redis tests
  backend/tests/conftest.py
  backend/tests/unit/test_redis.py
Due: check-test-timeouts

fix: test isolation and API attribute fixes for CI
  backend/tests/conftest.py
  backend/tests/integration/test_alembic_migrations.py
  backend/tests/unit/test_database.py
  backend/tests/unit/test_redis.py
  backend/tests/unit/test_telemetry_api.py
Due: check-test-mocks, check-test-timeouts

fix: timezone-aware datetime in unit tests
  backend/tests/unit/test_models.py
  backend/tests/unit/test_nemotron_analyzer.py
  backend/tests/unit/test_redis.py
Due: check-test-timeouts

fix: improve test isolation with raw connection TRUNCATE
  backend/tests/conftest.py
  pyproject.toml
Due: check-test-timeouts

ci: add explicit coverage threshold to unit tests
  .github/workflows/ci.yml
Due: none

fix: integration test isolation and error message assertions
  .pre-commit-config.yaml
  backend/tests/conftest.py
  backend/tests/integration/test_detector_client_integration.py
  backend/tests/integration/test_events_api.py
  backend/tests/integration/test_pipeline_e2e.py
Due: check-test-mocks, check-test-timeouts
