Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$

fix(tests): resolve snapshot test environment inconsistencies
  frontend/src/components/detection/BoundingBoxOverlay.tsx
  frontend/src/components/detection/__snapshots__/BoundingBoxOverlay.test.tsx.snap
  frontend/src/components/events/ThumbnailStrip.tsx
  frontend/src/components/events/__snapshots__/ThumbnailStrip.test.tsx.snap
Due: prettier-frontend, eslint, typescript-check

fix(ci): correct NODE_VERSION env var references and gitignore profiles (#2025)
  .github/workflows/ci.yml
  .gitignore
Due: none

feat: batch infrastructure improvements (NEM-1435, NEM-1436, NEM-1580, NEM-1458, NEM-1475, NEM-1419, NEM-1420, NEM-1476) (#2052)
  .github/workflows/linear-github-sync.yml
  .github/workflows/nightly.yml
  .github/workflows/sast.yml
  ai/clip/Dockerfile
  ai/enrichment/Dockerfile
  ai/florence/Dockerfile
  ai/rtdetr/Dockerfile
  backend/core/database.py
  backend/core/metrics.py
  backend/services/face_detector.py
  backend/services/file_watcher.py
  backend/services/ocr_service.py
  backend/services/plate_detector.py
  backend/tests/unit/core/test_slow_query_logging.py
  docs/DEPLOYMENT_RUNBOOK.md
  docs/DEPLOYMENT_SAFETY_CHECKLIST.md
  docs/DEPLOYMENT_TROUBLESHOOTING.md
  docs/SERVICE_DEPENDENCIES.md
  frontend/src/components/common/ErrorBoundary.test.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/search/SearchBar.test.tsx
  frontend/src/test-utils/factories.ts
  frontend/src/test-utils/index.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: remove dead code detected by Vulture (NEM-1817)
  backend/tests/unit/api/middleware/test_file_validator.py
Due: check-test-timeouts

fix(ci): prevent TruffleHog false positive alerts (NEM-1805)
  .github/workflows/gitleaks.yml
Due: none

feat: add ETag support for conditional GET requests (NEM-1427) (#2080)
  .pre-commit-config.yaml
  frontend/src/components/alerts/AlertsPage.new.tsx
  frontend/src/components/alerts/AlertsPage.tsx
  frontend/src/components/audit/AuditTable.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/components/status/AIServiceStatus.tsx
  frontend/src/components/system/PipelineMetricsPanel.tsx
  frontend/src/components/system/ServicesPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/hooks/typedEventEmitter.test.ts
  frontend/src/hooks/typedEventEmitter.ts
  frontend/src/services/api.timeout.test.ts
  frontend/src/services/api.ts
  frontend/src/types/websocket-events.test.ts
  frontend/src/types/websocket-events.ts
  scripts/a11y-smoke-test.sh
Due: prettier-frontend, eslint, typescript-check

fix(e2e): update title assertions and tablet viewport breakpoint
  frontend/tests/e2e/specs/ai-performance.spec.ts
  frontend/tests/e2e/specs/dashboard.spec.ts
  frontend/tests/e2e/specs/responsive.spec.ts
  frontend/tests/e2e/specs/smoke.spec.ts
Due: prettier-frontend, eslint, typescript-check

feat: add TDD cycle tracking to CI pipeline (NEM-1663)
  .github/pull_request_template.md
  .github/workflows/ci.yml
Due: none

chore: centralize uv version definition across CI workflows (NEM-1439) (#2078)
  .github/workflows/api-compatibility.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci-analytics.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/gpu-tests.yml
  .github/workflows/linear-github-sync.yml
  .github/workflows/load-tests.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/nightly.yml
  .github/workflows/sast.yml
  .github/workflows/weekly-audit.yml
  .github/workflows/zap-security.yml
  CLAUDE.md
  backend/tests/AGENTS.md
  backend/tests/unit/api/schemas/test_field_constraints.py
  backend/tests/unit/services/test_bbox_validation.py
  docs/TESTING_GUIDE.md
Due: check-test-timeouts

feat: 8 parallel agent improvements - RFC 7807, Result type, pagination, and more (#2126)
  .github/workflows/dependency-audit.yml
  .github/workflows/nightly.yml
  backend/api/routes/events.py
  backend/core/database.py
  backend/core/telemetry.py
  backend/services/detector_client.py
  docs/FRONTEND_PATTERNS.md
  docs/UV_USAGE.md
  frontend/src/__mocks__/AGENTS.md
  frontend/src/__mocks__/index.ts
  frontend/src/components/common/ErrorBoundary.test.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/dashboard/DashboardConfigModal.test.tsx
  frontend/src/components/dashboard/DashboardConfigModal.tsx
  frontend/src/components/dashboard/DashboardLayout.test.tsx
  frontend/src/components/dashboard/DashboardLayout.tsx
  frontend/src/components/dashboard/DashboardPage.test.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/hooks/__mocks__/useEventStream.ts
  frontend/src/hooks/__mocks__/useSystemStatus.ts
  frontend/src/hooks/__mocks__/useWebSocket.ts
  frontend/src/lib/functional.test.ts
  frontend/src/lib/functional.ts
  frontend/src/lib/result.test.ts
  frontend/src/lib/result.ts
  frontend/src/services/__mocks__/api.ts
  frontend/src/stores/AGENTS.md
  frontend/src/stores/dashboardConfig.test.ts
  frontend/src/stores/dashboardConfig.ts
  frontend/tests/e2e/specs/utils-demo.spec.ts
  frontend/tests/e2e/utils/AGENTS.md
  frontend/tests/e2e/utils/browser-helpers.ts
  frontend/tests/e2e/utils/data-generators.ts
  frontend/tests/e2e/utils/index.ts
  frontend/tests/e2e/utils/test-helpers.ts
  frontend/tests/e2e/utils/wait-helpers.ts
Due: prettier-frontend, eslint, typescript-check

docs: comprehensive AGENTS.md update + fix(ci): docker/login-action SHA (#2128)
  .github/AGENTS.md
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  .secrets.baseline
  AGENTS.md
  ai/nemotron/AGENTS.md
  backend/AGENTS.md
  backend/api/AGENTS.md
  backend/api/middleware/AGENTS.md
  backend/api/routes/AGENTS.md
  backend/api/schemas/AGENTS.md
  backend/core/AGENTS.md
  backend/models/AGENTS.md
  backend/services/AGENTS.md
  backend/tests/AGENTS.md
  docs/AGENTS.md
  frontend/AGENTS.md
  frontend/src/AGENTS.md
  frontend/src/components/AGENTS.md
  frontend/src/components/status/AGENTS.md
  frontend/src/hooks/AGENTS.md
  frontend/src/services/AGENTS.md
  scripts/AGENTS.md
Due: prettier-frontend

feat: JavaScript testing patterns improvements (NEM-1501) (#2122)
  frontend/src/test/README.md
  frontend/src/test/factories/index.test.ts
  frontend/src/test/factories/index.ts
  frontend/src/test/matchers.test.ts
  frontend/src/test/matchers.ts
  frontend/src/test/mocks/index.ts
  frontend/src/test/setup.ts
  frontend/src/test/utils.test.tsx
  frontend/src/test/utils.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: prettier-frontend, eslint, typescript-check

refactor: consolidate custom exception classes into central module (N… (#2084)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  backend/api/exception_handlers.py
  backend/api/routes/detections.py
  backend/api/routes/prompt_management.py
  backend/api/utils/field_filter.py
  backend/tests/integration/repositories/README.md
  backend/tests/integration/repositories/conftest.py
  backend/tests/integration/repositories/test_base.py
  backend/tests/unit/api/middleware/test_file_validator.py
  backend/tests/unit/api/middleware/test_rate_limit.py
  backend/tests/unit/api/routes/test_ai_audit.py
  backend/tests/unit/api/routes/test_analytics.py
  backend/tests/unit/api/routes/test_cameras.py
  backend/tests/unit/api/routes/test_detections.py
  backend/tests/unit/api/routes/test_entities.py
  backend/tests/unit/api/routes/test_events_routes.py
  backend/tests/unit/api/routes/test_media.py
  backend/tests/unit/api/routes/test_notification_preferences.py
  backend/tests/unit/api/routes/test_system.py
  backend/tests/unit/api/schemas/test_llm.py
  backend/tests/unit/api/test_exception_handlers.py
  backend/tests/unit/core/test_logging_context.py
  backend/tests/unit/models/test_soft_delete.py
  backend/tests/unit/services/test_ai_fallback.py
  backend/tests/unit/services/test_batch_aggregator.py
  backend/tests/unit/services/test_clip_generator.py
  backend/tests/unit/services/test_clip_loader.py
  backend/tests/unit/services/test_container_orchestrator.py
  backend/tests/unit/services/test_context_enricher.py
  frontend/src/components/dashboard/CameraGrid.tsx
  frontend/tailwind.config.js
  frontend/tests/e2e/specs/user-journeys/alert-lifecycle.spec.ts
  frontend/tests/e2e/specs/user-journeys/camera-management.spec.ts
  pyproject.toml
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

feat(frontend): implement typed event emitter pattern for WebSocket handling (NEM-1418) (#2083)
  backend/core/exceptions.py
  backend/tests/unit/core/test_exceptions.py
  frontend/src/hooks/typedEventEmitter.test.ts
  frontend/src/hooks/typedEventEmitter.ts
  frontend/src/hooks/webSocketManager.ts
  frontend/src/types/websocket-events.test.ts
  frontend/src/types/websocket-events.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: 8 parallel agent improvements - RFC 7807, Result type, pagination, and more (#2117)
  backend/api/routes/admin.py
  backend/api/routes/ai_audit.py
  backend/api/routes/alerts.py
  backend/api/routes/analytics.py
  backend/api/routes/audit.py
  backend/api/routes/debug.py
  backend/api/routes/detections.py
  backend/api/routes/dlq.py
  backend/api/routes/entities.py
  backend/api/routes/events.py
  backend/api/routes/logs.py
  backend/api/routes/metrics.py
  backend/api/routes/notification_preferences.py
  backend/api/routes/prompt_management.py
  backend/api/routes/rum.py
  backend/api/routes/services.py
  backend/api/routes/system.py
  backend/api/schemas/__init__.py
  backend/api/schemas/bulk.py
  backend/api/schemas/hateoas.py
  backend/tests/contracts/test_openapi_schema_validation.py
  backend/tests/contracts/test_schemathesis_contracts.py
  backend/tests/contracts/test_websocket_contracts.py
  backend/tests/integration/test_detections_bulk_api.py
  backend/tests/integration/test_events_bulk_api.py
  backend/tests/unit/api/routes/test_detections_bulk.py
  backend/tests/unit/api/routes/test_events_bulk.py
  backend/tests/unit/api/schemas/test_hateoas.py
  backend/tests/unit/routes/test_events_routes.py
  docker-compose.prod.yml
  docs/DOCKER_SECRETS.md
  frontend/src/components/common/EmptyState.tsx
  frontend/src/components/dashboard/StatsRow.tsx
  frontend/src/components/events/EnrichmentPanel.tsx
  frontend/src/components/settings/AlertRulesSettings.tsx
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
  frontend/tests/e2e/specs/accessibility.spec.ts
  setup.py
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

feat: 8 parallel agent improvements - test refactoring, exception handlers, helpers, pipeline, cost tracking (#2116)
  backend/api/dependencies.py
  backend/api/exception_handlers.py
  backend/api/routes/ai_audit.py
  backend/api/routes/alerts.py
  backend/api/routes/prompt_management.py
  backend/api/routes/zones.py
  backend/core/metrics.py
  backend/services/__init__.py
  backend/services/cost_tracker.py
  backend/services/nemotron_analyzer.py
  backend/tests/integration/repositories/__init__.py
  backend/tests/integration/repositories/test_camera_repository.py
  backend/tests/integration/repositories/test_detection_repository.py
  backend/tests/integration/repositories/test_event_repository.py
  backend/tests/unit/api/routes/test_ai_audit.py
  backend/tests/unit/api/routes/test_prompt_management.py
  backend/tests/unit/api/test_dependencies.py
  backend/tests/unit/api/test_exception_handlers.py
  backend/tests/unit/repositories/__init__.py
  backend/tests/unit/routes/test_ai_audit_routes.py
  backend/tests/unit/services/test_cost_tracker.py
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/utils/pipeline.test.ts
  frontend/src/utils/pipeline.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

docs: create consolidated testing patterns guide (NEM-1410) (#2079)
  frontend/tests/e2e/specs/user-journeys/alert-lifecycle.spec.ts
  frontend/tests/e2e/specs/user-journeys/camera-management.spec.ts
  frontend/tests/e2e/specs/user-journeys/detection-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/investigation-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/settings-configuration.spec.ts
Due: prettier-frontend, eslint, typescript-check

docs: comprehensive documentation audit - 15 new guides (NEM-1917)
  README.md
  docs/ROADMAP.md
  docs/WEBSOCKET_CONTRACTS.md
  docs/api-reference/analytics.md
  docs/api-reference/notification-preferences.md
  docs/api-reference/overview.md
  docs/api-reference/services.md
  docs/architecture/resilience.md
  docs/developer-hub.md
  docs/developer/AGENTS.md
  docs/developer/accessibility.md
  docs/developer/backend-patterns.md
  docs/developer/clip-generation.md
  docs/developer/entity-tracking.md
  docs/developer/keyboard-patterns.md
  docs/developer/prompt-management.md
  docs/developer/pwa-implementation.md
  docs/developer/resilience-patterns.md
  docs/developer/ux-patterns.md
  docs/developer/visualization-components.md
  docs/operator-hub.md
  docs/operator/dlq-management.md
  docs/operator/monitoring.md
  docs/operator/prometheus-alerting.md
  docs/operator/scene-change-detection.md
  docs/operator/secrets-management.md
  docs/operator/service-control.md
  docs/reference/api/overview.md
  docs/user-guide/AGENTS.md
  docs/user-guide/accessibility.md
  docs/user-guide/dashboard-customization.md
  docs/user-guide/event-investigation.md
  docs/user-guide/getting-started-tour.md
  docs/user-guide/interface-guide.md
  docs/user-guide/keyboard-shortcuts.md
  docs/user-guide/mobile-pwa.md
  docs/user-guide/prompt-playground.md
  docs/user-hub.md
Due: none

perf: optimize slow tests and fix CI failures (#2115)
  backend/tests/unit/core/test_json_utils.py
  backend/tests/unit/models/test_alert.py
  backend/tests/unit/models/test_audit_log.py
  backend/tests/unit/models/test_event.py
  backend/tests/unit/services/test_file_watcher.py
  frontend/tests/e2e/specs/alerts.spec.ts
  frontend/tests/e2e/specs/dashboard.spec.ts
  frontend/tests/e2e/specs/error-handling.spec.ts
  frontend/tests/e2e/specs/navigation.spec.ts
  scripts/audit-test-durations.py
  vulture_whitelist.py
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix(e2e): E2E test fixes and parallel pre-push validation (NEM-1441) (#2127)
  .pre-commit-config.yaml
  backend/api/AGENTS.md
  frontend/src/__tests__/AGENTS.md
  frontend/src/components/dashboard/ActivityFeed.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/events/EventCard.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/components/settings/CamerasSettings.tsx
  frontend/src/components/settings/SettingsPage.tsx
  frontend/tests/e2e/fixtures/api-mocks.ts
  frontend/tests/e2e/fixtures/test-data.ts
  frontend/tests/e2e/specs/user-journeys/detection-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/investigation-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/settings-configuration.spec.ts
  scripts/pre-push-tests.sh
Due: prettier-frontend, eslint, typescript-check

ci: add workflow_dispatch trigger for manual CI runs
  .github/workflows/ci.yml
Due: none

fix(tests): reset _pipeline_manager in worker status tests
  backend/tests/unit/routes/test_system_routes.py
Due: check-test-timeouts

ci: add workflow_dispatch trigger for manual CI runs (#2323)
  .github/workflows/ci.yml
Due: none

docs: comprehensive documentation audit - 15 new guides (NEM-1917) (#2299)
  README.md
  backend/tests/unit/routes/test_system_routes.py
  docs/ROADMAP.md
  docs/WEBSOCKET_CONTRACTS.md
  docs/api-reference/analytics.md
  docs/api-reference/notification-preferences.md
  docs/api-reference/overview.md
  docs/api-reference/services.md
  docs/architecture/resilience.md
  docs/developer-hub.md
  docs/developer/AGENTS.md
  docs/developer/accessibility.md
  docs/developer/backend-patterns.md
  docs/developer/clip-generation.md
  docs/developer/entity-tracking.md
  docs/developer/keyboard-patterns.md
  docs/developer/prompt-management.md
  docs/developer/pwa-implementation.md
  docs/developer/resilience-patterns.md
  docs/developer/ux-patterns.md
  docs/developer/visualization-components.md
  docs/operator-hub.md
  docs/operator/dlq-management.md
  docs/operator/monitoring.md
  docs/operator/prometheus-alerting.md
  docs/operator/scene-change-detection.md
  docs/operator/secrets-management.md
  docs/operator/service-control.md
  docs/reference/api/overview.md
  docs/user-guide/AGENTS.md
  docs/user-guide/accessibility.md
  docs/user-guide/dashboard-customization.md
  docs/user-guide/event-investigation.md
  docs/user-guide/getting-started-tour.md
  docs/user-guide/interface-guide.md
  docs/user-guide/keyboard-shortcuts.md
  docs/user-guide/mobile-pwa.md
  docs/user-guide/prompt-playground.md
  docs/user-hub.md
Due: check-test-timeouts

fix(ci): use valid docker/build-push-action SHA in deploy.yml
  .github/workflows/deploy.yml
Due: none

fix(ci): use valid docker/build-push-action SHA in deploy.yml (#2354)
  .github/workflows/deploy.yml
Due: none

fix: add cache invalidation to event mutation endpoints (NEM-1950)
  backend/api/routes/events.py
  backend/tests/integration/test_events_cache_invalidation.py
Due: check-test-mocks, check-test-timeouts

fix: Q1 2025 technical debt cleanup (NEM-1912, NEM-1913, NEM-1914, NEM-1921)
  backend/api/routes/detections.py
  backend/models/detection.py
  backend/tests/unit/api/middleware/test_request_recorder.py
  backend/tests/unit/api/routes/test_detections.py
  backend/tests/unit/api/schemas/test_enrichment_data_validation.py
  frontend/src/components/layout/CollapsibleSection.test.tsx
  frontend/src/components/layout/CollapsibleSection.tsx
  frontend/src/components/settings/ActivityHeatmap.test.tsx
  frontend/src/components/settings/ActivityHeatmap.tsx
  frontend/src/components/settings/AnomalyConfigPanel.test.tsx
  frontend/src/components/settings/AnomalyConfigPanel.tsx
  frontend/src/components/settings/ClassFrequencyChart.test.tsx
  frontend/src/components/settings/ClassFrequencyChart.tsx
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: Q1 2025 technical debt cleanup (NEM-1912, NEM-1913, NEM-1914, NEM-1921) (#2401)
  backend/api/routes/detections.py
  backend/models/detection.py
  backend/tests/unit/api/middleware/test_request_recorder.py
  backend/tests/unit/api/routes/test_detections.py
  backend/tests/unit/api/schemas/test_enrichment_data_validation.py
  frontend/src/components/layout/CollapsibleSection.test.tsx
  frontend/src/components/layout/CollapsibleSection.tsx
  frontend/src/components/settings/ActivityHeatmap.test.tsx
  frontend/src/components/settings/ActivityHeatmap.tsx
  frontend/src/components/settings/AnomalyConfigPanel.test.tsx
  frontend/src/components/settings/AnomalyConfigPanel.tsx
  frontend/src/components/settings/ClassFrequencyChart.test.tsx
  frontend/src/components/settings/ClassFrequencyChart.tsx
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts
