Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: .venv/bin/python scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: .venv/bin/python scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

fix: resolve WebSocket broadcast and clothing classifier errors
  .beads/issues.jsonl
Due: none

test: add unit tests for AI Pipeline AuditService
  .beads/issues.jsonl
  backend/tests/unit/services/test_audit_service.py
Due: check-test-timeouts

bd sync: 2026-01-01 21:19:45
  .beads/issues.jsonl
Due: none

test: add broadcast_service_status to MockBroadcaster
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-01 22:03:31
  .beads/issues.jsonl
Due: none

chore: regenerate API types
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

chore: regenerate API types
  .beads/issues.jsonl
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

feat: AI Performance Audit system + README docs + LLM fix
  README.md
  backend/core/redis.py
  backend/services/nemotron_analyzer.py
  backend/services/prompts.py
  backend/services/retry_handler.py
  backend/tests/integration/test_ai_audit_api.py
  backend/tests/integration/test_dlq_api.py
  backend/tests/integration/test_dlq_retry_handler_integration.py
  backend/tests/unit/test_dlq_api.py
  backend/tests/unit/test_retry_handler.py
  frontend/src/services/api.test.ts
  frontend/src/services/auditApi.test.ts
  frontend/tests/e2e/pages/AuditPage.ts
  frontend/tests/e2e/pages/TimelinePage.ts
  frontend/tests/e2e/specs/audit.spec.ts
  frontend/tests/e2e/specs/error-handling.spec.ts
  frontend/tests/e2e/specs/realtime.spec.ts
  frontend/tests/e2e/specs/responsive.spec.ts
  frontend/tests/e2e/specs/smoke.spec.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

chore: lower coverage thresholds to match current coverage
  .beads/issues.jsonl
  frontend/vite.config.ts
Due: prettier-frontend, eslint, typescript-check

test: add comprehensive test coverage for error handling and integration
  backend/tests/integration/test_circuit_breaker.py
  backend/tests/integration/test_transaction_rollback.py
  backend/tests/integration/test_websocket_broadcast.py
  backend/tests/unit/test_enrichment_client_errors.py
Due: check-test-mocks, check-test-timeouts

fix: remove unused variable in transaction rollback test
  backend/tests/integration/test_transaction_rollback.py
Due: check-test-mocks, check-test-timeouts

fix: lower coverage thresholds to match actual coverage (88%/82%)
  frontend/vite.config.ts
Due: prettier-frontend, eslint, typescript-check

fix: correct fixture name in AI audit integration tests
  .beads/issues.jsonl
  backend/tests/integration/test_ai_audit_api.py
Due: check-test-mocks, check-test-timeouts

feat: comprehensive test coverage + WebSocket fixes (#117)
  backend/tests/integration/test_circuit_breaker.py
  backend/tests/integration/test_transaction_rollback.py
  backend/tests/integration/test_websocket_broadcast.py
  backend/tests/unit/test_enrichment_client_errors.py
Due: check-test-mocks, check-test-timeouts

feat: configurable AI model paths + consolidated llms.txt
  ai/download_models.sh
  backend/tests/integration/test_api_error_scenarios.py
  backend/tests/integration/test_file_watcher_filesystem.py
  docker-compose.prod.yml
  llms-full.txt
  llms.txt
Due: check-test-mocks, check-test-timeouts

feat: configurable AI model paths + consolidated llms.txt (#118)
  ai/download_models.sh
  backend/tests/integration/test_api_error_scenarios.py
  backend/tests/integration/test_file_watcher_filesystem.py
  docker-compose.prod.yml
  llms-full.txt
  llms.txt
Due: check-test-mocks, check-test-timeouts

fix: use project root context for backend Docker build
  .github/workflows/deploy.yml
Due: none

fix: use Vulture whitelist instead of renaming pytest fixture params
  backend/tests/integration/test_transaction_rollback.py
  vulture_whitelist.py
Due: check-test-mocks, check-test-timeouts

fix: CI failures - Docker context, Vulture, E2E tests
  backend/tests/integration/test_transaction_rollback.py
  frontend/tests/e2e/pages/DashboardPage.ts
  frontend/tests/e2e/specs/navigation.spec.ts
  frontend/tests/e2e/specs/responsive.spec.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: CI failures - Docker context, Vulture, E2E tests (#119)
  .github/workflows/deploy.yml
  frontend/tests/e2e/pages/DashboardPage.ts
  frontend/tests/e2e/specs/navigation.spec.ts
  frontend/tests/e2e/specs/responsive.spec.ts
  vulture_whitelist.py
Due: prettier-frontend, eslint, typescript-check

fix: enable Docker builds on PRs, consolidate to prod images only
  .beads/issues.jsonl
  .github/workflows/ci.yml
Due: none

fix: increase E2E test performance threshold to 10s
  .beads/issues.jsonl
  .github/workflows/ci.yml
Due: none

fix: run GPU tests only from gpu/ folder to avoid DATABASE_URL collection error (cuof)
  .beads/issues.jsonl
  .github/workflows/gpu-tests.yml
Due: none

fix: add explicit timeout to page.goto() in E2E navigation smoke test (o8bw)
  .beads/issues.jsonl
  frontend/tests/e2e/specs/navigation.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: E2E tests for Activity Feed moved to Timeline page (bfca)
  .beads/issues.jsonl
  frontend/tests/e2e/specs/realtime.spec.ts
  frontend/tests/e2e/specs/smoke.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: CI failures - Docker builds, GPU tests, E2E timeouts (#120)
  .beads/issues.jsonl
  .github/workflows/ci.yml
  .github/workflows/gpu-tests.yml
  frontend/tests/e2e/specs/navigation.spec.ts
  frontend/tests/e2e/specs/realtime.spec.ts
  frontend/tests/e2e/specs/smoke.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: separate Docker runners + fix Firefox/WebKit E2E tests
  .beads/issues.jsonl
  .github/workflows/ci.yml
  frontend/tests/e2e/pages/LogsPage.ts
  frontend/tests/e2e/specs/navigation.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: separate Docker runners + fix Firefox/WebKit E2E tests (#121)
  .beads/issues.jsonl
  .github/workflows/ci.yml
  frontend/tests/e2e/pages/LogsPage.ts
  frontend/tests/e2e/specs/navigation.spec.ts
Due: prettier-frontend, eslint, typescript-check

feat: native multi-arch Docker builds with separate runners
  .github/workflows/deploy.yml
Due: none

fix: add test camera cleanup to prevent orphaned entries
  backend/tests/integration/conftest.py
  scripts/cleanup_orphaned_test_cameras.py
Due: check-test-mocks, check-test-timeouts

fix: vitest-axe matchers and sidebar context test assertion
  frontend/src/hooks/useSidebarContext.test.tsx
  frontend/src/test/setup.ts
Due: prettier-frontend, eslint, typescript-check

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
