Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: .venv/bin/python scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: .venv/bin/python scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

fix: update tests for str URL type and settings-based max iterations
  AUDIT_REPORT.md
  backend/tests/unit/test_config.py
  backend/tests/unit/test_dlq_api.py
Due: check-test-timeouts

fix: add from __future__ import annotations to retry_handler.py
  backend/services/retry_handler.py
Due: none

fix: add from __future__ import annotations to system.py
  backend/api/routes/system.py
Due: none

fix: add from __future__ import annotations to remaining files
  backend/services/event_broadcaster.py
  backend/services/system_broadcaster.py
  backend/tests/integration/conftest.py
Due: check-test-mocks, check-test-timeouts

build: upgrade CI to Python 3.14
  .github/workflows/ci.yml
Due: none

feat: add Podman support and GHCR pre-built images
  docker-compose.ghcr.yml
  docker-compose.yml
  docs/DOCKER_DEPLOYMENT.md
Due: none

fix: switch backend Docker images from Debian to Alpine
  backend/Dockerfile
  backend/Dockerfile.prod
Due: none

fix: regenerate API types and lower coverage threshold
  frontend/src/components/settings/ProcessingSettings.test.tsx
  frontend/src/types/generated/api.ts
  frontend/vite.config.ts
Due: prettier-frontend, eslint, typescript-check

fix: install redis-tools in CI for integration tests
  .github/workflows/ci.yml
Due: none

fix: integration test assertion and coverage threshold
  .github/workflows/ci.yml
  backend/tests/integration/test_nemotron_analyzer_integration.py
Due: check-test-mocks, check-test-timeouts

feat: add multi-arch Docker builds (amd64 + arm64)
  .github/workflows/deploy.yml
Due: none

chore: add Apache 2.0 license
  LICENSE
Due: none

chore: adjust coverage thresholds and exclude generated types
  frontend/vite.config.ts
Due: prettier-frontend, eslint, typescript-check

chore(ci): add .npmrc to enable legacy-peer-deps for React 19
  frontend/.npmrc
Due: none

chore(deps): upgrade to React 19, Vitest 4, and related packages
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/ObjectTypeBadge.test.tsx
  frontend/src/components/common/RiskBadge.test.tsx
  frontend/src/components/common/ServiceStatusAlert.test.tsx
  frontend/src/components/common/ServiceStatusAlert.tsx
  frontend/src/components/events/EventDetailModal.test.tsx
  frontend/src/components/settings/SettingsPage.test.tsx
  frontend/src/hooks/useGpuHistory.test.ts
  frontend/src/hooks/useWebSocket.test.ts
Due: prettier-frontend, eslint, typescript-check

chore(deps): upgrade to React 19, Vitest 4, and related packages (#21)
  frontend/.npmrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/ObjectTypeBadge.test.tsx
  frontend/src/components/common/RiskBadge.test.tsx
  frontend/src/components/common/ServiceStatusAlert.test.tsx
  frontend/src/components/common/ServiceStatusAlert.tsx
  frontend/src/components/events/EventDetailModal.test.tsx
  frontend/src/components/settings/SettingsPage.test.tsx
  frontend/src/hooks/useGpuHistory.test.ts
  frontend/src/hooks/useWebSocket.test.ts
  frontend/vite.config.ts
Due: prettier-frontend, eslint, typescript-check

fix: use production-only requirements for Docker builds
  backend/Dockerfile.prod
  backend/requirements-prod.txt
Due: none

fix: use --legacy-peer-deps for React 19 + Tremor compatibility
  frontend/Dockerfile
  frontend/Dockerfile.prod
Due: none

fix: add --legacy-peer-deps to frontend Dockerfile
  frontend/Dockerfile
Due: none

fix: address audit findings for pipeline, deployment, and realtime correctness
  DOCKER_QUICKSTART.md
  backend/Dockerfile.prod
  backend/api/routes/system.py
  backend/api/routes/websocket.py
  backend/api/schemas/websocket.py
  backend/main.py
  backend/services/nemotron_analyzer.py
  backend/services/pipeline_workers.py
  backend/tests/e2e/test_pipeline_integration.py
  backend/tests/integration/test_pipeline_e2e.py
  backend/tests/integration/test_system_api.py
  backend/tests/integration/test_websocket.py
  backend/tests/unit/test_dockerfile_config.py
  backend/tests/unit/test_pipeline_workers.py
  backend/tests/unit/test_system_routes.py
  docker-compose.prod.yml
  frontend/nginx.conf
  frontend/src/hooks/useEventStream.ts
  frontend/src/hooks/useSystemStatus.ts
  frontend/src/services/api.test.ts
  frontend/src/services/api.ts
  scripts/test-docker.sh
  scripts/test-prod-connectivity.sh
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
