Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

fix: add missing message sequencing implementation (NEM-1688)
  backend/services/event_broadcaster.py
Due: none

feat: add streaming LLM module for progressive response updates (NEM-1665)
  backend/services/event_broadcaster.py
  backend/tests/unit/services/test_message_buffer.py
Due: check-test-timeouts

fix: add fallback for enable/disable service and upgrade urllib3
  backend/services/__init__.py
  backend/services/container_orchestrator.py
Due: none

fix: resolve CI failures in E2E and integration tests
  backend/services/container_orchestrator.py
  frontend/playwright.config.ts
  frontend/tests/e2e/.auth/storage-state.json
  frontend/tests/e2e/fixtures/index.ts
  frontend/tests/e2e/global-setup.ts
Due: prettier-frontend, eslint, typescript-check

fix(tests): add missing display_name to ManagedService test
  backend/tests/unit/services/test_model_warmup.py
Due: check-test-timeouts

fix: resolve CI failures in E2E and integration tests (#2060)
  backend/services/container_orchestrator.py
  frontend/playwright.config.ts
  frontend/tests/e2e/.auth/storage-state.json
  frontend/tests/e2e/fixtures/index.ts
  frontend/tests/e2e/global-setup.ts
Due: prettier-frontend, eslint, typescript-check

fix(e2e): update title assertions and tablet viewport breakpoint
  frontend/tests/e2e/specs/ai-performance.spec.ts
  frontend/tests/e2e/specs/dashboard.spec.ts
  frontend/tests/e2e/specs/responsive.spec.ts
  frontend/tests/e2e/specs/smoke.spec.ts
Due: prettier-frontend, eslint, typescript-check

feat: parallel agent work - 8 async/testing infrastructure improvements
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/core/__init__.py
  backend/core/circuit_breaker.py
  backend/core/database.py
  backend/core/logging.py
  backend/main.py
  backend/services/circuit_breaker.py
  backend/services/detector_client.py
  backend/services/enrichment_client.py
  backend/services/health_monitor.py
  backend/services/health_monitor_orchestrator.py
  backend/services/nemotron_analyzer.py
  backend/services/pipeline_workers.py
  backend/tests/async_utils.py
  backend/tests/unit/api/schemas/test_health.py
  backend/tests/unit/core/test_circuit_breaker_integration.py
  backend/tests/unit/core/test_health_monitor.py
  backend/tests/unit/core/test_logging_context.py
  backend/tests/utils/AGENTS.md
  backend/tests/utils/__init__.py
  backend/tests/utils/assertions.py
  backend/tests/utils/async_helpers.py
  backend/tests/utils/strategies.py
  frontend/src/types/generated/api.ts
  frontend/tests/e2e/fixtures/index.ts
  frontend/tests/e2e/fixtures/performance.ts
  frontend/tests/e2e/specs/performance.spec.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: parallel agent work - 8 async/testing infrastructure improvements (#2070)
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/core/__init__.py
  backend/core/circuit_breaker.py
  backend/core/database.py
  backend/core/logging.py
  backend/main.py
  backend/services/circuit_breaker.py
  backend/services/detector_client.py
  backend/services/enrichment_client.py
  backend/services/health_monitor.py
  backend/services/health_monitor_orchestrator.py
  backend/services/nemotron_analyzer.py
  backend/services/pipeline_workers.py
  backend/tests/async_utils.py
  backend/tests/unit/api/schemas/test_health.py
  backend/tests/unit/core/test_circuit_breaker_integration.py
  backend/tests/unit/core/test_health_monitor.py
  backend/tests/unit/core/test_logging_context.py
  backend/tests/utils/AGENTS.md
  backend/tests/utils/__init__.py
  backend/tests/utils/assertions.py
  backend/tests/utils/async_helpers.py
  backend/tests/utils/strategies.py
  frontend/src/types/generated/api.ts
  frontend/tests/e2e/fixtures/index.ts
  frontend/tests/e2e/fixtures/performance.ts
  frontend/tests/e2e/specs/performance.spec.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: add TDD cycle tracking to CI pipeline (NEM-1663)
  .github/pull_request_template.md
  .github/workflows/ci.yml
Due: none

fix(ci): prevent TruffleHog false positive alerts (NEM-1805)
  .github/workflows/gitleaks.yml
Due: none

fix: remove dead code detected by Vulture (NEM-1817)
  backend/tests/unit/api/middleware/test_file_validator.py
Due: check-test-timeouts

fix: resolve podman-compose parsing error for docker-compose.prod.yml (NEM-1720)
  docker-compose.prod.yml
  scripts/redeploy.sh
Due: none

fix(tests): isolate Object.groupBy mocks to prevent shard leakage
  frontend/src/utils/groupBy.test.ts
Due: prettier-frontend, eslint, typescript-check

fix(tests): resolve snapshot test environment inconsistencies
  frontend/src/components/detection/BoundingBoxOverlay.tsx
  frontend/src/components/detection/__snapshots__/BoundingBoxOverlay.test.tsx.snap
  frontend/src/components/events/ThumbnailStrip.tsx
  frontend/src/components/events/__snapshots__/ThumbnailStrip.test.tsx.snap
Due: prettier-frontend, eslint, typescript-check

fix: add uv export for pip-audit compatibility in nightly security audit (NEM-1440)
  .github/workflows/nightly.yml
Due: none

feat: 8 parallel agent improvements - structured logging, DI container, DB partitioning, E2E browser stability, DLQ inspection, mock consolidation, type-safe prompts, API types
  backend/alembic/versions/add_time_series_partitioning.py
  backend/api/middleware/__init__.py
  backend/api/middleware/request_logging.py
  backend/api/routes/dlq.py
  backend/api/schemas/dlq.py
  backend/core/__init__.py
  backend/core/container.py
  backend/core/dependencies.py
  backend/core/logging.py
  backend/services/partition_manager.py
  backend/services/retry_handler.py
  backend/services/typed_prompt_config.py
  backend/tests/AGENTS.md
  backend/tests/conftest.py
  backend/tests/unit/api/middleware/test_request_logging.py
  backend/tests/unit/api/routes/test_dlq_api.py
  backend/tests/unit/core/test_container.py
  backend/tests/unit/core/test_logging_trace_context.py
  backend/tests/unit/services/test_partition_manager.py
  backend/tests/unit/services/test_retry_handler.py
  backend/tests/unit/services/test_typed_prompt_config.py
  backend/tests/unit/test_consolidated_fixtures.py
  frontend/src/types/api-endpoints.test.ts
  frontend/src/types/api-endpoints.ts
  frontend/src/types/generated/api.ts
  frontend/tests/e2e/BROWSER_TESTING.md
  frontend/tests/e2e/pages/BasePage.ts
  frontend/tests/e2e/specs/ai-audit.spec.ts
  frontend/tests/e2e/specs/mobile-optimization.spec.ts
  frontend/tests/e2e/specs/test-tagging.spec.ts
  frontend/tests/e2e/specs/user-journeys/alert-lifecycle.spec.ts
  frontend/tests/e2e/specs/user-journeys/camera-management.spec.ts
  frontend/tests/e2e/specs/user-journeys/detection-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/investigation-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/settings-configuration.spec.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

test: improve WebSocket E2E tests with concrete UI assertions (NEM-1485)
  frontend/tests/e2e/fixtures/websocket-mock.ts
  frontend/tests/e2e/specs/websocket.spec.ts
Due: prettier-frontend, eslint, typescript-check

feat: 8 parallel agent improvements - structured logging, DI container, DB partitioning, E2E browser stability, DLQ inspection, mock consolidation, type-safe prompts, API types (#2076)
  backend/alembic/versions/add_time_series_partitioning.py
  backend/api/middleware/__init__.py
  backend/api/middleware/request_logging.py
  backend/api/routes/dlq.py
  backend/api/schemas/dlq.py
  backend/core/__init__.py
  backend/core/container.py
  backend/core/dependencies.py
  backend/core/logging.py
  backend/services/partition_manager.py
  backend/services/retry_handler.py
  backend/services/typed_prompt_config.py
  backend/tests/AGENTS.md
  backend/tests/conftest.py
  backend/tests/unit/api/middleware/test_request_logging.py
  backend/tests/unit/api/routes/test_dlq_api.py
  backend/tests/unit/core/test_container.py
  backend/tests/unit/core/test_logging_trace_context.py
  backend/tests/unit/services/test_partition_manager.py
  backend/tests/unit/services/test_retry_handler.py
  backend/tests/unit/services/test_typed_prompt_config.py
  backend/tests/unit/test_consolidated_fixtures.py
  frontend/src/types/api-endpoints.test.ts
  frontend/src/types/api-endpoints.ts
  frontend/src/types/generated/api.ts
  frontend/tests/e2e/BROWSER_TESTING.md
  frontend/tests/e2e/pages/BasePage.ts
  frontend/tests/e2e/specs/ai-audit.spec.ts
  frontend/tests/e2e/specs/mobile-optimization.spec.ts
  frontend/tests/e2e/specs/test-tagging.spec.ts
  frontend/tests/e2e/specs/user-journeys/alert-lifecycle.spec.ts
  frontend/tests/e2e/specs/user-journeys/camera-management.spec.ts
  frontend/tests/e2e/specs/user-journeys/detection-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/investigation-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/settings-configuration.spec.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: parallel agent work - logging middleware, frontend mocks, docs
  backend/api/middleware/AGENTS.md
  backend/api/middleware/__init__.py
  backend/api/middleware/logging.py
  backend/core/retry.py
  backend/main.py
  backend/tests/unit/api/middleware/test_logging.py
  backend/tests/unit/core/test_retry.py
  backend/tests/unit/test_factories.py
  docs/.env.development
  docs/.env.production
  docs/.env.staging
  docs/ENVIRONMENT_VARIABLES.md
  docs/SECRETS_MANAGEMENT.md
  frontend/src/__mocks__/AGENTS.md
  frontend/src/__mocks__/README.md
  frontend/src/__mocks__/example.test.tsx
  frontend/src/__mocks__/index.ts
  frontend/src/hooks/__mocks__/useEventStream.ts
  frontend/src/hooks/__mocks__/useSystemStatus.ts
  frontend/src/hooks/__mocks__/useWebSocket.ts
  frontend/src/services/__mocks__/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: add dependency audit workflow (NEM-1613)
  .github/workflows/dependency-audit.yml
Due: none

feat(security): add WebSocket connection authentication token validation (NEM-1650)
  .env.example
  backend/api/middleware/__init__.py
  backend/api/middleware/websocket_auth.py
  backend/api/routes/websocket.py
  backend/core/config.py
  backend/tests/unit/api/middleware/test_websocket_auth.py
Due: check-test-timeouts

fix(tests): mock Redis scan_iter as async iterator in integration tests
  backend/tests/integration/conftest.py
  backend/tests/integration/test_system_api.py
Due: check-test-mocks, check-test-timeouts

fix(tests): update integration tests to use specific exception types
  backend/tests/integration/test_system_broadcaster.py
Due: check-test-mocks, check-test-timeouts

fix(tests): mock settings in test_default_configuration to isolate from runtime.env
  backend/tests/unit/services/test_cleanup_service.py
Due: check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
