Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: .venv/bin/python scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: .venv/bin/python scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

perf: add BuildKit cache mounts for faster Docker builds (#1340)
  backend/Dockerfile
Due: none

feat: Add schema validation for LLM responses, enrichment data, and file stability checks (NEM-1070, NEM-1069, NEM-1067)
  backend/api/routes/detections.py
  backend/api/routes/system.py
  backend/api/schemas/__init__.py
  backend/api/schemas/detections.py
  backend/api/schemas/llm_response.py
  backend/api/schemas/system.py
  backend/services/file_watcher.py
  backend/services/nemotron_analyzer.py
  backend/tests/integration/test_file_watcher_integration.py
  backend/tests/integration/test_system_api.py
  backend/tests/unit/api/schemas/test_detections.py
  backend/tests/unit/api/schemas/test_llm_response.py
  backend/tests/unit/services/test_file_watcher.py
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

feat: Add schema validation for LLM responses, enrichment data, and file stability checks (NEM-1070, NEM-1069, NEM-1067) (#1284)
  backend/api/routes/detections.py
  backend/api/schemas/__init__.py
  backend/api/schemas/detections.py
  backend/api/schemas/llm_response.py
  backend/services/file_watcher.py
  backend/services/nemotron_analyzer.py
  backend/tests/integration/test_detections_api.py
  backend/tests/integration/test_file_watcher_integration.py
  backend/tests/integration/test_system_api.py
  backend/tests/unit/api/routes/test_detections_api.py
  backend/tests/unit/api/schemas/test_detections.py
  backend/tests/unit/api/schemas/test_llm_response.py
  backend/tests/unit/services/test_file_watcher.py
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/settings/AIModelsSettings.test.tsx
  frontend/src/components/settings/SeverityThresholds.test.tsx
  frontend/src/components/settings/SeverityThresholds.tsx
  frontend/src/components/system/AiModelsPanel.test.tsx
  frontend/src/components/system/AiModelsPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/components/system/index.ts
  frontend/src/hooks/useAIMetrics.test.ts
  frontend/src/hooks/useAIMetrics.ts
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: add is_degraded() to SystemBroadcaster and fix Trivy workflow (NEM-1075, NEM-1126) (#1277)
  .github/workflows/trivy.yml
  backend/services/system_broadcaster.py
  backend/tests/unit/core/test_websocket.py
  backend/tests/unit/services/test_system_broadcaster.py
Due: check-test-timeouts

feat: implement PromptPlayground, integrate System/AI Performance components (NEM-1146, NEM-1147, NEM-1148, NEM-1149)
  frontend/src/components/ai-audit/PromptPlayground.test.tsx
  frontend/src/components/ai-audit/PromptPlayground.tsx
  frontend/src/components/ai-audit/index.ts
  frontend/src/components/ai/AIAuditPage.tsx
  frontend/src/components/ai/AIPerformancePage.test.tsx
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/ai/RecommendationsPanel.tsx
  frontend/src/components/settings/AIModelsSettings.test.tsx
  frontend/src/components/settings/SeverityThresholds.test.tsx
  frontend/src/components/settings/SeverityThresholds.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/hooks/useAIMetrics.test.ts
  frontend/src/hooks/useAIMetrics.ts
  frontend/src/hooks/usePerformanceMetrics.test.ts
  frontend/src/services/api.ts
  frontend/src/services/metricsParser.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check

fix: consolidate Dockerfiles to fix frontend build failure (#1282)
  .github/workflows/AGENTS.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/trivy.yml
  backend/Dockerfile
  backend/Dockerfile.prod
  backend/tests/unit/core/test_dockerfile_config.py
  docker-compose.prod.yml
  frontend/Dockerfile
  frontend/Dockerfile.prod
Due: check-test-timeouts

feat: system page redesign with pipeline visualization and infrastructure grid (#1272)
  .trivyignore
  backend/alembic/versions/add_prompt_versions_table.py
  backend/alembic/versions/d4cdaa821492_merge_heads.py
  backend/api/routes/cameras.py
  backend/api/routes/prompt_management.py
  backend/api/schemas/enrichment_data.py
  backend/api/schemas/llm.py
  backend/api/schemas/prompt_management.py
  backend/core/logging.py
  backend/models/prompt_version.py
  backend/services/clip_client.py
  backend/services/prompt_service.py
  backend/services/prompt_version_service.py
  backend/tests/unit/api/routes/test_ai_audit_prompts.py
  backend/tests/unit/api/schemas/test_enrichment_data_validation.py
  backend/tests/unit/core/test_logging.py
  backend/tests/unit/routes/test_cameras_routes.py
  backend/tests/unit/services/test_clip_client.py
  backend/tests/unit/services/test_prompt_service.py
  backend/tests/unit/services/test_prompt_version_service.py
  frontend/src/components/ai-audit/AGENTS.md
  frontend/src/components/ai-audit/index.ts
  frontend/src/components/ai-performance/AIPerformanceSummaryRow.test.tsx
  frontend/src/components/ai-performance/AIPerformanceSummaryRow.tsx
  frontend/src/components/ai-performance/index.ts
  frontend/src/components/ai/PipelineHealthPanel.tsx
  frontend/src/components/common/ScheduleSelector.test.tsx
  frontend/src/components/common/ScheduleSelector.tsx
  frontend/src/components/settings/ScheduleSelector.test.tsx
  frontend/src/components/settings/ScheduleSelector.tsx
  frontend/src/components/settings/index.ts
  frontend/src/components/system/InfrastructureStatusGrid.test.tsx
  frontend/src/components/system/InfrastructureStatusGrid.tsx
  frontend/src/components/system/PipelineFlowVisualization.test.tsx
  frontend/src/components/system/PipelineFlowVisualization.tsx
  frontend/src/components/system/SystemSummaryRow.test.tsx
  frontend/src/components/system/SystemSummaryRow.tsx
  frontend/src/hooks/useAIMetrics.test.ts
  frontend/src/hooks/useAIMetrics.ts
  scripts/check-api-coverage.sh
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

docs: expand AGENTS.md and architecture documentation (NEM-1165, NEM-1167, NEM-1168, NEM-1169, NEM-1170, NEM-1171, NEM-1172)
  .env.example
  AGENTS.md
  CLAUDE.md
  ai/nemotron/AGENTS.md
  backend/api/routes/AGENTS.md
  backend/api/schemas/AGENTS.md
  backend/models/AGENTS.md
  docker-compose.prod.yml
  docs/AI_SETUP.md
  docs/architecture/ai-pipeline.md
  docs/architecture/decisions.md
  docs/architecture/frontend-hooks.md
  docs/architecture/real-time.md
  docs/architecture/resilience.md
  docs/developer/risk-analysis.md
  docs/development/contributing.md
  docs/operator/ai-configuration.md
  docs/operator/ai-overview.md
  frontend/src/components/AGENTS.md
  frontend/src/components/ai/AGENTS.md
  frontend/src/hooks/AGENTS.md
  scripts/setup.sh
Due: none

docs: Database password fix, API overview, Circuit Breaker panel, severity endpoint, hooks (NEM-1158, NEM-1160, NEM-1180, NEM-1188, NEM-1195, NEM-1205)
  backend/tests/AGENTS.md
  docs/DOCKER_DEPLOYMENT.md
  docs/RUNTIME_CONFIG.md
  docs/api-reference/overview.md
  docs/api-reference/system.md
  docs/developer/local-setup.md
  docs/development/hooks.md
  docs/development/setup.md
  docs/development/testing.md
  docs/getting-started/installation.md
  docs/operator-hub.md
  docs/operator/database.md
  docs/user-hub.md
  docs/user/AGENTS.md
  docs/user/system-monitoring.md
Due: none

docs: Final documentation batch - 15 issues resolved (NEM-1154 through NEM-1211)
  CLAUDE.md
  ai/AGENTS.md
  ai/nemotron/AGENTS.md
  ai/nemotron/Dockerfile
  ai/start_nemotron.sh
  backend/tests/unit/routes/test_cameras_routes.py
  backend/tests/unit/services/test_websocket_circuit_breaker.py
  docs/AGENTS.md
  docs/AI_SETUP.md
  docs/CHROME_DEVTOOLS_MCP.md
  docs/README.md
  docs/RUNTIME_CONFIG.md
  docs/admin-guide/security.md
  docs/api-reference/events.md
  docs/architecture/decisions.md
  docs/architecture/overview.md
  docs/architecture/real-time.md
  docs/developer-hub.md
  docs/developer/codebase-tour.md
  docs/development/AGENT_COORDINATION.md
  docs/development/setup.md
  docs/getting-started/first-run.md
  docs/getting-started/installation.md
  docs/getting-started/upgrading.md
  docs/operator-hub.md
  docs/operator/AGENTS.md
  docs/operator/ai-installation.md
  docs/operator/ai-performance.md
  docs/operator/ai-troubleshooting.md
  docs/operator/redis.md
  docs/plans/AGENTS.md
  frontend/TEST_QUICKSTART.md
  llms.txt
  scripts/AGENTS.md
  scripts/README.md
  scripts/generate-types.sh
  scripts/validate.sh
Due: check-test-timeouts

docs: API documentation for AI Audit, Media, and System Pipeline endpoints (NEM-1176, NEM-1178, NEM-1179, NEM-1193, NEM-1200, NEM-1202)
  docs/api-reference/AGENTS.md
  docs/api-reference/ai-audit.md
  docs/api-reference/media.md
  docs/api-reference/system.md
  docs/architecture/resilience.md
  docs/user-hub.md
  docs/user/AGENTS.md
  docs/user/ai-audit.md
  docs/user/dashboard-basics.md
Due: none

docs: Grafana port fix, coverage reconciliation, GHCR deployment, code quality tooling (NEM-1159, NEM-1162, NEM-1186, NEM-1189, NEM-1190, NEM-1197)
  .github/copilot-instructions.md
  CLAUDE.md
  backend/tests/AGENTS.md
  backend/tests/integration/AGENTS.md
  docs/decisions/AGENTS.md
  docs/decisions/grafana-integration.md
  docs/development/AGENTS.md
  docs/development/code-quality.md
  docs/development/contributing.md
  docs/development/setup.md
  docs/development/testing.md
  docs/operator-hub.md
  docs/operator/AGENTS.md
  docs/operator/ai-ghcr-deployment.md
  docs/operator/ai-installation.md
  docs/operator/ai-services.md
  frontend/AGENTS.md
  frontend/src/AGENTS.md
  frontend/src/components/AGENTS.md
  frontend/src/test/AGENTS.md
  frontend/tests/AGENTS.md
  monitoring/AGENTS.md
  scripts/AGENTS.md
Due: none

docs: Camera ID fix, frontend hooks, Prompt/Entities/DLQ/Model Zoo APIs (NEM-1152, NEM-1194, NEM-1199, NEM-1201, NEM-1203, NEM-1204)
  backend/api/routes/AGENTS.md
  backend/api/routes/cameras.py
  backend/api/routes/websocket.py
  backend/api/schemas/AGENTS.md
  backend/api/schemas/camera.py
  backend/api/schemas/detections.py
  backend/api/schemas/events.py
  backend/api/schemas/websocket.py
  docs/api-reference/AGENTS.md
  docs/api-reference/ai-audit.md
  docs/api-reference/audit.md
  docs/api-reference/cameras.md
  docs/api-reference/detections.md
  docs/api-reference/dlq.md
  docs/api-reference/entities.md
  docs/api-reference/events.md
  docs/api-reference/logs.md
  docs/api-reference/model-zoo.md
  docs/api-reference/overview.md
  docs/api-reference/prompts.md
  docs/api-reference/websocket.md
  docs/api-reference/zones.md
  docs/architecture/frontend-hooks.md
  docs/reference/api/alerts.md
  docs/reference/api/detections.md
  docs/reference/api/events.md
  docs/reference/api/websocket.md
  docs/user-guide/logs-dashboard.md
Due: none

docs: comprehensive documentation for Model Zoo, Enrichment, and System Page (NEM-1166, NEM-1173, NEM-1175, NEM-1182)
  backend/services/AGENTS.md
  docs/api-reference/AGENTS.md
  docs/api-reference/detections.md
  docs/api-reference/enrichment.md
  docs/api-reference/events.md
  docs/api-reference/model-zoo.md
  docs/api-reference/system.md
  docs/architecture/AGENTS.md
  docs/architecture/system-page-pipeline-visualization.md
  docs/user-hub.md
  docs/user/AGENTS.md
  docs/user/ai-enrichment.md
  docs/user/viewing-events.md
Due: none

docs: Infrastructure grid, WebSocket circuit breaker, Model Zoo, and Camera APIs (NEM-1151, NEM-1153, NEM-1174, NEM-1177, NEM-1181, NEM-1196)
  docs/api-reference/cameras.md
  docs/architecture/real-time.md
  docs/architecture/resilience.md
  docs/architecture/system-page-pipeline-visualization.md
  docs/user/AGENTS.md
  docs/user/ai-performance.md
Due: none

chore: regenerate API types after schema changes
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: exclude SearchBar.test.tsx to prevent vitest hang (NEM-1236)
  frontend/src/components/search/SearchBar.test.tsx
  frontend/vite.config.ts
  package.json
Due: prettier-frontend, eslint, typescript-check

fix: exclude SearchBar.test.tsx to prevent vitest hang (NEM-1236) (#1378)
  frontend/src/components/search/SearchBar.test.tsx
  frontend/vite.config.ts
  package.json
Due: prettier-frontend, eslint, typescript-check

test(NEM-1230): add unit tests for RetryHandler service
  backend/tests/unit/services/test_retry_handler.py
Due: check-test-timeouts

fix: Wave 1 batch fixes for 4 Linear issues (NEM-1141, NEM-1128, NEM-1134, NEM-1142)
  backend/api/routes/system.py
  backend/api/schemas/system.py
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

test(NEM-1224): add unit tests for DLQ API route
  backend/tests/unit/api/routes/test_dlq_api.py
  backend/tests/unit/services/test_alert_engine.py
Due: check-test-timeouts

perf(NEM-1235): reduce file watcher I/O delays in tests
  backend/tests/integration/test_file_watcher_integration.py
Due: check-test-mocks, check-test-timeouts

test(NEM-1232): add unit tests for PromptVersion model
  backend/tests/unit/models/test_event_audit.py
  backend/tests/unit/models/test_prompt_version.py
Due: check-test-timeouts

feat: Add schema validation for LLM responses, enrichment data, and file stability checks (NEM-1070, NEM-1069, NEM-1067)
  backend/api/routes/system.py
  backend/api/schemas/system.py
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

test(NEM-1227): add unit tests for Prompt Management API route
  backend/tests/unit/api/routes/test_prompt_management.py
Due: check-test-timeouts

perf(NEM-1233): replace asyncio.sleep with shorter delays in tests
  backend/tests/integration/test_api_error_scenarios.py
  backend/tests/integration/test_system_broadcaster.py
  backend/tests/unit/core/test_redis.py
  backend/tests/unit/routes/test_system_routes.py
  backend/tests/unit/services/test_degradation_manager.py
  backend/tests/unit/services/test_event_broadcaster.py
  backend/tests/unit/services/test_pipeline_worker.py
  backend/tests/unit/services/test_pipeline_workers.py
  backend/tests/unit/services/test_reid_service.py
  backend/tests/unit/services/test_system_broadcaster.py
Due: check-test-mocks, check-test-timeouts

test(NEM-1226): add unit tests for Metrics API route
  backend/tests/unit/api/routes/test_ai_audit.py
  backend/tests/unit/api/routes/test_metrics.py
Due: check-test-timeouts

fix: add event_broadcaster.py documentation to fix WebSocket test
  backend/services/AGENTS.md
Due: none

test(frontend): improve modal test stability and reduce act() warnings
  frontend/src/components/ai/BatchAuditModal.test.tsx
  frontend/src/components/audit/AuditDetailModal.test.tsx
  frontend/src/components/logs/LogDetailModal.test.tsx
  frontend/src/components/search/SearchBar.test.tsx
  frontend/src/test/setup.ts
Due: prettier-frontend, eslint, typescript-check

test: Testing uplevel improvements batch (NEM-1224 to NEM-1235) (#1377)
  backend/tests/integration/test_api_error_scenarios.py
  backend/tests/integration/test_file_watcher_integration.py
  backend/tests/integration/test_system_broadcaster.py
  backend/tests/unit/api/routes/test_ai_audit.py
  backend/tests/unit/api/routes/test_dlq_api.py
  backend/tests/unit/api/routes/test_metrics.py
  backend/tests/unit/api/routes/test_prompt_management.py
  backend/tests/unit/core/test_redis.py
  backend/tests/unit/models/test_event_audit.py
  backend/tests/unit/models/test_prompt_version.py
  backend/tests/unit/routes/test_system_routes.py
  backend/tests/unit/services/test_alert_engine.py
  backend/tests/unit/services/test_degradation_manager.py
  backend/tests/unit/services/test_event_broadcaster.py
  backend/tests/unit/services/test_pipeline_worker.py
  backend/tests/unit/services/test_pipeline_workers.py
  backend/tests/unit/services/test_reid_service.py
  backend/tests/unit/services/test_retry_handler.py
  backend/tests/unit/services/test_system_broadcaster.py
  frontend/src/components/ai/BatchAuditModal.test.tsx
  frontend/src/components/audit/AuditDetailModal.test.tsx
  frontend/src/components/logs/LogDetailModal.test.tsx
  frontend/src/components/search/SearchBar.test.tsx
  frontend/src/test/setup.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

feat: implement PromptPlayground component for AI Audit page (NEM-1148)
  frontend/src/components/ai-audit/PromptPlayground.test.tsx
  frontend/src/components/ai-audit/PromptPlayground.tsx
  frontend/src/components/ai-audit/index.ts
Due: prettier-frontend, eslint, typescript-check

feat: integrate summary row components into System and AI Performance pages (NEM-1146, NEM-1147)
  frontend/src/components/ai/AIPerformancePage.test.tsx
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
Due: prettier-frontend, eslint, typescript-check

docs: comprehensive documentation for Model Zoo, Enrichment, and System Page (NEM-1166, NEM-1173, NEM-1175, NEM-1182)
  backend/services/AGENTS.md
  docs/api-reference/AGENTS.md
  docs/api-reference/events.md
  docs/api-reference/model-zoo.md
  docs/architecture/system-page-pipeline-visualization.md
  docs/user-hub.md
  docs/user/AGENTS.md
Due: none

docs: expand AGENTS.md and architecture documentation (NEM-1165, NEM-1167, NEM-1168, NEM-1169, NEM-1170, NEM-1171, NEM-1172)
  docs/architecture/real-time.md
  docs/architecture/resilience.md
Due: none

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
