Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$

ci: make GPU Integration Tests non-blocking
  .github/workflows/gpu-tests.yml
Due: none

fix: resolve timezone comparison errors in alert dedup service/tests
  backend/services/alert_dedup.py
  backend/tests/unit/test_alert_dedup.py
Due: check-test-timeouts

ci: add timeout and make integration tests non-blocking
  .github/workflows/ci.yml
  backend/services/event_broadcaster.py
  backend/tests/unit/test_event_broadcaster.py
Due: check-test-timeouts

test: expand unit tests for cleanup service, alert dedup, and nemotron analyzer
  backend/services/clip_generator.py
  backend/tests/conftest.py
  backend/tests/integration/test_media_api.py
  backend/tests/unit/test_alert_dedup.py
  backend/tests/unit/test_cleanup_service.py
  backend/tests/unit/test_nemotron_analyzer.py
  pytest.ini
Due: check-test-mocks, check-test-timeouts

ci: enable 30s timeout for integration tests (was disabled)
  .github/workflows/ci.yml
Due: none

fix: use timezone-aware datetimes in integration tests
  backend/tests/integration/test_alert_dedup.py
Due: check-test-mocks, check-test-timeouts

fix: increase timeout for tests using TestClient(app)
  backend/tests/integration/test_media_api.py
  backend/tests/integration/test_websocket.py
Due: check-test-mocks, check-test-timeouts

ci: increase integration test timeout to 60s
  .github/workflows/ci.yml
Due: none

fix: mock all lifespan services in test_media_api.py for fast startup
  .github/workflows/ci.yml
  backend/tests/integration/test_media_api.py
  backend/tests/integration/test_websocket.py
Due: check-test-mocks, check-test-timeouts

perf(tests): fix integration test fixture startup times
  backend/tests/integration/test_alert_dedup.py
  backend/tests/integration/test_media_api.py
  backend/tests/integration/test_websocket.py
Due: check-test-mocks, check-test-timeouts

perf(tests): mock all lifespan services in client fixture
  backend/tests/conftest.py
Due: check-test-timeouts

perf(tests): add worker_stop_timeout to speed up pipeline worker tests
  backend/services/pipeline_workers.py
  backend/tests/unit/test_pipeline_workers.py
Due: check-test-timeouts

fix(tests): use AsyncMock for async lifespan functions in client fixture
  backend/tests/conftest.py
Due: check-test-timeouts

fix: configure mock_file_watcher attributes for pipeline status tests
  backend/tests/conftest.py
Due: check-test-timeouts

fix: use configure_mock and explicit mock class for FileWatcher
  backend/tests/conftest.py
Due: check-test-timeouts

fix: directly patch _file_watcher in system routes for pipeline tests
  backend/tests/conftest.py
Due: check-test-timeouts

fix: CI coverage thresholds and AuditLogPage test race condition
  .beads/issues.jsonl
  .github/workflows/ci.yml
  frontend/src/components/audit/AuditLogPage.test.tsx
Due: prettier-frontend, eslint, typescript-check

test: improve test coverage to 95%+ across frontend and backend
  .beads/issues.jsonl
  .github/workflows/ci.yml
  backend/tests/gpu/test_detector_integration.py
  backend/tests/unit/test_cleanup_service.py
  backend/tests/unit/test_gpu_monitor.py
  backend/tests/unit/test_nemotron_analyzer.py
  backend/tests/unit/test_system_broadcaster.py
  frontend/src/components/common/WebSocketStatus.test.tsx
  frontend/src/components/dashboard/DashboardPage.test.tsx
  frontend/src/components/dashboard/GpuStats.test.tsx
  frontend/src/components/dashboard/PipelineTelemetry.test.tsx
  frontend/src/components/dashboard/RiskGauge.test.tsx
  frontend/src/components/dashboard/RiskGauge.tsx
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/logs/LogsTable.test.tsx
  frontend/src/components/search/SearchBar.test.tsx
  frontend/src/components/settings/DlqMonitor.test.tsx
  frontend/src/hooks/useGpuHistory.test.ts
  frontend/src/hooks/useHealthStatus.test.ts
  frontend/src/hooks/useWebSocket.test.ts
  frontend/src/services/logger.ts
  frontend/vite.config.ts
  package-lock.json
  pyproject.toml
  pytest.ini
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

chore: lower frontend coverage thresholds to match current coverage
  frontend/vite.config.ts
Due: prettier-frontend, eslint, typescript-check

docs: add System Performance dashboard design
  docs/plans/2025-12-31-system-performance-design.md
Due: none

docs: update system performance design for enhance-existing approach
  docs/plans/2025-12-31-system-performance-design.md
Due: none

feat: add System Performance Dashboard backend foundation
  .beads/issues.jsonl
  backend/api/schemas/performance.py
  backend/requirements.txt
  backend/services/performance_collector.py
  backend/tests/unit/test_performance_collector.py
  backend/tests/unit/test_performance_schemas.py
Due: check-test-timeouts

docs: add System Performance Dashboard implementation plan
  .beads/issues.jsonl
  docs/plans/2025-12-31-system-performance-plan.md
Due: none
