Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$

docs(plans): combined-upgrades goal prompt — 4-PR supersede model for the 15 live dependabot PRs
  docs/goal-prompt-dependabot-combined-2026-09-21.txt
Due: none

build(deps): bump filelock 3.32.6->4.0.1 and gdown 5.2.2->6.4.0 (supersedes #6620 #6626)
  uv.lock
Due: uv-lock-check

build(ai): NGC bases tensorrt 26.04->26.08 + cuda 13.2.1->13.3.1 (R-3 gated)
  ai/clip/Dockerfile
  ai/nemotron/Dockerfile
  ai/nemotron/Dockerfile.hf
  ai/yolo26/Dockerfile
Due: none

ci(deps): retarget dependabot to the uv ecosystem and stop the weekly no-op pile (#6628)
  .github/AGENTS.md
  .github/dependabot.yml
  .gitignore
  docs/goal-prompt-dependabot-2026-09-21.txt
  docs/goal-prompt-dependabot-combined-2026-09-21.txt
  docs/plans/2026-09-21-dependabot-triage.md
  docs/reference/nvidia-technology-inventory.md
  requirements-audit.txt
Due: none

chore(deps): combined frontend upgrades — vitest 5, stryker 10, TS 6.0.3 + majors
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/matchers.ts
  frontend/src/utils/websocketCompression.ts
  frontend/tsconfig.json
Due: prettier-frontend, eslint, typescript-check, npm-install-check

fix(deps): defer msw 2.15 (regression) + vitest 5 test/mock adaptations
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/dashboard/CameraGrid.test.tsx
  frontend/src/hooks/__mocks__/webSocketManager.ts
  frontend/src/services/__mocks__/api.ts
  frontend/src/test/common-mocks.ts
  frontend/src/test/mocks/index.ts
Due: prettier-frontend, eslint, typescript-check, npm-install-check

docs(plans): execution findings from the combined-upgrades build — msw 2.13 regression (measured isolation), vitest 5 Assertion self-conflict, stryker-checker TS2883 wall
  docs/plans/2026-09-21-dependabot-triage.md
Due: none

docs(plans): ledger — dependabot combined-supersede execution record (2026-09-21)
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(plans): finding 4 — TPA harvest can pick an expired run (410 fail-closed)
  docs/plans/2026-09-21-dependabot-triage.md
Due: none

docs(plans): finding 4 — fix shipped in #6629 (attempt 3 proved persistent stale pages)
  docs/plans/2026-09-21-dependabot-triage.md
Due: none

docs(plans): ledger — R-3 approved (#6631 merges); #6633 triaged+merged as first uv-ecosystem win
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(plans): finding 5 — stryker/vitest5 mutation score is a harness defect (0.00, isolation experiment running); correct ledger's stryker claim
  docs/plans/2026-09-12-context-map-doc-updates.md
  docs/plans/2026-09-21-dependabot-triage.md
Due: none

docs(plans): ledger — stryker root-cause CLOSED (both experiments, mechanism = vitest5 module runner bypasses instrumented module); ledger text now matches Finding 5's resolved state.
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

build(deps): bump filelock 3.32.6->4.0.1 and gdown 5.2.2->6.4.0 (supersedes #6620 #6626) (#6630)
  uv.lock
Due: uv-lock-check

chore(deps): combined frontend upgrades — vitest 5 + stryker 10 + TS 6.0.3 (supersedes #6603 #6604 #6606 #6609 #6610 #6611 #6612) (#6632)
  docs/plans/2026-09-12-context-map-doc-updates.md
  docs/plans/2026-09-21-dependabot-triage.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/matchers.ts
  frontend/src/components/dashboard/CameraGrid.test.tsx
  frontend/src/hooks/__mocks__/webSocketManager.ts
  frontend/src/services/__mocks__/api.ts
  frontend/src/test/common-mocks.ts
  frontend/src/test/mocks/index.ts
  frontend/src/utils/websocketCompression.ts
  frontend/tsconfig.json
Due: prettier-frontend, eslint, typescript-check, npm-install-check

build(ai): NGC bases tensorrt 26.04->26.08 + cuda 13.2.1->13.3.1 (R-3 gated) (#6631)
  ai/clip/Dockerfile
  ai/nemotron/Dockerfile
  ai/nemotron/Dockerfile.hf
  ai/yolo26/Dockerfile
Due: none

ci(deps-bundle): harvester skips candidates older than artifact retention
  scripts/fetch-ci-artifacts.py
  scripts/test_flake_consumer.py
Due: none

ci(deps): bump actions/attest-build-provenance to v4.2.2 (supersedes #6617)
  .github/workflows/deploy.yml
Due: none

ci(deps): bump the github-actions-minor-patch group (supersedes #6613)
  .github/workflows/deploy.yml
  .github/workflows/pr-review-bot.yml
  .github/workflows/test-coverage-gate.yml
Due: none

ci(deps-bundle): re-request stale runs-list pages instead of dying on them
  scripts/fetch-ci-artifacts.py
  scripts/test_flake_consumer.py
Due: none

ci(deps): bump actions/configure-pages from v5 to v6 (supersedes #6615)
  .github/workflows/docs.yml
Due: none

ci(deps): bump codecov/codecov-action to v7.1.1 x3 (supersedes #6616)
  .github/workflows/ci.yml
Due: none

ci(deps-bundle): harvester skips expired artifacts (stale-page 410 hardening)
  scripts/fetch-ci-artifacts.py
  scripts/test_flake_consumer.py
Due: none

docs(dependabot): closeout — third TPA stale-page signature + final execution-state ledger
  docs/plans/2026-09-12-context-map-doc-updates.md
  docs/plans/2026-09-21-dependabot-triage.md
Due: none

docs(dependabot): closeout — third TPA stale-page signature + final execution-state ledger (#6635)
  docs/plans/2026-09-12-context-map-doc-updates.md
  docs/plans/2026-09-21-dependabot-triage.md
Due: none

ci(deps): combined actions upgrades, truthful pins (supersedes #6613 #6615 #6616 #6617) (#6629)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/pr-review-bot.yml
  .github/workflows/test-coverage-gate.yml
  scripts/fetch-ci-artifacts.py
  scripts/test_flake_consumer.py
Due: none

docs(ledger): fill #6629 closeout row — merged 57a7da5c at 22:27:41Z, four closes posted
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(ledger): fill #6629 closeout row — merged 57a7da5c at 22:27:41Z, four closes posted (#6636)
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(agents-index): recursive AGENTS.md refresh — 19 new indexes, 22 corrected, validator at zero
  AGENTS.md
  ai/AGENTS.md
  ai/common/AGENTS.md
  ai/enrichment-light/tests/AGENTS.md
  ai/gateway/AGENTS.md
  ai/gateway/adapters/AGENTS.md
  ai/gateway/export/AGENTS.md
  ai/gateway/tests/AGENTS.md
  backend/AGENTS.md
  backend/ai_contract/AGENTS.md
  backend/ai_contract/fake/AGENTS.md
  backend/api/AGENTS.md
  backend/api/middleware/AGENTS.md
  backend/models/AGENTS.md
  backend/tests/chaos/AGENTS.md
  backend/tests/contracts/AGENTS.md
  backend/tests/contracts/ai_providers/AGENTS.md
  backend/tests/fixtures/images/pipeline_test/AGENTS.md
  backend/tests/gpu/AGENTS.md
  backend/tests/unit/AGENTS.md
  backend/tests/unit/api/AGENTS.md
  backend/tests/unit/setup_lib/AGENTS.md
  data/AGENTS.md
  docs/AGENTS.md
  docs/operator/deployment/AGENTS.md
  frontend/AGENTS.md
  frontend/src/components/auth/AGENTS.md
  frontend/src/components/enrichment/AGENTS.md
  frontend/src/components/face-recognition/AGENTS.md
  frontend/src/components/household/AGENTS.md
  frontend/src/components/operations/AGENTS.md
  frontend/src/components/plate-reads/__tests__/AGENTS.md
  frontend/src/components/ptz/AGENTS.md
  frontend/src/components/settings/__tests__/AGENTS.md
  frontend/src/components/tracks/AGENTS.md
  frontend/src/constants/AGENTS.md
  monitoring/AGENTS.md
  scripts/AGENTS.md
  scripts/dataset_converters/AGENTS.md
  tests/AGENTS.md
Due: prettier-frontend

docs(dependabot): record R-2 resolution — #6614 incorporated into #6638 by owner instruction
  docs/plans/2026-09-21-dependabot-triage.md
Due: none

test(integration): bypass setup guard in the two media client fixtures — kills the 503 flake
  backend/tests/integration/test_media_api.py
  backend/tests/integration/test_media_security.py
Due: check-test-mocks, check-test-timeouts

fix(frontend): stryker x vitest-5 silent-red killed at the root; guard makes dead harnesses loud (M1)
  frontend/package.json
  frontend/scripts/mutation-guard.mjs
  frontend/scripts/patch-stryker-vitest5-names.cjs
  frontend/scripts/test_mutation_guard.cjs
  frontend/stryker.config.mjs
Due: prettier-frontend, npm-install-check

fix(ci): mutation convergence was structurally broken 3 ways — cache now banks on failed jobs, history lands via PR (M2)
  .github/workflows/mutation-testing.yml
  .gitignore
  docs/goal-prompt-mutation-80-2026-09-22.txt
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(services): 72-mutant kill battery for batch_aggregator survivor clusters C6-C9 + C11-C17 (WP4.4 feed)
  backend/tests/unit/services/test_batch_aggregator.py
  backend/tests/unit/services/test_orphan_recovery.py
Due: check-test-timeouts

style(tests): ruff PLC0207 maxsplit + format on the WP4.4 kill-battery files
  backend/tests/unit/services/test_orphan_recovery.py
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: check-test-timeouts

test(services): C1/C3 gpu-monitor guard kills complete the frozen feed's 74-mutant TEST-GAP set
  backend/tests/unit/services/test_batch_aggregator.py
Due: check-test-timeouts
