Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

generate-api-types:
  name: Generate TypeScript API Types
  entry: bash -c './scripts/generate-types.sh && git add frontend/src/types/generated/api.ts'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv lock file is up-to-date
  entry: bash -c 'cd "$0" && uv lock --check' .
  language: system
  pass_filenames: false

npm-install-check:
  name: Check npm dependencies are installed
  entry: bash -c 'cd frontend && npm ci --prefer-offline --no-audit --dry-run'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-validation-drift:
  name: Check validation drift (Pydantic/Zod)
  entry: python3 scripts/check-validation-drift.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

feat(reports): implement Scheduled Reports frontend UI (NEM-3667)
  frontend/src/App.tsx
Due: prettier-frontend, eslint, typescript-check

fix(ci): remove ai-services-tests job with incompatible imports
  .github/workflows/ci.yml
Due: none

fix(ai-yolo26): add missing compile_utils and torch_optimizations to Dockerfile
  ai/yolo26/Dockerfile
Due: none

fix(docker): correct CUDA_VISIBLE_DEVICES for single GPU passthrough
  docker-compose.prod.yml
Due: none

refactor: complete RT-DETR to YOLO26 migration in .github
  backend/core/AGENTS.md
  backend/core/config.py
  backend/core/exceptions.py
  backend/core/logging.py
  backend/core/metrics.py
  backend/core/otel_metrics.py
  backend/core/protocols.py
  backend/core/sanitization.py
  backend/core/telemetry.py
  backend/core/telemetry_ai_conventions.py
  backend/core/websocket/event_schemas.py
Due: none

fix(docker): fix GPU access for pytorch-based AI containers
  ai/enrichment/Dockerfile
  ai/florence/Dockerfile
  scripts/redeploy.sh
Due: none

feat: implement 5 discovery tasks (NEM-3662, NEM-3606, NEM-3639, NEM-3597, NEM-3603)
  docs/openapi.json
  frontend/src/components/events/RiskFactorsBreakdown.test.tsx
  frontend/src/components/events/RiskFactorsBreakdown.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

feat: implement backup/restore and webhook management systems (NEM-3566, NEM-3624)
  docs/openapi.json
  frontend/src/App.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

docs: complete RT-DETR to YOLO26 migration
  backend/core/AGENTS.md
  backend/core/config.py
  backend/core/exceptions.py
  backend/core/logging.py
  backend/core/metrics.py
  backend/core/otel_metrics.py
  backend/core/protocols.py
  backend/core/sanitization.py
  backend/core/telemetry.py
  backend/core/telemetry_ai_conventions.py
  backend/core/websocket/event_schemas.py
Due: none

fix(tests): update GPU detection tests for ai-yolo26 rename
  backend/tests/unit/services/test_gpu_detection_service.py
Due: check-test-timeouts

chore: update OpenAPI spec with webhook processing response
  docs/openapi.json
Due: none

chore: regenerate TypeScript API types after rebase
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

feat(ai): complete YOLO26 epic remaining tasks (NEM-3689, NEM-3694, NEM-3697, NEM-3698, NEM-3705)
  .github/workflows/ci.yml
Due: none

chore: regenerate TypeScript API types
  frontend/src/components/events/RiskFactorsBreakdown.test.tsx
  frontend/src/components/events/RiskFactorsBreakdown.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

docs: remove RT-DETR references, YOLO26 is now the only detector
  ai/AGENTS.md
  docs/benchmarks/yolo26-benchmarks.md
Due: none

perf(ai): optimize GPU memory distribution
  ai/enrichment-light/Dockerfile
  docker-compose.prod.yml
Due: none

feat(ai): enable TensorRT acceleration for enrichment-light pose/threat models
  ai/enrichment-light/Dockerfile
  ai/enrichment-light/models/pose_estimator.py
  ai/enrichment-light/models/threat_detector.py
  ai/enrichment-light/requirements.txt
  docker-compose.prod.yml
Due: none

fix(ai): update CLIP TensorRT config in staging
  docker-compose.staging.yml
Due: none

test(backend): update tests for YOLO26-only detection
  backend/tests/unit/api/routes/test_health_ai_services.py
  backend/tests/unit/core/test_config_validation.py
Due: check-test-timeouts

fix: complete RT-DETR to YOLO26 migration in tests and services
  backend/tests/unit/api/routes/test_health_full.py
  backend/tests/unit/api/schemas/__snapshots__/test_response_schema_snapshots.ambr
  backend/tests/unit/routes/test_system_routes.py
  backend/tests/unit/services/test_gpu_monitor.py
  backend/tests/unit/services/test_performance_collector.py
  backend/tests/unit/test_main.py
Due: check-test-timeouts

feat(ai): enable model preloading for enrichment-heavy service
  docker-compose.prod.yml
Due: none

fix(ai): correct method names for pose/threat in enrichment-light API
  ai/enrichment-light/model.py
Due: none

fix(ai): resolve CLIP TensorRT deployment issues
  ai/clip/Dockerfile
  docker-compose.prod.yml
Due: none

feat(ai): enable TensorRT for pose and threat detection
  docker-compose.prod.yml
Due: none

feat(gpu): move YOLO26 to GPU 1 for multi-GPU distribution
  docker-compose.prod.yml
Due: none

feat(ai): add config-driven enrichment model routing
  ai/enrichment-light/Dockerfile
  ai/enrichment-light/model.py
  ai/enrichment-light/models/pose_estimator.py
  ai/enrichment-light/models/threat_detector.py
  ai/enrichment-light/requirements.txt
  docker-compose.prod.yml
Due: none

feat(ai): enable CLIP TensorRT with auto-export on first run
  docker-compose.prod.yml
  docker-compose.staging.yml
Due: none

feat(ai): optimize GPU distribution and enable YOLO26 default
  docker-compose.prod.yml
Due: none

docs: complete RT-DETR to YOLO26 migration
  backend/core/AGENTS.md
  backend/core/__init__.py
  backend/core/config.py
  backend/core/exceptions.py
  backend/core/logging.py
  backend/core/metrics.py
  backend/core/otel_metrics.py
  backend/core/protocols.py
  backend/core/sanitization.py
  backend/core/telemetry.py
  backend/core/telemetry_ai_conventions.py
  backend/core/websocket/event_schemas.py
Due: none

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
