Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

generate-api-types:
  name: Generate TypeScript API Types
  entry: bash -c './scripts/generate-types.sh && git add frontend/src/types/generated/api.ts'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv lock file is up-to-date
  entry: bash -c 'cd "$0" && uv lock --check' .
  language: system
  pass_filenames: false

npm-install-check:
  name: Check npm dependencies are installed
  entry: bash -c 'cd frontend && npm ci --prefer-offline --no-audit --dry-run'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-validation-drift:
  name: Check validation drift (Pydantic/Zod)
  entry: python3 scripts/check-validation-drift.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

fix(F1.1): report absolute request URLs instead of dropping them
  frontend/scripts/api-contract-lib.mjs
  frontend/scripts/api-contract-scan.mjs
  frontend/src/__tests__/api-contract-lib.test.ts
  frontend/src/__tests__/api-endpoint-contract.test.ts
Due: prettier-frontend, eslint, typescript-check

fix(probes): latency_tail points the client's root at --dir (B1.1)
  backend/tests/unit/scripts/test_vlm_latency_tail_probe.py
  scripts/vlm_probes/latency_tail.py
Due: check-test-timeouts

fix(ops): the render test's skip joins the suppression registry
  .github/suppression-baseline.json
  .github/suppression-registry.yml
  scripts/a5500_precheck.py
  scripts/suppression-registry-gen.py
  scripts/test_suppression_census.py
Due: none

docs(llm): the cites 96e3a96b wrote point at the right lines now
  docs/developer/llm-inference-optimization.md
Due: none

test(probes): pin the classify table the probe's buckets rest on (B1.1)
  backend/tests/unit/scripts/test_vlm_latency_tail_probe.py
  backend/tests/unit/services/test_vlm_client.py
Due: check-test-timeouts

fix(F1.1): report pass-through verb sites a claim merge folds away
  frontend/scripts/api-contract-lib.mjs
  frontend/src/__tests__/api-contract-lib.test.ts
  frontend/src/__tests__/api-endpoint-contract.test.ts
Due: prettier-frontend, eslint, typescript-check

docs: the three cite legs my renumber shifted wrong
  docs/reference/nvidia-technology-inventory.md
  docs/reference/troubleshooting/gpu-issues.md
Due: none

docs: two more cite legs the blind sweep caught
  docs/reference/nvidia-technology-inventory.md
Due: none

fix(F1.1): retire known-missing entries once the backend serves them
  frontend/scripts/api-contract-lib.mjs
  frontend/scripts/api-contract-scan.mjs
  frontend/src/__tests__/api-contract-lib.test.ts
  frontend/src/__tests__/api-endpoint-contract.test.ts
Due: prettier-frontend, eslint, typescript-check

feat(B1.3): inbound webhooks answer 501 behind a fail-closed key check
  backend/api/middleware/auth.py
  backend/api/routes/inbound_webhooks.py
  backend/tests/integration/test_inbound_webhooks_api.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-integration-tests

docs(B1.3): routes now guarded by require_api_key and answer 501
  backend/AGENTS.md
  backend/api/middleware/AGENTS.md
  docs/architecture/dataflows/api-request-flow.md
  docs/developer/api/coverage.md
  docs/operator/admin/README.md
  docs/operator/admin/security.md
  docs/uplevel/README.md
Due: none

style(B1.1): ruff-format the latency-tail probe signature
  backend/tests/unit/scripts/test_vlm_latency_tail_probe.py
Due: check-test-timeouts

fix(B1.3): annotate the responses map mypy's key type accepts
  backend/api/routes/inbound_webhooks.py
Due: generate-openapi, generate-api-types, check-integration-tests

test(B1.3): unit-tier suite for the inbound webhook module
  backend/tests/unit/api/routes/test_inbound_webhooks.py
Due: check-test-timeouts

fix(B1.3): record self-review resolutions in code and docs
  backend/api/routes/inbound_webhooks.py
  backend/tests/integration/test_auth_flow.py
  backend/tests/unit/api/routes/test_inbound_webhooks.py
  docs/architecture/dataflows/api-request-flow.md
  docs/operator/admin/README.md
Due: generate-openapi, generate-api-types, check-test-mocks, check-test-timeouts, check-integration-tests

docs(B1.3): point the mode-vocabulary note at the module docstring
  backend/tests/integration/test_inbound_webhooks_api.py
Due: check-test-mocks, check-test-timeouts

fix(B1.1): a stalled request write is the same budget as a stalled read
  backend/services/vlm_client.py
  backend/tests/unit/services/test_vlm_client.py
Due: check-test-timeouts, check-integration-tests

fix(B1.1): the latency probe's re-ask guard learns the write leg too
  backend/tests/unit/scripts/test_vlm_latency_tail_probe.py
  scripts/vlm_probes/latency_tail.py
Due: check-test-timeouts

fix(ops): O1.9 green Deploy: contract check, :latest after smoke
  .github/AGENTS.md
  .github/workflows/AGENTS.md
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  .prettierignore
  backend/tests/unit/scripts/data/health-full-ci-stack-503.json
  backend/tests/unit/scripts/data/health-ready-ci-stack-200.json
  backend/tests/unit/scripts/data/rollback-issues-open.json
  backend/tests/unit/scripts/test_close_rollback_issues_script.py
  backend/tests/unit/scripts/test_deploy_publishes_latest_after_smoke.py
  backend/tests/unit/scripts/test_deploy_workflow_action_inputs_are_literals.py
  backend/tests/unit/scripts/test_deploy_workflow_no_checklist_only_jobs.py
  backend/tests/unit/scripts/test_deploy_workflow_signs_by_digest.py
  backend/tests/unit/scripts/test_rollback_workflow_deleted.py
  backend/tests/unit/scripts/test_rollback_workflow_permissions.py
  backend/tests/unit/scripts/test_smoke_test_ci_stack_contract.py
  docs/developer/ci-cd.md
  docs/vss-integration/17-action-plan.md
  scripts/AGENTS.md
  scripts/ci-smoke-contract.json
  scripts/ci-smoke-test.sh
  scripts/close-rollback-issues.sh
Due: check-test-timeouts

docs(B1.1): every retry-budget claim in docs now tells the truth
  docs/architecture/ai-orchestration/fallback-strategies.md
  docs/architecture/dataflows/error-recovery-flow.md
  docs/architecture/dataflows/image-to-event.md
  docs/architecture/dataflows/llm-analysis-flow.md
  docs/architecture/detection-pipeline/analysis-queue.md
  docs/operator/admin/README.md
  docs/operator/ai-configuration.md
  docs/reference/README.md
  docs/reference/config/env-reference.md
  docs/reference/troubleshooting/ai-issues.md
  docs/reference/troubleshooting/connection-issues.md
  docs/reference/troubleshooting/index.md
  monitoring/ai-pipeline-alerts.yml
Due: none

test(B1.3): scan log record VALUES for the secret, not just key names
  backend/tests/unit/api/routes/test_inbound_webhooks.py
Due: check-test-timeouts

test(B1.3): allowlist the two test fixtures the secret hook flags
  backend/tests/integration/test_inbound_webhooks_api.py
  backend/tests/unit/api/routes/test_inbound_webhooks.py
Due: check-test-mocks, check-test-timeouts

chore(B1.3): refresh secret-baseline line numbers this PR shifted
  .secrets.baseline
Due: none

fix(B1.1): name both phases and the connect sum in the budget field
  .env.example
  backend/core/config.py
  docker-compose.prod.yml
Due: none

fix(ops): O1.9 round-1 review — dead query can't certify the Done-when
  .github/AGENTS.md
  backend/tests/unit/scripts/test_close_rollback_issues_script.py
  scripts/close-rollback-issues.sh
Due: check-test-timeouts

docs(B1.1): the read budget is per-read idle, not a deadline
  .env.example
  backend/core/config.py
  backend/services/AGENTS.md
  backend/services/vlm_client.py
  backend/tests/unit/services/test_vlm_client.py
  docker-compose.prod.yml
  docs/architecture/ai-orchestration/fallback-strategies.md
  docs/architecture/api-reference/system-api.md
  docs/architecture/dataflows/README.md
  docs/architecture/dataflows/error-recovery-flow.md
  docs/architecture/dataflows/image-to-event.md
  docs/architecture/dataflows/llm-analysis-flow.md
  docs/architecture/detection-pipeline/analysis-queue.md
  docs/architecture/detection-pipeline/critical-paths.md
  docs/architecture/resilience.md
  docs/developer/api/ai-pipeline.md
  docs/developer/llm-inference-optimization.md
  docs/developer/pipeline-overview.md
  docs/operator/admin/README.md
  docs/reference/config/env-reference.md
  docs/reference/troubleshooting/ai-issues.md
  docs/reference/troubleshooting/connection-issues.md
  docs/reference/troubleshooting/index.md
  scripts/vlm_probes/latency_tail.py
Due: check-test-timeouts, check-integration-tests

fix(B1.1): repair the doc cites my comment growth shifted
  README.md
  docs/architecture/ai-orchestration/README.md
  docs/architecture/ai-pipeline-current-state.md
  docs/architecture/data-model.md
  docs/architecture/decisions.md
  docs/architecture/detection-pipeline/README.md
  docs/architecture/middleware/cors-configuration.md
  docs/architecture/observability/alertmanager.md
  docs/architecture/observability/distributed-tracing.md
  docs/architecture/security/network-security.md
  docs/architecture/system-overview/README.md
  docs/architecture/system-overview/configuration.md
  docs/architecture/system-overview/deployment-topology.md
  docs/deployment/gpu-memory-limits.md
  docs/developer/risk-analysis.md
  docs/getting-started/first-run.md
  docs/guides/profiling.md
  docs/operations/profiling-runbook.md
  docs/operator/prometheus-alerting.md
  docs/reference/nvidia-technology-inventory.md
Due: none

docs(B1.1): retire the caps-each-attempt claim my sweep missed
  docs/developer/pipeline-overview.md
Due: none

test(B1.4): pin verdict_engine in readiness; status stays 200
  backend/tests/integration/test_verdict_engine_readiness.py
Due: check-test-mocks, check-test-timeouts

feat(B1.4): report verdict-engine state on readiness, push transitions
  backend/api/routes/AGENTS.md
  backend/api/routes/system.py
  backend/api/schemas/AGENTS.md
  backend/api/schemas/system.py
  backend/api/schemas/websocket.py
  backend/core/websocket/AGENTS.md
  backend/core/websocket/event_schemas.py
  backend/core/websocket/event_types.py
  backend/services/AGENTS.md
  backend/services/verdict_engine_status.py
  backend/tests/integration/test_verdict_engine_readiness.py
  backend/tests/unit/services/test_model_warmup.py
  backend/tests/unit/services/test_verdict_engine_status.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/websocket.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

docs(B1.4): document verdict_engine readiness field and WS event
  docs/architecture/api-reference/system-api.md
  docs/developer/api/realtime.md
  docs/developer/api/system-ops.md
  docs/operator/monitoring/README.md
Due: none

docs(B1.4): re-aim code citations shifted by the readiness change
  docs/api/DEPRECATION_POLICY.md
  docs/architecture/ai-pipeline-current-state.md
  docs/architecture/api-reference/README.md
  docs/architecture/background-services/gpu-monitor.md
  docs/architecture/background-services/retention-cleanup.md
  docs/architecture/data-model.md
  docs/architecture/dataflows/api-request-flow.md
  docs/architecture/resilience.md
  docs/architecture/system-overview/configuration.md
  docs/developer/api/system-monitoring.md
  docs/uplevel/10-backend.md
Due: none

chore(B1.4): status row to awaiting real tier (#6886)
  docs/uplevel/README.md
Due: none

fix(B1.4): give the readiness mocks verdict_engine; repair cites
  docs/api/DEPRECATION_POLICY.md
  docs/architecture/api-reference/system-api.md
  docs/architecture/data-model.md
  frontend/src/components/system/KubernetesProbesPanel.test.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/mocks/handlers.ts
Due: prettier-frontend, eslint, typescript-check

test: nosemgrep the webhook fixture secret line (hook blocks pushes)
  backend/tests/unit/api/routes/test_inbound_webhooks.py
Due: check-test-timeouts

style(B1.4): dedent AGENTS.md snippet comment for ruff md format
  backend/services/AGENTS.md
Due: none

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
