Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

generate-api-types:
  name: Generate TypeScript API Types
  entry: bash -c './scripts/generate-types.sh && git add frontend/src/types/generated/api.ts'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv lock file is up-to-date
  entry: bash -c 'cd "$0" && uv lock --check' .
  language: system
  pass_filenames: false

npm-install-check:
  name: Check npm dependencies are installed
  entry: bash -c 'cd frontend && npm ci --prefer-offline --no-audit --dry-run'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-validation-drift:
  name: Check validation drift (Pydantic/Zod)
  entry: python3 scripts/check-validation-drift.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

test(backend): repair alert_rules metric-rename drift; delete stale-rule tests (R-T7-ALERTRULES)
  backend/tests/integration/test_alert_rules.py
Due: check-test-mocks, check-test-timeouts

test(backend): repair file_watcher_integration NEM-3469 streams-path drift (R-T7-WATCHER-INT)
  backend/tests/integration/test_file_watcher_integration.py
Due: check-test-mocks, check-test-timeouts

test(backend): repair services_api dependency-injection mock drift (R-T7-SERVICES)
  backend/tests/integration/test_services_api.py
Due: check-test-mocks, check-test-timeouts

test(security): stub Redis singleton in security_client fixture (R-T7-APISEC-REDIS)
  backend/tests/security/conftest.py
Due: check-test-timeouts

fix(jobs): bind string job_id for varchar job_transitions column (R-T7-JOBS-VARCHAR)
  backend/services/job_history_service.py
  backend/tests/integration/test_job_history_api.py
Due: check-test-mocks, check-test-timeouts, check-integration-tests

test(backend): repair onvif discovery mock-target + schema-contract drift (R-T7-ONVIF)
  backend/tests/integration/test_onvif_discovery_api.py
Due: check-test-mocks, check-test-timeouts

test(backend): align cameras_rtsp with shipped password-echo contract (R-T7-RTSP-ECHO)
  backend/tests/integration/test_cameras_rtsp.py
Due: check-test-mocks, check-test-timeouts

test(backend): skipif-guard never-implemented stream-config API (R-T7-STREAMCONFIG)
  backend/tests/integration/test_stream_config_api.py
Due: check-test-mocks, check-test-timeouts

docs(gb300): ledger — run-1 triage batch 2 (9 files, 123 fixes)
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(backend): repair model_management DI mock drift (R-T7-MODELMGMT)
  backend/tests/integration/api/routes/test_model_management_integration.py
Due: check-test-mocks, check-test-timeouts

test(backend): align florence_validation with NEM-5570 cascade contract (R-T7-FLORENCE)
  backend/tests/integration/test_florence_validation.py
Due: check-test-mocks, check-test-timeouts

test(backend): skipif-guard unshipped feedback CRUD endpoints (R-T7-FEEDBACK-CRUD)
  backend/tests/integration/api/test_feedback_routes.py
Due: check-test-mocks, check-test-timeouts

test(backend): align search_api with shipped SearchResponse contract (R-T7-SEARCH)
  backend/tests/integration/test_search_api.py
Due: check-test-mocks, check-test-timeouts

test(backend): repair preview_api fixture/mock drift (R-T7-PREVIEW)
  backend/tests/integration/test_preview_api.py
Due: check-test-mocks, check-test-timeouts

fix(models): register PromptVersion with create_all metadata (R-T7-PROMPTVER)
  backend/models/__init__.py
  backend/tests/integration/test_prompt_management_api.py
Due: generate-openapi, generate-api-types, check-test-mocks, check-test-timeouts

test(backend): bypass setup guard in orchestrator file-local clients (R-T7-ORCH-503)
  backend/tests/integration/test_orchestrator_integration.py
Due: check-test-mocks, check-test-timeouts

test(backend): repair gpu_config_workflow ordering + mock drift (R-T7-GPUCFG)
  backend/tests/integration/test_gpu_config_workflow.py
Due: check-test-mocks, check-test-timeouts

docs(gb300): ledger — run-1 triage batch 3 + clean-rerun decision
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(plan): M1 Task 7 Steps 4-6 progress — triage batches recorded
  docs/superpowers/plans/2026-09-12-arm64-gb300-milestone1.md
Due: none

docs(gb300): run-2 ledger — DB-URL priority gap + gate-local services
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

fix(tests): disable OTEL tracing in test process (R-T7-OTEL-OOM)
  backend/tests/conftest.py
  backend/tests/unit/core/test_telemetry.py
Due: check-test-timeouts

docs(gb300): run-3 ledger — OOM kill cascade root cause + OTEL fix
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(gb300): run-4 ledger — coverage 85.17% gate-passes; controller OOM investigation
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

fix(gate): D14 split with combined-coverage mechanics that actually work (R-T7-D14-SPLIT)
  scripts/validate.sh
Due: none

docs(gb300): run-5 ledger — testcontainers DiskFull root cause + D14 split landed
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

fix(tests): repair order-dependent unit-run failures (R-T7-UNIT-3)
  backend/tests/security/conftest.py
  backend/tests/unit/core/test_database_pool.py
Due: check-test-timeouts

docs(gb300): run-6 ledger — worker-side OOM verdict, 317F clean surface, test_base + jobs_api root causes
  docs/goal-prompt-2026-09-13.md
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(core): per-worker DB isolation helpers + contract tests (spec 3.1)
  backend/tests/conftest.py
  backend/tests/test_db_isolation.py
Due: check-test-timeouts

test(core): get_test_db_url returns per-worker databases (spec 3.1 cutover)
  backend/tests/conftest.py
  backend/tests/test_db_isolation.py
Due: check-test-timeouts

docs(gb300): ledger — R-T7-DBRACE-CUTOVER substrate fix landed (FCL Tasks 5+6 inside M1 Task 7)
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(gb300): ledger — ENOSPC recur on gate-local path (postmaster PANIC, guard added) + backup router never mounted (F-candidate)
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

fix(api): mount backup router — /api/backup 404'd in production since f79f066e (ruling F4)
  backend/main.py
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(gb300): ledger — OOM diagnostic findings (VmSize-dominated leak, RSS drift baseline, single-heavy-run protocol)
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(backup): fix backup API test drift exposed by mounting the router (F4 follow-up)
  backend/tests/integration/test_backup_api.py
Due: check-test-mocks, check-test-timeouts

test(integration): clean_tables uses DELETE, not TRUNCATE (inode exhaustion root cause)
  backend/tests/integration/conftest.py
Due: check-test-mocks, check-test-timeouts

test(llm): capture_prompt reads json=payload kwarg, not args[1] messages
  backend/tests/integration/test_llm_analysis_pipeline.py
Due: check-test-mocks, check-test-timeouts

test(llm): mark TestErrorHandlingWithEnrichment slow (5s cap killed the worker)
  backend/tests/integration/test_llm_analysis_pipeline.py
Due: check-test-mocks, check-test-timeouts

docs(gb300): ledger — ENOSPC root cause = TRUNCATE relfilenode inode churn (self-inflicted, corrected); worker deaths = timeout os._exit, not leak
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(jobs): seed JobTracker, not the Postgres jobs table (R-T7-JOBSAPI)
  backend/tests/integration/api/test_jobs_api.py
Due: check-test-mocks, check-test-timeouts

docs(gb300): ledger — R-T7-JOBSAPI close-out (tracker-seeded rewrite, 20/20)
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
