Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - commit
  - push

fix(test): skip flaky cleanup error test, improve AlertsPage wait condition
  frontend/src/components/alerts/AlertsPage.new.test.tsx
  frontend/src/components/settings/StorageDashboard.test.tsx
Due: prettier-frontend, eslint, typescript-check

fix(tests): update Accept header tests for JSON export format (NEM-2086)
  backend/tests/unit/api/routes/test_events_export.py
  backend/tests/unit/services/test_export_service.py
  docs/api/AGENTS.md
  docs/api/DEPRECATION_POLICY.md
  docs/api/migrations/README.md
  docs/form-validation-audit.md
  scripts/extract_pydantic_constraints.py
Due: check-test-timeouts

fix: integrate RFC 8594 DeprecationMiddleware into application (NEM-2089)
  backend/api/middleware/__init__.py
  backend/main.py
  docs/openapi.json
Due: generate-openapi

fix: add setup.py T20 exclusion for ruff lint rule (NEM-2023)
  pyproject.toml
Due: none

fix: complete RFC 8594 deprecation headers middleware integration (NEM-2089)
  docs/AGENTS.md
  pyproject.toml
  scripts/extract_pydantic_constraints.py
Due: none

chore: regenerate OpenAPI spec and TypeScript types
  .secrets.baseline
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

feat: add notification preferences UI components (NEM-1883)
  frontend/src/components/settings/CameraNotificationSettings.tsx
  frontend/src/components/settings/GlobalNotificationPreferences.tsx
  frontend/src/components/settings/QuietHoursScheduler.tsx
  frontend/src/hooks/useNotificationPreferencesQuery.ts
  frontend/src/types/notificationPreferences.ts
Due: prettier-frontend, eslint, typescript-check

feat: add comprehensive disaster recovery tests (NEM-2096)
  .secrets.baseline
  backend/tests/integration/test_disaster_recovery.py
Due: check-test-mocks, check-test-timeouts

fix(tests): remove incorrect JSON export format tests (NEM-2086)
  backend/tests/unit/api/routes/test_events_export.py
  backend/tests/unit/services/test_export_service.py
Due: check-test-timeouts

feat: add export progress tracking (NEM-1989)
  .secrets.baseline
  backend/api/dependencies.py
  backend/api/routes/__init__.py
  backend/api/routes/jobs.py
  backend/api/schemas/jobs.py
  backend/main.py
  backend/services/export_service.py
  backend/services/job_tracker.py
  backend/tests/unit/api/routes/test_jobs.py
  backend/tests/unit/services/test_job_tracker.py
  docs/openapi.json
  frontend/src/components/ExportButton.test.tsx
  frontend/src/components/ExportButton.tsx
Due: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-timeouts, check-integration-tests

fix(e2e): add /api/system/health/full mock for System Monitoring tests
  frontend/tests/e2e/fixtures/api-mocks.ts
Due: prettier-frontend, eslint, typescript-check

fix: add eslint-disable comment in generate-types.sh
  scripts/generate-types.sh
Due: none

fix(e2e): fix System Error State test and add systemStatsError
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/tests/e2e/fixtures/api-mocks.ts
Due: prettier-frontend, eslint, typescript-check

feat: complete 8 Linear tasks - export tracking, notification UI, disaster recovery, and more (#2536)
  .secrets.baseline
  backend/api/dependencies.py
  backend/api/middleware/__init__.py
  backend/api/routes/__init__.py
  backend/api/routes/jobs.py
  backend/api/schemas/jobs.py
  backend/main.py
  backend/services/export_service.py
  backend/services/job_tracker.py
  backend/tests/integration/test_disaster_recovery.py
  backend/tests/unit/api/routes/test_events_export.py
  backend/tests/unit/api/routes/test_jobs.py
  backend/tests/unit/services/test_export_service.py
  backend/tests/unit/services/test_job_tracker.py
  docs/AGENTS.md
  docs/api/AGENTS.md
  docs/api/DEPRECATION_POLICY.md
  docs/api/migrations/README.md
  docs/form-validation-audit.md
  docs/openapi.json
  frontend/src/components/ExportButton.test.tsx
  frontend/src/components/ExportButton.tsx
  frontend/src/components/settings/CameraNotificationSettings.tsx
  frontend/src/components/settings/GlobalNotificationPreferences.tsx
  frontend/src/components/settings/QuietHoursScheduler.tsx
  frontend/src/hooks/useNotificationPreferencesQuery.ts
  frontend/src/types/generated/api.ts
  frontend/src/types/notificationPreferences.ts
  pyproject.toml
  scripts/extract_pydantic_constraints.py
  scripts/generate-types.sh
Due: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-integration-tests

fix(ci): remove dead code flagged by vulture/knip (NEM-2214)
  frontend/knip.json
  frontend/package-lock.json
  frontend/package.json
  vulture_whitelist.py
Due: prettier-frontend

test: add database failover simulation tests (NEM-2218)
  backend/tests/integration/test_database_failover.py
Due: check-test-mocks, check-test-timeouts

test: add automated backup/restore tests (NEM-2217)
  backend/tests/integration/test_backup_restore.py
  backend/tests/integration/test_migration_rollback.py
  frontend/src/components/ai/__tests__/PromptPlayground.validation.test.tsx
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

ci: add PostgreSQL client tools for backup/restore tests (NEM-2232)
  .github/workflows/ci.yml
Due: none

test: add data corruption detection tests (NEM-2220)
  backend/tests/integration/test_data_corruption.py
Due: check-test-mocks, check-test-timeouts

fix: add security scan exemptions and hook compliance comments
  backend/tests/integration/test_backup_restore.py
Due: check-test-mocks, check-test-timeouts

fix(tests): add proper type casting for HTMLInputElement properties
  frontend/src/components/ai/__tests__/PromptPlayground.validation.test.tsx
Due: prettier-frontend, eslint, typescript-check

feat: add Entity SQLAlchemy model and migration (NEM-2210)
  backend/alembic/versions/add_entity_model.py
  backend/models/__init__.py
  backend/models/entity.py
  backend/models/enums.py
  backend/tests/unit/models/test_entity.py
  docs/openapi.json
Due: generate-openapi, check-test-timeouts

fix: resolve lint and security scan issues in migration rollback tests
  backend/tests/integration/test_migration_rollback.py
Due: check-test-mocks, check-test-timeouts

feat(frontend): migrate 8 components to React Query hooks (#2535)
  frontend/src/components/alerts/AlertsPage.new.test.tsx
  frontend/src/components/dashboard/GpuStats.test.tsx
  frontend/src/components/dashboard/GpuStats.tsx
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/settings/CamerasSettings.test.tsx
  frontend/src/components/settings/CamerasSettings.tsx
  frontend/src/components/settings/CleanupPreviewPanel.test.tsx
  frontend/src/components/settings/CleanupPreviewPanel.tsx
  frontend/src/components/settings/ProcessingSettings.test.tsx
  frontend/src/components/settings/StorageDashboard.msw.test.tsx
  frontend/src/components/settings/StorageDashboard.test.tsx
  frontend/src/components/settings/StorageDashboard.tsx
  frontend/src/components/system/ModelZooPanel.test.tsx
  frontend/src/components/system/ModelZooPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/components/system/SystemSummaryRow.test.tsx
  frontend/src/components/system/SystemSummaryRow.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useStorageStatsQuery.test.ts
  frontend/src/hooks/useStorageStatsQuery.ts
  frontend/tests/e2e/fixtures/api-mocks.ts
Due: prettier-frontend, eslint, typescript-check

test: add comprehensive migration rollback verification tests (NEM-2221)
  backend/tests/integration/test_migration_rollback.py
Due: check-test-mocks, check-test-timeouts

fix(ci): resolve dead code detection failures (NEM-2214)
  vulture_whitelist.py
Due: none

fix: improve restore error detection and FK constraint test reliability
  backend/tests/integration/test_backup_restore.py
Due: check-test-mocks, check-test-timeouts

fix: remove problematic builtins.__import__ patch in memory pressure test
  backend/tests/unit/services/test_memory_pressure.py
Due: check-test-timeouts

feat: consolidated work including NEM-2220 and NEM-2232 (#2538)
  .github/workflows/ci.yml
  backend/alembic/versions/add_entity_model.py
  backend/models/__init__.py
  backend/models/entity.py
  backend/models/enums.py
  backend/tests/integration/test_backup_restore.py
  backend/tests/integration/test_data_corruption.py
  backend/tests/integration/test_database_failover.py
  backend/tests/integration/test_migration_rollback.py
  backend/tests/unit/models/test_entity.py
  backend/tests/unit/services/test_memory_pressure.py
  docs/openapi.json
  frontend/knip.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ai/__tests__/PromptPlayground.validation.test.tsx
  vulture_whitelist.py
Due: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

feat(api): standardize pagination envelope format for DLQ and GPU APIs (NEM-2178)
  .secrets.baseline
  backend/api/routes/dlq.py
  backend/api/routes/system.py
  backend/api/schemas/dlq.py
  backend/api/schemas/pagination.py
  backend/api/schemas/system.py
  backend/tests/integration/test_dlq_api.py
  backend/tests/integration/test_system_api.py
  backend/tests/unit/api/routes/test_dlq_api.py
  backend/tests/unit/routes/test_system_routes.py
  docs/openapi.json
  frontend/src/components/settings/DlqMonitor.msw.test.tsx
  frontend/src/components/settings/DlqMonitor.test.tsx
  frontend/src/components/settings/DlqMonitor.tsx
  frontend/src/hooks/useGpuStatsQuery.ts
  frontend/src/services/api.test.ts
  frontend/src/types/generated/api.ts
Due: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-integration-tests

fix(tests): update useGpuStatsQuery test mock to use NEM-2178 pagination envelope
  .secrets.baseline
  frontend/src/hooks/useGpuStatsQuery.test.ts
Due: prettier-frontend, eslint, typescript-check

fix(tests): add missing search_vector and labels columns to test schema
  backend/tests/conftest.py
Due: check-test-timeouts

fix(tests): update GPU history test to use pagination envelope format (NEM-2178)
  backend/tests/integration/test_api_error_scenarios.py
Due: check-test-mocks, check-test-timeouts

feat(api): standardize pagination envelope format for DLQ and GPU APIs (NEM-2178) (#2544)
  .secrets.baseline
  backend/api/routes/dlq.py
  backend/api/routes/system.py
  backend/api/schemas/dlq.py
  backend/api/schemas/pagination.py
  backend/api/schemas/system.py
  backend/tests/conftest.py
  backend/tests/integration/test_api_error_scenarios.py
  backend/tests/integration/test_dlq_api.py
  backend/tests/integration/test_system_api.py
  backend/tests/unit/api/routes/test_dlq_api.py
  backend/tests/unit/routes/test_system_routes.py
  docs/openapi.json
  frontend/src/components/settings/DlqMonitor.msw.test.tsx
  frontend/src/components/settings/DlqMonitor.test.tsx
  frontend/src/components/settings/DlqMonitor.tsx
  frontend/src/hooks/useGpuStatsQuery.test.ts
  frontend/src/hooks/useGpuStatsQuery.ts
  frontend/src/services/api.test.ts
  frontend/src/types/generated/api.ts
Due: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
