Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$

feat: implement UI polish improvements across multiple components (#3437)
  .secrets.baseline
  frontend/src/components/audit/AuditLogPage.test.tsx
  frontend/src/components/audit/AuditLogPage.tsx
  frontend/src/components/audit/AuditTable.test.tsx
  frontend/src/components/audit/AuditTable.tsx
  frontend/src/components/common/ShortcutsHelpModal.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/events/DeletedEventCard.tsx
  frontend/src/components/events/EventCard.test.tsx
  frontend/src/components/events/EventCard.tsx
  frontend/src/components/jobs/JobsEmptyState.tsx
  frontend/src/components/jobs/JobsPage.test.tsx
  frontend/src/components/jobs/JobsPage.tsx
  frontend/src/components/logs/LogStatsSummary.tsx
  frontend/src/components/logs/LogsDashboard.test.tsx
  frontend/src/components/logs/LogsDashboard.tsx
  frontend/src/components/logs/LogsTable.test.tsx
  frontend/src/components/logs/LogsTable.tsx
  frontend/src/components/logs/logGrouping.ts
  frontend/src/components/settings/CamerasSettings.test.tsx
  frontend/src/components/settings/CamerasSettings.tsx
  frontend/src/components/settings/SettingsPage.test.tsx
  frontend/src/components/settings/SettingsPage.tsx
  frontend/src/hooks/useKeyboardShortcuts.test.ts
  frontend/src/hooks/useKeyboardShortcuts.ts
  frontend/src/pages/TrashPage.test.tsx
  frontend/src/pages/TrashPage.tsx
  frontend/tests/e2e/pages/JobsPage.ts
Due: prettier-frontend, eslint, typescript-check

chore(deps): consolidate Dependabot dependency updates (#3440)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/zap-security.yml
  frontend/package-lock.json
  requirements-audit.txt
Due: none

fix: add duplicate detection to CI workflow Linear issue creation
  .github/workflows/accessibility-tests.yml
  .github/workflows/api-compatibility.yml
  .github/workflows/benchmarks.yml
  .github/workflows/bundle-size.yml
  .github/workflows/ci.yml
Due: none

fix: address shell injection vulnerability in benchmarks.yml
  .github/workflows/benchmarks.yml
Due: none

fix: add duplicate detection to CI workflow Linear issue creation (#3450)
  .github/workflows/accessibility-tests.yml
  .github/workflows/api-compatibility.yml
  .github/workflows/benchmarks.yml
  .github/workflows/bundle-size.yml
  .github/workflows/ci.yml
Due: none

fix: update analytics E2E tests for Grafana iframe architecture
  frontend/bun.lock
  frontend/tests/e2e/pages/AnalyticsPage.ts
  frontend/tests/e2e/specs/analytics-advanced.spec.ts
  frontend/tests/e2e/specs/analytics.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: resolve E2E test failures with tabpanel selectors and color contrast
  frontend/src/components/common/CommandPalette.tsx
  frontend/tests/e2e/specs/user-journeys/camera-configuration.spec.ts
  frontend/tests/e2e/specs/user-journeys/settings-configuration.spec.ts
Due: prettier-frontend, eslint, typescript-check

feat: Analytics to Grafana migration and navigation improvements
  frontend/src/components/analytics/AnalyticsPage.test.tsx
  frontend/src/components/analytics/AnalyticsPage.tsx
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/layout/Sidebar.test.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/layout/sidebarNav.ts
  frontend/src/hooks/useCommandPaletteContext.ts
  monitoring/grafana/dashboards/analytics.json
Due: prettier-frontend, eslint, typescript-check

fix: improve kbd element color contrast for WCAG AA compliance
  frontend/src/components/layout/Header.tsx
Due: prettier-frontend, eslint, typescript-check

feat: Analytics to Grafana migration and navigation improvements (#3428)
  frontend/bun.lock
  frontend/src/components/analytics/AnalyticsPage.test.tsx
  frontend/src/components/analytics/AnalyticsPage.tsx
  frontend/src/components/common/CommandPalette.tsx
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/layout/Sidebar.test.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/layout/sidebarNav.ts
  frontend/src/hooks/useCommandPaletteContext.ts
  frontend/tests/e2e/pages/AnalyticsPage.ts
  frontend/tests/e2e/specs/analytics-advanced.spec.ts
  frontend/tests/e2e/specs/analytics.spec.ts
  frontend/tests/e2e/specs/user-journeys/camera-configuration.spec.ts
  frontend/tests/e2e/specs/user-journeys/settings-configuration.spec.ts
  monitoring/grafana/dashboards/analytics.json
Due: prettier-frontend, eslint, typescript-check

feat: Mobile Experience Improvements (NEM-2989, NEM-2990, NEM-2991)
  frontend/src/components/ai/BatchAuditModal.tsx
  frontend/src/components/ai/InsightsCharts.test.tsx
  frontend/src/components/ai/InsightsCharts.tsx
  frontend/src/components/ai/PromptPlayground.tsx
  frontend/src/components/audit/AuditDetailModal.tsx
  frontend/src/components/common/BottomSheet.test.tsx
  frontend/src/components/common/BottomSheet.tsx
  frontend/src/components/common/ChartLegend.test.tsx
  frontend/src/components/common/ChartLegend.tsx
  frontend/src/components/common/IconButton.test.tsx
  frontend/src/components/common/IconButton.tsx
  frontend/src/components/common/Lightbox.tsx
  frontend/src/components/common/ResponsiveChart.test.tsx
  frontend/src/components/common/ResponsiveChart.tsx
  frontend/src/components/common/ResponsiveModal.tsx
  frontend/src/components/common/animations/index.ts
  frontend/src/components/common/index.ts
  frontend/src/components/dashboard/DashboardConfigModal.tsx
  frontend/src/components/entities/EntityDetailModal.tsx
  frontend/src/components/entities/ReidHistoryPanel.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/MobileChartContainer.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/settings/CamerasSettings.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useChartDimensions.test.ts
  frontend/src/hooks/useChartDimensions.ts
  frontend/src/hooks/useMediaQuery.test.ts
  frontend/src/hooks/useMediaQuery.ts
  frontend/tailwind.config.js
Due: prettier-frontend, eslint, typescript-check

feat: Mobile Experience Improvements (NEM-2989, NEM-2990, NEM-2991) (#3459)
  frontend/src/components/ai/BatchAuditModal.tsx
  frontend/src/components/ai/InsightsCharts.test.tsx
  frontend/src/components/ai/InsightsCharts.tsx
  frontend/src/components/ai/PromptPlayground.tsx
  frontend/src/components/audit/AuditDetailModal.tsx
  frontend/src/components/common/BottomSheet.test.tsx
  frontend/src/components/common/BottomSheet.tsx
  frontend/src/components/common/ChartLegend.test.tsx
  frontend/src/components/common/ChartLegend.tsx
  frontend/src/components/common/IconButton.test.tsx
  frontend/src/components/common/IconButton.tsx
  frontend/src/components/common/Lightbox.tsx
  frontend/src/components/common/ResponsiveChart.test.tsx
  frontend/src/components/common/ResponsiveChart.tsx
  frontend/src/components/common/ResponsiveModal.tsx
  frontend/src/components/common/animations/index.ts
  frontend/src/components/common/index.ts
  frontend/src/components/dashboard/DashboardConfigModal.tsx
  frontend/src/components/entities/EntityDetailModal.tsx
  frontend/src/components/entities/ReidHistoryPanel.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/MobileChartContainer.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/settings/CamerasSettings.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useChartDimensions.test.ts
  frontend/src/hooks/useChartDimensions.ts
  frontend/src/hooks/useMediaQuery.test.ts
  frontend/src/hooks/useMediaQuery.ts
  frontend/tailwind.config.js
Due: prettier-frontend, eslint, typescript-check

feat: Add pull-to-refresh for mobile event lists (NEM-2970)
  frontend/src/components/common/PullToRefresh.test.tsx
  frontend/src/components/common/PullToRefresh.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/hooks/__tests__/usePullToRefresh.test.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/usePullToRefresh.ts
Due: prettier-frontend, eslint, typescript-check

fix: add missing @babel/core dependency for frontend build
  frontend/bun.lock
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend

feat: Add pull-to-refresh for mobile event lists (NEM-2970) (#3460)
  frontend/src/components/common/PullToRefresh.test.tsx
  frontend/src/components/common/PullToRefresh.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/hooks/__tests__/usePullToRefresh.test.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/usePullToRefresh.ts
Due: prettier-frontend, eslint, typescript-check

fix: add missing @babel/core dependency for frontend build (#3461)
  frontend/bun.lock
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend

fix: Grafana Analytics dashboard API paths and array format compatibility
  backend/api/routes/detections.py
  backend/api/routes/events.py
  backend/api/schemas/detections.py
  backend/api/schemas/events.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
  monitoring/grafana/dashboards/analytics.json
Due: generate-openapi, prettier-frontend, eslint, typescript-check, check-integration-tests

fix: Infrastructure improvements and Grafana remote access
  .env.example
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/core/config.py
  backend/services/xclip_loader.py
  backend/tests/unit/routes/test_system_routes.py
  docker-compose.prod.yml
  docker-compose.staging.yml
  docs/openapi.json
  frontend/docker-entrypoint.sh
  frontend/nginx.conf
  frontend/src/components/ai/AIPerformancePage.test.tsx
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/analytics/AnalyticsPage.test.tsx
  frontend/src/components/analytics/AnalyticsPage.tsx
  frontend/src/types/generated/api.ts
  monitoring/json-exporter-config.yml
Due: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-timeouts, check-integration-tests

fix: Grafana Analytics dashboard and accessibility improvements (#3466)
  backend/api/routes/detections.py
  backend/api/routes/events.py
  backend/api/schemas/detections.py
  backend/api/schemas/events.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
  monitoring/grafana/dashboards/analytics.json
Due: generate-openapi, prettier-frontend, eslint, typescript-check, check-integration-tests

fix: Update integration tests for grafana_url and health cache
  backend/tests/integration/test_system_api.py
Due: check-test-mocks, check-test-timeouts

fix: Infrastructure improvements and Grafana remote access (#3467)
  .env.example
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/core/config.py
  backend/services/xclip_loader.py
  backend/tests/integration/test_system_api.py
  backend/tests/unit/routes/test_system_routes.py
  docker-compose.prod.yml
  docker-compose.staging.yml
  docs/openapi.json
  frontend/docker-entrypoint.sh
  frontend/nginx.conf
  frontend/src/components/ai/AIPerformancePage.test.tsx
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/analytics/AnalyticsPage.test.tsx
  frontend/src/components/analytics/AnalyticsPage.tsx
  frontend/src/types/generated/api.ts
  monitoring/json-exporter-config.yml
Due: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-integration-tests

refactor: remove orphaned Infrastructure page and components
  frontend/src/App.tsx
  frontend/src/components/dashboard/StatsRow.test.tsx
  frontend/src/components/dashboard/StatsRow.tsx
  frontend/src/components/layout/AGENTS.md
  frontend/src/components/layout/Sidebar.test.tsx
  frontend/src/components/layout/sidebarNav.ts
  frontend/src/components/system/AiModelsPanel.test.tsx
  frontend/src/components/system/AiModelsPanel.tsx
  frontend/src/components/system/BackgroundJobsPanel.test.tsx
  frontend/src/components/system/BackgroundJobsPanel.tsx
  frontend/src/components/system/ContainersPanel.test.tsx
  frontend/src/components/system/ContainersPanel.tsx
  frontend/src/components/system/HostSystemPanel.test.tsx
  frontend/src/components/system/HostSystemPanel.tsx
  frontend/src/components/system/InfrastructureStatusGrid.test.tsx
  frontend/src/components/system/InfrastructureStatusGrid.tsx
  frontend/src/components/system/ModelZooPanel.test.tsx
  frontend/src/components/system/ModelZooPanel.tsx
  frontend/src/components/system/PerformanceAlerts.test.tsx
  frontend/src/components/system/PerformanceAlerts.tsx
  frontend/src/components/system/SystemSummaryRow.test.tsx
  frontend/src/components/system/SystemSummaryRow.tsx
  frontend/src/components/system/WorkerStatusPanel.test.tsx
  frontend/src/components/system/WorkerStatusPanel.tsx
  frontend/src/components/system/index.ts
Due: prettier-frontend, eslint, typescript-check

refactor: remove orphaned Infrastructure page and components (#3471)
  frontend/src/App.tsx
  frontend/src/components/dashboard/StatsRow.test.tsx
  frontend/src/components/dashboard/StatsRow.tsx
  frontend/src/components/layout/AGENTS.md
  frontend/src/components/layout/Sidebar.test.tsx
  frontend/src/components/layout/sidebarNav.ts
  frontend/src/components/system/AiModelsPanel.test.tsx
  frontend/src/components/system/AiModelsPanel.tsx
  frontend/src/components/system/BackgroundJobsPanel.test.tsx
  frontend/src/components/system/BackgroundJobsPanel.tsx
  frontend/src/components/system/ContainersPanel.test.tsx
  frontend/src/components/system/ContainersPanel.tsx
  frontend/src/components/system/HostSystemPanel.test.tsx
  frontend/src/components/system/HostSystemPanel.tsx
  frontend/src/components/system/InfrastructureStatusGrid.test.tsx
  frontend/src/components/system/InfrastructureStatusGrid.tsx
  frontend/src/components/system/ModelZooPanel.test.tsx
  frontend/src/components/system/ModelZooPanel.tsx
  frontend/src/components/system/PerformanceAlerts.test.tsx
  frontend/src/components/system/PerformanceAlerts.tsx
  frontend/src/components/system/SystemSummaryRow.test.tsx
  frontend/src/components/system/SystemSummaryRow.tsx
  frontend/src/components/system/WorkerStatusPanel.test.tsx
  frontend/src/components/system/WorkerStatusPanel.tsx
  frontend/src/components/system/index.ts
Due: prettier-frontend, eslint, typescript-check

docs: Add Nemotron prompt improvements design document
  docs/plans/2026-01-19-nemotron-prompt-improvements-design.md
Due: none

fix: flatten alembic migrations into initial schema
  backend/alembic/versions/a1b2c3d4e5f6_add_household_member_and_vehicle_tables.py
  backend/alembic/versions/b2c3d4e5f6a7_add_experiment_results_table.py
  backend/alembic/versions/b2c3d4e5f6g7_add_camera_calibrations_table.py
  backend/alembic/versions/e36700c35af6_initial_schema.py
Due: none

docs: add Nemotron prompts baseline and comparison guide
  docs/nemotron-prompts-baseline.txt
  docs/nemotron-prompts-comparison-guide.md
Due: none

docs: add Nemotron prompts baseline and comparison guide (#3491)
  docs/nemotron-prompts-baseline.txt
  docs/nemotron-prompts-comparison-guide.md
Due: none
