Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$

style: fix pre-existing lint and formatting issues across branch
  SETUP_CONSOLIDATION.md
  ai/gateway/Dockerfile
  ai/gateway/export/export_all.sh
  scripts/deploy-gateway.sh
  scripts/seed-events.py
  setup.py
  setup_lib/image_pull.py
  setup_lib/linux_optimizer.py
  setup_lib/nvidia_detect.py
  setup_lib/rootful_services.py
  setup_lib/ssl_certs.py
  setup_lib/storage_config.py
Due: none

perf(triton): optimize model concurrency, priorities, and rate limiting (NEM-5560)
  ai/gateway/entrypoint.sh
  ai/triton/model_repository/clip/config.pbtxt
  ai/triton/model_repository/clip_text/config.pbtxt
  ai/triton/model_repository/demographics_age/config.pbtxt
  ai/triton/model_repository/demographics_gender/config.pbtxt
  ai/triton/model_repository/depth/config.pbtxt
  ai/triton/model_repository/fashion_clip/config.pbtxt
  ai/triton/model_repository/pet/config.pbtxt
  ai/triton/model_repository/pose/config.pbtxt
  ai/triton/model_repository/reid/config.pbtxt
  ai/triton/model_repository/threat/config.pbtxt
  ai/triton/model_repository/vehicle/config.pbtxt
  ai/triton/model_repository/yolo26/config.pbtxt
Due: none

feat(queues): add Redis Streams support for durable queue persistence (NEM-3469)
  backend/core/config.py
  backend/services/batch_aggregator.py
  backend/services/file_watcher.py
  backend/services/pipeline_workers.py
  backend/services/redis_streams.py
Due: check-integration-tests

fix(tests): update nvidia_detect tests for CUDA 13.1 driver requirement
  backend/services/batch_aggregator.py
  backend/tests/unit/setup_lib/test_nvidia_detect.py
Due: check-test-timeouts, check-integration-tests

test(streams): add dedicated tests for Redis Streams queue path (NEM-3469)
  backend/tests/unit/services/test_redis_streams_integration.py
Due: check-test-timeouts

feat: enable Redis Streams and admin endpoints by default
  .env.example
  backend/api/routes/admin.py
  backend/core/config.py
Due: generate-openapi, generate-api-types, check-integration-tests

feat: enable profiling by default
  backend/core/config.py
Due: none

revert: disable cProfile profiling by default
  backend/core/config.py
Due: none

fix: backlog quick wins — compose version, Redis TTL, atomic PFADD, eager loading
  .secrets.baseline
  backend/core/redis.py
  backend/repositories/event_repository.py
  backend/services/managed_service.py
  backend/services/unique_counter_service.py
  docker-compose.ghcr-core.yml
  docker-compose.ghcr.yml
  docker-compose.prod.yml
  docker-compose.staging.yml
  docker-compose.test.yml
Due: check-integration-tests

fix(websocket): add graceful shutdown broadcast and message size enforcement
  backend/api/routes/websocket.py
  backend/services/event_broadcaster.py
  backend/services/system_broadcaster.py
Due: generate-openapi, generate-api-types, check-integration-tests

security: enable read-only root filesystem for non-GPU containers (NEM-4978)
  docker-compose.prod.yml
Due: none

refactor: remove standalone AI containers, gateway is the only mode
  docker-compose.prod.yml
Due: none

refactor: remove standalone AI services from staging and GHCR compose files
  docker-compose.ghcr.yml
  docker-compose.staging.yml
Due: none

refactor: delete 3 obsolete compose files, keep 4 that matter
  .github/workflows/deploy.yml
  AGENTS.md
  backend/tests/unit/setup_lib/test_image_pull.py
  docker-compose.gateway.yml
  docker-compose.ghcr-core.yml
  docker-compose.prod.yml
  docker-compose.staging.yml
  scripts/deploy-gateway.sh
  setup_lib/image_pull.py
Due: check-test-timeouts

fix(tests): align unit tests with consolidated AI architecture and production code
  .secrets.baseline
  backend/tests/security/test_admin_access_control.py
  backend/tests/unit/api/routes/test_admin.py
  backend/tests/unit/core/test_ai_service_resource_limits.py
  backend/tests/unit/core/test_websocket_timeout.py
  backend/tests/unit/routes/test_admin_routes.py
  backend/tests/unit/services/test_batch_aggregator.py
  backend/tests/unit/services/test_file_watcher.py
  backend/tests/unit/services/test_pipeline_workers.py
  backend/tests/unit/services/test_unique_counter_service.py
  backend/tests/unit/services/test_video_support.py
  backend/tests/unit/services/test_vision_extractor.py
  backend/tests/unit/setup_lib/test_image_pull.py
  backend/tests/unit/setup_lib/test_podman_install.py
Due: check-test-timeouts

chore(deps): Consolidated dependency updates (Feb 2026) (#6358)
  .github/workflows/build-setup.yml
  .github/workflows/deploy.yml
  ai/clip/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  requirements-audit.txt
Due: prettier-frontend, npm-install-check

feat: harden deploy script and move privileged containers to systemd
  docker-compose.prod.yml
  monitoring/cadvisor/cadvisor.service
  scripts/deploy-gateway.sh
  setup.py
  setup_lib/rootful_services.py
Due: none

fix: linux optimizer uses sudo per-command instead of requiring root
  setup_lib/linux_optimizer.py
Due: none

feat: harden deploy script, sudo-based optimizer, privileged containers to systemd (#6370)
  docker-compose.prod.yml
  monitoring/cadvisor/cadvisor.service
  scripts/deploy-gateway.sh
  setup.py
  setup_lib/linux_optimizer.py
  setup_lib/rootful_services.py
Due: none

fix(tests): update linux optimizer tests for sudo-based operations
  backend/tests/unit/setup_lib/test_linux_optimizer.py
Due: check-test-timeouts

fix(tests): update error-handling tests for sudo-based linux optimizer
  backend/tests/unit/setup_lib/test_linux_optimizer.py
Due: check-test-timeouts

chore(deps): consolidated dependency updates (GH Actions, npm, Python) (#6372)
  .github/workflows/ci.yml
  .github/workflows/pr-review-bot.yml
  .github/workflows/test-coverage-gate.yml
  backend/tests/unit/setup_lib/test_linux_optimizer.py
  frontend/package-lock.json
  frontend/package.json
  requirements-audit.txt
Due: prettier-frontend, npm-install-check, check-test-timeouts

chore(deps): upgrade ESLint group with config fixes for type-checked rules
  frontend/eslint.config.mjs
Due: none

fix: disable react/no-direct-mutation-state for ESLint 9.x compatibility
  frontend/eslint.config.mjs
Due: none

fix: filter broken react rule at spread level to prevent load-time crash
  frontend/eslint.config.mjs
Due: none

fix: hardcode React version to avoid getFilename crash in ESLint 9.x
  frontend/eslint.config.mjs
Due: none

revert: drop ESLint dependabot upgrade — eslint-plugin-react incompatible
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, npm-install-check

feat: replace deploy-gateway.sh with Python deploy module
  backend/tests/unit/setup_lib/test_deploy.py
  backend/tests/unit/setup_lib/test_deploy_phases.py
  backend/tests/unit/setup_lib/test_healthcheck.py
  scripts/deploy-gateway.sh
  setup.py
  setup_lib/__init__.py
  setup_lib/deploy.py
  setup_lib/deploy_phases.py
  setup_lib/healthcheck.py
Due: check-test-timeouts

fix: use --wait --wait-timeout 300 for compose up in application phase
  setup_lib/deploy_phases.py
Due: none

fix: resolve frontend read_only crash and backend data/logs directory
  docker-compose.prod.yml
Due: none

fix: use refetchQueries after registration to prevent stale setup cache
  frontend/src/contexts/AuthContext.tsx
Due: prettier-frontend, eslint, typescript-check

fix: pass all GPUs via CDI to fix Triton CUDA initialization
  docker-compose.prod.yml
Due: none

feat: replace deploy-gateway.sh with Python deploy module (#6375)
  backend/tests/unit/setup_lib/test_deploy.py
  backend/tests/unit/setup_lib/test_deploy_phases.py
  backend/tests/unit/setup_lib/test_healthcheck.py
  docker-compose.prod.yml
  frontend/src/contexts/AuthContext.tsx
  scripts/deploy-gateway.sh
  setup.py
  setup_lib/__init__.py
  setup_lib/deploy.py
  setup_lib/deploy_phases.py
  setup_lib/healthcheck.py
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: point Prometheus cadvisor target to host.containers.internal
  monitoring/prometheus.yml
Due: none

feat: replace deploy-gateway.sh with Python deploy module
  setup_lib/deploy_phases.py
Due: none

fix: handle PermissionError when checking EFI GRUB path during kernel parameter setup
  setup_lib/linux_optimizer.py
Due: none

fix: Prometheus cadvisor target, CDI GPU passthrough, frontend read_only, auth cache (#6377)
  monitoring/prometheus.yml
Due: none

fix: use sudo for /export/* dirs and prefer apt/pipx for podman-compose
  setup_lib/podman_install.py
  setup_lib/storage_config.py
Due: none
