Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

chore: centralize uv version definition across CI workflows (NEM-1439) (#2078)
  .github/workflows/api-compatibility.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci-analytics.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/gpu-tests.yml
  .github/workflows/linear-github-sync.yml
  .github/workflows/load-tests.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/nightly.yml
  .github/workflows/sast.yml
  .github/workflows/weekly-audit.yml
  .github/workflows/zap-security.yml
  CLAUDE.md
  backend/tests/AGENTS.md
  backend/tests/unit/api/schemas/test_field_constraints.py
  backend/tests/unit/services/test_bbox_validation.py
  docs/TESTING_GUIDE.md
Due: check-test-timeouts

fix: resolve podman-compose parsing error for docker-compose.prod.yml (NEM-1720)
  docker-compose.prod.yml
  scripts/redeploy.sh
Due: none

fix: resolve CI failures in E2E and integration tests (#2060)
  backend/services/container_orchestrator.py
  frontend/playwright.config.ts
  frontend/tests/e2e/.auth/storage-state.json
  frontend/tests/e2e/fixtures/index.ts
  frontend/tests/e2e/global-setup.ts
Due: prettier-frontend, eslint, typescript-check

fix(ci): prevent TruffleHog false positive alerts (NEM-1805)
  .github/workflows/gitleaks.yml
Due: none

feat: multi-agent implementation - LLM streaming, WebSocket reliability, SLI/SLO alerting (#2043)
  backend/api/routes/events.py
  backend/api/schemas/streaming.py
  backend/services/event_broadcaster.py
  backend/services/nemotron_analyzer.py
  backend/services/nemotron_streaming.py
  backend/tests/unit/core/test_websocket.py
  backend/tests/unit/services/test_event_broadcaster.py
  backend/tests/unit/services/test_message_buffer.py
  backend/tests/unit/services/test_nemotron_streaming.py
  docker-compose.prod.yml
  docs/slo-definitions.md
  frontend/src/types/generated/api.ts
  monitoring/alerting-rules.yml
  monitoring/alertmanager.yml
  monitoring/grafana/dashboards/slo.json
  monitoring/prometheus-rules.yml
  monitoring/prometheus.yml
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

docs: create consolidated testing patterns guide (NEM-1410) (#2079)
  frontend/tests/e2e/specs/user-journeys/alert-lifecycle.spec.ts
  frontend/tests/e2e/specs/user-journeys/camera-management.spec.ts
  frontend/tests/e2e/specs/user-journeys/detection-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/investigation-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/settings-configuration.spec.ts
Due: prettier-frontend, eslint, typescript-check

feat: batch infrastructure improvements (NEM-1435, NEM-1436, NEM-1580, NEM-1458, NEM-1475, NEM-1419, NEM-1420, NEM-1476) (#2052)
  .github/workflows/linear-github-sync.yml
  .github/workflows/nightly.yml
  .github/workflows/sast.yml
  ai/clip/Dockerfile
  ai/enrichment/Dockerfile
  ai/florence/Dockerfile
  ai/rtdetr/Dockerfile
  backend/core/database.py
  backend/core/metrics.py
  backend/services/face_detector.py
  backend/services/file_watcher.py
  backend/services/ocr_service.py
  backend/services/plate_detector.py
  backend/tests/unit/core/test_slow_query_logging.py
  docs/DEPLOYMENT_RUNBOOK.md
  docs/DEPLOYMENT_SAFETY_CHECKLIST.md
  docs/DEPLOYMENT_TROUBLESHOOTING.md
  docs/SERVICE_DEPENDENCIES.md
  frontend/src/components/common/ErrorBoundary.test.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/search/SearchBar.test.tsx
  frontend/src/test-utils/factories.ts
  frontend/src/test-utils/index.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: resolve Firefox E2E test failures (NEM-1807) (#2032)
  frontend/playwright.config.ts
  frontend/tests/e2e/specs/accessibility.spec.ts
  frontend/tests/e2e/specs/test-tagging.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix(e2e): update title assertions and tablet viewport breakpoint
  frontend/tests/e2e/specs/ai-performance.spec.ts
  frontend/tests/e2e/specs/dashboard.spec.ts
  frontend/tests/e2e/specs/responsive.spec.ts
  frontend/tests/e2e/specs/smoke.spec.ts
Due: prettier-frontend, eslint, typescript-check

feat: add TDD cycle tracking to CI pipeline (NEM-1663)
  .github/pull_request_template.md
  .github/workflows/ci.yml
Due: none

feat: parallel agent work - 8 async/testing infrastructure improvements (#2070)
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/core/__init__.py
  backend/core/circuit_breaker.py
  backend/core/database.py
  backend/core/logging.py
  backend/main.py
  backend/services/circuit_breaker.py
  backend/services/detector_client.py
  backend/services/enrichment_client.py
  backend/services/health_monitor.py
  backend/services/health_monitor_orchestrator.py
  backend/services/nemotron_analyzer.py
  backend/services/pipeline_workers.py
  backend/tests/async_utils.py
  backend/tests/unit/api/schemas/test_health.py
  backend/tests/unit/core/test_circuit_breaker_integration.py
  backend/tests/unit/core/test_health_monitor.py
  backend/tests/unit/core/test_logging_context.py
  backend/tests/utils/AGENTS.md
  backend/tests/utils/__init__.py
  backend/tests/utils/assertions.py
  backend/tests/utils/async_helpers.py
  backend/tests/utils/strategies.py
  frontend/src/types/generated/api.ts
  frontend/tests/e2e/fixtures/index.ts
  frontend/tests/e2e/fixtures/performance.ts
  frontend/tests/e2e/specs/performance.spec.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: enhance Repository with pagination, merge, and save methods (NEM-1607) (#2098)
  backend/repositories/base.py
  backend/tests/unit/repositories/test_camera_repository.py
Due: check-test-timeouts

feat: add ETag support for conditional GET requests (NEM-1427) (#2080)
  .pre-commit-config.yaml
  frontend/src/components/alerts/AlertsPage.new.tsx
  frontend/src/components/alerts/AlertsPage.tsx
  frontend/src/components/audit/AuditTable.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/components/status/AIServiceStatus.tsx
  frontend/src/components/system/PipelineMetricsPanel.tsx
  frontend/src/components/system/ServicesPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/hooks/typedEventEmitter.test.ts
  frontend/src/hooks/typedEventEmitter.ts
  frontend/src/services/api.timeout.test.ts
  frontend/src/services/api.ts
  frontend/src/types/websocket-events.test.ts
  frontend/src/types/websocket-events.ts
  scripts/a11y-smoke-test.sh
Due: prettier-frontend, eslint, typescript-check

fix: remove dead code detected by Vulture (NEM-1817)
  backend/tests/unit/api/middleware/test_file_validator.py
Due: check-test-timeouts

fix(tests): resolve snapshot test environment inconsistencies
  frontend/src/components/detection/BoundingBoxOverlay.tsx
  frontend/src/components/detection/__snapshots__/BoundingBoxOverlay.test.tsx.snap
  frontend/src/components/events/ThumbnailStrip.tsx
  frontend/src/components/events/__snapshots__/ThumbnailStrip.test.tsx.snap
Due: prettier-frontend, eslint, typescript-check

fix(tests): isolate Object.groupBy mocks to prevent shard leakage
  frontend/src/utils/groupBy.test.ts
Due: prettier-frontend, eslint, typescript-check

feat(frontend): implement typed event emitter pattern for WebSocket handling (NEM-1418) (#2083)
  backend/core/exceptions.py
  backend/tests/unit/core/test_exceptions.py
  frontend/src/hooks/typedEventEmitter.test.ts
  frontend/src/hooks/typedEventEmitter.ts
  frontend/src/hooks/webSocketManager.ts
  frontend/src/types/websocket-events.test.ts
  frontend/src/types/websocket-events.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: 8 parallel agent improvements - structured logging, DI container, DB partitioning, E2E browser stability, DLQ inspection, mock consolidation, type-safe prompts, API types (#2076)
  backend/alembic/versions/add_time_series_partitioning.py
  backend/api/middleware/__init__.py
  backend/api/middleware/request_logging.py
  backend/api/routes/dlq.py
  backend/api/schemas/dlq.py
  backend/core/__init__.py
  backend/core/container.py
  backend/core/dependencies.py
  backend/core/logging.py
  backend/services/partition_manager.py
  backend/services/retry_handler.py
  backend/services/typed_prompt_config.py
  backend/tests/AGENTS.md
  backend/tests/conftest.py
  backend/tests/unit/api/middleware/test_request_logging.py
  backend/tests/unit/api/routes/test_dlq_api.py
  backend/tests/unit/core/test_container.py
  backend/tests/unit/core/test_logging_trace_context.py
  backend/tests/unit/services/test_partition_manager.py
  backend/tests/unit/services/test_retry_handler.py
  backend/tests/unit/services/test_typed_prompt_config.py
  backend/tests/unit/test_consolidated_fixtures.py
  frontend/src/types/api-endpoints.test.ts
  frontend/src/types/api-endpoints.ts
  frontend/src/types/generated/api.ts
  frontend/tests/e2e/BROWSER_TESTING.md
  frontend/tests/e2e/pages/BasePage.ts
  frontend/tests/e2e/specs/ai-audit.spec.ts
  frontend/tests/e2e/specs/mobile-optimization.spec.ts
  frontend/tests/e2e/specs/test-tagging.spec.ts
  frontend/tests/e2e/specs/user-journeys/alert-lifecycle.spec.ts
  frontend/tests/e2e/specs/user-journeys/camera-management.spec.ts
  frontend/tests/e2e/specs/user-journeys/detection-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/investigation-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/settings-configuration.spec.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix(ci): resolve CI failures + auto-create Linear issues for main branch failures (#2196)
  .github/workflows/linear-ci-status.yml
  backend/tests/unit/api/routes/test_cameras.py
  backend/tests/unit/api/routes/test_entities.py
  backend/tests/unit/api/routes/test_media.py
Due: check-test-timeouts

docs: comprehensive AGENTS.md update + fix(ci): docker/login-action SHA (#2128)
  .github/AGENTS.md
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  .secrets.baseline
  AGENTS.md
  ai/nemotron/AGENTS.md
  backend/AGENTS.md
  backend/api/AGENTS.md
  backend/api/middleware/AGENTS.md
  backend/api/routes/AGENTS.md
  backend/api/schemas/AGENTS.md
  backend/core/AGENTS.md
  backend/models/AGENTS.md
  backend/services/AGENTS.md
  backend/tests/AGENTS.md
  docs/AGENTS.md
  frontend/AGENTS.md
  frontend/src/AGENTS.md
  frontend/src/components/AGENTS.md
  frontend/src/components/status/AGENTS.md
  frontend/src/hooks/AGENTS.md
  frontend/src/services/AGENTS.md
  scripts/AGENTS.md
Due: prettier-frontend

docs: generate OpenAPI spec and update API coverage (NEM-2062, NEM-2064) (#2408)
  .secrets.baseline
  docs/API_COVERAGE.md
  docs/openapi.json
Due: none

feat: JavaScript testing patterns improvements (NEM-1501) (#2122)
  frontend/src/test/README.md
  frontend/src/test/factories/index.test.ts
  frontend/src/test/factories/index.ts
  frontend/src/test/matchers.test.ts
  frontend/src/test/matchers.ts
  frontend/src/test/mocks/index.ts
  frontend/src/test/setup.ts
  frontend/src/test/utils.test.tsx
  frontend/src/test/utils.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: prettier-frontend, eslint, typescript-check

fix: Q1 2025 technical debt cleanup (NEM-1912, NEM-1913, NEM-1914, NEM-1921) (#2401)
  backend/api/routes/detections.py
  backend/models/detection.py
  backend/tests/unit/api/middleware/test_request_recorder.py
  backend/tests/unit/api/routes/test_detections.py
  backend/tests/unit/api/schemas/test_enrichment_data_validation.py
  frontend/src/components/layout/CollapsibleSection.test.tsx
  frontend/src/components/layout/CollapsibleSection.tsx
  frontend/src/components/settings/ActivityHeatmap.test.tsx
  frontend/src/components/settings/ActivityHeatmap.tsx
  frontend/src/components/settings/AnomalyConfigPanel.test.tsx
  frontend/src/components/settings/AnomalyConfigPanel.tsx
  frontend/src/components/settings/ClassFrequencyChart.test.tsx
  frontend/src/components/settings/ClassFrequencyChart.tsx
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: 9 parallel agent improvements - API docs and integration tests
  backend/api/routes/ai_audit.py
  backend/api/routes/analytics.py
  backend/api/routes/debug.py
  backend/api/routes/dlq.py
  backend/api/routes/system.py
  backend/api/schemas/ai_audit.py
  backend/api/schemas/dlq.py
  backend/tests/integration/test_di_container_overrides.py
  backend/tests/integration/test_rate_limit_429.py
  backend/tests/integration/test_search_api.py
  backend/tests/integration/test_soft_delete_filtering.py
Due: check-test-mocks, check-test-timeouts

fix(e2e): resolve flaky test-helpers.ts errors in CI (#2135)
  backend/tests/integration/test_admin_api.py
  frontend/tests/e2e/specs/utils-demo.spec.ts
  frontend/tests/e2e/utils/browser-helpers.ts
  frontend/tests/e2e/utils/test-helpers.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

feat: 8 parallel agent improvements - RFC 7807, Result type, pagination, and more (#2117)
  backend/api/routes/admin.py
  backend/api/routes/ai_audit.py
  backend/api/routes/alerts.py
  backend/api/routes/analytics.py
  backend/api/routes/audit.py
  backend/api/routes/debug.py
  backend/api/routes/detections.py
  backend/api/routes/dlq.py
  backend/api/routes/entities.py
  backend/api/routes/events.py
  backend/api/routes/logs.py
  backend/api/routes/metrics.py
  backend/api/routes/notification_preferences.py
  backend/api/routes/prompt_management.py
  backend/api/routes/rum.py
  backend/api/routes/services.py
  backend/api/routes/system.py
  backend/api/schemas/__init__.py
  backend/api/schemas/bulk.py
  backend/api/schemas/hateoas.py
  backend/tests/contracts/test_openapi_schema_validation.py
  backend/tests/contracts/test_schemathesis_contracts.py
  backend/tests/contracts/test_websocket_contracts.py
  backend/tests/integration/test_detections_bulk_api.py
  backend/tests/integration/test_events_bulk_api.py
  backend/tests/unit/api/routes/test_detections_bulk.py
  backend/tests/unit/api/routes/test_events_bulk.py
  backend/tests/unit/api/schemas/test_hateoas.py
  backend/tests/unit/routes/test_events_routes.py
  docker-compose.prod.yml
  docs/DOCKER_SECRETS.md
  frontend/src/components/common/EmptyState.tsx
  frontend/src/components/dashboard/StatsRow.tsx
  frontend/src/components/events/EnrichmentPanel.tsx
  frontend/src/components/settings/AlertRulesSettings.tsx
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
  frontend/tests/e2e/specs/accessibility.spec.ts
  setup.py
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: add cache invalidation to event mutation endpoints (NEM-1950) (#2404)
  backend/api/routes/events.py
  backend/tests/integration/test_events_cache_invalidation.py
Due: check-test-mocks, check-test-timeouts

fix(e2e): E2E test fixes and parallel pre-push validation (NEM-1441) (#2127)
  .pre-commit-config.yaml
  backend/api/AGENTS.md
  frontend/src/__tests__/AGENTS.md
  frontend/src/components/dashboard/ActivityFeed.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/events/EventCard.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/components/settings/CamerasSettings.tsx
  frontend/src/components/settings/SettingsPage.tsx
  frontend/tests/e2e/fixtures/api-mocks.ts
  frontend/tests/e2e/fixtures/test-data.ts
  frontend/tests/e2e/specs/user-journeys/detection-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/investigation-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/settings-configuration.spec.ts
  scripts/pre-push-tests.sh
Due: prettier-frontend, eslint, typescript-check

feat: 8 parallel agent improvements - RFC 7807, Result type, pagination, and more (#2126)
  .github/workflows/dependency-audit.yml
  .github/workflows/nightly.yml
  backend/api/routes/events.py
  backend/core/database.py
  backend/core/telemetry.py
  backend/services/detector_client.py
  docs/FRONTEND_PATTERNS.md
  docs/UV_USAGE.md
  frontend/src/__mocks__/AGENTS.md
  frontend/src/__mocks__/index.ts
  frontend/src/components/common/ErrorBoundary.test.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/dashboard/DashboardConfigModal.test.tsx
  frontend/src/components/dashboard/DashboardConfigModal.tsx
  frontend/src/components/dashboard/DashboardLayout.test.tsx
  frontend/src/components/dashboard/DashboardLayout.tsx
  frontend/src/components/dashboard/DashboardPage.test.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/hooks/__mocks__/useEventStream.ts
  frontend/src/hooks/__mocks__/useSystemStatus.ts
  frontend/src/hooks/__mocks__/useWebSocket.ts
  frontend/src/lib/functional.test.ts
  frontend/src/lib/functional.ts
  frontend/src/lib/result.test.ts
  frontend/src/lib/result.ts
  frontend/src/services/__mocks__/api.ts
  frontend/src/stores/AGENTS.md
  frontend/src/stores/dashboardConfig.test.ts
  frontend/src/stores/dashboardConfig.ts
  frontend/tests/e2e/specs/utils-demo.spec.ts
  frontend/tests/e2e/utils/AGENTS.md
  frontend/tests/e2e/utils/browser-helpers.ts
  frontend/tests/e2e/utils/data-generators.ts
  frontend/tests/e2e/utils/index.ts
  frontend/tests/e2e/utils/test-helpers.ts
  frontend/tests/e2e/utils/wait-helpers.ts
Due: prettier-frontend, eslint, typescript-check

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
