Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$

fix: resolve 4 beads - pipeline latency, WebSocket dedup, camera fixes
  .beads/issues.jsonl
  ai/rtdetr/model.py
  ai/rtdetr/test_model.py
  backend/api/routes/cameras.py
  backend/api/schemas/queue.py
  backend/services/batch_aggregator.py
  backend/services/file_watcher.py
  backend/services/gpu_monitor.py
  backend/services/performance_collector.py
  backend/services/pipeline_workers.py
  backend/tests/integration/test_api_errors.py
  backend/tests/integration/test_cameras_api.py
  backend/tests/unit/services/test_performance_collector.py
  backend/tests/unit/test_batch_aggregator.py
  backend/tests/unit/test_cameras_routes.py
  backend/tests/unit/test_file_watcher.py
  backend/tests/unit/test_gpu_monitor.py
  backend/tests/unit/test_performance_collector.py
  backend/tests/unit/test_pipeline_workers.py
  docs/plans/2026-01-03-websocket-deduplication-design.md
  frontend/src/components/dashboard/ActivityFeed.test.tsx
  frontend/src/components/dashboard/ActivityFeed.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/components/settings/AIModelsSettings.test.tsx
  frontend/src/components/settings/AIModelsSettings.tsx
  frontend/src/hooks/useWebSocket.test.ts
  frontend/src/hooks/useWebSocket.timeout.test.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/hooks/webSocketManager.ts
  scripts/restart-all.sh
  scripts/start-ai.sh
  scripts/start_redis.sh
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: resolve 4 beads - pipeline latency, WebSocket dedup, camera fixes (#138)
  .beads/issues.jsonl
  ai/rtdetr/model.py
  ai/rtdetr/test_model.py
  backend/api/routes/cameras.py
  backend/api/schemas/queue.py
  backend/services/batch_aggregator.py
  backend/services/file_watcher.py
  backend/services/gpu_monitor.py
  backend/services/performance_collector.py
  backend/services/pipeline_workers.py
  backend/tests/integration/test_api_errors.py
  backend/tests/integration/test_cameras_api.py
  backend/tests/unit/services/test_performance_collector.py
  backend/tests/unit/test_batch_aggregator.py
  backend/tests/unit/test_cameras_routes.py
  backend/tests/unit/test_file_watcher.py
  backend/tests/unit/test_gpu_monitor.py
  backend/tests/unit/test_performance_collector.py
  backend/tests/unit/test_pipeline_workers.py
  docs/plans/2026-01-03-websocket-deduplication-design.md
  frontend/src/components/dashboard/ActivityFeed.test.tsx
  frontend/src/components/dashboard/ActivityFeed.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/components/settings/AIModelsSettings.test.tsx
  frontend/src/components/settings/AIModelsSettings.tsx
  frontend/src/hooks/useWebSocket.test.ts
  frontend/src/hooks/useWebSocket.timeout.test.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/hooks/webSocketManager.ts
  scripts/restart-all.sh
  scripts/start-ai.sh
  scripts/start_redis.sh
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

feat: implement 4 process improvement beads (yzuz.1, yzuz.5, yzuz.8, yzuz.9)
  .beads/issues.jsonl
  .env.example
  .github/CODEOWNERS
  .github/workflows/weekly-audit.yml
  CLAUDE.md
  docker-compose.ghcr.yml
  docker-compose.prod.yml
  docker-compose.test.yml
  scripts/audit-summary.sh
  scripts/test-in-container.sh
Due: none

feat: implement 4 process improvement beads (yzuz.1, yzuz.5, yzuz.8, yzuz.9)
  .beads/issues.jsonl
  .env.example
  .github/CODEOWNERS
  .github/workflows/weekly-audit.yml
  CLAUDE.md
  backend/tests/unit/test_alert_dedup.py
  backend/tests/unit/test_alert_engine.py
  backend/tests/unit/test_cleanup_service.py
  backend/tests/unit/test_config.py
  docker-compose.ghcr.yml
  docker-compose.prod.yml
  docker-compose.test.yml
  scripts/audit-summary.sh
  scripts/test-in-container.sh
Due: check-test-timeouts

docs: add one-task-one-PR policy and bead closure requirements (yzuz.2, yzuz.3)
  .beads/issues.jsonl
  CLAUDE.md
  docs/development/contributing.md
Due: none

feat: implement WebSocket circuit breaker pattern (yzuz.7)
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/core/websocket_circuit_breaker.py
  backend/services/event_broadcaster.py
  backend/services/system_broadcaster.py
  backend/tests/unit/test_websocket.py
  backend/tests/unit/test_websocket_circuit_breaker.py
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

docs: implement P2 process beads (yzuz.6, yzuz.10, yzuz.11)
  CLAUDE.md
  docs/development/AGENTS.md
  docs/development/AGENT_COORDINATION.md
  setup.py
Due: none

fix: resolve 6 P2 beads - camera clicks, mobile status, setup module
  backend/tests/integration/test_cameras_api.py
  backend/tests/unit/core/test_config.py
  frontend/package-lock.json
  frontend/src/components/dashboard/DashboardPage.test.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/events/EventTimeline.test.tsx
  frontend/src/components/events/EventTimeline.tsx
  setup.py
  setup_lib/__init__.py
  setup_lib/core.py
  tests/test_setup.py
  tests/test_setup_core.py
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: resolve 6 P2 beads - camera clicks, mobile status, setup module (#143)
  backend/tests/integration/test_cameras_api.py
  backend/tests/unit/core/test_config.py
  frontend/package-lock.json
  frontend/src/components/dashboard/DashboardPage.test.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/events/EventTimeline.test.tsx
  frontend/src/components/events/EventTimeline.tsx
  setup.py
  setup_lib/__init__.py
  setup_lib/core.py
  tests/test_setup.py
  tests/test_setup_core.py
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

feat: add auto-rebase pre-push hook
  .pre-commit-config.yaml
  scripts/pre-push-rebase.sh
Due: none

docs: implement P2 process beads (yzuz.6, yzuz.10, yzuz.11) (#142)
  CLAUDE.md
  docs/development/AGENTS.md
  docs/development/AGENT_COORDINATION.md
  setup.py
Due: none

test: fix media integration tests for lifespan mocking
  .beads/issues.jsonl
Due: none

fix: resolve 9 beads - WebSocket, tests, AI model improvements
  .beads/issues.jsonl
Due: none

fix: add cleanup_keys to vulture whitelist
  .beads/issues.jsonl
Due: none

feat: AI Performance insights + Settings cleanup + Zone UI tests
  frontend/src/components/ai/AIPerformancePage.test.tsx
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/ai/InsightsCharts.test.tsx
  frontend/src/components/ai/InsightsCharts.tsx
  frontend/src/components/ai/index.ts
  frontend/src/components/settings/SettingsPage.test.tsx
  frontend/src/components/settings/SettingsPage.tsx
  frontend/src/components/zones/ZoneCanvas.test.tsx
  frontend/src/components/zones/ZoneEditor.test.tsx
  frontend/src/components/zones/ZoneForm.test.tsx
  frontend/src/components/zones/ZoneList.test.tsx
Due: prettier-frontend, eslint, typescript-check

fix: resolve 4 beads - pipeline latency, WebSocket dedup, camera fixes
  .beads/issues.jsonl
Due: none

feat: AI Performance insights + Settings cleanup + Zone UI tests (#145)
  .beads/issues.jsonl
  frontend/src/components/ai/AIPerformancePage.test.tsx
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/ai/InsightsCharts.test.tsx
  frontend/src/components/ai/InsightsCharts.tsx
  frontend/src/components/ai/index.ts
  frontend/src/components/settings/SettingsPage.test.tsx
  frontend/src/components/settings/SettingsPage.tsx
  frontend/src/components/zones/ZoneCanvas.test.tsx
  frontend/src/components/zones/ZoneEditor.test.tsx
  frontend/src/components/zones/ZoneForm.test.tsx
  frontend/src/components/zones/ZoneList.test.tsx
Due: prettier-frontend, eslint, typescript-check

feat: add auto-rebase pre-push hook (#144)
  .pre-commit-config.yaml
  scripts/pre-push-rebase.sh
Due: none

fix: processing settings sliders update display text in real-time (e71m)
  frontend/src/components/settings/ProcessingSettings.test.tsx
  frontend/src/components/settings/ProcessingSettings.tsx
Due: prettier-frontend, eslint, typescript-check

bd sync: 2026-01-02 23:48:47
  .beads/issues.jsonl
Due: none

chore: regenerate API types
  .beads/issues.jsonl
Due: none

fix: resolve 4 UI/API bugs - camera 404, click handlers, mobile status, sliders
  backend/api/routes/cameras.py
  backend/tests/unit/test_cameras_routes.py
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/settings/ProcessingSettings.tsx
  frontend/src/hooks/useSystemStatus.test.ts
  frontend/src/hooks/useSystemStatus.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: resolve 4 UI/API bugs - camera 404, click handlers, mobile status, sliders (#146)
  .beads/issues.jsonl
  backend/api/routes/cameras.py
  backend/tests/unit/test_cameras_routes.py
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/settings/ProcessingSettings.tsx
  frontend/src/hooks/useSystemStatus.test.ts
  frontend/src/hooks/useSystemStatus.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts
