Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

generate-api-types:
  name: Generate TypeScript API Types
  entry: bash -c './scripts/generate-types.sh && git add frontend/src/types/generated/api.ts'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv lock file is up-to-date
  entry: bash -c 'cd "$0" && uv lock --check' .
  language: system
  pass_filenames: false

npm-install-check:
  name: Check npm dependencies are installed
  entry: bash -c 'cd frontend && npm ci --prefer-offline --no-audit --dry-run'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-validation-drift:
  name: Check validation drift (Pydantic/Zod)
  entry: python3 scripts/check-validation-drift.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

docs(synthbench): agent-driven Tier B generation design, spec rev 3
  docs/superpowers/specs/2026-09-27-synthetic-benchmark-generation-design.md
  docs/superpowers/specs/2026-09-28-synthbench-agent-driven-generation-design.md
  synthbench/AGENTS.md
Due: none

docs(synthbench): the renderer guard covers every ComfyUI model, H3 included
  docs/superpowers/specs/2026-09-28-synthbench-agent-driven-generation-design.md
Due: none

docs(synthbench): P2 plan - contract, Tier B v0 taxonomy, quota sampler, sample command
  docs/superpowers/plans/2026-09-28-synthbench-p2-contract-sampler.md
Due: none

feat(synthbench): event contract models - spec, truth, provenance, corpus records
  backend/tests/unit/synthbench/test_contract.py
  synthbench/contract/__init__.py
  synthbench/contract/common.py
  synthbench/contract/corpus.py
  synthbench/contract/provenance.py
  synthbench/contract/spec.py
  synthbench/contract/truth.py
Due: check-test-timeouts

feat(synthbench): append-only corpus store - layout, atomic create, index
  backend/tests/unit/synthbench/test_contract_store.py
  synthbench/contract/store.py
Due: check-test-timeouts

fix(synthbench): corpus store rejects event ids that could leave the version directory
  backend/tests/unit/synthbench/test_contract_store.py
  synthbench/contract/store.py
Due: check-test-timeouts

ci: truthful pins for the four majors in this wave
  .github/workflows/accessibility-tests.yml
  .github/workflows/api-compatibility.yml
  .github/workflows/api-contract.yml
  .github/workflows/build-base-image.yml
  .github/workflows/build-setup.yml
  .github/workflows/bundle-size.yml
  .github/workflows/ci-analytics.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/deploy.yml
  .github/workflows/docs-drift.yml
  .github/workflows/docs.yml
  .github/workflows/flaky-test-detection.yml
  .github/workflows/lighthouse.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/nightly-full-gate.yml
  .github/workflows/nightly.yml
  .github/workflows/pr-review-bot.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/python-freethreaded.yml
  .github/workflows/release.yml
  .github/workflows/rollback.yml
  .github/workflows/semantic-release.yml
  .github/workflows/test-coverage-gate.yml
  .github/workflows/visual-tests.yml
  .github/workflows/vulnerability-management.yml
  .github/workflows/weekly-audit.yml
  .github/workflows/weekly-test-report.yml
Due: none

feat(synthbench): Tier B v0 taxonomy with coherence rules and term lists
  backend/tests/unit/synthbench/test_taxonomy.py
  synthbench/taxonomy/__init__.py
  synthbench/taxonomy/model.py
  synthbench/taxonomy/tier_b_v0.yaml
Due: check-test-timeouts

feat(synthbench): seeded quota sampler - taxonomy to fact-only Tier B specs
  backend/tests/unit/synthbench/test_sampler.py
  synthbench/taxonomy/sampler.py
Due: check-test-timeouts

test(pipeline_workers): batch-29 pw00 battery - 18 KILLABLE survivors killed
  backend/tests/unit/services/test_pipeline_workers_batch29_00.py
Due: check-test-timeouts

feat(synthbench): python -m synthbench sample - fact-only batches into a corpus version
  backend/tests/unit/synthbench/test_cli_sample.py
  synthbench/__main__.py
  synthbench/cli.py
Due: check-test-timeouts

feat(sentry): pin the v11 dataCollection privacy floor before the bump lands
  frontend/src/services/sentry.test.ts
  frontend/src/services/sentry.ts
Due: prettier-frontend, eslint, typescript-check

ci(deps): correct the msw floor comment and the frontend version table
  .github/dependabot.yml
  frontend/AGENTS.md
Due: prettier-frontend

fix(synthbench): sample exits 2 on an unreadable corpus and rejects a negative seed
  backend/tests/unit/synthbench/test_cli_sample.py
  synthbench/cli.py
Due: check-test-timeouts

docs(synthbench): contract and taxonomy guides; import rule covers all of synthbench
  backend/tests/unit/synthbench/AGENTS.md
  backend/tests/unit/synthbench/test_import_rule.py
  synthbench/AGENTS.md
  synthbench/contract/AGENTS.md
  synthbench/taxonomy/AGENTS.md
Due: check-test-timeouts

docs(ledger): pw batch-29 disposition by construction probe — 18 KILLABLE (red-checked 18/18) / 5 EQUIVALENT; batch-29 closed disposition-wise
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

fix(ci): the slack pin is a nonexistent SHA - the weekly report's Post job cannot start
  .github/workflows/weekly-test-report.yml
Due: none

ci: truthful pins for the two major-only comments the sweep left behind
  .github/workflows/benchmarks.yml
  .github/workflows/release-drafter.yml
Due: none

fix(synthbench): drop sample --version so only the owner opens a corpus version; doc accuracy
  AGENTS.md
  backend/tests/unit/synthbench/AGENTS.md
  backend/tests/unit/synthbench/test_cli_sample.py
  synthbench/cli.py
  synthbench/contract/AGENTS.md
  synthbench/taxonomy/AGENTS.md
  synthbench/taxonomy/sampler.py
  synthbench/taxonomy/tier_b_v0.yaml
Due: check-test-timeouts

fix(gateway-export): export YOLO26's NMS-free head and refuse any other
  ai/gateway/export/export_yolo26.py
  ai/gateway/tests/test_export_yolo26.py
Due: none

fix(compose): the prod backend can load its specialists - preload wire + face extra
  .env.example
  backend/Dockerfile
  backend/tests/unit/core/test_ai_vlm_compose_service.py
  backend/tests/unit/core/test_dockerfile_config.py
  docker-compose.prod.yml
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: check-test-timeouts

fix(gateway): export the real OSNet-AIN x1.0 for reid and refuse partial loads
  ai/gateway/export/export_reid.py
  ai/gateway/tests/test_export_reid.py
Due: none

style(gateway): ruff-format test_py312_compat under the new py312 target
  ai/gateway/tests/test_py312_compat.py
Due: none

fix(setup): deploy builds and starts ai-vlm in vlm mode, never the retired ai-llm
  backend/tests/unit/setup_lib/test_deploy.py
  backend/tests/unit/setup_lib/test_deploy_phases.py
  backend/tests/unit/test_deploy_phases.py
  setup_lib/deploy.py
  setup_lib/deploy_phases.py
Due: check-test-timeouts

fix(vlm): the enforcement probe gets more room than a verdict, not less
  backend/services/vlm_client.py
  backend/tests/unit/services/test_vlm_client.py
Due: check-test-timeouts, check-integration-tests

fix(system-health): report ai-vlm, not the retired Nemotron, in vlm mode
  backend/api/routes/system.py
  backend/tests/unit/api/routes/test_system.py
  backend/tests/unit/routes/test_system_routes.py
Due: generate-openapi, generate-api-types, check-test-timeouts, check-integration-tests

fix(ai-contract): the vlm_assess goldens carry frame_detection_ids
  backend/tests/contracts/ai_providers/golden/payloads/vlm_assess.request.example.json
  backend/tests/contracts/ai_providers/golden/snapshots/vlm_assess.request.snapshot.json
Due: none

docs(vss): ledger item 39 - A5500 8B run: S1/S4 PASS on this corpus, probes N>=3, M1 chain and the 16 fixes it surfaced
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

fix(vlm): state the bbox convention in the prompt; stamp provenance, never trust the model's
  backend/services/vlm_client.py
  backend/tests/unit/services/test_vlm_client.py
Due: check-test-timeouts, check-integration-tests

fix(compose): relabel every camera-root mount for SELinux
  backend/tests/security/test_docker_compose_security.py
  backend/tests/unit/scripts/test_a5500_precheck.py
  docker-compose.ghcr.yml
  docker-compose.prod.yml
Due: check-test-timeouts

fix(compose): relabel the camera mount so the file watcher can watch it under SELinux
  backend/tests/security/test_docker_compose_security.py
  docker-compose.prod.yml
Due: check-test-timeouts

fix(vlm): each detection row names the attached frame it is on
  backend/ai_contract/schemas/vlm_assess.request.json
  backend/services/vlm_analyzer.py
  backend/services/vlm_client.py
  backend/services/vlm_verdict.py
  backend/tests/unit/services/test_vlm_analyzer.py
  backend/tests/unit/services/test_vlm_client.py
Due: check-test-timeouts, check-integration-tests

fix(vlm): KV quantization reaches llama-server; the retired ai-llm is opt-in
  ai/vlm/Dockerfile
  backend/tests/unit/core/test_ai_vlm_compose_service.py
  docker-compose.prod.yml
Due: check-test-timeouts

feat(precheck): flag an SELinux camera root the backend cannot watch
  backend/tests/unit/scripts/test_a5500_precheck.py
  scripts/a5500_precheck.py
Due: check-test-timeouts

fix(file-watcher): verify the inotify watch at start and fall back to polling when refused
  backend/services/file_watcher.py
  backend/services/inotify_probe.py
  backend/tests/unit/services/test_file_watcher.py
  backend/tests/unit/services/test_inotify_probe.py
Due: check-test-timeouts, check-integration-tests

fix(backend): never monitor or restart the retired Nemotron LLM in vlm mode
  backend/main.py
  backend/services/container_orchestrator.py
  backend/tests/unit/services/test_container_orchestrator.py
  backend/tests/unit/test_main.py
Due: check-test-timeouts, check-integration-tests

fix(health): stop reporting the retired Nemotron on vlm-mode health surfaces
  backend/api/routes/health_ai_services.py
  backend/api/routes/system.py
  backend/core/config.py
  backend/services/system_broadcaster.py
  backend/tests/integration/api/routes/test_health_ai_services.py
  backend/tests/unit/api/routes/test_health.py
  backend/tests/unit/api/routes/test_health_ai_services.py
  backend/tests/unit/api/routes/test_health_full.py
  backend/tests/unit/services/test_system_broadcaster.py
Due: generate-openapi, generate-api-types, check-test-mocks, check-test-timeouts, check-integration-tests

fix(vlm): ground detection boxes in the frame size; boxes are localization, not evidence
  backend/services/vlm_client.py
  backend/tests/unit/services/test_vlm_client.py
Due: check-test-timeouts, check-integration-tests

feat(system): report the file watcher's watch mode on /api/system/pipeline
  .secrets.baseline
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/tests/unit/api/routes/test_system.py
  docs/openapi.json
Due: generate-openapi, generate-api-types, check-test-timeouts, check-validation-drift, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
