Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$

fix: add include_total_count=true to audit API test
  backend/tests/integration/test_audit_api.py
Due: check-test-mocks, check-test-timeouts

fix: remove unused APIKey model (NEM-2478)
  .secrets.baseline
  backend/AGENTS.md
  backend/models/AGENTS.md
  backend/models/__init__.py
  backend/models/api_key.py
  backend/tests/unit/AGENTS.md
  backend/tests/unit/models/AGENTS.md
  backend/tests/unit/models/test_api_key.py
Due: generate-openapi, check-test-timeouts

fix: add include_total_count=true to logs API tests
  backend/tests/integration/test_logs_api.py
Due: check-test-mocks, check-test-timeouts

feat: integrate WorkerSupervisor with main application lifecycle (NEM-2460)
  backend/core/config.py
  backend/main.py
  backend/services/pipeline_workers.py
  backend/services/worker_supervisor.py
Due: check-integration-tests

feat: resolve 8 backlog items via parallel agent dispatch (#3020)
  .github/workflows/trivy.yml
  .trivyignore
  backend/api/middleware/error_handler.py
  backend/api/routes/audit.py
  backend/api/routes/logs.py
  backend/core/config.py
  backend/repositories/entity_repository.py
  backend/services/alert_engine.py
  backend/services/worker_supervisor.py
  backend/tests/integration/test_audit_api.py
  backend/tests/integration/test_logs_api.py
  backend/tests/unit/repositories/test_entity_repository_additions.py
  backend/tests/unit/routes/test_audit_routes.py
  backend/tests/unit/services/test_worker_supervisor.py
  docs/openapi.json
  frontend/src/components/events/EventTimeline.test.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/hooks/useCursorPaginatedQuery.ts
  frontend/src/hooks/useDetectionsQuery.ts
  frontend/src/hooks/useEventsQuery.ts
  frontend/src/types/generated/api.ts
Due: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-integration-tests

fix: add logging for font loading fallback (NEM-2545)
  frontend/src/hooks/useZones.ts
Due: prettier-frontend, eslint, typescript-check

fix: revert to 'expire' param for RedisClient wrapper compatibility
  backend/services/reid_service.py
Due: check-integration-tests

feat: resolve 8 backlog items via parallel agent dispatch
  frontend/tests/e2e/.auth/storage-state.json
Due: prettier-frontend

feat: resolve 8 backlog items via parallel agent dispatch
  backend/api/routes/events.py
Due: generate-openapi, check-integration-tests

chore: fix end-of-file in storage-state.json
  frontend/tests/e2e/.auth/storage-state.json
Due: prettier-frontend

fix: restore legacy detection_ids fallback in get_detection_ids_from_event
  backend/api/routes/events.py
Due: generate-openapi, check-integration-tests

fix: add TTL and cleanup for Redis memory management (NEM-2508, NEM-2509, NEM-2510, NEM-2511, NEM-2620)
  backend/tests/unit/api/test_pagination.py
Due: check-test-timeouts

feat: create WorkerSupervisor core implementation (NEM-2458)
  frontend/src/components/video/VideoPlayer.test.tsx
Due: prettier-frontend, eslint, typescript-check

fix: use native redis-py 'ex' parameter instead of 'expire' in reid_service
  backend/services/reid_service.py
Due: check-integration-tests

fix: resolve CI failures - unused variable and missing useZones hook
  frontend/src/hooks/useZones.ts
Due: prettier-frontend, eslint, typescript-check

feat: add HTTP Deprecation header for offset pagination (NEM-2603)
  backend/tests/unit/api/test_pagination.py
Due: check-test-timeouts

fix: remove unused MEDIA_ERROR_CODES constant from VideoPlayer test
  frontend/src/components/video/VideoPlayer.test.tsx
Due: prettier-frontend, eslint, typescript-check

feat: implement 8 parallel agent backlog tasks
  backend/api/middleware/idempotency.py
  backend/core/config.py
  backend/core/redis.py
  backend/services/scene_change_detector.py
  backend/services/thumbnail_generator.py
  frontend/Dockerfile
  frontend/docker-entrypoint.sh
  frontend/nginx.conf
Due: generate-openapi, check-integration-tests

fix: batch database commits in analysis pipeline (NEM-2574)
  backend/services/nemotron_analyzer.py
  backend/tests/unit/services/test_nemotron_analyzer.py
Due: check-test-timeouts, check-integration-tests

fix: update thumbnail tests for configurable font size (NEM-2520)
  backend/tests/unit/services/test_thumbnail_generator.py
Due: check-test-timeouts

feat: implement 8 parallel agent backlog tasks (#3029)
  backend/api/middleware/idempotency.py
  backend/core/config.py
  backend/core/redis.py
  backend/services/scene_change_detector.py
  backend/services/thumbnail_generator.py
  backend/tests/unit/services/test_thumbnail_generator.py
  frontend/Dockerfile
  frontend/docker-entrypoint.sh
  frontend/nginx.conf
Due: generate-openapi, check-test-timeouts, check-integration-tests

fix: update unit tests to expect 'ex' parameter for mock Redis clients
  backend/tests/unit/services/test_reid_service.py
Due: check-test-timeouts

fix: handle both RedisClient wrapper and raw redis-py for TTL parameter
  backend/services/reid_service.py
Due: check-integration-tests

fix: prevent InFailedSqlTransaction in Alembic migrations (NEM-2639)
  backend/alembic/env.py
Due: none

feat: implement AI model integrations (NEM-2481, NEM-2482, NEM-2483, NEM-2639)
  .secrets.baseline
  backend/api/schemas/ai_audit.py
  backend/services/depth_anything_loader.py
  backend/services/enrichment_pipeline.py
  backend/services/nemotron_analyzer.py
  backend/services/pipeline_quality_audit_service.py
  backend/services/prompts.py
  backend/tests/unit/api/routes/test_ai_audit.py
  backend/tests/unit/routes/test_ai_audit_routes.py
  backend/tests/unit/services/test_audit_service.py
  backend/tests/unit/services/test_depth_anything_loader.py
  backend/tests/unit/services/test_enrichment_pipeline.py
  backend/tests/unit/services/test_prompt_formatters.py
  backend/tests/unit/services/test_prompts.py
  docs/openapi.json
Due: generate-openapi, check-test-timeouts, check-integration-tests

fix: CI failures - regenerate API types and fix flaky test timing
  backend/tests/unit/services/test_ai_fallback.py
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: use correct Redis set() parameter 'ex' instead of 'expire'
  backend/services/reid_service.py
Due: check-integration-tests

chore: regenerate OpenAPI types after entity API changes
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: add missing OrchestratorSettings attributes for monitoring services
  backend/core/config.py
Due: none

feat: update entity API routes to use PostgreSQL (NEM-2451)
  backend/api/routes/entities.py
  docs/openapi.json
Due: generate-openapi, check-integration-tests
