Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$

fix(auth): exempt RUM endpoint and fix test auth configuration
  backend/tests/unit/api/routes/test_debug_api.py
Due: check-test-timeouts

fix: auto-fix from pre-push hooks
  backend/tests/security/conftest.py
Due: check-test-timeouts

fix(tests): add API key auth fixture to notification preferences tests
  backend/tests/unit/api/routes/test_notification_preferences.py
Due: check-test-timeouts

fix(tests): add auth to system endpoint test
  .secrets.baseline
Due: none

fix(tests): add per-test API key auth fixture for xdist compatibility
  backend/tests/unit/api/routes/test_debug.py
  backend/tests/unit/api/routes/test_system_models.py
Due: check-test-timeouts

fix(tests): add database module state reset fixture for xdist
  .secrets.baseline
Due: none

fix(tests): apply authenticated client pattern to all route tests
  backend/tests/unit/api/routes/test_debug.py
  backend/tests/unit/api/routes/test_debug_api.py
  backend/tests/unit/api/routes/test_system_models.py
Due: check-test-timeouts

fix(tests): add per-test API key auth fixture to unit conftest
  backend/tests/unit/api/routes/test_notification_preferences.py
  backend/tests/unit/routes/test_system_routes.py
Due: check-test-timeouts

fix(tests): add API key auth fixture to system routes tests
  backend/tests/unit/routes/test_system_routes.py
Due: check-test-timeouts

feat(auth): align frontend auth with backend schema
  .secrets.baseline
  frontend/src/components/auth/SetupPage.test.tsx
  frontend/src/components/auth/SetupPage.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/pages/LoginPage.test.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/services/authApi.test.ts
  frontend/src/services/authApi.ts
Due: prettier-frontend, eslint, typescript-check

fix(ai-llm): resolve crash loop with flash-attn and VRAM allocation
  ai/nemotron/Dockerfile
  docker-compose.prod.yml
Due: none

fix(auth): use correct redis parameter name for session TTL
  backend/services/session_service.py
Due: check-integration-tests

fix(docker): fix AI container build failures and go2rtc healthcheck
  ai/clip/Dockerfile
  ai/enrichment-light/Dockerfile
  ai/enrichment/Dockerfile
  ai/enrichment/requirements.txt
  ai/florence/Dockerfile
  ai/nemotron/Dockerfile
  ai/yolo26/Dockerfile
  docker-compose.ghcr.yml
  docker-compose.prod.yml
Due: none

refactor(compose): use .env variables for all port mappings
  docker-compose.prod.yml
Due: none

feat: multi-worker pipeline support and system performance enhancements
  .env.example
  ai/nemotron/Dockerfile
  backend/tests/contracts/test_api_contracts.py
  backend/tests/contracts/test_openapi_schema_validation.py
  docker-compose.prod.yml
Due: check-test-timeouts

fix(auth): align frontend/backend auth schemas and add username field
  .secrets.baseline
  backend/api/schemas/auth.py
  docs/openapi.json
  frontend/src/__tests__/auth-flow.test.tsx
  frontend/src/components/auth/ProtectedRoute.test.tsx
  frontend/src/components/auth/SetupPage.test.tsx
  frontend/src/components/auth/SetupPage.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/pages/LoginPage.test.tsx
  frontend/src/services/authApi.test.ts
  frontend/src/services/authApi.ts
  frontend/src/types/generated/api.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-validation-drift

refactor: make .env the single source of truth for GPU assignments
  .env.example
  docker-compose.prod.yml
Due: none

feat(scene-ocr): implement comprehensive Scene OCR feature
  ai/clip/Dockerfile
  ai/enrichment-light/Dockerfile
  ai/enrichment/Dockerfile
  ai/enrichment/requirements.txt
  ai/florence/Dockerfile
  ai/nemotron/Dockerfile
  ai/yolo26/Dockerfile
Due: none

fix(docker): replace RUN chown with COPY --chown (NEM-4981)
  ai/clip/Dockerfile
  ai/enrichment-light/Dockerfile
  ai/enrichment/Dockerfile
  ai/florence/Dockerfile
  ai/nemotron/Dockerfile
  ai/yolo26/Dockerfile
Due: none

fix(cors): allow OPTIONS preflight requests
  backend/tests/security/conftest.py
Due: check-test-timeouts

feat: add plate OCR, model enhancements, and frontend refinements
  ai/clip/Dockerfile
  ai/enrichment-light/Dockerfile
  ai/enrichment/requirements.txt
  ai/nemotron/Dockerfile
  ai/yolo26/Dockerfile
  backend/tests/contracts/test_api_contracts.py
  backend/tests/contracts/test_openapi_schema_validation.py
Due: check-test-timeouts

fix: add API key authentication to test fixtures
  backend/tests/security/conftest.py
  backend/tests/unit/api/routes/test_debug_api.py
  backend/tests/unit/conftest.py
  frontend/playwright.config.ts
  frontend/vite.config.e2e.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: session-based authentication + HTTPS-only frontend + health monitoring
  backend/api/middleware/auth.py
  backend/tests/unit/core/test_config.py
  frontend/playwright.config.ts
  frontend/vite.config.e2e.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: add authentication to remaining unit test fixtures
  backend/tests/unit/api/routes/test_debug_api.py
  backend/tests/unit/api/routes/test_dlq_api.py
  backend/tests/unit/api/routes/test_enrichment_storage.py
  backend/tests/unit/api/routes/test_notification_preferences.py
  backend/tests/unit/api/routes/test_profiling_api.py
  backend/tests/unit/api/routes/test_rum.py
Due: check-test-timeouts

fix: add authentication to notification endpoint tests
  backend/tests/unit/api/routes/test_notification.py
Due: check-test-timeouts

fix: add authentication to debug endpoint tests
  backend/tests/unit/api/routes/test_debug.py
Due: check-test-timeouts

fix(test): mock session auth in test_disabled_auth_allows_all_requests
  .secrets.baseline
Due: none

fix: add CORS origins and auth to test fixtures for CI
  backend/tests/security/conftest.py
  backend/tests/unit/api/routes/test_system_models.py
Due: check-test-timeouts

fix(test): update failing tests for auth and CORS defaults
  backend/tests/unit/core/test_config.py
  backend/tests/unit/middleware/test_correlation_id.py
Due: check-test-timeouts

fix(test): ensure API key auth in authenticated_async_client
  backend/tests/unit/conftest.py
Due: check-test-timeouts

fix(test): add auth to TestPipelineLatencyHistoryParameterValidation client
  backend/tests/unit/routes/test_system_routes.py
Due: check-test-timeouts

fix(test): use authenticated_async_client in debug and auth tests
  backend/tests/unit/api/middleware/test_auth.py
  backend/tests/unit/api/routes/test_debug_api.py
Due: check-test-timeouts

feat: add ChartLoadingState component and health status improvements
  INVESTIGATION_NEM-5379.md
  backend/api/routes/alert_service.py
  backend/api/routes/calibration.py
  backend/tests/unit/api/routes/test_alerts.py
  backend/tests/unit/api/routes/test_calibration.py
  backend/tests/unit/routes/test_alerts_routes.py
  frontend/src/components/common/ChartLoadingState.test.tsx
  frontend/src/components/common/ChartLoadingState.tsx
  frontend/src/hooks/useHealthStatus.msw.test.tsx
  frontend/src/hooks/useHealthStatus.test.tsx
  frontend/src/hooks/useHealthStatus.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-test-timeouts, check-integration-tests
