Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: .venv/bin/python scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: .venv/bin/python scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

chore(beads): sync issues from settings and system monitoring session
  .beads/issues.jsonl
Due: none

fix: multiple bug fixes from parallel agent work
  .beads/issues.jsonl
  .github/workflows/trivy.yml
  backend/api/routes/admin.py
  backend/api/routes/cameras.py
  backend/api/routes/system.py
  backend/tests/integration/test_cameras_api.py
  backend/tests/unit/test_cameras_routes.py
  docs/api-reference/cameras.md
  frontend/src/components/alerts/AlertsPage.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: system metrics broadcast and timeline search
  .beads/issues.jsonl
  backend/alembic/versions/fix_search_vector_backfill.py
  backend/services/search.py
  backend/services/system_broadcaster.py
  backend/tests/integration/test_system_broadcaster.py
  backend/tests/unit/test_search.py
  backend/tests/unit/test_system_broadcaster.py
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

feat: add X-CLIP action classifier and ViTPose pose estimation
  ai/clip/model.py
  ai/enrichment/AGENTS.md
  ai/enrichment/model.py
  ai/enrichment/vitpose.py
  backend/services/clip_client.py
  backend/services/enrichment_client.py
  backend/services/scene_baseline.py
  backend/tests/unit/test_clip_client.py
  backend/tests/unit/test_enrichment_client.py
  backend/tests/unit/test_fashion_clip_loader.py
  backend/tests/unit/test_scene_baseline.py
Due: check-test-timeouts

fix: update clothing classifier regression tests to match implementation
  backend/tests/unit/test_fashion_clip_loader.py
Due: check-test-timeouts

fix: resolve CI/CD failures from PR #104
  .beads/issues.jsonl
  ai/enrichment/model.py
  backend/api/middleware/rate_limit.py
  backend/api/routes/cameras.py
  backend/scripts/benchmark_vram.py
  backend/services/clip_loader.py
  backend/services/model_zoo.py
  backend/services/xclip_loader.py
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/tests/e2e/specs/error-handling.spec.ts
  scripts/audit-test-durations.py
  scripts/benchmark_model_zoo.py
Due: prettier-frontend, eslint, typescript-check

chore(beads): track CI/CD failures from PR #104
  .beads/issues.jsonl
Due: none

feat: add AI model zoo endpoints and fix Trivy workflow
  .github/workflows/trivy.yml
  ai/clip/model.py
  ai/florence/model.py
  backend/services/clip_client.py
  backend/services/florence_client.py
  backend/tests/unit/test_clip_client.py
  backend/tests/unit/test_florence_client.py
Due: check-test-timeouts

ci: lower integration test coverage threshold to 49%
  .github/workflows/ci.yml
Due: none

feat: add AI model zoo endpoints and fix Trivy workflow (#105)
  .github/workflows/ci.yml
  .github/workflows/trivy.yml
  ai/clip/model.py
  ai/florence/model.py
  backend/services/clip_client.py
  backend/services/florence_client.py
  backend/tests/unit/test_clip_client.py
  backend/tests/unit/test_florence_client.py
Due: check-test-timeouts

test: add comprehensive unit and integration tests for testing gaps
  .beads/issues.jsonl
  backend/tests/integration/test_alert_models.py
  backend/tests/integration/test_alerts_api.py
  backend/tests/integration/test_notification_api.py
  backend/tests/integration/test_zones_api.py
  backend/tests/unit/models/test_models_hypothesis.py
  backend/tests/unit/test_alert_engine.py
  backend/tests/unit/test_cache_service.py
  backend/tests/unit/test_clip_loader.py
  backend/tests/unit/test_depth_anything_loader.py
  backend/tests/unit/test_florence_loader.py
  backend/tests/unit/test_image_quality_loader.py
  backend/tests/unit/test_pet_classifier_loader.py
  backend/tests/unit/test_prompts.py
  backend/tests/unit/test_yolo_world_loader.py
Due: check-test-mocks, check-test-timeouts

test: add comprehensive unit and integration tests for testing gaps (#108)
  .beads/issues.jsonl
  backend/tests/integration/test_alert_models.py
  backend/tests/integration/test_alerts_api.py
  backend/tests/integration/test_notification_api.py
  backend/tests/integration/test_zones_api.py
  backend/tests/unit/models/test_models_hypothesis.py
  backend/tests/unit/test_alert_engine.py
  backend/tests/unit/test_cache_service.py
  backend/tests/unit/test_clip_loader.py
  backend/tests/unit/test_depth_anything_loader.py
  backend/tests/unit/test_florence_loader.py
  backend/tests/unit/test_image_quality_loader.py
  backend/tests/unit/test_pet_classifier_loader.py
  backend/tests/unit/test_prompts.py
  backend/tests/unit/test_yolo_world_loader.py
Due: check-test-mocks, check-test-timeouts

fix: resolve AI pipeline errors - Florence VQA, enrichment models, and permissions
  ai/enrichment/model.py
  ai/florence/model.py
  backend/Dockerfile
  backend/Dockerfile.prod
  backend/services/fashion_clip_loader.py
  backend/tests/unit/test_fashion_clip_loader.py
  docker-compose.prod.yml
  pyproject.toml
  uv.lock
Due: check-test-timeouts

fix: ensure thumbnails directory exists in Docker containers
  .gitignore
  backend/Dockerfile
  backend/Dockerfile.prod
  backend/data/thumbnails/.gitkeep
Due: none

fix: resolve AI pipeline errors - Florence VQA, enrichment models, and permissions (#110)
  .gitignore
  ai/enrichment/model.py
  ai/florence/model.py
  backend/Dockerfile
  backend/Dockerfile.prod
  backend/data/thumbnails/.gitkeep
  backend/services/fashion_clip_loader.py
  backend/tests/unit/test_fashion_clip_loader.py
  docker-compose.prod.yml
  pyproject.toml
  uv.lock
Due: check-test-timeouts

docs: update documentation across all sections
  docs/AGENTS.md
  docs/DOCKER_DEPLOYMENT.md
  docs/DOCKER_VERIFICATION_SUMMARY.md
  docs/README.md
  docs/SELF_HOSTED_RUNNER.md
  docs/admin-guide/configuration.md
  docs/admin-guide/monitoring.md
  docs/admin-guide/storage-retention.md
  docs/admin-guide/troubleshooting.md
  docs/developer-hub.md
  docs/operator-hub.md
  docs/operator/ai-performance.md
  docs/operator/ai-troubleshooting.md
  docs/operator/backup.md
  docs/operator/database.md
  docs/operator/gpu-setup.md
  docs/reference/stability.md
  docs/reference/troubleshooting/ai-issues.md
  docs/reference/troubleshooting/connection-issues.md
  docs/reference/troubleshooting/index.md
  docs/user-guide/getting-started.md
  docs/user-guide/using-the-dashboard.md
  docs/user-hub.md
  docs/user/dashboard-basics.md
  docs/user/viewing-events.md
Due: none

docs: update deployment and operator documentation
  docker-compose.ghcr.yml
  docs/DOCKER_DEPLOYMENT.md
  docs/RUNTIME_CONFIG.md
  docs/admin-guide/configuration.md
  docs/admin-guide/troubleshooting.md
  docs/getting-started/first-run.md
  docs/getting-started/installation.md
  docs/operator-hub.md
  docs/operator/AGENTS.md
  docs/operator/ai-configuration.md
  docs/operator/ai-services.md
  docs/operator/ai-troubleshooting.md
  docs/operator/deployment-modes.md
  docs/reference/troubleshooting/index.md
Due: none

docs: add and enhance AGENTS.md documentation across repository
  ai/AGENTS.md
  ai/clip/AGENTS.md
  ai/enrichment/AGENTS.md
  ai/florence/AGENTS.md
  ai/nemotron/AGENTS.md
  ai/rtdetr/AGENTS.md
  backend/core/middleware/AGENTS.md
  backend/scripts/AGENTS.md
  backend/tests/fixtures/AGENTS.md
  backend/tests/unit/core/AGENTS.md
  backend/tests/unit/models/AGENTS.md
  backend/tests/unit/routes/AGENTS.md
  backend/tests/unit/services/AGENTS.md
  custom/AGENTS.md
  custom/clips/AGENTS.md
  docs/AGENTS.md
  docs/benchmarks/AGENTS.md
  docs/reference/AGENTS.md
  docs/reference/api/AGENTS.md
  docs/reference/config/AGENTS.md
  docs/reference/troubleshooting/AGENTS.md
  docs/user/AGENTS.md
  frontend/tests/AGENTS.md
  frontend/tests/e2e/AGENTS.md
  frontend/tests/e2e/fixtures/AGENTS.md
  frontend/tests/e2e/pages/AGENTS.md
  frontend/tests/e2e/specs/AGENTS.md
  frontend/tests/integration/AGENTS.md
  vsftpd/AGENTS.md
Due: none

fix: mark slow test with @pytest.mark.slow
  backend/tests/unit/test_violence_loader.py
Due: check-test-timeouts

docs: update documentation and scripts across repository
  README.md
  ai/download_models.sh
  ai/rtdetr/README.md
  ai/start_detector.sh
  docs/AGENTS.md
  docs/AI_SETUP.md
  docs/CHROME_DEVTOOLS_MCP.md
  docs/DOCKER_DEPLOYMENT.md
  docs/DOCKER_VERIFICATION_SUMMARY.md
  docs/admin-guide/monitoring.md
  docs/admin-guide/storage-retention.md
  docs/api-reference/AGENTS.md
  docs/api-reference/overview.md
  docs/api-reference/system.md
  docs/api-reference/websocket.md
  docs/architecture/ai-pipeline.md
  docs/architecture/data-model.md
  docs/architecture/overview.md
  docs/developer/pipeline-overview.md
  docs/getting-started/first-run.md
  docs/getting-started/installation.md
  docs/getting-started/upgrading.md
  docs/operator/ai-installation.md
  docs/operator/ai-overview.md
  docs/operator/ai-services.md
  docs/operator/ai-troubleshooting.md
  docs/plans/AGENTS.md
  docs/reference/config/env-reference.md
  scripts/start-ai.sh
Due: none

fix: use Python 3.12 for semgrep pre-commit hook
  .pre-commit-config.yaml
Due: none

test: add 630 unit tests for AI/ML services to reach 92.65% coverage
  backend/tests/unit/services/test_clip_client.py
  backend/tests/unit/services/test_enrichment_client.py
  backend/tests/unit/services/test_enrichment_pipeline.py
  backend/tests/unit/services/test_fashion_clip_loader.py
  backend/tests/unit/services/test_florence_client.py
  backend/tests/unit/services/test_reid_service.py
  backend/tests/unit/services/test_system_broadcaster.py
  backend/tests/unit/services/test_xclip_loader.py
Due: check-test-timeouts

test: add comprehensive unit and integration tests for coverage gaps
  backend/tests/integration/test_api_errors.py
  backend/tests/integration/test_dlq_api.py
  backend/tests/integration/test_event_search.py
  backend/tests/integration/test_media_security.py
  backend/tests/integration/test_model_cascades.py
  backend/tests/integration/test_video_streaming.py
  backend/tests/integration/test_websocket_auth.py
  backend/tests/unit/core/test_database_pool.py
  backend/tests/unit/core/test_logging_sanitization.py
  backend/tests/unit/core/test_redis_retry.py
  backend/tests/unit/core/test_tls.py
  backend/tests/unit/core/test_url_validation.py
  backend/tests/unit/models/test_audit_log.py
  backend/tests/unit/models/test_baseline.py
  backend/tests/unit/services/test_alert_dedup.py
  backend/tests/unit/services/test_audit_service.py
  backend/tests/unit/services/test_circuit_breaker.py
  backend/tests/unit/services/test_dedupe.py
  backend/tests/unit/services/test_severity.py
  backend/tests/unit/services/test_zone_service.py
Due: check-test-mocks, check-test-timeouts

fix: address dead code detection issues in tests
  backend/tests/integration/test_event_search.py
  backend/tests/unit/services/test_dedupe.py
Due: check-test-mocks, check-test-timeouts

fix: resolve test performance audit failures
  backend/tests/unit/models/test_audit_log.py
  backend/tests/unit/services/test_system_broadcaster.py
Due: check-test-timeouts

fix: correct fashion_clip_loader test mocks and semgrep Python version
  backend/tests/unit/services/test_fashion_clip_loader.py
Due: check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
