Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

generate-api-types:
  name: Generate TypeScript API Types
  entry: bash -c './scripts/generate-types.sh && git add frontend/src/types/generated/api.ts'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv lock file is up-to-date
  entry: bash -c 'cd "$0" && uv lock --check' .
  language: system
  pass_filenames: false

npm-install-check:
  name: Check npm dependencies are installed
  entry: bash -c 'cd frontend && npm ci --prefer-offline --no-audit --dry-run'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-validation-drift:
  name: Check validation drift (Pydantic/Zod)
  entry: python3 scripts/check-validation-drift.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

test(export-api): explicit timeout(30) on long-poll export tests (R-T9-TIMEOUT-STAMP)
  backend/tests/integration/test_export_api.py
Due: check-test-mocks, check-test-timeouts

test(mqtt): explicit timeout(30) on throughput/latency tests (R-T9-TIMEOUT-STAMP)
  backend/tests/integration/test_mqtt_integration.py
Due: check-test-mocks, check-test-timeouts

test(cameras-baseline): seed real anomaly contract in config-detection test (wave N red-1)
  backend/tests/integration/api/routes/test_cameras_baseline_config_integration.py
Due: check-test-mocks, check-test-timeouts

docs(ledger): wave N close-out — 27/27 run-9 red files green (420 passed/13 accounted skips), red-1 fix corrected to 3.0/5.0 seed
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(integration): ruff-format the two nemo-group test files
  backend/tests/integration/test_ai_pipeline_smoke.py
  backend/tests/integration/test_multimodal_pipeline.py
Due: check-test-mocks, check-test-timeouts

test(export-api): explicit timeout(30) on remaining >=5s export poll loops (R-T9-TIMEOUT-STAMP, gate run-2 red)
  backend/tests/integration/test_export_api.py
Due: check-test-mocks, check-test-timeouts

test(pipeline-e2e): rebind stream-service singleton in mock_redis fixture (R-T9-PIPELINE-E2E, gate run-3 red)
  backend/tests/integration/test_pipeline_e2e.py
Due: check-test-mocks, check-test-timeouts

test(restore-endpoints): neutralize leaked process-global redis client (gate run-4 unit red)
  backend/tests/unit/routes/test_restore_endpoints.py
Due: check-test-timeouts

test(frontend): align export-job locators to shipped truncated-id card
  frontend/src/pages/DataManagementPage.test.tsx
Due: prettier-frontend, eslint, typescript-check

test(frontend): disambiguate View-button role query in banner propagation test
  frontend/src/components/common/ThreatDetectionBanner.test.tsx
Due: prettier-frontend, eslint, typescript-check

test(frontend): align logout test to shipped invalidate-only contract
  frontend/src/contexts/AuthContext.test.tsx
Due: prettier-frontend, eslint, typescript-check

docs(ledger): full-gate runs 2-5 rows + frontend-drift close-out
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(ledger): gate run-6 row — bare launch, cgroup OOM kill of gw4 at 57.5GB
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(integration): mock WorkerSupervisor in media_api client fixture
  backend/tests/integration/test_media_api.py
Due: check-test-mocks, check-test-timeouts

test(integration): mock WorkerSupervisor in media_security client fixture
  backend/tests/integration/test_media_security.py
Due: check-test-mocks, check-test-timeouts

docs(ledger): close gate run-6 root cause — unpatched get_worker_supervisor + stream singleton cross-file contamination
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(frontend): sync act around setQueryData to satisfy require-await
  frontend/src/contexts/AuthContext.test.tsx
Due: prettier-frontend, eslint, typescript-check

test(integration): clear rate_limit:* counters at test start in integration_env
  backend/tests/integration/conftest.py
Due: check-test-mocks, check-test-timeouts

docs(ledger): gate runs 7-8 rows — lint death (fixed 3c673566) + bulk-tier 429 cross-test bleed (fixed c6e6d5e0)
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(integration): hoist schema DDL to session-scoped _ensure_worker_schema (M3 T4)
  backend/tests/integration/conftest.py
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: check-test-mocks, check-test-timeouts

docs(ledger): gate run 9 death — gw5 crash + worker-DB teardown-under-crash hazard
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(ledger): CORRECTION — run 9 killed by my concurrent -n auto verification run
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(ledger): T4c regression + measurement #2 (618.53s, -33%) + frontend vitest root-causes
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(integration): memoize deletion order + conditional third-sweep skip (M3 T4c, audit 2.2)
  backend/tests/integration/conftest.py
Due: check-test-mocks, check-test-timeouts

test(frontend): add camera-module passthrough to PromptPlayground strict api mocks
  frontend/src/components/ai/__tests__/PromptPlayground.actions.test.tsx
  frontend/src/components/ai/__tests__/PromptPlayground.diffPreview.test.tsx
  frontend/src/components/ai/__tests__/PromptPlayground.modelEditors.test.tsx
  frontend/src/components/ai/__tests__/PromptPlayground.rendering.test.tsx
Due: prettier-frontend, eslint, typescript-check

test(frontend): reject with a real Error in useWorkerActions error test
  frontend/src/hooks/useWorkerActions.test.ts
Due: prettier-frontend, eslint, typescript-check

test(frontend): assert one rejection promise in alertsApi 404 tests
  frontend/src/services/alertsApi.test.ts
Due: prettier-frontend, eslint, typescript-check

test(frontend): align useEventDetectionsQuery tests with global msw + shipped retry/gcTime
  frontend/src/hooks/useEventDetectionsQuery.test.tsx
Due: prettier-frontend, eslint, typescript-check

test(frontend): outlast fetchApi's retry ladder in frontend-error-log failure tests
  frontend/src/services/api.frontend-error-log.test.ts
Due: prettier-frontend, eslint, typescript-check

test(frontend): align App tests with NEM-5322 auth-gated route tree
  frontend/src/App.lazy.test.tsx
  frontend/src/App.test.tsx
Due: prettier-frontend, eslint, typescript-check

docs: re-issued M1/M2/M3 goal prompt (v3, post-T4c + frontend-fix state)
  docs/goal-prompt-m1-m2-m3-2026-09-14.md
Due: none

style(frontend): import/order autofix in useEventDetectionsQuery test
  frontend/src/hooks/useEventDetectionsQuery.test.tsx
Due: prettier-frontend, eslint, typescript-check

ci: replace blanket integration retry masks with registered-flake allowlist (spec 5.2)
  .github/workflows/ci.yml
  .github/workflows/flake-allowlist.yml
  scripts/check-flake-allowlist.py
  scripts/flake-k-filter.py
  scripts/test_check_flake_allowlist.py
Due: none

docs(ledger): M2-T2 landed — retry-mask teardown root cause + verification notes
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

ci: relocate flake allowlist out of .github/workflows glob path
  .github/workflows/ci.yml
  scripts/check-flake-allowlist.py
  scripts/check-test-collection.py
  scripts/flake-k-filter.py
  scripts/test_check_flake_allowlist.py
Due: none

test(frontend): typefix drainRetryBackoff catcher union for tsc and eslint
  .github/flake-allowlist.yml
  frontend/src/services/api.frontend-error-log.test.ts
Due: prettier-frontend, eslint, typescript-check

docs(ledger): gate-13 postmortem, T2 relocation, wave-2 dependency map
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(ledger): wave-2 critic corrections + gate-14 chain state
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(ledger): staged wave-2 drafts inventory (T4 patch, M3 statics, owner memo)
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(rulings): wave-2 owner decision memo — nine STOP-AND-ASK items with re-anchored evidence
  docs/superpowers/rulings/2026-09-14-wave2-owner-ruling-memo.md
Due: none

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
