Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$

fix: use unique IDs for test isolation instead of TRUNCATE
  backend/tests/conftest.py
  backend/tests/unit/test_alert_dedup.py
  backend/tests/unit/test_alert_engine.py
  backend/tests/unit/test_alert_models.py
  backend/tests/unit/test_models.py
Due: check-test-timeouts

fix: run unit tests sequentially to avoid database conflicts
  .github/workflows/ci.yml
Due: none

fix: auto-detect local PostgreSQL for tests with schema reset
  backend/tests/conftest.py
  backend/tests/unit/test_alert_dedup.py
  backend/tests/unit/test_alert_engine.py
  backend/tests/unit/test_alert_models.py
  backend/tests/unit/test_models.py
Due: check-test-timeouts

fix: improve test isolation with unique IDs and session fixture
  backend/services/alert_engine.py
  backend/tests/conftest.py
  backend/tests/unit/test_admin_api.py
  backend/tests/unit/test_alert_dedup.py
  backend/tests/unit/test_alert_engine.py
  backend/tests/unit/test_alert_models.py
  backend/tests/unit/test_cleanup_service.py
  backend/tests/unit/test_database.py
  backend/tests/unit/test_models.py
  backend/tests/unit/test_nemotron_analyzer.py
  backend/tests/unit/test_redis.py
  backend/tests/unit/test_system_broadcaster.py
  pytest.ini
Due: check-test-timeouts

fix: improve cleanup service test isolation for parallel execution
  backend/tests/unit/test_cleanup_service.py
Due: check-test-timeouts

fix: improve DlqMonitor test reliability by waiting for badge render
  frontend/src/components/settings/DlqMonitor.test.tsx
Due: prettier-frontend, eslint, typescript-check

fix: use unique IDs in test_search_api.py for parallel test isolation
  backend/tests/integration/test_search_api.py
Due: check-test-mocks, check-test-timeouts

fix: improve admin test isolation with advisory lock
  backend/tests/unit/test_admin_api.py
Due: check-test-timeouts

fix: use unique IDs in test_pipeline_e2e.py for parallel test isolation
  backend/tests/integration/test_pipeline_e2e.py
Due: check-test-mocks, check-test-timeouts

fix: skip SQLite migration tests and xfail audit integration tests
  backend/tests/integration/test_alembic_migrations.py
  backend/tests/integration/test_audit_api.py
Due: check-test-mocks, check-test-timeouts

fix: test isolation for parallel CI execution
  backend/tests/integration/test_alembic_migrations.py
  backend/tests/integration/test_audit_api.py
  backend/tests/integration/test_batch_aggregator_integration.py
  backend/tests/integration/test_full_stack.py
  backend/tests/integration/test_search_api.py
  backend/tests/integration/test_websocket.py
Due: check-test-mocks, check-test-timeouts

fix: skip unimplemented API integration tests
  backend/tests/integration/test_audit_api.py
  backend/tests/integration/test_search_api.py
Due: check-test-mocks, check-test-timeouts

feat: integrate audit logging with camera CRUD operations
  backend/api/routes/cameras.py
  backend/api/routes/events.py
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/core/database.py
  backend/services/__init__.py
  backend/tests/integration/test_audit_api.py
  backend/tests/integration/test_search_api.py
Due: check-test-mocks, check-test-timeouts

fix: add mock request to event update tests
  backend/tests/unit/test_events_routes.py
Due: check-test-timeouts

fix: add mock request to export events tests
  backend/tests/unit/test_events_routes.py
Due: check-test-timeouts

fix: update patch_config tests to use new signature with request and db params
  backend/tests/unit/test_system_routes.py
Due: check-test-timeouts

chore: regenerate TypeScript types from OpenAPI spec
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

chore: exclude post-MVP files from coverage temporarily
  pyproject.toml
Due: none

ci: explicitly pass --cov-config=pyproject.toml for unit tests
  .github/workflows/ci.yml
Due: none

feat: add video file support for camera uploads
  frontend/src/services/api.ts
Due: prettier-frontend, eslint, typescript-check
