Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$

fix: patch _cleanup_service directly in routes module for integration tests
  backend/tests/integration/conftest.py
Due: check-test-mocks, check-test-timeouts

fix: resolve CI failures for dead code, integration tests, and perf audit
  backend/tests/integration/conftest.py
  scripts/audit-test-durations.py
  vulture_whitelist.py
Due: check-test-mocks, check-test-timeouts

feat: display enrichment data in Event Details modal (NEM-501)
  backend/alembic/versions/add_enrichment_data.py
  backend/api/schemas/detections.py
  backend/models/detection.py
  backend/services/nemotron_analyzer.py
  backend/tests/integration/test_events_api.py
  backend/tests/unit/test_enrichment_storage.py
  frontend/src/components/events/EnrichmentPanel.test.tsx
  frontend/src/components/events/EnrichmentPanel.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: resolve Alembic migration heads conflict
  backend/alembic/versions/add_enrichment_data.py
Due: none

feat: display AI enrichment data in event details (NEM-501)
  backend/alembic/versions/add_enrichment_data_column.py
  backend/api/schemas/detections.py
  backend/models/detection.py
  backend/services/enrichment_pipeline.py
  backend/services/nemotron_analyzer.py
  backend/tests/conftest.py
  backend/tests/integration/test_events_api.py
  backend/tests/unit/api/routes/test_enrichment_storage.py
  frontend/src/components/events/AGENTS.md
  frontend/src/components/events/EnrichmentPanel.test.tsx
  frontend/src/components/events/EnrichmentPanel.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/index.ts
  frontend/src/types/enrichment.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

feat: display AI enrichment data in event details (NEM-501) (#1154)
  backend/alembic/versions/add_enrichment_data_column.py
  backend/api/schemas/detections.py
  backend/models/detection.py
  backend/services/enrichment_pipeline.py
  backend/services/nemotron_analyzer.py
  backend/tests/conftest.py
  backend/tests/integration/test_events_api.py
  backend/tests/unit/api/routes/test_enrichment_storage.py
  frontend/src/components/events/AGENTS.md
  frontend/src/components/events/EnrichmentPanel.test.tsx
  frontend/src/components/events/EnrichmentPanel.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/index.ts
  frontend/src/types/enrichment.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

feat: add enrichment, baseline, and models API endpoints with AI audit UI
  backend/alembic/versions/add_enrichment_data_column.py
  backend/api/routes/cameras.py
  backend/api/routes/detections.py
  backend/api/routes/events.py
  backend/api/routes/system.py
  backend/api/schemas/__init__.py
  backend/api/schemas/baseline.py
  backend/api/schemas/enrichment.py
  backend/api/schemas/system.py
  backend/models/detection.py
  backend/services/baseline.py
  backend/tests/unit/api/routes/test_cameras_baseline.py
  backend/tests/unit/api/routes/test_enrichment.py
  backend/tests/unit/api/routes/test_system_models.py
  frontend/src/components/ai/AIAuditPage.test.tsx
  frontend/src/components/ai/AIAuditPage.tsx
  frontend/src/components/ai/BatchAuditModal.test.tsx
  frontend/src/components/ai/BatchAuditModal.tsx
  frontend/src/components/ai/index.ts
  frontend/src/components/events/EventDetailModal.test.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: add enrichment, baseline, and models API endpoints with AI audit UI (#1173)
  backend/alembic/versions/add_enrichment_data_column.py
  backend/api/routes/cameras.py
  backend/api/routes/detections.py
  backend/api/routes/events.py
  backend/api/routes/system.py
  backend/api/schemas/__init__.py
  backend/api/schemas/baseline.py
  backend/api/schemas/enrichment.py
  backend/api/schemas/system.py
  backend/models/detection.py
  backend/services/baseline.py
  backend/tests/unit/api/routes/test_cameras_baseline.py
  backend/tests/unit/api/routes/test_enrichment.py
  backend/tests/unit/api/routes/test_system_models.py
  frontend/src/components/ai/AIAuditPage.test.tsx
  frontend/src/components/ai/AIAuditPage.tsx
  frontend/src/components/ai/BatchAuditModal.test.tsx
  frontend/src/components/ai/BatchAuditModal.tsx
  frontend/src/components/ai/index.ts
  frontend/src/components/events/EventDetailModal.test.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: add semantic AI metrics, latency history graph, and system monitoring UI
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/core/metrics.py
  backend/services/detector_client.py
  backend/services/enrichment_pipeline.py
  backend/services/florence_client.py
  backend/services/gpu_monitor.py
  backend/services/nemotron_analyzer.py
  backend/services/performance_collector.py
  backend/tests/unit/services/test_performance_collector.py
  backend/tests/unit/test_metrics.py
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/ai/LatencyPanel.tsx
  frontend/src/components/system/CircuitBreakerPanel.test.tsx
  frontend/src/components/system/CircuitBreakerPanel.tsx
  frontend/src/components/system/SeverityConfigPanel.test.tsx
  frontend/src/components/system/SeverityConfigPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/components/system/index.ts
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: add semantic AI metrics, latency history graph, and system monitoring UI (#1175)
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/core/metrics.py
  backend/services/detector_client.py
  backend/services/enrichment_pipeline.py
  backend/services/florence_client.py
  backend/services/gpu_monitor.py
  backend/services/nemotron_analyzer.py
  backend/services/performance_collector.py
  backend/tests/unit/services/test_performance_collector.py
  backend/tests/unit/test_metrics.py
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/ai/LatencyPanel.tsx
  frontend/src/components/system/CircuitBreakerPanel.test.tsx
  frontend/src/components/system/CircuitBreakerPanel.tsx
  frontend/src/components/system/SeverityConfigPanel.test.tsx
  frontend/src/components/system/SeverityConfigPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/components/system/index.ts
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: refactor dashboard with sparkline risk display and clickable stat cards
  CLAUDE.md
  backend/api/routes/cameras.py
  backend/services/video_processor.py
  backend/tests/conftest.py
  backend/tests/unit/test_cameras_routes.py
  frontend/public/images/nvidia-eye.svg
  frontend/src/AGENTS.md
  frontend/src/components/AGENTS.md
  frontend/src/components/dashboard/AGENTS.md
  frontend/src/components/dashboard/DashboardPage.test.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/dashboard/RiskGauge.example.tsx
  frontend/src/components/dashboard/RiskGauge.test.tsx
  frontend/src/components/dashboard/RiskGauge.tsx
  frontend/src/components/dashboard/StatsRow.test.tsx
  frontend/src/components/dashboard/StatsRow.tsx
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/layout/Header.tsx
  frontend/tests/e2e/pages/DashboardPage.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: refactor dashboard with sparkline risk display and clickable stat cards (#1176)
  CLAUDE.md
  backend/api/routes/cameras.py
  backend/services/video_processor.py
  backend/tests/conftest.py
  backend/tests/unit/test_cameras_routes.py
  frontend/public/images/nvidia-eye.svg
  frontend/src/AGENTS.md
  frontend/src/components/AGENTS.md
  frontend/src/components/dashboard/AGENTS.md
  frontend/src/components/dashboard/DashboardPage.test.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/dashboard/RiskGauge.example.tsx
  frontend/src/components/dashboard/RiskGauge.test.tsx
  frontend/src/components/dashboard/RiskGauge.tsx
  frontend/src/components/dashboard/StatsRow.test.tsx
  frontend/src/components/dashboard/StatsRow.tsx
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/layout/Header.tsx
  frontend/tests/e2e/pages/DashboardPage.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: update E2E tests for RiskGauge removal
  frontend/tests/e2e/specs/dashboard.spec.ts
  frontend/tests/e2e/specs/error-handling.spec.ts
  frontend/tests/e2e/specs/realtime.spec.ts
  frontend/tests/e2e/specs/smoke.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: address CodeQL security issues in camera path handling
  backend/api/routes/cameras.py
Due: none

feat: add multiple UI panels and backend APIs for system monitoring
  backend/api/routes/cameras.py
  backend/api/routes/events.py
  backend/api/routes/media.py
  backend/api/schemas/__init__.py
  backend/api/schemas/clips.py
  backend/api/schemas/scene_change.py
  backend/api/schemas/websocket.py
  backend/core/database.py
  backend/models/__init__.py
  backend/models/camera.py
  backend/models/scene_change.py
  backend/services/event_broadcaster.py
  backend/tests/conftest.py
  backend/tests/unit/api/routes/test_event_clips.py
  backend/tests/unit/api/routes/test_scene_changes.py
  backend/tests/unit/core/test_database_init_lock.py
  backend/tests/unit/test_websocket.py
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/settings/ProcessingSettings.tsx
  frontend/src/components/settings/SeverityThresholds.test.tsx
  frontend/src/components/settings/SeverityThresholds.tsx
  frontend/src/components/system/ModelZooPanel.test.tsx
  frontend/src/components/system/ModelZooPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useDetectionEnrichment.test.ts
  frontend/src/hooks/useDetectionEnrichment.ts
  frontend/src/hooks/useModelZooStatus.test.ts
  frontend/src/hooks/useModelZooStatus.ts
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: address CodeQL security issues and update E2E tests for RiskGauge removal (#1177)
  backend/api/routes/cameras.py
  frontend/tests/e2e/specs/dashboard.spec.ts
  frontend/tests/e2e/specs/error-handling.spec.ts
  frontend/tests/e2e/specs/realtime.spec.ts
  frontend/tests/e2e/specs/smoke.spec.ts
Due: prettier-frontend, eslint, typescript-check

feat: add multiple UI panels and backend APIs for system monitoring (#1178)
  backend/api/routes/cameras.py
  backend/api/routes/events.py
  backend/api/routes/media.py
  backend/api/schemas/__init__.py
  backend/api/schemas/clips.py
  backend/api/schemas/scene_change.py
  backend/api/schemas/websocket.py
  backend/core/database.py
  backend/models/__init__.py
  backend/models/camera.py
  backend/models/scene_change.py
  backend/services/event_broadcaster.py
  backend/tests/conftest.py
  backend/tests/unit/api/routes/test_event_clips.py
  backend/tests/unit/api/routes/test_scene_changes.py
  backend/tests/unit/core/test_database_init_lock.py
  backend/tests/unit/test_websocket.py
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/settings/ProcessingSettings.tsx
  frontend/src/components/settings/SeverityThresholds.test.tsx
  frontend/src/components/settings/SeverityThresholds.tsx
  frontend/src/components/system/ModelZooPanel.test.tsx
  frontend/src/components/system/ModelZooPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useDetectionEnrichment.test.ts
  frontend/src/hooks/useDetectionEnrichment.ts
  frontend/src/hooks/useModelZooStatus.test.ts
  frontend/src/hooks/useModelZooStatus.ts
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

test: update CameraGrid tests for role=group accessibility change
  frontend/src/components/dashboard/CameraGrid.test.tsx
Due: prettier-frontend, eslint, typescript-check

fix: resolve CI failures in integration tests and accessibility
  .github/workflows/ci.yml
  backend/tests/integration/test_file_watcher_filesystem.py
  backend/tests/unit/test_benchmark_vram.py
  frontend/src/components/settings/AlertRulesSettings.tsx
  scripts/audit-test-durations.py
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: change CameraGrid role from list to group for WCAG compliance
  frontend/src/components/dashboard/CameraGrid.tsx
Due: prettier-frontend, eslint, typescript-check

fix: increase error state test timeout for CI reliability
  frontend/tests/e2e/specs/system.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: resolve E2E test failures
  frontend/src/components/dashboard/StatsRow.tsx
  frontend/tests/e2e/specs/system.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: disable per-shard coverage threshold in integration tests
  .github/workflows/ci.yml
Due: none

test: uplevel test coverage and CI parallelization
  .github/workflows/ci.yml
  backend/tests/unit/test_json_utils.py
  backend/tests/unit/test_url_validation.py
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/e2e/specs/accessibility.spec.ts
  frontend/tests/e2e/specs/smoke.spec.ts
  frontend/tests/e2e/utils/accessibility.ts
  frontend/tests/e2e/utils/index.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

perf: optimize slow tests to pass performance audit
  backend/tests/integration/test_cache_service_integration.py
  backend/tests/unit/conftest.py
  backend/tests/unit/test_alert_dedup.py
  backend/tests/unit/test_dedup_key.py
  backend/tests/unit/test_performance_collector.py
  backend/tests/unit/test_violence_loader.py
  frontend/tests/e2e/specs/navigation.spec.ts
  frontend/tests/e2e/specs/system.spec.ts
  scripts/audit-test-durations.py
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

test: exclude color-contrast from a11y tests pending design system fix
  frontend/tests/e2e/specs/accessibility.spec.ts
  frontend/tests/e2e/specs/smoke.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: resolve duplicate test title in smoke.spec.ts
  frontend/tests/e2e/specs/smoke.spec.ts
Due: prettier-frontend, eslint, typescript-check
