Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$

test(scripts): WP4.1 batch 5 -- unit/setup_lib sweep (1,091 sites); 5 arg-shift repairs
  backend/tests/unit/setup_lib/test_deploy.py
  backend/tests/unit/setup_lib/test_deploy_phases.py
  backend/tests/unit/setup_lib/test_firewall_config.py
  backend/tests/unit/setup_lib/test_healthcheck.py
  backend/tests/unit/setup_lib/test_image_pull.py
  backend/tests/unit/setup_lib/test_linux_optimizer.py
  backend/tests/unit/setup_lib/test_model_downloader.py
  backend/tests/unit/setup_lib/test_nvidia_detect.py
  backend/tests/unit/setup_lib/test_nvidia_toolkit.py
  backend/tests/unit/setup_lib/test_platform_detect.py
  backend/tests/unit/setup_lib/test_podman_install.py
  backend/tests/unit/setup_lib/test_port_scanner.py
  backend/tests/unit/setup_lib/test_ssl_certs.py
  backend/tests/unit/setup_lib/test_storage_config.py
Due: check-test-timeouts

test(scripts): WP4.1 batch 6 -- unit/routes sweep (222 sites); nested-autospec class only
  backend/tests/unit/routes/test_admin_routes.py
  backend/tests/unit/routes/test_ai_audit_routes.py
  backend/tests/unit/routes/test_alert_instance_routes.py
  backend/tests/unit/routes/test_cameras_routes.py
  backend/tests/unit/routes/test_detections_routes.py
  backend/tests/unit/routes/test_media_routes.py
  backend/tests/unit/routes/test_notification_routes.py
  backend/tests/unit/routes/test_system_routes.py
  backend/tests/unit/routes/test_websocket_routes.py
Due: check-test-timeouts

test(scripts): WP4.1 batch 7 -- unit/api top-level sweep (78 sites); zero failures
  backend/tests/unit/api/test_dependencies.py
  backend/tests/unit/api/test_exception_handlers.py
  backend/tests/unit/api/test_household.py
  backend/tests/unit/api/test_pagination.py
  backend/tests/unit/api/test_pagination_limits.py
  backend/tests/unit/api/test_summaries.py
Due: check-test-timeouts

test(scripts): WP4.1 batch 8 -- unit/ top-level sweep (96 sites); whole unit tier green
  backend/tests/unit/test_auth_routes.py
  backend/tests/unit/test_business_metrics.py
  backend/tests/unit/test_consolidated_fixtures.py
  backend/tests/unit/test_deploy_phases.py
  backend/tests/unit/test_main.py
  backend/tests/unit/test_websocket_auth.py
Due: check-test-timeouts

test(scripts): WP4.1 batch 9 -- unit/config sweep (33 sites); zero failures
  backend/tests/unit/config/test_shadow_mode_deployment.py
Due: check-test-timeouts

test(scripts): WP4.1 batch 10 -- unit/models sweep (16 sites); zero failures
  backend/tests/unit/models/test_event.py
  backend/tests/unit/models/test_job.py
  backend/tests/unit/models/test_job_attempt.py
  backend/tests/unit/models/test_scheduled_report.py
Due: check-test-timeouts

test(scripts): WP4.1 batch 11 -- unit/jobs sweep (13 sites); zero failures
  backend/tests/unit/jobs/test_orphan_cleanup_job.py
  backend/tests/unit/jobs/test_summary_job.py
Due: check-test-timeouts

test(scripts): WP4.1 batch 12 -- unit/scripts sweep (12 sites); zero failures
  backend/tests/unit/scripts/test_generate_openapi.py
Due: check-test-timeouts

test(scripts): WP4.1 batch 13 -- unit/evaluation sweep (7 sites); zero failures
  backend/tests/unit/evaluation/test_ab_experiment_runner.py
Due: check-test-timeouts

test(scripts): WP4.1 batch 14 -- unit/api/helpers sweep (1 site); zero failures
  backend/tests/unit/api/helpers/test_enrichment_transformers.py
Due: check-test-timeouts

test(scripts): WP4.1 batch 15 -- unit/middleware sweep (1 site); zero failures
  backend/tests/unit/middleware/test_correlation_id.py
Due: check-test-timeouts

test(scripts): WP4.1 batch 16 -- tests/security sweep (16 sites); zero failures
  .secrets.baseline
  backend/tests/security/conftest.py
  backend/tests/security/test_admin_access_control.py
  backend/tests/security/test_auth_security.py
Due: check-test-timeouts

fix(gates): re-key the ssl_certs suppression id -- WP4.1 batch 5 moved its line
  .github/suppression-registry.yml
Due: none

test(scripts): WP4.1 batch 18 -- integration/services sweep (60 sites)
  backend/tests/integration/services/test_model_loaders.py
  backend/tests/integration/services/test_shadow_mode_deployment_integration.py
  backend/tests/integration/services/test_threat_monitor_integration.py
Due: check-test-mocks, check-test-timeouts

test(scripts): WP4.1 batch 19 -- integration/api/routes sweep (4 sites)
  backend/tests/integration/api/routes/test_health_ai_services.py
Due: check-test-mocks, check-test-timeouts

fix(services): lazy annotations in gpu_monitor -- AsyncSession was introspection-unsafe
  backend/services/gpu_monitor.py
Due: check-integration-tests

fix(services): lazy annotations in nemotron_streaming -- EnrichedContext was introspection-unsafe
  backend/services/nemotron_streaming.py
Due: check-integration-tests

fix(services): lazy annotations in detector_client -- FrameBuffer was introspection-unsafe
  backend/services/detector_client.py
Due: check-integration-tests

test(unit): order OTel autospec patches safe for 3.14.2 annotation evaluation
  backend/tests/unit/core/test_telemetry.py
Due: check-test-timeouts

docs(ledger): WP4.1 entry -- sweep 2.5% -> 95.5%, 4 prod defects, 5-class taxonomy
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

feat(gates): WP4.2 -- unspecced mock patches become licensed exceptions via the ratchet
  .github/suppression-baseline.json
  .github/suppression-registry-header.txt
  .github/suppression-registry.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .secrets.baseline
  docs/plans/2026-09-12-context-map-doc-updates.md
  scripts/check-mock-spec.py
  scripts/suppression-census.py
  scripts/suppression-registry-gen.py
  scripts/test_check_mock_spec.py
  scripts/test_suppression_census.py
Due: none

test(unit): onvif discovery tests were non-hermetic -- real ONVIFCamera hits the network
  backend/tests/unit/services/test_onvif_service.py
Due: check-test-timeouts

fix(ci): WP0.6 follow-up -- two jobs could not carry their red to ci-gate
  .github/workflows/ci.yml
  scripts/test_ci_job_graph.py
Due: none

fix(ci): wire WP0.5's gate test; WP0.1's is RED against the shipped hook
  .github/workflows/ci.yml
  scripts/test_pre_push_gate.sh
Due: none

fix(ci): retarget WP0.1's gate test to the fail-closed contract, and wire it
  .github/workflows/ci.yml
  scripts/test_pre_push_gate.sh
Due: none

fix(ci): make the anti-rot gates actually gate — ci-gate wiring + three orphaned gate tests (#6551)
  .github/workflows/ci.yml
  scripts/test_ci_job_graph.py
  scripts/test_pre_push_gate.sh
Due: none

feat(mutmut): WP4.3 WIP checkpoint (pre-resize safety) -- widened-set pipeline, per-module scores, committed history
  .github/workflows/ci.yml
  .github/workflows/mutation-testing.yml
  .gitignore
  backend/tests/unit/core/test_websocket.py
  docs/developer/patterns/mutation-testing.md
  frontend/stryker.config.mjs
  pyproject.toml
  scripts/mutation-run.sh
  scripts/mutation-score.py
  scripts/mutation-test.sh
  scripts/test_mutation_score.py
Due: uv-lock-check, check-test-timeouts

docs(ledger): WP0.5 follow-up ruling — slow-runner TPA reds stay blocking (keep as-is)
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

chore(wp44): commit triage tooling -- cost-model ETA estimator + wave detector
  scripts/.eta.py
  scripts/.new-stable.py
Due: none

docs(wp44): fold wave 42 -- summary_generator (89 gap/131), queue to 103 modules / 14,837
  .secrets.baseline
  .wp25-feed/commit-wp43-wip.txt
  .wp25-feed/commit-wp43.txt
  .wp25-feed/ledger-wp43-draft.md
  .wp25-feed/triage-waves/dispatched.txt
  .wp25-feed/workflow-journals/wf_55a72a87-c5c.jsonl
  .wp25-feed/wp44-queue-index.md
  .wp25-feed/wp44-triage/summary_generator.md
Due: none

docs(wp44): fold wave 43 -- health_monitor_orchestrator (60 gap/138), queue to 104 modules / 14,975
  .secrets.baseline
  .wp25-feed/commit-wp43-wip.txt
  .wp25-feed/commit-wp43.txt
  .wp25-feed/ledger-wp43-draft.md
  .wp25-feed/triage-waves/dispatched.txt
  .wp25-feed/workflow-journals/wf_e665546f-a2b.jsonl
  .wp25-feed/wp44-queue-index.md
  .wp25-feed/wp44-triage/health_monitor_orchestrator.md
Due: none

docs(wp44): fold wave 44 -- cameras/health_ai_services/retry_handler, queue to 107 modules / 15,367
  .secrets.baseline
  .wp25-feed/commit-wp43-wip.txt
  .wp25-feed/commit-wp43.txt
  .wp25-feed/ledger-wp43-draft.md
  .wp25-feed/triage-waves/dispatched.txt
  .wp25-feed/workflow-journals/wf_97281298-91a.jsonl
  .wp25-feed/wp44-queue-index.md
  .wp25-feed/wp44-triage/cameras.md
  .wp25-feed/wp44-triage/health_ai_services.md
  .wp25-feed/wp44-triage/retry_handler.md
Due: none

docs(wp44): fold wave 47 -- circuit_breaker (58 gap/118), queue to 113 modules / 16,483
  .secrets.baseline
  .wp25-feed/commit-wp43-wip.txt
  .wp25-feed/commit-wp43.txt
  .wp25-feed/ledger-wp43-draft.md
  .wp25-feed/triage-waves/dispatched.txt
  .wp25-feed/workflow-journals/wf_76d85a40-9a9.jsonl
  .wp25-feed/wp44-queue-index.md
  .wp25-feed/wp44-triage/circuit_breaker.md
Due: none
