Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

refactor: register AI services in DI container (NEM-2030)
  backend/core/container.py
  backend/services/__init__.py
  backend/services/ai_services.py
  backend/tests/unit/core/test_container_ai_services.py
  backend/tests/unit/services/test_ai_services.py
Due: check-test-timeouts

feat: implement WebSocket event sequence validation (NEM-2019)
  backend/api/schemas/websocket.py
  backend/tests/unit/api/schemas/test_websocket_sequence.py
  frontend/src/hooks/sequenceValidator.test.ts
  frontend/src/hooks/sequenceValidator.ts
  frontend/src/types/websocket.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: make Redis batch metadata operations atomic (NEM-2014)
  backend/services/batch_aggregator.py
  backend/tests/unit/services/test_batch_aggregator.py
Due: check-test-timeouts

docs: add response examples to all Pydantic schemas (NEM-2077)
  backend/api/schemas/ai_audit.py
  backend/api/schemas/streaming.py
Due: none

chore: regenerate TypeScript types with schema examples
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

chore: regenerate OpenAPI spec with schema examples (NEM-2077)
  .secrets.baseline
  docs/openapi.json
Due: none

docs: add response examples to all Pydantic schemas (NEM-2077) (#2440)
  .secrets.baseline
  backend/api/schemas/ai_audit.py
  backend/api/schemas/streaming.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

refactor: update route handlers to use Depends() for services (NEM-2032)
  backend/api/dependencies.py
  backend/api/routes/alerts.py
  backend/api/routes/cameras.py
  backend/api/routes/detections.py
  backend/api/routes/events.py
  backend/api/routes/media.py
  backend/api/routes/system.py
  backend/tests/unit/api/routes/test_cameras_baseline.py
  backend/tests/unit/api/routes/test_detections.py
Due: check-test-timeouts

fix(ci): correct github-script action SHA in api-contract workflow
  .github/workflows/api-contract.yml
Due: none

feat(testing): add performance CI gates and frontend integration tests (NEM-2094, NEM-2095)
  .github/workflows/benchmarks.yml
  .github/workflows/load-tests.yml
  backend/tests/benchmarks/test_connection_pool.py
  backend/tests/benchmarks/test_slow_query_detection.py
  backend/tests/unit/core/test_config_validation.py
  docs/performance/AGENTS.md
  docs/performance/LOAD_PROFILES.md
  frontend/src/hooks/__tests__/integration/README.md
  frontend/src/hooks/__tests__/integration/cross-tab-sync.integration.test.ts
  frontend/src/hooks/__tests__/integration/memory-leak-prevention.integration.test.ts
  frontend/src/hooks/__tests__/integration/offline-mutations.integration.test.ts
  frontend/src/hooks/__tests__/integration/optimistic-updates.integration.test.ts
  frontend/src/hooks/__tests__/integration/race-conditions.integration.test.ts
  frontend/src/hooks/__tests__/integration/websocket-react-query.integration.test.ts
  frontend/tests/e2e/specs/realtime-updates.spec.ts
  tests/load/README.md
  tests/load/redis.js
  tests/load/websocket-scale.js
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat(testing): implement three testing epics (NEM-2097, NEM-2098, NEM-2102)
  .github/workflows/AGENTS.md
  .github/workflows/pr-review-bot.yml
  .github/workflows/test-coverage-gate.yml
  .github/workflows/weekly-test-report.yml
  .pre-commit-config.yaml
  backend/tests/chaos/AGENTS.md
  backend/tests/chaos/test_database_pool_exhaustion.py
  backend/tests/chaos/test_ftp_failures.py
  backend/tests/chaos/test_gpu_runtime_failures.py
  backend/tests/chaos/test_pubsub_failures.py
  backend/tests/chaos/test_rtdetr_failures.py
  backend/tests/chaos/test_timeout_cascade.py
  backend/tests/conftest.py
  backend/tests/unit/core/test_config_validation.py
  pyproject.toml
  scripts/AGENTS.md
  scripts/check-integration-tests.py
  scripts/check-test-coverage-gate.py
  scripts/generate-api-tests.py
  scripts/generate-test-stubs.py
  scripts/weekly-test-report.py
Due: check-test-timeouts

feat: implement 5 backlog issues in parallel (NEM-2016, NEM-2020, NEM-2021, NEM-2022, NEM-2080)
  .github/workflows/api-contract.yml
  backend/main.py
  backend/repositories/camera_repository.py
  backend/services/camera_service.py
  backend/tests/e2e/test_gpu_pipeline.py
  backend/tests/integration/api/test_cursor_pagination.py
  backend/tests/integration/repositories/test_base.py
  backend/tests/integration/repositories/test_camera_repository.py
  backend/tests/integration/test_ai_audit_api.py
  backend/tests/integration/test_ai_degradation.py
  backend/tests/integration/test_detections_api.py
  backend/tests/integration/test_events_api.py
  backend/tests/integration/test_full_stack.py
  backend/tests/integration/test_logs_api.py
  backend/tests/integration/test_media_security.py
  backend/tests/integration/test_orchestrator_integration.py
  backend/tests/integration/test_pipeline_e2e.py
  backend/tests/unit/api/middleware/test_request_recorder.py
  backend/tests/unit/core/test_websocket.py
  backend/tests/unit/services/test_ai_fallback.py
  backend/tests/unit/services/test_batch_aggregator.py
  backend/tests/unit/services/test_camera_service.py
  backend/tests/unit/services/test_managed_service.py
  backend/tests/unit/services/test_scene_change_detector.py
  backend/tests/unit/services/test_vision_extractor.py
  backend/tests/unit/test_shutdown_cleanup.py
  frontend/bun.lock
  frontend/package.json
  frontend/src/hooks/useEventStream.ts
  pyproject.toml
  scripts/audit-linear-github-sync.py
  scripts/benchmark_model_zoo.py
  scripts/ci-metrics-collector.py
  scripts/github-models-examples.py
  scripts/test_context_window.py
  scripts/test_model_outputs_comprehensive.py
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: resolve CI failures - npm lock sync, workflow refs, and rebased changes (NEM-2094)
  .github/workflows/pr-review-bot.yml
  .github/workflows/test-coverage-gate.yml
  backend/alembic/versions/add_check_constraints.py
  backend/alembic/versions/add_gin_brin_specialized_indexes.py
  backend/alembic/versions/add_partial_indexes_boolean_columns.py
  backend/alembic/versions/create_scene_changes_table.py
  backend/api/middleware/__init__.py
  backend/api/middleware/deprecation_logger.py
  backend/api/routes/events.py
  backend/api/schemas/prompt_management.py
  backend/main.py
  backend/models/scene_change.py
  backend/services/export_service.py
  backend/services/nemotron_streaming.py
  backend/tests/integration/services/__init__.py
  backend/tests/integration/services/test_cache_behavior.py
  backend/tests/unit/api/middleware/test_deprecation_logger.py
  backend/tests/unit/api/routes/test_events_export.py
  backend/tests/unit/services/test_export_service.py
  backend/tests/unit/test_concurrency_fixes.py
  backend/tests/unit/test_main.py
  docs/openapi.json
  frontend/package-lock.json
  frontend/src/hooks/useEventStream.test.ts
  pyproject.toml
  uv.lock
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: update broken actions/upload-artifact SHA to v6
  .github/workflows/test-coverage-gate.yml
  .github/workflows/weekly-test-report.yml
  backend/api/routes/events.py
  backend/services/export_service.py
  backend/tests/integration/services/test_cache_behavior.py
  backend/tests/unit/api/middleware/test_deprecation_logger.py
  backend/tests/unit/models/test_partial_indexes.py
  backend/tests/unit/test_main.py
Due: check-test-mocks, check-test-timeouts

chore: regenerate TypeScript types and OpenAPI spec
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

test: fix unit tests for DI refactor and cache headers
  backend/tests/unit/api/routes/test_detections.py
  backend/tests/unit/api/routes/test_event_clips.py
  backend/tests/unit/api/routes/test_events_routes.py
  backend/tests/unit/api/routes/test_media.py
  backend/tests/unit/api/routes/test_scene_changes.py
  backend/tests/unit/routes/test_detections_routes.py
  backend/tests/unit/routes/test_events_routes.py
  backend/tests/unit/routes/test_system_anomaly_config.py
  backend/tests/unit/routes/test_system_routes.py
  backend/tests/unit/services/test_batch_aggregator.py
  backend/tests/unit/services/test_pipeline_worker.py
  backend/tests/unit/services/test_search.py
Due: check-test-timeouts

fix: resolve export service test failures and pre-commit hook bug
  backend/services/export_service.py
  backend/tests/integration/test_events_api.py
  scripts/check-integration-tests.py
Due: check-test-mocks, check-test-timeouts

ci: increase Node.js heap size for Vitest tests
  .github/workflows/ci.yml
Due: none

test: fix flaky slow query logging test for CI stability
  backend/tests/unit/core/test_slow_query_logging.py
Due: check-test-timeouts

ci: increase Node.js heap to 6GB for Vitest tests
  .github/workflows/ci.yml
Due: none

fix: add pre-commit hook for OpenAPI generation and regenerate specs
  .pre-commit-config.yaml
  .secrets.baseline
  frontend/src/types/generated/websocket.ts
Due: prettier-frontend, eslint, typescript-check

docs: major documentation reorganization and hub architecture
  .secrets.baseline
Due: none

feat(frontend): add cursor-based pagination hooks (NEM-1978)
  frontend/src/hooks/index.ts
  frontend/src/hooks/useCursorPaginatedQuery.ts
  frontend/src/hooks/useDetectionsQuery.ts
  frontend/src/hooks/useEventsQuery.ts
  frontend/src/services/api.ts
Due: prettier-frontend, eslint, typescript-check

ci: increase Node.js heap to 8GB for Vitest shard 4
  .github/workflows/ci.yml
Due: none

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
