Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

generate-api-types:
  name: Generate TypeScript API Types
  entry: bash -c './scripts/generate-types.sh && git add frontend/src/types/generated/api.ts'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv lock file is up-to-date
  entry: bash -c 'cd "$0" && uv lock --check' .
  language: system
  pass_filenames: false

npm-install-check:
  name: Check npm dependencies are installed
  entry: bash -c 'cd frontend && npm ci --prefer-offline --no-audit --dry-run'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-validation-drift:
  name: Check validation drift (Pydantic/Zod)
  entry: python3 scripts/check-validation-drift.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

fix(types): regenerate OpenAPI spec + generated TS types (CI contract gate)
  .secrets.baseline
  docs/openapi.json
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/websocket.ts
Due: prettier-frontend, eslint, typescript-check

fix(tests): drop stale gpu-tests.yml existence assertion
  backend/tests/integration/test_github_workflows.py
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: check-test-mocks, check-test-timeouts

fix(tests): keep login rejection inside act in AuthContext test
  .secrets.baseline
  docs/plans/2026-09-12-context-map-doc-updates.md
  frontend/src/contexts/AuthContext.test.tsx
Due: prettier-frontend, eslint, typescript-check

fix: runtime imports for annotation types + data-anchored waits in latency panel
  backend/services/cleanup_service.py
  backend/services/job_status.py
  backend/services/job_tracker.py
  backend/services/system_broadcaster.py
  backend/services/worker_supervisor.py
  docs/plans/2026-09-12-context-map-doc-updates.md
  frontend/src/components/analytics/PipelineLatencyPanel.test.tsx
Due: prettier-frontend, eslint, typescript-check, check-integration-tests

ci(parity): make .nvmrc/.python-version the enforced single source
  .github/workflows/ci.yml
  .nvmrc
  .pre-commit-config.yaml
  backend/tests/unit/scripts/test_check_version_consistency.py
  docs/plans/2026-09-12-context-map-doc-updates.md
  frontend/AGENTS.md
  scripts/AGENTS.md
  scripts/check-version-consistency.sh
  scripts/validate.sh
Due: prettier-frontend, check-test-timeouts

test: widen App.lazy route-transition waitFor budget (300ms flake)
  frontend/src/App.lazy.test.tsx
Due: prettier-frontend, eslint, typescript-check

test(db-pool): make commits_transaction immune to leaked loop state
  backend/tests/unit/core/test_database_pool.py
Due: check-test-timeouts

ci(parity): .nvmrc/.python-version as enforced single source + drift gate (#6540)
  .github/workflows/ci.yml
  .nvmrc
  .pre-commit-config.yaml
  backend/tests/unit/core/test_database_pool.py
  backend/tests/unit/scripts/test_check_version_consistency.py
  docs/plans/2026-09-12-context-map-doc-updates.md
  frontend/AGENTS.md
  frontend/src/App.lazy.test.tsx
  scripts/AGENTS.md
  scripts/check-version-consistency.sh
  scripts/validate.sh
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix(deps): hold msw 2.12.10 + interceptors 0.41.8; widen lazy-test budget
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, npm-install-check

fix(deps): refresh Python lockfile to clear pip-audit backlog
  .github/workflows/dependency-audit.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check

test(integration): make admin API tests immune to SetupGuard cache poisoning
  backend/tests/integration/test_admin_api.py
Due: check-test-mocks, check-test-timeouts

chore(deps-dev): bump rollup-plugin-visualizer from 6.0.5 to 7.0.0 in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, npm-install-check

chore(deps-dev): bump rollup-plugin-visualizer from 6.0.5 to 7.0.0 in /frontend (#6545)
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, npm-install-check

chore(deps): regenerate requirements-audit.txt from merged lockfile
  requirements-audit.txt
Due: none

test(frontend): freeze wall clock in ZoneAlertFeed time-grouping test
  frontend/src/components/zones/__tests__/ZoneAlertFeed.test.tsx
Due: prettier-frontend, eslint, typescript-check

test(frontend): freeze wall clock in ZoneAlertFeed time-grouping test (#6547)
  frontend/src/components/zones/__tests__/ZoneAlertFeed.test.tsx
Due: prettier-frontend, eslint, typescript-check

chore(deps): bump nvidia/tensorrt from 26.01-py3 to 26.04-py3 in /ai/clip
  ai/clip/Dockerfile
Due: none

chore(deps): bump nvidia/tensorrt from 26.01-py3 to 26.04-py3 in /ai/yolo26
  ai/yolo26/Dockerfile
Due: none

chore(deps): bump ubuntu from 24.04 to 26.04 in /vsftpd
  vsftpd/Dockerfile
Due: none

chore(deps): bump the github-actions-minor-patch group with 5 updates
  .github/workflows/accessibility-tests.yml
  .github/workflows/bundle-size.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/lighthouse.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/nightly.yml
  .github/workflows/pr-review-bot.yml
  .github/workflows/semantic-release.yml
  .github/workflows/test-coverage-gate.yml
  .github/workflows/visual-tests.yml
  .github/workflows/vulnerability-management.yml
  .github/workflows/weekly-audit.yml
  .github/workflows/weekly-test-report.yml
Due: none

docs(plan): revival timeline — 2026-09-12 to 2026-09-15
  docs/plans/2026-09-15-revival-timeline.md
Due: none

docs(spec): test platform improvement design — five-phase program
  docs/superpowers/specs/2026-09-15-test-platform-improvement-design.md
Due: none

docs(plan): test platform improvement — 31 work packages across 5 phases
  docs/superpowers/plans/2026-09-15-test-platform-improvement.md
Due: none

fix(pre-push): make smoke-test verdicts honest (WP0.1)
  docs/plans/2026-09-12-context-map-doc-updates.md
  scripts/pre-push-tests.sh
  scripts/test_pre_push_gate.sh
Due: none

fix(tls): decode x509 name attribute values to plain text (WP0.2 fallout)
  backend/core/tls.py
  backend/tests/unit/core/test_tls.py
Due: check-test-timeouts

test(redis): align pool-exhaustion tests to the shipped fail-fast contract
  backend/tests/integration/test_concurrency.py
  backend/tests/integration/test_disaster_recovery.py
Due: check-test-mocks, check-test-timeouts

chore(frontend): reformat to prettier 3.9.6 installed by the Sep-15 npm sweep
  frontend/src/components/common/Button.tsx
  frontend/src/components/common/OfflineIndicator.tsx
  frontend/src/components/common/ServiceStatusAlert.tsx
  frontend/src/components/common/ToastProvider.tsx
  frontend/src/components/enrichment/EnrichmentViewer.tsx
  frontend/src/components/events/ConfidenceIndicators.tsx
  frontend/src/components/events/DetectionFeedback.tsx
  frontend/src/components/jobs/StatusDot.tsx
  frontend/src/hooks/__mocks__/useSystemStatus.ts
  frontend/src/hooks/__mocks__/useWebSocket.ts
  frontend/src/hooks/useDateRangeState.ts
  frontend/src/hooks/useHouseholdApi.ts
  frontend/src/hooks/usePaginationState.ts
  frontend/src/hooks/useServiceStatus.ts
  frontend/src/services/rum.ts
  frontend/src/test-utils/factories.ts
  frontend/src/types/aiAuditImprovements.ts
  frontend/src/types/api-endpoints.ts
  frontend/src/types/generated/index.ts
  frontend/src/types/notificationPreferences.ts
  frontend/src/types/plateRead.ts
  frontend/src/types/promptManagement.ts
  frontend/src/types/websocket-events.ts
  frontend/src/types/websocket.ts
Due: prettier-frontend, eslint, typescript-check

fix(deps): patch cryptography/pyarrow CVEs via data-designer>=0.9.2 (WP0.2)
  docs/plans/2026-09-12-context-map-doc-updates.md
  pyproject.toml
  requirements-audit.txt
  uv.lock
Due: uv-lock-check

ci: collapse duplicate Trivy pipelines into trivy.yml (WP0.3)
  .github/workflows/ci.yml
  .github/workflows/trivy.yml
Due: none

ci(vulture): whitelist the 4 pytest/mock-idiom names (WP0.4)
  docs/plans/2026-09-12-context-map-doc-updates.md
  vulture_whitelist.py
Due: none

ci(perf): gate the Test Performance Audit at owner-ruled thresholds (WP0.5)
  .github/workflows/ci.yml
  docs/plans/2026-09-12-context-map-doc-updates.md
  scripts/audit-test-durations.py
  scripts/test_audit_gate.sh
Due: none

docs(ledger): record vitest verdict for the prettier reformat (3021e853 follow-up)
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
