Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$

fix(openapi): add server URL for ZAP security scanning
  backend/main.py
Due: none

fix(ci): resolve dead code detection and workflow path issues (#1445)
  .github/workflows/load-tests.yml
  .github/workflows/zap-security.yml
  backend/alembic/versions/add_zones_table.py
  backend/main.py
  backend/tests/benchmarks/test_performance.py
  backend/tests/chaos/conftest.py
  frontend/src/components/events/ExportPanel.test.tsx
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix(ci): handle newlines in ZAP alert count parsing
  .github/workflows/zap-security.yml
Due: none

fix(ci): ZAP workflow and alembic path fixes (#1446)
  .github/workflows/zap-security.yml
Due: none

feat(ai-pipeline): complete AI Pipeline Enhancements epic (NEM-1395)
  backend/core/__init__.py
  backend/core/config.py
  backend/core/redis.py
  backend/main.py
  backend/services/__init__.py
  backend/services/background_evaluator.py
  backend/services/enrichment_pipeline.py
  backend/services/evaluation_queue.py
  backend/services/image_quality_loader.py
  backend/services/model_zoo.py
  backend/services/nemotron_analyzer.py
  backend/services/performance_collector.py
  backend/tests/unit/core/test_redis.py
  backend/tests/unit/services/test_background_evaluator.py
  backend/tests/unit/services/test_enrichment_pipeline.py
  backend/tests/unit/services/test_evaluation_queue.py
  backend/tests/unit/services/test_image_quality_loader.py
  backend/tests/unit/services/test_performance_collector.py
  pyproject.toml
  uv.lock
Due: check-test-timeouts

feat(ui): implement UI/UX improvements for latency chart, audit log, and image viewer
  .secrets.baseline
  backend/api/routes/ai_audit.py
  backend/api/routes/detections.py
  backend/models/audit.py
  backend/tests/integration/test_detections_api.py
  backend/tests/unit/api/routes/test_ai_audit.py
  backend/tests/unit/models/test_audit_log.py
  backend/tests/unit/routes/test_detections_routes.py
  backend/tests/unit/services/test_audit.py
  frontend/src/components/ai/LatencyPanel.test.tsx
  frontend/src/components/ai/LatencyPanel.tsx
  frontend/src/components/audit/AuditLogPage.test.tsx
  frontend/src/components/audit/AuditLogPage.tsx
  frontend/src/components/audit/AuditTable.test.tsx
  frontend/src/components/audit/AuditTable.tsx
  frontend/src/components/common/Lightbox.test.tsx
  frontend/src/components/common/Lightbox.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/ThumbnailStrip.tsx
  frontend/src/services/api.test.ts
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

feat(ui): implement UI/UX improvements for latency chart, audit log, and image viewer (#1554)
  .secrets.baseline
  backend/api/routes/ai_audit.py
  backend/api/routes/detections.py
  backend/models/audit.py
  backend/tests/integration/test_detections_api.py
  backend/tests/unit/api/routes/test_ai_audit.py
  backend/tests/unit/models/test_audit_log.py
  backend/tests/unit/routes/test_detections_routes.py
  backend/tests/unit/services/test_audit.py
  frontend/src/components/ai/LatencyPanel.test.tsx
  frontend/src/components/ai/LatencyPanel.tsx
  frontend/src/components/audit/AuditLogPage.test.tsx
  frontend/src/components/audit/AuditLogPage.tsx
  frontend/src/components/audit/AuditTable.test.tsx
  frontend/src/components/audit/AuditTable.tsx
  frontend/src/components/common/Lightbox.test.tsx
  frontend/src/components/common/Lightbox.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/ThumbnailStrip.tsx
  frontend/src/services/api.test.ts
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

feat(orchestrator): implement container orchestrator for AI service management (NEM-1276)
  .env.example
  backend/api/deps.py
  backend/api/routes/__init__.py
  backend/api/routes/services.py
  backend/api/schemas/AGENTS.md
  backend/api/schemas/__init__.py
  backend/api/schemas/services.py
  backend/core/AGENTS.md
  backend/core/config.py
  backend/core/docker_client.py
  backend/main.py
  backend/services/AGENTS.md
  backend/services/container_discovery.py
  backend/services/container_orchestrator.py
  backend/services/health_monitor_orchestrator.py
  backend/services/lifecycle_manager.py
  backend/services/service_registry.py
  backend/tests/integration/test_orchestrator_integration.py
  backend/tests/unit/api/routes/test_services.py
  backend/tests/unit/api/schemas/test_services.py
  backend/tests/unit/core/test_config.py
  backend/tests/unit/core/test_docker_client.py
  backend/tests/unit/services/test_container_discovery.py
  backend/tests/unit/services/test_container_orchestrator.py
  backend/tests/unit/services/test_health_monitor_orchestrator.py
  backend/tests/unit/services/test_lifecycle_manager.py
  backend/tests/unit/services/test_service_registry.py
  backend/tests/unit/services/test_service_status_events.py
  pyproject.toml
  uv.lock
Due: check-test-mocks, check-test-timeouts

feat(resilience): implement circuit breakers and frontend recovery (NEM-1394)
  backend/core/circuit_breaker.py
  backend/core/config.py
  backend/services/clip_client.py
  backend/services/enrichment_client.py
  backend/services/florence_client.py
  backend/tests/unit/core/test_circuit_breaker.py
  backend/tests/unit/services/test_clip_client.py
  backend/tests/unit/services/test_enrichment_client.py
  backend/tests/unit/services/test_enrichment_client_circuit_breaker.py
  backend/tests/unit/services/test_florence_client.py
  frontend/src/components/common/WebSocketStatus.test.tsx
  frontend/src/components/common/WebSocketStatus.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/hooks/useConnectionStatus.test.ts
  frontend/src/hooks/useConnectionStatus.ts
  frontend/src/hooks/useWebSocket.test.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/hooks/useWebSocketStatus.test.ts
  frontend/src/hooks/useWebSocketStatus.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix(tests): update E2E and integration tests for weather classification
  backend/tests/integration/test_vision_extraction_pipeline.py
  frontend/tests/e2e/fixtures/api-mocks.ts
  frontend/tests/e2e/pages/EntitiesPage.ts
  frontend/tests/e2e/specs/entities.spec.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

feat(resilience): implement circuit breakers and frontend recovery (NEM-1394) (#1560)
  backend/core/circuit_breaker.py
  backend/core/config.py
  backend/services/clip_client.py
  backend/services/enrichment_client.py
  backend/services/florence_client.py
  backend/tests/unit/core/test_circuit_breaker.py
  backend/tests/unit/services/test_clip_client.py
  backend/tests/unit/services/test_enrichment_client.py
  backend/tests/unit/services/test_enrichment_client_circuit_breaker.py
  backend/tests/unit/services/test_florence_client.py
  frontend/src/components/common/WebSocketStatus.test.tsx
  frontend/src/components/common/WebSocketStatus.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/hooks/useConnectionStatus.test.ts
  frontend/src/hooks/useConnectionStatus.ts
  frontend/src/hooks/useWebSocket.test.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/hooks/useWebSocketStatus.test.ts
  frontend/src/hooks/useWebSocketStatus.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix(ci): update setup-uv cache parameter to enable-cache
  .github/workflows/api-compatibility.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/load-tests.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/zap-security.yml
Due: none

feat(ai-pipeline): complete AI Pipeline Enhancements epic (NEM-1395) (#1553)
  backend/core/__init__.py
  backend/core/config.py
  backend/core/redis.py
  backend/main.py
  backend/services/__init__.py
  backend/services/background_evaluator.py
  backend/services/enrichment_pipeline.py
  backend/services/evaluation_queue.py
  backend/services/image_quality_loader.py
  backend/services/model_zoo.py
  backend/services/nemotron_analyzer.py
  backend/services/performance_collector.py
  backend/tests/integration/test_vision_extraction_pipeline.py
  backend/tests/unit/core/test_redis.py
  backend/tests/unit/services/test_background_evaluator.py
  backend/tests/unit/services/test_enrichment_pipeline.py
  backend/tests/unit/services/test_evaluation_queue.py
  backend/tests/unit/services/test_image_quality_loader.py
  backend/tests/unit/services/test_performance_collector.py
  frontend/tests/e2e/fixtures/api-mocks.ts
  frontend/tests/e2e/pages/EntitiesPage.ts
  frontend/tests/e2e/specs/entities.spec.ts
  pyproject.toml
  uv.lock
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: correct ServiceStatus type alias for HealthResponse compatibility
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check

fix: PR feedback batch - validation, accessibility, and security improvements
  ai/florence/model.py
  backend/api/routes/detections.py
  backend/tests/e2e/test_pipeline_integration.py
  frontend/src/components/ai/RecommendationsPanel.tsx
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: PR feedback batch 2 - security hardening and input validation
  .env.example
  ai/enrichment/model.py
  backend/api/routes/ai_audit.py
  docker-compose.prod.yml
Due: none

fix: PR feedback batch 3 - error handling and resilience improvements
  backend/api/routes/ai_audit.py
  backend/api/routes/events.py
  backend/services/event_broadcaster.py
  backend/services/prompt_storage.py
  backend/services/system_broadcaster.py
  backend/tests/unit/api/routes/test_prompt_config.py
  backend/tests/unit/services/test_event_broadcaster.py
  frontend/src/components/settings/AlertRulesSettings.test.tsx
  frontend/src/components/settings/AlertRulesSettings.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: PR feedback epic - validation, security, and resilience improvements (#1561)
  .env.example
  ai/enrichment/model.py
  ai/florence/model.py
  backend/api/routes/ai_audit.py
  backend/api/routes/detections.py
  backend/api/routes/events.py
  backend/services/event_broadcaster.py
  backend/services/prompt_storage.py
  backend/services/system_broadcaster.py
  backend/tests/e2e/test_pipeline_integration.py
  backend/tests/unit/api/routes/test_prompt_config.py
  backend/tests/unit/services/test_event_broadcaster.py
  docker-compose.prod.yml
  frontend/src/components/ai/RecommendationsPanel.tsx
  frontend/src/components/settings/AlertRulesSettings.test.tsx
  frontend/src/components/settings/AlertRulesSettings.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

ci: complete CI/CD Pipeline Improvements epic (NEM-1398)
  .github/AGENTS.md
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/AGENTS.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/linear-ci-status.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .secrets.baseline
  backend/tests/conftest.py
  codecov.yml
  docker-compose.ci.yml
  flaky_tests.txt
  pyproject.toml
  scripts/analyze-ci-dependencies.py
  scripts/analyze-flaky-tests.py
  scripts/ci-smoke-test.sh
  uv.lock
Due: check-test-timeouts

ci: complete CI/CD Pipeline Improvements epic (NEM-1398) (#1562)
  .github/AGENTS.md
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/AGENTS.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/linear-ci-status.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .secrets.baseline
  backend/tests/conftest.py
  codecov.yml
  docker-compose.ci.yml
  flaky_tests.txt
  pyproject.toml
  scripts/analyze-ci-dependencies.py
  scripts/analyze-flaky-tests.py
  scripts/ci-smoke-test.sh
  uv.lock
Due: check-test-timeouts

fix: correct ServiceStatus type export in generated types
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check

feat(e2e): implement WebSocket E2E testing with real connection mocking (NEM-1373, NEM-1377)
  frontend/tests/e2e/fixtures/websocket-mock.ts
  frontend/tests/e2e/specs/websocket.spec.ts
Due: prettier-frontend, eslint, typescript-check

feat(e2e): add Analytics and AI Performance page E2E tests (NEM-1369, NEM-1368)
  frontend/tests/e2e/fixtures/api-mocks.ts
  frontend/tests/e2e/fixtures/test-data.ts
  frontend/tests/e2e/pages/AIPerformancePage.ts
  frontend/tests/e2e/pages/AnalyticsPage.ts
  frontend/tests/e2e/pages/index.ts
  frontend/tests/e2e/specs/ai-performance.spec.ts
  frontend/tests/e2e/specs/analytics.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix(ci): resolve shell injection vulnerability in Linear CI workflow
  .github/workflows/linear-ci-status.yml
Due: none

fix(e2e): enable skipped accessibility and alert rules tests (NEM-1374, NEM-1367, NEM-1372)
  frontend/tests/e2e/pages/SettingsPage.ts
  frontend/tests/e2e/specs/accessibility.spec.ts
  frontend/tests/e2e/specs/alert-rules.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: resolve CodeQL security and code quality alerts
  backend/api/routes/ai_audit.py
  backend/api/routes/detections.py
  backend/api/routes/events.py
  backend/api/routes/system.py
  backend/services/batch_aggregator.py
  backend/services/prompt_service.py
  backend/services/prompt_storage.py
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/hooks/useHealthStatus.ts
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
  scripts/analyze-ci-dependencies.py
Due: prettier-frontend, eslint, typescript-check

feat(e2e): complete E2E & Accessibility Testing epic (NEM-1399) (#1565)
  .github/workflows/linear-ci-status.yml
  frontend/tests/e2e/fixtures/api-mocks.ts
  frontend/tests/e2e/fixtures/test-data.ts
  frontend/tests/e2e/fixtures/websocket-mock.ts
  frontend/tests/e2e/pages/AIPerformancePage.ts
  frontend/tests/e2e/pages/AnalyticsPage.ts
  frontend/tests/e2e/pages/SettingsPage.ts
  frontend/tests/e2e/pages/index.ts
  frontend/tests/e2e/specs/accessibility.spec.ts
  frontend/tests/e2e/specs/ai-performance.spec.ts
  frontend/tests/e2e/specs/alert-rules.spec.ts
  frontend/tests/e2e/specs/analytics.spec.ts
  frontend/tests/e2e/specs/websocket.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: batch 6 PR feedback improvements
  .secrets.baseline
  backend/api/routes/entities.py
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_entities_api.py
  backend/tests/unit/api/routes/test_entities.py
  frontend/src/components/settings/AlertRulesSettings.tsx
  frontend/src/components/system/InfrastructureStatusGrid.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: batch 7 PR feedback improvements
  .github/workflows/linear-github-sync.yml
  backend/core/websocket_circuit_breaker.py
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useThrottledValue.test.ts
  frontend/src/hooks/useThrottledValue.ts
Due: prettier-frontend, eslint, typescript-check

fix: batch 5 PR feedback improvements
  backend/Dockerfile
  backend/api/routes/cameras.py
  backend/api/routes/events.py
  backend/api/routes/notification.py
  backend/api/routes/system.py
  backend/services/prompt_parser.py
  frontend/src/components/common/ScheduleSelector.tsx
  frontend/src/components/settings/AlertRulesSettings.tsx
  frontend/src/services/api.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check

fix: batch 10 PR feedback improvements (final)
  backend/api/routes/cameras.py
  backend/api/schemas/scene_change.py
  backend/tests/integration/conftest.py
  backend/tests/unit/api/routes/test_scene_changes.py
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: batch 8 PR feedback improvements
  .github/workflows/accessibility-tests.yml
  .github/workflows/api-compatibility.yml
  .github/workflows/load-tests.yml
  .github/workflows/zap-security.yml
  backend/api/routes/system.py
  backend/core/config.py
  backend/services/detector_client.py
  backend/services/nemotron_analyzer.py
  backend/tests/unit/services/test_detector_client.py
  backend/tests/unit/services/test_nemotron_analyzer.py
  frontend/src/components/events/ThumbnailStrip.test.tsx
  frontend/src/components/events/ThumbnailStrip.tsx
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts
