Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

docs: generate OpenAPI spec and update API coverage (NEM-2062, NEM-2064)
  .secrets.baseline
  docs/API_COVERAGE.md
  docs/openapi.json
Due: none

fix: shutdown resource cleanup and concurrency bug fixes (NEM-1996, NEM-1998)
  backend/main.py
  backend/services/nemotron_analyzer.py
  backend/tests/unit/services/test_nemotron_analyzer.py
  backend/tests/unit/test_concurrency_fixes.py
  backend/tests/unit/test_shutdown_cleanup.py
  frontend/src/hooks/useEventStream.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

docs: generate OpenAPI spec and update API coverage (NEM-2062, NEM-2064) (#2408)
  .secrets.baseline
  docs/API_COVERAGE.md
  docs/openapi.json
Due: none

docs: comprehensive documentation improvements
  .secrets.baseline
  docs/AGENTS.md
  docs/DOCKER_DEPLOYMENT.md
  docs/README.md
  docs/TESTING_GUIDE.md
  docs/admin-guide/security.md
  docs/api-reference/overview.md
  docs/architecture/ai-pipeline.md
  docs/architecture/frontend-hooks.md
  docs/architecture/system-page-pipeline-visualization.md
  docs/developer/alerts.md
  docs/developer/backend-patterns.md
  docs/developer/data-model.md
  docs/developer/resilience-patterns.md
  docs/development/setup.md
  docs/development/testing.md
  docs/images/SCREENSHOT_GUIDE.md
  docs/images/ftp-ingestion-flow.png
  docs/images/gpu-compatibility-matrix.png
  docs/images/local-ai-concept.png
  docs/images/quickstart-decision-tree.png
  docs/operator/ai-configuration.md
  docs/operator/ai-services.md
  docs/operator/database.md
  docs/operator/scene-change-detection.md
  docs/plans/2024-12-21-dashboard-mvp-design.md
  docs/reference/AGENTS.md
  docs/user-guide/AGENTS.md
  docs/user-guide/ai-audit.md
  docs/user-guide/ai-enrichment.md
  docs/user-guide/ai-performance.md
  docs/user-guide/dashboard-basics.md
  docs/user-guide/dashboard-settings.md
  docs/user-guide/system-monitoring.md
  docs/user-guide/understanding-alerts.md
  docs/user-guide/viewing-events.md
  docs/user-hub.md
  docs/user/AGENTS.md
  docs/user/understanding-alerts.md
Due: none

fix: add cache invalidation to event mutation endpoints (NEM-1950) (#2404)
  backend/api/routes/events.py
  backend/tests/integration/test_events_cache_invalidation.py
Due: check-test-mocks, check-test-timeouts

fix: shutdown resource cleanup and concurrency bug fixes (NEM-1996, NEM-1998) (#2409)
  backend/main.py
  backend/services/nemotron_analyzer.py
  backend/tests/unit/services/test_nemotron_analyzer.py
  backend/tests/unit/test_concurrency_fixes.py
  backend/tests/unit/test_shutdown_cleanup.py
  frontend/src/hooks/useEventStream.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix(db,cache): add scene_changes table, soft delete, and cache invalidation (NEM-1997, NEM-1938)
  backend/alembic/versions/add_deleted_at_soft_delete.py
  backend/alembic/versions/create_scene_changes_table.py
  backend/api/routes/events.py
  backend/tests/unit/routes/test_events_cache_invalidation.py
Due: check-test-timeouts

chore: regenerate TypeScript types from OpenAPI
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

feat: complete Skills Audit codebase quality improvements (#1750)
  .github/workflows/ci.yml
  .gitignore
  backend/api/exception_handlers.py
  backend/api/schemas/errors.py
  backend/core/circuit_breaker.py
  backend/core/error_context.py
  backend/core/exceptions.py
  backend/core/retry.py
  backend/main.py
  backend/tests/contracts/test_api_contracts.py
  backend/tests/integration/test_admin_api.py
  backend/tests/integration/test_ai_audit_api.py
  backend/tests/integration/test_alerts_api.py
  backend/tests/integration/test_api_error_scenarios.py
  backend/tests/integration/test_api_errors.py
  backend/tests/integration/test_detections_api.py
  backend/tests/integration/test_dlq_api.py
  backend/tests/integration/test_entities_api.py
  backend/tests/integration/test_events_api.py
  backend/tests/integration/test_helpers.py
  backend/tests/integration/test_http_error_codes.py
  backend/tests/integration/test_media_api.py
  backend/tests/integration/test_media_security.py
  backend/tests/integration/test_orchestrator_integration.py
  backend/tests/integration/test_system_api.py
  backend/tests/integration/test_video_streaming.py
  backend/tests/integration/test_zones_api.py
  backend/tests/unit/api/routes/test_system_models.py
  backend/tests/unit/core/test_circuit_breaker_integration.py
  backend/tests/unit/core/test_error_context.py
  backend/tests/unit/core/test_exceptions.py
  backend/tests/unit/core/test_retry.py
  backend/tests/unit/integration/test_helpers_unit.py
  frontend/Dockerfile
  frontend/playwright.config.ts
  frontend/src/components/analytics/AnalyticsPage.test.tsx
  frontend/tests/e2e/specs/websocket.spec.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

perf: optimize backend query performance (NEM-1531, NEM-1533, NEM-1539) (#1755)
  backend/api/routes/audit.py
  backend/api/routes/logs.py
  backend/services/cleanup_service.py
  backend/tests/unit/routes/test_audit_routes.py
  backend/tests/unit/routes/test_logs_routes.py
  backend/tests/unit/services/test_cleanup_service.py
  frontend/package.json
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat(ci): add CI gate job and improve non-blocking workflow handling (#1585)
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
Due: none

fix(test): add Redis mocking to test_prompt_management.py for CI (#1584)
  backend/tests/unit/api/routes/test_prompt_management.py
Due: check-test-timeouts

feat: performance improvements - TanStack Query, semaphore limits, request timing (NEM-1526, NEM-1463, NEM-1469) (#1757)
  backend/api/middleware/__init__.py
  backend/api/middleware/request_timing.py
  backend/core/config.py
  backend/main.py
  backend/services/detector_client.py
  backend/services/inference_semaphore.py
  backend/services/nemotron_analyzer.py
  backend/tests/unit/api/middleware/__init__.py
  backend/tests/unit/api/middleware/test_request_timing.py
  backend/tests/unit/services/test_ai_inference_semaphore.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.lazy.test.tsx
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/common/ChunkLoadErrorBoundary.test.tsx
  frontend/src/components/common/ChunkLoadErrorBoundary.tsx
  frontend/src/components/common/RouteLoadingFallback.test.tsx
  frontend/src/components/common/RouteLoadingFallback.tsx
  frontend/src/components/common/index.ts
  frontend/src/hooks/AGENTS.md
  frontend/src/hooks/index.ts
  frontend/src/hooks/useCamerasQuery.test.ts
  frontend/src/hooks/useCamerasQuery.ts
  frontend/src/hooks/useGpuStatsQuery.test.ts
  frontend/src/hooks/useGpuStatsQuery.ts
  frontend/src/hooks/useHealthStatusQuery.test.ts
  frontend/src/hooks/useHealthStatusQuery.ts
  frontend/src/hooks/useModelZooStatusQuery.test.ts
  frontend/src/hooks/useModelZooStatusQuery.ts
  frontend/src/hooks/useStorageStatsQuery.test.ts
  frontend/src/hooks/useStorageStatsQuery.ts
  frontend/src/services/AGENTS.md
  frontend/src/services/index.ts
  frontend/src/services/queryClient.test.ts
  frontend/src/services/queryClient.ts
  frontend/src/test-utils/renderWithProviders.tsx
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

chore: codebase cleanup and merge work2 branch (#1586)
  .gitignore
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/data/thumbnails/.gitkeep
  backend/tests/DATABASE_TEST_FIXES.md
  backend/tests/WEBSOCKET_TEST_SUMMARY.md
  backend/tests/e2e/TEST_SUMMARY.md
  backend/tests/unit/routes/test_system_routes.py
  backend/tests/unit/test_websocket_README.md
  docs/DOCKER_VERIFICATION_SUMMARY.md
  docs/LINK_AUDIT.md
  docs/api-reference/ai-audit.md
  docs/api-reference/events.md
  docs/api-reference/model-zoo.md
  docs/architecture/resilience.md
  docs/architecture/system-page-pipeline-visualization.md
  docs/user-hub.md
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
  frontend/tsconfig.node.tsbuildinfo
  postgresql+asyncpg:/security:security_dev_password@localhost:5432/foscam/front_door/a.jpg
  postgresql+asyncpg:/security:security_dev_password@localhost:5432/foscam/front_door/b.jpg
  scripts/generate-types.sh
  secrets/.gitkeep
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix(ci): correct NODE_VERSION env var references and gitignore profiles (#2025)
  .github/workflows/ci.yml
  .gitignore
Due: none

feat(a11y): fix WCAG 2.1 AA color contrast violations (NEM-1481) (#1920)
  frontend/src/components/ai/AIAuditPage.tsx
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/common/AGENTS.md
  frontend/src/components/common/ChunkLoadErrorBoundary.tsx
  frontend/src/components/common/RiskBadge.test.tsx
  frontend/src/components/common/RiskBadge.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/events/ExportPanel.tsx
  frontend/src/components/settings/AlertRulesSettings.tsx
  frontend/src/components/settings/CamerasSettings.tsx
  frontend/src/components/settings/NotificationSettings.tsx
  frontend/src/components/settings/ProcessingSettings.tsx
  frontend/src/components/settings/SeverityThresholds.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/components/system/TimeRangeSelector.tsx
  frontend/src/components/zones/ZoneEditor.tsx
  frontend/src/styles/index.css
  frontend/tailwind.config.js
  frontend/tests/e2e/specs/accessibility.spec.ts
  frontend/tests/e2e/specs/smoke.spec.ts
Due: prettier-frontend, eslint, typescript-check

feat: batch 3 - performance, accessibility, and code quality improvements (NEM-1746, NEM-1685, NEM-1677, NEM-1679, NEM-1737, NEM-1739, NEM-1740, NEM-1742) (#1954)
  .secrets.baseline
  backend/api/routes/debug.py
  backend/core/config.py
  backend/core/database.py
  backend/core/logging.py
  backend/core/redis.py
  backend/services/detector_client.py
  backend/services/enrichment_pipeline.py
  backend/services/nemotron_analyzer.py
  backend/tests/integration/conftest.py
  backend/tests/unit/core/test_redis.py
  frontend/src/components/common/WebSocketStatus.tsx
  frontend/src/components/dashboard/CameraGrid.tsx
  frontend/src/components/dashboard/StatsRow.test.tsx
  frontend/src/components/entities/EntityCard.tsx
  frontend/src/components/events/EventCard.test.tsx
  frontend/src/components/events/EventCard.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/settings/CamerasSettings.tsx
  frontend/src/hooks/useEventStream.ts
  frontend/src/hooks/useWebSocket.test.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/hooks/useWebSocketStatus.test.ts
  frontend/src/hooks/useWebSocketStatus.ts
  frontend/src/hooks/webSocketManager.ts
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
  frontend/src/utils/risk.test.ts
  frontend/src/utils/risk.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

test: improve frontend and backend test coverage (NEM-1696, NEM-1697, NEM-1707) (#1912)
  .secrets.baseline
  backend/tests/unit/services/test_baseline.py
  backend/tests/unit/services/test_enrichment_pipeline.py
  backend/tests/unit/services/test_enrichment_pipeline_extended.py
  frontend/src/components/events/ExportPanel.test.tsx
  frontend/src/components/search/SearchBar.test.tsx
  frontend/src/components/system/AiModelsPanel.tsx
  frontend/src/components/system/CircuitBreakerPanel.tsx
  frontend/src/components/system/ContainersPanel.tsx
  frontend/src/components/system/DatabasesPanel.tsx
  frontend/src/components/system/HostSystemPanel.tsx
  frontend/src/components/system/ModelZooPanel.tsx
  frontend/src/components/system/PipelineMetricsPanel.tsx
  frontend/src/components/system/ServicesPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/WorkerStatusPanel.tsx
  frontend/src/services/api.missing-coverage.test.ts
  frontend/tests/e2e/fixtures/test-data.ts
  frontend/tests/e2e/pages/AnalyticsPage.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: UI/UX enhancements and backend caching (NEM-1773, NEM-1776, NEM-1770, NEM-1769, NEM-1768, NEM-1775, NEM-1772, NEM-1686) (#2016)
  .github/workflows/ci.yml
  backend/core/config.py
  backend/core/logging.py
  backend/services/nemotron_analyzer.py
  data/profiles/profile_20260107_202250.prof
  data/profiles/profile_20260107_202504.prof
  data/profiles/profile_20260107_210954.prof
  data/profiles/profile_20260107_210955.prof
  data/profiles/profile_20260107_211156.prof
  frontend/src/components/ai/AIPerformancePage.test.tsx
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/ai/ModelZooSection.test.tsx
  frontend/src/components/ai/ModelZooSection.tsx
  frontend/src/components/analytics/AnalyticsPage.test.tsx
  frontend/src/components/analytics/AnalyticsPage.tsx
  frontend/src/components/audit/AuditTable.tsx
  frontend/src/components/entities/EntitiesEmptyState.test.tsx
  frontend/src/components/entities/EntitiesEmptyState.tsx
  frontend/src/components/entities/EntitiesPage.test.tsx
  frontend/src/components/entities/EntitiesPage.tsx
  frontend/src/components/events/EventCard.test.tsx
  frontend/src/components/events/EventCard.tsx
  frontend/src/components/events/EventTimeline.test.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/components/events/LiveActivitySection.tsx
  frontend/src/components/settings/CamerasSettings.test.tsx
  frontend/src/components/settings/CamerasSettings.tsx
  frontend/src/components/system/CollapsibleSection.test.tsx
  frontend/src/components/system/CollapsibleSection.tsx
  frontend/src/components/system/ModelZooPanel.test.tsx
  frontend/src/components/system/ModelZooPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/hooks/useSystemPageSections.ts
  frontend/src/utils/time.ts
  frontend/tailwind.config.js
  frontend/tests/e2e/pages/EntitiesPage.ts
  frontend/tests/e2e/pages/TimelinePage.ts
  frontend/tests/e2e/specs/entities.spec.ts
  frontend/tests/e2e/specs/events.spec.ts
Due: prettier-frontend, eslint, typescript-check

feat: testing infrastructure improvements (NEM-1683, NEM-1626, NEM-1634, NEM-1680, NEM-1706) (#1984)
  .trivyignore
  ai/nemotron/Dockerfile
  backend/core/result.py
  backend/tests/MATCHERS.md
  backend/tests/matchers.py
  backend/tests/unit/core/test_result.py
  backend/tests/unit/services/test_health_monitor.py
  backend/tests/unit/test_matchers.py
  docs/SECURITY.md
  docs/testing/HYPOTHESIS_GUIDE.md
  docs/testing/TDD_WORKFLOW.md
  docs/testing/TESTING_PATTERNS.md
  frontend/src/__tests__/matchers.test.ts
  frontend/src/__tests__/matchers.ts
  frontend/src/components/ai/AIAuditPage.test.tsx
  frontend/src/components/ai/AIAuditPage.tsx
  frontend/src/components/ai/AIPerformancePage.test.tsx
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/analytics/AnalyticsPage.test.tsx
  frontend/src/components/analytics/AnalyticsPage.tsx
  frontend/src/components/analytics/PipelineLatencyPanel.test.tsx
  frontend/src/components/analytics/PipelineLatencyPanel.tsx
  frontend/src/components/search/SearchBar.test.tsx
  frontend/src/components/settings/PromptManagementPanel.test.tsx
  frontend/src/contexts/ToastContext.test.tsx
  frontend/src/contexts/ToastContext.tsx
  frontend/src/contexts/index.ts
  frontend/src/mocks/handlers.test.ts
  frontend/src/mocks/handlers.ts
  frontend/tests/e2e/pages/AIAuditPage.ts
  frontend/tests/e2e/pages/AIPerformancePage.ts
  frontend/tests/e2e/pages/AnalyticsPage.ts
  frontend/tests/e2e/specs/navigation.spec.ts
  vsftpd/Dockerfile
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

test: improve unit test coverage (NEM-1692, NEM-1693, NEM-1695, NEM-1696, NEM-1697) (#1914)
  .secrets.baseline
  backend/tests/unit/services/test_background_evaluator.py
  backend/tests/unit/services/test_baseline.py
  backend/tests/unit/services/test_enrichment_pipeline_coverage.py
  backend/tests/unit/services/test_file_watcher.py
  backend/tests/unit/services/test_performance_collector.py
  backend/tests/unit/services/test_reid_service.py
  frontend/src/components/search/SearchBar.test.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: add comprehensive unit tests and remove dead code (NEM-1698, NEM-1699, NEM-1700, NEM-1701, NEM-1704, NEM-1705, NEM-1709, NEM-1675) (#1913)
  .coveragerc
  backend/tests/unit/services/test_baseline_properties.py
  backend/tests/unit/services/test_batch_aggregator.py
  backend/tests/unit/services/test_bbox_validation.py
  backend/tests/unit/services/test_detector_client.py
  backend/tests/unit/services/test_evaluation_queue.py
  backend/tests/unit/services/test_event_broadcaster.py
  backend/tests/unit/services/test_fashion_clip_loader.py
  backend/tests/unit/services/test_prompt_service.py
  backend/tests/unit/services/test_system_broadcaster.py
  frontend/.eslintrc.cjs
  frontend/AGENTS.md
  frontend/eslint.config.mjs
  frontend/lighthouserc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ai-audit/index.ts
  frontend/src/components/ai-performance/index.ts
  frontend/src/components/detection/Example.tsx
  frontend/src/components/detection/index.ts
  frontend/src/components/entities/index.ts
  frontend/src/components/events/index.ts
  frontend/src/components/settings/AIModelsSettings.example.tsx
  frontend/src/components/settings/ProcessingSettings.example.tsx
  frontend/src/components/settings/index.ts
  frontend/src/components/video/index.ts
  frontend/src/config/index.ts
  frontend/src/services/index.ts
  frontend/src/types/index.ts
  frontend/src/utils/index.ts
  frontend/tests/e2e/utils/accessibility.ts
  frontend/tests/e2e/utils/index.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

ci: optimize PR tests and merge dependabot updates (#2019)
  .github/workflows/ci.yml
  ai/clip/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  vsftpd/Dockerfile
Due: prettier-frontend

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
