Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$

refactor(backend/services): complete RT-DETR to YOLO26 migration
  backend/services/AGENTS.md
  backend/services/ai_fallback.py
  backend/services/container_discovery.py
  backend/services/cost_tracker.py
  backend/services/degradation_manager.py
  backend/services/detector_client.py
  backend/services/enrichment_pipeline.py
  backend/services/gpu_detection_service.py
  backend/services/gpu_monitor.py
  backend/services/health_event_emitter.py
  backend/services/health_monitor.py
  backend/services/health_monitor_orchestrator.py
  backend/services/inference_semaphore.py
  backend/services/managed_service.py
  backend/services/model_zoo.py
  backend/services/orchestrator/models.py
  backend/services/performance_collector.py
  backend/services/pet_classifier_loader.py
  backend/services/pipeline_quality_audit_service.py
  backend/services/pipeline_workers.py
  backend/services/prompt_sanitizer.py
  backend/services/service_managers.py
  backend/services/service_registry.py
  backend/services/system_broadcaster.py
  backend/services/vehicle_classifier_loader.py
Due: check-integration-tests

refactor(backend/core): complete RT-DETR to YOLO26 migration
  backend/core/AGENTS.md
  backend/core/__init__.py
  backend/core/config.py
  backend/core/exceptions.py
  backend/core/logging.py
  backend/core/metrics.py
  backend/core/otel_metrics.py
  backend/core/protocols.py
  backend/core/sanitization.py
  backend/core/telemetry.py
  backend/core/telemetry_ai_conventions.py
  backend/core/websocket/event_schemas.py
Due: none

docs: complete RT-DETR to YOLO26 migration
  backend/core/AGENTS.md
  backend/core/__init__.py
  backend/core/config.py
  backend/core/exceptions.py
  backend/core/logging.py
  backend/core/metrics.py
  backend/core/otel_metrics.py
  backend/core/protocols.py
  backend/core/sanitization.py
  backend/core/telemetry.py
  backend/core/telemetry_ai_conventions.py
  backend/core/websocket/event_schemas.py
Due: none

refactor: complete RT-DETR to YOLO26 migration in .github
  backend/core/AGENTS.md
  backend/core/__init__.py
  backend/core/config.py
  backend/core/exceptions.py
  backend/core/logging.py
  backend/core/metrics.py
  backend/core/otel_metrics.py
  backend/core/protocols.py
  backend/core/sanitization.py
  backend/core/telemetry.py
  backend/core/telemetry_ai_conventions.py
  backend/core/websocket/event_schemas.py
Due: none

refactor(backend/core): complete RT-DETR to YOLO26 migration
  backend/core/__init__.py
Due: none

refactor: complete RT-DETR to YOLO26 migration in .github workflows and docs
  .github/AGENTS.md
  .github/codeql/custom-queries/javascript/AGENTS.md
  .github/copilot-instructions.md
  .github/dependabot.yml
  .github/prompts/AGENTS.md
  .github/prompts/code-review.prompt.md
  .github/workflows/ai-code-review.yml
  .github/workflows/load-tests.yml
  .github/workflows/preview-deploy.yml
Due: none

refactor: complete RT-DETR to YOLO26 migration - final cleanup
  ai/AGENTS.md
  ai/README_OPTIMIZATION.md
  ai/__init__.py
  ai/common/__init__.py
  ai/download_models.sh
  ai/start_detector.sh
  ai/triton/AGENTS.md
  ai/triton/__init__.py
  ai/triton/client.py
  ai/triton/model_repository/rtdetr/1/.gitkeep
  ai/triton/model_repository/rtdetr/config.pbtxt
  ai/triton/model_repository/yolo26/1/.gitkeep
  ai/triton/model_repository/yolo26/config.pbtxt
  ai/triton/tests/conftest.py
  ai/triton/tests/test_client.py
  ai/yolo26/tests/README.md
  backend/AGENTS.md
  backend/alembic/versions/0001_initial_schema.py
  backend/scripts/AGENTS.md
  custom/clips/AGENTS.md
  docs/openapi.json
  tests/test_setup.py
Due: none

refactor: complete RT-DETR to YOLO26 migration - additional files
  CHANGELOG.md
  ai/common/AGENTS.md
  ai/enrichment/AGENTS.md
  ai/enrichment/__init__.py
  ai/enrichment/model.py
  ai/enrichment/model_registry.py
  ai/enrichment/models/yolo26_detector.py
  ai/yolo26/README.md
  backend/examples/AGENTS.md
  tools/nemo_data_designer/AGENTS.md
  tools/nemo_data_designer/README.md
  tools/nemo_data_designer/config.py
  tools/nemo_data_designer/multimodal/AGENTS.md
  tools/nemo_data_designer/multimodal/__init__.py
  tools/nemo_data_designer/multimodal/image_analyzer.py
  tools/nemo_data_designer/multimodal/pipeline_comparator.py
  tools/nemo_data_designer/multimodal_evaluation.py
Due: none

fix: update display name YOLO26v2 -> YOLO26 and regenerate snapshots
  .secrets.baseline
  backend/services/container_discovery.py
  backend/tests/unit/api/schemas/__snapshots__/test_response_schema_snapshots.ambr
Due: check-integration-tests

test: regenerate schema snapshots
  backend/tests/unit/api/schemas/__snapshots__/test_response_schema_snapshots.ambr
Due: none

test: regenerate all schema snapshots
  .secrets.baseline
  backend/tests/unit/api/schemas/__snapshots__/test_response_schema_snapshots.ambr
Due: none

fix: exclude .ambr files from trailing-whitespace check and regenerate snapshots
  .pre-commit-config.yaml
  backend/tests/unit/api/schemas/__snapshots__/test_response_schema_snapshots.ambr
Due: none

fix(tests): resolve flaky and timeout issues in unit tests
  backend/tests/unit/middleware/test_correlation_id.py
  backend/tests/unit/services/test_managed_service.py
  backend/tests/unit/services/test_nemotron_analyzer.py
Due: check-test-timeouts

fix: remove duplicate HuggingFace function definitions in benchmark scripts
  frontend/src/types/generated/api.ts
  scripts/benchmark_yolo26_accuracy.py
  scripts/benchmark_yolo26_latency.py
Due: prettier-frontend, eslint, typescript-check

fix(tests): correct sleep comment format for timeout checker
  backend/tests/integration/test_service_degradation.py
Due: check-test-mocks, check-test-timeouts

style: apply prettier formatting to docs and AGENTS.md files
  backend/api/schemas/AGENTS.md
  backend/core/AGENTS.md
  backend/models/AGENTS.md
  backend/services/AGENTS.md
  docs/architecture/data-model/auxiliary-tables.md
  docs/architecture/dataflows/README.md
  docs/architecture/dataflows/error-recovery-flow.md
  docs/architecture/dataflows/image-to-event.md
  frontend/package-lock.json
  monitoring/AGENTS.md
  scripts/AI_STARTUP_README.md
  scripts/benchmark_yolo26_container.py
  scripts/benchmark_yolo26_gpu.py
Due: npm-install-check

fix: regenerate WebSocket types for RT-DETR to YOLO26 migration
  backend/api/schemas/AGENTS.md
  backend/api/schemas/health.py
  backend/api/schemas/settings_api.py
  backend/api/schemas/system.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/websocket.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-validation-drift

feat: implement backup/restore and webhook management systems (NEM-3566, NEM-3624)
  docs/openapi.json
  frontend/src/App.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

chore: regenerate TypeScript API types
  frontend/src/components/events/RiskFactorsBreakdown.test.tsx
  frontend/src/components/events/RiskFactorsBreakdown.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

feat(reports): implement Scheduled Reports frontend UI (NEM-3667)
  frontend/src/App.tsx
Due: prettier-frontend, eslint, typescript-check

feat: implement 5 discovery tasks (NEM-3662, NEM-3606, NEM-3639, NEM-3597, NEM-3603)
  docs/openapi.json
  frontend/src/components/events/RiskFactorsBreakdown.test.tsx
  frontend/src/components/events/RiskFactorsBreakdown.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

chore: update OpenAPI spec with webhook processing response
  docs/openapi.json
Due: none

chore: regenerate TypeScript API types after rebase
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix(ci): remove ai-services-tests job with incompatible imports
  .github/workflows/ci.yml
Due: none
