Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$

docs(ledger): C1/C3 completion row + the pre-commit remediation record
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

style(chaos-readme): ruff format the embedded python snippets
  backend/tests/chaos/README.md
Due: none

fix(ci): give the two real-tree parity tests their true timeout budgets
  scripts/test_check_ai_provider_parity.py
Due: none

docs(ledger): CI-Sanity red on #6639 root-caused — 5s timer-vs-contract, fixed with house explicit timeout markers
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(services): evaluation_queue kill battery — WP4.4 C01-C05, 12 of 13 TEST-GAP survivors pinned red-checked
  backend/tests/unit/services/test_evaluation_queue.py
Due: check-test-timeouts

docs(ledger): S2 batch 2 — evaluation_queue C01-C05 kill battery, 7/7 red-checks measured
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(services): queue_status kill battery — WP4.4 clusters 1/3/5/7/8/10-14/16/17/21/23/25, 25 red-checked kills
  backend/tests/unit/services/test_queue_status_service.py
Due: check-test-timeouts

docs(ledger): S2 batch 3 — queue_status 25/25 red-checks + gallq 17/18/19 re-adjudicated EQUIVALENT-in-function
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

fix(mutation): kill the frontend silent-red at the root; make backend convergence actually bank (74-mutant kill battery) (#6639)
  .github/workflows/mutation-testing.yml
  .gitignore
  backend/tests/unit/services/test_batch_aggregator.py
  backend/tests/unit/services/test_evaluation_queue.py
  backend/tests/unit/services/test_orphan_recovery.py
  backend/tests/unit/services/test_queue_status_service.py
  docs/goal-prompt-mutation-80-2026-09-22.txt
  docs/plans/2026-09-12-context-map-doc-updates.md
  frontend/package.json
  frontend/scripts/mutation-guard.mjs
  frontend/scripts/patch-stryker-vitest5-names.cjs
  frontend/scripts/test_mutation_guard.cjs
  frontend/stryker.config.mjs
  scripts/test_check_ai_provider_parity.py
Due: prettier-frontend, npm-install-check, check-test-timeouts

test(services): mqtt_client kill battery — WP4.4 T1-T8/T10-T12, 20 red-checked kills
  backend/tests/unit/services/test_mqtt_client.py
Due: check-test-timeouts

docs(ledger): S2 batch 4 — mqtt_client 20/20 red-checks + T9 double-guard correction
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(ledger): batch-4 wording correction — 19 killable red-checks, T9 probe green by design
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(services): export_service kill battery — WP4.4 T1-T6 + 15 clusters, 47 red-checked kills
  backend/tests/unit/services/test_export_service.py
Due: check-test-timeouts

docs(ledger): S2 batch 5 — export_service 53 red-checks + ws json/zip format branches pinned
  backend/tests/unit/services/test_export_service.py
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: check-test-timeouts

chore(sandbox): one-command arm64 dev loop + offline mock-data seeder
  scripts/sandbox-dev.sh
  scripts/sandbox-seed.py
Due: none

fix(platform): close three session-learned defects, each pinned by tests
  backend/api/middleware/setup_guard.py
  backend/api/routes/auth.py
  backend/api/schemas/alerts.py
  backend/api/schemas/websocket.py
  backend/tests/integration/test_alerts_api.py
  backend/tests/integration/test_api_protection.py
  backend/tests/unit/services/test_health_monitor_status_contract.py
  backend/tests/unit/test_setup_guard_middleware.py
  frontend/src/components/common/ServiceStatusAlert.tsx
  frontend/src/components/common/ServiceStatusIndicator.tsx
  frontend/src/hooks/useServiceStatus.test.ts
  frontend/src/hooks/useServiceStatus.ts
  frontend/src/types/generated/websocket.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

fix(ci): the coverage gate measures coverage — it does not adjudicate tests
  scripts/check-test-coverage-gate.py
  scripts/test_check_coverage_diff.py
Due: none

test(auth): route unit tests at the path-mirrored path the gate discovers
  backend/tests/unit/api/routes/test_auth.py
Due: check-test-timeouts

test(ci): clear the two reds from the suite run on d6fdfb32
  backend/tests/integration/test_alerts_api.py
  backend/tests/integration/test_api_protection.py
  backend/tests/integration/test_redis_pubsub.py
  backend/tests/unit/test_setup_guard_middleware.py
Due: check-test-mocks, check-test-timeouts

fix(platform): SetupGuard register/login race, restart_disabled status contract, null-channels rule blanking — plus sandbox dev tooling (#6641)
  backend/api/middleware/setup_guard.py
  backend/api/routes/auth.py
  backend/api/schemas/alerts.py
  backend/api/schemas/websocket.py
  backend/tests/integration/test_alerts_api.py
  backend/tests/integration/test_api_protection.py
  backend/tests/integration/test_redis_pubsub.py
  backend/tests/unit/api/routes/test_auth.py
  backend/tests/unit/services/test_health_monitor_status_contract.py
  backend/tests/unit/test_setup_guard_middleware.py
  frontend/src/components/common/ServiceStatusAlert.tsx
  frontend/src/components/common/ServiceStatusIndicator.tsx
  frontend/src/hooks/useServiceStatus.test.ts
  frontend/src/hooks/useServiceStatus.ts
  frontend/src/types/generated/websocket.ts
  scripts/check-test-coverage-gate.py
  scripts/sandbox-dev.sh
  scripts/sandbox-seed.py
  scripts/test_check_coverage_diff.py
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

test(services): mqtt_client kill battery — WP4.4 T1-T8/T10-T12 + ledger batch 4 (#6642)
  backend/tests/unit/services/test_export_service.py
  backend/tests/unit/services/test_mqtt_client.py
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: check-test-timeouts

test(mutation): batch-6 model_zoo kill battery — 20 tests, 78/78 TARGET red-checks
  backend/tests/unit/services/test_model_zoo.py
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: check-test-timeouts

test(mutation): batch-7 webhook_service kill battery — 15 cases, 152/158 feed red-checks
  backend/tests/unit/services/test_webhook_service.py
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: check-test-timeouts

test(mutation): model_zoo kill battery batch 6 + webhook batch 7 (in flight) (#6643)
  backend/tests/unit/services/test_model_zoo.py
  backend/tests/unit/services/test_webhook_service.py
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: check-test-timeouts

test(mutation): batch-8 prompts.py feed battery — 81 cases over 218 feed shapes
  backend/tests/unit/services/test_prompts_batch8.py
Due: check-test-timeouts

test(mutation): batch-9 container_discovery battery — 746 re-derived feed shapes
  backend/tests/unit/services/test_container_discovery_batch9.py
Due: check-test-timeouts

fix(gate): pin hook env to py3.14, scope ruff to the CI program, clear false-red hooks
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

test(mutation): batch-9 docstring — correct the honest scope after the dossier audit
  backend/tests/unit/services/test_container_discovery_batch9.py
Due: check-test-timeouts

fix(docs-config): restore root-file truth lost to the hook-drift revert; retire dead override generator
  README.md
  archive/README.md
  llms.txt
  setup.py
Due: none

docs(ledger): record the hook-drift over-revert trap and its recovery
  docs/plans/2026-09-22-gateway-followup-execution.md
Due: none

fix(tests): status-contract probe must read shipped code, not mutmut variant copies
  backend/tests/unit/services/test_health_monitor_status_contract.py
Due: check-test-timeouts

fix(ci): clear Dead Code + Collection Sanity reds from PR-A's model-management rework
  .github/ai-parity-baseline.json
  .secrets.baseline
  backend/tests/integration/api/routes/test_model_management_integration.py
  scripts/test_check_ai_provider_parity.py
Due: check-test-mocks, check-test-timeouts

test(prompts): batch-8b kill tests for 25 red-check survivors (see triage below)
  backend/tests/unit/services/test_prompts_batch8.py
Due: check-test-timeouts

test(vision_extractor): batch-10 kill battery — pure-function clusters C2-C7
  backend/tests/unit/services/test_vision_extractor_batch10.py
Due: check-test-timeouts

test(mutations): batch-10b — vision_extractor red-check residue kills
  backend/tests/unit/services/test_vision_extractor_batch10.py
Due: check-test-timeouts

test(mutation): batch-8 prompts + batch-9 container_discovery kill batteries (#6644)
  backend/tests/unit/services/test_container_discovery_batch9.py
  backend/tests/unit/services/test_health_monitor_status_contract.py
  backend/tests/unit/services/test_prompts_batch8.py
  backend/tests/unit/services/test_vision_extractor_batch10.py
Due: check-test-timeouts
