Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

generate-api-types:
  name: Generate TypeScript API Types
  entry: bash -c './scripts/generate-types.sh && git add frontend/src/types/generated/api.ts'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv lock file is up-to-date
  entry: bash -c 'cd "$0" && uv lock --check' .
  language: system
  pass_filenames: false

npm-install-check:
  name: Check npm dependencies are installed
  entry: bash -c 'cd frontend && npm ci --prefer-offline --no-audit --dry-run'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-validation-drift:
  name: Check validation drift (Pydantic/Zod)
  entry: python3 scripts/check-validation-drift.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

docs(ledger): row S0 pointer — the Gate at the combined head 656f5068
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

docs(mutmut): MILESTONE 13 — 69.22326989115884% completed=true (+0.48909636029176604 vs M12); campaign #11 cleanup_service CLOSES at 99.42112879884226% (687/691)
  .github/mutation-history.json
  backend/tests/unit/services/test_cleanup_service_batch35_l.py
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: check-test-timeouts

fix(ci): upgrade libexpat1 in the backend prod stage; document vendored urllib3
  .trivyignore
  backend/Dockerfile
  backend/tests/unit/scripts/test_backend_image_trivy_clean.py
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: check-test-timeouts

docs(ledger): row 66 addendum — this slice's PR is #6754
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

docs(ledger): row 66 addendum 2 — the Gate at head 0bb11fd0, observed
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

docs(ledger): row 67 — the rollback chain FIRED at f9778503, read job-by-job
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

docs(ledger): row 68 — the full red census at f9778503, five owner decisions
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

docs(mutmut): MILESTONE 14 — 69.76058771433135% completed=true (+0.5373178231725149 vs M13); campaign #12 vlm_specialists CLOSES at 98.6021505376344% (917/930) over TWO RUNS
  .github/mutation-history.json
  backend/tests/unit/services/test_vlm_specialists_batch36_m.py
  backend/tests/unit/services/test_vlm_specialists_batch36_n.py
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: check-test-timeouts

docs(ledger): row 69 — post-merge read at 85673029: class A closed, rollback chain fired again, new class F
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

fix(ci): rollback-summary declares needs: evaluate-rollback; add repo-wide guard
  .github/workflows/rollback.yml
  backend/tests/unit/scripts/test_workflow_needs_declared.py
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: check-test-timeouts

fix(ci): Linear sync installs via uv sync, not the runner system python
  .github/workflows/linear-github-sync.yml
  backend/tests/unit/scripts/test_workflow_uv_hygiene.py
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: check-test-timeouts

docs(mutmut): MILESTONE 15 — 70.20479846727724% completed=true (+0.4442107529458923 vs M14's 69.76058771433135%); campaign #13 vlm_client CLOSES at 97.27272727272728% (856/880) in ONE RUN
  .github/mutation-history.json
  backend/tests/unit/services/test_vlm_client_batch37_o.py
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: check-test-timeouts

docs(ledger): row 72 - class F verdict read by one read-only dispatch
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

docs(ledger): row 73 - rollup at aa1dfbf6: three of four reds are one dead key
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

docs(ledger): row 73 amendment - k6 verdict recorded, canonical §7 greps re-run
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

fix(ci): Linear close-step must prove the list before an all-clear (row 74)
  .github/workflows/linear-ci-status.yml
  backend/tests/unit/scripts/test_workflow_linear_verdicts.py
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: check-test-timeouts

docs(ledger): row 74 addendum - #6766 merge provenance
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

fix(mutmut): .trivyignore joins also_copy — 14th member of the path-read abort family
  pyproject.toml
Due: uv-lock-check

fix(mutmut): docker-compose.ci.yml joins also_copy — 15th path-read member
  pyproject.toml
Due: uv-lock-check

docs(mutmut): MILESTONE 16 — 70.66523480582806% completed=true (+0.4604363385508208 vs M15's 70.20479846727724%); campaign #14 prompt_service CLOSES at 99.13294797687861% (686/692)
  .github/mutation-history.json
  backend/tests/unit/services/test_prompt_service_batch38_p.py
Due: check-test-timeouts

docs(synthbench): h3 notes - subjects that cross the frame
  docs/synthbench/h3-prompt-notes.md
Due: none

docs(mutmut): MILESTONE 17 — 71.13106028744217% completed=true (+0.4658254816141038 vs M16's 70.66523480582806%); campaign #15 onvif_service CLOSES at 99.38271604938271% (644/648)
  .github/mutation-history.json
  backend/tests/unit/services/test_onvif_service_batch38_q.py
Due: check-test-timeouts

docs(plans): L rows for M16 (retroactive) + M17 — full measured disclosures
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(mutmut): MILESTONE 18 — 71.57648969647752% completed=true (+0.44542940903534145 vs M17's 71.13106028744217%); campaign #16 job_tracker CLOSES at 99.59785522788204% (743/746)
  .github/mutation-history.json
  backend/tests/unit/services/test_job_tracker_batch38_r.py
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: check-test-timeouts

docs(mutmut): MILESTONE 19 — 71.98248361463952% completed=true (+0.4059939181619967 vs M18's 71.57648969647752%); campaign #17 zone_anomaly_service CLOSES at 97.75280898876404% (522/534)
  .github/mutation-history.json
  backend/tests/unit/services/test_zone_anomaly_service_batch38_s.py
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: check-test-timeouts

test(mutmut): battery T for cost_tracker (campaign #18 pre-run, 43 tests)
  backend/tests/unit/services/test_cost_tracker_batch38_t.py
Due: check-test-timeouts

test(mutmut): battery T restores m43 kill (events-EXACTLY-1 polarity)
  backend/tests/unit/services/test_cost_tracker_batch38_t.py
Due: check-test-timeouts

test(mutmut): battery T run-2 birth kills (update m45 events=2, load m13 break-vs-continue)
  backend/tests/unit/services/test_cost_tracker_batch38_t.py
Due: check-test-timeouts

docs(mutmut): MILESTONE 20 — 72.37244639051195% completed=true (+0.38996277587243355 vs M19's 71.98248361463952%); campaign #18 cost_tracker CLOSES at 98.26689774696708% (567/577)
  .github/mutation-history.json
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(mutmut): battery U for notification (campaign #19 pre-run, 56 tests)
  backend/tests/unit/services/test_notification_batch38_u.py
Due: check-test-timeouts

docs(mutmut): MILESTONE 21 — 72.75890565873603% completed=true (+0.3864592682240726 vs M19..M20 chain's 72.37244639051195%); campaign #19 notification CLOSES at 99.02120717781403% (607/613) in ONE RUN
  .github/mutation-history.json
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(mutmut): battery V for gpu_config_service (campaign #20 pre-run, 35 tests)
  backend/tests/unit/services/test_gpu_config_service_batch38_v.py
Due: check-test-timeouts

docs(mutmut): MILESTONE 22 — 73.1384173829852% completed=true (+0.3795117242491699 vs M21's 72.75890565873603%); campaign #20 gpu_config_service CLOSES at 98.61830742659758% (571/579) in ONE RUN
  .github/mutation-history.json
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(mutmut): battery W for partition_manager (campaign #21 pre-run, 35 tests)
  backend/tests/unit/services/test_partition_manager_batch38_w.py
Due: check-test-timeouts

test(mutmut): battery W run-2 extension - kill the 5 coverage-growth births (campaign #21)
  backend/tests/unit/services/test_partition_manager_batch38_w.py
Due: check-test-timeouts

docs(mutmut): MILESTONE 23 — 73.5041126042632% completed=true (+0.3656952212780027 vs M22's 73.1384173829852%); campaign #21 partition_manager CLOSES at 96.25935162094763% (772/802) over TWO RUNS
  .github/mutation-history.json
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(mutmut): battery X for webhook_service (campaign #22 pre-run, 53 tests)
  backend/tests/unit/services/test_webhook_service_batch38_x.py
Due: check-test-timeouts

docs(ledger): row 75 - R8 residue sweep landed as e40d69f5, verification battery + 5 open follow-ups
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

docs(dataflows): retry-ladder accuracy - schema violations DO get the temperature-0 retry, budget exhaustion never feeds the breaker
  docs/architecture/dataflows/error-recovery-flow.md
  docs/architecture/observability/distributed-tracing.md
Due: none

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
