Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$

fix: frontend API type sync with backend pagination (NEM-1647)
  frontend/src/components/alerts/AlertsPage.test.tsx
  frontend/src/components/events/EventDetailModal.test.tsx
  frontend/src/components/events/EventTimeline.test.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/services/api.test.ts
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check

chore: auto-add pragma comments for detect-secrets false positives
  scripts/generate-types.sh
Due: none

fix: correct semaphore mock target in detector client test
  backend/tests/unit/services/test_detector_client.py
Due: check-test-timeouts

fix: regenerate API types and fix CircuitBreakersResponse alias
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check

fix: remove duplicate sr-only text causing E2E test failure
  frontend/src/components/dashboard/StatsRow.tsx
Due: prettier-frontend, eslint, typescript-check

fix: rename duplicate schema names in debug.py to prevent OpenAPI collisions
  backend/api/routes/debug.py
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check

fix: regenerate frontend API types after rebase
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check

feat(security): add SSRF protection and body size limit middleware
  backend/api/middleware/__init__.py
  backend/api/middleware/body_limit.py
  backend/main.py
  backend/services/notification.py
  backend/tests/unit/api/middleware/test_body_limit.py
  backend/tests/unit/services/test_notification.py
  backend/tests/unit/services/test_notification_ssrf.py
Due: check-test-timeouts

refactor(services): consolidate CircuitBreaker implementations (NEM-1601)
  backend/core/circuit_breaker.py
  backend/services/__init__.py
  backend/services/circuit_breaker.py
  backend/services/clip_client.py
  backend/services/enrichment_client.py
  backend/services/florence_client.py
  backend/services/managed_service.py
  backend/tests/unit/core/test_circuit_breaker.py
  backend/tests/unit/services/test_enrichment_client_circuit_breaker.py
  backend/tests/unit/services/test_managed_service.py
Due: check-test-timeouts

feat: add OpenTelemetry tracing, typography system, and Button component (NEM-1629, NEM-1779, NEM-1781)
  backend/alembic/versions/add_prompt_version_unique_constraint.py
  backend/core/config.py
  backend/core/telemetry.py
  backend/models/prompt_version.py
  backend/tests/unit/api/test_exception_handlers.py
  backend/tests/unit/core/test_telemetry.py
  backend/tests/unit/models/test_detection.py
  backend/tests/unit/models/test_prompt_version.py
  docker-compose.prod.yml
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/common/Button.test.tsx
  frontend/src/components/common/Button.tsx
  frontend/src/components/settings/SettingsPage.tsx
  frontend/src/styles/index.css
  frontend/tailwind.config.js
  pyproject.toml
  uv.lock
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix(frontend): transform prompt history API response to expected format
  frontend/src/services/promptManagementApi.test.ts
  frontend/src/services/promptManagementApi.ts
Due: prettier-frontend, eslint, typescript-check

feat(frontend): implement skeleton loaders for loading states (NEM-1780, NEM-1782)
  frontend/src/components/ai/AIAuditPage.tsx
  frontend/src/components/analytics/AnalyticsPage.test.tsx
  frontend/src/components/analytics/AnalyticsPage.tsx
  frontend/src/components/common/Skeleton.test.tsx
  frontend/src/components/common/Skeleton.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/common/skeletons/CameraCardSkeleton.test.tsx
  frontend/src/components/common/skeletons/CameraCardSkeleton.tsx
  frontend/src/components/common/skeletons/ChartSkeleton.test.tsx
  frontend/src/components/common/skeletons/ChartSkeleton.tsx
  frontend/src/components/common/skeletons/EntityCardSkeleton.test.tsx
  frontend/src/components/common/skeletons/EntityCardSkeleton.tsx
  frontend/src/components/common/skeletons/EventCardSkeleton.test.tsx
  frontend/src/components/common/skeletons/EventCardSkeleton.tsx
  frontend/src/components/common/skeletons/StatsCardSkeleton.test.tsx
  frontend/src/components/common/skeletons/StatsCardSkeleton.tsx
  frontend/src/components/common/skeletons/TableRowSkeleton.test.tsx
  frontend/src/components/common/skeletons/TableRowSkeleton.tsx
  frontend/src/components/common/skeletons/index.ts
  frontend/src/components/dashboard/DashboardPage.test.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/entities/EntitiesPage.test.tsx
  frontend/src/components/entities/EntitiesPage.tsx
  frontend/src/components/events/EventTimeline.test.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/components/logs/LogsTable.test.tsx
  frontend/src/components/logs/LogsTable.tsx
Due: prettier-frontend, eslint, typescript-check

fix(telemetry): restore telemetry module and tests after agent file loss
  backend/core/telemetry.py
  backend/tests/unit/core/test_telemetry.py
Due: check-test-timeouts

fix: resolve CI failures from merged PRs
  .secrets.baseline
  backend/alembic/versions/add_prompt_version_unique_constraint.py
  frontend/src/components/ai/PromptPlayground.tsx
  frontend/tests/e2e/pages/DashboardPage.ts
Due: prettier-frontend, eslint, typescript-check

fix: resolve Alembic migration multiple heads issue
  backend/alembic/versions/add_prompt_version_unique_constraint.py
Due: none

fix: correct Alembic migration chain to single head
  backend/alembic/versions/add_prompt_version_unique_constraint.py
Due: none

ci: move non-blocking checks to main-only with Linear issue creation
  .github/workflows/ci.yml
Due: none

fix(frontend): fix LogsDashboard loading state test
  frontend/src/components/logs/LogsDashboard.test.tsx
Due: prettier-frontend, eslint, typescript-check

ci: remove Node 22 from PR test matrix
  .github/workflows/ci.yml
Due: none

ci: optimize PR tests and merge dependabot updates (#2019)
  .github/workflows/ci.yml
  ai/clip/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  vsftpd/Dockerfile
Due: prettier-frontend

fix(ci): use env.NODE_VERSION instead of matrix.node-version
  .github/workflows/ci.yml
Due: none

chore: add profiling output to .gitignore
  .gitignore
Due: none

feat: enrichment pipeline tracking, async context propagation, and profiling infrastructure (NEM-1672)
  backend/api/routes/debug.py
  backend/tests/unit/services/test_nemotron_analyzer.py
Due: check-test-timeouts

fix(tests): use persistent HTTP client mocking for FlorenceClient tests
  .secrets.baseline
  backend/tests/unit/test_business_metrics.py
Due: check-test-timeouts

feat: Frontend Design Polish Epic (NEM-1734)
  frontend/src/components/dashboard/StatsRow.tsx
Due: prettier-frontend, eslint, typescript-check

fix(tests): resolve MagicMock and async mocking issues in unit/integration tests
  backend/tests/unit/test_business_metrics.py
Due: check-test-timeouts

test: improve frontend and backend test coverage (NEM-1696, NEM-1697, NEM-1707)
  .secrets.baseline
  backend/tests/unit/services/test_baseline.py
Due: check-test-timeouts

fix(tests): resolve DOM cleanup and E2E race condition issues
  frontend/src/components/settings/PromptManagementPanel.test.tsx
Due: prettier-frontend, eslint, typescript-check

feat: add AI pipeline resilience and observability improvements
  .secrets.baseline
  backend/tests/unit/services/test_nemotron_analyzer.py
Due: check-test-timeouts

fix(tests): update tests for persistent HTTP client and missing mock attributes
  backend/tests/unit/services/test_nemotron_analyzer.py
Due: check-test-timeouts

fix(tests): resolve PromptManagementPanel.test.tsx multiple element issues
  frontend/src/components/settings/PromptManagementPanel.test.tsx
Due: prettier-frontend, eslint, typescript-check

fix(tests): resolve race conditions and mock leaks in Vitest shard 4
  backend/tests/unit/services/test_baseline.py
  frontend/src/components/system/SystemMonitoringPage.test.tsx
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts
