Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$

docs(vss): the notification slice lands — ISS-001 and ISS-018 done, register closed, plan line 67 superseded
  docs/superpowers/plans/2026-09-25-vss-phase1-vlm-path.md
  docs/vss-integration/17-action-plan.md
Due: none

docs(vss): state-of-stack catches up to the notification slice
  docs/vss-integration/15-progress-since-the-design.md
  docs/vss-integration/README.md
Due: none

fix(security): absorb the 2026-10-06 npm advisory wave — take the two in-range fixes, register the three blocked majors, both lockfiles in lockstep.
  frontend/.npm-audit-exemptions.json
  frontend/bun.lock
  frontend/package-lock.json
Due: prettier-frontend, npm-install-check

test(ci): close the four gate gaps CI found at head bd9a484f
  backend/models/event_notify.py
  backend/tests/unit/api/routes/test_events.py
  backend/tests/unit/models/test_event_notify.py
  docs/openapi.json
Due: generate-openapi, generate-api-types, check-test-timeouts

fix(security): absorb the 2026-10-06 python advisory wave — take the fsspec fix, register python-jose and the blocked-major seroval pair.
  .github/workflows/dependency-audit.yml
  .trivyignore
  uv.lock
Due: uv-lock-check

fix(deps): take fsspec security fix and register the python-jose no-fix exception
  .github/workflows/dependency-audit.yml
  .trivyignore
  uv.lock
Due: uv-lock-check

fix(deps): carry the seroval + source-map-js fixes into bun.lock
  frontend/bun.lock
Due: none

fix(deps): floor seroval pair + postcss-selector-parser; update source-map-js + smol-toml (npm-audit 2026-10-05 wave)
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, npm-install-check

docs(register): make the closure note's alert_engine citation resolvable
  docs/vss-integration/17-action-plan.md
Due: none

docs(register): record the 2026-10-05 dependency-disclosure wave in the Intake log
  docs/vss-integration/17-action-plan.md
Due: none

docs(register): supersession — main's #6814 landed the same wave; this branch yields
  docs/vss-integration/17-action-plan.md
Due: none

docs(vss): record the 2026-10-06 owner rulings; slice authorized
  docs/vss-integration/17-action-plan.md
  docs/vss-integration/README.md
Due: none

test(mutants): battery AV row-1 for campaign #46 transcoding_service
  backend/tests/unit/services/test_transcoding_service_batch46_av.py
Due: check-test-timeouts

test(harness): skip whole-tree scan timing row under the mutant home
  backend/tests/unit/services/test_notify_reachability_guard.py
Due: check-test-timeouts

feat(synthbench): scenario-cluster intervals, paired tests, sampling line (ISS-043)
  backend/evaluation/cluster_stats.py
  backend/tests/unit/evaluation/test_cluster_stats.py
  backend/tests/unit/synthbench/test_replay.py
  backend/tests/unit/synthbench/test_score.py
  docs/vss-integration/17-action-plan.md
  docs/vss-integration/README.md
  synthbench/run/replay.py
  synthbench/score/metrics.py
  synthbench/score/report.py
  synthbench/score/scoring.py
Due: check-test-timeouts

docs(synthbench): ISS-016 dev/holdout split — design spec
  docs/superpowers/specs/2026-10-06-synthbench-iss016-dev-holdout-split-design.md
Due: none

docs(synthbench): ISS-016 spec corrections from plan-time verification
  docs/superpowers/specs/2026-10-06-synthbench-iss016-dev-holdout-split-design.md
Due: none

docs(synthbench): ISS-016 dev/holdout split — implementation plan
  docs/superpowers/plans/2026-10-06-synthbench-iss016-dev-holdout-split.md
Due: none

feat(synthbench): the hash-drawn split and its manifest document (ISS-016)
  backend/tests/unit/synthbench/test_export_vss.py
  synthbench/export/vss.py
Due: check-test-timeouts

fix(synthbench): the split manifest rejects an arm outside dev/holdout (ISS-016)
  backend/tests/unit/synthbench/test_export_vss.py
  synthbench/export/vss.py
Due: check-test-timeouts

test(mutants): battery AV row-2 - campaign #46 close adjudication (13 kills, 2 ledger EQUIV)
  backend/tests/unit/services/test_transcoding_service_batch46_av.py
Due: check-test-timeouts

feat(synthbench): export vss records the split manifest (ISS-016)
  backend/tests/unit/synthbench/test_export_vss.py
  synthbench/commands/export.py
Due: check-test-timeouts

feat(eval-store): a splits table pinned by manifest sha256 (ISS-016)
  backend/evaluation/eval_store.py
  backend/tests/unit/evaluation/test_eval_store.py
Due: check-test-timeouts

feat(synthbench): replay imports the split and records its digest (ISS-016)
  backend/tests/unit/synthbench/test_replay.py
  synthbench/run/replay.py
  synthbench/score/scoring.py
Due: check-test-timeouts

fix(suppressions): register the #46 mutant-home timing-row skipif - triple gate green
  .github/suppression-baseline.json
  .github/suppression-registry.yml
  .secrets.baseline
  scripts/test_suppression_census.py
Due: none

feat(synthbench): score carries one split truth from store and export (ISS-016)
  backend/tests/unit/synthbench/test_score.py
  synthbench/score/metrics.py
  synthbench/score/scoring.py
Due: check-test-timeouts

test(mutants): battery AW row-1 for campaign #47 scenario_classifier
  backend/tests/unit/services/test_scenario_classifier_batch47_aw.py
Due: check-test-timeouts

test(synthbench): honest replay-record fixture pins the third split source (ISS-016)
  backend/tests/unit/synthbench/test_score.py
Due: check-test-timeouts

feat(synthbench): per-arm headlines and comparisons (ISS-016)
  backend/tests/unit/synthbench/test_score.py
  synthbench/score/metrics.py
  synthbench/score/scoring.py
Due: check-test-timeouts

feat(synthbench): labelled dev/holdout reporting, dev-only gallery (ISS-016)
  backend/tests/unit/synthbench/test_score.py
  synthbench/score/report.py
Due: check-test-timeouts

docs(vss): ISS-016 done — the tierb-v0 split ships on vlm-pipeline
  docs/synthbench/command-reference.md
  docs/vss-integration/17-action-plan.md
  docs/vss-integration/README.md
Due: none

fix(security): take the now-in-range seroval fix — drop both seroval registrations, both lockfiles in lockstep.
  .trivyignore
  frontend/.npm-audit-exemptions.json
  frontend/bun.lock
  frontend/package-lock.json
Due: prettier-frontend, npm-install-check

fix(synthbench): empty export keeps the split slot, split refusals documented (ISS-016)
  backend/tests/unit/synthbench/test_export_vss.py
  docs/synthbench/command-reference.md
  docs/vss-integration/17-action-plan.md
  synthbench/commands/export.py
  synthbench/export/vss.py
Due: check-test-timeouts

test(mutants): battery AX row-1 for campaign #48 managed_service
  backend/tests/unit/services/test_managed_service_batch48_ax.py
Due: check-test-timeouts

test(mutants): battery AX header amendment — record the from_config m22 EQUIV
  backend/tests/unit/services/test_managed_service_batch48_ax.py
Due: check-test-timeouts

docs(synthbench): ISS-087 reporting half — implementation plan
  docs/superpowers/plans/2026-10-07-synthbench-iss087-conditions-line.md
Due: none

feat(synthbench): replay records server settings; conditions line names build (ISS-087)
  backend/tests/unit/synthbench/test_replay.py
  backend/tests/unit/synthbench/test_score.py
  docs/synthbench/command-reference.md
  synthbench/commands/replay.py
  synthbench/run/replay.py
  synthbench/score/report.py
  synthbench/score/scoring.py
Due: check-test-timeouts

fix(synthbench): score_version 4 for the conditions keys; pipe-safe server settings cell (ISS-087)
  .github/suppression-registry.yml
  backend/tests/unit/synthbench/test_score.py
  synthbench/score/report.py
  synthbench/score/scoring.py
Due: check-test-timeouts

feat(synthbench): score pairs report identical-item counts (ISS-087)
  backend/tests/unit/synthbench/test_score.py
  synthbench/score/metrics.py
  synthbench/score/scoring.py
Due: check-test-timeouts

feat(synthbench): report states identical counts; ISS-087 reporting half lands (ISS-087)
  backend/tests/unit/synthbench/test_score.py
  docs/synthbench/command-reference.md
  docs/vss-integration/17-action-plan.md
  docs/vss-integration/README.md
  synthbench/score/report.py
Due: check-test-timeouts
