Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: .venv/bin/python scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: .venv/bin/python scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

docs: add documentation restructure design plan
  docs/plans/2025-12-30-documentation-restructure-design.md
Due: none

docs: improve llms-full.txt with deployment lessons learned
  llms-full.txt
Due: none

docs: replace SQLite references with PostgreSQL throughout documentation
  .github/copilot-instructions.md
  .github/prompts/code-review.prompt.md
  docs/AGENTS.md
  docs/GITHUB_MODELS.md
  docs/ROADMAP.md
  docs/architecture/AGENTS.md
  docs/architecture/ai-pipeline.md
  docs/architecture/data-model.md
  docs/architecture/decisions.md
  docs/architecture/overview.md
Due: none

docs: replace SQLite references with PostgreSQL throughout documentation (#52)
  .github/copilot-instructions.md
  .github/prompts/code-review.prompt.md
  docs/AGENTS.md
  docs/GITHUB_MODELS.md
  docs/ROADMAP.md
  docs/architecture/AGENTS.md
  docs/architecture/ai-pipeline.md
  docs/architecture/data-model.md
  docs/architecture/decisions.md
  docs/architecture/overview.md
Due: none

docs: add AI containerization design
  .beads/issues.jsonl
  docs/plans/2025-12-30-ai-containerization-design.md
Due: none

fix: Redis pub/sub concurrency bug and WebSocket connection issues
  .beads/issues.jsonl
  backend/core/redis.py
  backend/services/system_broadcaster.py
  backend/tests/conftest.py
  backend/tests/unit/test_redis.py
  backend/tests/unit/test_system_broadcaster.py
  frontend/nginx.conf
  frontend/src/components/common/WebSocketStatus.test.tsx
  frontend/src/components/common/WebSocketStatus.tsx
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/hooks/useConnectionStatus.ts
  frontend/src/hooks/useEventStream.test.ts
  frontend/src/hooks/useServiceStatus.test.ts
  frontend/src/hooks/useSystemStatus.test.ts
  frontend/src/hooks/useWebSocket.test.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/hooks/useWebSocketStatus.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: containerize AI services (Nemotron LLM + RT-DETRv2)
  ai/nemotron/Dockerfile
  ai/rtdetr/Dockerfile
  docker-compose.prod.yml
Due: none

test: add coverage tests for WebSocket hooks
  frontend/src/hooks/useConnectionStatus.test.ts
  frontend/src/hooks/useWebSocketStatus.test.ts
Due: prettier-frontend, eslint, typescript-check

fix: make ExportPanel camera filter test wait for DOM update
  frontend/src/components/events/ExportPanel.test.tsx
Due: prettier-frontend, eslint, typescript-check

chore: exclude polling fallback from coverage with v8 ignore
  frontend/src/hooks/useConnectionStatus.ts
Due: prettier-frontend, eslint, typescript-check

fix: resolve AI container build and runtime issues
  ai/nemotron/Dockerfile
  ai/rtdetr/Dockerfile
  docker-compose.prod.yml
Due: none

security: add non-root USER to RT-DETRv2 Dockerfile
  .beads/issues.jsonl
  ai/rtdetr/Dockerfile
Due: none

fix: add slow test threshold to performance audit
  scripts/audit-test-durations.py
Due: none

test: move integration-marked tests from unit/ to integration/
  .github/workflows/ci.yml
  backend/tests/integration/test_admin_api.py
  backend/tests/integration/test_alert_dedup.py
  backend/tests/integration/test_alert_engine.py
  backend/tests/integration/test_alert_models.py
  backend/tests/integration/test_audit.py
  backend/tests/integration/test_baseline.py
  backend/tests/integration/test_cleanup_service.py
  backend/tests/integration/test_database.py
  backend/tests/integration/test_models.py
  backend/tests/integration/test_nemotron_analyzer.py
  backend/tests/integration/test_system_broadcaster.py
Due: check-test-mocks, check-test-timeouts

fix: resolve pytest-xdist worker crashes and test fixture issues
  backend/tests/integration/test_alert_dedup.py
  backend/tests/integration/test_audit.py
  backend/tests/integration/test_baseline.py
  backend/tests/integration/test_cleanup_service.py
  backend/tests/integration/test_nemotron_analyzer.py
  backend/tests/integration/test_system_broadcaster.py
  backend/tests/unit/test_alert_dedup.py
  backend/tests/unit/test_audit.py
  backend/tests/unit/test_baseline.py
  backend/tests/unit/test_cleanup_service.py
  backend/tests/unit/test_nemotron_analyzer.py
  backend/tests/unit/test_system_broadcaster.py
Due: check-test-mocks, check-test-timeouts

fix: resolve CI test isolation issues
  backend/models/baseline.py
  backend/models/camera.py
  backend/tests/integration/test_detections_api.py
  backend/tests/unit/test_system_broadcaster.py
Due: check-test-mocks, check-test-timeouts

fix: resolve pytest-xdist worker crashes and test fixture issues (#53)
  .github/workflows/ci.yml
  backend/models/baseline.py
  backend/models/camera.py
  backend/tests/integration/test_admin_api.py
  backend/tests/integration/test_alert_dedup.py
  backend/tests/integration/test_alert_engine.py
  backend/tests/integration/test_alert_models.py
  backend/tests/integration/test_audit.py
  backend/tests/integration/test_baseline.py
  backend/tests/integration/test_cleanup_service.py
  backend/tests/integration/test_database.py
  backend/tests/integration/test_detections_api.py
  backend/tests/integration/test_models.py
  backend/tests/integration/test_nemotron_analyzer.py
  backend/tests/integration/test_system_broadcaster.py
  backend/tests/unit/test_alert_dedup.py
  backend/tests/unit/test_audit.py
  backend/tests/unit/test_baseline.py
  backend/tests/unit/test_cleanup_service.py
  backend/tests/unit/test_nemotron_analyzer.py
  backend/tests/unit/test_system_broadcaster.py
Due: check-test-mocks, check-test-timeouts

fix: update admin security test path after file move
  .github/workflows/ci.yml
Due: none

feat: migrate to ESLint 9 flat config and fix linting issues
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/Lightbox.tsx
  frontend/src/components/common/WebSocketStatus.test.tsx
  frontend/src/components/common/WebSocketStatus.tsx
  frontend/src/components/detection/DetectionImage.tsx
  frontend/src/components/detection/DetectionThumbnail.tsx
  frontend/src/components/events/EventCard.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/logs/LogDetailModal.tsx
  frontend/src/components/video/VideoPlayer.tsx
  frontend/src/hooks/useWebSocket.test.ts
  frontend/src/services/logger.ts
  frontend/src/test/setup.ts
Due: prettier-frontend, eslint, typescript-check

feat: migrate to ESLint 9 flat config and fix linting issues (#58)
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/Lightbox.tsx
  frontend/src/components/common/WebSocketStatus.test.tsx
  frontend/src/components/common/WebSocketStatus.tsx
  frontend/src/components/detection/DetectionImage.tsx
  frontend/src/components/detection/DetectionThumbnail.tsx
  frontend/src/components/events/EventCard.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/logs/LogDetailModal.tsx
  frontend/src/components/video/VideoPlayer.tsx
  frontend/src/hooks/useWebSocket.test.ts
  frontend/src/services/logger.ts
  frontend/src/test/setup.ts
Due: prettier-frontend, eslint, typescript-check

fix: Correct test mock method and regenerate API types
  backend/tests/unit/test_telemetry_api.py
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

refactor: Move integration tests to integration directory
  backend/tests/integration/test_api_types_contract.py
  backend/tests/integration/test_docker_compose_prod.py
Due: check-test-mocks, check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
