Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

generate-api-types:
  name: Generate TypeScript API Types
  entry: bash -c './scripts/generate-types.sh && git add frontend/src/types/generated/api.ts'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv lock file is up-to-date
  entry: bash -c 'cd "$0" && uv lock --check' .
  language: system
  pass_filenames: false

npm-install-check:
  name: Check npm dependencies are installed
  entry: bash -c 'cd frontend && npm ci --prefer-offline --no-audit --dry-run'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-validation-drift:
  name: Check validation drift (Pydantic/Zod)
  entry: python3 scripts/check-validation-drift.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

docs(plans): vlm_assess prompt review and gated experiment plan
  docs/plans/2026-10-04-vlm-assess-prompt-review-and-experiment-plan.md
Due: none

security(trivy): fix the live pcre2 CVE in both images; delete 16 proven ignores
  .trivyignore
  backend/Dockerfile
  backend/tests/unit/scripts/test_backend_image_trivy_clean.py
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  frontend/Dockerfile
Due: check-test-timeouts

test(mutmut): battery AM for campaign #37 retry_handler (30 tests, ledger 3)
  backend/tests/unit/services/test_retry_handler_batch37_am.py
Due: check-test-timeouts

docs(research): bank the 2026-10-04 vlm_assess prompt research and probes 1-4
  docs/research/2026-10-04-vlm-prompt/README.md
  docs/research/2026-10-04-vlm-prompt/calibration-forecast-report.md
  docs/research/2026-10-04-vlm-prompt/probe3-arm-ladder.md
  docs/research/2026-10-04-vlm-prompt/probe3.py
  docs/research/2026-10-04-vlm-prompt/probe4.py
  docs/research/2026-10-04-vlm-prompt/probe4_redo.py
  docs/research/2026-10-04-vlm-prompt/qwen-gemma-portability-report.md
  docs/research/2026-10-04-vlm-prompt/results3.jsonl
  docs/research/2026-10-04-vlm-prompt/results4-final.jsonl
  docs/vss-integration/22-prompt-research-and-probes-2026-10-04.md
  docs/vss-integration/README.md
Due: none

docs(vss): doc 22 section 2 — EV-over-logprobs verdict at full n (non-win)
  docs/vss-integration/22-prompt-research-and-probes-2026-10-04.md
Due: none

test(mutmut): battery AN for campaign #38 job_status (25 tests, ledger 4)
  backend/tests/unit/services/test_job_status_batch38_an.py
Due: check-test-timeouts

security(trivy): make the two Dockerfile misconfig ignores honest
  .trivyignore
  backend/Dockerfile
  backend/tests/unit/scripts/test_backend_image_trivy_clean.py
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  setup_lib/deploy_phases.py
Due: check-test-timeouts

test(mutmut): battery AO for campaign #39 debug.py (31 tests, ledger 4)
  backend/tests/unit/api/routes/test_debug_batch39_ao.py
Due: check-test-timeouts

test(mutmut): battery AP for campaign #40 reid_service (53 tests, ledger 24)
  backend/tests/unit/services/test_reid_service_batch40_ap.py
Due: check-test-timeouts

test(mutmut): battery AQ for campaign #41 job_history_service (26 tests, ledger 2)
  backend/tests/unit/services/test_job_history_service_batch41_aq.py
Due: check-test-timeouts

test(mutmut): battery AR for campaign #42 orchestrator/registry (35 tests, ledger 0)
  backend/tests/unit/services/orchestrator/test_registry_batch42_ar.py
Due: check-test-timeouts

test(mutmut): battery AS for campaign #43 api/routes/gpu_config (48 tests)
  backend/tests/unit/api/routes/test_gpu_config_batch43_as.py
Due: check-test-timeouts

docs(vss): doc 23 banks the stages 1-4 prompt programme (2026-10-04/05)
  docs/research/2026-10-04-vlm-prompt/README.md
  docs/vss-integration/22-prompt-research-and-probes-2026-10-04.md
  docs/vss-integration/23-prompt-programme-stages-1-4-2026-10-05.md
  docs/vss-integration/README.md
Due: none

test(mutmut): extend battery AS with BIRTH rows for campaign #43 (4 new tests, 52 total)
  backend/tests/unit/api/routes/test_gpu_config_batch43_as.py
Due: check-test-timeouts

feat(vlm): ship the OD-29 operating point — arm B rubric text + numeric alert floor 60
  backend/api/routes/notification_preferences.py
  backend/models/notification_preferences.py
  backend/services/notification_filter.py
  backend/services/vlm_client.py
  backend/tests/unit/models/test_notification_preferences.py
  backend/tests/unit/services/test_notification_filter.py
  backend/tests/unit/services/test_vlm_client_batch37_o.py
  docs/architecture/dataflows/llm-analysis-flow.md
  docs/vss-integration/16-errata-2026-10-03.md
  docs/vss-integration/22-prompt-research-and-probes-2026-10-04.md
  docs/vss-integration/23-prompt-programme-stages-1-4-2026-10-05.md
  docs/vss-integration/AGENTS.md
  docs/vss-integration/README.md
  frontend/src/components/settings/NotificationSettings.tsx
  frontend/src/types/notificationPreferences.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-test-timeouts, check-integration-tests

docs(vss): register takes ISS-099..102, the OD-29 ruling and its Intake entries
  docs/vss-integration/17-action-plan.md
Due: none

style(test): ruff format the de-pinned budget asserts in batch37_o
  backend/tests/unit/services/test_vlm_client_batch37_o.py
Due: check-test-timeouts

test(mutmut): battery AT for campaign #44 face_recognition_service
  backend/tests/unit/services/test_face_recognition_service_batch44_at.py
Due: check-test-timeouts

test(mutmut): battery AT +1 disposition-extension row (add_face_embedding default)
  backend/tests/unit/services/test_face_recognition_service_batch44_at.py
Due: check-test-timeouts

chore(deps): combined python + actions upgrades 2026-10-05 (supersedes #6798 #6799 #6800 #6801 #6802)
  .github/workflows/deploy.yml
  .github/workflows/release-drafter.yml
  uv.lock
Due: uv-lock-check

chore(deps): combined frontend upgrades 2026-10-05 (supersedes #6795 #6796 #6797)
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, npm-install-check

security(trivy): fix the perl-base CVE cluster in the backend prod image
  backend/Dockerfile
  backend/tests/unit/scripts/test_backend_image_trivy_clean.py
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: check-test-timeouts

docs(vss): register takes ISS-103 + OD-30 — OD-29's floor 60 never reaches pre-merge rows
  docs/vss-integration/17-action-plan.md
Due: none

docs(vss): README catches up to main at eea4cfd5 — the merge happened and §2 still said it hadn't
  docs/vss-integration/README.md
Due: none

docs(ledger): DRAFT row for the stages 1-4 prompt programme and the OD-29 ship — owner merges
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

docs(vss): repoint the two citations of the deleted stage-1 handoff to durable sources
  docs/plans/2026-10-04-vlm-assess-prompt-review-and-experiment-plan.md
  docs/vss-integration/17-action-plan.md
Due: none

docs(dependabot): wave-5 closeout — 8 PRs combined into #6805/#6806, queue to zero (2026-10-05)
  docs/plans/2026-09-21-dependabot-triage.md
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

docs(vss): OD-30 ruled (c) — no affected install exists; the ISS-018 block is released
  docs/vss-integration/17-action-plan.md
  docs/vss-integration/README.md
Due: none

docs(vss): OD-1 follow-up ruled — the smallest slice; ISS-001 unblocked, ISS-018 rides inside
  docs/vss-integration/17-action-plan.md
Due: none

docs(vss): decision 4 ruled "B then A" — S3 computed under both floors; clips funded as next GPU direction
  docs/vss-integration/17-action-plan.md
  docs/vss-integration/README.md
Due: none

test(mutmut): battery AU for campaign #45 target summary_generator.py
  backend/tests/unit/services/test_summary_generator_batch45_au.py
Due: check-test-timeouts

test(mutmut): battery AU row-2 - FORWARDING pins on the _generate_summary paths
  backend/tests/unit/services/test_summary_generator_batch45_au.py
Due: check-test-timeouts

docs(vss): notification slice planned by evidence — mechanism note, OD-31/OD-32 raised, ISS-103 pinned and done
  backend/tests/integration/test_stored_zero_floor.py
  docs/vss-integration/17-action-plan.md
  docs/vss-integration/README.md
Due: check-test-mocks, check-test-timeouts

docs(vss): OD-31 and OD-32 ruled in-session — narrow guard, keep the raw-80 ack; the slice is pure agent-now
  docs/vss-integration/17-action-plan.md
  docs/vss-integration/README.md
Due: none

feat(notify): persist the notify decision and expose it on the events REST surface
  backend/api/routes/events.py
  backend/api/schemas/events.py
  backend/models/__init__.py
  backend/models/event.py
  backend/models/event_notify.py
  backend/services/vlm_analyzer.py
  backend/tests/unit/api/schemas/__snapshots__/test_response_schema_snapshots.ambr
Due: generate-openapi, generate-api-types, check-validation-drift, check-integration-tests

fix(severity): the notification filter and summary parser delegate to SeverityService (ISS-018)
  backend/services/event_broadcaster.py
  backend/services/notification_filter.py
  backend/services/summary_parser.py
  backend/tests/unit/services/test_notification_filter.py
Due: check-test-timeouts, check-integration-tests

feat(ui): the notify decision renders on every event surface (ISS-001)
  frontend/src/components/alerts/AlertsPage.tsx
  frontend/src/components/common/NotifyBadge.test.tsx
  frontend/src/components/common/NotifyBadge.tsx
  frontend/src/components/dashboard/ActivityFeed.test.tsx
  frontend/src/components/dashboard/ActivityFeed.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/events/EventCard.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/EventListView.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/components/events/MobileEventCard.tsx
  frontend/src/components/settings/NotificationSettings.test.tsx
  frontend/src/components/settings/NotificationSettings.tsx
  frontend/src/types/generated/api.ts
  frontend/src/types/websocket.ts
Due: prettier-frontend, eslint, typescript-check

docs(events): correct the list-path absence comment - revalidation strips it, not filter_fields
  backend/api/routes/events.py
Due: generate-openapi, generate-api-types, check-integration-tests

test(notify): ISS-018 band census and the OD-31 reachability guard
  backend/tests/unit/services/test_notify_reachability_guard.py
  backend/tests/unit/test_severity_band_agreement.py
Due: check-test-timeouts

test(notify): ISS-001's closure test on the live test Postgres (OD-31 arm)
  backend/tests/integration/test_notify_decision_wiring.py
Due: check-test-mocks, check-test-timeouts

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
