Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

generate-api-types:
  name: Generate TypeScript API Types
  entry: bash -c './scripts/generate-types.sh && git add frontend/src/types/generated/api.ts'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv lock file is up-to-date
  entry: bash -c 'cd "$0" && uv lock --check' .
  language: system
  pass_filenames: false

npm-install-check:
  name: Check npm dependencies are installed
  entry: bash -c 'cd frontend && npm ci --prefer-offline --no-audit --dry-run'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-validation-drift:
  name: Check validation drift (Pydantic/Zod)
  entry: python3 scripts/check-validation-drift.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

feat(ops): O1.8 — dismissal registry for the Python audit leg (bite item)
  .github/workflows/ci.yml
  .github/workflows/dependency-audit.yml
  .pip-audit-exemptions.json
  scripts/check-pip-audit-exemptions.py
  scripts/test_check_pip_audit_exemptions.py
Due: none

docs: re-aim F2.2 for R47's main.py lines and emitter wiring
  docs/reference/feature-inventory.md
  docs/uplevel/r2-sheet.md
Due: none

fix(docs): re-point 139 config.py line cites my B3.3 buckets drifted
  docs/architecture/ai-orchestration/README.md
  docs/architecture/ai-orchestration/fallback-strategies.md
  docs/architecture/ai-pipeline-current-state.md
  docs/architecture/api-reference/system-api.md
  docs/architecture/background-services/gpu-monitor.md
  docs/architecture/background-services/retention-cleanup.md
  docs/architecture/data-model.md
  docs/architecture/dataflows/error-recovery-flow.md
  docs/architecture/dataflows/event-lifecycle.md
  docs/architecture/dataflows/image-to-event.md
  docs/architecture/dataflows/llm-analysis-flow.md
  docs/architecture/decisions.md
  docs/architecture/detection-pipeline/README.md
  docs/architecture/detection-pipeline/analysis-queue.md
  docs/architecture/middleware/README.md
  docs/architecture/middleware/cors-configuration.md
  docs/architecture/middleware/rate-limiting.md
  docs/architecture/middleware/request-logging.md
  docs/architecture/observability/README.md
  docs/architecture/observability/distributed-tracing.md
  docs/architecture/observability/grafana-dashboards.md
  docs/architecture/observability/structured-logging.md
  docs/architecture/resilience.md
  docs/architecture/security/authentication-roadmap.md
  docs/architecture/security/data-protection.md
  docs/architecture/security/network-security.md
  docs/architecture/system-overview/configuration.md
  docs/architecture/system-overview/design-decisions.md
  docs/developer/api/ai-pipeline.md
  docs/developer/llm-inference-optimization.md
  docs/developer/pipeline-overview.md
  docs/developer/risk-analysis.md
  docs/guides/profiling.md
  docs/reference/backend-entry-points.md
  docs/reference/nvidia-technology-inventory.md
Due: none

feat(ops): the fake AI image and its compose overlay (O2.1)
  backend/tests/security/test_docker_compose_security.py
  backend/tests/unit/scripts/test_fake_ai_overlay.py
  docker-compose.fake-ai.yml
  docker/AGENTS.md
  docker/fake-ai/Dockerfile
Due: check-test-timeouts

fix(backend): O2.1 self-review: validate, fault, multipart, docs
  AGENTS.md
  backend/ai_contract/fake/AGENTS.md
  backend/ai_contract/fake/app.py
  backend/ai_contract/fake/scenario_fixtures/scenarios.json
  backend/tests/contracts/ai_providers/test_client_conformance.py
  backend/tests/contracts/ai_providers/test_fake_ai_stack.py
  docker-compose.fake-ai.yml
  docker/fake-ai/Dockerfile
  docs/operator/deployment/README.md
Due: check-test-timeouts

fix(ops): the fake image takes its backend base from the overlay
  docker/fake-ai/Dockerfile
Due: none

feat(backend): the fake answers the backend's engine wire (O2.1)
  backend/ai_contract/fake/AGENTS.md
  backend/ai_contract/fake/app.py
  backend/ai_contract/fake/remote.py
  backend/ai_contract/fake/scenario_fixtures/car-in-driveway.jpg
  backend/ai_contract/fake/scenario_fixtures/cat-on-porch.jpg
  backend/ai_contract/fake/scenario_fixtures/person-at-door.jpg
  backend/ai_contract/fake/scenario_fixtures/scenarios.json
  backend/ai_contract/fake/scenario_fixtures/slow-reply.jpg
  backend/ai_contract/fake/scenarios.py
  backend/tests/contracts/ai_providers/AGENTS.md
  backend/tests/contracts/ai_providers/conftest.py
  backend/tests/contracts/ai_providers/test_client_conformance.py
  backend/tests/contracts/ai_providers/test_fake_ai_stack.py
Due: check-test-timeouts

fix(ci): O2.1 ratchet ids +1 for the compose-list entry
  .github/suppression-registry.yml
Due: none

docs(reference): re-aim F2.2 cites for ruling 44's line moves
  docs/reference/feature-inventory.md
Due: none

uplevel(B1.2): row to done — real tier posted on #6924 (6093900717)
  docs/uplevel/README.md
Due: none

docs(uplevel): R62 adds OD-36 to OD-38 to the R2 sheet
  docs/uplevel/r2-sheet.md
Due: none

docs(uplevel): R62 self-review fixes to OD-36..OD-38
  docs/uplevel/r2-sheet.md
Due: none

test(frontend): hide F2.2 fixture specifiers from R8-S5's import scan
  frontend/src/__tests__/feature-inventory-lib.test.ts
Due: prettier-frontend, eslint, typescript-check

test(frontend): reword q() comment so it quotes no specifier itself
  frontend/src/__tests__/feature-inventory-lib.test.ts
Due: prettier-frontend, eslint, typescript-check

test(F1.2): pay the vite cold-boot compile once, in global setup (ruling 58)
  frontend/tests/e2e/global-setup.ts
Due: prettier-frontend, eslint, typescript-check

fix(auth): invalid socket creds cast no vote; remedy reachable (#6950)
  .env.example
  .secrets.baseline
  backend/api/middleware/auth.py
  backend/api/middleware/websocket_auth.py
  backend/api/routes/auth.py
  backend/core/config.py
  backend/main.py
  backend/services/session_service.py
  backend/tests/integration/test_websocket_auth_flow.py
  backend/tests/unit/api/middleware/test_auth.py
  backend/tests/unit/api/routes/test_auth.py
  backend/tests/unit/core/test_session_cookie_secure_compose.py
  backend/tests/unit/test_main.py
  backend/tests/unit/test_websocket_auth.py
  docker-compose.prod.yml
  docs/_includes/auth-model.md
  docs/operator/admin/security.md
  docs/reference/config/env-reference.md
Due: generate-openapi, generate-api-types, check-test-mocks, check-test-timeouts, check-integration-tests

docs(auth-model): per-host env links; snippet stays link-free (#6950)
  docs/_includes/auth-model.md
  docs/architecture/overview.md
  docs/architecture/security/README.md
Due: none

fix(auth): fold #6950 review notes: bind-true TLS check + live pins
  backend/api/middleware/auth.py
  backend/api/middleware/websocket_auth.py
  backend/main.py
  backend/tests/unit/api/middleware/test_auth.py
  backend/tests/unit/core/test_session_cookie_secure_compose.py
  backend/tests/unit/test_main.py
  backend/tests/unit/test_websocket_auth.py
  docs/reference/config/env-reference.md
Due: generate-openapi, generate-api-types, check-test-timeouts

feat(o2.3): name-level reachability walker (01 §M1, TDD)
  .github/workflows/ci.yml
  scripts/reachability.py
  scripts/reachability/entry_points.toml
  scripts/reachability/keep.toml
  scripts/test_reachability.py
Due: none

fix(o2.3): resolve+existence-check CLI config paths (semgrep path-traversal)
  scripts/reachability.py
Due: none

refactor(o2.3): mypy-clean walk loop typing
  scripts/reachability.py
Due: none

docs(uplevel): O2.3 done; its Done-when measured at head
  docs/uplevel/README.md
Due: none

fix(o2.3): one whole-tree call scan; timeout-mark walk consumers
  scripts/reachability.py
  scripts/test_reachability.py
Due: none

docs(o2.3): tidy the call-scan comment (job id in-source)
  scripts/reachability.py
Due: none

fix(o2.3): keep ships a kept module's own import edges
  scripts/reachability.py
  scripts/test_reachability.py
Due: none

test(redis): zero connect() backoff in get_redis_optional tests
  backend/tests/unit/core/test_redis.py
Due: check-test-timeouts

test(redis): autospec the backoff patch (suppression census)
  backend/tests/unit/core/test_redis.py
Due: check-test-timeouts

uplevel: plan text for rulings 28-64; liveness rules (UR-38)
  backend/tests/unit/scripts/test_uplevel_launch.py
  docs/uplevel/10-backend.md
  docs/uplevel/20-frontend.md
  docs/uplevel/30-ops.md
  docs/uplevel/40-docs.md
  docs/uplevel/50-coordination.md
  docs/uplevel/README.md
  docs/uplevel/operator.md
  docs/uplevel/templates/r2-sheet.md
  scripts/uplevel/sandboxes.toml
Due: check-test-timeouts

test(F1.1): re-measure known-missing call-site pointers at main
  frontend/src/__tests__/api-endpoint-contract-known-missing.json
Due: prettier-frontend

fix(ops): R61 — match pip-audit aliases in the registry's direction too
  scripts/check-pip-audit-exemptions.py
  scripts/test_check_pip_audit_exemptions.py
Due: none

fix(F1.1): re-measure detector mount cite 1618->1625 at main dcc57086b
  frontend/src/__tests__/api-endpoint-contract-known-missing.json
Due: prettier-frontend

fix(o2.3): entry for check-pip-audit-exemptions.py (main drift)
  scripts/reachability/entry_points.toml
Due: none

chore(F1.1): re-measure stale cites in contract-lib comments
  frontend/scripts/api-contract-lib.mjs
  frontend/src/__tests__/api-contract-lib.test.ts
Due: prettier-frontend, eslint, typescript-check

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
