Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

fix: batch 9 PR feedback improvements
  backend/api/AGENTS.md
  backend/api/dependencies.py
  backend/api/routes/cameras.py
  backend/api/routes/detections.py
  backend/api/routes/events.py
  backend/core/websocket_circuit_breaker.py
  backend/tests/unit/api/routes/test_prompt_management.py
  backend/tests/unit/core/test_websocket_circuit_breaker.py
  frontend/src/components/system/PipelineMetricsPanel.test.tsx
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: batch 4 PR feedback improvements
  .github/workflows/ci.yml
  backend/Dockerfile
  backend/api/routes/detections.py
  docs/DOCKER_DEPLOYMENT.md
  docs/architecture/ai-pipeline.md
  docs/architecture/data-model.md
  docs/architecture/overview.md
  docs/architecture/real-time.md
  docs/developer/batching-logic.md
  docs/user-guide/logs-dashboard.md
  docs/user-guide/search.md
  docs/user-guide/settings.md
  docs/user-guide/understanding-alerts.md
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: correct ServiceStatus type export in generated types
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check

fix: resolve CodeQL non-iterable in for loop alert
  backend/api/routes/services.py
Due: none

fix: use savepoints in test cleanup to handle missing tables
  backend/tests/integration/conftest.py
Due: check-test-mocks, check-test-timeouts

fix: regenerate API types and fix ServiceStatus export
  frontend/src/hooks/webSocketManager.test.ts
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check

fix: update test fixture to meet OrchestratorSettings constraints
  backend/tests/integration/test_orchestrator_integration.py
Due: check-test-mocks, check-test-timeouts

fix: remove await from synchronous orchestrator methods
  backend/api/routes/services.py
Due: none

test: fix unit tests to use MagicMock for sync methods
  backend/tests/unit/api/routes/test_services.py
Due: check-test-timeouts

fix: update detector client tests for retry behavior
  backend/tests/integration/test_detector_client_integration.py
  backend/tests/integration/test_pipeline_e2e.py
Due: check-test-mocks, check-test-timeouts

fix(test): add Redis mocking to test_prompt_management.py for CI
  backend/tests/unit/api/routes/test_prompt_management.py
Due: check-test-timeouts

test: mock Docker operations in API integration tests to avoid timeout
  backend/tests/integration/test_orchestrator_integration.py
Due: check-test-mocks, check-test-timeouts

fix(test): add Redis mocking to test_prompt_management.py for CI (#1584)
  backend/tests/unit/api/routes/test_prompt_management.py
Due: check-test-timeouts

chore: regenerate API types to fix contract check
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: correct ServiceStatus type export in generated types
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check

ci: move non-required checks to run only on merge to main
  .github/workflows/accessibility-tests.yml
  .github/workflows/benchmarks.yml
  .github/workflows/bundle-size.yml
  .github/workflows/codeql.yml
  .github/workflows/gpu-tests.yml
  .github/workflows/lighthouse.yml
  .github/workflows/load-tests.yml
  .github/workflows/visual-tests.yml
  .github/workflows/zap-security.yml
Due: none

ci: make preview-deploy manual-only to save runner capacity
  .github/workflows/preview-deploy.yml
Due: none

feat(ci): add CI gate job and improve non-blocking workflow handling
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
Due: none

feat(ci): add CI gate job and improve non-blocking workflow handling (#1585)
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
Due: none

fix: resolve CI failures for Semgrep and TypeDoc
  .github/workflows/ci-analytics.yml
  .secrets.baseline
  backend/tests/unit/services/test_nemotron_analyzer.py
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, check-test-timeouts

fix: pin typedoc versions to resolve CI failure
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend

ci: move non-required checks to run only on merge to main
  .github/workflows/benchmarks.yml
Due: none

fix: resolve type conflicts between orchestrator and health API types
  frontend/src/components/system/ServicesPanel.tsx
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check

fix: regenerate API types to match backend schema
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: correct ServiceStatus type exports in generated types
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check

fix: resolve merge conflicts and test failures for PR #1564
  backend/api/routes/cameras.py
  backend/tests/integration/conftest.py
  backend/tests/unit/core/test_rate_limit.py
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix(test): remove empty PromptPlayground.test.tsx stub causing CI failure
  frontend/src/components/ai/PromptPlayground.test.tsx
Due: prettier-frontend, eslint, typescript-check

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
