Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$

fix: add graceful handling for non-standard filename formats in test script timestamp parsing (NEM-1096)
  scripts/test_ai_pipeline_e2e.py
Due: none

docs: document /api/metrics endpoint production hardening (NEM-1086)
  docs/METRICS_ENDPOINT_HARDENING.md
Due: none

fix: improve database cleanup test fixture with automatic FK ordering (NEM-1082)
  backend/tests/conftest.py
Due: check-test-timeouts

fix: add NODE_ENV=production to frontend Dockerfile.prod (NEM-1115)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/trivy.yml
  frontend/Dockerfile.prod
  scripts/pre-push-rebase.sh
Due: none

fix: externalize hardcoded service URLs in test_ai_pipeline_e2e.py (NEM-1094)
  scripts/test_ai_pipeline_e2e.py
Due: none

fix: add retry/backoff tests to known slow test patterns (NEM-1117)
  scripts/audit-test-durations.py
Due: none

fix: add retry/backoff tests to known slow test patterns (NEM-1117) (#1250)
  scripts/audit-test-durations.py
Due: none

fix: batch fixes for 5 Linear issues (NEM-1130, NEM-1131, NEM-1132, NEM-1133, NEM-1134)
  backend/api/routes/cameras.py
  backend/core/logging.py
  backend/services/clip_client.py
  backend/tests/unit/core/test_logging.py
  backend/tests/unit/routes/test_cameras_routes.py
  backend/tests/unit/services/test_clip_client.py
  frontend/src/components/ai/PipelineHealthPanel.tsx
  frontend/src/components/settings/ScheduleSelector.test.tsx
  frontend/src/components/settings/ScheduleSelector.tsx
  frontend/src/components/settings/index.ts
  frontend/src/hooks/useAIMetrics.test.ts
  frontend/src/hooks/useAIMetrics.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: batch fixes for 5 Linear issues (NEM-1130, NEM-1131, NEM-1132, NEM-1133, NEM-1134) (#1270)
  backend/api/routes/cameras.py
  backend/core/logging.py
  backend/services/clip_client.py
  backend/tests/unit/core/test_logging.py
  backend/tests/unit/routes/test_cameras_routes.py
  backend/tests/unit/services/test_clip_client.py
  frontend/src/components/ai/PipelineHealthPanel.tsx
  frontend/src/components/settings/ScheduleSelector.test.tsx
  frontend/src/components/settings/ScheduleSelector.tsx
  frontend/src/components/settings/index.ts
  frontend/src/hooks/useAIMetrics.test.ts
  frontend/src/hooks/useAIMetrics.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: test fixture handles .env file override for foscam_base_path
  backend/tests/unit/core/test_config.py
Due: check-test-timeouts

docs: add page redesign specs with Prometheus metrics
  docs/plans/2026-01-04-ai-audit-redesign.md
  docs/plans/2026-01-04-ai-performance-page-redesign.md
  docs/plans/2026-01-04-system-page-redesign.md
  scripts/trigger-filewatcher.sh
Due: none

fix: batch fixes for System and AI Performance page metrics (NEM-1141, NEM-1128, NEM-1142, NEM-1134)
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/main.py
  backend/tests/unit/test_main.py
  frontend/src/components/ai/PipelineHealthPanel.test.tsx
  frontend/src/components/ai/PipelineHealthPanel.tsx
  frontend/src/components/system/AiModelsPanel.tsx
  frontend/src/components/system/DatabasesPanel.tsx
  frontend/src/hooks/useAIMetrics.test.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: batch fixes for System and AI Performance page metrics (NEM-1141, NEM-1128, NEM-1142, NEM-1134) (#1271)
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/main.py
  backend/tests/unit/core/test_config.py
  backend/tests/unit/test_main.py
  docs/plans/2026-01-04-ai-audit-redesign.md
  docs/plans/2026-01-04-ai-performance-page-redesign.md
  docs/plans/2026-01-04-system-page-redesign.md
  frontend/src/components/ai/PipelineHealthPanel.test.tsx
  frontend/src/components/ai/PipelineHealthPanel.tsx
  frontend/src/components/system/AiModelsPanel.tsx
  frontend/src/components/system/DatabasesPanel.tsx
  frontend/src/hooks/useAIMetrics.test.ts
  frontend/src/types/generated/api.ts
  scripts/trigger-filewatcher.sh
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: Wave 2 AI Performance page enhancements (NEM-1136, NEM-1135, NEM-1129)
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/core/metrics.py
  backend/tests/unit/api/routes/test_system_models.py
  frontend/src/components/ai/AIAuditPage.test.tsx
  frontend/src/components/ai/AIAuditPage.tsx
  frontend/src/components/ai/AIPerformancePage.test.tsx
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/ai/InsightsCharts.test.tsx
  frontend/src/components/ai/InsightsCharts.tsx
  frontend/src/components/ai/ModelZooSection.test.tsx
  frontend/src/components/ai/ModelZooSection.tsx
  frontend/src/components/events/EventTimeline.test.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
  frontend/tests/e2e/pages/AIAuditPage.ts
  frontend/tests/e2e/specs/ai-audit.spec.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: Wave 2 AI Performance page enhancements (NEM-1136, NEM-1135, NEM-1129) (#1273)
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/core/metrics.py
  backend/tests/unit/api/routes/test_system_models.py
  frontend/src/components/ai/AIAuditPage.test.tsx
  frontend/src/components/ai/AIAuditPage.tsx
  frontend/src/components/ai/AIPerformancePage.test.tsx
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/ai/InsightsCharts.test.tsx
  frontend/src/components/ai/InsightsCharts.tsx
  frontend/src/components/ai/ModelZooSection.test.tsx
  frontend/src/components/ai/ModelZooSection.tsx
  frontend/src/components/events/EventTimeline.test.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
  frontend/tests/e2e/pages/AIAuditPage.ts
  frontend/tests/e2e/specs/ai-audit.spec.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: system page redesign with pipeline visualization and infrastructure grid
  .trivyignore
  backend/alembic/versions/add_prompt_versions_table.py
  backend/api/routes/cameras.py
  backend/api/routes/prompt_management.py
  backend/api/schemas/enrichment_data.py
  backend/api/schemas/llm.py
  backend/api/schemas/prompt_management.py
  backend/core/logging.py
  backend/models/prompt_version.py
  backend/services/clip_client.py
  backend/services/prompt_service.py
  backend/services/prompt_version_service.py
  backend/tests/unit/api/routes/test_ai_audit_prompts.py
  backend/tests/unit/api/schemas/test_enrichment_data_validation.py
  backend/tests/unit/core/test_logging.py
  backend/tests/unit/routes/test_cameras_routes.py
  backend/tests/unit/services/test_clip_client.py
  backend/tests/unit/services/test_prompt_service.py
  backend/tests/unit/services/test_prompt_version_service.py
  frontend/src/components/ai-audit/AGENTS.md
  frontend/src/components/ai-audit/index.ts
  frontend/src/components/ai-performance/AIPerformanceSummaryRow.test.tsx
  frontend/src/components/ai-performance/AIPerformanceSummaryRow.tsx
  frontend/src/components/ai-performance/index.ts
  frontend/src/components/ai/PipelineHealthPanel.tsx
  frontend/src/components/common/ScheduleSelector.test.tsx
  frontend/src/components/common/ScheduleSelector.tsx
  frontend/src/components/settings/ScheduleSelector.test.tsx
  frontend/src/components/settings/ScheduleSelector.tsx
  frontend/src/components/settings/index.ts
  frontend/src/components/system/InfrastructureStatusGrid.test.tsx
  frontend/src/components/system/InfrastructureStatusGrid.tsx
  frontend/src/components/system/PipelineFlowVisualization.test.tsx
  frontend/src/components/system/PipelineFlowVisualization.tsx
  frontend/src/components/system/SystemSummaryRow.test.tsx
  frontend/src/components/system/SystemSummaryRow.tsx
  frontend/src/hooks/useAIMetrics.test.ts
  frontend/src/hooks/useAIMetrics.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: redesign System page with summary row, pipeline flow, and infrastructure grid (NEM-1143)
  frontend/src/components/system/GpuStatistics.test.tsx
  frontend/src/components/system/GpuStatistics.tsx
  frontend/src/components/system/InfrastructureGrid.test.tsx
  frontend/src/components/system/InfrastructureGrid.tsx
  frontend/src/components/system/ModelZooPanel.test.tsx
  frontend/src/components/system/ModelZooPanel.tsx
  frontend/src/components/system/PipelineFlow.test.tsx
  frontend/src/components/system/PipelineFlow.tsx
  frontend/src/components/system/SummaryRow.test.tsx
  frontend/src/components/system/SummaryRow.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
Due: prettier-frontend, eslint, typescript-check

Revert "feat: redesign System page with summary row, pipeline flow, and infrastructure grid (NEM-1143)"
  frontend/src/components/system/GpuStatistics.test.tsx
  frontend/src/components/system/GpuStatistics.tsx
  frontend/src/components/system/InfrastructureGrid.test.tsx
  frontend/src/components/system/InfrastructureGrid.tsx
  frontend/src/components/system/ModelZooPanel.test.tsx
  frontend/src/components/system/ModelZooPanel.tsx
  frontend/src/components/system/PipelineFlow.test.tsx
  frontend/src/components/system/PipelineFlow.tsx
  frontend/src/components/system/SummaryRow.test.tsx
  frontend/src/components/system/SummaryRow.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
Due: prettier-frontend, eslint, typescript-check

fix: resolve CI failures for system page redesign PR
  backend/alembic/versions/d4cdaa821492_merge_heads.py
  frontend/src/components/ai/PipelineHealthPanel.tsx
  frontend/src/components/system/PipelineFlowVisualization.test.tsx
  frontend/src/hooks/useAIMetrics.test.ts
  scripts/check-api-coverage.sh
Due: prettier-frontend, eslint, typescript-check

feat: Wave 4 AI Audit Prompt Playground (NEM-1137, NEM-1140)
  backend/api/routes/ai_audit.py
  backend/api/schemas/ai_audit.py
  backend/services/prompt_storage.py
  backend/tests/unit/api/routes/test_prompt_management.py
  frontend/src/components/ai/AIAuditPage.tsx
  frontend/src/components/ai/PromptPlayground.test.tsx
  frontend/src/components/ai/PromptPlayground.tsx
  frontend/src/components/ai/RecommendationsPanel.tsx
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

feat: system page redesign with pipeline visualization and infrastructure grid (#1272)
  .trivyignore
  backend/alembic/versions/add_prompt_versions_table.py
  backend/alembic/versions/d4cdaa821492_merge_heads.py
  backend/api/routes/cameras.py
  backend/api/routes/prompt_management.py
  backend/api/schemas/enrichment_data.py
  backend/api/schemas/llm.py
  backend/api/schemas/prompt_management.py
  backend/core/logging.py
  backend/models/prompt_version.py
  backend/services/clip_client.py
  backend/services/prompt_service.py
  backend/services/prompt_version_service.py
  backend/tests/unit/api/routes/test_ai_audit_prompts.py
  backend/tests/unit/api/schemas/test_enrichment_data_validation.py
  backend/tests/unit/core/test_logging.py
  backend/tests/unit/routes/test_cameras_routes.py
  backend/tests/unit/services/test_clip_client.py
  backend/tests/unit/services/test_prompt_service.py
  backend/tests/unit/services/test_prompt_version_service.py
  frontend/src/components/ai-audit/AGENTS.md
  frontend/src/components/ai-audit/index.ts
  frontend/src/components/ai-performance/AIPerformanceSummaryRow.test.tsx
  frontend/src/components/ai-performance/AIPerformanceSummaryRow.tsx
  frontend/src/components/ai-performance/index.ts
  frontend/src/components/ai/PipelineHealthPanel.tsx
  frontend/src/components/common/ScheduleSelector.test.tsx
  frontend/src/components/common/ScheduleSelector.tsx
  frontend/src/components/settings/ScheduleSelector.test.tsx
  frontend/src/components/settings/ScheduleSelector.tsx
  frontend/src/components/settings/index.ts
  frontend/src/components/system/InfrastructureStatusGrid.test.tsx
  frontend/src/components/system/InfrastructureStatusGrid.tsx
  frontend/src/components/system/PipelineFlowVisualization.test.tsx
  frontend/src/components/system/PipelineFlowVisualization.tsx
  frontend/src/components/system/SystemSummaryRow.test.tsx
  frontend/src/components/system/SystemSummaryRow.tsx
  frontend/src/hooks/useAIMetrics.test.ts
  frontend/src/hooks/useAIMetrics.ts
  scripts/check-api-coverage.sh
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: Wave 1 batch fixes for 4 Linear issues (NEM-1141, NEM-1128, NEM-1134, NEM-1142)
  backend/api/routes/detections.py
  backend/api/routes/system.py
  backend/api/schemas/detections.py
  backend/api/schemas/system.py
  backend/tests/integration/test_detections_api.py
  backend/tests/integration/test_system_api.py
  backend/tests/unit/api/routes/test_detections_api.py
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/settings/AIModelsSettings.test.tsx
  frontend/src/components/settings/SeverityThresholds.test.tsx
  frontend/src/components/settings/SeverityThresholds.tsx
  frontend/src/components/system/AiModelsPanel.test.tsx
  frontend/src/components/system/AiModelsPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/components/system/index.ts
  frontend/src/hooks/useAIMetrics.test.ts
  frontend/src/hooks/useAIMetrics.ts
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: add is_degraded() to SystemBroadcaster and fix Trivy workflow (NEM-1075, NEM-1126)
  .github/workflows/trivy.yml
  backend/services/system_broadcaster.py
  backend/tests/unit/core/test_websocket.py
  backend/tests/unit/services/test_system_broadcaster.py
Due: check-test-timeouts

fix: add is_degraded() to SystemBroadcaster and fix Trivy workflow (NEM-1075, NEM-1126) (#1277)
  .github/workflows/trivy.yml
  backend/services/system_broadcaster.py
  backend/tests/unit/core/test_websocket.py
  backend/tests/unit/services/test_system_broadcaster.py
Due: check-test-timeouts

fix: consolidate Dockerfiles to fix frontend build failure
  .github/workflows/AGENTS.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/trivy.yml
  backend/Dockerfile
  backend/Dockerfile.prod
  backend/tests/unit/core/test_dockerfile_config.py
  docker-compose.prod.yml
  frontend/Dockerfile
  frontend/Dockerfile.prod
Due: check-test-timeouts

fix: consolidate Dockerfiles to fix frontend build failure (#1282)
  .github/workflows/AGENTS.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/trivy.yml
  backend/Dockerfile
  backend/Dockerfile.prod
  backend/tests/unit/core/test_dockerfile_config.py
  docker-compose.prod.yml
  frontend/Dockerfile
  frontend/Dockerfile.prod
Due: check-test-timeouts

perf: add BuildKit cache mounts for faster Docker builds
  backend/Dockerfile
Due: none

perf: add BuildKit cache mounts for faster Docker builds (#1340)
  backend/Dockerfile
Due: none
