Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$

chore: regenerate TypeScript API types after rebase
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

feat: implement 5 discovery tasks (NEM-3662, NEM-3606, NEM-3639, NEM-3597, NEM-3603)
  .secrets.baseline
  backend/api/dependencies.py
  backend/api/routes/cameras.py
  backend/api/schemas/camera.py
  backend/api/schemas/events.py
  backend/api/schemas/llm_response.py
  docs/openapi.json
  frontend/src/components/analytics/AnalyticsPage.test.tsx
  frontend/src/components/analytics/AnalyticsPage.tsx
  frontend/src/components/events/AGENTS.md
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/RiskFactorsBreakdown.test.tsx
  frontend/src/components/events/RiskFactorsBreakdown.tsx
  frontend/src/hooks/useWebSocketCapabilities.test.ts
  frontend/src/hooks/useWebSocketCapabilities.ts
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
  frontend/src/types/risk-analysis.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-validation-drift, check-integration-tests

chore: regenerate TypeScript API types
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/RiskFactorsBreakdown.test.tsx
  frontend/src/components/events/RiskFactorsBreakdown.tsx
  frontend/src/components/events/RiskFactorsList.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

chore: update OpenAPI spec with webhook processing response
  docs/openapi.json
Due: none

fix(api): resolve lazy loading error in camera API endpoints (NEM-3597)
  backend/api/routes/cameras.py
  backend/tests/unit/api/routes/test_cameras.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-test-timeouts, check-integration-tests

feat: implement 5 discovery tasks (NEM-3662, NEM-3606, NEM-3639, NEM-3597, NEM-3603) (#4240)
  .secrets.baseline
  backend/api/dependencies.py
  backend/api/routes/cameras.py
  backend/api/schemas/camera.py
  backend/api/schemas/events.py
  backend/api/schemas/llm_response.py
  backend/tests/unit/api/routes/test_cameras.py
  docs/openapi.json
  frontend/src/components/analytics/AnalyticsPage.test.tsx
  frontend/src/components/analytics/AnalyticsPage.tsx
  frontend/src/components/events/AGENTS.md
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/RiskFactorsList.tsx
  frontend/src/hooks/useWebSocketCapabilities.test.ts
  frontend/src/hooks/useWebSocketCapabilities.ts
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
  frontend/src/types/risk-analysis.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-test-timeouts, check-validation-drift, check-integration-tests

test: add pytest-testmon for affected-only test execution (NEM-3745)
  .gitignore
  docs/development/testing.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat: implement backup/restore and webhook management systems (NEM-3566, NEM-3624)
  docs/openapi.json
  frontend/src/App.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

feat(reports): implement Scheduled Reports frontend UI (NEM-3667)
  frontend/src/App.tsx
Due: prettier-frontend, eslint, typescript-check

feat(ai): integrate YOLO26 TensorRT detector as RT-DETRv2 alternative (NEM-3683)
  Dockerfile.yolo26-benchmark
  ai/download_models.sh
  ai/yolo26/AGENTS.md
  ai/yolo26/Dockerfile
  ai/yolo26/README.md
  ai/yolo26/__init__.py
  ai/yolo26/model.py
  ai/yolo26/requirements.txt
  backend/core/config.py
  backend/services/detector_client.py
  backend/tests/unit/services/test_detector_client.py
  backend/tests/unit/services/test_model_warmup.py
  docker-compose.prod.yml
  docs/benchmarks/AGENTS.md
  docs/benchmarks/yolo26-export-formats.md
  docs/benchmarks/yolo26-vs-rtdetr.md
  docs/deployment/AGENTS.md
  docs/deployment/yolo26-migration.md
  monitoring/prometheus.yml
  pyproject.toml
  scripts/AGENTS.md
  scripts/benchmark_yolo26_accuracy.py
  scripts/benchmark_yolo26_container.py
  scripts/benchmark_yolo26_gpu.py
  scripts/benchmark_yolo26_latency.py
  scripts/download_yolo26.py
  scripts/export_yolo26.py
  uv.lock
Due: uv-lock-check, check-test-timeouts, check-integration-tests

feat: implement 5 discovery tasks (NEM-3662, NEM-3606, NEM-3639, NEM-3597, NEM-3603)
  docs/openapi.json
  frontend/src/components/events/RiskFactorsBreakdown.test.tsx
  frontend/src/components/events/RiskFactorsBreakdown.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

chore: regenerate TypeScript API types
  frontend/src/components/events/RiskFactorsBreakdown.test.tsx
  frontend/src/components/events/RiskFactorsBreakdown.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

feat(ai): complete YOLO26 epic remaining tasks (NEM-3689, NEM-3694, NEM-3697, NEM-3698, NEM-3705)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  CLAUDE.md
  README.md
  ai/enrichment/AGENTS.md
  ai/enrichment/model_registry.py
  ai/enrichment/models/__init__.py
  ai/enrichment/models/yolo26_detector.py
  ai/enrichment/tests/test_model_registry.py
  ai/enrichment/tests/test_yolo26_detector.py
  ai/yolo26/test_model.py
  ai/yolo26/tests/README.md
  ai/yolo26/tests/__init__.py
  ai/yolo26/tests/conftest.py
  ai/yolo26/tests/test_model.py
  backend/api/routes/gpu_config.py
  backend/services/gpu_detection_service.py
  docs/benchmarks/yolo26-vs-rtdetr.md
  frontend/src/components/settings/GpuAssignmentTable.tsx
  pyproject.toml
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, check-integration-tests

ci: move expensive workflows to main-only to reduce PR CI time
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

feat(reports): implement Scheduled Reports frontend UI (NEM-3667)
  frontend/src/App.tsx
  frontend/src/components/layout/sidebarNav.ts
Due: prettier-frontend, eslint, typescript-check

chore: regenerate TypeScript API types
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/RiskFactorsBreakdown.test.tsx
  frontend/src/components/events/RiskFactorsBreakdown.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

feat: implement backup/restore and webhook management systems (NEM-3566, NEM-3624)
  .secrets.baseline
  docs/openapi.json
  frontend/src/App.tsx
  frontend/src/components/layout/sidebarNav.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

feat: implement 5 discovery tasks (NEM-3662, NEM-3606, NEM-3639, NEM-3597, NEM-3603)
  .secrets.baseline
  docs/openapi.json
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/RiskFactorsBreakdown.test.tsx
  frontend/src/components/events/RiskFactorsBreakdown.tsx
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

feat: add frontend hook for event clustering API endpoint (NEM-3676)
  frontend/src/services/api.ts
Due: prettier-frontend, eslint, typescript-check

feat(pwa): implement offline caching with service worker registration (NEM-3675)
  frontend/src/App.tsx
Due: prettier-frontend, eslint, typescript-check

feat: implement backup/restore and webhook management systems (NEM-3566, NEM-3624)
  frontend/src/App.tsx
  frontend/src/components/layout/sidebarNav.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: resolve 4 production issues from system analysis
  backend/api/routes/events.py
  docker-compose.prod.yml
  frontend/src/hooks/webSocketManager.ts
  monitoring/alerting-rules.yml
  monitoring/pyroscope/Dockerfile
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-integration-tests

feat(ui): implement 5 UI fixes from epic NEM-3837
  .secrets.baseline
  backend/alembic/versions/0005_add_event_flagged_field.py
  backend/api/schemas/events.py
  backend/models/event.py
  docs/openapi.json
  frontend/src/components/alerts/AlertCameraGroup.test.tsx
  frontend/src/components/alerts/AlertsPage.test.tsx
  frontend/src/components/events/DeletedEventCard.test.tsx
  frontend/src/components/events/EventClusterCard.test.tsx
  frontend/src/components/events/EventTimeline.test.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/components/events/TimeGroupedEvents.test.tsx
  frontend/src/components/settings/prompts/EventSelector.test.tsx
  frontend/src/components/system/ContainersPanel.test.tsx
  frontend/src/components/system/ContainersPanel.tsx
  frontend/src/components/system/HostSystemPanel.test.tsx
  frontend/src/components/system/HostSystemPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/components/system/index.ts
  frontend/src/hooks/useAlertsQuery.test.ts
  frontend/src/hooks/useEventClustersQuery.ts
  frontend/src/hooks/useEventsQuery.test.ts
  frontend/src/hooks/useTrashQuery.test.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/TrashPage.test.tsx
  frontend/src/services/api.test.ts
  frontend/src/services/api.ts
  frontend/src/test/factories/index.ts
  frontend/src/types/generated/api.ts
  frontend/src/utils/eventClustering.test.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-validation-drift

fix(ci): remove ai-services-tests job with incompatible imports
  .github/workflows/ci.yml
Due: none

fix(tests): add flagged field to raw SQL insert in integration test
  backend/tests/integration/test_data_corruption.py
Due: check-test-mocks, check-test-timeouts
