Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: .venv/bin/python scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: .venv/bin/python scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

fix: update video support tests to use add_to_queue_safe
  backend/tests/unit/test_video_support.py
Due: check-test-timeouts

fix: complete multi-agent security and test improvements
  .beads/issues.jsonl
  backend/core/config.py
  backend/main.py
  backend/requirements.txt
  backend/services/system_broadcaster.py
  backend/tests/conftest.py
  backend/tests/e2e/test_gpu_pipeline.py
  backend/tests/integration/test_pipeline_e2e.py
  backend/tests/unit/test_admin_api.py
  docs/AI_SETUP.md
  postgresql+asyncpg:/security:security_dev_password@localhost:5432/foscam/front_door/a.jpg
  postgresql+asyncpg:/security:security_dev_password@localhost:5432/foscam/front_door/b.jpg
  pyproject.toml
  pytest.ini
Due: check-test-mocks, check-test-timeouts

chore: remove artifact files
  postgresql+asyncpg:/security:security_dev_password@localhost:5432/foscam/front_door/a.jpg
  postgresql+asyncpg:/security:security_dev_password@localhost:5432/foscam/front_door/b.jpg
Due: none

fix: add debug_only_client and admin_api_key_client fixtures
  backend/tests/unit/test_admin_api.py
Due: check-test-timeouts

fix: add missing all_events mock to object_type filter test
  backend/tests/unit/test_events_routes.py
Due: check-test-timeouts

fix: update integration tests for broadcast format and MockRedisClient
  .beads/issues.jsonl
  backend/tests/integration/test_health_monitor_integration.py
  backend/tests/integration/test_pipeline_e2e.py
  backend/tests/integration/test_system_api.py
Due: check-test-mocks, check-test-timeouts

fix: resolve CI failures for parallel agent fixes
  .github/workflows/ci.yml
  backend/tests/conftest.py
  backend/tests/unit/test_websocket_routes.py
  frontend/src/components/layout/Header.test.tsx
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

chore: regenerate TypeScript types from OpenAPI spec
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

chore: add API types contract check to pre-push hooks
  .pre-commit-config.yaml
Due: none

refactor: migrate all services to centralized logging
  backend/api/middleware/rate_limit.py
  backend/api/routes/system.py
  backend/api/routes/websocket.py
  backend/core/redis.py
  backend/services/alert_engine.py
  backend/services/baseline.py
  backend/services/cleanup_service.py
  backend/services/event_broadcaster.py
  backend/services/gpu_monitor.py
  backend/services/notification.py
  backend/services/search.py
  backend/services/system_broadcaster.py
  backend/services/thumbnail_generator.py
  backend/services/video_processor.py
Due: none

fix: prevent log injection in notification services
  backend/api/routes/notification.py
  backend/services/notification.py
Due: none

chore: regenerate TypeScript API types
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: remove user-controlled data from log messages
  backend/api/routes/notification.py
  backend/services/notification.py
Due: none

fix: resolve CI test failures across frontend and backend
  .github/workflows/ci.yml
  backend/tests/conftest.py
  backend/tests/integration/test_batch_aggregator_integration.py
  frontend/src/components/dashboard/RiskGauge.test.tsx
  frontend/src/components/events/EventCard.test.tsx
  frontend/src/hooks/useServiceStatus.test.ts
  frontend/src/utils/risk.test.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: skip integration tests in GPU workflow to avoid DATABASE_URL requirement
  .github/workflows/gpu-tests.yml
Due: none

fix: remove remaining user-controlled data from log message
  backend/api/routes/notification.py
Due: none

bd sync: 2025-12-30 01:43:15
  .beads/issues.jsonl
Due: none

bd sync: 2025-12-30 01:45:20
  .beads/issues.jsonl
Due: none

fix: resolve 24 integration test failures
  backend/tests/integration/test_file_watcher_integration.py
  backend/tests/integration/test_health_monitor_integration.py
  backend/tests/integration/test_nemotron_analyzer_integration.py
  backend/tests/integration/test_pipeline_e2e.py
  backend/tests/integration/test_system_api.py
  backend/tests/integration/test_websocket.py
Due: check-test-mocks, check-test-timeouts

fix: resolve unit and integration test failures
  backend/tests/integration/test_file_watcher_integration.py
  backend/tests/integration/test_websocket.py
  backend/tests/unit/test_pipeline_worker.py
Due: check-test-mocks, check-test-timeouts

bd sync: 2025-12-30 01:58:32
  .beads/issues.jsonl
Due: none

chore: lower coverage threshold to 92% during logging migration
  .github/workflows/ci.yml
  pyproject.toml
Due: none

fix: resolve 10 phase-8 beads with bug fixes and test coverage
  backend/api/routes/admin.py
  backend/api/routes/notification.py
  backend/api/routes/system.py
  backend/models/audit.py
  backend/services/file_watcher.py
  backend/services/notification.py
  backend/services/system_broadcaster.py
  backend/tests/integration/test_pipeline_e2e.py
  backend/tests/integration/test_system_api.py
  backend/tests/unit/test_admin_api.py
  backend/tests/unit/test_alert_engine.py
  backend/tests/unit/test_audit.py
  backend/tests/unit/test_circuit_breaker.py
  backend/tests/unit/test_config.py
  backend/tests/unit/test_degradation_manager.py
  backend/tests/unit/test_file_watcher.py
  backend/tests/unit/test_notification.py
  backend/tests/unit/test_rate_limit.py
  backend/tests/unit/test_search.py
  backend/tests/unit/test_system_broadcaster.py
  backend/tests/unit/test_system_routes.py
  backend/tests/unit/test_tls.py
  backend/tests/unit/test_video_processor.py
  backend/tests/unit/test_websocket_routes.py
  backend/tests/unit/test_websocket_validation.py
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: resolve 10 phase-8 beads with bug fixes and test coverage
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: resolve mypy BaseObserver type error in file_watcher.py
  backend/services/file_watcher.py
Due: none

chore: sync beads issues
  .beads/issues.jsonl
Due: none

fix: update admin API tests to use body-based confirmation
  backend/tests/unit/test_admin_api.py
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: update degradation_manager tests to use add_to_queue_safe
  backend/tests/unit/test_degradation_manager.py
Due: check-test-timeouts

fix: update degradation_manager tests to use add_to_queue_safe consistently
  backend/tests/unit/test_degradation_manager.py
Due: check-test-timeouts

chore: sync beads issues (#47)
  .beads/issues.jsonl
Due: none

fix: resolve P0 and P1 audit issues
  DOCKER_QUICKSTART.md
  README.md
  backend/Dockerfile
  backend/Dockerfile.prod
  backend/main.py
  backend/services/nemotron_analyzer.py
  backend/tests/gpu/__init__.py
  backend/tests/gpu/test_detector_integration.py
  backend/tests/unit/test_nemotron_analyzer.py
  frontend/src/components/dashboard/RiskGauge.tsx
  frontend/src/utils/risk.test.ts
  frontend/src/utils/risk.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: update health endpoint tests to match simplified response
  .beads/issues.jsonl
  backend/tests/integration/test_api.py
Due: check-test-mocks, check-test-timeouts

fix: update integration test for correct risk thresholds
  .github/workflows/ci.yml
  backend/tests/integration/test_nemotron_analyzer_integration.py
Due: check-test-mocks, check-test-timeouts

fix: install ruff and mypy in unified validation job
  .github/workflows/ci.yml
Due: none

revert: remove redundant unified validation CI job
  .github/workflows/ci.yml
Due: none

fix: resolve P0 and P1 audit issues (#48)
  DOCKER_QUICKSTART.md
  README.md
  backend/Dockerfile
  backend/Dockerfile.prod
  backend/main.py
  backend/services/nemotron_analyzer.py
  backend/tests/gpu/__init__.py
  backend/tests/gpu/test_detector_integration.py
  backend/tests/integration/test_nemotron_analyzer_integration.py
  backend/tests/unit/test_nemotron_analyzer.py
  frontend/src/components/dashboard/RiskGauge.tsx
  frontend/src/utils/risk.test.ts
  frontend/src/utils/risk.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
