Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: .venv/bin/python scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: .venv/bin/python scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

docs: add interactive setup script design
  docs/plans/2026-01-02-interactive-setup-script-design.md
Due: none

docs: add interactive setup script implementation plan
  docs/plans/2026-01-02-interactive-setup-script-implementation.md
Due: none

feat(config): add grafana_url setting for configurable dashboard URL
  .beads/issues.jsonl
  backend/core/config.py
  backend/tests/unit/core/test_config.py
Due: check-test-timeouts

feat(schemas): add grafana_url to ConfigResponse schema
  backend/api/schemas/system.py
  backend/tests/unit/api/__init__.py
  backend/tests/unit/api/schemas/__init__.py
  backend/tests/unit/api/schemas/test_system.py
Due: check-test-timeouts

feat(api): expose grafana_url in system config endpoint
  backend/api/routes/system.py
  backend/tests/integration/test_system_api.py
Due: check-test-mocks, check-test-timeouts

feat(frontend): use dynamic grafana_url from config API
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
Due: prettier-frontend, eslint, typescript-check

feat(frontend): make dev proxy URL configurable via VITE_DEV_BACKEND_URL
  frontend/vite.config.ts
Due: prettier-frontend, eslint, typescript-check

feat(setup): add core setup script functions with tests
  setup.py
  tests/test_setup.py
Due: none

feat(setup): implement env and docker override file generation
  setup.py
  tests/test_setup.py
Due: none

feat(setup): implement interactive prompts and quick mode
  setup.py
  tests/test_setup.py
Due: none

fix(setup): add TypedDict for SERVICES to fix mypy errors
  setup.py
Due: none

feat(setup): implement file writing and main entry point
  setup.py
  tests/test_setup.py
Due: none

feat(setup): add shell wrapper scripts for Linux/macOS and Windows
  setup.bat
  setup.sh
Due: none

feat(setup): implement guided mode with step-by-step explanations
  setup.py
  tests/test_setup.py
Due: none

docs: update quick start to use interactive setup script
  CLAUDE.md
  README.md
Due: none

fix(tests): add grafana_url to mock settings in system routes tests
  backend/tests/unit/test_system_routes.py
Due: check-test-timeouts

fix(types): add grafana_url to generated types and frontend tests
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/components/common/RiskBadge.test.tsx
  frontend/src/components/events/EventCard.test.tsx
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/settings/ProcessingSettings.test.tsx
  frontend/src/services/api.test.ts
  frontend/src/test-utils/AGENTS.md
  frontend/src/test-utils/a11y.ts
  frontend/src/test-utils/index.ts
  frontend/src/test-utils/test-utils.test.tsx
  frontend/src/test/setup.ts
  frontend/src/types/generated/api.ts
  frontend/tsconfig.node.tsbuildinfo
Due: prettier-frontend, eslint, typescript-check

fix: free disk space for backend Docker builds
  .github/workflows/deploy.yml
Due: none

fix: free disk space for backend Docker builds (#126)
  .github/workflows/deploy.yml
Due: none

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
