Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

generate-api-types:
  name: Generate TypeScript API Types
  entry: bash -c './scripts/generate-types.sh && git add frontend/src/types/generated/api.ts'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv lock file is up-to-date
  entry: bash -c 'cd "$0" && uv lock --check' .
  language: system
  pass_filenames: false

npm-install-check:
  name: Check npm dependencies are installed
  entry: bash -c 'cd frontend && npm ci --prefer-offline --no-audit --dry-run'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-validation-drift:
  name: Check validation drift (Pydantic/Zod)
  entry: python3 scripts/check-validation-drift.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

fix(symlink): drop accidentally-committed sandbox node_modules symlink
  frontend/node_modules
Due: none

fix(ci): WP2.1 coverage denominators — shard seed pin ends the 14pp undercount; docs state one denominator (#6581)
  .github/suppression-baseline.json
  .github/suppression-registry.yml
  .github/workflows/ci.yml
  .github/workflows/gitleaks.yml
  .github/workflows/integration-shard.yml
  .github/workflows/sast.yml
  .github/workflows/trivy.yml
  .secrets.baseline
  docs/development/testing.md
  docs/plans/2026-09-12-context-map-doc-updates.md
  scripts/AGENTS.md
  scripts/analyze-flaky-tests.py
  scripts/audit-test-durations.py
  scripts/check-test-coverage-gate.py
  scripts/fetch-ci-artifacts.py
  scripts/suppression-census.py
  scripts/test_audit_gate.sh
  scripts/test_coverage_denominator.py
  scripts/test_flake_consumer.py
  scripts/test_summary_verdicts.sh
  scripts/test_suppression_census.py
Due: none

fix(test): REPORT_STEP constant follows WP2.3 step rename — drain assembly fix
  backend/tests/integration/test_github_workflows.py
Due: check-test-mocks, check-test-timeouts

chore(drain): combined queue drain — WP1.1→WP3.3 stack in one gate cycle (#6589)
  .github/suppression-baseline.json
  .github/suppression-registry.yml
  .github/workflows/ci.yml
  .github/workflows/nightly-full-gate.yml
  .gitignore
  .secrets.baseline
  CLAUDE.md
  backend/tests/integration/test_github_workflows.py
  backend/tests/unit/api/routes/test_queues.py
  backend/tests/unit/services/test_age_classifier_loader.py
  backend/tests/unit/services/test_backup_service.py
  backend/tests/unit/services/test_cleanup_cutoff_kill.py
  backend/tests/unit/services/test_gender_classifier_loader.py
  backend/tests/unit/services/test_heatmap_service.py
  backend/tests/unit/services/test_segment_clothing_kill.py
  backend/tests/unit/services/test_skeleton_action_service.py
  backend/tests/unit/services/test_stgcn_loader.py
  backend/tests/unit/services/test_zero_dce_loader.py
  docs/developer/patterns/mutation-testing.md
  docs/development/testing.md
  docs/plans/2026-09-12-context-map-doc-updates.md
  frontend/scripts/merge-shard-coverage-test.mjs
  frontend/scripts/merge-shard-coverage.mjs
  frontend/stryker.config.mjs
  frontend/tsconfig.stryker.json
  frontend/vite.config.ts
  scripts/arity_resolver.py
  scripts/check-mock-spec.py
  scripts/check-test-coverage-gate.py
  scripts/ratchet-check.py
  scripts/suppression-census.py
  scripts/suppression-registry-gen.py
  scripts/test_check_coverage_diff.py
  scripts/test_check_gate_reachability.py
  scripts/test_check_mock_spec.py
  scripts/test_ci_job_graph.py
  scripts/test_coverage_denominator.py
  scripts/test_coverage_floors.py
  scripts/test_ratchet_check.py
  scripts/test_suppression_census.py
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix(security): unbreak main — Trivy fails only on findings with a fix
  .github/workflows/trivy.yml
  backend/Dockerfile
Due: none

diag(trivy): print where the reported setuptools/msgpack actually live
  .github/workflows/trivy.yml
Due: none

fix(security): the last 2 findings are pip's VENDORED copies — corrected
  .github/workflows/trivy.yml
  .trivyignore
  backend/Dockerfile
Due: none

fix(security): unbreak main — Trivy fails only on findings with a fix (#6590)
  .github/workflows/trivy.yml
  .trivyignore
  backend/Dockerfile
Due: none

docs(wp41): retire 06-repo-a-readiness's blocker list — all four CLOSED, re-verified on main
  docs/vss-integration/06-repo-a-readiness.md
  docs/vss-integration/README.md
Due: none

docs(wp41): retire 06-repo-a-readiness's blocker list — all four CLOSED, re-verified on main (#6591)
  docs/vss-integration/06-repo-a-readiness.md
  docs/vss-integration/README.md
Due: none

refactor(ai-contract): WP4.2 — the contract count mints itself; hand pins deleted
  backend/ai_contract/operations.py
  backend/tests/contracts/ai_providers/test_ai_contract_registry.py
  backend/tests/contracts/ai_providers/test_conformance_ops.py
  backend/tests/contracts/ai_providers/test_fake_provider.py
  scripts/check-ai-provider-parity.py
  scripts/gen-ai-contract.py
  scripts/test_check_ai_provider_parity.py
Due: check-test-timeouts

refactor(api): WP3.4 — delete the api/helpers dead twin under ADDENDUM 2 A6; 10 files / 2,327 lines / 65 cases
  .secrets.baseline
  AGENTS.md
  backend/AGENTS.md
  backend/api/AGENTS.md
  backend/api/helpers/AGENTS.md
  backend/api/helpers/__init__.py
  backend/api/helpers/enrichment_transformers.py
  backend/tests/contracts/ai_providers/test_conformance_semantics.py
  backend/tests/unit/api/AGENTS.md
  backend/tests/unit/api/helpers/AGENTS.md
  backend/tests/unit/api/helpers/__init__.py
  backend/tests/unit/api/helpers/test_enrichment_transformers.py
  backend/tests/unit/api/test_enrichment_transformers_retired.py
Due: generate-openapi, generate-api-types, check-test-timeouts

refactor(api): WP3.4 — delete the api/helpers dead twin under ADDENDUM 2 A6; 10 files / 2,327 lines / 65 cases (#6593)
  .secrets.baseline
  AGENTS.md
  backend/AGENTS.md
  backend/api/AGENTS.md
  backend/api/helpers/AGENTS.md
  backend/api/helpers/__init__.py
  backend/api/helpers/enrichment_transformers.py
  backend/tests/contracts/ai_providers/test_conformance_semantics.py
  backend/tests/unit/api/AGENTS.md
  backend/tests/unit/api/helpers/AGENTS.md
  backend/tests/unit/api/helpers/__init__.py
  backend/tests/unit/api/helpers/test_enrichment_transformers.py
  backend/tests/unit/api/test_enrichment_transformers_retired.py
Due: generate-openapi, generate-api-types, check-test-timeouts

test(ci): WP3.4 — 388 nightly-only integration tests into PR CI via -k expansion
  .github/workflows/ci.yml
Due: none

refactor(ai-contract): WP4.2 — the contract count mints itself; hand pins deleted (#6592)
  backend/ai_contract/operations.py
  backend/tests/contracts/ai_providers/test_ai_contract_registry.py
  backend/tests/contracts/ai_providers/test_conformance_ops.py
  backend/tests/contracts/ai_providers/test_fake_provider.py
  scripts/check-ai-provider-parity.py
  scripts/gen-ai-contract.py
  scripts/test_check_ai_provider_parity.py
Due: check-test-timeouts

test(integration): WP4.3 — autospec the lifespan-collaborator patch cluster; unspecced 233->142
  .github/suppression-baseline.json
  .github/suppression-registry.yml
  .secrets.baseline
  backend/tests/integration/conftest.py
  backend/tests/integration/test_cache_invalidation_mutations.py
  backend/tests/integration/test_dlq_api.py
  backend/tests/integration/test_events_cache_invalidation.py
  backend/tests/integration/test_media_api.py
  backend/tests/integration/test_media_security.py
  backend/tests/integration/test_queues_api.py
  backend/tests/integration/test_websocket.py
  backend/tests/integration/test_websocket_auth.py
  backend/tests/integration/test_websocket_auth_flow.py
  backend/tests/integration/test_websocket_broadcast.py
Due: check-test-mocks, check-test-timeouts

fix(ci): the suppression-census --expect DERIVES from the baseline file — the hand literal rotted on #6595, red-first
  .github/workflows/ci.yml
Due: none

test(ci): WP3.4 — 388 nightly-only integration tests into PR CI via -k expansion (#6594)
  .github/workflows/ci.yml
Due: none

docs(plans): ledger sections for WP4.1 (#6591), WP4.2 (#6592), WP3.4 (#6593/#6594) — 2026-09-20 plan, appended 2026-09-21
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(plans): ledger sections for WP4.1 (#6591), WP4.2 (#6592), WP3.4 (#6593/#6594) — 2026-09-20 plan, appended 2026-09-21 (#6596)
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

test(integration): WP4.3 — autospec the lifespan-collaborator patch cluster; unspecced 233→142 (#6595)
  .github/suppression-baseline.json
  .github/suppression-registry.yml
  .github/workflows/ci.yml
  .secrets.baseline
  backend/tests/integration/conftest.py
  backend/tests/integration/test_cache_invalidation_mutations.py
  backend/tests/integration/test_dlq_api.py
  backend/tests/integration/test_events_cache_invalidation.py
  backend/tests/integration/test_media_api.py
  backend/tests/integration/test_media_security.py
  backend/tests/integration/test_queues_api.py
  backend/tests/integration/test_websocket.py
  backend/tests/integration/test_websocket_auth.py
  backend/tests/integration/test_websocket_auth_flow.py
  backend/tests/integration/test_websocket_broadcast.py
Due: check-test-mocks, check-test-timeouts

docs(plans): WP3.1 close-out section — full-tree re-measure of the nine zero-mutation modules (2026-09-20 plan)
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(plans): WP3.1 close-out section — full-tree re-measure of the nine zero-mutation modules (2026-09-20 plan) (#6597)
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(plans): WP4.3 landed + WP5.1 plan roll-up — the 2026-09-20 platform-hardening plan closes here
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(plans): WP4.3 landed + WP5.1 plan roll-up — the 2026-09-20 platform-hardening plan closes here (#6598)
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(plans): 2026-09-21 dependabot triage evidence + goal prompt for the 29-PR pile
  docs/goal-prompt-dependabot-2026-09-21.txt
  docs/plans/2026-09-21-dependabot-triage.md
Due: none

ci(deps): retarget python updates to the uv ecosystem and untrack audit export
  .github/dependabot.yml
  .gitignore
  requirements-audit.txt
Due: none

ci(deps): stop dependabot re-filing the deliberately deferred majors
  .github/dependabot.yml
Due: none

docs(reference): retarget version-truth rows off requirements-audit.txt
  .github/AGENTS.md
  docs/reference/nvidia-technology-inventory.md
Due: none

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
