Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - commit
  - push

docs: add Pyroscope profiling page design (NEM-3090)
  docs/plans/2026-01-20-pyroscope-page-design.md
Due: none

feat: add Pyroscope profiling page (NEM-3157)
  backend/core/telemetry.py
  backend/services/model_zoo.py
  frontend/src/App.tsx
  frontend/src/components/layout/sidebarNav.ts
  frontend/src/components/pyroscope/AGENTS.md
  frontend/src/components/pyroscope/PyroscopePage.test.tsx
  frontend/src/components/pyroscope/PyroscopePage.tsx
  frontend/src/components/pyroscope/index.ts
  monitoring/grafana/dashboards/hsi-profiling.json
Due: prettier-frontend, eslint, typescript-check, check-integration-tests

fix: rename duplicate AlertmanagerAlert to WebhookAlert
  .secrets.baseline
Due: none

docs: synchronize AGENTS.md files with current codebase structure
  .secrets.baseline
Due: none

refactor: remove /api/logs endpoint (replaced by Loki)
  docs/openapi.json
Due: none

fix: remove log types and API functions after backend logs removal
  .secrets.baseline
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: resolve Grafana logs dashboard showing no data
  docker-compose.prod.yml
  monitoring/alloy/config.alloy
  monitoring/grafana/dashboards/logs.json
  monitoring/grafana/provisioning/datasources/prometheus.yml
Due: none

chore: auto-regenerate API types in pre-commit hook
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

feat: add Pyroscope profiling page (NEM-3157) (#3649)
  backend/core/telemetry.py
  backend/services/model_zoo.py
  docs/plans/2026-01-20-pyroscope-page-design.md
  frontend/src/App.tsx
  frontend/src/components/layout/sidebarNav.ts
  frontend/src/components/pyroscope/AGENTS.md
  frontend/src/components/pyroscope/PyroscopePage.test.tsx
  frontend/src/components/pyroscope/PyroscopePage.tsx
  frontend/src/components/pyroscope/index.ts
  monitoring/grafana/dashboards/hsi-profiling.json
Due: prettier-frontend, eslint, typescript-check, check-integration-tests

fix: resolve Grafana logs dashboard showing no data (#3667)
  .secrets.baseline
  docker-compose.prod.yml
  monitoring/alloy/config.alloy
  monitoring/grafana/dashboards/logs.json
  monitoring/grafana/provisioning/datasources/prometheus.yml
Due: none

feat: enhance Alloy log parsing for trace correlation
  monitoring/alloy/config.alloy
Due: none

feat: add HSI System Logs Grafana dashboard for Loki integration
  monitoring/grafana/dashboards/logs.json
Due: none

fix: remove log types and API functions after backend logs removal
  .secrets.baseline
Due: none

fix: correct data-testid selectors in LogsPage E2E page object
  frontend/tests/e2e/pages/LogsPage.ts
  frontend/tests/e2e/visual/logs.visual.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: update E2E tests for Grafana-embedded logs page
  frontend/tests/e2e/pages/LogsPage.ts
  frontend/tests/e2e/visual/logs.visual.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: update Sidebar test to expect 16 nav items
  frontend/src/components/layout/Sidebar.test.tsx
Due: prettier-frontend, eslint, typescript-check

fix: update Sidebar test to expect 16 nav items (#3670)
  frontend/src/components/layout/Sidebar.test.tsx
Due: prettier-frontend, eslint, typescript-check

feat: add py-spy profiler integration to Pyroscope container
  docker-compose.prod.yml
  monitoring/pyroscope/Dockerfile
  monitoring/pyroscope/entrypoint.sh
  monitoring/pyroscope/profiler.sh
Due: none

feat: add py-spy continuous profiling to Python containers (NEM-3090)
  CLAUDE.md
  ai/clip/Dockerfile
  ai/enrichment/Dockerfile
  ai/florence/Dockerfile
  ai/rtdetr/Dockerfile
  backend/Dockerfile
  backend/entrypoint.sh
  docker-compose.prod.yml
  docs/plans/2026-01-20-distributed-tracing-page-design.md
  docs/plans/2026-01-20-loki-pyroscope-alloy-design.md
  docs/plans/2026-01-20-tracing-dashboard-design.md
  monitoring/grafana/dashboards/tracing.json
  monitoring/loki/loki-config.yml
  monitoring/pyroscope/Dockerfile
  monitoring/pyroscope/entrypoint.sh
  monitoring/pyroscope/profiler.sh
  scripts/ai-entrypoint.sh
  scripts/pyroscope-profiler.sh
Due: none

feat: add py-spy continuous profiling to Python containers (NEM-3090) (#3711)
  CLAUDE.md
  ai/clip/Dockerfile
  ai/enrichment/Dockerfile
  ai/florence/Dockerfile
  ai/rtdetr/Dockerfile
  backend/Dockerfile
  backend/entrypoint.sh
  docker-compose.prod.yml
  docs/plans/2026-01-20-distributed-tracing-page-design.md
  docs/plans/2026-01-20-loki-pyroscope-alloy-design.md
  docs/plans/2026-01-20-tracing-dashboard-design.md
  monitoring/grafana/dashboards/tracing.json
  monitoring/loki/loki-config.yml
  scripts/ai-entrypoint.sh
  scripts/pyroscope-profiler.sh
Due: none

fix: reset analyzer facade in semaphore tests
  backend/tests/unit/services/test_ai_inference_semaphore.py
Due: check-test-timeouts

docs: comprehensive documentation audit and screenshot refresh
  README.md
  docs/images/dashboard-tour.gif
  docs/images/screenshots/ai-audit-batch.png
  docs/images/screenshots/ai-audit-dashboard.png
  docs/images/screenshots/ai-audit-prompt-playground.png
  docs/images/screenshots/ai-audit-version-history.png
  docs/images/screenshots/ai-audit.png
  docs/images/screenshots/ai-performance.png
  docs/images/screenshots/alerts.png
  docs/images/screenshots/analytics.png
  docs/images/screenshots/audit-log.png
  docs/images/screenshots/dashboard.png
  docs/images/screenshots/entities.png
  docs/images/screenshots/jobs.png
  docs/images/screenshots/logs.png
  docs/images/screenshots/operations.png
  docs/images/screenshots/pyroscope.png
  docs/images/screenshots/settings-admin.png
  docs/images/screenshots/settings-ai-models.png
  docs/images/screenshots/settings-ambient.png
  docs/images/screenshots/settings-calibration.png
  docs/images/screenshots/settings-cameras.png
  docs/images/screenshots/settings-notifications.png
  docs/images/screenshots/settings-processing.png
  docs/images/screenshots/settings-prompts.png
  docs/images/screenshots/settings-rules.png
  docs/images/screenshots/settings-storage.png
  docs/images/screenshots/settings.png
  docs/images/screenshots/system.png
  docs/images/screenshots/timeline.png
  docs/images/screenshots/tracing.png
  docs/images/screenshots/trash.png
  docs/plans/2026-01-21-documentation-audit-plan.md
  docs/ui/README.md
  docs/ui/ai-audit.md
  docs/ui/pyroscope.md
  docs/ui/settings.md
  docs/ui/tracing.md
Due: none

docs: fix file paths and inaccuracies in observability docs
  docs/ui/analytics.md
  docs/ui/logs.md
  docs/ui/pyroscope.md
  docs/ui/tracing.md
Due: none

docs: agent-driven documentation updates and component screenshots
  docs/images/SCREENSHOT_GUIDE.md
  docs/images/screenshots/placeholder-activity-feed.png
  docs/images/screenshots/placeholder-alerts-notifications-page.png
  docs/images/screenshots/placeholder-alerts-page-view.png
  docs/images/screenshots/placeholder-alerts-page.png
  docs/images/screenshots/placeholder-camera-grid.png
  docs/images/screenshots/placeholder-dashboard-activity-feed.png
  docs/images/screenshots/placeholder-dashboard-camera-grid.png
  docs/images/screenshots/placeholder-dashboard-full-overview.png
  docs/images/screenshots/placeholder-dashboard-gpu-stats.png
  docs/images/screenshots/placeholder-dashboard-overview.png
  docs/images/screenshots/placeholder-dashboard-risk-gauge.png
  docs/images/screenshots/placeholder-event-detail-modal.png
  docs/images/screenshots/placeholder-event-timeline.png
  docs/images/screenshots/placeholder-getting-started-dashboard.png
  docs/images/screenshots/placeholder-getting-started-gauge.png
  docs/images/screenshots/placeholder-header-health-tooltip.png
  docs/images/screenshots/placeholder-header-health.png
  docs/images/screenshots/placeholder-logs-dashboard-full.png
  docs/images/screenshots/placeholder-notification-settings.png
  docs/images/screenshots/placeholder-quick-stats.png
  docs/images/screenshots/placeholder-risk-gauge.png
  docs/images/screenshots/placeholder-search-interface.png
  docs/images/screenshots/placeholder-search-results.png
  docs/images/screenshots/placeholder-settings-ai-models-tab.png
  docs/images/screenshots/placeholder-settings-cameras-tab.png
  docs/images/screenshots/placeholder-settings-full-overview.png
  docs/images/screenshots/placeholder-settings-page.png
  docs/images/screenshots/placeholder-sidebar-navigation.png
  docs/images/screenshots/placeholder-timeline-filters-expanded.png
  docs/images/screenshots/placeholder-timeline-filters.png
  docs/images/screenshots/placeholder-timeline-full-page.png
  docs/plans/2026-01-21-documentation-audit-plan.md
  docs/ui/analytics.md
  docs/ui/logs.md
Due: none

chore: prettier formatting fixes
  docs/images/SCREENSHOT_GUIDE.md
  docs/plans/2026-01-21-documentation-audit-plan.md
  docs/ui/analytics.md
  docs/ui/logs.md
  docs/ui/pyroscope.md
  docs/ui/tracing.md
Due: none

docs: Zone Intelligence System design document
  docs/plans/2026-01-21-zone-intelligence-design.md
Due: none

fix: add zone baseline and anomaly models with mypy/ruff fixes
  backend/alembic/versions/c3d4e5f6g7h8_add_zone_activity_baselines.py
  backend/alembic/versions/d4e5f6g7h8i9_add_zone_anomalies.py
  backend/models/__init__.py
  backend/models/zone_anomaly.py
  backend/models/zone_baseline.py
  backend/services/zone_anomaly_service.py
  backend/services/zone_baseline_service.py
  backend/tests/unit/services/test_zone_anomaly_service.py
Due: generate-openapi, check-test-timeouts, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
