Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$

fix: improve color contrast for WCAG 2 AA compliance
  frontend/tailwind.config.js
Due: prettier-frontend, eslint

fix: prefix unused parameters with underscore for dead code detection
  backend/tests/unit/core/test_database_init_lock.py
Due: check-test-timeouts

test: skip failing accessibility tests pending dashboard redesign updates
  frontend/tests/e2e/specs/accessibility.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: add alert-rules notification channels to known slow tests
  scripts/audit-test-durations.py
Due: none

fix: add all alert-rules E2E tests to known slow tests
  scripts/audit-test-durations.py
Due: none

fix: wait for table render in SeverityThresholds empty array test
  frontend/src/components/settings/SeverityThresholds.test.tsx
Due: prettier-frontend, eslint, typescript-check

feat: implement monitoring features and Prometheus metrics (NEM-249, NEM-500, NEM-502, NEM-768, NEM-769, NEM-770)
  CLAUDE.md
  backend/api/routes/events.py
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/core/metrics.py
  backend/services/detector_client.py
  backend/services/enrichment_pipeline.py
  backend/services/gpu_monitor.py
  backend/services/nemotron_analyzer.py
  backend/services/performance_collector.py
  backend/tests/unit/services/test_performance_collector.py
  backend/tests/unit/test_business_metrics.py
  backend/tests/unit/test_gpu_monitor.py
  backend/tests/unit/test_metrics.py
  backend/tests/unit/test_system_routes.py
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/ai/LatencyPanel.tsx
  frontend/src/components/search/SearchBar.test.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/system/CircuitBreakerPanel.test.tsx
  frontend/src/components/system/CircuitBreakerPanel.tsx
  frontend/src/components/system/SeverityConfigPanel.test.tsx
  frontend/src/components/system/SeverityConfigPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useSavedSearches.test.ts
  frontend/src/hooks/useSavedSearches.ts
  frontend/src/services/api.test.ts
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: prefix unused fn params with underscore for vulture
  backend/tests/unit/core/test_database_init_lock.py
Due: check-test-timeouts

test: skip flaky alert-rules tests on firefox/webkit
  frontend/tests/e2e/specs/alert-rules.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: add timeout for Firefox E2E error state test
  frontend/tests/e2e/specs/alert-rules.spec.ts
Due: prettier-frontend, eslint, typescript-check

test: skip flaky E2E tests on webkit browser
  frontend/tests/e2e/specs/accessibility.spec.ts
  frontend/tests/e2e/specs/alert-rules.spec.ts
  frontend/tests/e2e/specs/audit.spec.ts
Due: prettier-frontend, eslint, typescript-check

feat: implement monitoring features and Prometheus metrics (NEM-249, NEM-500, NEM-502, NEM-768, NEM-769, NEM-770)
  CLAUDE.md
  backend/api/routes/events.py
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/core/metrics.py
  backend/services/detector_client.py
  backend/services/enrichment_pipeline.py
  backend/services/gpu_monitor.py
  backend/services/nemotron_analyzer.py
  backend/services/performance_collector.py
  backend/tests/unit/core/test_metrics.py
  backend/tests/unit/routes/test_system_routes.py
  backend/tests/unit/services/test_gpu_monitor.py
  backend/tests/unit/services/test_performance_collector.py
  backend/tests/unit/test_business_metrics.py
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/ai/LatencyPanel.tsx
  frontend/src/components/search/SearchBar.test.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/system/CircuitBreakerPanel.test.tsx
  frontend/src/components/system/CircuitBreakerPanel.tsx
  frontend/src/components/system/SeverityConfigPanel.test.tsx
  frontend/src/components/system/SeverityConfigPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useSavedSearches.test.ts
  frontend/src/hooks/useSavedSearches.ts
  frontend/src/services/api.test.ts
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: use aggressive disk cleanup for Docker build job
  .github/workflows/ci.yml
Due: none

fix: increase E2E pageLoadTimeout for webkit compatibility
  frontend/tests/e2e/pages/BasePage.ts
Due: prettier-frontend, eslint, typescript-check

fix: increase webkit test timeout to 30s for complex workflows
  frontend/playwright.config.ts
Due: prettier-frontend, eslint, typescript-check

test: uplevel test coverage and CI parallelization
  .github/workflows/ci.yml
  backend/tests/unit/test_json_utils.py
  backend/tests/unit/test_url_validation.py
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/e2e/specs/accessibility.spec.ts
  frontend/tests/e2e/specs/smoke.spec.ts
  frontend/tests/e2e/utils/accessibility.ts
  frontend/tests/e2e/utils/index.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: increase error state test timeout for CI reliability
  frontend/tests/e2e/specs/system.spec.ts
Due: prettier-frontend, eslint, typescript-check

perf: optimize slow tests to pass performance audit
  backend/tests/integration/test_cache_service_integration.py
  backend/tests/unit/conftest.py
  backend/tests/unit/test_alert_dedup.py
  backend/tests/unit/test_dedup_key.py
  backend/tests/unit/test_performance_collector.py
  backend/tests/unit/test_violence_loader.py
  frontend/tests/e2e/specs/navigation.spec.ts
  frontend/tests/e2e/specs/system.spec.ts
  scripts/audit-test-durations.py
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

test: update CameraGrid tests for role=group accessibility change
  frontend/src/components/dashboard/CameraGrid.test.tsx
Due: prettier-frontend, eslint, typescript-check

fix: resolve duplicate test title in smoke.spec.ts
  frontend/tests/e2e/specs/smoke.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: resolve CI failures in integration tests and accessibility
  .github/workflows/ci.yml
  backend/tests/integration/test_file_watcher_filesystem.py
  backend/tests/unit/test_benchmark_vram.py
  frontend/src/components/settings/AlertRulesSettings.tsx
  scripts/audit-test-durations.py
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: resolve E2E test failures
  frontend/src/components/dashboard/StatsRow.tsx
  frontend/tests/e2e/specs/system.spec.ts
Due: prettier-frontend, eslint, typescript-check

test: exclude color-contrast from a11y tests pending design system fix
  frontend/tests/e2e/specs/accessibility.spec.ts
  frontend/tests/e2e/specs/smoke.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: change CameraGrid role from list to group for WCAG compliance
  frontend/src/components/dashboard/CameraGrid.tsx
Due: prettier-frontend, eslint, typescript-check
