Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: .venv/bin/python scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: .venv/bin/python scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

fix(e2e): add waitForAlertsLoad before checking error state
  frontend/tests/e2e/specs/alerts.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix(e2e): fix dashboard error tests to not wait for pageTitle
  frontend/tests/e2e/specs/error-handling.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix(e2e): increase timeline error test timeout to 15000ms
  frontend/tests/e2e/specs/error-handling.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix(ci): make E2E tests non-blocking while stabilizing
  .github/workflows/ci.yml
  frontend/tests/e2e/specs/dashboard.spec.ts
  frontend/tests/e2e/specs/error-handling.spec.ts
  frontend/tests/e2e/specs/events.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix(ui): replace confusing "Critical" badge with star icon for essential workers
  frontend/src/components/system/WorkerStatusPanel.test.tsx
  frontend/src/components/system/WorkerStatusPanel.tsx
Due: prettier-frontend, eslint, typescript-check

fix(tests): update mock paths for useSidebarContext
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/layout/Sidebar.test.tsx
Due: prettier-frontend, eslint, typescript-check

feat: enhance Nemotron for detailed reasoning
  backend/services/nemotron_analyzer.py
  backend/services/prompts.py
Due: none

fix: Nemotron ChatML format and response parsing
  backend/services/nemotron_analyzer.py
  backend/services/prompts.py
  docker-compose.prod.yml
Due: none

feat: auto-seed cameras from filesystem on startup
  backend/main.py
  scripts/seed-cameras.py
Due: none

docs: add comprehensive vision extraction design
  .beads/issues.jsonl
  docs/plans/2026-01-01-vision-extraction-design.md
Due: none

docs: add prompt enrichment and Model Zoo design
  .beads/issues.jsonl
  docs/plans/2026-01-01-prompt-enrichment-design.md
Due: none

feat: implement vision extraction pipeline with Florence-2, CLIP, and SSIM
  .beads/issues.jsonl
  backend/core/config.py
  backend/scripts/benchmark_vram.py
  backend/services/__init__.py
  backend/services/clip_loader.py
  backend/services/context_enricher.py
  backend/services/enrichment_pipeline.py
  backend/services/face_detector.py
  backend/services/florence_extractor.py
  backend/services/florence_loader.py
  backend/services/model_zoo.py
  backend/services/nemotron_analyzer.py
  backend/services/ocr_service.py
  backend/services/plate_detector.py
  backend/services/prompts.py
  backend/services/reid_service.py
  backend/services/scene_change_detector.py
  backend/services/vision_extractor.py
  backend/tests/integration/test_vision_extraction_pipeline.py
  backend/tests/unit/test_benchmark_vram.py
  backend/tests/unit/test_context_enricher.py
  backend/tests/unit/test_face_detector.py
  backend/tests/unit/test_florence_extractor.py
  backend/tests/unit/test_model_zoo.py
  backend/tests/unit/test_ocr_service.py
  backend/tests/unit/test_performance_collector.py
  backend/tests/unit/test_plate_detector.py
  backend/tests/unit/test_reid_service.py
  backend/tests/unit/test_scene_change_detector.py
  backend/tests/unit/test_vision_extractor.py
  docs/plans/prompt-enrichment-tasks.md
  pyproject.toml
  uv.lock
  vsftpd/vsftpd.conf
Due: check-test-mocks, check-test-timeouts

fix: mock seed_cameras_if_empty in test_media_api.py
  backend/tests/integration/test_media_api.py
Due: check-test-mocks, check-test-timeouts

fix: mock seed_cameras_if_empty in test_websocket.py
  backend/tests/integration/test_websocket.py
Due: check-test-mocks, check-test-timeouts

fix: resolve P0/P1 security vulnerabilities
  .env.example
  backend/api/middleware/auth.py
  backend/api/middleware/rate_limit.py
  backend/api/routes/cameras.py
  backend/api/routes/detections.py
  backend/api/routes/websocket.py
  backend/core/config.py
  backend/core/logging.py
  backend/core/redis.py
  backend/core/tls.py
  backend/services/cleanup_service.py
  backend/services/clip_generator.py
  backend/services/pipeline_workers.py
  backend/services/video_processor.py
  backend/tests/unit/test_clip_generator.py
  backend/tests/unit/test_config.py
  backend/tests/unit/test_logging.py
  backend/tests/unit/test_rate_limit.py
  backend/tests/unit/test_redis.py
  backend/tests/unit/test_video_processor.py
  frontend/package-lock.json
  frontend/src/hooks/useConnectionStatus.test.ts
  frontend/src/hooks/useConnectionStatus.ts
  frontend/src/hooks/useEventStream.ts
  frontend/src/hooks/usePerformanceMetrics.ts
  frontend/src/hooks/useServiceStatus.ts
  frontend/src/hooks/useSystemStatus.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/hooks/useWebSocketStatus.ts
  frontend/src/services/api.test.ts
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: mock rate limiter in camera snapshot unit tests
  backend/tests/unit/test_cameras_routes.py
Due: check-test-timeouts

fix: resolve CI failures from PR #93
  backend/api/middleware/rate_limit.py
  backend/core/logging.py
  backend/tests/unit/test_rate_limit.py
  frontend/tests/e2e/specs/audit.spec.ts
  frontend/tests/e2e/specs/dashboard.spec.ts
  frontend/tests/e2e/specs/error-handling.spec.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: mock cache service in camera and events unit tests
  backend/tests/unit/test_cameras_routes.py
  backend/tests/unit/test_events_routes.py
Due: check-test-timeouts

fix: security improvements and test fixes for P2 issues
  backend/api/middleware/rate_limit.py
  backend/api/routes/events.py
  backend/api/routes/system.py
  backend/api/schemas/camera.py
  backend/api/schemas/notification.py
  backend/core/config.py
  backend/core/database.py
  backend/core/url_validation.py
  backend/services/event_broadcaster.py
  backend/tests/integration/test_cameras_api.py
  backend/tests/unit/test_cameras_routes.py
  backend/tests/unit/test_database_utils.py
  backend/tests/unit/test_event_broadcaster.py
  backend/tests/unit/test_events_routes.py
  backend/tests/unit/test_notification_webhook_ssrf.py
  backend/tests/unit/test_rate_limit.py
  backend/tests/unit/test_system_routes.py
  backend/tests/unit/test_url_validation.py
  backend/tests/unit/test_websocket.py
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix(rate_limit): use security-conscious IP masking in log messages
  backend/api/middleware/rate_limit.py
Due: none

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
