Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$

feat: add video file support for camera uploads
  frontend/src/services/api.ts
Due: prettier-frontend, eslint, typescript-check

docs: update all AGENTS.md files for video support feature
  backend/AGENTS.md
  backend/core/AGENTS.md
  backend/models/AGENTS.md
  backend/services/AGENTS.md
  data/AGENTS.md
  docs/AGENTS.md
  docs/plans/AGENTS.md
  frontend/src/hooks/AGENTS.md
  frontend/tests/e2e/AGENTS.md
Due: none

feat: add lightbox, fix camera thumbnails, verify SQLite config
  backend/tests/unit/test_database.py
  frontend/src/services/api.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix: audit remediation - healthchecks, video pipeline, Redis handling, MIME types
  backend/core/__init__.py
  backend/core/config.py
Due: none

fix: audit remediation batch 2 - camera contract, CI, nginx, scripts, docs
  .github/workflows/ci.yml
  backend/models/camera.py
  frontend/tests/e2e/AGENTS.md
  scripts/smoke-test.sh
  scripts/test-docker.sh
Due: none

fix: audit batch 3 - RT-DETR reliability, queue safety, PostgreSQL migration
  .env.example
  README.md
  backend/core/config.py
  backend/core/database.py
  backend/models/log.py
  backend/requirements.txt
  backend/services/__init__.py
  backend/tests/conftest.py
  backend/tests/unit/test_config.py
  backend/tests/unit/test_database.py
  docs/RUNTIME_CONFIG.md
Due: check-test-timeouts

fix: update tests to work with PostgreSQL-only configuration
  backend/tests/unit/test_benchmarks.py
Due: check-test-timeouts

fix: use timezone-aware DateTime columns for PostgreSQL compatibility
  backend/tests/conftest.py
Due: check-test-timeouts

fix: integration test isolation and error message assertions
  backend/tests/conftest.py
Due: check-test-timeouts

fix(tests): improve DlqMonitor refresh button test reliability
  frontend/src/components/settings/DlqMonitor.test.tsx
Due: prettier-frontend, eslint, typescript-check

fix(tests): resolve integration test fixture ordering issues
  backend/services/AGENTS.md
  backend/tests/conftest.py
Due: check-test-timeouts

fix(tests): add clean_full_stack fixture to full stack integration tests
  backend/tests/integration/test_full_stack.py
Due: check-test-mocks, check-test-timeouts

fix(tests): add clean_pipeline fixture to pipeline E2E tests
  backend/tests/integration/test_pipeline_e2e.py
Due: check-test-mocks, check-test-timeouts

feat: add TLS support and graceful degradation
  backend/core/__init__.py
  backend/core/config.py
  backend/core/tls.py
  backend/main.py
  backend/services/__init__.py
  backend/services/circuit_breaker.py
  backend/services/degradation_manager.py
  backend/tests/unit/test_circuit_breaker.py
  backend/tests/unit/test_degradation_manager.py
  backend/tests/unit/test_tls.py
  scripts/generate_certs.py
Due: check-test-timeouts

style: auto-fix ruff and prettier formatting
  backend/tests/conftest.py
  docs/RUNTIME_CONFIG.md
Due: check-test-timeouts

build: regenerate API types from OpenAPI spec
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: register missing routers (alerts, audit, zones) in main.py
  backend/main.py
Due: none

build: regenerate API types with alerts, audit, zones endpoints
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: resolve CI failures (SAST, GPU tests)
  .beads/issues.jsonl
  .gitignore
  .semgrepignore
  .venv
Due: none

fix: handle empty GPU test collection in CI
  .github/workflows/gpu-tests.yml
Due: none

fix: disable xdist for benchmark tests in GPU CI
  .github/workflows/gpu-tests.yml
Due: none

fix: override pytest addopts for benchmark tests
  .github/workflows/gpu-tests.yml
Due: none

fix: make benchmark tests optional on GPU runner
  .github/workflows/gpu-tests.yml
Due: none
