Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

generate-api-types:
  name: Generate TypeScript API Types
  entry: bash -c './scripts/generate-types.sh && git add frontend/src/types/generated/api.ts'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv lock file is up-to-date
  entry: bash -c 'cd "$0" && uv lock --check' .
  language: system
  pass_filenames: false

npm-install-check:
  name: Check npm dependencies are installed
  entry: bash -c 'cd frontend && npm ci --prefer-offline --no-audit --dry-run'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-validation-drift:
  name: Check validation drift (Pydantic/Zod)
  entry: python3 scripts/check-validation-drift.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

docs: add RTSP camera configuration UI design document
  docs/plans/2025-01-30-rtsp-camera-configuration-ui-design.md
Due: none

feat: add RTSP Camera Configuration UI infrastructure (NEM-4380)
  .gitignore
  backend/api/routes/AGENTS.md
  backend/api/routes/cameras.py
  backend/api/routes/onvif.py
  backend/api/schemas/camera.py
  backend/api/schemas/onvif.py
  backend/models/camera.py
  backend/services/AGENTS.md
  backend/services/__init__.py
  backend/services/frame_extractor.py
  backend/services/onvif_service.py
  backend/services/stream_manager.py
  backend/tests/chaos/test_worker_chaos.py
  backend/tests/integration/test_cameras_rtsp_api.py
  backend/tests/integration/test_onvif_discovery_api.py
  backend/tests/integration/test_preview_api.py
  backend/tests/integration/test_stream_config_api.py
  backend/tests/unit/api/schemas/test_stream_config.py
  backend/tests/unit/services/test_credential_service.py
  backend/tests/unit/services/test_go2rtc_client.py
  backend/tests/unit/services/test_onvif_service.py
  backend/tests/unit/services/test_rtsp_test_service.py
  backend/tests/unit/services/test_stream_config_service.py
  docs/api/AGENTS.md
  docs/architecture/api-reference/cameras-api.md
  docs/development/tdd-stream-config-tests.md
  docs/guides/AGENTS.md
  docs/plans/2025-01-30-phase2-onvif-discovery-tests-summary.md
  docs/testing/NEM-4191-test-summary.md
  docs/testing/phase-4-go2rtc-preview-tests.md
Due: generate-openapi, generate-api-types, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

chore: recover metrics and Grafana dashboard work from fine6
  ai/yolo26/tests/test_metrics.py
  backend/services/zone_crossing_service.py
  docs/development/metrics-implementation-status.md
  docs/guides/profiling.md
  docs/operations/profiling-runbook.md
  monitoring/AGENTS.md
  monitoring/grafana/dashboards/AGENTS.md
  monitoring/grafana/dashboards/ai-services.json
  monitoring/grafana/dashboards/analytics.json
  monitoring/grafana/dashboards/api-health.json
  monitoring/grafana/dashboards/consolidated.json
  monitoring/grafana/dashboards/hsi-request-profiling.json
  monitoring/grafana/dashboards/tracing.json
  monitoring/grafana/dashboards/video-analytics.json
  monitoring/prometheus-rules.yml
  monitoring/pyroscope/pyroscope-config.yml
  scripts/audit_grafana_queries.py
Due: check-integration-tests

feat(quality): add AI pipeline quality testing infrastructure
  .secrets.baseline
Due: none

fix(scripts): add robust build artifact pruning to redeploy.sh
  .secrets.baseline
Due: none

fix(scripts): verify ports available before starting containers
  .secrets.baseline
Due: none

feat(dashboards): add missing analytics and RED summary panels (NEM-3956, NEM-3945)
  monitoring/grafana/dashboards/analytics.json
  monitoring/grafana/dashboards/api-health.json
Due: none

fix(scripts): redeploy fixes and TensorRT parallelization
  .secrets.baseline
  frontend/Dockerfile
  scripts/redeploy/orchestrator.py
  scripts/redeploy/services/builder.py
  scripts/redeploy/services/storage.py
Due: none

fix(audit): improve Grafana PromQL audit accuracy (NEM-4153)
  scripts/audit_grafana_queries.py
Due: none

test: add integration tests for ai_quality_metrics service
  .secrets.baseline
  backend/tests/integration/test_ai_quality_metrics.py
Due: check-test-mocks, check-test-timeouts

feat: add missing rtsp_test_service module
  backend/services/rtsp_test_service.py
Due: check-integration-tests

feat: HTTPS-only frontend and remove alembic migrations
  docker-compose.prod.yml
  scripts/redeploy/services/database.py
Due: none

fix: resolve pre-push hook failures
  backend/tests/chaos/test_worker_chaos.py
  backend/tests/integration/test_ai_quality_metrics.py
  backend/tests/unit/services/test_rtsp_test_service.py
Due: check-test-mocks, check-test-timeouts

fix: update RTSP test service and camera test mocks for NEM-4191
  backend/services/rtsp_test_service.py
  backend/tests/unit/api/routes/test_cameras.py
  backend/tests/unit/services/test_rtsp_test_service.py
Due: check-test-timeouts, check-integration-tests

fix: add folder_path to restore service test camera data
  backend/tests/unit/services/test_restore_service.py
Due: check-test-timeouts

feat: add credential and go2rtc service implementations (NEM-4382, NEM-4400)
  backend/services/credential_service.py
  backend/services/go2rtc_client.py
Due: check-integration-tests

fix: correct AsyncMock usage in test_get_db_close_called_on_exception
  .secrets.baseline
  backend/tests/unit/core/test_database.py
Due: check-test-timeouts

fix: include all NOT NULL columns in test_camera_status_enum_enforced
  backend/tests/integration/test_data_corruption.py
Due: check-test-mocks, check-test-timeouts

fix: add AI service health checks and fix clothing classification
  ai/enrichment/model.py
  ai/enrichment/model_registry.py
  docker-compose.prod.yml
Due: none

fix(scripts): start observability services in redeploy
  scripts/redeploy/services/containers.py
Due: none

fix: add missing folder_path arg to Camera in streaming tests
  backend/tests/unit/services/test_nemotron_streaming.py
Due: check-test-timeouts

perf: additional redeploy optimizations for faster deployment
  scripts/redeploy/orchestrator.py
  scripts/redeploy/services/health.py
  scripts/redeploy/services/tensorrt.py
Due: none

fix: correct Pyroscope 1.18.0 config field names
  monitoring/pyroscope/pyroscope-config.yml
Due: none

fix(monitoring): fix Pyroscope config for v1.18.0 compatibility
  monitoring/pyroscope/pyroscope-config.yml
Due: none

fix: implement GPT-5 code review fixes (NEM-4407 epic)
  .github/workflows/ci.yml
  .secrets.baseline
  ai/clip/model.py
  ai/enrichment-light/model.py
  ai/enrichment-light/security.py
  ai/yolo26/model.py
  ai/yolo26/security.py
  ai/yolo26/tests/test_security.py
  backend/api/middleware/prometheus.py
  backend/api/routes/analytics.py
  backend/api/routes/detections.py
  backend/api/routes/events.py
  backend/api/routes/feedback.py
  backend/api/routes/logs.py
  backend/api/routes/zone_anomalies.py
  backend/core/config.py
  backend/core/logging.py
  backend/core/security.py
  backend/evaluation/harness.py
  backend/repositories/base.py
  backend/scripts/init_schema.py
  backend/services/enrichment_pipeline.py
  backend/services/osnet_loader.py
  backend/services/prompts.py
  backend/services/reid_service.py
  backend/services/vehicle_classifier_loader.py
  backend/tests/conftest.py
  backend/tests/integration/conftest.py
  backend/tests/security/test_admin_access_control.py
  backend/tests/unit/api/middleware/test_prometheus.py
  backend/tests/unit/api/routes/test_analytics.py
  backend/tests/unit/api/routes/test_detections.py
  backend/tests/unit/core/test_security.py
  backend/tests/unit/services/test_osnet_loader.py
  docker-compose.prod.yml
  docs/openapi.json
  frontend/src/types/generated/api.ts
  frontend/src/utils/grafanaUrl.ts
  scripts/redeploy.sh
  scripts/validate_docs/validators/file_exists.py
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-integration-tests

fix: fix CI failures in security tests
  backend/tests/security/conftest.py
  backend/tests/unit/core/test_config.py
Due: check-test-timeouts

fix: fallback to non-atomic redis for test mocks
  backend/services/reid_service.py
Due: check-integration-tests

docs: enforce linear-python skill for all Linear operations
  CLAUDE.md
Due: none

docs: add security policy for responsible disclosure
  SECURITY.md
Due: none

fix(security): update dependencies for Dependabot alerts
  frontend/package-lock.json
  uv.lock
Due: uv-lock-check, npm-install-check

feat: add VEO3 video generation tooling
  docs/media/generate_veo3_videos.py
  docs/media/generate_veo3_videos.sh
Due: none

docs: add security policy for responsible disclosure (#5198)
  SECURITY.md
Due: none

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
