Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$

fix: resolve 2 beads - System Monitoring redesign and DB test isolation
  backend/tests/integration/AGENTS.md
  backend/tests/integration/conftest.py
  frontend/src/components/system/PipelineMetricsPanel.test.tsx
  frontend/src/components/system/PipelineMetricsPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/components/system/WorkerStatusPanel.test.tsx
  frontend/src/components/system/WorkerStatusPanel.tsx
  frontend/src/components/system/index.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

test: fix media integration tests for lifespan mocking
  .beads/issues.jsonl
Due: none

fix: add cleanup_keys to vulture whitelist
  .beads/issues.jsonl
Due: none

fix: resolve 4 beads - pipeline latency, WebSocket dedup, camera fixes
  .beads/issues.jsonl
Due: none

fix: resolve 9 beads - WebSocket, tests, AI model improvements
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-02 23:48:47
  .beads/issues.jsonl
Due: none

feat: update branding with NVIDIA logo and document Vite proxy config
  .env.example
  frontend/public/images/nvidia-logo-white.svg
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/layout/Header.tsx
  scripts/generate-types.sh
Due: prettier-frontend, eslint, typescript-check

feat: update branding with NVIDIA logo and document Vite proxy config (#149)
  .beads/issues.jsonl
  .env.example
  frontend/public/images/nvidia-logo-white.svg
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/layout/Header.tsx
  scripts/generate-types.sh
Due: prettier-frontend, eslint, typescript-check

fix: resolve infinite re-render loop in SystemMonitoringPage
  frontend/src/components/system/SystemMonitoringPage.tsx
Due: prettier-frontend, eslint, typescript-check

fix: resolve 2 beads - System Monitoring redesign and DB test isolation (lbg6, drs3) (#148)
  backend/tests/integration/AGENTS.md
  backend/tests/integration/conftest.py
  frontend/src/components/settings/ProcessingSettings.test.tsx
  frontend/src/components/system/PipelineMetricsPanel.test.tsx
  frontend/src/components/system/PipelineMetricsPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/components/system/WorkerStatusPanel.test.tsx
  frontend/src/components/system/WorkerStatusPanel.tsx
  frontend/src/components/system/index.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

test: update E2E tests for redesigned System Monitoring page
  frontend/tests/e2e/pages/SystemPage.ts
  frontend/tests/e2e/specs/settings.spec.ts
  frontend/tests/e2e/specs/system.spec.ts
Due: prettier-frontend, eslint, typescript-check

test: update E2E tests for redesigned System Monitoring page (#150)
  frontend/tests/e2e/pages/SystemPage.ts
  frontend/tests/e2e/specs/settings.spec.ts
  frontend/tests/e2e/specs/system.spec.ts
Due: prettier-frontend, eslint, typescript-check

feat: add Entity Re-identification API endpoints (0h34)
  backend/api/routes/__init__.py
  backend/api/routes/entities.py
  backend/api/schemas/entities.py
  backend/main.py
  backend/tests/integration/test_entities_api.py
  backend/tests/unit/api/routes/__init__.py
  backend/tests/unit/api/routes/test_entities.py
Due: check-test-mocks, check-test-timeouts

chore: regenerate API types after rebase
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

feat: add AI Audit Dashboard with model contributions and quality scores (syem)
  frontend/src/App.tsx
  frontend/src/components/ai/AIAuditPage.test.tsx
  frontend/src/components/ai/AIAuditPage.tsx
  frontend/src/components/ai/ModelContributionChart.test.tsx
  frontend/src/components/ai/ModelContributionChart.tsx
  frontend/src/components/ai/ModelLeaderboard.test.tsx
  frontend/src/components/ai/ModelLeaderboard.tsx
  frontend/src/components/ai/QualityScoreTrends.test.tsx
  frontend/src/components/ai/QualityScoreTrends.tsx
  frontend/src/components/ai/RecommendationsPanel.test.tsx
  frontend/src/components/ai/RecommendationsPanel.tsx
  frontend/src/components/ai/index.ts
  frontend/src/components/layout/Sidebar.test.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/services/api.ts
  frontend/src/types/generated/index.ts
  frontend/tests/e2e/fixtures/api-mocks.ts
  frontend/tests/e2e/fixtures/test-data.ts
  frontend/tests/e2e/pages/AIAuditPage.ts
  frontend/tests/e2e/pages/index.ts
  frontend/tests/e2e/specs/ai-audit.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix: remove AI MODELS tab from settings E2E tests
  frontend/tests/e2e/pages/SettingsPage.ts
Due: prettier-frontend, eslint, typescript-check

feat: AI Audit Dashboard - model contributions and quality scores (syem) (#147)
  .beads/issues.jsonl
  backend/api/routes/__init__.py
  backend/api/routes/entities.py
  backend/api/schemas/entities.py
  backend/main.py
  backend/tests/integration/test_entities_api.py
  backend/tests/unit/api/routes/__init__.py
  backend/tests/unit/api/routes/test_entities.py
  frontend/src/App.tsx
  frontend/src/components/ai/AIAuditPage.test.tsx
  frontend/src/components/ai/AIAuditPage.tsx
  frontend/src/components/ai/ModelContributionChart.test.tsx
  frontend/src/components/ai/ModelContributionChart.tsx
  frontend/src/components/ai/ModelLeaderboard.test.tsx
  frontend/src/components/ai/ModelLeaderboard.tsx
  frontend/src/components/ai/QualityScoreTrends.test.tsx
  frontend/src/components/ai/QualityScoreTrends.tsx
  frontend/src/components/ai/RecommendationsPanel.test.tsx
  frontend/src/components/ai/RecommendationsPanel.tsx
  frontend/src/components/ai/index.ts
  frontend/src/components/layout/Sidebar.test.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
  frontend/tests/e2e/fixtures/api-mocks.ts
  frontend/tests/e2e/fixtures/test-data.ts
  frontend/tests/e2e/pages/AIAuditPage.ts
  frontend/tests/e2e/pages/SettingsPage.ts
  frontend/tests/e2e/pages/index.ts
  frontend/tests/e2e/specs/ai-audit.spec.ts
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

bd sync: 2026-01-03 07:19:39
  .beads/issues.jsonl
Due: none

feat: add database seeding to redeploy script
  scripts/redeploy.sh
Due: none

feat: enhance redeploy.sh with clean volumes and CI verification
  .beads/issues.jsonl
  scripts/redeploy.sh
Due: none

feat: enhance redeploy.sh with clean volumes and CI verification (#151)
  .beads/issues.jsonl
  scripts/redeploy.sh
Due: none

feat: migrate issue tracking from beads to Linear
  .gitignore
  CLAUDE.md
  docs/LINEAR_SETUP_PROMPT.md
  scripts/migrate_beads_to_linear.py
Due: none

feat: migrate issue tracking from beads to Linear (#1142)
  .gitignore
  CLAUDE.md
  docs/LINEAR_SETUP_PROMPT.md
  scripts/migrate_beads_to_linear.py
Due: none

feat: add thumbnail_url to event cards
  .beads/issues.jsonl
  .pre-commit-config.yaml
  backend/api/routes/events.py
  backend/api/routes/media.py
  backend/api/schemas/events.py
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

docs: prune CLAUDE.md and add Linear MCP tools documentation
  CLAUDE.md
Due: none

docs: prune CLAUDE.md and add Linear MCP tools documentation (#1144)
  .beads/issues.jsonl
  .pre-commit-config.yaml
  CLAUDE.md
  backend/api/routes/events.py
  backend/api/routes/media.py
  backend/api/schemas/events.py
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

test: uplevel test coverage across backend and frontend
  .github/workflows/ci.yml
  backend/services/audit_service.py
  backend/tests/conftest.py
  backend/tests/integration/test_ai_audit_api.py
  backend/tests/integration/test_cameras_api.py
  backend/tests/integration/test_system_api.py
  backend/tests/integration/test_zones_api.py
  backend/tests/unit/core/test_redis.py
  backend/tests/unit/core/test_websocket_circuit_breaker.py
  backend/tests/unit/test_audit_service.py
  backend/tests/unit/test_enrichment_pipeline.py
  frontend/src/components/ai/AIPerformancePage.test.tsx
  frontend/src/components/ai/InsightsCharts.test.tsx
  frontend/src/components/ai/LatencyPanel.test.tsx
  frontend/src/components/ai/ModelStatusCards.test.tsx
  frontend/src/components/ai/PipelineHealthPanel.test.tsx
  frontend/src/hooks/useAIMetrics.test.ts
  frontend/vite.config.ts
  pyproject.toml
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

fix: resolve CI failures for backend integration and E2E tests
  backend/tests/integration/test_api_error_scenarios.py
  frontend/playwright.config.ts
  frontend/tests/e2e/AGENTS.md
  scripts/audit-test-durations.py
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts
