Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-integration-tests

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$

feat: add Alertmanager webhook receiver for infrastructure alerts
  .secrets.baseline
  backend/alembic/versions/add_extended_gpu_stats_columns.py
  backend/api/routes/system.py
  backend/api/routes/webhooks.py
  backend/api/schemas/system.py
  backend/api/schemas/webhooks.py
  backend/api/schemas/websocket.py
  backend/main.py
  backend/models/gpu_stats.py
  backend/services/event_broadcaster.py
  backend/services/gpu_monitor.py
  backend/tests/unit/api/routes/test_webhooks.py
  docker-compose.prod.yml
  docs/openapi.json
  frontend/docker-entrypoint.sh
  frontend/src/components/analytics/AnalyticsPage.tsx
  monitoring/json-exporter-config.yml
  pyproject.toml
  uv.lock
Due: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-timeouts, check-integration-tests

refactor(grafana): reorganize dashboard for better metric discoverability
  monitoring/grafana/dashboards/consolidated.json
Due: none

feat(monitoring): add comprehensive GPU and AI container metrics
  ai/clip/model.py
  ai/clip/requirements.txt
  ai/enrichment/model.py
  ai/enrichment/requirements.txt
  ai/florence/model.py
  ai/florence/requirements.txt
  ai/rtdetr/model.py
  ai/rtdetr/requirements.txt
  backend/alembic/versions/add_extended_gpu_metrics_columns.py
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/models/gpu_stats.py
  backend/services/gpu_monitor.py
  docs/openapi.json
  monitoring/grafana/dashboards/consolidated.json
  monitoring/json-exporter-config.yml
  monitoring/prometheus.yml
Due: generate-openapi, check-integration-tests

fix(grafana): remove duplicate queue panels from dashboard
  monitoring/grafana/dashboards/consolidated.json
Due: none

fix(test): remove detection_ids column references from integration tests
  backend/tests/integration/api/test_cursor_pagination.py
  backend/tests/integration/test_admin_api.py
  backend/tests/integration/test_events_api.py
  backend/tests/integration/test_full_stack.py
  backend/tests/integration/test_nemotron_analyzer.py
  backend/tests/integration/test_nemotron_analyzer_integration.py
  backend/tests/integration/test_pipeline_e2e.py
  backend/tests/integration/test_search_api.py
  backend/tests/integration/test_transaction_rollback.py
Due: check-test-mocks, check-test-timeouts

fix: resolve DetachedInstanceError in integration tests
  backend/tests/integration/test_admin_api.py
  backend/tests/integration/test_nemotron_analyzer.py
  backend/tests/integration/test_pipeline_e2e.py
  backend/tests/integration/test_transaction_rollback.py
Due: check-test-mocks, check-test-timeouts

fix(e2e): add missing /api/detections/stats mock for Analytics page
  frontend/tests/e2e/fixtures/api-mocks.ts
Due: prettier-frontend, eslint, typescript-check

feat(debug): add memory profiling endpoints and increase backend memory limit
  .secrets.baseline
  backend/api/routes/debug.py
  backend/tests/unit/api/routes/test_debug.py
  backend/tests/unit/api/routes/test_debug_api.py
  backend/tests/unit/core/test_websocket.py
  docker-compose.prod.yml
  docs/openapi.json
  frontend/src/types/generated/api.ts
  pyproject.toml
  uv.lock
Due: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-timeouts, check-integration-tests

fix(e2e): add missing analytics API mocks for detection-trends and risk-history
  frontend/tests/e2e/fixtures/api-mocks.ts
Due: prettier-frontend, eslint, typescript-check

feat(debug): add memory profiling endpoints and increase backend memory limit (#3182)
  .secrets.baseline
  ai/clip/model.py
  ai/clip/requirements.txt
  ai/enrichment/model.py
  ai/enrichment/requirements.txt
  ai/florence/model.py
  ai/florence/requirements.txt
  ai/rtdetr/model.py
  ai/rtdetr/requirements.txt
  backend/alembic/versions/add_extended_gpu_metrics_columns.py
  backend/alembic/versions/add_extended_gpu_stats_columns.py
  backend/api/routes/debug.py
  backend/api/routes/system.py
  backend/api/routes/webhooks.py
  backend/api/schemas/system.py
  backend/api/schemas/webhooks.py
  backend/api/schemas/websocket.py
  backend/main.py
  backend/models/gpu_stats.py
  backend/services/event_broadcaster.py
  backend/services/gpu_monitor.py
  backend/tests/unit/api/routes/test_debug.py
  backend/tests/unit/api/routes/test_debug_api.py
  backend/tests/unit/api/routes/test_webhooks.py
  backend/tests/unit/core/test_websocket.py
  docker-compose.prod.yml
  docs/openapi.json
  frontend/docker-entrypoint.sh
  frontend/src/components/analytics/AnalyticsPage.tsx
  frontend/src/types/generated/api.ts
  monitoring/grafana/dashboards/consolidated.json
  monitoring/json-exporter-config.yml
  monitoring/prometheus.yml
  pyproject.toml
  uv.lock
Due: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-timeouts, check-integration-tests

fix(e2e): correct events_by_camera format from object to array
  frontend/tests/e2e/fixtures/test-data.ts
Due: prettier-frontend, eslint, typescript-check

ci: optimize CI/CD pipeline to reduce total CI time by 30-45%
  .github/workflows/ci.yml
Due: none

perf(tests): optimize backend test execution time
  TEST_OPTIMIZATION_SUMMARY.md
  backend/tests/factories.py
  backend/tests/integration/conftest.py
  backend/tests/unit/test_job_progress_reporter.py
  docs/development/testing.md
  pyproject.toml
  uv.lock
Due: check-test-mocks, check-test-timeouts

fix(e2e): fix analytics-advanced test failures
  frontend/tests/e2e/specs/analytics-advanced.spec.ts
Due: prettier-frontend, eslint, typescript-check

feat(ci): add load testing and test optimizations
  .github/workflows/load-tests.yml
  OPTIMIZATION_SUMMARY.md
  docs/development/test-optimization-guide.md
  frontend/src/App.lazy.test.tsx
  frontend/src/App.test.tsx
  frontend/src/test/common-mocks.ts
  frontend/src/test/setup.ts
  scripts/load_test.py
Due: prettier-frontend, eslint, typescript-check

perf(ci): optimize CI/CD pipeline and test execution time (#3184)
  .github/workflows/ci.yml
  .github/workflows/load-tests.yml
  OPTIMIZATION_SUMMARY.md
  TEST_OPTIMIZATION_SUMMARY.md
  backend/tests/factories.py
  backend/tests/integration/conftest.py
  backend/tests/unit/test_job_progress_reporter.py
  docs/development/test-optimization-guide.md
  docs/development/testing.md
  frontend/src/App.lazy.test.tsx
  frontend/src/App.test.tsx
  frontend/src/test/common-mocks.ts
  frontend/src/test/setup.ts
  pyproject.toml
  scripts/load_test.py
  uv.lock
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

test(e2e): skip pre-existing failing tests to unblock merge (NEM-2748)
  frontend/tests/e2e/specs/event-export.spec.ts
  frontend/tests/e2e/specs/forms-validation.spec.ts
  frontend/tests/e2e/specs/jobs.spec.ts
  frontend/tests/e2e/specs/user-journeys/detection-workflow.spec.ts
  frontend/tests/e2e/specs/user-journeys/investigation-workflow.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix(ci): run coverage tests serially to avoid pytest-xdist race conditions
  scripts/check-test-coverage-gate.py
Due: none

fix(tests): add mock state reset fixture for pytest-xdist isolation
  backend/tests/unit/routes/test_alerts_routes.py
  scripts/check-test-coverage-gate.py
Due: check-test-timeouts

docs: add Grafana AI audit panels design
  docs/plans/2026-01-17-grafana-ai-audit-panels-design.md
Due: none

feat(grafana): add AI Quality & Audit row with 7 panels (NEM-2769)
  monitoring/grafana/dashboards/consolidated.json
Due: none

refactor(frontend): replace AIPerformancePage with Grafana iframe embed (NEM-2770)
  frontend/src/components/ai/AIPerformancePage.test.tsx
  frontend/src/components/ai/AIPerformancePage.tsx
Due: prettier-frontend, eslint, typescript-check

fix(e2e): use proper Playwright skip syntax for event-export tests
  frontend/tests/e2e/specs/event-export.spec.ts
Due: prettier-frontend, eslint, typescript-check

refactor(frontend): slim System Monitoring to Operations page (NEM-2774)
  frontend/AGENTS.md
  frontend/src/App.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/tests/e2e/pages/SystemPage.ts
  frontend/tests/e2e/visual/responsive.visual.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix(tests): increase debounce test timing margin for CI reliability
  backend/tests/unit/services/test_file_watcher.py
Due: check-test-timeouts

test(frontend): add tests for Operations page (NEM-2775)
  frontend/src/components/system/SystemMonitoringPage.test.tsx
Due: prettier-frontend, eslint, typescript-check

fix(tests): add mock reset to TestOptimisticLocking for parallel isolation
  backend/tests/unit/routes/test_alerts_routes.py
Due: check-test-timeouts

test(e2e): update tests for Operations page and Grafana iframe refactor
  frontend/tests/e2e/pages/AIPerformancePage.ts
  frontend/tests/e2e/specs/accessibility.spec.ts
  frontend/tests/e2e/specs/ai-performance.spec.ts
  frontend/tests/e2e/specs/navigation.spec.ts
  frontend/tests/e2e/specs/realtime.spec.ts
  frontend/tests/e2e/specs/responsive.spec.ts
  frontend/tests/e2e/specs/system.spec.ts
  frontend/tests/e2e/specs/test-tagging.spec.ts
Due: prettier-frontend, eslint, typescript-check

fix(e2e): update navSystem locator and debug mode toggle test
  frontend/tests/e2e/pages/BasePage.ts
  frontend/tests/e2e/specs/system.spec.ts
Due: prettier-frontend, eslint, typescript-check

test(e2e): skip remaining pre-existing failing form validation tests (NEM-2748)
  frontend/tests/e2e/specs/forms-validation.spec.ts
Due: prettier-frontend, eslint, typescript-check

feat: embed Grafana dashboard and refactor System to Operations page (NEM-2768, NEM-2773) (#3198)
  docs/plans/2026-01-17-grafana-ai-audit-panels-design.md
  frontend/AGENTS.md
  frontend/src/App.tsx
  frontend/src/components/ai/AIPerformancePage.test.tsx
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/tests/e2e/pages/AIPerformancePage.ts
  frontend/tests/e2e/pages/BasePage.ts
  frontend/tests/e2e/pages/SystemPage.ts
  frontend/tests/e2e/specs/accessibility.spec.ts
  frontend/tests/e2e/specs/ai-performance.spec.ts
  frontend/tests/e2e/specs/navigation.spec.ts
  frontend/tests/e2e/specs/realtime.spec.ts
  frontend/tests/e2e/specs/responsive.spec.ts
  frontend/tests/e2e/specs/system.spec.ts
  frontend/tests/e2e/specs/test-tagging.spec.ts
  frontend/tests/e2e/visual/responsive.visual.spec.ts
  monitoring/grafana/dashboards/consolidated.json
Due: prettier-frontend, eslint, typescript-check

feat: make Dev Tools always accessible and improve seeding workflow
  .secrets.baseline
  backend/api/routes/admin.py
  backend/tests/integration/test_admin_api.py
  backend/tests/integration/test_api_errors.py
  backend/tests/integration/test_http_error_codes.py
  backend/tests/unit/api/routes/test_admin.py
  backend/tests/unit/routes/test_admin_routes.py
  docs/openapi.json
  frontend/src/components/developer-tools/DeveloperToolsPage.test.tsx
  frontend/src/components/developer-tools/DeveloperToolsPage.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/types/generated/api.ts
  scripts/quick-rebuild.sh
  scripts/seed-mock-events.py
Due: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-integration-tests

feat: make Dev Tools always accessible and improve seeding workflow (#3197)
  .secrets.baseline
  backend/api/routes/admin.py
  backend/tests/integration/test_admin_api.py
  backend/tests/integration/test_api_errors.py
  backend/tests/integration/test_http_error_codes.py
  backend/tests/unit/api/routes/test_admin.py
  backend/tests/unit/routes/test_admin_routes.py
  docs/openapi.json
  frontend/src/components/developer-tools/DeveloperToolsPage.test.tsx
  frontend/src/components/developer-tools/DeveloperToolsPage.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/types/generated/api.ts
  scripts/quick-rebuild.sh
  scripts/seed-mock-events.py
Due: generate-openapi, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-integration-tests

docs: add contextual documentation link design
  docs/plans/2026-01-18-contextual-docs-link-design.md
Due: none
