Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

fix(tests): filter labels with ": " in Hypothesis test
  backend/tests/unit/services/test_prompt_parser.py
Due: check-test-timeouts

fix(tests): fix AIAuditPage test mock isolation and assertion
  frontend/src/components/ai/AIAuditPage.test.tsx
Due: prettier-frontend, eslint, typescript-check

feat: add TDD cycle tracking to CI pipeline (NEM-1663)
  .github/pull_request_template.md
  .github/workflows/ci.yml
Due: none

fix(deps): update urllib3 to 2.6.3 to fix CVE-2026-21441
  pyproject.toml
  uv.lock
Due: none

fix: remove dead code detected by Vulture (NEM-1817)
  backend/tests/unit/api/middleware/test_file_validator.py
Due: check-test-timeouts

feat: implement repository pattern for database access abstraction (NEM-1607)
  backend/repositories/AGENTS.md
  backend/repositories/__init__.py
  backend/repositories/base.py
  backend/repositories/camera_repository.py
  backend/repositories/detection_repository.py
  backend/repositories/event_repository.py
  backend/tests/unit/repositories/__init__.py
  backend/tests/unit/repositories/test_base_repository.py
  backend/tests/unit/repositories/test_camera_repository.py
  backend/tests/unit/repositories/test_detection_repository.py
  backend/tests/unit/repositories/test_event_repository.py
Due: check-test-timeouts

feat: WebSocket message sequencing and delivery guarantees (NEM-1688)
  backend/tests/unit/services/test_message_buffer.py
  docs/slo-definitions.md
  monitoring/alerting-rules.yml
  monitoring/alertmanager.yml
  monitoring/grafana/dashboards/slo.json
  monitoring/prometheus-rules.yml
Due: check-test-timeouts

feat: enable Prometheus alerting and add Alertmanager service (NEM-1630, NEM-1631)
  docker-compose.prod.yml
  monitoring/prometheus.yml
Due: none

style: format SLI/SLO configuration files
  docs/slo-definitions.md
  monitoring/alerting-rules.yml
  monitoring/alertmanager.yml
  monitoring/grafana/dashboards/slo.json
Due: none

fix: add missing message sequencing implementation (NEM-1688)
  backend/services/event_broadcaster.py
Due: none

fix: add message sequencing methods to MockEventBroadcaster
  backend/tests/unit/core/test_websocket.py
Due: check-test-timeouts

feat: add streaming SSE schemas (NEM-1665)
  backend/api/schemas/streaming.py
Due: none

fix: update test to account for NEM-1688 message sequencing
  backend/tests/unit/services/test_event_broadcaster.py
Due: check-test-timeouts

feat: add streaming LLM module for progressive response updates (NEM-1665)
  backend/services/event_broadcaster.py
  backend/tests/unit/services/test_message_buffer.py
Due: check-test-timeouts

feat: implement LLM response streaming for progressive updates (NEM-1665)
  backend/api/routes/events.py
  backend/services/nemotron_analyzer.py
  backend/services/nemotron_streaming.py
  backend/tests/unit/services/test_nemotron_streaming.py
Due: check-test-timeouts

chore: regenerate TypeScript API types
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

feat: multi-agent implementation - LLM streaming, WebSocket reliability, SLI/SLO alerting (#2043)
  backend/api/routes/events.py
  backend/api/schemas/streaming.py
  backend/services/event_broadcaster.py
  backend/services/nemotron_analyzer.py
  backend/services/nemotron_streaming.py
  backend/tests/unit/core/test_websocket.py
  backend/tests/unit/services/test_event_broadcaster.py
  backend/tests/unit/services/test_message_buffer.py
  backend/tests/unit/services/test_nemotron_streaming.py
  docker-compose.prod.yml
  docs/slo-definitions.md
  frontend/src/types/generated/api.ts
  monitoring/alerting-rules.yml
  monitoring/alertmanager.yml
  monitoring/grafana/dashboards/slo.json
  monitoring/prometheus-rules.yml
  monitoring/prometheus.yml
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

fix(tests): correct mock paths and async wait patterns
  backend/tests/integration/test_ai_audit_api.py
  frontend/src/components/analytics/PipelineLatencyPanel.test.tsx
Due: prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts

perf: async Image.open() in AI services (NEM-1458)
  backend/services/face_detector.py
  backend/services/file_watcher.py
  backend/services/ocr_service.py
  backend/services/plate_detector.py
Due: none

chore: migrate CI workflows from pip to uv (NEM-1436)
  .github/workflows/linear-github-sync.yml
  .github/workflows/nightly.yml
  .github/workflows/sast.yml
Due: none

chore: migrate AI service Dockerfiles from pip to uv (NEM-1435)
  ai/clip/Dockerfile
  ai/enrichment/Dockerfile
  ai/florence/Dockerfile
  ai/rtdetr/Dockerfile
Due: none

feat: slow query logging with Prometheus metrics (NEM-1475)
  backend/core/database.py
  backend/core/metrics.py
  backend/tests/unit/core/test_slow_query_logging.py
Due: check-test-timeouts

docs: add deployment documentation (NEM-1580)
  docs/DEPLOYMENT_RUNBOOK.md
  docs/DEPLOYMENT_SAFETY_CHECKLIST.md
  docs/DEPLOYMENT_TROUBLESHOOTING.md
  docs/SERVICE_DEPENDENCIES.md
Due: none

feat: add ErrorBoundary logging service integration (NEM-1476)
  frontend/src/components/common/ErrorBoundary.test.tsx
  frontend/src/components/common/ErrorBoundary.tsx
Due: prettier-frontend, eslint, typescript-check

fix: SearchBar tests timeout issues (NEM-1419)
  frontend/src/components/search/SearchBar.test.tsx
Due: prettier-frontend, eslint, typescript-check

feat: add test mock factory utilities (NEM-1420)
  frontend/src/test-utils/factories.ts
  frontend/src/test-utils/index.ts
Due: prettier-frontend, eslint, typescript-check

feat: batch infrastructure improvements (NEM-1435, NEM-1436, NEM-1580, NEM-1458, NEM-1475, NEM-1419, NEM-1420, NEM-1476) (#2052)
  .github/workflows/linear-github-sync.yml
  .github/workflows/nightly.yml
  .github/workflows/sast.yml
  ai/clip/Dockerfile
  ai/enrichment/Dockerfile
  ai/florence/Dockerfile
  ai/rtdetr/Dockerfile
  backend/core/database.py
  backend/core/metrics.py
  backend/services/face_detector.py
  backend/services/file_watcher.py
  backend/services/ocr_service.py
  backend/services/plate_detector.py
  backend/tests/unit/core/test_slow_query_logging.py
  docs/DEPLOYMENT_RUNBOOK.md
  docs/DEPLOYMENT_SAFETY_CHECKLIST.md
  docs/DEPLOYMENT_TROUBLESHOOTING.md
  docs/SERVICE_DEPENDENCIES.md
  frontend/src/components/common/ErrorBoundary.test.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/search/SearchBar.test.tsx
  frontend/src/test-utils/factories.ts
  frontend/src/test-utils/index.ts
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

ci: disable database logging in CI tests
  .github/workflows/ci.yml
Due: none

fix(ci): use CI environment variables for test database credentials
  backend/tests/conftest.py
  backend/tests/integration/conftest.py
Due: check-test-mocks, check-test-timeouts

test: skip flaky test_very_long_path_handled (NEM-1750)
  backend/tests/integration/test_media_security.py
Due: check-test-mocks, check-test-timeouts

feat: WebSocket message sequencing and delivery guarantees (NEM-1688)
  backend/tests/unit/services/test_message_buffer.py
  docs/slo-definitions.md
  monitoring/alerting-rules.yml
  monitoring/alertmanager.yml
  monitoring/grafana/dashboards/slo.json
Due: check-test-timeouts

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
