Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

generate-api-types:
  name: Generate TypeScript API Types
  entry: bash -c './scripts/generate-types.sh && git add frontend/src/types/generated/api.ts'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv lock file is up-to-date
  entry: bash -c 'cd "$0" && uv lock --check' .
  language: system
  pass_filenames: false

npm-install-check:
  name: Check npm dependencies are installed
  entry: bash -c 'cd frontend && npm ci --prefer-offline --no-audit --dry-run'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-validation-drift:
  name: Check validation drift (Pydantic/Zod)
  entry: python3 scripts/check-validation-drift.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

docs(architecture): add additional hub documents
  docs/architecture/frontend/styling-patterns.md
  docs/architecture/middleware/rate-limiting.md
Due: none

fix: remove autouse from clean_tables fixture
  backend/tests/integration/AGENTS.md
  backend/tests/integration/conftest.py
Due: check-test-mocks, check-test-timeouts

feat: implement database-per-worker test parallelization (NEM-3482)
  backend/tests/integration/AGENTS.md
  backend/tests/integration/conftest.py
  uv.lock
Due: uv-lock-check, check-test-mocks, check-test-timeouts

feat: add CI change detection and fix prompt API URL (NEM-3259)
  .github/workflows/ci.yml
  frontend/src/services/abTestService.ts
Due: prettier-frontend, eslint, typescript-check

fix: correct API URL for prompt playground (NEM-3259)
  frontend/src/services/abTestService.test.ts
Due: prettier-frontend, eslint, typescript-check

chore: regenerate API types
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix: resolve CI failures for contract tests and dead code detection (NEM-3484)
  .env.example
  backend/tests/contracts/test_api_contracts.py
  backend/tests/contracts/test_openapi_schema_validation.py
  backend/tests/integration/conftest.py
  vulture_whitelist.py
Due: check-test-mocks, check-test-timeouts

feat: add Elasticsearch ILM and index template for Jaeger (NEM-3053)
  monitoring/elasticsearch/ilm-policy.json
  monitoring/elasticsearch/index-template.json
Due: none

docs: add Elasticsearch backend documentation (NEM-3053)
  docs/architecture/observability/distributed-tracing.md
Due: none

feat: add Elasticsearch initialization script for Jaeger ILM (NEM-3053)
  scripts/init-elasticsearch.sh
Due: none

test: add Elasticsearch smoke tests (NEM-3053)
  tests/smoke/test_monitoring_smoke.py
Due: none

feat: add Elasticsearch service and update Jaeger for ES backend (NEM-3053)
  docker-compose.prod.yml
Due: none

feat: implement 11 backlog fixes and optimizations (NEM-3245, NEM-3259, NEM-3260, NEM-3272, NEM-3278, NEM-3347, NEM-3480, NEM-3481, NEM-3482, NEM-3483, NEM-3002) (#4006)
  .github/workflows/ci.yml
  backend/api/routes/alerts.py
  backend/api/routes/cameras.py
  backend/api/routes/detections.py
  backend/api/routes/entities.py
  backend/api/routes/events.py
  backend/main.py
  backend/tests/contracts/test_api_contracts.py
  backend/tests/contracts/test_openapi_schema_validation.py
  backend/tests/integration/conftest.py
  docs/openapi.json
  frontend/src/components/ai-performance/AIPerformanceSummaryRow.test.tsx
  frontend/src/components/ai-performance/AIPerformanceSummaryRow.tsx
  frontend/src/components/ai/PipelineHealthPanel.tsx
  frontend/src/components/common/CommandPalette.tsx
  frontend/src/hooks/useExportJobs.test.ts
  frontend/src/hooks/useExportJobs.ts
  frontend/src/pages/DataManagementPage.tsx
  frontend/src/services/abTestService.test.ts
  frontend/src/services/abTestService.ts
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-test-mocks, check-test-timeouts, check-integration-tests

feat: add Elasticsearch to staging compose (NEM-3053)
  docker-compose.staging.yml
Due: none

fix: resolve load test and memory stress test failures (NEM-3485)
  backend/alembic/env.py
Due: none

fix: resolve load test and memory stress test failures (NEM-3485) (#4009)
  backend/alembic/env.py
Due: none

feat: implement multiple backlog tasks (NEM-3053, NEM-3174, NEM-3221, NEM-3484)
  backend/core/template_strings.py
  backend/tests/unit/core/test_template_strings.py
  docs/plans/2026-01-24-jaeger-elasticsearch-persistent-storage.md
  frontend/src/hooks/useServiceMutations.ts
  frontend/src/hooks/useSettingsApi.ts
  optimistic-updates.patch
Due: prettier-frontend, eslint, typescript-check, check-test-timeouts

docs: fix stale component references in docs/ui/AGENTS.md
  ai/nemotron/AGENTS.md
  backend/evaluation/AGENTS.md
  backend/tests/AGENTS.md
  frontend/src/components/pyroscope/AGENTS.md
  frontend/src/components/tracing/AGENTS.md
Due: prettier-frontend

feat: add AGENTS.md Linear sync script
  scripts/agents_md_linear_sync.py
Due: none

docs: add AGENTS.md for backend config and test dirs
  backend/config/AGENTS.md
  backend/tests/integration/core/AGENTS.md
  backend/tests/integration/models/AGENTS.md
  backend/tests/unit/config/AGENTS.md
  backend/tests/unit/evaluation/AGENTS.md
  frontend/src/hooks/__mocks__/AGENTS.md
  frontend/src/hooks/__tests__/AGENTS.md
  frontend/src/hooks/__tests__/integration/AGENTS.md
Due: prettier-frontend

docs: add AGENTS.md for frontend component dirs (part 2)
  frontend/src/components/ai-audit/__tests__/AGENTS.md
  frontend/src/components/common/skeletons/AGENTS.md
  frontend/src/components/settings/prompts/AGENTS.md
  frontend/src/components/settings/prompts/model-forms/AGENTS.md
Due: prettier-frontend

docs: fix scattered stale refs in AGENTS.md files
  monitoring/AGENTS.md
  monitoring/grafana/AGENTS.md
  monitoring/grafana/dashboards/AGENTS.md
  monitoring/grafana/provisioning/AGENTS.md
  monitoring/grafana/provisioning/dashboards/AGENTS.md
  monitoring/grafana/provisioning/datasources/AGENTS.md
Due: none

docs: fix stale references in root AGENTS.md
  AGENTS.md
Due: none

docs: add AGENTS.md for frontend hooks test/mock dirs
  frontend/src/hooks/__mocks__/AGENTS.md
  frontend/src/hooks/__tests__/AGENTS.md
  frontend/src/hooks/__tests__/integration/AGENTS.md
Due: prettier-frontend

docs: fix remaining stale refs in docs/ui/AGENTS.md
  docs/ui/AGENTS.md
Due: none

feat: add AGENTS.md validator script
  .agents-md-validator.yml
  scripts/agents_md_validator.py
Due: none

ci: add AGENTS.md validation workflow
  .github/workflows/agents-md.yml
Due: none

docs: fix remaining stale refs in frontend/src/AGENTS.md
  frontend/src/AGENTS.md
Due: prettier-frontend

docs: fix stale refs in docs/operator/AGENTS.md
  docs/operator/AGENTS.md
Due: none

docs: fix stale refs in .github AGENTS.md files
  .github/codeql/AGENTS.md
  .github/codeql/custom-queries/AGENTS.md
  .github/prompts/AGENTS.md
  .github/workflows/AGENTS.md
Due: none

docs: fix stale refs in frontend test AGENTS.md files
  frontend/src/__mocks__/AGENTS.md
  frontend/src/__tests__/AGENTS.md
Due: prettier-frontend

docs: fix stale component references in docs/ui/AGENTS.md
  docs/ui/AGENTS.md
Due: none

docs: add AGENTS.md for e2e user-journeys
  frontend/tests/e2e/specs/user-journeys/AGENTS.md
Due: prettier-frontend

docs: add AGENTS.md for scripts/validate_docs
  scripts/validate_docs/AGENTS.md
  scripts/validate_docs/parsers/AGENTS.md
  scripts/validate_docs/reports/AGENTS.md
  scripts/validate_docs/validators/AGENTS.md
Due: none

docs: add AGENTS.md for frontend lib/schemas/types dirs
  frontend/src/lib/AGENTS.md
  frontend/src/schemas/AGENTS.md
  frontend/src/test/factories/AGENTS.md
  frontend/src/types/__tests__/AGENTS.md
Due: prettier-frontend

chore: add AGENTS.md validator configuration
  .agents-md-validator.yml
Due: none

docs: add AGENTS.md for AI test directories
  ai/enrichment/tests/AGENTS.md
  ai/florence/tests/AGENTS.md
Due: none

docs: add AGENTS.md for tools/nemo_data_designer
  tools/nemo_data_designer/AGENTS.md
  tools/nemo_data_designer/multimodal/AGENTS.md
Due: none

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
