Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

generate-api-types:
  name: Generate TypeScript API Types
  entry: bash -c './scripts/generate-types.sh && git add frontend/src/types/generated/api.ts'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv lock file is up-to-date
  entry: bash -c 'cd "$0" && uv lock --check' .
  language: system
  pass_filenames: false

npm-install-check:
  name: Check npm dependencies are installed
  entry: bash -c 'cd frontend && npm ci --prefer-offline --no-audit --dry-run'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-validation-drift:
  name: Check validation drift (Pydantic/Zod)
  entry: python3 scripts/check-validation-drift.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

docs(plans): wave-3 dependabot closeout ledger (2026-09-23) (#6673)
  docs/plans/2026-09-21-dependabot-triage.md
Due: none

docs(plans): wave-3 final closeout — v8 digest watch closed clean, ambient-red signature matches, merged-SHA ledger
  docs/plans/2026-09-21-dependabot-triage.md
Due: none

docs(plans): wave-3 final closeout — v8 digest watch closed clean, ambient-red signature matches, merged-SHA ledger (#6675)
  docs/plans/2026-09-21-dependabot-triage.md
Due: none

chore(deps): drop wily from project env, declare radon directly (R-1 ruling)
  docs/plans/2026-09-21-dependabot-triage.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix(deps): declare jsonschema directly (test group) — R-1 wily-drop fallout
  docs/plans/2026-09-21-dependabot-triage.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

chore(deps): drop wily, declare radon directly (R-1 owner ruling) (#6676)
  docs/plans/2026-09-21-dependabot-triage.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs(plans): wave-4 addendum — R-1 merged as 3b48aaf9, ambient signatures matched, new TPA/zero_dce drift entry
  docs/plans/2026-09-21-dependabot-triage.md
Due: none

docs(plans): wave-4 addendum — R-1 merged as 3b48aaf9, ambient signatures matched, new TPA/zero_dce drift entry (#6677)
  docs/plans/2026-09-21-dependabot-triage.md
Due: none

docs(ledger): full-set re-bank exit + first honest post-campaign rescore — 45.744% completed=FALSE, no history append, S3 >=58 disconfirmed
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

fix(ci): clear the two red jobs on #6650 — vulture 12->0, TPA cold-import spike source, stale-baseline created> filter
  backend/tests/unit/conftest.py
  backend/tests/unit/scripts/test_fetch_ci_artifacts_stale_page.py
  pyproject.toml
  scripts/fetch-ci-artifacts.py
  scripts/test_flake_consumer.py
  vulture_whitelist.py
Due: uv-lock-check, check-test-timeouts

docs(ledger): root-cause CLOSED — 19,584 no_tests keys are a truncated stats dependency map, not missing tests; repair full-run launched PID 168075
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

Mutation testing (#6650)
  backend/tests/unit/api/routes/test_llm_reasoning_batch24.py
  backend/tests/unit/api/routes/test_logs_batch13b.py
  backend/tests/unit/api/routes/test_logs_batch13c.py
  backend/tests/unit/conftest.py
  backend/tests/unit/scripts/test_fetch_ci_artifacts_stale_page.py
  backend/tests/unit/services/test_clip_generator_batch13.py
  backend/tests/unit/services/test_container_discovery_batch20.py
  backend/tests/unit/services/test_container_discovery_batch22.py
  backend/tests/unit/services/test_enrichment_client_batch12.py
  backend/tests/unit/services/test_job_service_batch14.py
  backend/tests/unit/services/test_job_service_batch14b.py
  backend/tests/unit/services/test_nemotron_streaming_batch16.py
  backend/tests/unit/services/test_nemotron_streaming_batch16b.py
  backend/tests/unit/services/test_nemotron_streaming_batch16c.py
  backend/tests/unit/services/test_nemotron_streaming_batch21.py
  backend/tests/unit/services/test_nemotron_streaming_batch23.py
  backend/tests/unit/services/test_performance_collector_batch17.py
  backend/tests/unit/services/test_redis_streams_batch18.py
  backend/tests/unit/services/test_redis_streams_batch19b.py
  backend/tests/unit/services/test_redis_streams_batch19c.py
  backend/tests/unit/services/test_redis_streams_batch19d.py
  backend/tests/unit/services/test_webhook_service_batch15.py
  backend/tests/unit/services/test_webhook_service_batch15b.py
  backend/tests/unit/services/test_webhook_service_batch15c.py
  docs/goal-prompt-mutation-80-2026-09-23.txt
  docs/plans/2026-09-12-context-map-doc-updates.md
  frontend/src/utils/risk.test.ts
  frontend/src/utils/time-relative.test.ts
  pyproject.toml
  scripts/fetch-ci-artifacts.py
  scripts/test_flake_consumer.py
  vulture_whitelist.py
Due: prettier-frontend, eslint, typescript-check, uv-lock-check, check-test-timeouts

docs(ledger): FIRST ADMISSIBLE post-campaign score 59.182% completed=true — 84 orphan metas root-caused to mega-PR module removal, quarantined (cache-only)
  .github/mutation-history.json
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(vss): execution ledger for the gaming-GPU workstream
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  docs/vss-integration/AGENTS.md
Due: none

docs(vss): G0 plan, ledger execution rows, dated spec errata
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  docs/superpowers/plans/2026-09-24-vss-g0-gb300-environment.md
  docs/vss-integration/11-errata-2026-09-23.md
Due: none

fix(gates): parenthesize multi-exception excepts in mock-spec gate
  scripts/arity_resolver.py
  scripts/check-mock-spec.py
Due: none

feat(vss): sm_103 VLM image and schema-enforcement probes
  ai/vlm/Dockerfile
  scripts/vlm_probes/s1_nvext.py
  scripts/vlm_probes/s2_multimodal_schema.py
Due: none

feat(evaluation): AssessInput schema and SQLite eval store (G0.4)
  backend/evaluation/assess_input.py
  backend/evaluation/eval_store.py
  backend/tests/unit/evaluation/test_eval_store.py
Due: check-test-timeouts

docs(vss): close G0.2/S-5 on served-pin evidence, open F1-F6 queue
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

feat(evaluation): map committed synthetic label sets to draft eval items
  backend/evaluation/eval_store.py
  backend/tests/unit/evaluation/test_eval_store.py
Due: check-test-timeouts

docs(vss): sync G0 plan checkboxes to executed evidence
  backend/evaluation/AGENTS.md
  docs/superpowers/plans/2026-09-24-vss-g0-gb300-environment.md
Due: none

docs(vss): G0.4 scoped-close, item freeze blocked on F5/F6
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

docs(vss): record transient xdist flake seen in unit tier re-run
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

docs(vss): contracts tier evidence on G0.1 (612 passed, serial)
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

fix(evaluation): D10 guard tests repo-residence by resolved path
  backend/evaluation/eval_store.py
  backend/tests/unit/evaluation/test_eval_store.py
Due: check-test-timeouts

docs(vss): record owner rulings F1-F6, F6 executed (408 items frozen)
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

feat(scripts): license-clean stock-media fetcher for the eval corpus (F5)
  scripts/synthetic_media.py
  scripts/test_synthetic_media.py
Due: none

fix(scripts): retry + loud skips in the stock-media fetcher; close F1
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  scripts/synthetic_media.py
  scripts/test_synthetic_media.py
Due: none

docs(vss): F1 closed evidence synced to the G0 plan
  docs/superpowers/plans/2026-09-24-vss-g0-gb300-environment.md
Due: none

fix(scripts): photo-mime + JPEG-magic + title dedupe in stock fetcher
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  scripts/synthetic_media.py
  scripts/test_synthetic_media.py
Due: none

feat(evaluation): stock frame loader freezes media-bearing eval items
  backend/evaluation/eval_store.py
  backend/tests/unit/evaluation/test_eval_store.py
Due: check-test-timeouts

docs(vss): S-3 re-run on real stock imagery - benign half proven, incident half is a corpus problem
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

feat(scripts): stock-imagery S-3 salience harness; owner rulings G0.3/F5
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  docs/superpowers/plans/2026-09-24-vss-g0-gb300-environment.md
  scripts/vlm_probes/s3_salience_stock.py
Due: none

docs(vss): ledger F7 - push approved, origin host-local, commits already home
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

fix(scripts): revalidate the media allow-list on every redirect hop
  scripts/synthetic_media.py
  scripts/test_synthetic_media.py
Due: none

docs(vss): close G0 - fold close-out audit findings into the ledger
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  docs/superpowers/plans/2026-09-24-vss-g0-gb300-environment.md
Due: none

docs(vss): Phase 0 plan - foundations, one phase at a time after G0
  docs/superpowers/plans/2026-09-24-vss-p0-foundations.md
Due: none

docs(vss): link the phase plans from the ledger header
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

fix(evaluation): close audit holes in the D10 guard and the loaders
  .github/suppression-baseline.json
  .github/suppression-registry.yml
  .secrets.baseline
  backend/evaluation/eval_store.py
  backend/tests/unit/evaluation/test_eval_store.py
  scripts/suppression-registry-gen.py
  scripts/test_suppression_census.py
Due: check-test-timeouts

fix(scripts): license veto, bounded reads, crash-proof verdict handling
  scripts/synthetic_media.py
  scripts/test_synthetic_media.py
  scripts/test_vlm_probes.py
  scripts/vlm_probes/s2_multimodal_schema.py
  scripts/vlm_probes/s3_salience_stock.py
Due: none

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
