Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, uv-lock-check, npm-install-check, check-test-mocks, check-test-timeouts, check-validation-drift, check-integration-tests

generate-openapi:
  name: Generate OpenAPI Spec
  entry: bash -c 'uv run python scripts/generate-openapi.py && git add docs/openapi.json'
  language: system
  pass_filenames: false

generate-api-types:
  name: Generate TypeScript API Types
  entry: bash -c './scripts/generate-types.sh && git add frontend/src/types/generated/api.ts'
  language: system
  pass_filenames: false

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv lock file is up-to-date
  entry: bash -c 'cd "$0" && uv lock --check' .
  language: system
  pass_filenames: false

npm-install-check:
  name: Check npm dependencies are installed
  entry: bash -c 'cd frontend && npm ci --prefer-offline --no-audit --dry-run'
  language: system
  pass_filenames: false

check-test-mocks:
  name: Check integration tests mock slow services
  entry: python3 scripts/check-test-mocks.py
  language: system
  pass_filenames: true

check-test-timeouts:
  name: Check tests mock slow sleeps/timeouts
  entry: python3 scripts/check-test-timeouts.py
  language: system
  pass_filenames: true

check-validation-drift:
  name: Check validation drift (Pydantic/Zod)
  entry: python3 scripts/check-validation-drift.py
  language: system
  pass_filenames: true

check-integration-tests:
  name: Check for integration tests on API/service changes
  entry: python3 scripts/check-integration-tests.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - pre-push

feat(api): add labels and media type filtering to detections endpoint (NEM-3641, NEM-3642)
  backend/api/routes/detections.py
  backend/api/schemas/detections.py
  backend/tests/unit/api/routes/test_detections.py
  backend/tests/unit/routes/test_detections_routes.py
  frontend/src/hooks/useDetections.ts
  frontend/src/services/api.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-test-timeouts, check-validation-drift, check-integration-tests

feat(ui): comprehensive UI improvements across 11 issues (NEM-3646)
  frontend/src/components/events/EventCard.tsx
Due: prettier-frontend, eslint, typescript-check

test(camera): update routes tests for unique() chain (NEM-3597)
  backend/tests/unit/routes/test_cameras_routes.py
Due: check-test-timeouts

test(camera): fix tests for endpoints not using joinedload (NEM-3597)
  backend/tests/unit/routes/test_cameras_routes.py
Due: check-test-timeouts

docs(websocket): add endpoint documentation and feature gap analysis (NEM-3639, NEM-3644)
  docs/api/AGENTS.md
  docs/api/websocket-endpoints.md
  docs/api/websocket-feature-gaps.md
Due: none

feat(camera): add load_areas parameter to get_camera_or_404 (NEM-3597)
  backend/api/dependencies.py
  frontend/src/types/generated/api.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check

feat(timeline): wire up clip generation and improve search discoverability (NEM-3590, NEM-3591)
  frontend/src/components/events/EventTimeline.tsx
Due: prettier-frontend, eslint, typescript-check

feat(analytics): add detection trends and confidence metrics visualization (NEM-3659, NEM-3662)
  frontend/src/components/analytics/AnalyticsPage.tsx
  frontend/src/components/analytics/ConfidenceMetricsCard.test.tsx
  frontend/src/components/analytics/ConfidenceMetricsCard.tsx
  frontend/src/components/analytics/DetectionTrendsChart.test.tsx
  frontend/src/components/analytics/DetectionTrendsChart.tsx
  frontend/src/components/analytics/index.ts
Due: prettier-frontend, eslint, typescript-check

test(camera): fix update/delete tests for unique() chain (NEM-3597)
  backend/tests/unit/routes/test_cameras_routes.py
Due: check-test-timeouts

feat(batch): add config validation feedback and real-time status monitoring (NEM-3655, NEM-3652)
  frontend/src/components/settings/ProcessingSettings.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useBatchStatus.ts
Due: prettier-frontend, eslint, typescript-check

fix(frontend): restore snooze and enrichment badge functionality
  backend/api/routes/cameras.py
  frontend/src/components/events/EventCard.tsx
  frontend/src/hooks/useBatchStatus.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-integration-tests

chore: regenerate API types for RiskFactor schema change
  docs/openapi.json
  frontend/src/components/events/EventDetailModal.test.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

fix(backend): restore RiskEntity, RiskFlag from main and add RiskFactor
  backend/api/schemas/llm_response.py
  backend/tests/unit/api/schemas/test_llm_response.py
Due: generate-openapi, generate-api-types, check-test-timeouts, check-validation-drift

fix: resolve merge conflict type mismatches (NEM-3519-3529)
  backend/api/schemas/events.py
  frontend/src/components/events/EventCard.tsx
  frontend/src/test-utils/factories.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-validation-drift

fix(cameras): load areas relationship on create to prevent MissingGreenlet error
  backend/api/routes/cameras.py
Due: generate-openapi, generate-api-types, check-integration-tests

fix(analytics): add missing component imports and useCameraAnalytics hook
  .secrets.baseline
  frontend/src/components/analytics/AnalyticsPage.test.tsx
  frontend/src/components/analytics/AnalyticsPage.tsx
Due: prettier-frontend, eslint, typescript-check

feat(reports): implement Scheduled Reports frontend UI (NEM-3667)
  frontend/src/App.tsx
  frontend/src/components/layout/sidebarNav.ts
  frontend/src/components/reports/ScheduledReportForm.test.tsx
  frontend/src/components/reports/ScheduledReportForm.tsx
  frontend/src/components/reports/index.ts
  frontend/src/hooks/useScheduledReports.test.tsx
  frontend/src/hooks/useScheduledReports.ts
  frontend/src/pages/ScheduledReportsPage.test.tsx
  frontend/src/pages/ScheduledReportsPage.tsx
  frontend/src/services/scheduledReportsApi.ts
  frontend/src/types/scheduledReport.ts
Due: prettier-frontend, eslint, typescript-check

feat: add frontend hook for event clustering API endpoint (NEM-3676)
  frontend/src/hooks/useEventClustersQuery.test.ts
  frontend/src/hooks/useEventClustersQuery.ts
  frontend/src/services/api.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check

docs: create component library documentation structure (NEM-3213)
  docs/README.md
  docs/components/AGENTS.md
  docs/components/README.md
  docs/components/common/buttons.md
  docs/components/common/error-boundaries.md
  docs/components/common/loading-states.md
  docs/components/common/modals.md
  docs/components/common/notifications.md
  docs/components/common/status-indicators.md
  docs/components/feature-specific/dashboard-widgets.md
  docs/components/feature-specific/event-components.md
  docs/components/feature-specific/settings-panels.md
  docs/components/layout/layout.md
  docs/components/patterns/data-display-patterns.md
  docs/components/patterns/error-handling.md
  docs/components/patterns/form-patterns.md
Due: none

fix: rename WebhookResponse to WebhookProcessingResponse to avoid naming collision
  backend/api/routes/webhooks.py
  backend/api/schemas/webhooks.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: generate-openapi, generate-api-types, prettier-frontend, eslint, typescript-check, check-validation-drift, check-integration-tests

feat: implement Risk Factors Breakdown UI component (NEM-3671)
  frontend/src/components/events/AGENTS.md
  frontend/src/components/events/EventDetailModal.test.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/RiskFactorsBreakdown.test.tsx
  frontend/src/components/events/RiskFactorsBreakdown.tsx
Due: prettier-frontend, eslint, typescript-check

docs: create component library documentation structure (NEM-3213) (#4238)
  docs/README.md
  docs/components/AGENTS.md
  docs/components/README.md
  docs/components/common/buttons.md
  docs/components/common/error-boundaries.md
  docs/components/common/loading-states.md
  docs/components/common/modals.md
  docs/components/common/notifications.md
  docs/components/common/status-indicators.md
  docs/components/feature-specific/dashboard-widgets.md
  docs/components/feature-specific/event-components.md
  docs/components/feature-specific/settings-panels.md
  docs/components/layout/layout.md
  docs/components/patterns/data-display-patterns.md
  docs/components/patterns/error-handling.md
  docs/components/patterns/form-patterns.md
Due: none

feat: implement Risk Factors Breakdown UI (NEM-3671) (#4239)
  frontend/src/components/events/AGENTS.md
  frontend/src/components/events/EventDetailModal.test.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/RiskFactorsBreakdown.test.tsx
  frontend/src/components/events/RiskFactorsBreakdown.tsx
Due: prettier-frontend, eslint, typescript-check

feat(pwa): implement offline caching with service worker registration (NEM-3675)
  frontend/src/App.tsx
  frontend/src/components/common/OfflineIndicator.test.tsx
  frontend/src/components/common/OfflineIndicator.tsx
  frontend/src/components/common/OfflineStatusIndicator.test.tsx
  frontend/src/components/common/OfflineStatusIndicator.tsx
  frontend/src/components/common/index.ts
  frontend/src/main.tsx
  frontend/src/services/serviceWorkerRegistration.test.ts
  frontend/src/services/serviceWorkerRegistration.ts
Due: prettier-frontend, eslint, typescript-check

ci: move expensive workflows to main-only to reduce PR CI time
  .github/workflows/api-compatibility.yml
  .github/workflows/api-contract.yml
  .github/workflows/benchmarks.yml
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

chore: regenerate API types to sync OpenAPI spec
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

feat: parallel agent work - 8 tasks + CI optimization (#4243)
  .github/workflows/api-compatibility.yml
  .github/workflows/api-contract.yml
  .github/workflows/benchmarks.yml
  frontend/src/App.tsx
  frontend/src/components/common/OfflineIndicator.test.tsx
  frontend/src/components/common/OfflineIndicator.tsx
  frontend/src/components/common/OfflineStatusIndicator.test.tsx
  frontend/src/components/common/OfflineStatusIndicator.tsx
  frontend/src/components/common/index.ts
  frontend/src/hooks/useEventClustersQuery.test.ts
  frontend/src/hooks/useEventClustersQuery.ts
  frontend/src/main.tsx
  frontend/src/services/api.ts
  frontend/src/services/serviceWorkerRegistration.test.ts
  frontend/src/services/serviceWorkerRegistration.ts
  frontend/src/types/generated/index.ts
Due: prettier-frontend, eslint, typescript-check

feat: implement backup/restore and webhook management systems (NEM-3566, NEM-3624)
  docs/openapi.json
  frontend/src/App.tsx
  frontend/src/types/generated/api.ts
Due: prettier-frontend, eslint, typescript-check

feat(reports): implement Scheduled Reports frontend UI (NEM-3667)
  frontend/src/App.tsx
Due: prettier-frontend, eslint, typescript-check

Path conditions:
  generate-openapi: any of: ^backend/(api|models|schemas)/.*\.py$
  generate-api-types: any of: ^backend/(api|models|schemas)/.*\.py$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$, but not: package-lock\.json$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  npm-install-check: any of: ^frontend/(package\.json|package-lock\.json)$
  check-test-mocks: any of: ^backend/tests/integration/.*\.py$
  check-test-timeouts: any of: ^backend/tests/.*\.py$
  check-validation-drift: any of: ^(backend/api/schemas/.*\.py|frontend/src/schemas/.*\.ts)$
  check-integration-tests: any of: ^backend/(api/routes|services)/.*\.py$
