Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

fix: add snooze_until column to test database schema (NEM-2363)
  backend/tests/conftest.py
Due: none

fix: add mockUserCalibration fixture and regenerate API types
  .secrets.baseline
  frontend/src/types/generated/api.ts
  frontend/tests/e2e/fixtures/test-data.ts
Due: frontend

fix: resolve nested-interactive accessibility violation in EventCard
  frontend/src/components/events/EventCard.tsx
Due: frontend

fix: correct invalid CSS selectors in E2E tests
  frontend/tests/e2e/specs/calibration.spec.ts
  frontend/tests/e2e/specs/feedback.spec.ts
Due: none

fix(e2e): add graceful handling for timeline page load in feedback-calibration loop test
  frontend/tests/e2e/specs/user-journeys/feedback-calibration-loop.spec.ts
Due: none

fix(deps): add missing @hookform/resolvers dependency
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: update EventCard accessibility and fix tests
  frontend/src/components/alerts/AlertsPage.test.tsx
  frontend/src/components/events/EventCard.test.tsx
  frontend/src/components/events/EventCard.tsx
Due: frontend

fix(e2e): increase timeout for Create Alert Rule tests
  frontend/tests/e2e/specs/alert-rules.spec.ts
Due: none

fix(e2e): fix invalid CSS selectors in feedback.spec.ts
  frontend/tests/e2e/specs/feedback.spec.ts
Due: none

feat: complete Feedback & Calibration epic (NEM-2348 through NEM-2356)
  backend/api/routes/calibration.py
  backend/api/schemas/calibration.py
  backend/api/schemas/feedback.py
  backend/models/event_feedback.py
  backend/services/calibration_service.py
  backend/tests/unit/api/routes/test_feedback.py
  backend/tests/unit/api/schemas/test_calibration.py
  backend/tests/unit/api/schemas/test_feedback.py
  backend/tests/unit/models/test_event_feedback.py
  backend/tests/unit/models/test_user_calibration.py
  backend/tests/unit/services/test_calibration_service.py
  docs/openapi.json
  frontend/src/components/events/EventDetailModal.test.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/EventFeedbackSection.test.tsx
  frontend/src/components/events/EventFeedbackSection.tsx
  frontend/src/components/events/FeedbackForm.test.tsx
  frontend/src/components/events/FeedbackForm.tsx
  frontend/src/components/feedback/FeedbackPanel.test.tsx
  frontend/src/components/feedback/FeedbackPanel.tsx
  frontend/src/components/feedback/index.ts
  frontend/src/components/settings/CalibrationPanel.test.tsx
  frontend/src/components/settings/CalibrationPanel.tsx
  frontend/src/components/settings/SettingsPage.test.tsx
  frontend/src/components/settings/SettingsPage.tsx
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

fix: correct FeedbackType mapping in EventDetailModal and tests
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/EventFeedbackSection.test.tsx
Due: frontend

feat: complete Feedback & Calibration epic (NEM-2348 through NEM-2356) (#2733)
  backend/api/routes/calibration.py
  backend/api/schemas/calibration.py
  backend/api/schemas/feedback.py
  backend/models/event_feedback.py
  backend/services/calibration_service.py
  backend/tests/unit/api/routes/test_feedback.py
  backend/tests/unit/api/schemas/test_calibration.py
  backend/tests/unit/api/schemas/test_feedback.py
  backend/tests/unit/models/test_event_feedback.py
  backend/tests/unit/models/test_user_calibration.py
  backend/tests/unit/services/test_calibration_service.py
  docs/openapi.json
  frontend/src/components/events/EventDetailModal.test.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/EventFeedbackSection.test.tsx
  frontend/src/components/events/EventFeedbackSection.tsx
  frontend/src/components/events/FeedbackForm.test.tsx
  frontend/src/components/events/FeedbackForm.tsx
  frontend/src/components/feedback/FeedbackPanel.test.tsx
  frontend/src/components/feedback/FeedbackPanel.tsx
  frontend/src/components/feedback/index.ts
  frontend/src/components/settings/CalibrationPanel.test.tsx
  frontend/src/components/settings/CalibrationPanel.tsx
  frontend/src/components/settings/SettingsPage.test.tsx
  frontend/src/components/settings/SettingsPage.tsx
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

feat: form validation alignment with Zod schemas and validated form components
  backend/services/calibration_service.py
  backend/tests/unit/api/schemas/test_calibration.py
  backend/tests/unit/services/test_calibration_service.py
  frontend/src/components/events/EventFeedbackSection.test.tsx
  frontend/src/components/events/EventFeedbackSection.tsx
  frontend/tests/e2e/specs/calibration.spec.ts
  frontend/tests/e2e/specs/feedback.spec.ts
  frontend/tests/e2e/specs/user-journeys/feedback-calibration-loop.spec.ts
Due: backend-unit, backend-integration, frontend

feat: complete Florence-2 caption integration (NEM-2328 through NEM-2338)
  backend/api/schemas/calibration.py
Due: backend-unit, backend-integration

feat: complete User Feedback & Calibration System (NEM-1888)
  backend/api/routes/calibration.py
  backend/api/schemas/calibration.py
  docs/openapi.json
Due: backend-unit, backend-integration

fix: add mockUserCalibration fixture and regenerate API types
  .secrets.baseline
  frontend/src/types/generated/api.ts
Due: frontend

fix: update EventCard accessibility and fix tests
  frontend/src/components/events/EventCard.tsx
Due: frontend

fix: resolve test performance audit CI failure (NEM-2375)
  .github/workflows/ci.yml
Due: none

chore(deps): consolidated dependency updates (14 Dependabot PRs) (#2758)
  .github/workflows/ci-analytics.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/gitleaks.yml
  .github/workflows/rollback.yml
  .github/workflows/trivy.yml
  .github/workflows/vulnerability-management.yml
  .github/workflows/zap-security.yml
  frontend/package-lock.json
  frontend/package.json
  requirements-audit.txt
Due: none

fix: align FeedbackType enum values in tests with backend definition
  backend/tests/unit/api/schemas/test_calibration.py
  backend/tests/unit/services/test_calibration_service.py
  frontend/src/components/events/EventFeedbackSection.test.tsx
  frontend/src/components/feedback/FeedbackPanel.test.tsx
Due: none

fix: correct FeedbackType serialization assertions in tests
  backend/tests/unit/api/schemas/test_calibration.py
  backend/tests/unit/services/test_calibration_service.py
Due: none

fix: remove duplicate ExportJobStartResponse from jobs.py schema
  backend/api/routes/jobs.py
  backend/api/schemas/jobs.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

fix: regenerate API types after merge
  frontend/src/types/generated/api.ts
Due: frontend

fix: update FeedbackPanel tests to use new feedback type names
  frontend/src/components/events/FeedbackPanel.test.tsx
Due: none

fix: add SEVERITY_WRONG handling to calibration calculate_adjustment
  backend/services/calibration_service.py
Due: backend-unit, backend-integration

Path conditions:
  backend-unit: any of: backend/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
  backend-integration: any of: backend/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
  frontend: any of: frontend/src/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
