Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

fix: regenerate WebSocket types for YOLO26 service name
  frontend/src/types/generated/websocket.ts
Due: frontend

fix: resolve CI failures in build-base-image and Trivy config scan
  .github/workflows/build-base-image.yml
  .trivyignore
Due: none

fix(security): upgrade python-multipart to 0.0.22 (CVE-2026-24486)
  pyproject.toml
  uv.lock
Due: none

feat(ai): implement object tracking with BoT-SORT and trajectory storage (NEM-3707, NEM-3708)
  ai/yolo26/model.py
  backend/alembic/versions/0007_add_track_id_to_detections.py
  backend/alembic/versions/0008_add_tracks_table.py
  backend/api/routes/__init__.py
  backend/api/routes/tracks.py
  backend/api/schemas/__init__.py
  backend/api/schemas/detections.py
  backend/api/schemas/track.py
  backend/main.py
  backend/models/__init__.py
  backend/models/camera.py
  backend/models/detection.py
  backend/models/track.py
  backend/services/__init__.py
  backend/services/track_service.py
  backend/tests/integration/test_tracks.py
  backend/tests/unit/services/test_track_service.py
  config/botsort.yaml
  config/bytetrack.yaml
  docs/openapi.json
  frontend/bun.lock
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

feat(ai): complete YOLO26 epic remaining tasks (NEM-3689, NEM-3694, NEM-3697, NEM-3698, NEM-3705)
  .github/workflows/ci.yml
Due: none

chore: regenerate TypeScript API types
  frontend/src/components/events/RiskFactorsBreakdown.test.tsx
  frontend/src/components/events/RiskFactorsBreakdown.tsx
  frontend/src/types/generated/api.ts
Due: frontend

test: update snapshots for track_id and track_confidence fields
  .secrets.baseline
  backend/tests/unit/api/schemas/__snapshots__/test_response_schema_snapshots.ambr
Due: none

feat(ai): implement action recognition, face recognition, and enhanced ALPR (NEM-3714, NEM-3716, NEM-3717, NEM-3718)
  ai/enrichment/models/__init__.py
  ai/enrichment/models/face_recognizer.py
  ai/enrichment/models/plate_ocr.py
  backend/alembic/versions/0012_add_action_events.py
  backend/alembic/versions/0013_add_face_recognition.py
  backend/alembic/versions/0014_add_plate_reads.py
  backend/api/routes/__init__.py
  backend/api/routes/action_events.py
  backend/api/routes/face_recognition.py
  backend/api/routes/plate_reads.py
  backend/api/schemas/__init__.py
  backend/api/schemas/action_event.py
  backend/api/schemas/face_recognition.py
  backend/api/schemas/plate_read.py
  backend/main.py
  backend/models/__init__.py
  backend/models/action_event.py
  backend/models/camera.py
  backend/models/face_identity.py
  backend/models/plate_read.py
  backend/models/track.py
  backend/services/action_recognition_service.py
  backend/services/alpr_service.py
  backend/services/face_recognition_service.py
  backend/tests/integration/test_action_events.py
  backend/tests/integration/test_action_recognition_service.py
  backend/tests/integration/test_alpr_service.py
  backend/tests/integration/test_face_recognition.py
  backend/tests/integration/test_face_recognition_service.py
  backend/tests/integration/test_plate_reads.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
  pyproject.toml
  uv.lock
Due: backend-unit, backend-integration, frontend

chore: update OpenAPI spec with webhook processing response
  docs/openapi.json
Due: none

feat(analytics): implement video analytics with Supervision library (NEM-3709, NEM-3711, NEM-3712, NEM-3713)
  ai/enrichment/__init__.py
  ai/enrichment/heatmap_generator.py
  ai/enrichment/line_zone_processor.py
  ai/enrichment/loitering_detector.py
  ai/enrichment/polygon_zone_processor.py
  backend/alembic/versions/0009_add_analytics_zones.py
  backend/alembic/versions/0010_add_dwell_time_records.py
  backend/alembic/versions/0011_add_heatmap_data.py
  backend/api/routes/__init__.py
  backend/api/routes/analytics_zones.py
  backend/api/routes/heatmaps.py
  backend/api/schemas/__init__.py
  backend/api/schemas/analytics_zone.py
  backend/api/schemas/dwell_time.py
  backend/api/schemas/heatmap.py
  backend/main.py
  backend/models/__init__.py
  backend/models/analytics_zone.py
  backend/models/camera.py
  backend/models/dwell_time.py
  backend/models/heatmap.py
  backend/services/__init__.py
  backend/services/dwell_time_service.py
  backend/services/heatmap_service.py
  backend/services/line_zone_service.py
  backend/services/polygon_zone_service.py
  backend/tests/integration/test_analytics_zones.py
  backend/tests/integration/test_dwell_time_service.py
  backend/tests/integration/test_heatmap_service.py
  backend/tests/integration/test_heatmaps.py
  backend/tests/integration/test_line_zone_service.py
  backend/tests/integration/test_polygon_zone_service.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
  pyproject.toml
  uv.lock
Due: backend-unit, backend-integration, frontend

feat: implement backup/restore and webhook management systems (NEM-3566, NEM-3624)
  docs/openapi.json
  frontend/src/App.tsx
  frontend/src/types/generated/api.ts
Due: frontend

feat(reports): implement Scheduled Reports frontend UI (NEM-3667)
  frontend/src/App.tsx
Due: frontend

fix(types): resolve mypy errors in polygon_zone_processor and demographics
  .secrets.baseline
  ai/enrichment/models/demographics.py
  ai/enrichment/polygon_zone_processor.py
Due: none

chore: regenerate TypeScript API types after rebase
  frontend/src/types/generated/api.ts
Due: frontend

feat: implement 5 discovery tasks (NEM-3662, NEM-3606, NEM-3639, NEM-3597, NEM-3603)
  docs/openapi.json
  frontend/src/components/events/RiskFactorsBreakdown.test.tsx
  frontend/src/components/events/RiskFactorsBreakdown.tsx
  frontend/src/types/generated/api.ts
Due: frontend

fix(ci): remove ai-services-tests job with incompatible imports
  .github/workflows/ci.yml
Due: none

fix(scripts): resolve duplicate function definitions in YOLO26 benchmarks
  scripts/benchmark_yolo26_accuracy.py
  scripts/benchmark_yolo26_latency.py
Due: none

chore(deps): bump react and react-dom from 19.2.3 to 19.2.4
  frontend/bun.lock
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: implement Nemotron prompt optimization epic (NEM-3724)
  ai/nemotron/AGENTS.md
  backend/api/schemas/llm_response.py
  backend/config/AGENTS.md
  backend/config/__init__.py
  backend/config/prompt_ab_config.py
  backend/core/config.py
  backend/evaluation/AGENTS.md
  backend/evaluation/__init__.py
  backend/evaluation/ab_experiment_runner.py
  backend/evaluation/prompt_eval_dataset.py
  backend/evaluation/prompt_evaluator.py
  backend/services/__init__.py
  backend/services/guided_constraints.py
  backend/services/nemotron_analyzer.py
  backend/services/prompts.py
  backend/services/risk_rubrics.py
  backend/services/threat_categories.py
  backend/tests/unit/api/schemas/test_llm_response.py
  backend/tests/unit/config/test_prompt_ab_config.py
  backend/tests/unit/evaluation/test_ab_experiment_runner.py
  backend/tests/unit/evaluation/test_prompt_eval_dataset.py
  backend/tests/unit/evaluation/test_prompt_evaluator.py
  backend/tests/unit/services/test_guided_constraints.py
  backend/tests/unit/services/test_nemotron_analyzer.py
  backend/tests/unit/services/test_nemotron_guided_json.py
  backend/tests/unit/services/test_reasoning_extraction.py
  backend/tests/unit/services/test_risk_rubrics.py
  backend/tests/unit/services/test_threat_categories.py
  docs/development/nemotron-prompting.md
  docs/examples/prompt-engineering/AGENTS.md
  docs/examples/prompt-engineering/ab-test-config.md
  docs/examples/prompt-engineering/basic-risk-analysis.md
  docs/examples/prompt-engineering/chain-of-thought.md
  docs/examples/prompt-engineering/rubric-based-prompt.md
  pyproject.toml
  uv.lock
Due: backend-unit, backend-integration

chore(deps): bump react and react-dom from 19.2.3 to 19.2.4 (#4459)
  frontend/bun.lock
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: resolve CI test failures for PR 4460
  backend/services/nemotron_analyzer.py
  backend/tests/unit/api/middleware/test_correlation_propagation.py
  backend/tests/unit/api/schemas/__snapshots__/test_response_schema_snapshots.ambr
  backend/tests/unit/services/test_model_warmup.py
  backend/tests/unit/services/test_prompt_ab_rollout_integration.py
  backend/tests/unit/services/test_prompt_ab_testing.py
  backend/tests/unit/services/test_prompt_experiment_integration.py
Due: backend-unit, backend-integration

feat: add .env-based GPU assignment configuration
  .env.example
  docker-compose.prod.yml
  scripts/redeploy.sh
  setup.py
Due: none

Path conditions:
  backend-unit: any of: backend/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
  backend-integration: any of: backend/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
  frontend: any of: frontend/src/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
