Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml
#
# Coverage trend tracking and regression detection (NEM-1387)
# - Project coverage target: 85%
# - Patch coverage target: 80%
# - Coverage regression blocks PR if > 1% decrease
# - Critical paths require 90%+ coverage

coverage:
  # How to calculate the coverage percentage
  precision: 2
  round: down
  range: '70...100'

  # Status checks that appear on PRs
  status:
    # Project coverage - overall repository coverage
    project:
      default:
        # Target coverage percentage (must meet or exceed)
        target: 85%
        # Allowed coverage decrease before failing (blocks PR if > 1% decrease)
        threshold: 1%
        # Only compare against coverage from the same CI run
        if_ci_failed: error
        # Block PR on coverage regression (not informational)
        informational: false

      # Backend unit tests - stricter threshold
      backend-unit:
        target: 85%
        threshold: 1%
        informational: false
        flags:
          - backend-unit

      # Backend integration tests
      backend-integration:
        target: 50%
        threshold: 2%
        informational: false
        flags:
          - backend-integration

      # Frontend coverage
      frontend:
        target: 80%
        threshold: 2%
        informational: false
        flags:
          - frontend

      # Critical paths - require 90%+ coverage
      # These paths contain security-critical and core business logic
      critical-paths:
        target: 90%
        threshold: 0.5%
        informational: false
        paths:
          - backend/api/routes/
          - backend/services/
          - backend/core/security.py
          - backend/core/auth.py
          - frontend/src/hooks/
          - frontend/src/services/

    # Patch coverage - coverage of changed lines
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        # Stricter threshold for patch coverage
        threshold: 1%
        # Only check if there are enough lines changed
        if_ci_failed: error
        # Block PR if patch coverage is below target (not informational)
        informational: false

# Flags for different test types
flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment settings for PRs
comment:
  # Layout of the comment (reach, diff, flags, files per NEM-1387)
  layout: 'reach,diff,flags,files'
  # Show coverage changes
  behavior: default
  # Require base report to compare (needed for trend tracking)
  require_base: true
  # Show files without coverage changes
  hide_project_coverage: false
  # Show the changes section
  show_carryforward_flags: true

# Ignore paths that shouldn't affect coverage
ignore:
  - 'backend/tests/**/*'
  - 'backend/examples/**/*'
  - 'frontend/tests/**/*'
  - 'frontend/src/test/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/node_modules/**'
  - '**/__pycache__/**'
  - 'docs/**/*'
  - 'scripts/**/*'
  - 'ai/**/*'

# GitHub integration settings
github_checks:
  annotations: true

fix(ci): update nosemgrep comments with full rule path
  backend/alembic/versions/add_time_series_partitioning.py
Due: backend-unit, backend-integration

fix(ci): move nosemgrep comments inline to avoid ERA001
  backend/alembic/versions/add_time_series_partitioning.py
Due: backend-unit, backend-integration

chore: format add_time_series_partitioning.py with ruff
  backend/alembic/versions/add_time_series_partitioning.py
Due: backend-unit, backend-integration

fix(ci): fix nosemgrep comments to pass both Semgrep and Ruff
  backend/alembic/versions/add_time_series_partitioning.py
Due: backend-unit, backend-integration

fix(migrations): remove duplicate entities table migration
  backend/alembic/versions/add_entities_table.py
Due: backend-unit, backend-integration

fix(tests): add Redis cleanup for ReIdentificationIntegration tests
  backend/tests/integration/test_vision_extraction_pipeline.py
Due: none

feat(websocket): add job events for background job completion (NEM-1983)
  backend/services/job_tracker.py
  backend/tests/unit/services/test_job_tracker.py
Due: backend-unit, backend-integration

feat: complete 6 Linear tasks - pose overlay, notification UI, Entity model, CI fixes
  .claude/ralph-loop.local.md
  backend/models/entity.py
  backend/services/job_tracker.py
  backend/tests/unit/models/test_entity.py
  backend/tests/unit/services/test_job_tracker.py
  docs/openapi.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/detection/DetectionImage.test.tsx
  frontend/src/components/detection/DetectionImage.tsx
  frontend/src/components/detection/PoseSkeletonOverlay.test.tsx
  frontend/src/components/detection/PoseSkeletonOverlay.tsx
  frontend/src/components/detection/__snapshots__/PoseSkeletonOverlay.test.tsx.snap
  frontend/src/components/settings/NotificationSettings.test.tsx
  frontend/src/components/settings/NotificationSettings.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/components/system/SystemSummaryRow.test.tsx
  frontend/src/hooks/useNotificationPreferences.ts
  frontend/src/services/__mocks__/api.ts
  frontend/src/services/api.ts
  frontend/src/services/queryClient.ts
  frontend/src/types/generated/index.ts
  scripts/benchmark_model_zoo.py
  scripts/generate-ws-types.py
  scripts/test_ai_pipeline_e2e.py
  scripts/test_context_window.py
  scripts/test_model_outputs.py
  scripts/test_model_outputs_comprehensive.py
Due: backend-unit, backend-integration, frontend

fix(system): restore error state handling logic
  .secrets.baseline
  docs/openapi.json
  frontend/src/components/system/SystemMonitoringPage.tsx
Due: frontend

feat: complete 6 Linear tasks - pose overlay, notification UI, Entity model, CI fixes (#2551)
  .claude/ralph-loop.local.md
  .secrets.baseline
  backend/models/entity.py
  backend/tests/unit/models/test_entity.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/detection/DetectionImage.test.tsx
  frontend/src/components/detection/DetectionImage.tsx
  frontend/src/components/detection/PoseSkeletonOverlay.test.tsx
  frontend/src/components/detection/PoseSkeletonOverlay.tsx
  frontend/src/components/detection/__snapshots__/PoseSkeletonOverlay.test.tsx.snap
  frontend/src/components/settings/NotificationSettings.test.tsx
  frontend/src/components/settings/NotificationSettings.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/components/system/SystemSummaryRow.test.tsx
  frontend/src/hooks/useNotificationPreferences.ts
  frontend/src/services/__mocks__/api.ts
  frontend/src/services/api.ts
  frontend/src/services/queryClient.ts
  frontend/src/types/generated/index.ts
  scripts/benchmark_model_zoo.py
  scripts/generate-ws-types.py
  scripts/test_ai_pipeline_e2e.py
  scripts/test_context_window.py
  scripts/test_model_outputs.py
  scripts/test_model_outputs_comprehensive.py
Due: backend-unit, backend-integration, frontend

feat: add content negotiation middleware, OpenAPI docs, and rate limit store
  .secrets.baseline
  backend/api/middleware/content_negotiation.py
  backend/api/schemas/openapi_docs.py
  backend/tests/unit/api/middleware/test_content_negotiation.py
  docs/openapi.json
  frontend/src/hooks/useRateLimitCountdown.test.ts
  frontend/src/hooks/useRateLimitCountdown.ts
  frontend/src/stores/rate-limit-store.test.ts
  frontend/src/stores/rate-limit-store.ts
Due: backend-unit, backend-integration, frontend

fix: export useRateLimitCountdown from hooks index
  frontend/src/hooks/index.ts
Due: frontend

fix: add zustand dependency for rate-limit-store
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: add content negotiation, OpenAPI docs, and rate limit store (#2555)
  .secrets.baseline
  backend/api/middleware/content_negotiation.py
  backend/api/schemas/openapi_docs.py
  backend/tests/unit/api/middleware/test_content_negotiation.py
  docs/openapi.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hooks/index.ts
  frontend/src/hooks/useRateLimitCountdown.test.ts
  frontend/src/hooks/useRateLimitCountdown.ts
  frontend/src/stores/rate-limit-store.test.ts
  frontend/src/stores/rate-limit-store.ts
Due: backend-unit, backend-integration, frontend

feat: complete Pose Security Alerts and Entity Re-ID UI Integration (NEM-1881, NEM-1880)
  .claude/ralph-loop.local.md
  .secrets.baseline
  backend/api/helpers/enrichment_transformers.py
  backend/api/routes/entities.py
  backend/api/schemas/entities.py
  backend/data/prompts/fashion_clip/history/v5.json
  backend/data/prompts/florence2/history/v5.json
  backend/data/prompts/nemotron/history/v19.json
  backend/data/prompts/nemotron/history/v20.json
  backend/data/prompts/nemotron/history/v21.json
  backend/data/prompts/nemotron/history/v22.json
  backend/data/prompts/nemotron/history/v23.json
  backend/data/prompts/nemotron/history/v24.json
  backend/data/prompts/xclip/history/v5.json
  backend/data/prompts/yolo_world/history/v4.json
  backend/tests/unit/api/helpers/test_enrichment_transformers.py
  backend/tests/unit/api/routes/test_entities.py
  docs/openapi.json
  frontend/src/components/events/EnrichmentPanel.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/ReidMatchesPanel.test.tsx
  frontend/src/components/events/ReidMatchesPanel.tsx
  frontend/src/services/api.ts
  frontend/src/types/enrichment.ts
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

feat: complete Pose Security Alerts and Entity Re-ID UI Integration (NEM-1881, NEM-1880) (#2557)
  .claude/ralph-loop.local.md
  .secrets.baseline
  backend/api/helpers/enrichment_transformers.py
  backend/api/routes/entities.py
  backend/api/schemas/entities.py
  backend/data/prompts/fashion_clip/history/v5.json
  backend/data/prompts/florence2/history/v5.json
  backend/data/prompts/nemotron/history/v19.json
  backend/data/prompts/nemotron/history/v20.json
  backend/data/prompts/nemotron/history/v21.json
  backend/data/prompts/nemotron/history/v22.json
  backend/data/prompts/nemotron/history/v23.json
  backend/data/prompts/nemotron/history/v24.json
  backend/data/prompts/xclip/history/v5.json
  backend/data/prompts/yolo_world/history/v4.json
  backend/tests/unit/api/helpers/test_enrichment_transformers.py
  backend/tests/unit/api/routes/test_entities.py
  docs/openapi.json
  frontend/src/components/events/EnrichmentPanel.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/ReidMatchesPanel.test.tsx
  frontend/src/components/events/ReidMatchesPanel.tsx
  frontend/src/services/api.ts
  frontend/src/types/enrichment.ts
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

fix(tests): remove storageArea from StorageEvent constructor
  frontend/src/hooks/__tests__/integration/cross-tab-sync.integration.test.ts
  frontend/validate-storage-event-fix.js
Due: none

fix(tests): resolve E2E strict mode violations and add integration test symlinks
  backend/tests/integration/test_cameras.py
  backend/tests/integration/test_events.py
  frontend/tests/e2e/pages/SettingsPage.ts
  frontend/tests/e2e/specs/user-journeys/camera-configuration.spec.ts
  frontend/tests/e2e/specs/user-journeys/event-filtering-search.spec.ts
  frontend/tests/e2e/specs/user-journeys/settings-navigation.spec.ts
Due: none

feat: add content negotiation, OpenAPI docs, and rate limit store (#2555)
  .secrets.baseline
Due: none

fix(e2e): increase error handling timeouts in network-conditions and test-tagging specs
  frontend/tests/e2e/specs/network-conditions.spec.ts
  frontend/tests/e2e/specs/test-tagging.spec.ts
Due: none

fix(tests): use attribute access for Pydantic response model in camera tests
  backend/tests/unit/api/routes/test_cameras.py
Due: none

fix(tests): resolve integration and E2E test failures
  .secrets.baseline
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_gpu_pipeline.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_job_status.py
  backend/tests/integration/test_websocket_auth.py
Due: none

fix(e2e): increase error handling timeout in realtime.spec.ts
  frontend/tests/e2e/specs/realtime.spec.ts
Due: none

fix(e2e): increase test timeout for error handling tests
  frontend/tests/e2e/specs/dashboard.spec.ts
  frontend/tests/e2e/specs/error-handling.spec.ts
  frontend/tests/e2e/specs/network-conditions.spec.ts
  frontend/tests/e2e/specs/realtime.spec.ts
  frontend/tests/e2e/specs/test-tagging.spec.ts
Due: none

feat: complete 6 Linear tasks - pose overlay, notification UI, Entity model, CI fixes (#2551)
  .secrets.baseline
Due: none

fix(e2e): fix Settings page toFixed errors and tabpanel locators
  frontend/src/components/settings/AIModelsSettings.tsx
  frontend/src/components/settings/AlertRulesSettings.tsx
  frontend/src/components/settings/CleanupPreviewPanel.tsx
  frontend/src/components/settings/ProcessingSettings.tsx
  frontend/src/components/settings/StorageDashboard.tsx
  frontend/tests/e2e/fixtures/test-data.ts
  frontend/tests/e2e/specs/user-journeys/camera-configuration.spec.ts
  frontend/tests/e2e/specs/user-journeys/settings-navigation.spec.ts
Due: frontend

fix(e2e): increase error handling timeout to 35s for CI stability
  frontend/tests/e2e/specs/dashboard.spec.ts
  frontend/tests/e2e/specs/error-handling.spec.ts
  frontend/tests/e2e/specs/network-conditions.spec.ts
  frontend/tests/e2e/specs/realtime.spec.ts
  frontend/tests/e2e/specs/test-tagging.spec.ts
Due: none

fix(tests): fix integration test fixture patterns
  backend/tests/integration/test_config_validation.py
  backend/tests/integration/test_idempotency.py
  backend/tests/integration/test_memory_stability.py
Due: none

feat: implement 8 Linear tasks batch (NEM-1976, NEM-1979, NEM-1980, NEM-2004, NEM-2039, NEM-2047, NEM-2049, NEM-2063)
  .secrets.baseline
Due: none

fix(tests): correct HTTP status codes in idempotency tests
  backend/tests/integration/test_idempotency.py
Due: none

fix(tests): increase E2E error timeout and fix backend unit test
  backend/tests/unit/routes/test_system_routes.py
  frontend/tests/e2e/specs/dashboard.spec.ts
  frontend/tests/e2e/specs/error-handling.spec.ts
Due: none

feat: implement 8 Linear tasks batch (NEM-1976, NEM-1979, NEM-1980, NEM-2004, NEM-2039, NEM-2047, NEM-2049, NEM-2063)
  .secrets.baseline
  backend/tests/integration/test_config_validation.py
  backend/tests/integration/test_idempotency.py
  backend/tests/integration/test_memory_stability.py
  frontend/tests/e2e/specs/user-journeys/camera-configuration.spec.ts
  frontend/tests/e2e/specs/user-journeys/event-filtering-search.spec.ts
  frontend/tests/e2e/specs/user-journeys/settings-navigation.spec.ts
Due: none

fix(e2e): resolve 26 failing E2E tests
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/hooks/useCursorPaginatedQuery.ts
  frontend/src/hooks/useEventsQuery.ts
  frontend/tests/e2e/fixtures/test-data.ts
  frontend/tests/e2e/specs/dashboard.spec.ts
  frontend/tests/e2e/specs/error-handling.spec.ts
  frontend/tests/e2e/specs/network-conditions.spec.ts
  frontend/tests/e2e/specs/realtime.spec.ts
  frontend/tests/e2e/specs/test-tagging.spec.ts
  frontend/tests/e2e/specs/user-journeys/alert-rule-workflows.spec.ts
  frontend/tests/e2e/specs/user-journeys/camera-configuration.spec.ts
  frontend/tests/e2e/specs/user-journeys/event-filtering-search.spec.ts
  frontend/tests/e2e/specs/user-journeys/settings-navigation.spec.ts
Due: frontend
