Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml
#
# Coverage trend tracking and regression detection (NEM-1387)
# - Project coverage target: 85%
# - Patch coverage target: 80%
# - Coverage regression blocks PR if > 1% decrease
# - Critical paths require 90%+ coverage

coverage:
  # How to calculate the coverage percentage
  precision: 2
  round: down
  range: '70...100'

  # Status checks that appear on PRs
  status:
    # Project coverage - overall repository coverage
    project:
      default:
        # Target coverage percentage (must meet or exceed)
        target: 85%
        # Allowed coverage decrease before failing (blocks PR if > 1% decrease)
        threshold: 1%
        # Only compare against coverage from the same CI run
        if_ci_failed: error
        # Block PR on coverage regression (not informational)
        informational: false

      # Backend unit tests - stricter threshold
      backend-unit:
        target: 85%
        threshold: 1%
        informational: false
        flags:
          - backend-unit

      # Backend integration tests
      backend-integration:
        target: 50%
        threshold: 2%
        informational: false
        flags:
          - backend-integration

      # Frontend coverage
      frontend:
        target: 80%
        threshold: 2%
        informational: false
        flags:
          - frontend

      # Critical paths - require 90%+ coverage
      # These paths contain security-critical and core business logic
      critical-paths:
        target: 90%
        threshold: 0.5%
        informational: false
        paths:
          - backend/api/routes/
          - backend/services/
          - backend/core/security.py
          - backend/core/auth.py
          - frontend/src/hooks/
          - frontend/src/services/

    # Patch coverage - coverage of changed lines
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        # Stricter threshold for patch coverage
        threshold: 1%
        # Only check if there are enough lines changed
        if_ci_failed: error
        # Block PR if patch coverage is below target (not informational)
        informational: false

# Flags for different test types
flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment settings for PRs
comment:
  # Layout of the comment (reach, diff, flags, files per NEM-1387)
  layout: 'reach,diff,flags,files'
  # Show coverage changes
  behavior: default
  # Require base report to compare (needed for trend tracking)
  require_base: true
  # Show files without coverage changes
  hide_project_coverage: false
  # Show the changes section
  show_carryforward_flags: true

# Ignore paths that shouldn't affect coverage
ignore:
  - 'backend/tests/**/*'
  - 'backend/examples/**/*'
  - 'frontend/tests/**/*'
  - 'frontend/src/test/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/node_modules/**'
  - '**/__pycache__/**'
  - 'docs/**/*'
  - 'scripts/**/*'
  - 'ai/**/*'

# GitHub integration settings
github_checks:
  annotations: true

fix: resolve dead code detection false positives in test files
  backend/tests/unit/api/routes/test_events_coverage.py
  backend/tests/unit/services/test_orphan_scanner_service.py
Due: none

feat: create WorkerSupervisor core implementation (NEM-2458)
  frontend/src/components/video/VideoPlayer.test.tsx
Due: none

fix: use native redis-py 'ex' parameter instead of 'expire' in reid_service
  backend/services/reid_service.py
Due: backend-unit, backend-integration

fix: remove unused MEDIA_ERROR_CODES constant from VideoPlayer test
  frontend/src/components/video/VideoPlayer.test.tsx
Due: none

fix: revert to 'expire' param for RedisClient wrapper compatibility
  backend/services/reid_service.py
Due: backend-unit, backend-integration

fix: restore services/__init__.py and complete WorkerSupervisor implementation
  frontend/knip.json
Due: none

feat: resolve 8 backlog items via parallel agent dispatch
  .gitignore
  .pre-commit-config.yaml
  backend/alembic/versions/fix_camera_timezone_idempotent.py
  backend/api/dependencies.py
  backend/api/middleware/accept_header.py
  backend/api/routes/alerts.py
  backend/api/routes/events.py
  backend/core/container.py
  backend/main.py
  backend/models/alert.py
  backend/services/alert_engine.py
  backend/services/health_event_emitter.py
  backend/services/health_service_registry.py
  backend/services/search.py
  backend/tests/unit/api/middleware/test_accept_header.py
  backend/tests/unit/api/routes/test_events.py
  backend/tests/unit/api/routes/test_events_coverage.py
  backend/tests/unit/api/routes/test_events_routes.py
  backend/tests/unit/core/test_query_optimization.py
  backend/tests/unit/models/test_alert.py
  backend/tests/unit/models/test_camera.py
  backend/tests/unit/routes/test_alert_instance_routes.py
  backend/tests/unit/scripts/test_generate_openapi.py
  backend/tests/unit/services/test_alert_engine.py
  backend/tests/unit/services/test_health_service_registry.py
  backend/tests/unit/services/test_search.py
  docs/development/health-monitoring-di.md
  frontend/bun.lock
  frontend/src/hooks/typedEventEmitter.test.ts
  frontend/src/hooks/typedEventEmitter.ts
  scripts/generate-openapi.py
Due: backend-unit, backend-integration, frontend

fix: standardize FOSCAM_BASE_PATH env var naming (NEM-2521)
  docker-compose.ghcr.yml
  docker-compose.prod.yml
  docker-compose.staging.yml
  docs/getting-started/installation.md
  docs/operator/backup.md
  scripts/redeploy.sh
  scripts/restart-all.sh
  scripts/trigger-filewatcher.sh
  setup.py
  tests/test_setup.py
Due: none

fix: remove unused useZones hook (NEM-2530)
  frontend/knip.json
Due: none

fix: add retry logic and error handling for oasdiff CI (NEM-2589)
  .github/workflows/api-contract.yml
Due: none

feat: resolve 8 backlog items via parallel agent dispatch
  frontend/tests/e2e/.auth/storage-state.json
Due: none

fix: add logging for font loading fallback (NEM-2545)
  backend/services/thumbnail_generator.py
  frontend/src/components/settings/CameraNotificationSettings.tsx
  frontend/src/hooks/useZones.ts
Due: backend-unit, backend-integration, frontend

fix: replace print() statements with proper logging (NEM-2573)
  backend/main.py
Due: backend-unit, backend-integration
