Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml
#
# Coverage trend tracking and regression detection (NEM-1387)
# - Project coverage target: 85%
# - Patch coverage target: 80%
# - Coverage regression blocks PR if > 1% decrease
# - Critical paths require 90%+ coverage

coverage:
  # How to calculate the coverage percentage
  precision: 2
  round: down
  range: '70...100'

  # Status checks that appear on PRs
  status:
    # Project coverage - overall repository coverage
    project:
      default:
        # Target coverage percentage (must meet or exceed)
        target: 85%
        # Allowed coverage decrease before failing (blocks PR if > 1% decrease)
        threshold: 1%
        # Only compare against coverage from the same CI run
        if_ci_failed: error
        # Block PR on coverage regression (not informational)
        informational: false

      # Backend unit tests - stricter threshold
      backend-unit:
        target: 85%
        threshold: 1%
        informational: false
        flags:
          - backend-unit

      # Backend integration tests
      backend-integration:
        target: 50%
        threshold: 2%
        informational: false
        flags:
          - backend-integration

      # Frontend coverage
      frontend:
        target: 80%
        threshold: 2%
        informational: false
        flags:
          - frontend

      # Critical paths - require 90%+ coverage
      # These paths contain security-critical and core business logic
      critical-paths:
        target: 90%
        threshold: 0.5%
        informational: false
        paths:
          - backend/api/routes/
          - backend/services/
          - backend/core/security.py
          - backend/core/auth.py
          - frontend/src/hooks/
          - frontend/src/services/

    # Patch coverage - coverage of changed lines
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        # Stricter threshold for patch coverage
        threshold: 1%
        # Only check if there are enough lines changed
        if_ci_failed: error
        # Block PR if patch coverage is below target (not informational)
        informational: false

# Flags for different test types
flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment settings for PRs
comment:
  # Layout of the comment (reach, diff, flags, files per NEM-1387)
  layout: 'reach,diff,flags,files'
  # Show coverage changes
  behavior: default
  # Require base report to compare (needed for trend tracking)
  require_base: true
  # Show files without coverage changes
  hide_project_coverage: false
  # Show the changes section
  show_carryforward_flags: true

# Ignore paths that shouldn't affect coverage
ignore:
  - 'backend/tests/**/*'
  - 'backend/examples/**/*'
  - 'frontend/tests/**/*'
  - 'frontend/src/test/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/node_modules/**'
  - '**/__pycache__/**'
  - 'docs/**/*'
  - 'scripts/**/*'
  - 'ai/**/*'

# GitHub integration settings
github_checks:
  annotations: true

chore: update secrets baseline
  .secrets.baseline
Due: none

fix: complete audit gaps - PTZ HTTP endpoints and Scene Changes page (NEM-4885, NEM-4935) (#5830)
  .secrets.baseline
  backend/api/routes/onvif.py
  docs/openapi.json
  frontend/src/App.tsx
  frontend/src/components/layout/Sidebar.test.tsx
  frontend/src/components/layout/sidebarNav.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useSceneChangesQuery.test.ts
  frontend/src/hooks/useSceneChangesQuery.ts
  frontend/src/pages/SceneChangesPage.test.tsx
  frontend/src/pages/SceneChangesPage.tsx
  frontend/src/types/generated/api.ts
  scripts/redeploy/core/runtime.py
Due: backend-unit, backend-integration, frontend

feat: Foundation Infrastructure for Platform Enhancement (NEM-5019)
  .secrets.baseline
  TDD_IMPLEMENTATION_SUMMARY.md
  backend/api/schemas/alerts.py
  backend/core/websocket/event_schemas.py
  backend/core/websocket/event_types.py
  backend/models/alert.py
  backend/services/__init__.py
  backend/services/alert_engine.py
  backend/services/event_broadcaster.py
  backend/services/household_matcher_service.py
  backend/services/mqtt_client.py
  backend/tests/integration/test_mqtt_integration.py
  backend/tests/unit/api/schemas/test_alert_new_conditions.py
  backend/tests/unit/core/websocket/test_new_event_schemas.py
  backend/tests/unit/core/websocket/test_new_event_types.py
  backend/tests/unit/models/test_alert_rule_new_fields.py
  backend/tests/unit/services/test_alert_engine_new_conditions.py
  backend/tests/unit/services/test_event_broadcaster_new_events.py
  backend/tests/unit/services/test_mqtt_client.py
  docs/development/mqtt-client-test-summary.md
  docs/openapi.json
  docs/testing/nem-5073-tdd-tests-summary.md
  frontend/src/components/enrichment/EnrichmentViewer.tsx
  frontend/src/components/enrichment/__tests__/EnrichmentViewer.test.tsx
  frontend/src/components/enrichment/index.ts
  frontend/src/components/settings/AlertRulesSettings.test.tsx
  frontend/src/components/settings/AlertRulesSettings.tsx
  frontend/src/hooks/__tests__/useZoneEventsWebSocket.test.ts
  frontend/src/hooks/useZoneEventsWebSocket.ts
  frontend/src/types/__tests__/enrichment.test.ts
  frontend/src/types/generated/api.ts
  pyproject.toml
  uv.lock
Due: backend-unit, backend-integration, frontend

fix: add new channels to metadata validation test (NEM-5019)
  backend/tests/unit/test_websocket_event_types.py
Due: none

fix: update test mocks for new WebSocket event types (NEM-5019)
  backend/tests/unit/core/test_query_optimization.py
  backend/tests/unit/core/test_websocket.py
  backend/tests/unit/test_websocket_event_types.py
Due: none

fix: properly mock async dispose() in database pool tests
  backend/tests/unit/core/test_database_pool.py
Due: none

chore: skip flaky test_system_models.py tests (pre-existing issue)
  .secrets.baseline
  backend/tests/unit/api/routes/test_system_models.py
Due: none

fix: address pre-commit hook failures for MQTT and household matcher
  backend/tests/integration/test_household_matcher_service.py
  backend/tests/integration/test_mqtt_integration.py
Due: none

feat: Foundation Infrastructure for Platform Enhancement (NEM-5019) (#5828)
  .secrets.baseline
  TDD_IMPLEMENTATION_SUMMARY.md
  backend/api/schemas/alerts.py
  backend/core/websocket/event_schemas.py
  backend/core/websocket/event_types.py
  backend/models/alert.py
  backend/services/__init__.py
  backend/services/alert_engine.py
  backend/services/event_broadcaster.py
  backend/services/household_matcher_service.py
  backend/services/mqtt_client.py
  backend/tests/integration/test_household_matcher_service.py
  backend/tests/integration/test_mqtt_integration.py
  backend/tests/unit/api/routes/test_system_models.py
  backend/tests/unit/api/schemas/test_alert_new_conditions.py
  backend/tests/unit/core/test_database_pool.py
  backend/tests/unit/core/test_query_optimization.py
  backend/tests/unit/core/test_websocket.py
  backend/tests/unit/core/websocket/test_new_event_schemas.py
  backend/tests/unit/core/websocket/test_new_event_types.py
  backend/tests/unit/models/test_alert_rule_new_fields.py
  backend/tests/unit/services/test_alert_engine_new_conditions.py
  backend/tests/unit/services/test_event_broadcaster_new_events.py
  backend/tests/unit/services/test_mqtt_client.py
  backend/tests/unit/test_websocket_event_types.py
  docs/development/mqtt-client-test-summary.md
  docs/openapi.json
  docs/testing/nem-5073-tdd-tests-summary.md
  frontend/src/components/enrichment/EnrichmentViewer.tsx
  frontend/src/components/enrichment/__tests__/EnrichmentViewer.test.tsx
  frontend/src/components/enrichment/index.ts
  frontend/src/components/settings/AlertRulesSettings.test.tsx
  frontend/src/components/settings/AlertRulesSettings.tsx
  frontend/src/hooks/__tests__/useZoneEventsWebSocket.test.ts
  frontend/src/hooks/useZoneEventsWebSocket.ts
  frontend/src/types/__tests__/enrichment.test.ts
  frontend/src/types/generated/api.ts
  pyproject.toml
  uv.lock
Due: backend-unit, backend-integration, frontend

feat: expose Re-ID similarity search and materialized views admin API (NEM-4932, NEM-4933)
  .secrets.baseline
  backend/api/routes/alert_service.py
  backend/api/routes/household_matcher.py
  backend/api/schemas/alert_service.py
  backend/api/schemas/household_matcher.py
  backend/main.py
  backend/tests/unit/api/routes/test_alert_service.py
  backend/tests/unit/api/routes/test_household_matcher.py
Due: backend-unit, backend-integration

fix: remove unused logging_config import and household_matcher unused param
  .secrets.baseline
  backend/api/routes/alert_service.py
  backend/api/routes/household_matcher.py
  backend/api/schemas/alert_service.py
  backend/api/schemas/household_matcher.py
  backend/main.py
  backend/tests/unit/api/routes/test_alert_service.py
  backend/tests/unit/api/routes/test_household_matcher.py
Due: backend-unit, backend-integration

feat: implement Model Zoo Management API (NEM-4780) (#5626)
  .secrets.baseline
  docs/media/generate_veo3_videos.sh
Due: none

docs: add platform enhancement strategy design from brainstorming session
  docs/plans/2026-02-01-platform-enhancement-strategy-design.md
Due: none

feat: Track Service API endpoints and frontend hooks (NEM-4766) (#5627)
  .secrets.baseline
Due: none

feat: Foundation Infrastructure for Platform Enhancement (NEM-5019)
  .secrets.baseline
  backend/tests/integration/test_mqtt_integration.py
Due: none

feat: Foundation Infrastructure for Platform Enhancement (NEM-5019)
  .secrets.baseline
  backend/services/alert_engine.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

feat: implement loitering detection alerts (NEM-5107)
  .secrets.baseline
  backend/api/schemas/alerts.py
  backend/api/schemas/analytics_zone.py
  backend/models/alert.py
  backend/models/analytics_zone.py
  backend/services/alert_engine.py
  backend/tests/unit/core/test_query_optimization.py
  backend/tests/unit/services/test_alert_engine.py
  docs/openapi.json
  frontend/src/components/settings/AlertRulesSettings.test.tsx
  frontend/src/components/settings/AlertRulesSettings.tsx
  frontend/src/types/generated/api.ts
  mutants/backend/alembic/versions/add_loitering_alert_fields.py
Due: backend-unit, backend-integration, frontend

fix: properly mock async dispose() in database pool tests
  .secrets.baseline
  backend/services/alert_engine.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

fix: update tests to use 3-tuple return type and skip old dwell time tests
  .secrets.baseline
  backend/tests/unit/services/test_alert_engine_new_conditions.py
Due: none

chore: update secrets baseline line numbers
  .secrets.baseline
Due: none

fix: add timeout protection to async test fixture cleanup (NEM-5832)
  backend/tests/integration/conftest.py
  backend/tests/integration/services/test_cache_behavior.py
Due: none

feat: Loitering detection alerts and foundation infrastructure (NEM-5107, NEM-5019) (#5832)
  .secrets.baseline
  backend/api/schemas/alerts.py
  backend/api/schemas/analytics_zone.py
  backend/models/alert.py
  backend/models/analytics_zone.py
  backend/services/alert_engine.py
  backend/tests/integration/conftest.py
  backend/tests/integration/services/test_cache_behavior.py
  backend/tests/unit/core/test_query_optimization.py
  backend/tests/unit/services/test_alert_engine.py
  backend/tests/unit/services/test_alert_engine_new_conditions.py
  docs/media/generate_veo3_videos.sh
  docs/openapi.json
  frontend/src/components/settings/AlertRulesSettings.test.tsx
  frontend/src/components/settings/AlertRulesSettings.tsx
  frontend/src/types/generated/api.ts
  mutants/backend/alembic/versions/add_loitering_alert_fields.py
Due: backend-unit, backend-integration, frontend

feat: Ecosystem Integration - MQTT, Home Assistant, Frigate, Webhooks (NEM-5032)
  backend/api/routes/inbound_webhooks.py
  backend/services/frigate_integration.py
  backend/services/ha_discovery.py
  backend/services/mqtt_command_handler.py
  backend/services/mqtt_publisher.py
  backend/tests/unit/services/test_mqtt_publisher.py
  frontend/src/components/settings/MqttSettings.tsx
  frontend/src/hooks/useMqttConfig.ts
  frontend/src/services/mqttConfigApi.ts
Due: backend-unit, backend-integration, frontend

fix: resolve flaky test failures in CI
  backend/tests/unit/services/test_file_watcher.py
Due: none

test: add integration tests for ecosystem integration features
  backend/main.py
  backend/tests/integration/test_frigate_integration.py
  backend/tests/integration/test_ha_discovery.py
  backend/tests/integration/test_inbound_webhooks_api.py
  backend/tests/integration/test_mqtt_command_handler.py
Due: backend-unit, backend-integration

refactor: replace deprecated asyncio.get_event_loop() with get_running_loop() (NEM-5055)
  backend/services/age_classifier_loader.py
  backend/services/depth_anything_loader.py
  backend/services/enrichment_pipeline.py
  backend/services/fashion_clip_loader.py
  backend/services/florence_extractor.py
  backend/services/florence_loader.py
  backend/services/gender_classifier_loader.py
  backend/services/image_quality_loader.py
  backend/services/model_zoo.py
  backend/services/notification.py
  backend/services/osnet_loader.py
  backend/services/pet_classifier_loader.py
  backend/services/quantization.py
  backend/services/rtsp_test_service.py
  backend/services/segformer_loader.py
  backend/services/stream_manager.py
  backend/services/threat_detection_loader.py
  backend/services/vehicle_classifier_loader.py
  backend/services/vehicle_damage_loader.py
  backend/services/violence_loader.py
  backend/services/vitpose_loader.py
  backend/services/weather_loader.py
  backend/services/xclip_loader.py
  backend/services/yolo_world_loader.py
  backend/tests/chaos/test_pubsub_failures.py
  backend/tests/integration/database/test_isolation_levels.py
  backend/tests/unit/services/test_pipeline_workers.py
  backend/tests/unit/services/test_reid_service.py
  backend/tests/unit/services/test_retry_handler.py
  backend/tests/unit/services/test_taskgroup_patterns.py
Due: backend-unit, backend-integration

feat: add model.eval() call to CLIP model loader for deterministic inference (NEM-4995)
  backend/services/clip_loader.py
  backend/tests/unit/services/test_clip_loader.py
Due: backend-unit, backend-integration

feat: convert JSON columns to JSONB in Alert models (NEM-5051)
  backend/models/alert.py
  docs/api/migrations/NEM-5051-convert-alert-json-to-jsonb.sql
Due: backend-unit, backend-integration

feat: add PostgreSQL partial index and rewrite Alembic tests (NEM-5052, NEM-5027)
  backend/models/event.py
  backend/tests/integration/test_alembic_migrations.py
  backend/tests/unit/models/test_event.py
  mutants/backend/alembic/versions/add_partial_index_events_active.py
  mutants/backend/tests/integration/test_alembic_migrations.py
  pyproject.toml
  uv.lock
Due: backend-unit, backend-integration

feat: centralize chart color constants (NEM-5047)
  frontend/src/components/ai/InsightsCharts.tsx
  frontend/src/components/detection/BoundingBoxOverlay.tsx
  frontend/src/components/detection/PoseSkeletonOverlay.tsx
  frontend/src/constants/chartColors.ts
  frontend/src/constants/index.ts
Due: frontend

fix: resolve flaky WebSocket integration tests with proper async cleanup
  WEBSOCKET_TEST_FIXES.md
  backend/tests/integration/services/test_model_loaders.py
  backend/tests/integration/services/test_shadow_mode_deployment_integration.py
  backend/tests/integration/test_redis_pubsub.py
  backend/tests/integration/test_websocket_broadcast.py
  backend/tests/integration/test_websocket_fixes.py
  backend/tests/unit/api/routes/test_system_models.py
  scripts/fix_flaky_tests.py
Due: none

feat: add aria-label attributes to chart components for accessibility (NEM-5044)
  frontend/src/components/ai/LatencyPanel.tsx
  frontend/src/components/ai/ModelContributionChart.tsx
  frontend/src/components/analytics/DetectionTrendsCard.tsx
  frontend/src/components/analytics/ObjectDistributionCard.tsx
  frontend/src/components/analytics/RiskHistoryCard.tsx
  frontend/src/components/analytics/RiskScoreDistributionCard.tsx
  frontend/src/components/analytics/RiskScoreTrendCard.tsx
  frontend/src/components/dashboard/PipelineTelemetry.tsx
  frontend/src/components/performance/PerformanceCharts.tsx
  frontend/src/components/zones/CrossingTrendsChart.tsx
  frontend/src/components/zones/ZoneComparisonChart.tsx
Due: frontend

fix: update test mocks for asyncio.get_running_loop() (NEM-5055)
  backend/tests/unit/services/test_xclip_loader.py
Due: none

fix: add Tailwind class mappings for dynamic risk level colors (NEM-5048)
  frontend/src/components/settings/NotificationSettings.tsx
Due: frontend
