Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml
#
# Coverage trend tracking and regression detection (NEM-1387)
# - Project coverage target: 85%
# - Patch coverage target: 80%
# - Coverage regression blocks PR if > 1% decrease
# - Critical paths require 90%+ coverage

coverage:
  # How to calculate the coverage percentage
  precision: 2
  round: down
  range: '70...100'

  # Status checks that appear on PRs
  status:
    # Project coverage - overall repository coverage
    project:
      default:
        # Target coverage percentage (must meet or exceed)
        target: 85%
        # Allowed coverage decrease before failing (blocks PR if > 1% decrease)
        threshold: 1%
        # Only compare against coverage from the same CI run
        if_ci_failed: error
        # Block PR on coverage regression (not informational)
        informational: false

      # Backend unit tests - stricter threshold
      backend-unit:
        target: 85%
        threshold: 1%
        informational: false
        flags:
          - backend-unit

      # Backend integration tests
      backend-integration:
        target: 50%
        threshold: 2%
        informational: false
        flags:
          - backend-integration

      # Frontend coverage
      frontend:
        target: 80%
        threshold: 2%
        informational: false
        flags:
          - frontend

      # Critical paths - require 90%+ coverage
      # These paths contain security-critical and core business logic
      critical-paths:
        target: 90%
        threshold: 0.5%
        informational: false
        paths:
          - backend/api/routes/
          - backend/services/
          - backend/core/security.py
          - backend/core/auth.py
          - frontend/src/hooks/
          - frontend/src/services/

    # Patch coverage - coverage of changed lines
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        # Stricter threshold for patch coverage
        threshold: 1%
        # Only check if there are enough lines changed
        if_ci_failed: error
        # Block PR if patch coverage is below target (not informational)
        informational: false

# Flags for different test types
flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment settings for PRs
comment:
  # Layout of the comment (reach, diff, flags, files per NEM-1387)
  layout: 'reach,diff,flags,files'
  # Show coverage changes
  behavior: default
  # Require base report to compare (needed for trend tracking)
  require_base: true
  # Show files without coverage changes
  hide_project_coverage: false
  # Show the changes section
  show_carryforward_flags: true

# Ignore paths that shouldn't affect coverage
ignore:
  - 'backend/tests/**/*'
  - 'backend/examples/**/*'
  - 'frontend/tests/**/*'
  - 'frontend/src/test/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/node_modules/**'
  - '**/__pycache__/**'
  - 'docs/**/*'
  - 'scripts/**/*'
  - 'ai/**/*'

# GitHub integration settings
github_checks:
  annotations: true

fix: add missing slow test patterns to performance audit
  scripts/audit-test-durations.py
Due: none

fix(test): update 422 error test to use non-admin endpoint
  backend/tests/integration/test_http_error_codes.py
Due: none

fix(ci): use CPU-only PyTorch to resolve Docker build disk space issue
  pyproject.toml
  uv.lock
Due: none

fix: resolve CI/CD failures (NEM-2879, NEM-2880, NEM-2881, NEM-2882) (#3313)
  .github/workflows/load-tests.yml
  backend/api/routes/admin.py
  backend/tests/integration/test_http_error_codes.py
  backend/tests/unit/api/routes/test_admin.py
  backend/tests/unit/routes/test_admin_routes.py
  pyproject.toml
  scripts/audit-test-durations.py
  uv.lock
Due: backend-unit, backend-integration

fix: health monitor uses container names and services retry forever
  backend/core/config.py
  backend/services/container_discovery.py
  backend/services/health_monitor_orchestrator.py
  backend/services/lifecycle_manager.py
  backend/tests/unit/services/test_health_monitor_orchestrator.py
  backend/tests/unit/services/test_lifecycle_manager.py
Due: backend-unit, backend-integration

test: skip flaky feedback-calibration E2E test in CI
  frontend/tests/e2e/specs/user-journeys/feedback-calibration-loop.spec.ts
Due: none

fix: health monitor uses container names and services retry forever (#3334)
  backend/core/config.py
  backend/services/container_discovery.py
  backend/services/health_monitor_orchestrator.py
  backend/services/lifecycle_manager.py
  backend/tests/unit/services/test_health_monitor_orchestrator.py
  backend/tests/unit/services/test_lifecycle_manager.py
  frontend/tests/e2e/specs/user-journeys/feedback-calibration-loop.spec.ts
Due: backend-unit, backend-integration

docs: add dashboard summaries feature design
  docs/plans/2026-01-18-dashboard-summaries-design.md
Due: none

feat: add dashboard hourly and daily summary cards (NEM-2885)
  backend/alembic/versions/add_summaries_table.py
  backend/api/routes/__init__.py
  backend/api/routes/summaries.py
  backend/api/schemas/summaries.py
  backend/api/schemas/websocket.py
  backend/jobs/__init__.py
  backend/jobs/summary_job.py
  backend/main.py
  backend/models/__init__.py
  backend/models/summary.py
  backend/repositories/__init__.py
  backend/repositories/summary_repository.py
  backend/services/cache_service.py
  backend/services/event_broadcaster.py
  backend/services/prompts.py
  backend/services/summary_generator.py
  backend/tests/integration/test_summaries_api.py
  backend/tests/unit/api/schemas/test_websocket_summary_schemas.py
  backend/tests/unit/api/test_summaries.py
  backend/tests/unit/jobs/test_summary_job.py
  backend/tests/unit/models/test_summary_model.py
  backend/tests/unit/repositories/test_summary_repository.py
  backend/tests/unit/services/test_event_broadcaster_summary.py
  backend/tests/unit/services/test_prompts.py
  backend/tests/unit/services/test_summary_generator.py
  docs/openapi.json
  frontend/src/components/dashboard/DashboardPage.test.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/dashboard/SummaryCards.test.tsx
  frontend/src/components/dashboard/SummaryCards.tsx
  frontend/src/components/dashboard/SummaryCardsIntegration.test.tsx
  frontend/src/components/dashboard/index.ts
  frontend/src/hooks/__tests__/useSummaries.test.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useSummaries.ts
  frontend/src/services/api.ts
  frontend/src/services/queryClient.ts
  frontend/src/types/__tests__/summary.test.ts
  frontend/src/types/index.ts
  frontend/src/types/summary.ts
Due: backend-unit, backend-integration, frontend

fix: add broadcast_summary_update to MockEventBroadcaster
  backend/tests/unit/core/test_websocket.py
  frontend/src/types/generated/api.ts
Due: frontend

fix: resolve CI failures in dependency audit and flaky E2E tests
  .github/workflows/dependency-audit.yml
  frontend/tests/e2e/specs/realtime-updates.spec.ts
Due: none

fix: skip flaky E2E tests in CI environment
  frontend/tests/e2e/specs/accessibility.spec.ts
  frontend/tests/e2e/specs/ai-audit.spec.ts
  frontend/tests/e2e/specs/alert-rules.spec.ts
  frontend/tests/e2e/specs/performance.spec.ts
Due: none

fix: add --no-cache flag to all container builds in redeploy.sh
  scripts/redeploy.sh
Due: none

fix: add timeout to compose up commands to prevent health check hangs
  scripts/redeploy.sh
Due: none

docs: restructure README.md for all audiences with Nemotron as headline
  README.md
Due: none

docs: restructure README.md for all audiences with Nemotron as headline (#3344)
  README.md
Due: none

fix: resolve container health check and connection pool issues
  backend/core/database.py
  backend/services/nemotron_analyzer.py
  backend/tests/unit/services/test_nemotron_analyzer.py
  docker-compose.ci.yml
  docker-compose.ghcr.yml
  docker-compose.prod.yml
  docker-compose.staging.yml
  monitoring/prometheus_rules.yml
Due: backend-unit, backend-integration

docs: add UI screenshots and animated dashboard tour
  README.md
  docs/images/dashboard-tour.gif
  docs/images/screenshots/ai-performance.png
  docs/images/screenshots/alerts.png
  docs/images/screenshots/analytics.png
  docs/images/screenshots/audit-log.png
  docs/images/screenshots/dashboard-tour.gif
  docs/images/screenshots/dashboard.png
  docs/images/screenshots/entities.png
  docs/images/screenshots/jobs.png
  docs/images/screenshots/logs.png
  docs/images/screenshots/operations.png
  docs/images/screenshots/settings.png
  docs/images/screenshots/system.png
  docs/images/screenshots/timeline.png
  docs/images/screenshots/trash.png
  docs/ui/ai-performance.md
  docs/ui/alerts.md
  docs/ui/analytics.md
  docs/ui/audit-log.md
  docs/ui/dashboard.md
  docs/ui/entities.md
  docs/ui/jobs.md
  docs/ui/logs.md
  docs/ui/operations.md
  docs/ui/settings.md
  docs/ui/timeline.md
  docs/ui/trash.md
Due: none

refactor: remove mock data, use real pipeline and CLIP embeddings
  scripts/seed-events.py
Due: none

perf: reduce GPU_LAYERS from 35 to 25 for memory optimization
  .env.example
  docker-compose.prod.yml
Due: none

fix: add eager loading to prevent lazy loading error in summary generation
  backend/repositories/event_repository.py
  backend/services/summary_generator.py
  docs/images/screenshots/dashboard.png
Due: backend-unit, backend-integration

feat: integrate SummaryJobScheduler into backend startup (NEM-2891)
  backend/main.py
Due: backend-unit, backend-integration

perf: increase GPU_LAYERS to 30 for better inference speed
  .env.example
  docker-compose.prod.yml
Due: none

fix: improve redeploy.sh with --no-cache, timeouts, and migration stamping
  scripts/redeploy.sh
Due: none

fix: use values_callable for AlertSeverity/AlertStatus enums
  backend/models/alert.py
Due: backend-unit, backend-integration

fix: resolve Ruff lint errors in nemotron_analyzer
  backend/services/nemotron_analyzer.py
Due: backend-unit, backend-integration

docs: update dashboard screenshot with summary cards
  docs/images/dashboard-tour.gif
  docs/images/screenshots/dashboard.png
Due: none

fix: update test mock for eager_load_camera parameter
  .secrets.baseline
  README.md
  backend/main.py
  backend/tests/unit/services/test_summary_generator.py
Due: backend-unit, backend-integration

style: format nemotron_analyzer.py
  backend/services/nemotron_analyzer.py
Due: backend-unit, backend-integration

fix: resolve container health check and connection pool issues (#3348)
  backend/core/database.py
  backend/services/nemotron_analyzer.py
  backend/tests/unit/services/test_nemotron_analyzer.py
  docker-compose.ci.yml
  docker-compose.ghcr.yml
  docker-compose.prod.yml
  docker-compose.staging.yml
  monitoring/prometheus_rules.yml
Due: backend-unit, backend-integration
