Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml
#
# Coverage trend tracking and regression detection (NEM-1387)
# - Project coverage target: 85%
# - Patch coverage target: 80%
# - Coverage regression blocks PR if > 1% decrease
# - Critical paths require 90%+ coverage

coverage:
  # How to calculate the coverage percentage
  precision: 2
  round: down
  range: '70...100'

  # Status checks that appear on PRs
  status:
    # Project coverage - overall repository coverage
    project:
      default:
        # Target coverage percentage (must meet or exceed)
        target: 85%
        # Allowed coverage decrease before failing (blocks PR if > 1% decrease)
        threshold: 1%
        # Only compare against coverage from the same CI run
        if_ci_failed: error
        # Block PR on coverage regression (not informational)
        informational: false

      # Backend unit tests - stricter threshold
      backend-unit:
        target: 85%
        threshold: 1%
        informational: false
        flags:
          - backend-unit

      # Backend integration tests
      backend-integration:
        target: 50%
        threshold: 2%
        informational: false
        flags:
          - backend-integration

      # Frontend coverage
      frontend:
        target: 80%
        threshold: 2%
        informational: false
        flags:
          - frontend

      # Critical paths - require 90%+ coverage
      # These paths contain security-critical and core business logic
      critical-paths:
        target: 90%
        threshold: 0.5%
        informational: false
        paths:
          - backend/api/routes/
          - backend/services/
          - backend/core/security.py
          - backend/core/auth.py
          - frontend/src/hooks/
          - frontend/src/services/

    # Patch coverage - coverage of changed lines
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        # Stricter threshold for patch coverage
        threshold: 1%
        # Only check if there are enough lines changed
        if_ci_failed: error
        # Block PR if patch coverage is below target (not informational)
        informational: false

# Flags for different test types
flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment settings for PRs
comment:
  # Layout of the comment (reach, diff, flags, files per NEM-1387)
  layout: 'reach,diff,flags,files'
  # Show coverage changes
  behavior: default
  # Require base report to compare (needed for trend tracking)
  require_base: true
  # Show files without coverage changes
  hide_project_coverage: false
  # Show the changes section
  show_carryforward_flags: true

# Ignore paths that shouldn't affect coverage
ignore:
  - 'backend/tests/**/*'
  - 'backend/examples/**/*'
  - 'frontend/tests/**/*'
  - 'frontend/src/test/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/node_modules/**'
  - '**/__pycache__/**'
  - 'docs/**/*'
  - 'scripts/**/*'
  - 'ai/**/*'

# GitHub integration settings
github_checks:
  annotations: true

docs(backend): re-sync B-1 prose with facts #6922 landed
  backend/core/websocket/subprotocol.py
  backend/tests/integration/test_ws_subprotocol_echo_b1.py
Due: backend-unit, backend-integration

test(scripts): add the B-2 key-mode pass to the F1.3 harness (B-1 item 3)
  scripts/uplevel-f13-done-when/README.md
  scripts/uplevel-f13-done-when/docker-compose.f13-key-mode.yml
  scripts/uplevel-f13-done-when/ui-key-drive.cjs
Due: none

feat(validator): W3.1 boundary mode — required at boundaries, forbidden elsewhere
  scripts/agents_md_validator.py
  scripts/test_agents_md_validator.py
Due: none

docs(synthbench): W3.1 batch 1 — prune 10 satellite AGENTS.md
  .agents-md-validator.yml
  backend/tests/unit/synthbench/AGENTS.md
  backend/tests/unit/synthbench/spikes/AGENTS.md
  scripts/test_agents_md_validator.py
  synthbench/AGENTS.md
  synthbench/audit/AGENTS.md
  synthbench/clips/AGENTS.md
  synthbench/export/AGENTS.md
  synthbench/generate/AGENTS.md
  synthbench/generate/comfy/AGENTS.md
  synthbench/run/AGENTS.md
  synthbench/score/AGENTS.md
  synthbench/spikes/AGENTS.md
  synthbench/spikes/p1_bakeoff/AGENTS.md
  synthbench/taxonomy/AGENTS.md
Due: none

fix(backend,frontend,scripts): clear the six CI-gate findings on the B-1 head
  backend/core/websocket/subprotocol.py
  backend/tests/integration/_b1_ws_subprotocol_server.py
  backend/tests/integration/test_system_broadcaster.py
  backend/tests/integration/test_ws_subprotocol_echo_b1.py
  backend/tests/security/test_docker_compose_security.py
  backend/tests/unit/services/test_event_broadcaster_batch31_c1.py
  frontend/src/__tests__/api-endpoint-contract.test.ts
  scripts/uplevel-f13-done-when/README.md
Due: backend-unit, backend-integration

docs(ai): W3.1 batch 2 — prune 10 satellite AGENTS.md guides
  .agents-md-validator.yml
  ai/AGENTS.md
  ai/__init__.py
  ai/common/AGENTS.md
  ai/common/tests/AGENTS.md
  ai/gateway/AGENTS.md
  ai/gateway/adapters/AGENTS.md
  ai/gateway/export/AGENTS.md
  ai/gateway/tests/AGENTS.md
  ai/shared/AGENTS.md
  ai/tests/AGENTS.md
  ai/torch_optimizations.py
  ai/triton/AGENTS.md
  ai/triton/tests/AGENTS.md
  ai/yolo26/AGENTS.md
  ai/yolo26/tests/AGENTS.md
  archive/README.md
  backend/services/AGENTS.md
  backend/tests/fixtures/images/AGENTS.md
  backend/tests/gpu/AGENTS.md
  docs/ai/AGENTS.md
  docs/reference/models.md
  scripts/test_agents_md_validator.py
Due: backend-unit, backend-integration

docs(scripts): W3.1 batch 3 — prune 8 satellite AGENTS.md guides
  .agents-md-validator.yml
  scripts/AGENTS.md
  scripts/benchmark/AGENTS.md
  scripts/dataset_converters/AGENTS.md
  scripts/synthetic/AGENTS.md
  scripts/test_agents_md_validator.py
  scripts/uplevel/AGENTS.md
  scripts/validate_docs/AGENTS.md
  scripts/validate_docs/parsers/AGENTS.md
  scripts/validate_docs/reports/AGENTS.md
  scripts/validate_docs/validators/AGENTS.md
Due: none

docs(monitoring): W3.1 batch 4 — prune 6 satellite AGENTS.md guides
  .agents-md-validator.yml
  monitoring/AGENTS.md
  monitoring/dcgm/AGENTS.md
  monitoring/grafana/AGENTS.md
  monitoring/grafana/dashboards/AGENTS.md
  monitoring/grafana/provisioning/AGENTS.md
  monitoring/grafana/provisioning/dashboards/AGENTS.md
  monitoring/grafana/provisioning/datasources/AGENTS.md
  scripts/test_agents_md_validator.py
Due: none

fix(ci): travel the suppression registry with the compose-test line shift
  .github/suppression-registry.yml
Due: none

docs(root): W3.1 batch 5 — prune 6 tail satellite AGENTS.md guides
  .agents-md-validator.yml
  AGENTS.md
  archive/vsftpd/AGENTS.md
  data/AGENTS.md
  docker/AGENTS.md
  scripts/test_agents_md_validator.py
  tests/AGENTS.md
  tests/benchmark/AGENTS.md
  tests/benchmark/README.md
  tests/load/AGENTS.md
Due: none

docs(uplevel): W3.1 batch 7 — prune the 11 backend satellites
  .agents-md-validator.yml
  backend/AGENTS.md
  backend/ai_contract/AGENTS.md
  backend/ai_contract/fake/AGENTS.md
  backend/api/AGENTS.md
  backend/api/utils/AGENTS.md
  backend/config/AGENTS.md
  backend/core/AGENTS.md
  backend/core/middleware/AGENTS.md
  backend/core/websocket/AGENTS.md
  backend/evaluation/AGENTS.md
  backend/examples/AGENTS.md
  backend/jobs/AGENTS.md
  backend/repositories/AGENTS.md
  backend/scripts/AGENTS.md
  backend/services/AGENTS.md
  backend/services/orchestrator/AGENTS.md
  scripts/test_agents_md_validator.py
Due: backend-unit, backend-integration

docs(uplevel): W3.1 batch 7 follow-up — resync .secrets.baseline
  .secrets.baseline
Due: none

docs(uplevel): W3.1 batch 8 — prune the frontend/src test cluster
  backend/tests/integration/TEST_NOTIFICATION_DELIVERY_SUMMARY.md
  docs/developer/patterns-and-conventions.md
  frontend/src/AGENTS.md
  frontend/src/__mocks__/AGENTS.md
  frontend/src/__tests__/AGENTS.md
  frontend/src/hooks/AGENTS.md
  frontend/src/hooks/__mocks__/AGENTS.md
  frontend/src/hooks/__tests__/AGENTS.md
  frontend/src/hooks/__tests__/integration/AGENTS.md
  frontend/src/hooks/__tests__/integration/README.md
  frontend/src/mocks/AGENTS.md
  frontend/src/test-utils/AGENTS.md
  frontend/src/test/AGENTS.md
  frontend/src/test/factories/AGENTS.md
  frontend/src/types/AGENTS.md
  frontend/src/types/__tests__/AGENTS.md
  frontend/tests/AGENTS.md
  scripts/test_agents_md_validator.py
Due: frontend

docs(uplevel): W3.1 batch 8 follow-up — re-measure the lift's numbers
  frontend/src/AGENTS.md
Due: frontend

docs(uplevel): W3.1 post-ship corrections from the reader audits
  backend/AGENTS.md
  backend/core/AGENTS.md
  backend/services/AGENTS.md
  frontend/src/AGENTS.md
  frontend/src/hooks/AGENTS.md
  frontend/src/types/AGENTS.md
Due: backend-unit, backend-integration, frontend

docs(uplevel): W3.1 batch-7 KEEP recovery into boundaries
  .secrets.baseline
  backend/AGENTS.md
  backend/core/AGENTS.md
Due: backend-unit, backend-integration

test(backend): pin the DLQ job-loss log against a CI stall (L-i, red)
  backend/tests/unit/services/test_retry_handler.py
Due: none

fix(backend): widen the DLQ-loss fixture's recovery window (L-i fix)
  backend/tests/unit/services/test_retry_handler.py
Due: none

fix(docs): re-aim the live refs the batch-6 prune left dangling
  .github/workflows/pr-review-bot.yml
  .github/workflows/test-coverage-gate.yml
  docs/architecture/testing/README.md
Due: none

docs(frontend): correct the risk-color and text-color claims at their source
  frontend/AGENTS.md
  frontend/src/types/AGENTS.md
Due: frontend

fix(backend): keep the orchestrator inside its own compose project
  backend/services/container_discovery.py
  backend/services/container_orchestrator.py
  backend/services/lifecycle_manager.py
  backend/tests/integration/test_orchestrator_integration.py
  backend/tests/unit/services/test_container_discovery.py
  backend/tests/unit/services/test_container_discovery_batch20.py
  backend/tests/unit/services/test_container_orchestrator.py
  backend/tests/unit/services/test_lifecycle_manager.py
  backend/tests/unit/services/test_orchestrator_project_scope.py
Due: backend-unit, backend-integration

docs: the orchestrator discovers and recovers in its own project
  backend/services/AGENTS.md
  docs/operator/service-control.md
Due: backend-unit, backend-integration

docs(uplevel): set B1.6 done (#6929)
  docs/uplevel/README.md
Due: none

test(setup_lib): return the installer's tests to the live suite (O1.5 item 1)
  backend/tests/unit/setup_lib/test_setup.py
  backend/tests/unit/setup_lib/test_setup_core.py
Due: none

fix(trivy): repoint the AVD-DS-0002 register off archive/Dockerfile (O1.5 item 2)
  .trivyignore
  backend/tests/unit/scripts/test_backend_image_trivy_clean.py
Due: none

test(ops): RED for O1.11 — monitoring callers need the machine key
  backend/tests/unit/core/test_monitoring_expose_lan_credentials.py
Due: none

fix(backend): B1.6 self-review: alert at CRITICAL, back off, self-check
  backend/services/container_discovery.py
  backend/services/container_orchestrator.py
  backend/services/health_monitor_orchestrator.py
  backend/services/lifecycle_manager.py
  backend/tests/integration/test_orchestrator_integration.py
  backend/tests/unit/services/test_orchestrator_project_scope.py
Due: backend-unit, backend-integration

docs: B1.6 recovery and alerting; set the row awaiting real tier
  docs/deployment/container-orchestration.md
  docs/operator/service-control.md
  docs/uplevel/README.md
Due: none

test(ops): RED for O1.11 — the json-exporter leg and render precedence
  backend/tests/unit/core/test_monitoring_expose_lan_credentials.py
Due: none

docs(uplevel): W3.1 batch 9 — lift the seven frontend/src satellites
  frontend/AGENTS.md
  frontend/src/AGENTS.md
  frontend/src/config/AGENTS.md
  frontend/src/constants/AGENTS.md
  frontend/src/lib/AGENTS.md
  frontend/src/schemas/AGENTS.md
  frontend/src/styles/AGENTS.md
  frontend/src/theme/AGENTS.md
  frontend/src/types/AGENTS.md
  frontend/src/types/generated/AGENTS.md
  scripts/test_agents_md_validator.py
Due: frontend

fix(tests): autospec the 24 mock-patch sites the archive move put in the census
  .secrets.baseline
  backend/tests/unit/setup_lib/test_setup.py
Due: none

feat(ops): O1.11 — monitoring behind the gate (UR-33)
  .env.example
  README.md
  backend/tests/unit/core/test_monitoring_expose_lan_credentials.py
  docker-compose.prod.yml
  docs/_includes/auth-model.md
  docs/decisions/grafana-integration.md
  docs/operations/profiling-runbook.md
  docs/operator/admin/security.md
  docs/reference/config/env-reference.md
  frontend/docker-entrypoint.sh
  monitoring/alertmanager.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/json-exporter-config.yml
  monitoring/prometheus.yml
  setup.py
  setup_lib/core.py
Due: none
