Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml
#
# Coverage trend tracking and regression detection (NEM-1387)
# - Project coverage target: 85%
# - Patch coverage target: 80%
# - Coverage regression blocks PR if > 1% decrease
# - Critical paths require 90%+ coverage

coverage:
  # How to calculate the coverage percentage
  precision: 2
  round: down
  range: '70...100'

  # Status checks that appear on PRs
  status:
    # Project coverage - overall repository coverage
    project:
      default:
        # Target coverage percentage (must meet or exceed)
        target: 85%
        # Allowed coverage decrease before failing (blocks PR if > 1% decrease)
        threshold: 1%
        # Only compare against coverage from the same CI run
        if_ci_failed: error
        # Block PR on coverage regression (not informational)
        informational: false

      # Backend unit tests - stricter threshold
      backend-unit:
        target: 85%
        threshold: 1%
        informational: false
        flags:
          - backend-unit

      # Backend integration tests
      backend-integration:
        target: 50%
        threshold: 2%
        informational: false
        flags:
          - backend-integration

      # Frontend coverage
      frontend:
        target: 80%
        threshold: 2%
        informational: false
        flags:
          - frontend

      # Critical paths - require 90%+ coverage
      # These paths contain security-critical and core business logic
      critical-paths:
        target: 90%
        threshold: 0.5%
        informational: false
        paths:
          - backend/api/routes/
          - backend/services/
          - backend/core/security.py
          - backend/core/auth.py
          - frontend/src/hooks/
          - frontend/src/services/

    # Patch coverage - coverage of changed lines
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        # Stricter threshold for patch coverage
        threshold: 1%
        # Only check if there are enough lines changed
        if_ci_failed: error
        # Block PR if patch coverage is below target (not informational)
        informational: false

# Flags for different test types
flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment settings for PRs
comment:
  # Layout of the comment (reach, diff, flags, files per NEM-1387)
  layout: 'reach,diff,flags,files'
  # Show coverage changes
  behavior: default
  # Require base report to compare (needed for trend tracking)
  require_base: true
  # Show files without coverage changes
  hide_project_coverage: false
  # Show the changes section
  show_carryforward_flags: true

# Ignore paths that shouldn't affect coverage
ignore:
  - 'backend/tests/**/*'
  - 'backend/examples/**/*'
  - 'frontend/tests/**/*'
  - 'frontend/src/test/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/node_modules/**'
  - '**/__pycache__/**'
  - 'docs/**/*'
  - 'scripts/**/*'
  - 'ai/**/*'

# GitHub integration settings
github_checks:
  annotations: true

feat: comprehensive testing infrastructure uplevel (#3735)
  .github/workflows/api-compatibility.yml
  .github/workflows/ci.yml
  .github/workflows/flaky-test-detection.yml
  .pre-commit-config.yaml
  .secrets.baseline
  FLAKY_TEST_DETECTION_IMPLEMENTATION.md
  backend/tests/conftest.py
  backend/tests/hypothesis_strategies.py
  backend/tests/hypothesis_strategies_usage.md
  backend/tests/unit/api/routes/test_dlq.py
  backend/tests/unit/api/routes/test_health_ai_services.py
  backend/tests/unit/api/routes/test_notification.py
  backend/tests/unit/api/routes/test_summaries.py
  backend/tests/unit/api/routes/test_zone_household.py
  backend/tests/unit/models/test_camera_zone.py
  backend/tests/unit/models/test_enrichment.py
  backend/tests/unit/models/test_zone_anomaly.py
  backend/tests/unit/models/test_zone_baseline.py
  backend/tests/unit/test_check_api_breaking_changes.py
  backend/tests/unit/test_hypothesis_strategies.py
  backend/tests/unit/test_websocket_mock_example.py
  backend/tests/unit/test_websocket_utils.py
  backend/tests/websocket_utils.py
  docs/development/api-breaking-change-detection.md
  docs/development/flaky-test-detection.md
  docs/development/hooks.md
  frontend/src/hooks/__tests__/useAdminMutations.test.tsx
  frontend/src/hooks/__tests__/useHouseholdApi.test.ts
  frontend/src/hooks/__tests__/usePaginationState.test.tsx
  frontend/src/hooks/__tests__/usePromptQueries.test.tsx
  frontend/src/hooks/__tests__/useSettingsApi.test.tsx
  frontend/src/hooks/__tests__/useZoneAlerts.test.tsx
  scripts/check-api-breaking-changes.py
  scripts/pre-push-tests.sh
Due: none

feat: add Python 3.14 free-threaded Docker image build infrastructure (NEM-3238)
  .github/workflows/python-freethreaded.yml
  backend/Dockerfile
  docker/AGENTS.md
  docker/python-freethreaded/Dockerfile
Due: backend-unit, backend-integration

fix: address shell injection vulnerability in python-freethreaded workflow
  .github/workflows/python-freethreaded.yml
Due: none

fix: add type ignore for docker library missing type stubs
  backend/core/docker_client.py
Due: backend-unit, backend-integration

feat: add Python 3.14 free-threaded Docker image infrastructure (NEM-3238) (#3738)
  .github/workflows/python-freethreaded.yml
  backend/Dockerfile
  backend/core/docker_client.py
  docker/AGENTS.md
  docker/python-freethreaded/Dockerfile
Due: backend-unit, backend-integration

fix: podman deployment fixes for image resolution and build context
  docker-compose.ghcr.yml
  docker-compose.prod.yml
  scripts/redeploy.sh
Due: none

feat: add Redis slow log and PostgreSQL server-side query monitoring (NEM-3054, NEM-3055) (#3742)
  docker-compose.prod.yml
  monitoring/alerting-rules.yml
  monitoring/alloy/config.alloy
  monitoring/grafana/dashboards/consolidated.json
  monitoring/grafana/dashboards/logs.json
Due: none

fix: podman deployment fixes for image resolution and build context (#3746)
  docker-compose.ghcr.yml
  docker-compose.prod.yml
  scripts/redeploy.sh
Due: none

docs: add full platform seed script design
  docs/plans/2026-01-21-full-platform-seed-design.md
Due: none

test: add integration tests for new model loaders (age, gender, OSNet, threat detection)
  .secrets.baseline
  backend/api/routes/__init__.py
  backend/api/routes/logs.py
  backend/api/schemas/logs.py
  backend/main.py
  backend/services/age_classifier_loader.py
  backend/services/enrichment_pipeline.py
  backend/services/gender_classifier_loader.py
  backend/services/model_zoo.py
  backend/services/osnet_loader.py
  backend/services/prompts.py
  backend/services/threat_detection_loader.py
  backend/tests/integration/services/test_age_classifier_loader.py
  backend/tests/integration/services/test_gender_classifier_loader.py
  backend/tests/integration/services/test_model_loaders.py
  backend/tests/integration/services/test_osnet_loader.py
  backend/tests/integration/services/test_threat_detection_loader.py
  backend/tests/integration/test_logs_api.py
  backend/tests/unit/api/routes/test_logs.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

docs: add documentation for frontend logs API and enrichment result schema
  docs/ai/model-zoo.md
  docs/developer/api/system-ops.md
Due: none

fix: resolve Grafana dashboard datasource and query issues
  docker-compose.prod.yml
  docker-compose.staging.yml
  monitoring/grafana/dashboards/logs.json
  monitoring/grafana/provisioning/datasources/prometheus.yml
Due: none

feat: add Python 3.14 free-threaded Docker image build infrastructure (NEM-3238)
  .github/workflows/python-freethreaded.yml
Due: none

fix: update logs API test to handle structured error response format
  backend/tests/integration/test_logs_api.py
Due: none

chore: change default log level from INFO to WARNING
  backend/core/AGENTS.md
  backend/core/config.py
Due: backend-unit, backend-integration

feat: add frontend logs API and expand model zoo with new AI models (#3747)
  .secrets.baseline
  backend/api/routes/__init__.py
  backend/api/routes/logs.py
  backend/api/schemas/logs.py
  backend/main.py
  backend/services/age_classifier_loader.py
  backend/services/enrichment_pipeline.py
  backend/services/gender_classifier_loader.py
  backend/services/model_zoo.py
  backend/services/osnet_loader.py
  backend/services/prompts.py
  backend/services/threat_detection_loader.py
  backend/tests/integration/services/test_age_classifier_loader.py
  backend/tests/integration/services/test_gender_classifier_loader.py
  backend/tests/integration/services/test_model_loaders.py
  backend/tests/integration/services/test_osnet_loader.py
  backend/tests/integration/services/test_threat_detection_loader.py
  backend/tests/integration/test_logs_api.py
  backend/tests/unit/api/routes/test_logs.py
  docs/ai/model-zoo.md
  docs/developer/api/system-ops.md
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

fix: resolve Grafana dashboard issues and enable profiling by default (#3748)
  backend/core/AGENTS.md
  backend/core/config.py
  docker-compose.prod.yml
  docker-compose.staging.yml
  monitoring/grafana/dashboards/logs.json
  monitoring/grafana/provisioning/datasources/prometheus.yml
Due: backend-unit, backend-integration

feat: expand seed script with Phases 5-6 (experimentation, zone monitoring)
  backend/models/export_job.py
  docs/plans/2026-01-21-full-platform-seed-design.md
  monitoring/grafana/dashboards/logs.json
  monitoring/grafana/provisioning/datasources/prometheus.yml
  scripts/seed-events.py
Due: backend-unit, backend-integration

feat: expand seed script with Phases 5-6 (experimentation, zone monitoring) (#3751)
  backend/models/export_job.py
  docs/plans/2026-01-21-full-platform-seed-design.md
  scripts/seed-events.py
Due: backend-unit, backend-integration

fix: resolve 14 dashboard and metrics bugs (NEM-3253 to NEM-3275)
  .github/workflows/load-tests.yml
  .secrets.baseline
  backend/api/routes/detections.py
  backend/api/routes/entities.py
  backend/api/routes/exports.py
  backend/api/routes/system.py
  backend/api/schemas/detections.py
  backend/repositories/entity_repository.py
  backend/services/performance_collector.py
  backend/tests/integration/test_admin_api.py
  backend/tests/integration/test_detections_api.py
  backend/tests/integration/test_entities_api.py
  backend/tests/integration/test_nem_3262_camera_count_fix.py
  backend/tests/unit/api/routes/test_exports.py
  backend/tests/unit/services/test_performance_collector.py
  docker-compose.prod.yml
  docker-compose.staging.yml
  docs/openapi.json
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/dashboard/SummaryCards.test.tsx
  frontend/src/components/dashboard/SummaryCards.tsx
  frontend/src/components/settings/AIModelsSettings.test.tsx
  frontend/src/hooks/useAIMetrics.test.ts
  frontend/src/hooks/useAIMetrics.ts
  frontend/src/hooks/useAuditLogsInfiniteQuery.ts
  frontend/src/hooks/useCursorPaginatedQuery.ts
  frontend/src/services/aiAuditApi.test.ts
  frontend/src/services/aiAuditApi.ts
  frontend/src/services/api.summaries.test.ts
  frontend/src/services/api.ts
  frontend/src/services/promptManagementApi.test.ts
  frontend/src/services/promptManagementApi.ts
  frontend/src/types/aiAudit.ts
  frontend/src/types/generated/api.ts
  monitoring/grafana/dashboards/analytics.json
  scripts/fix_entity_cameras_seen.py
  scripts/load_test.py
  tests/load/all.js
  tests/load/config.js
Due: backend-unit, backend-integration, frontend

fix: resolve 14 dashboard and metrics bugs (NEM-3253 to NEM-3275) (#3777)
  .github/workflows/load-tests.yml
  .secrets.baseline
  backend/api/routes/detections.py
  backend/api/routes/entities.py
  backend/api/routes/exports.py
  backend/api/routes/system.py
  backend/api/schemas/detections.py
  backend/repositories/entity_repository.py
  backend/services/performance_collector.py
  backend/tests/integration/test_admin_api.py
  backend/tests/integration/test_detections_api.py
  backend/tests/integration/test_entities_api.py
  backend/tests/integration/test_nem_3262_camera_count_fix.py
  backend/tests/unit/api/routes/test_exports.py
  backend/tests/unit/services/test_performance_collector.py
  docker-compose.prod.yml
  docker-compose.staging.yml
  docs/openapi.json
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/dashboard/SummaryCards.test.tsx
  frontend/src/components/dashboard/SummaryCards.tsx
  frontend/src/components/settings/AIModelsSettings.test.tsx
  frontend/src/hooks/useAIMetrics.test.ts
  frontend/src/hooks/useAIMetrics.ts
  frontend/src/hooks/useAuditLogsInfiniteQuery.ts
  frontend/src/hooks/useCursorPaginatedQuery.ts
  frontend/src/services/aiAuditApi.test.ts
  frontend/src/services/aiAuditApi.ts
  frontend/src/services/api.summaries.test.ts
  frontend/src/services/api.ts
  frontend/src/services/promptManagementApi.test.ts
  frontend/src/services/promptManagementApi.ts
  frontend/src/types/aiAudit.ts
  frontend/src/types/generated/api.ts
  monitoring/grafana/dashboards/analytics.json
  scripts/fix_entity_cameras_seen.py
  scripts/load_test.py
  tests/load/all.js
  tests/load/config.js
Due: backend-unit, backend-integration, frontend

fix: align zone_activity_baselines schema between ORM and database
  backend/alembic/versions/c3d4e5f6g7h8_add_zone_activity_baselines.py
  backend/models/zone_baseline.py
  backend/tests/integration/services/test_zone_anomaly_service.py
  backend/tests/unit/models/test_zone_baseline.py
  scripts/seed-events.py
Due: backend-unit, backend-integration

fix: resolve CI failures for zone baseline schema alignment
  .github/workflows/api-compatibility.yml
  backend/tests/integration/conftest.py
  backend/tests/integration/test_orchestrator_integration.py
Due: none

fix: wrap UUID server_default in text() for correct SQL generation
  backend/models/zone_baseline.py
Due: backend-unit, backend-integration

fix: update test to expect 5 workers including batch_aggregator
  backend/tests/unit/routes/test_system_routes.py
Due: none

fix: resolve CI failures for zone baseline schema alignment (NEM-3780) (#3793)
  .github/workflows/api-compatibility.yml
  backend/alembic/versions/c3d4e5f6g7h8_add_zone_activity_baselines.py
  backend/models/zone_baseline.py
  backend/tests/integration/conftest.py
  backend/tests/integration/services/test_zone_anomaly_service.py
  backend/tests/integration/test_orchestrator_integration.py
  backend/tests/unit/models/test_zone_baseline.py
  backend/tests/unit/routes/test_system_routes.py
  scripts/seed-events.py
Due: backend-unit, backend-integration

fix: update camera last_seen_at on all image processing (NEM-3268)
  .env.example
  backend/AGENTS.md
  backend/core/telemetry.py
  backend/entrypoint.sh
  backend/services/detector_client.py
  backend/tests/unit/services/test_detector_client.py
  docs/operator/admin/README.md
  docs/reference/config/env-reference.md
  frontend/src/components/common/CommandPalette.test.tsx
  frontend/src/components/common/CommandPalette.tsx
  frontend/src/components/dashboard/SummaryCards.test.tsx
  frontend/src/components/dashboard/SummaryCards.tsx
  frontend/src/components/settings/SettingsPage.test.tsx
  frontend/src/components/settings/SettingsPage.tsx
  frontend/src/services/aiAuditApi.test.ts
  frontend/src/services/api.ts
  frontend/src/services/promptManagementApi.test.ts
  frontend/src/services/promptManagementApi.ts
  monitoring/grafana/dashboards/logs.json
  mutants/backend/AGENTS.md
  mutants/backend/core/AGENTS.md
  mutants/backend/core/config.py
  scripts/ai-entrypoint.sh
Due: backend-unit, backend-integration, frontend

feat: Grafana Dashboard Production Readiness Audit (NEM-3282)
  backend/api/routes/events.py
  backend/core/metrics.py
  backend/services/token_counter.py
  monitoring/grafana/dashboards/consolidated.json
  monitoring/prometheus-rules.yml
Due: backend-unit, backend-integration

fix: update camera last_seen_at on all image processing (NEM-3268) (#3795)
  .env.example
  backend/AGENTS.md
  backend/core/telemetry.py
  backend/entrypoint.sh
  backend/services/detector_client.py
  backend/tests/unit/services/test_detector_client.py
  docs/operator/admin/README.md
  docs/reference/config/env-reference.md
  frontend/src/components/common/CommandPalette.test.tsx
  frontend/src/components/common/CommandPalette.tsx
  frontend/src/components/dashboard/SummaryCards.test.tsx
  frontend/src/components/dashboard/SummaryCards.tsx
  frontend/src/components/settings/SettingsPage.test.tsx
  frontend/src/components/settings/SettingsPage.tsx
  frontend/src/services/aiAuditApi.test.ts
  frontend/src/services/api.ts
  frontend/src/services/promptManagementApi.test.ts
  frontend/src/services/promptManagementApi.ts
  monitoring/grafana/dashboards/logs.json
  mutants/backend/AGENTS.md
  mutants/backend/core/AGENTS.md
  mutants/backend/core/config.py
  scripts/ai-entrypoint.sh
Due: backend-unit, backend-integration, frontend

feat: implement multi-GPU support foundation (NEM-3292)
  .gitignore
  .pre-commit-config.yaml
  backend/alembic/versions/e5f6g7h8i9j0_add_gpu_config_tables.py
  backend/api/schemas/__init__.py
  backend/api/schemas/gpu_config.py
  backend/models/__init__.py
  backend/models/gpu_config.py
  backend/services/__init__.py
  backend/services/gpu_config_service.py
  backend/tests/unit/services/test_gpu_config_service.py
  frontend/src/hooks/index.ts
  frontend/src/hooks/useGpuConfig.ts
  frontend/src/services/gpuConfigApi.ts
  pyproject.toml
  uv.lock
Due: backend-unit, backend-integration, frontend
