Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml
#
# Coverage trend tracking and regression detection (NEM-1387)
# - Project coverage target: 85%
# - Patch coverage target: 80%
# - Coverage regression blocks PR if > 1% decrease
# - Critical paths require 90%+ coverage

coverage:
  # How to calculate the coverage percentage
  precision: 2
  round: down
  range: '70...100'

  # Status checks that appear on PRs
  status:
    # Project coverage - overall repository coverage
    project:
      default:
        # Target coverage percentage (must meet or exceed)
        target: 85%
        # Allowed coverage decrease before failing (blocks PR if > 1% decrease)
        threshold: 1%
        # Only compare against coverage from the same CI run
        if_ci_failed: error
        # Block PR on coverage regression (not informational)
        informational: false

      # Backend unit tests - stricter threshold
      backend-unit:
        target: 85%
        threshold: 1%
        informational: false
        flags:
          - backend-unit

      # Backend integration tests
      backend-integration:
        target: 50%
        threshold: 2%
        informational: false
        flags:
          - backend-integration

      # Frontend coverage
      frontend:
        target: 80%
        threshold: 2%
        informational: false
        flags:
          - frontend

      # Critical paths - require 90%+ coverage
      # These paths contain security-critical and core business logic
      critical-paths:
        target: 90%
        threshold: 0.5%
        informational: false
        paths:
          - backend/api/routes/
          - backend/services/
          - backend/core/security.py
          - backend/core/auth.py
          - frontend/src/hooks/
          - frontend/src/services/

    # Patch coverage - coverage of changed lines
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        # Stricter threshold for patch coverage
        threshold: 1%
        # Only check if there are enough lines changed
        if_ci_failed: error
        # Block PR if patch coverage is below target (not informational)
        informational: false

# Flags for different test types
flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment settings for PRs
comment:
  # Layout of the comment (reach, diff, flags, files per NEM-1387)
  layout: 'reach,diff,flags,files'
  # Show coverage changes
  behavior: default
  # Require base report to compare (needed for trend tracking)
  require_base: true
  # Show files without coverage changes
  hide_project_coverage: false
  # Show the changes section
  show_carryforward_flags: true

# Ignore paths that shouldn't affect coverage
ignore:
  - 'backend/tests/**/*'
  - 'backend/examples/**/*'
  - 'frontend/tests/**/*'
  - 'frontend/src/test/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/node_modules/**'
  - '**/__pycache__/**'
  - 'docs/**/*'
  - 'scripts/**/*'
  - 'ai/**/*'

# GitHub integration settings
github_checks:
  annotations: true

docs: link generated images to security and dataflows documentation (#4046)
  docs/architecture/dataflows/README.md
  docs/architecture/dataflows/api-request-flow.md
  docs/architecture/dataflows/batch-aggregation-flow.md
  docs/architecture/dataflows/enrichment-pipeline.md
  docs/architecture/dataflows/error-recovery-flow.md
  docs/architecture/dataflows/event-lifecycle.md
  docs/architecture/dataflows/image-to-event.md
  docs/architecture/dataflows/llm-analysis-flow.md
  docs/architecture/dataflows/startup-shutdown-flow.md
  docs/architecture/dataflows/websocket-message-flow.md
  docs/architecture/security/README.md
  docs/architecture/security/authentication-roadmap.md
  docs/architecture/security/data-protection.md
  docs/architecture/security/input-validation.md
  docs/architecture/security/network-security.md
  docs/architecture/security/security-headers.md
Due: none

fix: use images= parameter for X-CLIP video frames (NEM-3510)
  backend/services/xclip_loader.py
  backend/tests/unit/services/test_xclip_loader.py
Due: backend-unit, backend-integration

fix: resolve test environment issues in worktree
  backend/tests/integration/conftest.py
  frontend/src/mocks/handlers.ts
  frontend/vite.config.ts
Due: frontend

fix: resolve pre-existing test failures
  backend/repositories/base.py
  frontend/src/mocks/handlers.ts
  frontend/tests/e2e/specs/performance.spec.ts
Due: backend-unit, backend-integration, frontend

docs(architecture): link remaining orphaned images to security/dataflows hubs (NEM-3464)
  docs/architecture/dataflows/README.md
  docs/architecture/dataflows/api-request-flow.md
  docs/architecture/dataflows/batch-aggregation-flow.md
  docs/architecture/dataflows/enrichment-pipeline.md
  docs/architecture/dataflows/error-recovery-flow.md
  docs/architecture/dataflows/event-lifecycle.md
  docs/architecture/dataflows/image-to-event.md
  docs/architecture/dataflows/llm-analysis-flow.md
  docs/architecture/dataflows/startup-shutdown-flow.md
  docs/architecture/dataflows/websocket-message-flow.md
  docs/architecture/security/README.md
  docs/architecture/security/authentication-roadmap.md
  docs/architecture/security/data-protection.md
  docs/architecture/security/input-validation.md
  docs/architecture/security/network-security.md
  docs/architecture/security/security-headers.md
Due: none

docs(architecture): integrate 26 orphaned images into documentation
  docs/architecture/ai-orchestration/model-zoo.md
  docs/architecture/ai-pipeline.md
  docs/architecture/api-reference/README.md
  docs/architecture/api-reference/request-response-schemas.md
  docs/architecture/background-services/README.md
  docs/architecture/data-model/core-entities.md
  docs/architecture/frontend/component-hierarchy.md
  docs/architecture/middleware/README.md
  docs/architecture/observability/README.md
  docs/architecture/resilience-patterns/README.md
  docs/architecture/resilience-patterns/circuit-breaker.md
  docs/architecture/resilience-patterns/health-monitoring.md
  docs/architecture/security/authentication-roadmap.md
  docs/architecture/system-overview/README.md
  docs/architecture/system-overview/configuration.md
  docs/architecture/system-overview/deployment-topology.md
  docs/architecture/testing/README.md
  docs/architecture/testing/e2e-testing.md
  docs/developer/risk-analysis.md
Due: none

docs(architecture): integrate 26 orphaned images into documentation (#4049)
  docs/architecture/ai-orchestration/model-zoo.md
  docs/architecture/ai-pipeline.md
  docs/architecture/api-reference/README.md
  docs/architecture/api-reference/request-response-schemas.md
  docs/architecture/background-services/README.md
  docs/architecture/data-model/core-entities.md
  docs/architecture/frontend/component-hierarchy.md
  docs/architecture/middleware/README.md
  docs/architecture/observability/README.md
  docs/architecture/resilience-patterns/README.md
  docs/architecture/resilience-patterns/circuit-breaker.md
  docs/architecture/resilience-patterns/health-monitoring.md
  docs/architecture/security/authentication-roadmap.md
  docs/architecture/system-overview/README.md
  docs/architecture/system-overview/configuration.md
  docs/architecture/system-overview/deployment-topology.md
  docs/architecture/testing/README.md
  docs/architecture/testing/e2e-testing.md
  docs/developer/risk-analysis.md
Due: none

docs(monitoring): document Total Failures metric behavior (NEM-3502)
  monitoring/grafana/dashboards/consolidated.json
Due: none

perf(hooks): reduce pre-push tests to smoke tests only (~45s)
  .secrets.baseline
  frontend/src/types/generated/api.ts
  scripts/pre-push-tests-full.sh
  scripts/pre-push-tests.sh
Due: frontend

fix: regenerate WebSocket types for CI
  frontend/src/types/generated/websocket.ts
Due: frontend

fix(e2e): skip build validation tests when no production build exists
  frontend/tests/e2e/specs/build-validation.spec.ts
Due: none

fix(ci): set ENVIRONMENT=test in CI workflows to bypass production password validation (NEM-3663)
  .github/workflows/benchmarks.yml
  .github/workflows/flaky-test-detection.yml
  .github/workflows/load-tests.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/zap-security.yml
Due: none

fix: add missing getRiskColor import in EventCard
  frontend/src/components/events/EventCard.tsx
Due: frontend

fix: resolve TypeScript duplicate exports and test type errors
  frontend/src/components/settings/GpuAssignmentTable.test.tsx
  frontend/src/types/generated/index.ts
Due: frontend

fix: resolve ESLint errors in test files
  frontend/src/components/settings/GpuAssignmentTable.test.tsx
  frontend/src/hooks/useSnoozeEvent.test.ts
Due: none

fix: add version field to test_events_cache_invalidation fixture
  backend/tests/unit/routes/test_events_cache_invalidation.py
Due: none

fix: add version field to Event mocks in test_events_coverage
  backend/tests/unit/api/routes/test_events_coverage.py
Due: none

fix: update tests for NEM-3611 JSON export and NEM-3625 optimistic locking
  backend/tests/factories.py
  backend/tests/unit/services/test_export_service.py
  frontend/src/components/events/LiveActivitySection.test.tsx
Due: none

fix: add version field to Event mocks in test_events_routes.py
  backend/tests/unit/api/routes/test_events_routes.py
Due: none

fix: regenerate OpenAPI spec and API types for NEM-3625 version field
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: frontend

fix: add eslint-disable to generated api.ts
  frontend/src/types/generated/api.ts
Due: frontend
