Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml
#
# Coverage trend tracking and regression detection (NEM-1387)
# - Project coverage target: 85%
# - Patch coverage target: 80%
# - Coverage regression blocks PR if > 1% decrease
# - Critical paths require 90%+ coverage

coverage:
  # How to calculate the coverage percentage
  precision: 2
  round: down
  range: '70...100'

  # Status checks that appear on PRs
  status:
    # Project coverage - overall repository coverage
    project:
      default:
        # Target coverage percentage (must meet or exceed)
        target: 85%
        # Allowed coverage decrease before failing (blocks PR if > 1% decrease)
        threshold: 1%
        # Only compare against coverage from the same CI run
        if_ci_failed: error
        # Block PR on coverage regression (not informational)
        informational: false

      # Backend unit tests - stricter threshold
      backend-unit:
        target: 85%
        threshold: 1%
        informational: false
        flags:
          - backend-unit

      # Backend integration tests
      backend-integration:
        target: 50%
        threshold: 2%
        informational: false
        flags:
          - backend-integration

      # Frontend coverage
      frontend:
        target: 80%
        threshold: 2%
        informational: false
        flags:
          - frontend

      # Critical paths - require 90%+ coverage
      # These paths contain security-critical and core business logic
      critical-paths:
        target: 90%
        threshold: 0.5%
        informational: false
        paths:
          - backend/api/routes/
          - backend/services/
          - backend/core/security.py
          - backend/core/auth.py
          - frontend/src/hooks/
          - frontend/src/services/

    # Patch coverage - coverage of changed lines
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        # Stricter threshold for patch coverage
        threshold: 1%
        # Only check if there are enough lines changed
        if_ci_failed: error
        # Block PR if patch coverage is below target (not informational)
        informational: false

# Flags for different test types
flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment settings for PRs
comment:
  # Layout of the comment (reach, diff, flags, files per NEM-1387)
  layout: 'reach,diff,flags,files'
  # Show coverage changes
  behavior: default
  # Require base report to compare (needed for trend tracking)
  require_base: true
  # Show files without coverage changes
  hide_project_coverage: false
  # Show the changes section
  show_carryforward_flags: true

# Ignore paths that shouldn't affect coverage
ignore:
  - 'backend/tests/**/*'
  - 'backend/examples/**/*'
  - 'frontend/tests/**/*'
  - 'frontend/src/test/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/node_modules/**'
  - '**/__pycache__/**'
  - 'docs/**/*'
  - 'scripts/**/*'
  - 'ai/**/*'

# GitHub integration settings
github_checks:
  annotations: true

fix(security): register f13 compose files; digest-pin overlay FROM
  backend/tests/security/test_docker_compose_security.py
  scripts/uplevel-f13-done-when/README.md
  scripts/uplevel-f13-done-when/backend-overlay.Dockerfile
Due: none

docs(uplevel): W2.2 re-measure at 10ab08e8; 13 corrections, OD-35 flips
  docs/uplevel/r2-sheet.md
Due: none

feat(backend): replay scores and frames the way production does (B1.2)
  backend/evaluation/vlm_replay.py
  backend/tests/unit/evaluation/test_vlm_replay.py
  backend/tests/unit/evaluation/test_vlm_replay_parity.py
Due: backend-unit, backend-integration

docs: record replay parity in the register and AGENTS.md (B1.2)
  backend/evaluation/AGENTS.md
  backend/tests/unit/evaluation/AGENTS.md
  docs/vss-integration/17-action-plan.md
Due: backend-unit, backend-integration

docs(uplevel): B1.2 awaiting real tier; the Phase 1 pause lifts
  docs/uplevel/README.md
Due: none

docs(uplevel): W2.2 fix the census correction; one rule, 104 citers
  docs/uplevel/r2-sheet.md
Due: none

fix(backend): pin replay's spread to the setting; fix stale comments
  backend/evaluation/vlm_replay.py
  backend/tests/unit/evaluation/test_vlm_replay.py
  backend/tests/unit/evaluation/test_vlm_replay_parity.py
Due: backend-unit, backend-integration

fix(ci): ratchet ids +2; resync secrets baseline line numbers
  .github/suppression-registry.yml
  .secrets.baseline
Due: none

docs: OD-29 is unaffected; say where replay's frame parity stops
  backend/evaluation/AGENTS.md
  docs/uplevel/README.md
  docs/vss-integration/17-action-plan.md
Due: backend-unit, backend-integration

docs(uplevel): W2.2 name each correction's author; fix median
  docs/uplevel/r2-sheet.md
Due: none

docs(uplevel): W2.2 re-measure the nav claim; 0-links invariant
  docs/uplevel/r2-sheet.md
Due: none

docs(uplevel): W2.2 count the nav slip as the third correction error
  docs/uplevel/r2-sheet.md
Due: none

fix(agents-md): use hyphen-minus in the at-cap docstring
  scripts/test_agents_md_validator.py
Due: none

docs(uplevel): W2.2 flip its own status row to done
  docs/uplevel/README.md
Due: none

feat(ops): O1.4 — broken-workflows sweep + workflow-path gate
  .github/AGENTS.md
  .github/workflows/AGENTS.md
  .github/workflows/ci.yml
  .github/workflows/preview-deploy.yml
  .pre-commit-config.yaml
  docs/uplevel/README.md
  scripts/retired_paths.txt
  scripts/test_workflow_paths.py
  tests/smoke/README.md
Due: none

docs(uplevel): W2.2 third review round; 6 fixes, count 17 to 24
  docs/uplevel/r2-sheet.md
Due: none

docs(uplevel): W2.2 fourth review round; 4 fixes, count 24 to 28
  docs/uplevel/r2-sheet.md
Due: none

fix(ops): O1.4 review fixes — scan basis, tool names, block blanks
  scripts/test_workflow_paths.py
Due: none

test(backend): pin the WS subprotocol echo browsers require (B-1, red)
  backend/tests/integration/_b1_ws_subprotocol_server.py
  backend/tests/integration/test_ws_subprotocol_echo_b1.py
Due: none

fix(backend): echo offered api-key subprotocol at every accept (B-1)
  backend/api/middleware/auth.py
  backend/api/middleware/websocket_auth.py
  backend/api/routes/websocket.py
  backend/core/websocket/subprotocol.py
  backend/services/event_broadcaster.py
  backend/services/system_broadcaster.py
Due: backend-unit, backend-integration

test(backend): satisfy ruff on the B-1 pins
  backend/tests/integration/_b1_ws_subprotocol_server.py
  backend/tests/integration/test_ws_subprotocol_echo_b1.py
Due: none

test(ops): pin the inverse-bind claim by shape, not phrase
  backend/tests/unit/core/test_frontend_expose_lan_bind.py
Due: none

test(ops): pin alloy's OTLP fold to loopback (owner ruling 36)
  backend/tests/unit/core/test_frontend_expose_lan_bind.py
Due: none

test(ops): pin the review's blocker sites and the which/leak/vocab fixes
  backend/tests/unit/core/test_frontend_expose_lan_bind.py
Due: none

feat(ops): bind frontend ports to loopback unless EXPOSE_LAN (O1.6)
  .env.example
  AGENTS.md
  backend/api/AGENTS.md
  backend/api/middleware/AGENTS.md
  backend/tests/unit/core/test_frontend_expose_lan_bind.py
  docker-compose.prod.yml
  docs/_includes/auth-model.md
  docs/architecture/security/network-security.md
  docs/operator/admin/security.md
  docs/reference/config/env-reference.md
  frontend/AGENTS.md
  setup.py
  setup_lib/core.py
Due: backend-unit, backend-integration

fix(ops): land the frontend bind at all six port-doc sites
  README.md
  docs/architecture/security/network-security.md
  docs/diagrams/README.md
  docs/operator/README.md
  docs/operator/admin/security.md
  docs/operator/deployment/README.md
  setup_lib/core.py
Due: none

fix(ops): close the O1.6 forward refs in code, docs and the derive
  .env.example
  AGENTS.md
  backend/core/config.py
  backend/tests/integration/test_api_protection.py
  backend/tests/unit/core/test_frontend_expose_lan_bind.py
  docker-compose.prod.yml
  docs/architecture/overview.md
  docs/architecture/system-overview/deployment-topology.md
  docs/getting-started/first-run.md
  scripts/bootstrap-gb300.sh
  setup.py
  setup_lib/core.py
Due: backend-unit, backend-integration

fix(ops): fold alloy's OTLP pair to loopback (owner ruling 36)
  .env.example
  backend/tests/unit/core/test_frontend_expose_lan_bind.py
  docker-compose.prod.yml
  docs/architecture/security/network-security.md
  docs/architecture/system-overview/deployment-topology.md
  docs/developer/PORT_STANDARDIZATION.md
Due: none

fix(ops): retire O1.6 forward references, pin the family in tests
  backend/api/middleware/README.md
  backend/tests/unit/core/test_frontend_expose_lan_bind.py
  docs/architecture/dataflows/api-request-flow.md
  docs/architecture/security/README.md
  docs/architecture/security/network-security.md
  docs/uplevel/README.md
  setup.py
Due: backend-unit, backend-integration

test(backend): give broadcaster fakes the headers field B-1 reads
  backend/tests/unit/services/test_event_broadcaster.py
  backend/tests/unit/services/test_event_broadcaster_batch31_c1.py
  backend/tests/unit/services/test_system_broadcaster.py
Due: none

docs(backend,frontend): state the subprotocol echo the B-1 fix performs
  backend/api/routes/websocket.py
  frontend/src/hooks/useWebSocketStatus.ts
Due: backend-unit, backend-integration, frontend

docs(register): mark ISS-029 done (B-1 follow-up, ruling 35)
  docs/vss-integration/17-action-plan.md
Due: none

test(integration): stop the setup guard answering Test 2 of the admin debug-mode test
  backend/tests/integration/test_admin_api.py
Due: none

docs(uplevel): W2.2 fifth round — re-measure the sheet at merge head 2a558bdb
  docs/uplevel/r2-sheet.md
Due: none

fix(backend,docs): correct self-review findings on the B-1 echo package
  backend/core/websocket/subprotocol.py
  backend/tests/integration/test_ws_subprotocol_echo_b1.py
  docs/vss-integration/17-action-plan.md
Due: backend-unit, backend-integration

docs(uplevel): W2.2 sixth round — fix the fifth round's own wording
  docs/uplevel/r2-sheet.md
Due: none
