Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml
#
# Coverage trend tracking and regression detection (NEM-1387)
# - Project coverage target: 85%
# - Patch coverage target: 80%
# - Coverage regression blocks PR if > 1% decrease
# - Critical paths require 90%+ coverage

coverage:
  # How to calculate the coverage percentage
  precision: 2
  round: down
  range: '70...100'

  # Status checks that appear on PRs
  status:
    # Project coverage - overall repository coverage
    project:
      default:
        # Target coverage percentage (must meet or exceed)
        target: 85%
        # Allowed coverage decrease before failing (blocks PR if > 1% decrease)
        threshold: 1%
        # Only compare against coverage from the same CI run
        if_ci_failed: error
        # Block PR on coverage regression (not informational)
        informational: false

      # Backend unit tests - stricter threshold
      backend-unit:
        target: 85%
        threshold: 1%
        informational: false
        flags:
          - backend-unit

      # Backend integration tests
      backend-integration:
        target: 50%
        threshold: 2%
        informational: false
        flags:
          - backend-integration

      # Frontend coverage
      frontend:
        target: 80%
        threshold: 2%
        informational: false
        flags:
          - frontend

      # Critical paths - require 90%+ coverage
      # These paths contain security-critical and core business logic
      critical-paths:
        target: 90%
        threshold: 0.5%
        informational: false
        paths:
          - backend/api/routes/
          - backend/services/
          - backend/core/security.py
          - backend/core/auth.py
          - frontend/src/hooks/
          - frontend/src/services/

    # Patch coverage - coverage of changed lines
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        # Stricter threshold for patch coverage
        threshold: 1%
        # Only check if there are enough lines changed
        if_ci_failed: error
        # Block PR if patch coverage is below target (not informational)
        informational: false

# Flags for different test types
flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment settings for PRs
comment:
  # Layout of the comment (reach, diff, flags, files per NEM-1387)
  layout: 'reach,diff,flags,files'
  # Show coverage changes
  behavior: default
  # Require base report to compare (needed for trend tracking)
  require_base: true
  # Show files without coverage changes
  hide_project_coverage: false
  # Show the changes section
  show_carryforward_flags: true

# Ignore paths that shouldn't affect coverage
ignore:
  - 'backend/tests/**/*'
  - 'backend/examples/**/*'
  - 'frontend/tests/**/*'
  - 'frontend/src/test/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/node_modules/**'
  - '**/__pycache__/**'
  - 'docs/**/*'
  - 'scripts/**/*'
  - 'ai/**/*'

# GitHub integration settings
github_checks:
  annotations: true

feat: complete 8 parallel agent tasks - validation, security, and testing improvements
  backend/api/pagination.py
  backend/api/routes/events.py
  backend/core/logging.py
  backend/repositories/base.py
  backend/tests/integration/test_concurrency.py
  backend/tests/unit/api/middleware/test_rate_limit.py
  backend/tests/unit/api/test_pagination.py
  backend/tests/unit/repositories/test_base_repository.py
  frontend/src/components/events/EventTimeline.test.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/services/api.test.ts
  frontend/src/services/api.ts
  frontend/src/utils/validation.test.ts
  frontend/src/utils/validation.ts
Due: backend-unit, backend-integration, frontend

fix: update test assertion for vision extraction error message
  backend/tests/integration/test_vision_extraction_pipeline.py
Due: none

fix: upgrade filelock to 3.20.3 to fix CVE-2026-22701
  uv.lock
Due: none

fix: add health check error handling in deployment workflow (NEM-2568)
  .github/workflows/deploy.yml
Due: none

feat: complete 8 parallel agent tasks - validation, security, and testing improvements (#2996)
  .github/workflows/deploy.yml
  backend/api/middleware/request_timing.py
  backend/api/pagination.py
  backend/api/routes/admin.py
  backend/api/routes/events.py
  backend/core/logging.py
  backend/repositories/base.py
  backend/services/__init__.py
  backend/services/audit_logger.py
  backend/services/dedupe.py
  backend/services/enrichment_pipeline.py
  backend/services/nemotron_analyzer.py
  backend/tests/integration/test_concurrency.py
  backend/tests/integration/test_vision_extraction_pipeline.py
  backend/tests/unit/api/middleware/test_rate_limit.py
  backend/tests/unit/api/middleware/test_request_timing.py
  backend/tests/unit/api/test_pagination.py
  backend/tests/unit/repositories/test_base_repository.py
  backend/tests/unit/services/test_audit_logger.py
  backend/tests/unit/services/test_dedupe.py
  backend/tests/unit/services/test_enrichment_error_handling.py
  backend/tests/unit/services/test_enrichment_pipeline.py
  frontend/src/components/events/EventTimeline.test.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/services/api.test.ts
  frontend/src/services/api.ts
  frontend/src/utils/validation.test.ts
  frontend/src/utils/validation.ts
  semgrep.yml
  uv.lock
Due: backend-unit, backend-integration, frontend

fix: resolve Vulture dead code detection issues blocking CI (NEM-2432)
  .secrets.baseline
Due: none

fix: update integration tests to expect 202 for async batch endpoint
  .coverage.maui_phoenix20swa_mooo_com.pid3243085.XvQxfDGx
  .coverage.maui_phoenix20swa_mooo_com.pid3243213.XzrEPM2x.HqJ6uaI2GKJh
  .coverage.maui_phoenix20swa_mooo_com.pid3243700.XoBcELNx
  .coverage.maui_phoenix20swa_mooo_com.pid3277187.XpKjNvHx.HLIwj4VxmEYh
Due: none

feat: complete 8 Linear tasks - monitoring, analytics, docker, docs
  .coverage.maui_phoenix20swa_mooo_com.pid3243085.XvQxfDGx
  .coverage.maui_phoenix20swa_mooo_com.pid3243213.XzrEPM2x.HqJ6uaI2GKJh
  .coverage.maui_phoenix20swa_mooo_com.pid3243700.XoBcELNx
  .coverage.maui_phoenix20swa_mooo_com.pid3277187.XpKjNvHx.HLIwj4VxmEYh
  .secrets.baseline
  backend/tests/unit/routes/test_ai_audit_routes.py
  frontend/src/services/api.ts
Due: frontend

test: add coverage for critical frontend data hooks (NEM-2552)
  frontend/src/hooks/__mocks__/webSocketManager.ts
  frontend/src/hooks/useAlertWebSocket.test.tsx
  frontend/src/hooks/useAlertsQuery.test.ts
  frontend/src/hooks/useCameraStatusWebSocket.test.ts
  frontend/src/hooks/useZones.test.ts
Due: frontend

fix: correct test mock condition for stats endpoint
  backend/tests/unit/routes/test_ai_audit_routes.py
Due: none

fix: restore API exports and fix test type errors for CI
  frontend/eslint.config.mjs
  frontend/src/hooks/useCursorPaginatedQuery.test.ts
  frontend/src/hooks/useDetectionsQuery.test.ts
  frontend/src/hooks/useEventsQuery.test.ts
  frontend/src/hooks/useFullHealthQuery.test.ts
  frontend/src/hooks/usePaginationState.test.ts
  frontend/src/hooks/useRateLimit.test.ts
  frontend/src/hooks/useSidebarContext.test.ts
  frontend/src/services/api.ts
Due: frontend

feat: implement hybrid entity storage architecture (NEM-2495)
  backend/api/routes/entities.py
  backend/api/schemas/entities.py
  backend/core/dependencies.py
  backend/repositories/entity_repository.py
  backend/services/entity_clustering_service.py
  backend/services/hybrid_entity_storage.py
  backend/services/reid_service.py
  backend/tests/unit/api/routes/test_entities.py
  backend/tests/unit/repositories/test_entity_repository.py
  backend/tests/unit/services/test_entity_clustering_service.py
  backend/tests/unit/services/test_hybrid_entity_storage.py
  backend/tests/unit/services/test_reid_service.py
  docs/openapi.json
  frontend/src/components/entities/EntitiesPage.tsx
  frontend/src/components/entities/EntityStatsCard.test.tsx
  frontend/src/components/entities/EntityStatsCard.tsx
  frontend/src/components/entities/index.ts
  frontend/src/hooks/__tests__/useEntityHistory.test.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useEntityHistory.ts
  frontend/src/services/api.ts
  frontend/src/services/queryClient.ts
Due: backend-unit, backend-integration, frontend

chore: regenerate OpenAPI types for API contract compliance
  frontend/src/types/generated/api.ts
Due: frontend

feat: implement hybrid entity storage architecture (NEM-2495) (#3002)
  backend/api/routes/entities.py
  backend/api/schemas/entities.py
  backend/core/dependencies.py
  backend/repositories/entity_repository.py
  backend/services/entity_clustering_service.py
  backend/services/hybrid_entity_storage.py
  backend/services/reid_service.py
  backend/tests/unit/api/routes/test_entities.py
  backend/tests/unit/repositories/test_entity_repository.py
  backend/tests/unit/services/test_entity_clustering_service.py
  backend/tests/unit/services/test_hybrid_entity_storage.py
  backend/tests/unit/services/test_reid_service.py
  docs/openapi.json
  frontend/src/components/entities/EntitiesPage.tsx
  frontend/src/components/entities/EntityStatsCard.test.tsx
  frontend/src/components/entities/EntityStatsCard.tsx
  frontend/src/components/entities/index.ts
  frontend/src/hooks/__tests__/useEntityHistory.test.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useEntityHistory.ts
  frontend/src/services/api.ts
  frontend/src/services/queryClient.ts
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

feat: complete 8 Linear tasks - parallel agent dispatch (NEM-2524, NEM-2522, NEM-2519, NEM-2518, NEM-2517, NEM-2485, NEM-2515, NEM-2506)
  backend/api/routes/cameras.py
  backend/api/routes/debug.py
  backend/api/schemas/websocket.py
  backend/core/config.py
  backend/core/constants.py
  backend/core/redis.py
  backend/services/batch_aggregator.py
  backend/services/cache_service.py
  backend/services/clip_client.py
  backend/services/container_discovery.py
  backend/services/container_orchestrator.py
  backend/services/degradation_manager.py
  backend/services/enrichment_client.py
  backend/services/event_broadcaster.py
  backend/services/florence_client.py
  backend/services/job_status.py
  backend/services/job_timeout_service.py
  backend/services/system_broadcaster.py
  backend/tests/unit/api/routes/test_debug_api.py
  backend/tests/unit/core/test_websocket.py
  backend/tests/unit/services/test_enrichment_client.py
  backend/tests/unit/services/test_http_connection_pooling.py
  docs/openapi.json
  frontend/src/hooks/index.ts
  frontend/src/hooks/useEventLifecycleWebSocket.ts
  frontend/src/types/websocket-events.ts
  frontend/src/types/websocket.test.ts
  frontend/src/types/websocket.ts
Due: backend-unit, backend-integration, frontend

chore: regenerate API types to fix contract check
  frontend/src/types/generated/api.ts
Due: frontend

feat: complete 8 Linear tasks - parallel agent dispatch (NEM-2524, NEM-2522, NEM-2519, NEM-2518, NEM-2517, NEM-2485, NEM-2515, NEM-2506) (#3003)
  backend/api/routes/cameras.py
  backend/api/routes/debug.py
  backend/api/schemas/websocket.py
  backend/core/config.py
  backend/core/constants.py
  backend/core/redis.py
  backend/services/batch_aggregator.py
  backend/services/cache_service.py
  backend/services/clip_client.py
  backend/services/container_discovery.py
  backend/services/container_orchestrator.py
  backend/services/degradation_manager.py
  backend/services/enrichment_client.py
  backend/services/event_broadcaster.py
  backend/services/florence_client.py
  backend/services/job_status.py
  backend/services/job_timeout_service.py
  backend/services/system_broadcaster.py
  backend/tests/unit/api/routes/test_debug_api.py
  backend/tests/unit/core/test_websocket.py
  backend/tests/unit/services/test_enrichment_client.py
  backend/tests/unit/services/test_http_connection_pooling.py
  docs/openapi.json
  frontend/src/hooks/index.ts
  frontend/src/hooks/useEventLifecycleWebSocket.ts
  frontend/src/types/generated/api.ts
  frontend/src/types/websocket-events.ts
  frontend/src/types/websocket.test.ts
  frontend/src/types/websocket.ts
Due: backend-unit, backend-integration, frontend

fix: add async set method to MockRedisClient inner client for NEM-2507
  backend/tests/integration/test_pipeline_e2e.py
Due: none

fix: restore API exports and fix test type errors for CI
  frontend/src/services/api.ts
Due: frontend

feat: complete 5 parallel agent tasks - error handling and validation improvements
  backend/api/routes/detections.py
  backend/api/routes/websocket.py
  backend/api/schemas/camera.py
  backend/services/batch_aggregator.py
  backend/services/enrichment_pipeline.py
  backend/tests/integration/test_cameras_api.py
  backend/tests/unit/api/routes/test_detections.py
  backend/tests/unit/api/routes/test_websocket_error_handling.py
  backend/tests/unit/api/schemas/test_camera_validation.py
  backend/tests/unit/models/test_models_hypothesis.py
  backend/tests/unit/routes/test_detections_routes.py
  backend/tests/unit/services/test_batch_aggregator.py
  backend/tests/unit/services/test_enrichment_classification_errors.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

feat: complete 2 Linear tasks - parallel agent dispatch (NEM-2457, NEM-2465)
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/core/metrics.py
  backend/services/container_discovery.py
  backend/services/worker_supervisor.py
  backend/tests/benchmarks/test_api_benchmarks.py
  backend/tests/benchmarks/test_connection_pool.py
  backend/tests/benchmarks/test_memory.py
  backend/tests/benchmarks/test_performance.py
  backend/tests/benchmarks/test_slow_query_detection.py
  backend/tests/e2e/test_gpu_pipeline.py
  backend/tests/e2e/test_pipeline_integration.py
  backend/tests/integration/test_monitoring_stack_integration.py
  backend/tests/integration/test_worker_supervisor.py
  backend/tests/unit/core/test_prometheus_rules.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
  monitoring/alerting-rules.yml
  monitoring/prometheus-rules.yml
  monitoring/prometheus_rules.yml
  pyproject.toml
Due: backend-unit, backend-integration, frontend

fix: align E2E tests with current frontend UI implementation (NEM-2357)
  frontend/tests/e2e/pages/SettingsPage.ts
  frontend/tests/e2e/pages/TimelinePage.ts
  frontend/tests/e2e/pages/ZonesPage.ts
  frontend/tests/e2e/specs/calibration.spec.ts
  frontend/tests/e2e/specs/feedback.spec.ts
  frontend/tests/e2e/specs/settings.spec.ts
  frontend/tests/e2e/specs/user-journeys/feedback-calibration-loop.spec.ts
  frontend/tests/e2e/specs/zones.spec.ts
  frontend/tests/e2e/visual/components.visual.spec.ts
  frontend/tests/e2e/visual/timeline.visual.spec.ts
Due: none

feat: complete 5 parallel agent tasks - error handling and validation improvements (#3004)
  backend/api/routes/detections.py
  backend/api/routes/websocket.py
  backend/api/schemas/camera.py
  backend/services/batch_aggregator.py
  backend/services/enrichment_pipeline.py
  backend/tests/integration/test_cameras_api.py
  backend/tests/integration/test_pipeline_e2e.py
  backend/tests/unit/api/routes/test_detections.py
  backend/tests/unit/api/routes/test_websocket_error_handling.py
  backend/tests/unit/api/schemas/test_camera_validation.py
  backend/tests/unit/models/test_models_hypothesis.py
  backend/tests/unit/routes/test_detections_routes.py
  backend/tests/unit/services/test_batch_aggregator.py
  backend/tests/unit/services/test_enrichment_classification_errors.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

fix: update alert tests for NEM-2582 background task broadcast
  backend/tests/unit/api/routes/test_alerts.py
  backend/tests/unit/core/test_websocket.py
Due: none

fix: merge alembic migration branches
  backend/alembic/versions/b80664ed1373_merge_migration_branches.py
Due: backend-unit, backend-integration

fix: update pagination test for NEM-2585 format validation
  backend/tests/unit/api/test_pagination.py
Due: none

fix: update package-lock.json to sync with package.json
  frontend/package-lock.json
Due: none

fix: add security logging before cursor validation errors (NEM-2602)
  backend/api/pagination.py
Due: backend-unit, backend-integration

feat: implement 8 security and reliability improvements
  .github/workflows/ai-code-review.yml
  .pre-commit-config.yaml
  .secrets.baseline
  .semgrepignore
  backend/alembic/env.py
  backend/alembic/helpers.py
  backend/alembic/versions/add_alert_version_id_column.py
  backend/alembic/versions/add_row_version_to_prompt_versions.py
  backend/api/pagination.py
  backend/api/routes/alerts.py
  backend/core/url_validation.py
  backend/models/alert.py
  backend/services/event_broadcaster.py
  backend/tests/unit/alembic/__init__.py
  backend/tests/unit/alembic/test_helpers.py
  backend/tests/unit/api/test_pagination.py
  backend/tests/unit/core/test_url_validation.py
  backend/tests/unit/models/test_prompt_version.py
  backend/tests/unit/routes/test_alert_instance_routes.py
  backend/tests/unit/routes/test_alerts_routes.py
  backend/tests/unit/services/test_broadcast_retry.py
  docs/development/migration-rollback.md
  docs/openapi.json
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/alerts/AlertsPage.tsx
  frontend/src/components/audit/AuditTable.tsx
  frontend/src/components/common/SafeErrorMessage.test.tsx
  frontend/src/components/common/SafeErrorMessage.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/entities/EntitiesPage.tsx
  frontend/src/components/entities/ReidHistoryPanel.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/components/logs/LogsTable.tsx
  frontend/src/types/generated/api.ts
  frontend/src/utils/sanitize.ts
Due: backend-unit, backend-integration, frontend
