Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml
#
# Coverage trend tracking and regression detection (NEM-1387)
# - Project coverage target: 85%
# - Patch coverage target: 80%
# - Coverage regression blocks PR if > 1% decrease
# - Critical paths require 90%+ coverage

coverage:
  # How to calculate the coverage percentage
  precision: 2
  round: down
  range: '70...100'

  # Status checks that appear on PRs
  status:
    # Project coverage - overall repository coverage
    project:
      default:
        # Target coverage percentage (must meet or exceed)
        target: 85%
        # Allowed coverage decrease before failing (blocks PR if > 1% decrease)
        threshold: 1%
        # Only compare against coverage from the same CI run
        if_ci_failed: error
        # Block PR on coverage regression (not informational)
        informational: false

      # Backend unit tests - stricter threshold
      backend-unit:
        target: 85%
        threshold: 1%
        informational: false
        flags:
          - backend-unit

      # Backend integration tests
      backend-integration:
        target: 50%
        threshold: 2%
        informational: false
        flags:
          - backend-integration

      # Frontend coverage
      frontend:
        target: 80%
        threshold: 2%
        informational: false
        flags:
          - frontend

      # Critical paths - require 90%+ coverage
      # These paths contain security-critical and core business logic
      critical-paths:
        target: 90%
        threshold: 0.5%
        informational: false
        paths:
          - backend/api/routes/
          - backend/services/
          - backend/core/security.py
          - backend/core/auth.py
          - frontend/src/hooks/
          - frontend/src/services/

    # Patch coverage - coverage of changed lines
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        # Stricter threshold for patch coverage
        threshold: 1%
        # Only check if there are enough lines changed
        if_ci_failed: error
        # Block PR if patch coverage is below target (not informational)
        informational: false

# Flags for different test types
flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment settings for PRs
comment:
  # Layout of the comment (reach, diff, flags, files per NEM-1387)
  layout: 'reach,diff,flags,files'
  # Show coverage changes
  behavior: default
  # Require base report to compare (needed for trend tracking)
  require_base: true
  # Show files without coverage changes
  hide_project_coverage: false
  # Show the changes section
  show_carryforward_flags: true

# Ignore paths that shouldn't affect coverage
ignore:
  - 'backend/tests/**/*'
  - 'backend/examples/**/*'
  - 'frontend/tests/**/*'
  - 'frontend/src/test/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/node_modules/**'
  - '**/__pycache__/**'
  - 'docs/**/*'
  - 'scripts/**/*'
  - 'ai/**/*'

# GitHub integration settings
github_checks:
  annotations: true

fix: add FOSCAM_BASE_PATH validation and documentation (NEM-2658)
  .env.example
  setup.py
Due: none

fix: add CVE-2026-0861 glibc vulnerability to trivyignore (NEM-2689)
  .trivyignore
Due: none

fix: resolve Python 3.14 contract test mock issues and health cache interference (NEM-2733)
  backend/tests/contracts/test_api_contracts.py
  backend/tests/integration/test_system_api.py
Due: none

fix: CI failures, Trivy vulnerabilities, and FOSCAM docs (NEM-2733, NEM-2689, NEM-2658) (#3147)
  .env.example
  .trivyignore
  backend/tests/contracts/test_api_contracts.py
  backend/tests/integration/test_system_api.py
  setup.py
Due: none

feat(monitoring): implement comprehensive Prometheus metrics and Grafana dashboard
  monitoring/grafana/dashboards/consolidated.json
Due: none

feat: implement frontend error logging and system page enhancements
  frontend/src/components/common/ErrorBoundary.test.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/system/CircuitBreakerPanel.test.tsx
  frontend/src/components/system/CircuitBreakerPanel.tsx
  frontend/src/components/system/DatabasesPanel.test.tsx
  frontend/src/components/system/DatabasesPanel.tsx
  frontend/src/components/system/DebugModeToggle.test.tsx
  frontend/src/components/system/DebugModeToggle.tsx
  frontend/src/components/system/PipelineMetricsPanel.test.tsx
  frontend/src/components/system/PipelineMetricsPanel.tsx
  frontend/src/components/system/ServicesPanel.test.tsx
  frontend/src/components/system/ServicesPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/contexts/DebugModeContext.test.tsx
  frontend/src/contexts/DebugModeContext.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useDebugQueries.test.ts
  frontend/src/hooks/useDebugQueries.ts
  frontend/src/hooks/useServiceMutations.test.tsx
  frontend/src/hooks/useServiceMutations.ts
  frontend/src/main.tsx
  frontend/src/services/api.frontend-error-log.test.ts
  frontend/src/services/api.ts
  frontend/src/services/errorReporting.test.ts
  frontend/src/services/errorReporting.ts
Due: frontend

feat: implement frontend error logging and system page enhancements (NEM-2714, NEM-2724) (#3148)
  frontend/src/components/common/ErrorBoundary.test.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/system/CircuitBreakerPanel.test.tsx
  frontend/src/components/system/CircuitBreakerPanel.tsx
  frontend/src/components/system/DatabasesPanel.test.tsx
  frontend/src/components/system/DatabasesPanel.tsx
  frontend/src/components/system/DebugModeToggle.test.tsx
  frontend/src/components/system/DebugModeToggle.tsx
  frontend/src/components/system/PipelineMetricsPanel.test.tsx
  frontend/src/components/system/PipelineMetricsPanel.tsx
  frontend/src/components/system/ServicesPanel.test.tsx
  frontend/src/components/system/ServicesPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/contexts/DebugModeContext.test.tsx
  frontend/src/contexts/DebugModeContext.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useDebugQueries.test.ts
  frontend/src/hooks/useDebugQueries.ts
  frontend/src/hooks/useServiceMutations.test.tsx
  frontend/src/hooks/useServiceMutations.ts
  frontend/src/main.tsx
  frontend/src/services/api.frontend-error-log.test.ts
  frontend/src/services/api.ts
  frontend/src/services/errorReporting.test.ts
  frontend/src/services/errorReporting.ts
  monitoring/grafana/dashboards/consolidated.json
Due: frontend

feat: implement Developer Tools page with debug panels (NEM-2718)
  frontend/src/hooks/index.ts
  frontend/src/services/api.ts
Due: frontend

fix: resolve 85 frontend test failures and enhance redeploy script
  docker-compose.prod.yml
  frontend/src/components/analytics/DateRangeDropdown.test.tsx
  frontend/src/components/audit/AuditFilters.tsx
  frontend/src/components/audit/AuditLogPage.test.tsx
  frontend/src/components/events/MobileEventCard.test.tsx
  frontend/src/components/events/__snapshots__/ThumbnailStrip.test.tsx.snap
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/logs/LogsDashboard.test.tsx
  frontend/src/components/settings/prompts/ImportPreviewModal.test.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/types/websocket-events.test.ts
  monitoring/grafana/dashboards/consolidated.json
  scripts/redeploy.sh
Due: frontend

fix: restore accidentally emptied Grafana dashboard
  monitoring/grafana/dashboards/consolidated.json
Due: none

fix: resolve 85 frontend test failures and enhance redeploy script (#3178)
  docker-compose.prod.yml
  frontend/src/components/analytics/DateRangeDropdown.test.tsx
  frontend/src/components/audit/AuditFilters.tsx
  frontend/src/components/audit/AuditLogPage.test.tsx
  frontend/src/components/events/MobileEventCard.test.tsx
  frontend/src/components/events/__snapshots__/ThumbnailStrip.test.tsx.snap
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/logs/LogsDashboard.test.tsx
  frontend/src/components/settings/prompts/ImportPreviewModal.test.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/types/websocket-events.test.ts
  monitoring/grafana/dashboards/consolidated.json
  scripts/redeploy.sh
Due: frontend

feat(testing): add comprehensive test coverage for testing gaps
  backend/tests/integration/TEST_NOTIFICATION_DELIVERY_SUMMARY.md
  backend/tests/integration/test_export_api.py
  backend/tests/integration/test_notification_delivery.py
  backend/tests/unit/core/test_dependencies.py
  backend/tests/unit/services/test_health_event_emitter.py
  backend/tests/unit/services/test_inference_semaphore.py
  backend/tests/unit/services/test_job_progress_reporter.py
  backend/tests/unit/services/test_pipeline_quality_audit_service.py
  backend/tests/unit/services/test_websocket_emitter.py
  docs/testing/INTEGRATION_TEST_COVERAGE_ANALYSIS.md
  frontend/src/hooks/__tests__/useNotificationPreferences.test.tsx
  frontend/src/utils/__tests__/sanitize.test.ts
  frontend/tests/e2e/fixtures/api-mocks.ts
  frontend/tests/e2e/fixtures/test-data.ts
  frontend/tests/e2e/pages/JobsPage.ts
  frontend/tests/e2e/pages/TrashPage.ts
  frontend/tests/e2e/pages/index.ts
  frontend/tests/e2e/specs/event-export.spec.ts
  frontend/tests/e2e/specs/forms-validation.spec.ts
  frontend/tests/e2e/specs/jobs.spec.ts
  frontend/tests/e2e/specs/trash.spec.ts
  frontend/tests/e2e/specs/user-journeys/detection-workflow.spec.ts
Due: none

test: add integration tests for RUM metrics ingestion (NEM-2760)
  backend/tests/integration/RUM_TESTS.md
  backend/tests/integration/test_rum_api.py
Due: none

test: add comprehensive test suites for jobs, repositories, and services
  backend/repositories/__init__.py
  backend/repositories/alert_repository.py
  backend/repositories/zone_repository.py
  backend/services/job_history_service.py
  backend/services/job_log_emitter.py
  backend/tests/integration/repositories/test_alert_repository.py
  backend/tests/integration/repositories/test_zone_repository.py
  backend/tests/integration/services/test_calibration_impact_workflow.py
  backend/tests/integration/test_debug_recordings.py
  backend/tests/unit/core/test_async_context.py
  backend/tests/unit/models/test_job.py
  backend/tests/unit/models/test_job_attempt.py
  backend/tests/unit/models/test_job_log.py
  backend/tests/unit/models/test_job_transition.py
  backend/tests/unit/routes/test_websocket_job_logs.py
  backend/tests/unit/services/test_job_log_emitter.py
Due: backend-unit, backend-integration

fix: include integration tests in coverage gate calculation
  scripts/check-test-coverage-gate.py
Due: none

fix: remove detection_ids column from Event model to match migration
  backend/api/routes/events.py
  backend/models/event.py
  backend/tests/factories.py
  backend/tests/unit/models/test_event.py
Due: backend-unit, backend-integration

test: add E2E tests for degraded mode, concurrent ops, and chaos testing
  backend/tests/chaos/test_worker_chaos.py
  backend/tests/integration/test_service_degradation.py
  frontend/tests/e2e/specs/ai-error-handling.spec.ts
  frontend/tests/e2e/specs/analytics-advanced.spec.ts
  frontend/tests/e2e/specs/concurrent-operations.spec.ts
  frontend/tests/e2e/specs/user-journeys/investigation-workflow.spec.ts
Due: none

fix: lower coverage threshold to 90% for unit tests only
  pyproject.toml
  scripts/check-test-coverage-gate.py
Due: none

fix: remove detection_ids references from integration tests
  backend/tests/integration/test_models.py
Due: none

fix: remove detection_ids from Event model + add CI shards
  .github/workflows/ci.yml
  backend/api/routes/admin.py
  backend/services/nemotron_analyzer.py
  pyproject.toml
  uv.lock
Due: backend-unit, backend-integration

fix: remove obsolete detection_ids from test mocks
  backend/tests/unit/api/routes/test_events.py
Due: none

fix: update test mocks to use detection_id_list
  backend/tests/unit/api/routes/test_events_routes.py
Due: none

fix: update test_events_coverage.py mocks to use detection_id_list
  backend/tests/unit/api/routes/test_events_coverage.py
Due: none

fix: update all remaining test mocks to use detection_id_list
  backend/tests/unit/api/routes/test_enrichment_storage.py
  backend/tests/unit/api/routes/test_event_clips.py
  backend/tests/unit/api/routes/test_events_eager_loading.py
  backend/tests/unit/routes/test_events_routes.py
  backend/tests/unit/services/test_search.py
Due: none

fix: remove detection_ids from nemotron_streaming.py and fix test mocking
  .secrets.baseline
  backend/services/nemotron_streaming.py
  backend/tests/unit/routes/test_admin_routes.py
Due: backend-unit, backend-integration

fix: remove all detection_ids references from tests (NEM-1592)
  .secrets.baseline
  backend/tests/e2e/test_pipeline_integration.py
  backend/tests/integration/test_ai_audit_api.py
  backend/tests/integration/test_alert_engine.py
  backend/tests/integration/test_pipeline_quality_audit_service.py
  backend/tests/integration/test_websocket.py
  backend/tests/unit/api/routes/test_admin.py
  backend/tests/unit/api/routes/test_events_coverage.py
  backend/tests/unit/routes/test_events_cache_invalidation.py
Due: none

fix: remove remaining detection_ids references from integration tests
  backend/tests/integration/test_alert_engine.py
Due: none

fix(test): add mock for junction table inserts in seed_events test
  backend/tests/unit/api/routes/test_admin.py
Due: none
