Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml
#
# Coverage trend tracking and regression detection (NEM-1387)
# - Project coverage target: 85%
# - Patch coverage target: 80%
# - Coverage regression blocks PR if > 1% decrease
# - Critical paths require 90%+ coverage

coverage:
  # How to calculate the coverage percentage
  precision: 2
  round: down
  range: '70...100'

  # Status checks that appear on PRs
  status:
    # Project coverage - overall repository coverage
    project:
      default:
        # Target coverage percentage (must meet or exceed)
        target: 85%
        # Allowed coverage decrease before failing (blocks PR if > 1% decrease)
        threshold: 1%
        # Only compare against coverage from the same CI run
        if_ci_failed: error
        # Block PR on coverage regression (not informational)
        informational: false

      # Backend unit tests - stricter threshold
      backend-unit:
        target: 85%
        threshold: 1%
        informational: false
        flags:
          - backend-unit

      # Backend integration tests
      backend-integration:
        target: 50%
        threshold: 2%
        informational: false
        flags:
          - backend-integration

      # Frontend coverage
      frontend:
        target: 80%
        threshold: 2%
        informational: false
        flags:
          - frontend

      # Critical paths - require 90%+ coverage
      # These paths contain security-critical and core business logic
      critical-paths:
        target: 90%
        threshold: 0.5%
        informational: false
        paths:
          - backend/api/routes/
          - backend/services/
          - backend/core/security.py
          - backend/core/auth.py
          - frontend/src/hooks/
          - frontend/src/services/

    # Patch coverage - coverage of changed lines
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        # Stricter threshold for patch coverage
        threshold: 1%
        # Only check if there are enough lines changed
        if_ci_failed: error
        # Block PR if patch coverage is below target (not informational)
        informational: false

# Flags for different test types
flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment settings for PRs
comment:
  # Layout of the comment (reach, diff, flags, files per NEM-1387)
  layout: 'reach,diff,flags,files'
  # Show coverage changes
  behavior: default
  # Require base report to compare (needed for trend tracking)
  require_base: true
  # Show files without coverage changes
  hide_project_coverage: false
  # Show the changes section
  show_carryforward_flags: true

# Ignore paths that shouldn't affect coverage
ignore:
  - 'backend/tests/**/*'
  - 'backend/examples/**/*'
  - 'frontend/tests/**/*'
  - 'frontend/src/test/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/node_modules/**'
  - '**/__pycache__/**'
  - 'docs/**/*'
  - 'scripts/**/*'
  - 'ai/**/*'

# GitHub integration settings
github_checks:
  annotations: true

fix: align frontend test IDs with component implementations
  frontend/src/components/alerts/__tests__/AlertsPage.integration.test.tsx
  frontend/src/components/events/EventDetailModal.test.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/feedback/FeedbackPanel.test.tsx
Due: frontend

fix: increase E2E timeout for HeadlessUI modal close animation
  frontend/tests/e2e/specs/user-journeys/detection-workflow.spec.ts
Due: none

fix: use Escape key to close modal in E2E test
  frontend/tests/e2e/specs/user-journeys/detection-workflow.spec.ts
Due: none

fix: increase E2E test timeout for alert rules form validation
  frontend/tests/e2e/specs/alert-rules.spec.ts
Due: none

chore: add conftest.py to semgrepignore for SQL injection false positive
  .semgrepignore
Due: none

feat: add CI/CD resilience improvements for test infrastructure
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  backend/tests/integration/conftest.py
Due: none

fix: merge alembic migration heads (add_4_feedback_types + job_transitions)
  backend/alembic/versions/6b206d6591cb_merge_add_4_feedback_types_and_job_.py
Due: backend-unit, backend-integration

docs: add documentation reorganization design (ADR)
  docs/decisions/2026-01-12-docs-reorganization-design.md
Due: none

docs: create hub structure with consolidated content
  docs/developer/README.md
  docs/developer/api/README.md
  docs/developer/api/ai-pipeline.md
  docs/developer/api/core-resources.md
  docs/developer/api/realtime.md
  docs/developer/api/system-ops.md
  docs/developer/architecture/README.md
  docs/developer/contributing/README.md
  docs/getting-started/README.md
  docs/operator/README.md
  docs/operator/admin/README.md
  docs/operator/deployment/README.md
  docs/operator/monitoring/README.md
  docs/reference/README.md
  docs/reference/troubleshooting/README.md
  docs/user/README.md
Due: none

docs: add Mermaid diagrams to API guides (NEM-2419, 2420, 2421, 2422)
  docs/developer/api/ai-pipeline.md
  docs/developer/api/core-resources.md
  docs/developer/api/realtime.md
  docs/developer/api/system-ops.md
Due: none

feat: add VQA implementation and replace Mermaid diagrams with SVGs
  backend/data/prompts/florence2/security_vqa_queries.json
  backend/services/vision_extractor.py
  backend/tests/unit/services/test_vision_extractor.py
  docs/architecture/ai-pipeline.md
  docs/architecture/data-model.md
  docs/architecture/overview.md
  docs/architecture/real-time.md
  docs/architecture/resilience.md
  docs/images/ai-pipeline/ai-service-interaction.svg
  docs/images/ai-pipeline/batch-lifecycle-state.svg
  docs/images/ai-pipeline/detection-errors.svg
  docs/images/ai-pipeline/detection-event-transform.svg
  docs/images/ai-pipeline/fast-path-decision.svg
  docs/images/ai-pipeline/pipeline-sequence.svg
  docs/images/architecture/overview-component-interaction.svg
  docs/images/architecture/overview-deployment-topology.svg
  docs/images/architecture/overview-fast-path-decision.svg
  docs/images/architecture/overview-pipeline-sequence.svg
  docs/images/architecture/overview-system-architecture.svg
  docs/images/data-model/cleanup-service-sequence.svg
  docs/images/data-model/data-lifecycle-state.svg
  docs/images/data-model/entity-relationship.svg
  docs/images/data-model/storage-architecture.svg
  docs/images/real-time/events-channel-sequence.svg
  docs/images/real-time/redis-pubsub-flow.svg
  docs/images/real-time/system-channel-sequence.svg
  docs/images/real-time/websocket-architecture.svg
  docs/images/resilience/circuit-breaker-registry.svg
  docs/images/resilience/circuit-breaker-states.svg
  docs/images/resilience/dlq-architecture.svg
  docs/images/resilience/frontend-state-machine.svg
  docs/images/resilience/graceful-degradation.svg
  docs/images/resilience/health-check-flow.svg
  docs/images/resilience/recovery-flow.svg
  docs/images/resilience/resilience-overview.svg
  docs/images/resilience/retry-handler-flow.svg
  docs/images/resilience/websocket-circuit-breaker.svg
  docs/images/resilience/websocket-manager.svg
  docs/images/style-guide.md
Due: backend-unit, backend-integration

docs: regenerate AGENTS.md files for hub directories (NEM-2418)
  docs/developer/api/AGENTS.md
  docs/developer/architecture/AGENTS.md
  docs/developer/contributing/AGENTS.md
  docs/developer/patterns/AGENTS.md
  docs/operator/admin/AGENTS.md
  docs/operator/deployment/AGENTS.md
  docs/operator/monitoring/AGENTS.md
  docs/user/AGENTS.md
Due: none

feat: complete Feedback & Calibration epic (NEM-2348 through NEM-2356)
  backend/api/routes/calibration.py
  backend/api/schemas/calibration.py
  backend/services/calibration_service.py
  backend/tests/unit/services/test_calibration_service.py
Due: backend-unit, backend-integration

docs: sync API guides with OpenAPI spec (NEM-2423)
  backend/api/routes/calibration.py
  backend/services/calibration_service.py
  docs/developer/api/ai-pipeline.md
  docs/developer/api/core-resources.md
  docs/developer/api/realtime.md
  docs/developer/api/system-ops.md
Due: backend-unit, backend-integration

test: improve test coverage across backend modules
  .secrets.baseline
  backend/tests/unit/api/routes/test_calibration.py
  backend/tests/unit/api/routes/test_debug.py
  backend/tests/unit/api/routes/test_detections.py
  backend/tests/unit/api/routes/test_events.py
  backend/tests/unit/api/routes/test_events_coverage.py
  backend/tests/unit/api/routes/test_exports.py
  backend/tests/unit/api/routes/test_jobs.py
  backend/tests/unit/api/routes/test_system.py
  backend/tests/unit/core/test_database.py
  backend/tests/unit/core/test_exceptions.py
  backend/tests/unit/core/test_metrics.py
  backend/tests/unit/core/test_redis.py
  backend/tests/unit/core/test_telemetry.py
  backend/tests/unit/services/test_calibration_service.py
  backend/tests/unit/services/test_cleanup_service.py
  backend/tests/unit/services/test_enrichment_client.py
  backend/tests/unit/services/test_enrichment_pipeline.py
  backend/tests/unit/services/test_export_service.py
  backend/tests/unit/services/test_fashion_clip_loader.py
  backend/tests/unit/services/test_gpu_monitor.py
  backend/tests/unit/services/test_job_tracker.py
  backend/tests/unit/services/test_nemotron_analyzer.py
  backend/tests/unit/services/test_nemotron_streaming.py
  backend/tests/unit/services/test_partition_manager.py
  backend/tests/unit/services/test_performance_collector.py
Due: none

test: remove failing clip generation tests (integration-level)
  backend/tests/unit/api/routes/test_events_coverage.py
Due: none

ci: add resilience improvements for Playwright browser installation
  .github/workflows/ci.yml
Due: none

fix: resolve E2E test failures for CI reliability
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/tests/e2e/specs/user-journeys/settings-configuration.spec.ts
Due: frontend

fix(tests): add missing user_calibration columns to test schema
  backend/tests/conftest.py
  backend/tests/integration/api/test_feedback_routes.py
Due: none

fix: resolve CI E2E test failures and improve browser installation resilience (#2785)
  .github/workflows/ci.yml
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/tests/e2e/specs/user-journeys/settings-configuration.spec.ts
Due: frontend

fix(ci): correct pytest-cov JSON report flag
  scripts/check-test-coverage-gate.py
Due: none

fix(ci): add verbose error output to coverage gate script
  scripts/check-test-coverage-gate.py
Due: none

fix(tests): mark soft_delete tests with session as integration
  backend/tests/unit/models/test_soft_delete.py
Due: none

fix(tests): auto-skip integration tests in unit test runs
  backend/tests/unit/conftest.py
Due: none

fix(tests): mark system route tests with isolated_db as integration
  backend/tests/unit/api/routes/test_system.py
Due: none

fix(tests): mark TestExportEventsFilters as integration
  backend/tests/unit/api/routes/test_events_coverage.py
Due: none

fix(tests): mock Redis dependency in streaming tests
  backend/tests/unit/api/routes/test_events_coverage.py
Due: none

fix: replace MSW infinite delays and disable VitePWA in tests
  frontend/src/components/settings/StorageDashboard.msw.test.tsx
  frontend/src/hooks/useModelZooStatus.msw.test.ts
  frontend/src/hooks/useStorageStats.msw.test.ts
  frontend/vite.config.ts
Due: none

fix: resolve Vitest shard 4/8 cleanup hang causing CI timeout
  .github/workflows/ci.yml
  frontend/package.json
  frontend/src/services/api.sentry.test.ts
  frontend/vite.config.ts
Due: none

fix: resolve Vitest shard 4/8 OOM by reducing heap and using forks pool
  .github/workflows/ci.yml
Due: none

fix: use correct Vitest CLI flag --maxThreads for shard 4
  .github/workflows/ci.yml
Due: none

fix: simplify Vitest shard command (no special shard 4 handling)
  .github/workflows/ci.yml
Due: none

fix: increase Vitest shards from 8 to 12 to prevent OOM
  .github/workflows/ci.yml
Due: none

fix: use forks pool instead of threads for better memory isolation
  .github/workflows/ci.yml
  frontend/vite.config.ts
Due: none
