Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml
#
# Coverage trend tracking and regression detection (NEM-1387)
# - Project coverage target: 85%
# - Patch coverage target: 80%
# - Coverage regression blocks PR if > 1% decrease
# - Critical paths require 90%+ coverage

coverage:
  # How to calculate the coverage percentage
  precision: 2
  round: down
  range: '70...100'

  # Status checks that appear on PRs
  status:
    # Project coverage - overall repository coverage
    project:
      default:
        # Target coverage percentage (must meet or exceed)
        target: 85%
        # Allowed coverage decrease before failing (blocks PR if > 1% decrease)
        threshold: 1%
        # Only compare against coverage from the same CI run
        if_ci_failed: error
        # Block PR on coverage regression (not informational)
        informational: false

      # Backend unit tests - stricter threshold
      backend-unit:
        target: 85%
        threshold: 1%
        informational: false
        flags:
          - backend-unit

      # Backend integration tests
      backend-integration:
        target: 50%
        threshold: 2%
        informational: false
        flags:
          - backend-integration

      # Frontend coverage
      frontend:
        target: 80%
        threshold: 2%
        informational: false
        flags:
          - frontend

      # Critical paths - require 90%+ coverage
      # These paths contain security-critical and core business logic
      critical-paths:
        target: 90%
        threshold: 0.5%
        informational: false
        paths:
          - backend/api/routes/
          - backend/services/
          - backend/core/security.py
          - backend/core/auth.py
          - frontend/src/hooks/
          - frontend/src/services/

    # Patch coverage - coverage of changed lines
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        # Stricter threshold for patch coverage
        threshold: 1%
        # Only check if there are enough lines changed
        if_ci_failed: error
        # Block PR if patch coverage is below target (not informational)
        informational: false

# Flags for different test types
flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment settings for PRs
comment:
  # Layout of the comment (reach, diff, flags, files per NEM-1387)
  layout: 'reach,diff,flags,files'
  # Show coverage changes
  behavior: default
  # Require base report to compare (needed for trend tracking)
  require_base: true
  # Show files without coverage changes
  hide_project_coverage: false
  # Show the changes section
  show_carryforward_flags: true

# Ignore paths that shouldn't affect coverage
ignore:
  - 'backend/tests/**/*'
  - 'backend/examples/**/*'
  - 'frontend/tests/**/*'
  - 'frontend/src/test/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/node_modules/**'
  - '**/__pycache__/**'
  - 'docs/**/*'
  - 'scripts/**/*'
  - 'ai/**/*'

# GitHub integration settings
github_checks:
  annotations: true

feat: enhance vision extraction pipeline and clean VQA artifacts (#3061)
  .env.example
  .gitignore
  backend/api/routes/entities.py
  backend/core/config.py
  backend/services/nemotron_analyzer.py
  backend/services/prompts.py
  backend/services/reid_service.py
  backend/services/vision_extractor.py
  backend/tests/unit/services/test_nemotron_analyzer.py
  backend/tests/unit/services/test_performance_collector.py
  backend/tests/unit/services/test_prompts.py
  backend/tests/unit/services/test_reid_service.py
  backend/tests/unit/services/test_vision_extractor.py
  docker-compose.prod.yml
  frontend/bun.lock
  frontend/nginx.conf
  frontend/public/images/nvidia-logo-white.svg
  frontend/src/components/layout/Header.tsx
  frontend/tests/e2e/specs/smoke.spec.ts
  scripts/seed-mock-events.py
  semgrep.yml
Due: backend-unit, backend-integration, frontend

fix: only seed cameras with actual image data
  backend/main.py
  scripts/seed-cameras.py
Due: backend-unit, backend-integration

fix: only seed cameras with actual image data (#3063)
  backend/main.py
  scripts/seed-cameras.py
Due: backend-unit, backend-integration

fix: use correct thumbnail URL endpoint for event responses
  backend/api/routes/events.py
  backend/api/schemas/events.py
  backend/api/schemas/openapi_docs.py
  backend/tests/unit/api/routes/test_events_field_selection.py
  backend/tests/unit/api/routes/test_events_routes.py
  docs/openapi.json
Due: backend-unit, backend-integration

feat: seed all supporting data by default in seed script
  scripts/seed-mock-events.py
Due: none

fix: resolve WebSocket service status schema mismatch
  backend/api/schemas/websocket.py
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

fix: enable entity thumbnails with real camera images
  docker-compose.prod.yml
  scripts/seed-mock-events.py
Due: none

fix: entity thumbnails by mapping entity types to detection object types
  scripts/seed-mock-events.py
Due: none

feat: add cross-platform container API setup script
  scripts/setup-container-api.sh
Due: none

feat: enable container orchestrator via TCP for self-healing
  docker-compose.prod.yml
Due: none

fix: resolve analytics dark mode rendering and add pipeline latency seeding
  backend/api/routes/admin.py
  backend/api/routes/audit.py
  backend/api/routes/detections.py
  backend/api/routes/events.py
  backend/api/routes/logs.py
  backend/api/validators.py
  backend/tests/unit/api/test_date_filter_validation.py
  docker-compose.prod.yml
  docs/openapi.json
  frontend/index.html
  frontend/src/components/analytics/AnalyticsPage.tsx
  frontend/src/styles/index.css
  frontend/tailwind.config.js
  scripts/seed-mock-events.py
Due: backend-unit, backend-integration, frontend

fix: don't link entities to mock detections without real images
  scripts/seed-mock-events.py
Due: none

fix: json-exporter config for string-to-number mapping
  monitoring/json-exporter-config.yml
Due: none

fix: disable redis-exporter health check (incompatible with minimal image)
  docker-compose.prod.yml
Due: none

fix: auto-seed mock events when pipeline produces none
  scripts/seed-mock-events.py
Due: none

fix: resolve container log errors and improve error handling
  backend/api/schemas/websocket.py
  backend/core/database.py
  backend/tests/unit/core/test_database.py
  frontend/src/types/generated/websocket.ts
Due: backend-unit, backend-integration, frontend

fix: bbox scaling for thumbnails and add frontend batch logging endpoint
  backend/api/routes/logs.py
  backend/api/schemas/logs.py
  backend/services/enrichment_pipeline.py
  backend/services/nemotron_analyzer.py
  docs/openapi.json
Due: backend-unit, backend-integration

chore: regenerate WebSocket TypeScript types
  frontend/src/types/generated/websocket.ts
Due: frontend

fix: add deleted_at field to EventResponse schema (NEM-2664)
  backend/api/routes/events.py
  backend/api/schemas/events.py
  backend/tests/unit/routes/test_restore_endpoints.py
  docs/openapi.json
Due: backend-unit, backend-integration

fix: regenerate API types for CI contract check
  .secrets.baseline
  frontend/src/types/generated/api.ts
Due: frontend

chore: regenerate WebSocket types for CI contract check
  frontend/src/types/generated/websocket.ts
Due: frontend

[claudesquad] update from 'debug' on 16 Jan 26 00:30 EST (paused)
  frontend/tests/e2e/.auth/storage-state.json
Due: none

fix: use subshell in E2E test retry to prevent directory context issues
  .github/workflows/ci.yml
Due: none

feat: expose trust_status and trust_updated_at in entity API responses
  backend/api/routes/entities.py
  backend/api/schemas/entities.py
  docs/openapi.json
Due: backend-unit, backend-integration

chore: regenerate API types for entity trust fields
  frontend/src/types/generated/api.ts
Due: frontend

fix: add clickEntityCard method to EntitiesPage E2E helper
  frontend/tests/e2e/pages/EntitiesPage.ts
Due: none

fix: add missing E2E mocks for entity stats and trust endpoints
  frontend/tests/e2e/fixtures/api-mocks.ts
Due: none

test: skip entity-trust E2E tests pending mock fix
  frontend/tests/e2e/specs/entity-trust.spec.ts
Due: none

test: skip additional failing E2E tests pending mock fixes
  frontend/tests/e2e/specs/user-journeys/alert-lifecycle.spec.ts
  frontend/tests/e2e/specs/user-journeys/feedback-calibration-loop.spec.ts
  frontend/tests/e2e/specs/video-playback.spec.ts
Due: none

fix: resolve E2E test failures with mock and wait improvements
  frontend/tests/e2e/fixtures/api-mocks.ts
  frontend/tests/e2e/pages/EntitiesPage.ts
  frontend/tests/e2e/specs/entity-trust.spec.ts
  frontend/tests/e2e/specs/user-journeys/alert-lifecycle.spec.ts
  frontend/tests/e2e/specs/user-journeys/feedback-calibration-loop.spec.ts
  frontend/tests/e2e/specs/video-playback.spec.ts
Due: none

fix: improve waitForEntitiesLoad() empty state detection
  frontend/tests/e2e/pages/EntitiesPage.ts
Due: none
