Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

fix(tests): use specific exception types for Redis error tests
  backend/tests/integration/test_api_error_scenarios.py
  backend/tests/integration/test_http_error_codes.py
  backend/tests/integration/test_system_api.py
Due: none

fix(tests): increase debounce test timing margin for CI stability
  backend/tests/unit/services/test_file_watcher.py
Due: none

fix(ci): disable database logging in security tests
  .gitignore
  backend/tests/security/conftest.py
  data/runtime.env
Due: none

fix(tests): wait for content section instead of header in latency panel test
  frontend/src/components/analytics/PipelineLatencyPanel.test.tsx
Due: none

fix(tests): set mock_redis._client to None to properly simulate unavailable Redis
  backend/tests/integration/conftest.py
  backend/tests/integration/test_system_api.py
Due: none

fix(deps): upgrade urllib3 to 2.6.3 to fix CVE-2026-21441
  requirements-audit.txt
Due: none

feat: implement 8 backend improvements from security and code quality audit
  backend/api/middleware/security_headers.py
  backend/api/routes/system.py
  backend/api/schemas/__init__.py
  backend/api/schemas/errors.py
  backend/api/schemas/llm_response.py
  backend/core/__init__.py
  backend/core/database.py
  backend/core/logging.py
  backend/core/protocols.py
  backend/core/websocket_circuit_breaker.py
  backend/main.py
  backend/services/alert_engine.py
  backend/services/circuit_breaker.py
  backend/services/detector_client.py
  backend/services/enrichment_pipeline.py
  backend/services/severity.py
  backend/services/system_broadcaster.py
  backend/tests/unit/api/routes/test_telemetry_api.py
  backend/tests/unit/api/schemas/test_errors.py
  backend/tests/unit/core/test_logging.py
  backend/tests/unit/core/test_security_headers.py
  backend/tests/unit/core/test_websocket_circuit_breaker.py
  backend/tests/unit/routes/test_system_routes.py
  backend/tests/unit/services/test_alert_engine.py
  backend/tests/unit/services/test_detector_client.py
  backend/tests/unit/services/test_system_broadcaster.py
  data/runtime.env
  docker-compose.prod.yml
  monitoring/AGENTS.md
  monitoring/blackbox-exporter.yml
  monitoring/grafana/dashboards/synthetic-monitoring.json
  monitoring/prometheus.yml
  requirements-audit.txt
Due: backend-unit, backend-integration

feat(frontend): implement typed event emitter pattern for WebSocket handling (NEM-1418)
  frontend/src/hooks/typedEventEmitter.test.ts
  frontend/src/hooks/typedEventEmitter.ts
  frontend/src/hooks/webSocketManager.ts
  frontend/src/types/websocket-events.test.ts
  frontend/src/types/websocket-events.ts
Due: frontend

refactor: consolidate custom exception classes into central module (NEM-1441)
  backend/core/exceptions.py
  backend/tests/unit/core/test_exceptions.py
Due: backend-unit, backend-integration

fix: resolve CI dead code detection failures and create investigation report
  CI_FAILURE_INVESTIGATION.md
Due: none

feat: implement API contract validation and documentation (NEM-1581)
  .github/workflows/ci.yml
  docs/API_COVERAGE.md
  docs/WEBSOCKET_CONTRACTS.md
  frontend/src/types/generated/api.ts
  frontend/tests/contract/api-contract.test.ts
  scripts/validate-api-types.sh
Due: frontend

fix: use bash shebang for validate-api-types.sh (requires arrays)
  scripts/validate-api-types.sh
Due: none

fix: merge Alembic migration heads for user feedback and notifications
  backend/alembic/versions/d896ab921049_merge_user_feedback_and_notification_.py
Due: backend-unit, backend-integration

fix: update tracing tests and regenerate API types
  CI_FAILURE_INVESTIGATION.md
  backend/tests/unit/services/test_pipeline_tracing.py
  frontend/src/types/generated/api.ts
Due: frontend

fix: add proper Alembic migration for user feedback and calibration tables
  backend/alembic/versions/add_user_feedback_and_calibration.py
Due: backend-unit, backend-integration

fix(a11y): improve color contrast for error messages on dark backgrounds
  frontend/src/components/alerts/AlertsPage.new.tsx
  frontend/src/components/alerts/AlertsPage.tsx
  frontend/src/components/audit/AuditTable.tsx
  frontend/src/components/events/EventTimeline.tsx
Due: frontend

feat(a11y): add pre-push accessibility smoke test and fix pipeline badge colors
  .pre-commit-config.yaml
  frontend/src/components/system/PipelineMetricsPanel.tsx
  scripts/a11y-smoke-test.sh
Due: frontend

feat: add AbortController timeout handling to API client (NEM-1414)
  frontend/src/hooks/typedEventEmitter.test.ts
  frontend/src/hooks/typedEventEmitter.ts
  frontend/src/services/api.timeout.test.ts
  frontend/src/services/api.ts
  frontend/src/types/websocket-events.test.ts
  frontend/src/types/websocket-events.ts
Due: frontend

docs: create consolidated testing patterns guide (NEM-1410)
  CLAUDE.md
  backend/tests/AGENTS.md
  docs/TESTING_GUIDE.md
Due: none

chore: centralize uv version definition across CI workflows (NEM-1439)
  .github/workflows/api-compatibility.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci-analytics.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/gpu-tests.yml
  .github/workflows/linear-github-sync.yml
  .github/workflows/load-tests.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/nightly.yml
  .github/workflows/sast.yml
  .github/workflows/weekly-audit.yml
  .github/workflows/zap-security.yml
  CLAUDE.md
  docs/TESTING_GUIDE.md
Due: none

test: expand pytest.mark.parametrize usage for edge cases (NEM-1450)
  backend/tests/AGENTS.md
  backend/tests/unit/api/schemas/test_field_constraints.py
  backend/tests/unit/services/test_bbox_validation.py
Due: none

fix(a11y): change all remaining green badges to emerald for WCAG contrast
  frontend/src/components/system/ServicesPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
Due: frontend

fix(tests): resolve unhandled promise rejections in timeout tests and accessibility contrast issue
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/services/api.timeout.test.ts
  frontend/src/services/api.ts
Due: frontend

fix(e2e): add dashboard-container testid for E2E test visibility
  frontend/src/components/dashboard/DashboardPage.tsx
Due: frontend

Path conditions:
  backend-unit: any of: backend/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
  backend-integration: any of: backend/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
  frontend: any of: frontend/src/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
