Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

feat: expose scene change detection to frontend via WebSocket (NEM-3555)
  backend/api/routes/cameras.py
  backend/core/websocket/event_types.py
  backend/services/__init__.py
  backend/services/scene_change_service.py
  backend/tests/unit/services/test_scene_change_service.py
Due: backend-unit, backend-integration

feat(api): expose enrichment model info to frontend (NEM-3535)
  backend/api/schemas/enrichment.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

feat(frontend): expose EventAudit self-evaluation improvements (NEM-3534)
  frontend/src/hooks/useEventAuditImprovements.test.tsx
  frontend/src/hooks/useEventAuditImprovements.ts
  frontend/src/types/aiAuditImprovements.test.ts
  frontend/src/types/aiAuditImprovements.ts
Due: frontend

test: expand scene change service test coverage (NEM-3674)
  backend/tests/unit/services/test_scene_change_service.py
Due: none

fix(tests): add response parameter to get_config test (NEM-3664)
  .secrets.baseline
  backend/tests/unit/routes/test_system_routes.py
Due: none

feat: resolve 8 backlog issues (NEM-3664, NEM-3518, NEM-3554, NEM-3535, NEM-3552, NEM-3534, NEM-3533, NEM-3555) (#4217)
  .secrets.baseline
  backend/api/routes/cameras.py
  backend/api/routes/events.py
  backend/api/routes/websocket.py
  backend/api/schemas/enrichment.py
  backend/core/websocket/event_types.py
  backend/services/__init__.py
  backend/services/scene_change_service.py
  backend/tests/integration/test_websocket.py
  backend/tests/unit/api/schemas/test_enrichment_schema.py
  backend/tests/unit/routes/test_system_routes.py
  backend/tests/unit/services/test_scene_change_service.py
  docs/openapi.json
  frontend/src/components/common/ProductTour.test.tsx
  frontend/src/components/common/ProductTour.tsx
  frontend/src/components/feedback/FeedbackPanel.test.tsx
  frontend/src/components/feedback/FeedbackPanel.tsx
  frontend/src/hooks/useEventAuditImprovements.test.tsx
  frontend/src/hooks/useEventAuditImprovements.ts
  frontend/src/services/api.ts
  frontend/src/types/aiAuditImprovements.test.ts
  frontend/src/types/aiAuditImprovements.ts
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
Due: backend-unit, backend-integration, frontend

chore: regenerate TypeScript API types
  docs/openapi.json
Due: none

test: add integration tests for backup, restore, and webhook services
  backend/tests/integration/test_backup_service.py
  backend/tests/integration/test_restore_service.py
  backend/tests/integration/test_webhook_service.py
Due: none

fix: add missing batch analysis webhook event types
  backend/api/schemas/outbound_webhook.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
  frontend/src/types/webhook.ts
Due: backend-unit, backend-integration, frontend

docs: add development metrics and executive presentation docs
  docs/development/end-to-end-development-metrics.md
  docs/plans/2025-01-21-nvidia-executive-presentation.md
  docs/plans/executive-summary-slides.md
Due: none

docs: add Veo 3.1 video generation design and scripts
  docs/plans/2026-01-25-veo-video-generation-design.md
  scripts/generate_videos.py
  scripts/generate_videos.sh
Due: none

docs: add synthetic data generation design for AI pipeline A/B testing
  docs/plans/2026-01-25-synthetic-data-generation-design.md
Due: none

feat: implement synthetic data generation system for AI pipeline A/B testing
  scripts/synthetic/__init__.py
  scripts/synthetic/comparison_engine.py
  scripts/synthetic/media_generator.py
  scripts/synthetic/prompt_generator.py
  scripts/synthetic/report_generator.py
  scripts/synthetic/scenarios/__init__.py
  scripts/synthetic/scenarios/environmental/time_modifiers.json
  scripts/synthetic/scenarios/environmental/weather_modifiers.json
  scripts/synthetic/scenarios/normal/delivery_driver.json
  scripts/synthetic/scenarios/normal/pet_activity.json
  scripts/synthetic/scenarios/normal/resident_arrival.json
  scripts/synthetic/scenarios/normal/vehicle_parking.json
  scripts/synthetic/scenarios/suspicious/casing.json
  scripts/synthetic/scenarios/suspicious/loitering.json
  scripts/synthetic/scenarios/suspicious/prowling.json
  scripts/synthetic/scenarios/threats/break_in_attempt.json
  scripts/synthetic/scenarios/threats/package_theft.json
  scripts/synthetic/scenarios/threats/weapon_visible.json
  scripts/synthetic_data.py
Due: none

feat(reports): implement Scheduled Reports frontend UI (NEM-3667)
  .secrets.baseline
  frontend/src/App.tsx
  frontend/src/components/layout/sidebarNav.ts
  frontend/src/components/reports/ScheduledReportForm.test.tsx
  frontend/src/components/reports/ScheduledReportForm.tsx
  frontend/src/components/reports/index.ts
  frontend/src/hooks/useScheduledReports.test.tsx
  frontend/src/hooks/useScheduledReports.ts
  frontend/src/pages/ScheduledReportsPage.test.tsx
  frontend/src/pages/ScheduledReportsPage.tsx
  frontend/src/services/scheduledReportsApi.ts
  frontend/src/types/scheduledReport.ts
Due: frontend

chore: regenerate TypeScript API types
  frontend/src/types/generated/api.ts
Due: frontend

fix: resolve CI failures for alembic migration conflict and unit tests
  .secrets.baseline
  backend/alembic/versions/0004_add_backup_and_webhook_tables.py
  backend/tests/unit/routes/test_system_routes.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

feat: capture in-progress work from fun10 parallel agents
  .secrets.baseline
  backend/api/schemas/system.py
  backend/models/audit.py
  backend/models/export_job.py
  docs/openapi.json
  frontend/src/components/ai/AIPerformancePage.test.tsx
  frontend/src/components/developer-tools/ConfigInspectorPanel.test.tsx
  frontend/src/components/developer-tools/DeveloperToolsPage.test.tsx
  frontend/src/components/logs/LogsPage.test.tsx
  frontend/src/components/pyroscope/PyroscopePage.test.tsx
  frontend/src/components/settings/ProcessingSettings.test.tsx
  frontend/src/components/settings/ProcessingSettings.tsx
  frontend/src/components/settings/QueueSettings.tsx
  frontend/src/components/settings/RateLimitingSettings.tsx
  frontend/src/components/settings/SettingsPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/tracing/TracingPage.test.tsx
  frontend/src/components/zones/DeviationBadge.tsx
  frontend/src/hooks/useDebugConfigQuery.test.ts
  frontend/src/hooks/useSystemConfigQuery.test.tsx
  frontend/src/services/api.test.ts
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

fix: add export compliance fields and integrate settings components (NEM-3669, NEM-3670)
  backend/api/schemas/export.py
  backend/models/export_job.py
  backend/tests/unit/models/test_export_job.py
  docs/openapi.json
  frontend/src/components/settings/ProcessingSettings.test.tsx
  frontend/src/components/settings/ProcessingSettings.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

fix: update AuditAction enum count to 34
  backend/tests/unit/models/test_audit_log.py
Due: none

fix: add Response parameter to config test mocks
  backend/tests/unit/routes/test_system_routes.py
Due: none

feat: capture in-progress work from fun10 parallel agents (#4216)
  .secrets.baseline
  backend/api/schemas/export.py
  backend/api/schemas/system.py
  backend/models/audit.py
  backend/models/export_job.py
  backend/tests/unit/models/test_audit_log.py
  backend/tests/unit/models/test_export_job.py
  backend/tests/unit/routes/test_system_routes.py
  docs/openapi.json
  frontend/src/components/ai/AIPerformancePage.test.tsx
  frontend/src/components/developer-tools/ConfigInspectorPanel.test.tsx
  frontend/src/components/developer-tools/DeveloperToolsPage.test.tsx
  frontend/src/components/logs/LogsPage.test.tsx
  frontend/src/components/pyroscope/PyroscopePage.test.tsx
  frontend/src/components/settings/ProcessingSettings.test.tsx
  frontend/src/components/settings/ProcessingSettings.tsx
  frontend/src/components/settings/QueueSettings.tsx
  frontend/src/components/settings/RateLimitingSettings.tsx
  frontend/src/components/settings/SettingsPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/tracing/TracingPage.test.tsx
  frontend/src/components/zones/DeviationBadge.tsx
  frontend/src/hooks/useDebugConfigQuery.test.ts
  frontend/src/hooks/useSystemConfigQuery.test.tsx
  frontend/src/services/api.test.ts
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

feat(timeline): add initialTab prop to EventDetailModal for clip generation access (NEM-3590)
  frontend/src/components/events/EventDetailModal.tsx
Due: frontend

feat(camera): expose property_id and areas relationships (NEM-3597)
  backend/api/schemas/camera.py
Due: backend-unit, backend-integration

feat(camera): add frontend schemas for property_id and areas (NEM-3597)
  frontend/src/schemas/camera.ts
Due: frontend

feat(timeline): add clip generation button to EventCard (NEM-3590)
  frontend/src/components/events/EventCard.tsx
Due: frontend

test(camera): update mocks for property_id and areas (NEM-3597)
  backend/api/schemas/events.py
  backend/api/schemas/llm_response.py
  backend/tests/unit/api/routes/test_cameras.py
  backend/tests/unit/api/schemas/test_llm_response.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

feat(dashboard): integrate summary content and add insights visualization (NEM-3595, NEM-3618)
  frontend/src/components/analytics/AnalyticsPage.test.tsx
  frontend/src/components/analytics/AnalyticsPage.tsx
Due: frontend

feat(camera): update routes to expose property_id and areas (NEM-3597)
  backend/api/routes/cameras.py
Due: backend-unit, backend-integration

chore: update secrets baseline
  backend/api/schemas/events.py
Due: backend-unit, backend-integration

Path conditions:
  backend-unit: any of: backend/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
  backend-integration: any of: backend/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
  frontend: any of: frontend/src/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
