Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml
#
# Coverage trend tracking and regression detection (NEM-1387)
# - Project coverage target: 85%
# - Patch coverage target: 80%
# - Coverage regression blocks PR if > 1% decrease
# - Critical paths require 90%+ coverage

coverage:
  # How to calculate the coverage percentage
  precision: 2
  round: down
  range: '70...100'

  # Status checks that appear on PRs
  status:
    # Project coverage - overall repository coverage
    project:
      default:
        # Target coverage percentage (must meet or exceed)
        target: 85%
        # Allowed coverage decrease before failing (blocks PR if > 1% decrease)
        threshold: 1%
        # Only compare against coverage from the same CI run
        if_ci_failed: error
        # Block PR on coverage regression (not informational)
        informational: false

      # Backend unit tests - stricter threshold
      backend-unit:
        target: 85%
        threshold: 1%
        informational: false
        flags:
          - backend-unit

      # Backend integration tests
      backend-integration:
        target: 50%
        threshold: 2%
        informational: false
        flags:
          - backend-integration

      # Frontend coverage
      frontend:
        target: 80%
        threshold: 2%
        informational: false
        flags:
          - frontend

      # Critical paths - require 90%+ coverage
      # These paths contain security-critical and core business logic
      critical-paths:
        target: 90%
        threshold: 0.5%
        informational: false
        paths:
          - backend/api/routes/
          - backend/services/
          - backend/core/security.py
          - backend/core/auth.py
          - frontend/src/hooks/
          - frontend/src/services/

    # Patch coverage - coverage of changed lines
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        # Stricter threshold for patch coverage
        threshold: 1%
        # Only check if there are enough lines changed
        if_ci_failed: error
        # Block PR if patch coverage is below target (not informational)
        informational: false

# Flags for different test types
flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment settings for PRs
comment:
  # Layout of the comment (reach, diff, flags, files per NEM-1387)
  layout: 'reach,diff,flags,files'
  # Show coverage changes
  behavior: default
  # Require base report to compare (needed for trend tracking)
  require_base: true
  # Show files without coverage changes
  hide_project_coverage: false
  # Show the changes section
  show_carryforward_flags: true

# Ignore paths that shouldn't affect coverage
ignore:
  - 'backend/tests/**/*'
  - 'backend/examples/**/*'
  - 'frontend/tests/**/*'
  - 'frontend/src/test/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/node_modules/**'
  - '**/__pycache__/**'
  - 'docs/**/*'
  - 'scripts/**/*'
  - 'ai/**/*'

# GitHub integration settings
github_checks:
  annotations: true

feat: add post-checkout hook to protect main worktree
  CLAUDE.md
  scripts/hooks/post-checkout
Due: none

chore: regenerate API types
  frontend/src/types/generated/api.ts
Due: frontend

fix: rename duplicate AlertmanagerAlert to WebhookAlert
  .secrets.baseline
  backend/api/schemas/webhooks.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

fix: update test imports after WebhookAlert rename
  backend/tests/unit/api/routes/test_webhooks.py
Due: none

feat: add post-checkout hook to protect main worktree (#3615)
  .secrets.baseline
  CLAUDE.md
  backend/api/schemas/webhooks.py
  backend/tests/unit/api/routes/test_webhooks.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
  scripts/hooks/post-checkout
Due: backend-unit, backend-integration, frontend

fix: integrate AdminSettings tab and cleanup orphaned code (NEM-3138)
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/settings/SettingsPage.tsx
  frontend/src/hooks/useNotificationPreferencesQuery.ts
Due: frontend

fix: backend trace_id logging error and stable development passwords
  .env.example
  backend/core/logging.py
  backend/tests/unit/core/test_logging_trace_context.py
  setup.py
Due: backend-unit, backend-integration

fix: address security and complexity warnings in setup.py
  setup.py
Due: none

fix: integrate AdminSettings tab and cleanup orphaned code (NEM-3138) (#3617)
  .env.example
  backend/core/logging.py
  backend/tests/unit/core/test_logging_trace_context.py
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/settings/SettingsPage.tsx
  frontend/src/hooks/useNotificationPreferencesQuery.ts
  setup.py
Due: backend-unit, backend-integration, frontend

feat: replace Grafana Explore with HSI Distributed Tracing dashboard
  frontend/src/components/tracing/TracingPage.test.tsx
  frontend/src/components/tracing/TracingPage.tsx
Due: frontend

fix: backend trace_id logging error and stable development passwords
  setup.py
Due: none

refactor: standardize port configuration across environments (NEM-3148)
  .env.example
  backend/core/config.py
  docs/development/PORT_STANDARDIZATION.md
  setup.py
Due: backend-unit, backend-integration

fix: resolve E2E test failures from HeadlessUI and selector changes
  frontend/tests/e2e/fixtures/api-mocks.ts
  frontend/tests/e2e/pages/SettingsPage.ts
  frontend/tests/e2e/pages/TimelinePage.ts
  frontend/tests/e2e/specs/alerts.spec.ts
  frontend/tests/e2e/specs/events.spec.ts
  frontend/tests/e2e/specs/realtime-updates.spec.ts
  frontend/tests/e2e/specs/user-journeys/settings-configuration.spec.ts
  frontend/tests/e2e/specs/user-journeys/settings-navigation.spec.ts
  frontend/tests/e2e/specs/websocket.spec.ts
  frontend/tests/e2e/test-headlessui-attrs.spec.ts
Due: none

fix: regenerate API types and fix generate-types.sh for test environment
  .secrets.baseline
  frontend/src/types/generated/api.ts
  scripts/generate-types.sh
Due: frontend

fix: update package-lock.json with pako compression dependencies
  frontend/package-lock.json
Due: none

feat: add HSI System Logs Grafana dashboard for Loki integration
  monitoring/grafana/dashboards/logs.json
Due: none

feat: enhance Alloy log parsing for trace correlation
  monitoring/alloy/config.alloy
Due: none

docs: synchronize AGENTS.md files with current codebase structure
  .secrets.baseline
Due: none

feat: add LogsPage component with Grafana iframe embed
  backend/api/routes/__init__.py
  backend/main.py
  frontend/src/components/logs/LogsPage.test.tsx
  frontend/src/components/logs/LogsPage.tsx
Due: backend-unit, backend-integration, frontend

fix: rename duplicate AlertmanagerAlert to WebhookAlert
  .secrets.baseline
Due: none

docs: add logs page Grafana/Loki migration design
  docs/plans/2026-01-20-logs-grafana-migration-design.md
Due: none

docs: add logs Grafana/Loki migration implementation plan
  docs/plans/2026-01-20-logs-grafana-migration-impl.md
Due: none

feat: add log-based alert rules via Loki
  monitoring/grafana/provisioning/alerting/log-alerts.yml
Due: none

refactor: remove /api/logs endpoint (replaced by Loki)
  backend/api/routes/entities.py
  backend/api/routes/logs.py
  backend/api/schemas/entities.py
  backend/api/schemas/logs.py
  backend/api/schemas/pagination.py
  backend/tests/integration/test_logs_api.py
  backend/tests/integration/test_middleware_chain.py
  backend/tests/unit/api/routes/test_logs_pagination.py
  backend/tests/unit/api/schemas/test_field_constraints.py
  backend/tests/unit/routes/test_logs_routes.py
  docs/openapi.json
Due: backend-unit, backend-integration

refactor: remove old LogsDashboard (replaced by Grafana LogsPage)
  frontend/src/AGENTS.md
  frontend/src/components/AGENTS.md
  frontend/src/components/logs/AGENTS.md
  frontend/src/components/logs/LogDetailModal.test.tsx
  frontend/src/components/logs/LogDetailModal.tsx
  frontend/src/components/logs/LogFilters.test.tsx
  frontend/src/components/logs/LogFilters.tsx
  frontend/src/components/logs/LogStatsCards.test.tsx
  frontend/src/components/logs/LogStatsCards.tsx
  frontend/src/components/logs/LogStatsSummary.tsx
  frontend/src/components/logs/LogsDashboard.test.tsx
  frontend/src/components/logs/LogsDashboard.tsx
  frontend/src/components/logs/LogsTable.test.tsx
  frontend/src/components/logs/LogsTable.tsx
  frontend/src/components/logs/logGrouping.ts
Due: frontend

feat: update /logs route to use new LogsPage component
  frontend/src/App.tsx
Due: frontend

chore: auto-regenerate API types in pre-commit hook
  .pre-commit-config.yaml
  frontend/src/types/generated/api.ts
Due: frontend

fix: remove log types and API functions after backend logs removal
  .secrets.baseline
  docs/openapi.json
  frontend/src/services/api.test.ts
  frontend/src/services/api.ts
  frontend/src/types/api-endpoints.ts
  frontend/src/types/generated/api.ts
  frontend/src/types/generated/index.ts
Due: frontend

fix: update E2E tests for Grafana-embedded logs page
  frontend/tests/e2e/pages/LogsPage.ts
  frontend/tests/e2e/specs/error-handling.spec.ts
  frontend/tests/e2e/specs/logs.spec.ts
  frontend/tests/e2e/visual/logs.visual.spec.ts
Due: none

fix: correct data-testid selectors in LogsPage E2E page object
  frontend/tests/e2e/pages/LogsPage.ts
  frontend/tests/e2e/visual/logs.visual.spec.ts
Due: none
