Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml
#
# Coverage trend tracking and regression detection (NEM-1387)
# - Project coverage target: 85%
# - Patch coverage target: 80%
# - Coverage regression blocks PR if > 1% decrease
# - Critical paths require 90%+ coverage

coverage:
  # How to calculate the coverage percentage
  precision: 2
  round: down
  range: '70...100'

  # Status checks that appear on PRs
  status:
    # Project coverage - overall repository coverage
    project:
      default:
        # Target coverage percentage (must meet or exceed)
        target: 85%
        # Allowed coverage decrease before failing (blocks PR if > 1% decrease)
        threshold: 1%
        # Only compare against coverage from the same CI run
        if_ci_failed: error
        # Block PR on coverage regression (not informational)
        informational: false

      # Backend unit tests - stricter threshold
      backend-unit:
        target: 85%
        threshold: 1%
        informational: false
        flags:
          - backend-unit

      # Backend integration tests
      backend-integration:
        target: 50%
        threshold: 2%
        informational: false
        flags:
          - backend-integration

      # Frontend coverage
      frontend:
        target: 80%
        threshold: 2%
        informational: false
        flags:
          - frontend

      # Critical paths - require 90%+ coverage
      # These paths contain security-critical and core business logic
      critical-paths:
        target: 90%
        threshold: 0.5%
        informational: false
        paths:
          - backend/api/routes/
          - backend/services/
          - backend/core/security.py
          - backend/core/auth.py
          - frontend/src/hooks/
          - frontend/src/services/

    # Patch coverage - coverage of changed lines
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        # Stricter threshold for patch coverage
        threshold: 1%
        # Only check if there are enough lines changed
        if_ci_failed: error
        # Block PR if patch coverage is below target (not informational)
        informational: false

# Flags for different test types
flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment settings for PRs
comment:
  # Layout of the comment (reach, diff, flags, files per NEM-1387)
  layout: 'reach,diff,flags,files'
  # Show coverage changes
  behavior: default
  # Require base report to compare (needed for trend tracking)
  require_base: true
  # Show files without coverage changes
  hide_project_coverage: false
  # Show the changes section
  show_carryforward_flags: true

# Ignore paths that shouldn't affect coverage
ignore:
  - 'backend/tests/**/*'
  - 'backend/examples/**/*'
  - 'frontend/tests/**/*'
  - 'frontend/src/test/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/node_modules/**'
  - '**/__pycache__/**'
  - 'docs/**/*'
  - 'scripts/**/*'
  - 'ai/**/*'

# GitHub integration settings
github_checks:
  annotations: true

chore: migrate pre-commit config to fix deprecated stage names
  .pre-commit-config.yaml
Due: none

feat: add WebSocket events for alert state changes (NEM-1981)
  .secrets.baseline
  backend/api/routes/__init__.py
  backend/api/routes/alerts.py
  backend/api/schemas/websocket.py
  backend/main.py
  backend/services/event_broadcaster.py
  backend/tests/unit/api/schemas/test_websocket_alert_schemas.py
  backend/tests/unit/core/test_websocket.py
  backend/tests/unit/routes/test_alert_instance_routes.py
  backend/tests/unit/services/test_event_broadcaster_alert.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

fix(tests): remove unused noqa directive for S110
  backend/services/event_broadcaster.py
  backend/tests/unit/core/test_websocket.py
Due: backend-unit, backend-integration

feat: add WebSocket events for alert state changes (NEM-1981) (#2453)
  .secrets.baseline
  backend/api/routes/__init__.py
  backend/api/routes/alerts.py
  backend/api/schemas/websocket.py
  backend/main.py
  backend/services/event_broadcaster.py
  backend/tests/unit/api/schemas/test_websocket_alert_schemas.py
  backend/tests/unit/core/test_websocket.py
  backend/tests/unit/routes/test_alert_instance_routes.py
  backend/tests/unit/services/test_event_broadcaster_alert.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

docs: major documentation reorganization and hub architecture
  .secrets.baseline
Due: none

feat: parallel agent implementation of 8 backlog tasks
  .secrets.baseline
Due: none

fix(ci): make E2E tests blocking and fix flaky alert-rules test
  .github/workflows/ci.yml
  .secrets.baseline
  frontend/tests/e2e/pages/AlertRulesPage.ts
Due: none

fix(tests): improve EntitiesPage test wait logic for CI stability
  .secrets.baseline
  docs/openapi.json
  frontend/src/components/entities/EntitiesPage.test.tsx
Due: none

fix(ci): make E2E tests blocking and fix flaky alert-rules test (#2489)
  .github/workflows/ci.yml
  .secrets.baseline
  docs/openapi.json
  frontend/src/components/entities/EntitiesPage.test.tsx
  frontend/tests/e2e/pages/AlertRulesPage.ts
Due: none

feat: implement WebSocket event sequence validation (NEM-2019)
  backend/api/schemas/websocket.py
  backend/tests/unit/api/schemas/test_websocket_sequence.py
  frontend/src/hooks/sequenceValidator.test.ts
  frontend/src/hooks/sequenceValidator.ts
  frontend/src/types/websocket.ts
Due: backend-unit, backend-integration, frontend

refactor: register AI services in DI container (NEM-2030)
  backend/core/container.py
  backend/services/__init__.py
  backend/services/ai_services.py
  backend/tests/unit/core/test_container_ai_services.py
  backend/tests/unit/services/test_ai_services.py
Due: backend-unit, backend-integration

test: add migration test for fresh database setup (NEM-2011)
  backend/tests/integration/test_migrations.py
Due: none

feat: implement Idempotency-Key header support (NEM-2018)
  backend/api/middleware/AGENTS.md
  backend/api/middleware/__init__.py
  backend/api/middleware/idempotency.py
  backend/core/config.py
  backend/tests/unit/api/middleware/test_idempotency.py
Due: backend-unit, backend-integration

test: add comprehensive concurrency test suite (NEM-2017)
  backend/tests/integration/test_concurrency.py
Due: none

fix: make Redis batch metadata operations atomic (NEM-2014)
  backend/services/batch_aggregator.py
  backend/tests/unit/services/test_batch_aggregator.py
Due: backend-unit, backend-integration

fix: add Pydantic validators for TLS certificate paths (NEM-2024)
  .pre-commit-config.yaml
  backend/core/config.py
  backend/tests/unit/core/test_config.py
Due: backend-unit, backend-integration

test: add batch operations E2E tests (NEM-2061)
  frontend/tests/e2e/specs/batch-operations.spec.ts
Due: none

refactor: update route handlers to use Depends() for services (NEM-2032)
  backend/api/dependencies.py
  backend/api/routes/alerts.py
  backend/api/routes/cameras.py
  backend/api/routes/detections.py
  backend/api/routes/events.py
  backend/api/routes/media.py
  backend/api/routes/system.py
  backend/tests/unit/api/routes/test_cameras_baseline.py
  backend/tests/unit/api/routes/test_detections.py
Due: backend-unit, backend-integration

test: fix tests for DI refactor and skip unimplemented UI tests
  backend/tests/unit/api/routes/test_cameras_baseline.py
  backend/tests/unit/api/routes/test_event_clips.py
  backend/tests/unit/api/routes/test_media.py
  backend/tests/unit/routes/test_detections_routes.py
  backend/tests/unit/routes/test_system_anomaly_config.py
  backend/tests/unit/services/test_batch_aggregator.py
  backend/tests/unit/services/test_pipeline_worker.py
  frontend/src/types/generated/api.ts
  frontend/tests/e2e/specs/batch-operations.spec.ts
Due: frontend

fix(lint): remove unused noqa directive for S110
  backend/tests/integration/test_migrations.py
  docs/openapi.json
Due: none

test: fix CI test failures in integration and E2E tests
  backend/tests/integration/test_batch_aggregator_integration.py
  backend/tests/integration/test_pipeline_e2e.py
  backend/tests/integration/test_video_streaming.py
  frontend/src/components/analytics/PipelineLatencyPanel.test.tsx
  frontend/tests/e2e/specs/batch-operations.spec.ts
  frontend/tests/e2e/specs/network-conditions.spec.ts
Due: none

feat(services): add cascade file deletion for events (NEM-1988)
  backend/core/redis.py
  backend/services/__init__.py
  backend/services/event_service.py
  backend/services/file_service.py
  backend/tests/unit/services/test_file_service.py
Due: backend-unit, backend-integration

feat(api): implement detection metadata search (NEM-1986)
  backend/alembic/versions/add_detection_search_vector.py
  backend/api/routes/detections.py
  backend/api/schemas/detections.py
  backend/models/detection.py
Due: backend-unit, backend-integration

feat(testing): add performance CI gates and frontend integration tests (NEM-2094, NEM-2095)
  .github/workflows/benchmarks.yml
Due: none

chore: regenerate OpenAPI spec and TypeScript types
  .secrets.baseline
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: frontend

fix: resolve alembic migration branching by linearizing dependency
  backend/alembic/versions/add_detection_search_vector.py
Due: backend-unit, backend-integration

feat: consolidated cherry-picks from unmerged branches (#2518)
  .github/workflows/benchmarks.yml
  .secrets.baseline
  backend/alembic/versions/add_detection_search_vector.py
  backend/api/routes/detections.py
  backend/api/schemas/detections.py
  backend/core/redis.py
  backend/models/detection.py
  backend/services/__init__.py
  backend/services/event_service.py
  backend/services/file_service.py
  backend/tests/unit/services/test_file_service.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

fix(lint): remove unused noqa directive for S110
  docs/openapi.json
Due: none

test: add observability integration tests (NEM-2093)
  .secrets.baseline
  backend/tests/integration/test_alert_rules.py
  backend/tests/integration/test_dashboard_queries.py
  backend/tests/integration/test_health_checks.py
  backend/tests/integration/test_metric_emission.py
  backend/tests/integration/test_trace_propagation.py
  docs/openapi.json
Due: none

test: add observability integration tests (NEM-2093) (#2532)
  .secrets.baseline
  backend/tests/integration/test_alert_rules.py
  backend/tests/integration/test_dashboard_queries.py
  backend/tests/integration/test_health_checks.py
  backend/tests/integration/test_metric_emission.py
  backend/tests/integration/test_trace_propagation.py
Due: none

feat(frontend): migrate 8 components to React Query hooks
  frontend/src/components/dashboard/GpuStats.test.tsx
  frontend/src/components/dashboard/GpuStats.tsx
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/settings/CamerasSettings.test.tsx
  frontend/src/components/settings/CamerasSettings.tsx
  frontend/src/components/settings/CleanupPreviewPanel.test.tsx
  frontend/src/components/settings/CleanupPreviewPanel.tsx
  frontend/src/components/settings/StorageDashboard.test.tsx
  frontend/src/components/settings/StorageDashboard.tsx
  frontend/src/components/system/ModelZooPanel.test.tsx
  frontend/src/components/system/ModelZooPanel.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
  frontend/src/components/system/SystemMonitoringPage.tsx
  frontend/src/components/system/SystemSummaryRow.test.tsx
  frontend/src/components/system/SystemSummaryRow.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useStorageStatsQuery.test.ts
  frontend/src/hooks/useStorageStatsQuery.ts
Due: frontend

fix(test): update tests for React Query migration
  frontend/src/components/settings/ProcessingSettings.test.tsx
  frontend/src/components/settings/StorageDashboard.msw.test.tsx
  frontend/src/components/system/SystemMonitoringPage.test.tsx
Due: none
