Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml
#
# Coverage trend tracking and regression detection (NEM-1387)
# - Project coverage target: 85%
# - Patch coverage target: 80%
# - Coverage regression blocks PR if > 1% decrease
# - Critical paths require 90%+ coverage

coverage:
  # How to calculate the coverage percentage
  precision: 2
  round: down
  range: '70...100'

  # Status checks that appear on PRs
  status:
    # Project coverage - overall repository coverage
    project:
      default:
        # Target coverage percentage (must meet or exceed)
        target: 85%
        # Allowed coverage decrease before failing (blocks PR if > 1% decrease)
        threshold: 1%
        # Only compare against coverage from the same CI run
        if_ci_failed: error
        # Block PR on coverage regression (not informational)
        informational: false

      # Backend unit tests - stricter threshold
      backend-unit:
        target: 85%
        threshold: 1%
        informational: false
        flags:
          - backend-unit

      # Backend integration tests
      backend-integration:
        target: 50%
        threshold: 2%
        informational: false
        flags:
          - backend-integration

      # Frontend coverage
      frontend:
        target: 80%
        threshold: 2%
        informational: false
        flags:
          - frontend

      # Critical paths - require 90%+ coverage
      # These paths contain security-critical and core business logic
      critical-paths:
        target: 90%
        threshold: 0.5%
        informational: false
        paths:
          - backend/api/routes/
          - backend/services/
          - backend/core/security.py
          - backend/core/auth.py
          - frontend/src/hooks/
          - frontend/src/services/

    # Patch coverage - coverage of changed lines
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        # Stricter threshold for patch coverage
        threshold: 1%
        # Only check if there are enough lines changed
        if_ci_failed: error
        # Block PR if patch coverage is below target (not informational)
        informational: false

# Flags for different test types
flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment settings for PRs
comment:
  # Layout of the comment (reach, diff, flags, files per NEM-1387)
  layout: 'reach,diff,flags,files'
  # Show coverage changes
  behavior: default
  # Require base report to compare (needed for trend tracking)
  require_base: true
  # Show files without coverage changes
  hide_project_coverage: false
  # Show the changes section
  show_carryforward_flags: true

# Ignore paths that shouldn't affect coverage
ignore:
  - 'backend/tests/**/*'
  - 'backend/examples/**/*'
  - 'frontend/tests/**/*'
  - 'frontend/src/test/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/node_modules/**'
  - '**/__pycache__/**'
  - 'docs/**/*'
  - 'scripts/**/*'
  - 'ai/**/*'

# GitHub integration settings
github_checks:
  annotations: true

fix: preserve feature branch state in redeploy script
  scripts/redeploy.sh
Due: none

fix: use fully-qualified image names in podman to avoid short-name resolution
  scripts/redeploy.sh
Due: none

fix: move prune_build_artifacts to after containers start
  backend/services/depth_anything_loader.py
  scripts/redeploy.sh
Due: backend-unit, backend-integration

fix: podman short-name resolution and build artifact timing (#6057)
  scripts/redeploy.sh
Due: none

feat(setup): implement Setup UX Redesign foundational modules (NEM-5182)
  docker-compose.ghcr.yml
Due: none

docs: add setup UX redesign plan
  docker-compose.ghcr.yml
Due: none

feat(ai): implement NEM-5276 AI differentiation phases 1-5
  backend/services/depth_anything_loader.py
Due: backend-unit, backend-integration

fix: move prune_build_artifacts to after containers start
  backend/services/depth_anything_loader.py
Due: backend-unit, backend-integration

feat(auth): implement authentication epic phases 1-4
  NEM-5316-TEST-SUMMARY.md
  NEM-5316-VERIFICATION-REPORT.md
  backend/core/config.py
  backend/models/__init__.py
  backend/models/api_key.py
  backend/models/user.py
  backend/services/auth_service.py
  backend/services/session_service.py
  backend/tests/integration/test_api_protection.py
  backend/tests/integration/test_auth_flow.py
  backend/tests/integration/test_websocket_auth_flow.py
  backend/tests/unit/models/test_api_key_model.py
  backend/tests/unit/models/test_user_model.py
  backend/tests/unit/routes/test_admin_routes.py
  backend/tests/unit/routes/test_auth_routes.py
  backend/tests/unit/test_auth_service.py
  backend/tests/unit/test_session_service.py
  backend/tests/unit/test_setup_guard_middleware.py
  backend/tests/unit/test_websocket_auth.py
  frontend/src/__tests__/auth-flow.test.tsx
  frontend/src/components/auth/ProtectedRoute.test.tsx
  frontend/src/components/auth/SetupPage.test.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/services/authApi.test.ts
  frontend/src/services/authApi.ts
  pyproject.toml
  setup.py
  uv.lock
Due: backend-unit, backend-integration, frontend

feat(setup): add MQTT config, nvidia toolkit, and port scanner modules
  .secrets.baseline
  backend/api/routes/__init__.py
  backend/api/routes/mqtt_config.py
  backend/api/schemas/mqtt_config.py
  backend/main.py
  backend/tests/unit/api/routes/test_mqtt_config.py
  backend/tests/unit/setup_lib/test_nvidia_toolkit.py
  backend/tests/unit/setup_lib/test_port_scanner.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
  pyproject.toml
  setup_lib/AGENTS.md
  setup_lib/__init__.py
  setup_lib/credentials.py
  setup_lib/nvidia_toolkit.py
  setup_lib/port_scanner.py
  setup_lib/tests/__init__.py
  setup_lib/tests/conftest.py
  setup_lib/tests/test_credentials.py
Due: backend-unit, backend-integration, frontend

feat(auth): implement authentication epic phases 2 & 4
  backend/api/middleware/__init__.py
  backend/api/middleware/auth.py
  backend/api/middleware/setup_guard.py
  backend/api/routes/__init__.py
  backend/api/routes/auth.py
  backend/api/schemas/auth.py
  backend/main.py
  backend/tests/unit/test_auth_routes.py
  backend/tests/unit/test_setup_guard_middleware.py
  docs/openapi.json
  frontend/bun.lock
  frontend/src/App.tsx
  frontend/src/__tests__/auth-flow.test.tsx
  frontend/src/components/auth/ProtectedRoute.test.tsx
  frontend/src/components/auth/ProtectedRoute.tsx
  frontend/src/components/auth/SetupPage.tsx
  frontend/src/components/auth/index.ts
  frontend/src/contexts/index.ts
  frontend/src/pages/LoginPage.test.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

fix(auth): resolve CI lint errors and fix false positives
  .gitleaks.toml
  .secrets.baseline
  NEM-5316-TEST-SUMMARY.md
  NEM-5316-VERIFICATION-REPORT.md
  backend/api/middleware/__init__.py
  backend/core/config.py
  backend/models/__init__.py
  backend/services/session_service.py
  backend/tests/integration/test_api_protection.py
  backend/tests/integration/test_auth_flow.py
  backend/tests/integration/test_websocket_auth_flow.py
  backend/tests/unit/models/test_api_key_model.py
  backend/tests/unit/routes/test_admin_routes.py
  backend/tests/unit/routes/test_auth_routes.py
  backend/tests/unit/test_auth_service.py
  backend/tests/unit/test_session_service.py
  backend/tests/unit/test_setup_guard_middleware.py
  backend/tests/unit/test_websocket_auth.py
  frontend/src/components/auth/SetupPage.test.tsx
  frontend/src/services/authApi.test.ts
Due: backend-unit, backend-integration

fix(ci): allowlist commit with dynamic JWT secret generation
  .gitleaks.toml
Due: none

fix(ci): suppress semgrep jwt-weak-algorithm false positive
  backend/services/auth_service.py
Due: backend-unit, backend-integration

fix(ci): add CVE-2024-23342 to vulnerability allowlists
  .github/workflows/dependency-audit.yml
  .trivyignore
Due: none

fix(ci): fix ESLint import order and ruff lint errors
  backend/services/auth_service.py
  frontend/src/__tests__/auth-flow.test.tsx
  frontend/src/components/auth/ProtectedRoute.test.tsx
  frontend/src/components/auth/SetupPage.test.tsx
  frontend/src/components/auth/SetupPage.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/LoginPage.test.tsx
  frontend/src/services/authApi.test.ts
Due: backend-unit, backend-integration, frontend

fix(ci): format auth_service.py with ruff
  backend/services/auth_service.py
Due: backend-unit, backend-integration

fix(ci): fix nosemgrep/ruff conflict with noqa comments
  backend/services/auth_service.py
Due: backend-unit, backend-integration

feat(auth): implement WebSocket hybrid authentication (NEM-5316)
  backend/api/middleware/websocket_auth.py
  backend/tests/unit/test_websocket_auth.py
Due: backend-unit, backend-integration

fix(auth): integrate WebSocket hybrid auth into authenticate_websocket
  backend/api/middleware/auth.py
  backend/services/auth_service.py
Due: backend-unit, backend-integration

fix(auth): use 4001 close code when hybrid auth is enabled
  backend/api/middleware/auth.py
Due: backend-unit, backend-integration

fix(auth): handle MagicMock objects in WebSocket auth tests
  backend/api/middleware/auth.py
Due: backend-unit, backend-integration

test(auth): mark TDD RED phase tests as xfail
  .secrets.baseline
  backend/tests/integration/test_websocket_auth_flow.py
Due: none

fix(ci): resolve auth epic CI failures (NEM-3471)
  backend/api/middleware/setup_guard.py
  backend/tests/unit/routes/test_admin_routes.py
  setup.py
Due: backend-unit, backend-integration

feat(auth): implement /api/admin/users endpoints (NEM-3471)
  backend/api/routes/admin.py
  backend/api/schemas/auth.py
  backend/tests/unit/routes/test_admin_routes.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

test: mark setup guard middleware tests as xfail due to mocking mismatch
  backend/tests/unit/test_setup_guard_middleware.py
Due: none

fix(deps): resolve @isaacs/brace-expansion vulnerability
  frontend/package-lock.json
Due: none

feat(auth): implement /api/admin/users endpoints (NEM-3471) (#6133)
  backend/api/routes/admin.py
  backend/api/schemas/auth.py
  backend/tests/unit/routes/test_admin_routes.py
  backend/tests/unit/test_setup_guard_middleware.py
  docs/openapi.json
  frontend/package-lock.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

fix(ai): resolve X-CLIP tensor mismatch by completing NEM-3908 upgrade
  backend/services/action_recognition_service.py
  backend/services/enrichment_pipeline.py
  backend/services/model_zoo.py
  backend/tests/unit/services/test_enrichment_pipeline.py
Due: backend-unit, backend-integration

fix(compose): mount podman socket for container orchestrator auto-recovery
  docker-compose.prod.yml
Due: none
