Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml
#
# Coverage trend tracking and regression detection (NEM-1387)
# - Project coverage target: 85%
# - Patch coverage target: 80%
# - Coverage regression blocks PR if > 1% decrease
# - Critical paths require 90%+ coverage

coverage:
  # How to calculate the coverage percentage
  precision: 2
  round: down
  range: '70...100'

  # Status checks that appear on PRs
  status:
    # Project coverage - overall repository coverage
    project:
      default:
        # Target coverage percentage (must meet or exceed)
        target: 85%
        # Allowed coverage decrease before failing (blocks PR if > 1% decrease)
        threshold: 1%
        # Only compare against coverage from the same CI run
        if_ci_failed: error
        # Block PR on coverage regression (not informational)
        informational: false

      # Backend unit tests - stricter threshold
      backend-unit:
        target: 85%
        threshold: 1%
        informational: false
        flags:
          - backend-unit

      # Backend integration tests
      backend-integration:
        target: 50%
        threshold: 2%
        informational: false
        flags:
          - backend-integration

      # Frontend coverage
      frontend:
        target: 80%
        threshold: 2%
        informational: false
        flags:
          - frontend

      # Critical paths - require 90%+ coverage
      # These paths contain security-critical and core business logic
      critical-paths:
        target: 90%
        threshold: 0.5%
        informational: false
        paths:
          - backend/api/routes/
          - backend/services/
          - backend/core/security.py
          - backend/core/auth.py
          - frontend/src/hooks/
          - frontend/src/services/

    # Patch coverage - coverage of changed lines
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        # Stricter threshold for patch coverage
        threshold: 1%
        # Only check if there are enough lines changed
        if_ci_failed: error
        # Block PR if patch coverage is below target (not informational)
        informational: false

# Flags for different test types
flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment settings for PRs
comment:
  # Layout of the comment (reach, diff, flags, files per NEM-1387)
  layout: 'reach,diff,flags,files'
  # Show coverage changes
  behavior: default
  # Require base report to compare (needed for trend tracking)
  require_base: true
  # Show files without coverage changes
  hide_project_coverage: false
  # Show the changes section
  show_carryforward_flags: true

# Ignore paths that shouldn't affect coverage
ignore:
  - 'backend/tests/**/*'
  - 'backend/examples/**/*'
  - 'frontend/tests/**/*'
  - 'frontend/src/test/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/node_modules/**'
  - '**/__pycache__/**'
  - 'docs/**/*'
  - 'scripts/**/*'
  - 'ai/**/*'

# GitHub integration settings
github_checks:
  annotations: true

fix: resolve Vulture dead code detection issues blocking CI (NEM-2432)
  .secrets.baseline
  backend/api/routes/system.py
  backend/tests/unit/api/routes/test_events_coverage.py
  backend/tests/unit/services/test_orphan_scanner_service.py
  docs/openapi.json
Due: backend-unit, backend-integration

fix: correct test mock condition for stats endpoint
  backend/tests/unit/routes/test_ai_audit_routes.py
Due: none

feat: complete 8 Linear tasks - monitoring, analytics, docker, docs
  .coverage.maui_phoenix20swa_mooo_com.pid3243085.XvQxfDGx
  .coverage.maui_phoenix20swa_mooo_com.pid3243213.XzrEPM2x.HqJ6uaI2GKJh
  .coverage.maui_phoenix20swa_mooo_com.pid3243700.XoBcELNx
  .coverage.maui_phoenix20swa_mooo_com.pid3277187.XpKjNvHx.HLIwj4VxmEYh
  .env.example
  .secrets.baseline
  CLAUDE.md
  backend/alembic/versions/add_entity_model.py
  backend/api/routes/ai_audit.py
  backend/api/routes/detections.py
  backend/api/routes/events.py
  backend/api/routes/jobs.py
  backend/api/schemas/ai_audit.py
  backend/api/schemas/system.py
  backend/core/config.py
  backend/models/entity.py
  backend/services/cache_service.py
  backend/tests/unit/api/routes/test_ai_audit.py
  backend/tests/unit/api/routes/test_detections.py
  backend/tests/unit/api/routes/test_events_routes.py
  backend/tests/unit/api/routes/test_system.py
  backend/tests/unit/core/test_redis_key_prefix.py
  backend/tests/unit/models/test_entity.py
  backend/tests/unit/routes/test_ai_audit_routes.py
  backend/tests/unit/services/test_cache_service.py
  docker-compose.ghcr.yml
  docs/admin-guide/configuration.md
  docs/decisions/entity-detection-referential-integrity.md
  frontend/src/components/analytics/AnalyticsPage.test.tsx
  frontend/src/components/analytics/AnalyticsPage.tsx
  frontend/src/components/system/SystemSummaryRow.test.tsx
  frontend/src/components/system/SystemSummaryRow.tsx
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
  frontend/tests/e2e/specs/analytics.spec.ts
  scripts/redeploy.sh
Due: backend-unit, backend-integration, frontend

fix: add job tracker mock and update batch endpoint test expectations
  backend/tests/unit/routes/test_ai_audit_routes.py
Due: none

fix: update integration tests to expect 202 for async batch endpoint
  .coverage.maui_phoenix20swa_mooo_com.pid3243085.XvQxfDGx
  .coverage.maui_phoenix20swa_mooo_com.pid3243213.XzrEPM2x.HqJ6uaI2GKJh
  .coverage.maui_phoenix20swa_mooo_com.pid3243700.XoBcELNx
  .coverage.maui_phoenix20swa_mooo_com.pid3277187.XpKjNvHx.HLIwj4VxmEYh
  backend/tests/integration/test_ai_audit_api.py
Due: none

fix: revert to 'expire' param for RedisClient wrapper compatibility
  backend/services/reid_service.py
Due: backend-unit, backend-integration

feat: complete 8 Linear tasks - monitoring, analytics, docker, docs (#2839)
  .env.example
  .secrets.baseline
  CLAUDE.md
  backend/alembic/versions/add_entity_model.py
  backend/api/routes/ai_audit.py
  backend/api/routes/detections.py
  backend/api/routes/events.py
  backend/api/routes/jobs.py
  backend/api/routes/system.py
  backend/api/schemas/ai_audit.py
  backend/api/schemas/system.py
  backend/core/config.py
  backend/models/entity.py
  backend/services/cache_service.py
  backend/tests/integration/test_ai_audit_api.py
  backend/tests/unit/api/routes/test_ai_audit.py
  backend/tests/unit/api/routes/test_detections.py
  backend/tests/unit/api/routes/test_events_coverage.py
  backend/tests/unit/api/routes/test_events_routes.py
  backend/tests/unit/api/routes/test_system.py
  backend/tests/unit/core/test_redis_key_prefix.py
  backend/tests/unit/models/test_entity.py
  backend/tests/unit/routes/test_ai_audit_routes.py
  backend/tests/unit/services/test_cache_service.py
  backend/tests/unit/services/test_orphan_scanner_service.py
  docker-compose.ghcr.yml
  docs/admin-guide/configuration.md
  docs/decisions/entity-detection-referential-integrity.md
  docs/openapi.json
  frontend/src/components/analytics/AnalyticsPage.test.tsx
  frontend/src/components/analytics/AnalyticsPage.tsx
  frontend/src/components/system/SystemSummaryRow.test.tsx
  frontend/src/components/system/SystemSummaryRow.tsx
  frontend/src/services/api.ts
  frontend/src/types/generated/api.ts
  frontend/tests/e2e/specs/analytics.spec.ts
  scripts/redeploy.sh
Due: backend-unit, backend-integration, frontend

fix: change AI code review workflow trigger from push to pull_request (NEM-2614)
  .github/workflows/ai-code-review.yml
Due: none

fix: standardize frontend port to 5173 for external access (NEM-2441)
  frontend/Dockerfile
  frontend/tests/e2e/.auth/storage-state.json
Due: none

fix: remove duplicate backend-liveness Prometheus target (NEM-2469)
  monitoring/prometheus.yml
Due: none

fix: complete 6 Linear bug fixes (NEM-2443, NEM-2447, NEM-2435, NEM-2446, NEM-2442, NEM-2472)
  backend/api/routes/cameras.py
  backend/core/logging.py
  backend/main.py
  backend/tests/unit/api/routes/test_cameras.py
  backend/tests/unit/core/test_logging.py
  backend/tests/unit/routes/test_cameras_routes.py
  frontend/src/components/analytics/AnalyticsPage.test.tsx
  frontend/src/components/common/ProductTour.test.tsx
  frontend/src/components/common/ProductTour.tsx
Due: backend-unit, backend-integration, frontend

chore: add .coverage.* pattern to gitignore
  .gitignore
Due: none

fix: correct test assertion to match actual API message
  backend/tests/integration/test_cameras_api.py
Due: none

chore: regenerate TypeScript types after rebase
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: frontend

fix: isolate enable_deferred_db_logging tests from global state
  backend/tests/unit/core/test_logging.py
Due: none

fix: complete 8 Linear bug fixes from recovery batch (#2866)
  .gitignore
  backend/api/routes/cameras.py
  backend/core/logging.py
  backend/main.py
  backend/tests/integration/test_cameras_api.py
  backend/tests/unit/api/routes/test_cameras.py
  backend/tests/unit/core/test_logging.py
  backend/tests/unit/routes/test_cameras_routes.py
  docs/openapi.json
  frontend/Dockerfile
  frontend/src/components/analytics/AnalyticsPage.test.tsx
  frontend/src/components/common/ProductTour.test.tsx
  frontend/src/components/common/ProductTour.tsx
  frontend/src/types/generated/api.ts
  frontend/tests/e2e/.auth/storage-state.json
  monitoring/prometheus.yml
Due: backend-unit, backend-integration, frontend

feat: connect 6 frontend API endpoints with hooks and tests (NEM-2486, NEM-2487, NEM-2488, NEM-2489, NEM-2490, NEM-2491)
  frontend/src/hooks/useAnalysisStream.test.ts
  frontend/src/hooks/useAnalysisStream.ts
  frontend/src/hooks/useDetections.test.ts
  frontend/src/hooks/useDetections.ts
  frontend/src/services/api.test.ts
  frontend/src/services/api.ts
  frontend/src/services/queryClient.test.ts
  frontend/src/services/queryClient.ts
  frontend/src/types/generated/index.ts
Due: frontend

fix: GHCR container images out of sync with main branch (NEM-2433)
  .github/workflows/deploy.yml
Due: none

feat: add self-signed TLS certificate generation script (NEM-2436)
  .gitignore
  certs/.gitkeep
  data/certs/.gitkeep
  scripts/generate-certs.sh
Due: none

feat: add MonitoringStackValidator service for monitoring stack health (NEM-2466)
  backend/services/monitoring_stack_validator.py
  backend/tests/unit/services/test_monitoring_stack_validator.py
Due: backend-unit, backend-integration

feat: create WorkerSupervisor core implementation (NEM-2458)
  backend/services/__init__.py
  backend/services/worker_supervisor.py
  backend/tests/unit/services/test_worker_supervisor.py
  frontend/knip.json
  frontend/package.json
  frontend/src/components/video/VideoPlayer.tsx
Due: backend-unit, backend-integration, frontend

feat: create EntityRepository for PostgreSQL CRUD operations (NEM-2450)
  backend/repositories/__init__.py
  backend/repositories/entity_repository.py
  backend/services/enrichment_pipeline.py
  backend/tests/integration/repositories/test_entity_repository.py
  backend/tests/unit/repositories/__init__.py
  backend/tests/unit/repositories/test_entity_repository.py
  backend/tests/unit/services/test_enrichment_pipeline.py
Due: backend-unit, backend-integration

fix: disable unused ML models in enrichment pipeline tests
  backend/tests/unit/services/test_enrichment_pipeline.py
Due: none

feat: connect 6 frontend API endpoints with hooks and tests (NEM-2486, NEM-2487, NEM-2488, NEM-2489, NEM-2490, NEM-2491) (#2989)
  backend/tests/unit/services/test_enrichment_pipeline.py
  frontend/src/hooks/useAnalysisStream.test.ts
  frontend/src/hooks/useAnalysisStream.ts
  frontend/src/hooks/useDetections.test.ts
  frontend/src/hooks/useDetections.ts
  frontend/src/services/api.test.ts
  frontend/src/services/api.ts
  frontend/src/services/queryClient.test.ts
  frontend/src/services/queryClient.ts
  frontend/src/types/generated/index.ts
Due: frontend

feat: complete 8 parallel agent tasks - validation, safety, and UI improvements
  backend/api/pagination.py
  backend/api/routes/audit.py
  backend/api/routes/detections.py
  backend/api/routes/events.py
  backend/api/routes/logs.py
  backend/core/exceptions.py
  backend/core/telemetry.py
  backend/services/job_tracker.py
  backend/tests/integration/api/test_cursor_pagination.py
  backend/tests/unit/api/test_pagination.py
  backend/tests/unit/core/test_exceptions.py
  backend/tests/unit/core/test_telemetry.py
  backend/tests/unit/services/test_job_tracker.py
  frontend/src/components/common/ServiceStatusIndicator.test.tsx
  frontend/src/components/common/ServiceStatusIndicator.tsx
  frontend/src/components/common/ThumbnailImage.test.tsx
  frontend/src/components/common/ThumbnailImage.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/dashboard/ActivityFeed.test.tsx
  frontend/src/components/dashboard/ActivityFeed.tsx
  frontend/src/components/system/PipelineMetricsPanel.tsx
  frontend/src/theme/AGENTS.md
  frontend/src/theme/colors.test.ts
  frontend/src/theme/colors.ts
  frontend/src/theme/index.ts
  frontend/tailwind.config.js
Due: backend-unit, backend-integration, frontend

chore: fix end of file in e2e auth storage state
  frontend/tests/e2e/.auth/storage-state.json
Due: none

feat: recover cherry-picked commits from PR #2858 (#2990)
  .github/workflows/deploy.yml
  .gitignore
  backend/repositories/__init__.py
  backend/repositories/entity_repository.py
  backend/services/__init__.py
  backend/services/enrichment_pipeline.py
  backend/services/monitoring_stack_validator.py
  backend/services/worker_supervisor.py
  backend/tests/integration/repositories/test_entity_repository.py
  backend/tests/unit/repositories/__init__.py
  backend/tests/unit/repositories/test_entity_repository.py
  backend/tests/unit/services/test_enrichment_pipeline.py
  backend/tests/unit/services/test_monitoring_stack_validator.py
  backend/tests/unit/services/test_worker_supervisor.py
  certs/.gitkeep
  data/certs/.gitkeep
  frontend/knip.json
  frontend/package.json
  frontend/src/components/video/VideoPlayer.tsx
  scripts/generate-certs.sh
Due: backend-unit, backend-integration, frontend

feat: complete 8 parallel agent tasks - validation, safety, and UI improvements (#2992)
  .github/workflows/ai-code-review.yml
  backend/api/pagination.py
  backend/api/routes/audit.py
  backend/api/routes/detections.py
  backend/api/routes/events.py
  backend/api/routes/logs.py
  backend/core/exceptions.py
  backend/core/telemetry.py
  backend/services/job_tracker.py
  backend/tests/integration/api/test_cursor_pagination.py
  backend/tests/unit/api/test_pagination.py
  backend/tests/unit/core/test_exceptions.py
  backend/tests/unit/core/test_telemetry.py
  backend/tests/unit/services/test_job_tracker.py
  frontend/src/components/analytics/AnalyticsPage.test.tsx
  frontend/src/components/common/ServiceStatusIndicator.test.tsx
  frontend/src/components/common/ServiceStatusIndicator.tsx
  frontend/src/components/common/ThumbnailImage.test.tsx
  frontend/src/components/common/ThumbnailImage.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/dashboard/ActivityFeed.test.tsx
  frontend/src/components/dashboard/ActivityFeed.tsx
  frontend/src/components/system/PipelineMetricsPanel.tsx
  frontend/src/theme/AGENTS.md
  frontend/src/theme/colors.test.ts
  frontend/src/theme/colors.ts
  frontend/src/theme/index.ts
  frontend/tailwind.config.js
  frontend/tests/e2e/.auth/storage-state.json
Due: backend-unit, backend-integration, frontend

feat: complete 8 Linear tasks - parallel agent dispatch (NEM-2565, NEM-2533, NEM-2570, NEM-2575, NEM-2563, NEM-2548, NEM-2549, NEM-2551)
  backend/api/dependencies.py
  backend/api/routes/alerts.py
  backend/api/routes/cameras.py
  backend/api/routes/detections.py
  backend/api/routes/events.py
  backend/core/constants.py
  backend/main.py
  backend/models/camera.py
  backend/repositories/camera_repository.py
  backend/services/cache_service.py
  backend/services/camera_service.py
  backend/services/camera_status_service.py
  backend/services/nemotron_analyzer.py
  backend/services/system_broadcaster.py
  backend/tests/contracts/test_api_contracts.py
  backend/tests/factories.py
  backend/tests/integration/services/test_cache_behavior.py
  backend/tests/integration/test_cache_invalidation_comprehensive.py
  backend/tests/unit/api/routes/test_alerts.py
  backend/tests/unit/api/routes/test_cameras.py
  backend/tests/unit/api/routes/test_cameras_baseline.py
  backend/tests/unit/api/routes/test_queues.py
  backend/tests/unit/api/routes/test_zones.py
  backend/tests/unit/api/test_dependencies.py
  backend/tests/unit/routes/test_alerts_routes.py
  backend/tests/unit/routes/test_cameras_routes.py
  backend/tests/unit/routes/test_detections_cache_invalidation.py
  backend/tests/unit/routes/test_events_cache_invalidation.py
  backend/tests/unit/routes/test_restore_endpoints.py
  backend/tests/unit/routes/test_zones_routes.py
  backend/tests/unit/services/test_cache_service.py
  frontend/src/types/entity.ts
  frontend/src/types/index.ts
  frontend/tests/e2e/specs/accessibility.spec.ts
  frontend/tests/e2e/utils/test-helpers.ts
Due: backend-unit, backend-integration, frontend

fix: remove incorrect UUID validation for string-based IDs
  backend/api/dependencies.py
  backend/tests/unit/api/test_dependencies.py
Due: backend-unit, backend-integration

feat: complete 8 Linear tasks - parallel agent dispatch (NEM-2565, NEM-2533, NEM-2570, NEM-2575, NEM-2563, NEM-2548, NEM-2549, NEM-2551) (#2988)
  backend/api/dependencies.py
  backend/api/routes/alerts.py
  backend/api/routes/cameras.py
  backend/api/routes/detections.py
  backend/api/routes/events.py
  backend/core/constants.py
  backend/main.py
  backend/models/camera.py
  backend/repositories/camera_repository.py
  backend/services/cache_service.py
  backend/services/camera_service.py
  backend/services/camera_status_service.py
  backend/services/nemotron_analyzer.py
  backend/services/system_broadcaster.py
  backend/tests/contracts/test_api_contracts.py
  backend/tests/factories.py
  backend/tests/integration/services/test_cache_behavior.py
  backend/tests/integration/test_cache_invalidation_comprehensive.py
  backend/tests/unit/api/routes/test_alerts.py
  backend/tests/unit/api/routes/test_cameras.py
  backend/tests/unit/api/routes/test_cameras_baseline.py
  backend/tests/unit/api/routes/test_queues.py
  backend/tests/unit/api/routes/test_zones.py
  backend/tests/unit/api/test_dependencies.py
  backend/tests/unit/routes/test_alerts_routes.py
  backend/tests/unit/routes/test_cameras_routes.py
  backend/tests/unit/routes/test_detections_cache_invalidation.py
  backend/tests/unit/routes/test_events_cache_invalidation.py
  backend/tests/unit/routes/test_restore_endpoints.py
  backend/tests/unit/routes/test_zones_routes.py
  backend/tests/unit/services/test_cache_service.py
  frontend/src/types/entity.ts
  frontend/src/types/index.ts
  frontend/tests/e2e/specs/accessibility.spec.ts
  frontend/tests/e2e/utils/test-helpers.ts
Due: backend-unit, backend-integration, frontend

fix: improve error handling across 4 backend services (NEM-2541, NEM-2542, NEM-2544, NEM-2546)
  backend/api/middleware/request_timing.py
  backend/api/routes/admin.py
  backend/services/__init__.py
  backend/services/audit_logger.py
  backend/services/dedupe.py
  backend/services/enrichment_pipeline.py
  backend/services/nemotron_analyzer.py
  backend/tests/unit/api/middleware/test_request_timing.py
  backend/tests/unit/services/test_audit_logger.py
  backend/tests/unit/services/test_dedupe.py
  backend/tests/unit/services/test_enrichment_error_handling.py
  backend/tests/unit/services/test_enrichment_pipeline.py
  semgrep.yml
Due: backend-unit, backend-integration
