Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml
#
# Coverage trend tracking and regression detection (NEM-1387)
# - Project coverage target: 85%
# - Patch coverage target: 80%
# - Coverage regression blocks PR if > 1% decrease
# - Critical paths require 90%+ coverage

coverage:
  # How to calculate the coverage percentage
  precision: 2
  round: down
  range: '70...100'

  # Status checks that appear on PRs
  status:
    # Project coverage - overall repository coverage
    project:
      default:
        # Target coverage percentage (must meet or exceed)
        target: 85%
        # Allowed coverage decrease before failing (blocks PR if > 1% decrease)
        threshold: 1%
        # Only compare against coverage from the same CI run
        if_ci_failed: error
        # Block PR on coverage regression (not informational)
        informational: false

      # Backend unit tests - stricter threshold
      backend-unit:
        target: 85%
        threshold: 1%
        informational: false
        flags:
          - backend-unit

      # Backend integration tests
      backend-integration:
        target: 50%
        threshold: 2%
        informational: false
        flags:
          - backend-integration

      # Frontend coverage
      frontend:
        target: 80%
        threshold: 2%
        informational: false
        flags:
          - frontend

      # Critical paths - require 90%+ coverage
      # These paths contain security-critical and core business logic
      critical-paths:
        target: 90%
        threshold: 0.5%
        informational: false
        paths:
          - backend/api/routes/
          - backend/services/
          - backend/core/security.py
          - backend/core/auth.py
          - frontend/src/hooks/
          - frontend/src/services/

    # Patch coverage - coverage of changed lines
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        # Stricter threshold for patch coverage
        threshold: 1%
        # Only check if there are enough lines changed
        if_ci_failed: error
        # Block PR if patch coverage is below target (not informational)
        informational: false

# Flags for different test types
flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment settings for PRs
comment:
  # Layout of the comment (reach, diff, flags, files per NEM-1387)
  layout: 'reach,diff,flags,files'
  # Show coverage changes
  behavior: default
  # Require base report to compare (needed for trend tracking)
  require_base: true
  # Show files without coverage changes
  hide_project_coverage: false
  # Show the changes section
  show_carryforward_flags: true

# Ignore paths that shouldn't affect coverage
ignore:
  - 'backend/tests/**/*'
  - 'backend/examples/**/*'
  - 'frontend/tests/**/*'
  - 'frontend/src/test/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/node_modules/**'
  - '**/__pycache__/**'
  - 'docs/**/*'
  - 'scripts/**/*'
  - 'ai/**/*'

# GitHub integration settings
github_checks:
  annotations: true

fix: frontend depends_on backend service_started instead of service_healthy
  docker-compose.prod.yml
Due: none

fix: resolve platform health issues and integrate rootful dcgm-exporter
  docker-compose.prod.yml
  monitoring/dcgm/dcgm-exporter.service
  monitoring/loki/loki-config.yml
  monitoring/prometheus.yml
  scripts/deploy-gateway.sh
  scripts/restart-all.sh
  scripts/setup-systemd.sh
  setup.py
  setup_lib/__init__.py
  setup_lib/rootful_services.py
Due: none

fix: update health monitor to use ai-gateway when USE_AI_GATEWAY is active
  backend/main.py
  docker-compose.prod.yml
Due: backend-unit, backend-integration

fix: route all AI services through gateway and fix enrichment response mismatches
  .env.example
  ai/gateway/adapters/enrichment.py
  ai/gateway/adapters/enrichment_light.py
  backend/core/config.py
  backend/services/batch_aggregator.py
  docker-compose.prod.yml
Due: backend-unit, backend-integration

fix: CLIP tokenizer path and OTEL metrics forwarding
  ai/gateway/adapters/clip.py
  docker-compose.prod.yml
  monitoring/alloy/config.alloy
Due: none

Fix failing tests: clamp fast_path_confidence_threshold and add security_opt to ai-yolo26
  backend/api/routes/system.py
  docker-compose.prod.yml
  scripts/monitor-pipeline-db.py
Due: backend-unit, backend-integration

fix: add label=disable to ai-florence and handle MagicMock in fast_path clamp
  backend/api/routes/system.py
  docker-compose.prod.yml
Due: backend-unit, backend-integration

fix: add label=disable to all AI services for consistent security hardening
  docker-compose.prod.yml
Due: none

Fix ruff UP038 in system routes
  backend/api/routes/system.py
Due: backend-unit, backend-integration

fix: Dashboard bugfixes (NEM-5525) (#6342)
  .env.example
  ai/gateway/adapters/clip.py
  ai/gateway/adapters/enrichment.py
  ai/gateway/adapters/enrichment_light.py
  backend/api/routes/system.py
  backend/core/config.py
  backend/main.py
  backend/services/batch_aggregator.py
  docker-compose.gateway.yml
  docker-compose.prod.yml
  monitoring/alloy/config.alloy
  monitoring/dcgm/dcgm-exporter.service
  monitoring/loki/loki-config.yml
  monitoring/prometheus.yml
  scripts/deploy-gateway.sh
  scripts/monitor-pipeline-db.py
  scripts/restart-all.sh
  scripts/setup-systemd.sh
  setup.py
  setup_lib/__init__.py
  setup_lib/rootful_services.py
Due: backend-unit, backend-integration

feat: Sprints 2-5 AI pipeline optimizations (NEM-5537)
  ai/triton/model_repository/yolo26/config.pbtxt
Due: none

feat: Category 3 model upgrades — SigLIP 2, OSNet-AIN, ST-GCN++, dormant models, Zero-DCE++ (NEM-5561, NEM-5562, NEM-5563, NEM-5566, NEM-5567)
  ai/triton/model_repository/yolo26/config.pbtxt
Due: none

Improve threat context robustness in seeding and inference
  ai/gateway/adapters/clip.py
  backend/services/prompts.py
  backend/services/yolo_world_loader.py
  docs/images/dashboard-tour.gif
  scripts/seed-events.py
Due: backend-unit, backend-integration

Update LLM reasoning and seed data
  .secrets.baseline
  backend/api/routes/llm_reasoning.py
  backend/api/schemas/llm_reasoning.py
  data/synthetic/validation_report.json
  docs/openapi.json
  frontend/src/types/generated/api.ts
  scripts/seed-events.py
Due: backend-unit, backend-integration, frontend

style: apply ruff formatting to monitor-pipeline-db script
  scripts/monitor-pipeline-db.py
Due: none

fix(deps): bump cryptography 46.0.3→46.0.5 and pillow 12.0.0→12.1.1
  uv.lock
Due: none

fix(tests): align yolo_world_loader tests with v2 prompt config
  backend/tests/unit/services/test_yolo_world_loader.py
Due: none

fix: NEM-5525 dashboard bugfixes — AI pipeline optimizations, model upgrades, and inference improvements (#6355)
  .secrets.baseline
  ai/gateway/adapters/clip.py
  backend/api/routes/llm_reasoning.py
  backend/api/schemas/llm_reasoning.py
  backend/services/prompts.py
  backend/services/yolo_world_loader.py
  backend/tests/unit/services/test_yolo_world_loader.py
  data/synthetic/validation_report.json
  docs/images/dashboard-tour.gif
  docs/openapi.json
  frontend/src/types/generated/api.ts
  scripts/monitor-pipeline-db.py
  scripts/seed-events.py
  uv.lock
Due: backend-unit, backend-integration, frontend

feat: consolidate setup automation and model downloads
  SETUP_CONSOLIDATION.md
  ai/gateway/Dockerfile
  backend/Dockerfile
  setup.py
  setup_lib/image_pull.py
  setup_lib/linux_optimizer.py
  setup_lib/model_downloader.py
  setup_lib/podman_install.py
  setup_lib/rootful_services.py
  setup_lib/ssl_certs.py
  setup_lib/storage_config.py
Due: backend-unit, backend-integration

Update LLM reasoning and seed data
  scripts/seed-events.py
Due: none

Improve threat context robustness in seeding and inference
  scripts/seed-events.py
Due: none

perf: optimize CUDA build for detected GPU architecture only
  .env.example
  ai/nemotron/Dockerfile
  scripts/deploy-gateway.sh
  setup.py
  setup_lib/nvidia_detect.py
Due: none

fix(setup): Add missing imports and fix linting in podman_install
  setup_lib/podman_install.py
Due: none

fix: add open files limit and tslib dependency for frontend builds
  frontend/package.json
  scripts/deploy-gateway.sh
  setup_lib/podman_install.py
Due: none

fix: add device_ids to ai-llm for podman-compose GPU assignment
  docker-compose.prod.yml
Due: none

fix: use depth-anything-v2-small instead of tiny (empty directory)
  ai/gateway/export/export_all.sh
  ai/gateway/export/export_depth.py
  docker-compose.prod.yml
  setup_lib/model_downloader.py
Due: none

perf: add ccache to ai-llm build for 50% faster CUDA recompilation
  ai/nemotron/Dockerfile
Due: none

perf: add CUDA kernel caching and rootless Podman support
  docker-compose.prod.yml
  scripts/deploy-gateway.sh
  setup_lib/podman_install.py
Due: none

fix: use full image name for export container to avoid TTY prompt
  scripts/deploy-gateway.sh
Due: none

perf: increase context to 262K for extensive multi-event analysis
  .env.example
  docker-compose.prod.yml
  scripts/deploy-gateway.sh
Due: none

fix: auto-create Podman network if missing after reboot
  scripts/deploy-gateway.sh
Due: none

fix: require NVIDIA driver 580+ for CUDA 13.1 support in ai-llm
  setup_lib/nvidia_detect.py
Due: none

fix(tests): align model_downloader tests with updated model specs
  backend/tests/unit/setup_lib/test_model_downloader.py
  setup_lib/model_downloader.py
Due: none

perf: skip already-exported models in export_all.sh
  ai/gateway/export/export_all.sh
Due: none
