Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

feat(gpu): refactor GPU assignment to use .env as single source of truth
  .env.example
  backend/core/config.py
  backend/services/batch_coalescer.py
  backend/services/nemotron_analyzer.py
  data/synthetic/validation_report.json
  docker-compose.prod.yml
  frontend/package-lock.json
  results/benchmarks/quantization/Q2_K_L_quality.json
  results/benchmarks/quantization/Q3_K_M_quality.json
  results/benchmarks/quantization/Q3_K_S_quality.json
  results/benchmarks/quantization/Q4_K_M_quality.json
  results/benchmarks/quantization/Q4_K_M_results.json
  results/benchmarks/quantization/Q4_K_S_quality.json
Due: backend-unit, backend-integration

feat(batch): add debug endpoints for Phase 5 load testing
  .secrets.baseline
  backend/api/routes/debug.py
  backend/services/batch_coalescer.py
  backend/services/nemotron_analyzer.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

fix(batch): add lazy Redis initialization to BatchCoalescer
  backend/services/batch_coalescer.py
Due: backend-unit, backend-integration

feat(ai): add batch coalescing and priority scheduling for LLM inference
  .secrets.baseline
  backend/api/routes/debug.py
  backend/core/config.py
  backend/services/batch_coalescer.py
  backend/services/nemotron_analyzer.py
  backend/tests/unit/services/test_batch_coalescer.py
  backend/tests/unit/services/test_nemotron_analyzer.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
  scripts/benchmark/backend_load_test.py
  scripts/benchmark/load_test.py
  scripts/benchmark/metrics.py
  scripts/benchmark/run_benchmark.py
Due: backend-unit, backend-integration, frontend

fix(tests): add missing Phase 5 settings to mock in test_prompt_ab_testing
  backend/tests/unit/services/test_prompt_ab_testing.py
Due: none

feat(ai): implement AI Pipeline Context Quality Improvements (NEM-5476)
  ai/yolo26/model.py
  ai/yolo26/tests/test_model.py
  backend/core/config.py
  backend/services/enrichment_pipeline.py
  backend/services/household_matcher.py
  backend/services/nemotron_analyzer.py
  backend/services/prompts.py
  backend/services/reid_service.py
  backend/services/scene_change_detector.py
  backend/services/violence_loader.py
  backend/services/vision_extractor.py
  backend/tests/integration/test_florence_validation.py
  backend/tests/unit/core/test_config.py
  backend/tests/unit/services/test_enrichment_data_consistency.py
  backend/tests/unit/services/test_enrichment_pipeline.py
  backend/tests/unit/services/test_enrichment_pipeline_household_matching.py
  backend/tests/unit/services/test_nemotron_analyzer.py
  backend/tests/unit/services/test_prompts.py
  backend/tests/unit/services/test_violence_loader.py
  backend/tests/unit/services/test_vision_extractor.py
Due: backend-unit, backend-integration

docs: comprehensive development metrics update with mermaid visualizations
  docs/DEVELOPMENT_METRICS.md
Due: none

fix(tests): add missing Phase 5 settings to mock in test_prompt_ab_testing
  backend/tests/unit/services/test_prompt_ab_rollout_integration.py
Due: none

fix(tests): add missing Phase 5 settings to guided_json and warmup tests
  backend/tests/unit/services/test_model_warmup.py
  backend/tests/unit/services/test_nemotron_guided_json.py
Due: none

fix(tests): use suspected tier in violence fixture to get string output
  backend/tests/unit/test_llm_prompt_formatting.py
Due: none

fix(tests): add Phase 5 batch coalescing settings to experiment integration tests
  backend/tests/unit/services/test_prompt_experiment_integration.py
Due: none

fix(tests): add Phase 5 batch coalescing settings to more test fixtures
  backend/tests/integration/services/test_shadow_mode_deployment_integration.py
  backend/tests/unit/api/middleware/test_correlation_propagation.py
Due: none

fix(tests): update violence context tests for tier-based return values
  backend/tests/unit/services/test_prompt_formatters.py
Due: none

ci: increase API integration tests timeout to 30 minutes
  .github/workflows/ci.yml
Due: none

feat(ai): fix model loader local path bug and optimize VRAM usage
  results/benchmarks/engine_comparison_20260205_130111.json
  results/benchmarks/engine_comparison_final.json
  results/benchmarks/vllm_comparison.json
Due: none

feat(benchmark): add Phase 4 engine comparison results
  results/benchmarks/engine_comparison_20260205_130111.json
Due: none

feat(benchmark): complete vLLM vs llama.cpp engine comparison
  results/benchmarks/engine_comparison_final.json
  results/benchmarks/vllm_comparison.json
Due: none

feat(gpu): refactor GPU assignment to use .env as single source of truth
  backend/services/batch_coalescer.py
  backend/services/nemotron_analyzer.py
Due: backend-unit, backend-integration

feat(batch): add debug endpoints for Phase 5 load testing
  .secrets.baseline
  backend/services/batch_coalescer.py
  backend/services/nemotron_analyzer.py
Due: backend-unit, backend-integration

feat(ai): add batch coalescing and priority scheduling for LLM inference
  .secrets.baseline
  tests/unit/services/test_batch_coalescer.py
Due: none

deps: add wsdiscovery and onvif-zeep for ONVIF camera discovery
  pyproject.toml
  uv.lock
Due: none

feat(ai): implement AI Pipeline Context Quality Improvements (NEM-5476)
  backend/services/nemotron_analyzer.py
Due: backend-unit, backend-integration

deps: add wsdiscovery and onvif-zeep for ONVIF camera discovery (#6245)
  pyproject.toml
  tests/unit/services/test_batch_coalescer.py
  uv.lock
Due: none

fix(frontend): wire up unwired components, disable over-aggressive auth middleware (NEM-5525)
  CLAUDE.md
  backend/main.py
  frontend/src/App.tsx
  frontend/src/components/analytics/AnalyticsPage.tsx
  frontend/src/components/dashboard/CameraGrid.test.tsx
  frontend/src/components/dashboard/CameraGrid.tsx
  frontend/src/components/dashboard/DashboardPage.test.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/layout/Sidebar.test.tsx
  frontend/src/components/layout/sidebarNav.ts
  frontend/src/components/performance/PerformancePage.tsx
  frontend/src/components/performance/index.ts
  frontend/src/components/plate-reads/PlateReadsPage.test.tsx
  frontend/src/components/plate-reads/PlateReadsPage.tsx
  frontend/src/components/settings/CamerasSettings.tsx
  frontend/src/pages/FaceRecognitionPage.test.tsx
  frontend/src/pages/FaceRecognitionPage.tsx
  frontend/src/pages/SceneChangesPage.tsx
  frontend/src/services/api.ts
Due: backend-unit, backend-integration, frontend

feat: GPU optimization, enrichment pipeline, and infrastructure updates (NEM-5525)
  .env.example
  ai/enrichment/model.py
  backend/api/middleware/setup_guard.py
  backend/api/routes/analytics_zones.py
  backend/api/routes/system.py
  backend/core/config.py
  backend/models/gpu_stats.py
  backend/services/enrichment_pipeline.py
  backend/tests/integration/conftest.py
  backend/tests/unit/api/routes/test_system.py
  backend/tests/unit/core/test_database.py
  backend/tests/unit/core/test_database_utils.py
  data/synthetic/validation_report.json
  docker-compose.ghcr.yml
  docker-compose.prod.yml
  monitoring/alloy/config.alloy
  monitoring/prometheus.yml
  monitoring/prometheus.yml.template
  scripts/seed-events.py
Due: backend-unit, backend-integration

feat: enrichment pipeline improvements and infrastructure updates (NEM-5525)
  .env.example
  ai/nemotron/Dockerfile
  backend/core/config.py
  backend/core/metrics.py
  backend/services/enrichment_pipeline.py
  backend/services/vision_extractor.py
  docker-compose.prod.yml
Due: backend-unit, backend-integration

fix: add gpu_oom_handler.py COPY to all AI service Dockerfiles
  ai/clip/Dockerfile
  ai/enrichment-light/Dockerfile
  ai/enrichment/Dockerfile
  ai/florence/Dockerfile
  ai/yolo26/Dockerfile
Due: none

fix: quote EnhancedDetection forward reference in YOLO26 model
  ai/yolo26/model.py
Due: none

fix(tests): update tests to match prompt template and model spec changes (NEM-5525)
  backend/tests/unit/services/test_prompt_formatters.py
  backend/tests/unit/services/test_prompts.py
  backend/tests/unit/setup_lib/test_model_downloader.py
Due: none

fix(tests): resolve xdist timeout crashes and missing mock attributes (NEM-5525)
  backend/tests/unit/services/test_enrichment_pipeline.py
  backend/tests/unit/services/test_model_warmup.py
  backend/tests/unit/services/test_vision_extractor.py
Due: none

docs: comprehensive documentation overhaul with MkDocs Material site
  backend/services/florence_client.py
Due: backend-unit, backend-integration

refactor: simplify enrichment pipeline to unified /enrich endpoint and 2 prompt templates
  backend/services/enrichment_pipeline.py
  backend/services/nemotron_analyzer.py
  backend/services/prompts.py
  backend/tests/unit/services/test_enrichment_pipeline.py
  backend/tests/unit/services/test_prompt_formatters.py
  backend/tests/unit/services/test_prompts.py
  scripts/seed-events.py
Due: backend-unit, backend-integration

fix: resolve enrichment pipeline integration bugs and improve evaluation tooling
  ai/clip/model.py
  ai/enrichment-light/model.py
  ai/enrichment/model.py
  backend/api/schemas/analytics.py
  backend/core/config.py
  backend/core/metrics.py
  backend/services/calibration_monitor.py
  backend/services/clip_client.py
  backend/services/depth_anything_loader.py
  backend/services/enrichment_client.py
  backend/services/florence_client.py
  backend/services/model_zoo.py
  backend/services/prompts.py
  backend/services/scenario_classifier.py
  backend/services/segformer_loader.py
  backend/services/vehicle_damage_loader.py
  backend/services/violence_loader.py
  backend/services/weather_loader.py
  backend/tests/unit/services/test_enrichment_client.py
  backend/tests/unit/services/test_enrichment_client_circuit_breaker.py
  backend/tests/unit/services/test_florence_client.py
  backend/tests/unit/services/test_prompts.py
  backend/tests/unit/test_calibration_monitor.py
  data/synthetic/validation_report.json
  scripts/download-model-zoo.py
  scripts/seed-events.py
  setup_lib/model_downloader.py
Due: backend-unit, backend-integration

fix: resolve AI pipeline audit findings — Florence GPU, enrichment wiring, OCR routing
  .env.example
  ai/enrichment/Dockerfile
  ai/enrichment/model.py
  ai/florence/Dockerfile
  backend/services/enrichment_pipeline.py
  backend/services/scene_ocr_service.py
  backend/tests/unit/services/test_scene_ocr_service.py
  data/synthetic/validation_report.json
  monitoring/prometheus_rules.yml
  scripts/redeploy/models.py
Due: backend-unit, backend-integration

Path conditions:
  backend-unit: any of: backend/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
  backend-integration: any of: backend/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
  frontend: any of: frontend/src/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
