Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml
#
# Coverage trend tracking and regression detection (NEM-1387)
# - Project coverage target: 85%
# - Patch coverage target: 80%
# - Coverage regression blocks PR if > 1% decrease
# - Critical paths require 90%+ coverage

coverage:
  # How to calculate the coverage percentage
  precision: 2
  round: down
  range: '70...100'

  # Status checks that appear on PRs
  status:
    # Project coverage - overall repository coverage
    project:
      default:
        # Target coverage percentage (must meet or exceed)
        target: 85%
        # Allowed coverage decrease before failing (blocks PR if > 1% decrease)
        threshold: 1%
        # Only compare against coverage from the same CI run
        if_ci_failed: error
        # Block PR on coverage regression (not informational)
        informational: false

      # Backend unit tests - stricter threshold
      backend-unit:
        target: 85%
        threshold: 1%
        informational: false
        flags:
          - backend-unit

      # Backend integration tests
      backend-integration:
        target: 50%
        threshold: 2%
        informational: false
        flags:
          - backend-integration

      # Frontend coverage
      frontend:
        target: 80%
        threshold: 2%
        informational: false
        flags:
          - frontend

      # Critical paths - require 90%+ coverage
      # These paths contain security-critical and core business logic
      critical-paths:
        target: 90%
        threshold: 0.5%
        informational: false
        paths:
          - backend/api/routes/
          - backend/services/
          - backend/core/security.py
          - backend/core/auth.py
          - frontend/src/hooks/
          - frontend/src/services/

    # Patch coverage - coverage of changed lines
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        # Stricter threshold for patch coverage
        threshold: 1%
        # Only check if there are enough lines changed
        if_ci_failed: error
        # Block PR if patch coverage is below target (not informational)
        informational: false

# Flags for different test types
flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment settings for PRs
comment:
  # Layout of the comment (reach, diff, flags, files per NEM-1387)
  layout: 'reach,diff,flags,files'
  # Show coverage changes
  behavior: default
  # Require base report to compare (needed for trend tracking)
  require_base: true
  # Show files without coverage changes
  hide_project_coverage: false
  # Show the changes section
  show_carryforward_flags: true

# Ignore paths that shouldn't affect coverage
ignore:
  - 'backend/tests/**/*'
  - 'backend/examples/**/*'
  - 'frontend/tests/**/*'
  - 'frontend/src/test/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/node_modules/**'
  - '**/__pycache__/**'
  - 'docs/**/*'
  - 'scripts/**/*'
  - 'ai/**/*'

# GitHub integration settings
github_checks:
  annotations: true

fix: add CVE-2026-0994 to trivyignore and nosemgrep comments for materialized views
  .trivyignore
Due: none

fix: align pre-commit ruff version with uv.lock and fix import ordering
  backend/tests/integration/test_migration_rollback.py
Due: none

feat: merge production optimizations from cmd23 and cmd24
  .secrets.baseline
  .trivyignore
  backend/alembic/versions/f6g7h8i9j0k1_add_expression_autovacuum_jsonb_indexes.py
Due: backend-unit, backend-integration

fix: remove unused noqa directives and fix telemetry test
  .secrets.baseline
  backend/services/enrichment_pipeline.py
  backend/tests/integration/test_migration_rollback.py
Due: backend-unit, backend-integration

fix: resolve CI failures for PR 3958
  .trivyignore
Due: none

feat: implement 24 technology optimization tasks via 10 parallel agents
  .secrets.baseline
  backend/tests/integration/test_alembic_migrations.py
  backend/tests/integration/test_migration_rollback.py
  backend/tests/integration/test_migrations.py
  frontend/bun.lock
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: flatten alembic migrations to single initial schema
  backend/alembic/versions/e2492ad3a41c_add_gpu_config_tables.py
  backend/alembic/versions/f6g7h8i9j0k1_add_dashboard_materialized_views.py
  backend/alembic/versions/f7g8h9i0j1k2_add_expression_autovacuum_jsonb_indexes.py
  backend/alembic/versions/g7h8i9j0k1l2_add_json_table_enrichment_views.py
Due: backend-unit, backend-integration

fix: repair broken alembic migration chain
  backend/alembic/versions/f6g7h8i9j0k1_add_dashboard_materialized_views.py
  backend/alembic/versions/f7g8h9i0j1k2_add_expression_autovacuum_jsonb_indexes.py
  backend/alembic/versions/g7h8i9j0k1l2_add_json_table_enrichment_views.py
  backend/alembic/versions/g7h8i9j0k1l2_add_pg_notify_triggers_and_partitioning.py
Due: backend-unit, backend-integration

fix: update Trivy to v0.68.2 and clean up .trivyignore duplicates (NEM-3447)
  .trivyignore
Due: none

feat: implement 10 technology optimizations and CI fixes
  .secrets.baseline
  frontend/bun.lock
  frontend/package-lock.json
  frontend/package.json
Due: none

test: fix initialization tests for placeholder data pattern
  frontend/src/hooks/useCamerasQuery.test.ts
  frontend/src/hooks/useHealthStatusQuery.test.ts
Due: none

chore: fix pre-commit hook changes after merge
  .secrets.baseline
  backend/config/__init__.py
  backend/tests/integration/test_alembic_migrations.py
  backend/tests/integration/test_migration_rollback.py
  backend/tests/integration/test_migrations.py
Due: backend-unit, backend-integration

docs: add architecture documentation design plan
  docs/plans/2026-01-24-architecture-documentation-design.md
Due: none

docs(architecture): add system-overview hub (NEM-3452)
  docs/architecture/system-overview/README.md
  docs/architecture/system-overview/configuration.md
  docs/architecture/system-overview/deployment-topology.md
  docs/architecture/system-overview/design-decisions.md
Due: none

docs(architecture): initialize documentation infrastructure (NEM-3451)
  docs/architecture/README.md
  docs/architecture/STANDARDS.md
  docs/architecture/api-reference/README.md
  docs/architecture/background-services/README.md
  docs/architecture/data-model/README.md
  docs/architecture/data-model/auxiliary-tables.md
  docs/architecture/data-model/core-entities.md
  docs/architecture/dataflows/README.md
  docs/architecture/frontend/README.md
  docs/architecture/frontend/component-hierarchy.md
  docs/architecture/frontend/custom-hooks.md
  docs/architecture/frontend/state-management.md
  docs/architecture/middleware/README.md
  docs/architecture/middleware/cors-configuration.md
  docs/architecture/middleware/error-handling.md
  docs/architecture/middleware/request-logging.md
  docs/architecture/middleware/request-validation.md
  docs/architecture/observability/README.md
  docs/architecture/observability/distributed-tracing.md
  docs/architecture/observability/grafana-dashboards.md
  docs/architecture/observability/prometheus-metrics.md
  docs/architecture/observability/structured-logging.md
  docs/architecture/resilience-patterns/README.md
  docs/architecture/resilience-patterns/circuit-breaker.md
  docs/architecture/resilience-patterns/dead-letter-queue.md
  docs/architecture/resilience-patterns/graceful-degradation.md
  docs/architecture/resilience-patterns/health-monitoring.md
  docs/architecture/resilience-patterns/retry-handler.md
  docs/architecture/security/README.md
  docs/architecture/templates/README.md
  docs/architecture/templates/dataflow-template.md
  docs/architecture/templates/document-template.md
  docs/architecture/templates/hub-template.md
  docs/architecture/testing/README.md
  docs/architecture/testing/e2e-testing.md
  docs/architecture/testing/integration-testing.md
  docs/architecture/testing/unit-testing.md
Due: none

feat(scripts): add documentation validation script (NEM-3466)
  backend/tests/unit/scripts/__init__.py
  backend/tests/unit/scripts/test_validate_docs.py
  pyproject.toml
  scripts/validate_docs/__init__.py
  scripts/validate_docs/__main__.py
  scripts/validate_docs/cli.py
  scripts/validate_docs/config.py
  scripts/validate_docs/parsers/__init__.py
  scripts/validate_docs/parsers/code_blocks.py
  scripts/validate_docs/parsers/markdown.py
  scripts/validate_docs/parsers/mermaid.py
  scripts/validate_docs/reports/__init__.py
  scripts/validate_docs/reports/console.py
  scripts/validate_docs/reports/json_report.py
  scripts/validate_docs/validators/__init__.py
  scripts/validate_docs/validators/ast_python.py
  scripts/validate_docs/validators/ast_typescript.py
  scripts/validate_docs/validators/code_match.py
  scripts/validate_docs/validators/cross_reference.py
  scripts/validate_docs/validators/file_exists.py
  scripts/validate_docs/validators/line_bounds.py
  scripts/validate_docs/validators/staleness.py
  uv.lock
Due: none

docs(architecture): add ai-orchestration hub (NEM-3454)
  docs/architecture/AGENTS.md
  docs/architecture/ai-orchestration/README.md
  docs/architecture/ai-orchestration/enrichment-pipeline.md
  docs/architecture/ai-orchestration/fallback-strategies.md
  docs/architecture/ai-orchestration/model-zoo.md
  docs/architecture/ai-orchestration/nemotron-analyzer.md
  docs/architecture/ai-orchestration/rt-detr-client.md
Due: none

docs(architecture): add additional hub documents
  docs/architecture/data-model/indexes-and-performance.md
  docs/architecture/frontend/styling-patterns.md
  docs/architecture/middleware/rate-limiting.md
  docs/architecture/testing/test-fixtures.md
Due: none

docs(architecture): add realtime-system hub (NEM-3455)
  docs/architecture/realtime-system/README.md
  docs/architecture/realtime-system/client-integration.md
  docs/architecture/realtime-system/event-broadcaster.md
  docs/architecture/realtime-system/message-formats.md
  docs/architecture/realtime-system/subscription-manager.md
  docs/architecture/realtime-system/websocket-server.md
Due: none

docs(architecture): add dead-letter-queue documentation
  docs/architecture/resilience-patterns/dead-letter-queue.md
Due: none

docs(architecture): add detection-pipeline hub (NEM-3453)
  docs/architecture/detection-pipeline/README.md
  docs/architecture/detection-pipeline/analysis-queue.md
  docs/architecture/detection-pipeline/batch-aggregator.md
  docs/architecture/detection-pipeline/critical-paths.md
  docs/architecture/detection-pipeline/detection-queue.md
  docs/architecture/detection-pipeline/file-watcher.md
Due: none

feat: implement 10 technology optimizations for production scaling (NEM-3392, NEM-3413, NEM-3415, NEM-3419, NEM-3363, NEM-3348, NEM-3371, NEM-3447, NEM-3448, NEM-3449) (#3998)
  .secrets.baseline
  backend/api/routes/events.py
  backend/config/__init__.py
  backend/services/search.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_admin_api.py
  backend/tests/integration/test_events_api.py
  frontend/bun.lock
  frontend/src/hooks/useCamerasQuery.test.ts
  frontend/src/hooks/useHealthStatusQuery.test.ts
Due: backend-unit, backend-integration

feat: implement database-per-worker test parallelization (NEM-3482)
  .github/workflows/ci.yml
  backend/tests/conftest.py
  backend/tests/integration/AGENTS.md
  backend/tests/integration/conftest.py
  backend/tests/unit/test_redis_prefix_isolation.py
  uv.lock
Due: none

docs: add integration test parallelization design
  docs/plans/2026-01-24-integration-test-parallelization-design.md
Due: none

fix: remove autouse from clean_tables fixture
  backend/tests/integration/AGENTS.md
  backend/tests/integration/conftest.py
Due: none

perf: optimize System Logs page rendering and metrics loading (NEM-3272)
  frontend/src/services/api.ts
Due: frontend

fix: optimize slow tests and resolve load test failures (NEM-3483, NEM-3481)
  backend/main.py
  backend/tests/integration/conftest.py
Due: backend-unit, backend-integration

fix: resolve contract test failures (NEM-3480)
  .github/workflows/ci.yml
Due: none

fix: command palette search now returns results for valid terms (NEM-3278)
  frontend/src/components/common/CommandPalette.tsx
Due: frontend

fix: resolve contract test failures (NEM-3480)
  backend/tests/contracts/test_api_contracts.py
  backend/tests/contracts/test_openapi_schema_validation.py
Due: none

fix: resolve dashboard system errors display (NEM-3260)
  backend/api/routes/alerts.py
  backend/api/routes/cameras.py
  backend/api/routes/detections.py
  backend/api/routes/entities.py
  backend/api/routes/events.py
  docs/openapi.json
  frontend/src/components/ai-performance/AIPerformanceSummaryRow.test.tsx
  frontend/src/components/ai-performance/AIPerformanceSummaryRow.tsx
  frontend/src/components/ai/PipelineHealthPanel.tsx
  frontend/src/hooks/useExportJobs.test.ts
  frontend/src/hooks/useExportJobs.ts
  frontend/src/pages/DataManagementPage.tsx
Due: backend-unit, backend-integration, frontend

feat(scripts): add documentation validation script (NEM-3466)
  uv.lock
Due: none

docs(architecture): initialize documentation infrastructure (NEM-3451)
  docs/architecture/background-services/README.md
  docs/architecture/data-model/core-entities.md
  docs/architecture/dataflows/README.md
  docs/architecture/frontend/README.md
  docs/architecture/frontend/component-hierarchy.md
  docs/architecture/frontend/custom-hooks.md
  docs/architecture/frontend/state-management.md
  docs/architecture/middleware/README.md
  docs/architecture/middleware/cors-configuration.md
  docs/architecture/middleware/error-handling.md
  docs/architecture/middleware/request-logging.md
  docs/architecture/middleware/request-validation.md
  docs/architecture/observability/README.md
  docs/architecture/observability/distributed-tracing.md
  docs/architecture/observability/grafana-dashboards.md
  docs/architecture/observability/prometheus-metrics.md
  docs/architecture/observability/structured-logging.md
  docs/architecture/security/README.md
Due: none

docs(architecture): comprehensive documentation for all 14 hubs (NEM-3450)
  docs/architecture/background-services/README.md
  docs/architecture/data-model/core-entities.md
  docs/architecture/dataflows/README.md
  docs/architecture/frontend/README.md
  docs/architecture/frontend/component-hierarchy.md
  docs/architecture/frontend/custom-hooks.md
  docs/architecture/frontend/state-management.md
  docs/architecture/frontend/styling-patterns.md
  docs/architecture/middleware/README.md
  docs/architecture/middleware/cors-configuration.md
  docs/architecture/middleware/error-handling.md
  docs/architecture/middleware/rate-limiting.md
  docs/architecture/middleware/request-logging.md
  docs/architecture/middleware/request-validation.md
  docs/architecture/observability/README.md
  docs/architecture/observability/distributed-tracing.md
  docs/architecture/observability/grafana-dashboards.md
  docs/architecture/observability/prometheus-metrics.md
  docs/architecture/observability/structured-logging.md
  docs/architecture/resilience-patterns/dead-letter-queue.md
  docs/architecture/security/README.md
Due: none
