Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecov-yaml
#
# Coverage trend tracking and regression detection (NEM-1387)
# - Project coverage target: 85%
# - Patch coverage target: 80%
# - Coverage regression blocks PR if > 1% decrease
# - Critical paths require 90%+ coverage

coverage:
  # How to calculate the coverage percentage
  precision: 2
  round: down
  range: '70...100'

  # Status checks that appear on PRs
  status:
    # Project coverage - overall repository coverage
    project:
      default:
        # Target coverage percentage (must meet or exceed)
        target: 85%
        # Allowed coverage decrease before failing (blocks PR if > 1% decrease)
        threshold: 1%
        # Only compare against coverage from the same CI run
        if_ci_failed: error
        # Block PR on coverage regression (not informational)
        informational: false

      # Backend unit tests - stricter threshold
      backend-unit:
        target: 85%
        threshold: 1%
        informational: false
        flags:
          - backend-unit

      # Backend integration tests
      backend-integration:
        target: 50%
        threshold: 2%
        informational: false
        flags:
          - backend-integration

      # Frontend coverage
      frontend:
        target: 80%
        threshold: 2%
        informational: false
        flags:
          - frontend

      # Critical paths - require 90%+ coverage
      # These paths contain security-critical and core business logic
      critical-paths:
        target: 90%
        threshold: 0.5%
        informational: false
        paths:
          - backend/api/routes/
          - backend/services/
          - backend/core/security.py
          - backend/core/auth.py
          - frontend/src/hooks/
          - frontend/src/services/

    # Patch coverage - coverage of changed lines
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        # Stricter threshold for patch coverage
        threshold: 1%
        # Only check if there are enough lines changed
        if_ci_failed: error
        # Block PR if patch coverage is below target (not informational)
        informational: false

# Flags for different test types
flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true

  backend-integration:
    paths:
      - backend/
    carryforward: true

  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Comment settings for PRs
comment:
  # Layout of the comment (reach, diff, flags, files per NEM-1387)
  layout: 'reach,diff,flags,files'
  # Show coverage changes
  behavior: default
  # Require base report to compare (needed for trend tracking)
  require_base: true
  # Show files without coverage changes
  hide_project_coverage: false
  # Show the changes section
  show_carryforward_flags: true

# Ignore paths that shouldn't affect coverage
ignore:
  - 'backend/tests/**/*'
  - 'backend/examples/**/*'
  - 'frontend/tests/**/*'
  - 'frontend/src/test/**/*'
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/node_modules/**'
  - '**/__pycache__/**'
  - 'docs/**/*'
  - 'scripts/**/*'
  - 'ai/**/*'

# GitHub integration settings
github_checks:
  annotations: true

feat(vlm): key-frame selector, vlm client/analyzer, §6 ladder, wake-on-open (Phase 1.3)
  .env.example
  backend/ai_contract/operations.py
  backend/ai_contract/providers.py
  backend/core/config.py
  backend/core/metrics.py
  backend/core/sanitization.py
  backend/main.py
  backend/services/alert_engine.py
  backend/services/batch_aggregator.py
  backend/services/key_frame_selector.py
  backend/services/notification_filter.py
  backend/services/vlm_analyzer.py
  backend/services/vlm_client.py
  backend/tests/contracts/ai_providers/test_ai_contract_registry.py
  backend/tests/contracts/ai_providers/test_client_conformance.py
  backend/tests/contracts/ai_providers/test_conformance_ops.py
  backend/tests/contracts/ai_providers/test_conformance_semantics.py
  backend/tests/contracts/ai_providers/test_conformance_vlm.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_vlm_analyzer.py
  backend/tests/unit/services/test_alert_engine.py
  backend/tests/unit/services/test_batch_aggregator.py
  backend/tests/unit/services/test_key_frame_selector.py
  backend/tests/unit/services/test_null_score_p025.py
  backend/tests/unit/services/test_vlm_analyzer.py
  backend/tests/unit/services/test_vlm_client.py
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  docs/superpowers/plans/2026-09-25-vss-phase1-vlm-path.md
  scripts/gen-ai-contract.py
Due: backend-unit, backend-integration

docs(ledger): re-bank #4 PUBLISHES 60.01709066133931% completed=true — re-measure baseline on the 262-module denominator + history run[2] + third abort-family member closed
  .github/mutation-history.json
  docs/plans/2026-09-12-context-map-doc-updates.md
Due: none

docs(vss): close ledger open-issue 15 - broker restored, 1.3 live evidence executed
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  docs/superpowers/plans/2026-09-25-vss-phase1-vlm-path.md
Due: none

feat(gateway): TritonClient load_model/unload_model for explicit model control
  ai/gateway/tests/test_triton_client.py
  ai/gateway/triton_client.py
Due: none

docs(vss): spec rev 6 - resident specialists feed the VLM
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  docs/superpowers/plans/2026-09-25-vss-phase1-vlm-path.md
  docs/superpowers/specs/2026-09-23-vss-gaming-gpu-profile-design.md
Due: none

Revert "feat(gateway): TritonClient load_model/unload_model for explicit model control"
  ai/gateway/tests/test_triton_client.py
  ai/gateway/triton_client.py
Due: none

docs(vss): ledger F11 ruling-1 execution - explicit-mode artifacts reverted
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

feat(gateway): static vlm residency set pruned at entrypoint (Phase 1.4, rev 6)
  .env.example
  ai/gateway/entrypoint.sh
  ai/gateway/main.py
  ai/gateway/residency.py
  ai/gateway/tests/test_entrypoint_residency.py
  ai/gateway/tests/test_main.py
  ai/gateway/tests/test_residency.py
  backend/api/routes/model_management.py
  backend/tests/unit/core/test_gateway_model_set_compose.py
  docker-compose.prod.yml
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  docs/superpowers/plans/2026-09-25-vss-phase1-vlm-path.md
Due: backend-unit, backend-integration

docs(vss): specialist model picks (F12), licenses not a criterion
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  docs/superpowers/plans/2026-09-25-vss-phase1-vlm-path.md
  docs/vss-integration/14-specialist-model-research.md
  docs/vss-integration/AGENTS.md
  docs/vss-integration/README.md
Due: none

feat(evaluation): AssessInput gains specialist_outputs - the one carrier (rev 6)
  backend/ai_contract/schemas/vlm_assess.request.json
  backend/evaluation/assess_input.py
  backend/services/vlm_analyzer.py
  backend/services/vlm_client.py
  backend/services/vlm_verdict.py
  backend/tests/contracts/ai_providers/golden/payloads/vlm_assess.request.example.json
  backend/tests/contracts/ai_providers/golden/snapshots/vlm_assess.request.snapshot.json
  backend/tests/unit/evaluation/test_eval_store.py
  backend/tests/unit/services/test_vlm_analyzer.py
  backend/tests/unit/services/test_vlm_verdict.py
Due: backend-unit, backend-integration

feat(face): CPU ONNX face-recognizer loader behind the models.yml row (F11-1)
  .secrets.baseline
  backend/services/face_recognizer_loader.py
  backend/services/model_zoo.py
  backend/tests/unit/services/test_face_recognizer_loader.py
  models.yml
  pyproject.toml
  uv.lock
Due: backend-unit, backend-integration

feat(face): SCRFD + w600k_r50 CPU face leg per F12 - two hash-pinned ONNX files (1.3b)
  backend/services/face_recognizer_loader.py
  backend/services/model_zoo.py
  backend/tests/unit/services/test_face_recognizer_loader.py
  models.yml
Due: backend-unit, backend-integration

test(campaign-2): install enrichment_pipeline ep0 mutant batteries — 24 files, 1,103 tests, 2,811 banked kills
  backend/tests/unit/services/test_enrichment_pipeline_batch26_00.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_01.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_02.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_03.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_04.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_05.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_06.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_07.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_08.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_09.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_10.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_11.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_12.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_13.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_14.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_15.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_16.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_17.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_18.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_19.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_20.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_21.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_22.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_23.py
  pyproject.toml
Due: none

feat(vlm): specialist stage feeds AssessInput texts (F11 rulings 1-4, F12)
  backend/core/config.py
  backend/services/vlm_analyzer.py
  backend/services/vlm_specialists.py
  backend/tests/integration/test_vlm_analyzer.py
  backend/tests/unit/services/test_vlm_analyzer.py
  backend/tests/unit/services/test_vlm_specialists.py
Due: backend-unit, backend-integration

docs(vss): ledger row 1.3b evidence, plan boxes for the shipped stage
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  docs/superpowers/plans/2026-09-25-vss-phase1-vlm-path.md
Due: none

docs(vss): phase 2 may run before M1 closes (F13)
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  docs/superpowers/plans/2026-09-25-vss-phase1-vlm-path.md
Due: none

docs(vss): set the S2 and S3 bars - 5% and 90% (F14)
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

feat(face): one embedding space end to end - server-side enrollment carries provenance (F11-2, F12)
  .secrets.baseline
  backend/api/routes/face_recognition.py
  backend/core/face_provenance.py
  backend/models/face_identity.py
  backend/services/auto_enrollment_service.py
  backend/services/face_recognition_service.py
  backend/services/face_recognizer_loader.py
  backend/services/vlm_specialists.py
  backend/tests/conftest.py
  backend/tests/integration/conftest.py
  backend/tests/unit/api/routes/test_face_enrollment_provenance.py
  backend/tests/unit/api/routes/test_face_recognition.py
  docs/api/migrations/2026-09-26-face-vector-provenance-model-id.sql
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

fix(vlm): specialist unavailable lines are prompt text, not a diagnostics channel (owner ruling 2026-09-26)
  backend/core/metrics.py
  backend/services/vlm_specialists.py
  backend/tests/unit/services/test_vlm_specialists.py
Due: backend-unit, backend-integration

docs(vss): ledger row 1.3b enrollment + prompt-hygiene evidence
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  docs/superpowers/plans/2026-09-25-vss-phase1-vlm-path.md
Due: none

docs(vss): re-ID store swap size report + decision ask (ledger item 20)
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

test(campaign-2): make ep0 _globals() helpers trampoline-safe for the mutants home
  backend/tests/unit/services/test_enrichment_pipeline_batch26_06.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_11.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_19.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_20.py
Due: none

test(integration): reset the lru_cached SeverityService with the settings cache
  backend/tests/conftest.py
Due: none

feat(vlm): PIPELINE_MODE defaults to vlm - one factory at every analyzer seam (1.5)
  .env.example
  ai/gateway/residency.py
  backend/api/dependencies.py
  backend/core/config.py
  backend/core/container.py
  backend/main.py
  backend/services/batch_aggregator.py
  backend/services/pipeline_factory.py
  backend/services/pipeline_workers.py
  backend/services/vlm_analyzer.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_pipeline_e2e.py
  backend/tests/unit/core/test_gateway_model_set_compose.py
  backend/tests/unit/services/test_batch_aggregator.py
  backend/tests/unit/services/test_pipeline_factory.py
  docker-compose.prod.yml
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  docs/superpowers/plans/2026-09-25-vss-phase1-vlm-path.md
Due: backend-unit, backend-integration

test(campaign-2): restore pristine PIL open in batch26_23 — ultralytics' lazy-HEIF wrapper aborted the re-bank stats phase
  backend/tests/unit/services/test_enrichment_pipeline_batch26_23.py
Due: none

test(ci+rebank): three measured fixes for the 2026-09-26 stats-abort + CI-red family
  .secrets.baseline
  backend/tests/conftest.py
  backend/tests/unit/core/test_logging.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_19.py
Due: none

ci(ratchet): re-key three conftest suppression ids after the stats-deadline block shifted lines
  .github/suppression-registry.yml
Due: none

test(campaign-2): module-scope the scripted_clock — session scope poisoned every later hypothesis example
  backend/tests/conftest.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_12.py
Due: none

test(campaign-2): clear caplog at t08 window entry + re-key conftest ids (+2)
  .github/suppression-registry.yml
  backend/tests/unit/services/test_enrichment_pipeline_batch26_08.py
Due: none

ci(ratchet): re-key HOST_JUSTIFIED conftest sites after the stats-block line shifts
  scripts/suppression-registry-gen.py
Due: none

docs(vss): ledger the 2026-09-26 owner rulings - re-ID full swap, incidents deferred
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

docs(vss): ledger item 21 - Phase 1 PR #6681 filled in, origin unreachable
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
Due: none

Mutation testing s3 (#6680)
  .github/mutation-history.json
  .github/suppression-registry.yml
  .secrets.baseline
  backend/tests/conftest.py
  backend/tests/unit/core/test_logging.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_00.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_01.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_02.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_03.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_04.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_05.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_06.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_07.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_08.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_09.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_10.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_11.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_12.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_13.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_14.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_15.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_16.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_17.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_18.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_19.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_20.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_21.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_22.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_23.py
  docs/plans/2026-09-12-context-map-doc-updates.md
  pyproject.toml
  scripts/suppression-registry-gen.py
Due: none

feat(events): GET /events + /search gain a verdict filter (1.6 prerequisite)
  .secrets.baseline
  backend/api/routes/events.py
  backend/models/event_verification.py
  backend/services/search.py
  backend/tests/integration/test_p04_event_verifications.py
  backend/tests/unit/models/test_event_verification.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

feat(frontend): shared VerdictBadge + verdict filter on the live event list (1.6)
  frontend/src/components/common/VerdictBadge.test.tsx
  frontend/src/components/common/VerdictBadge.tsx
  frontend/src/components/dashboard/ActivityFeed.test.tsx
  frontend/src/components/dashboard/ActivityFeed.tsx
  frontend/src/components/dashboard/DashboardPage.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/components/events/FilterChips.test.tsx
  frontend/src/components/events/FilterChips.tsx
  frontend/src/hooks/useEventsQuery.test.ts
  frontend/src/hooks/useEventsQuery.ts
  frontend/src/services/api.test.ts
  frontend/src/services/api.ts
  frontend/src/types/websocket.ts
Due: frontend

test(campaign-3): enrichment_client batch-27 kill batteries + shared bounded_gather dispatcher
  backend/tests/unit/services/_bg_dispatch.py
  backend/tests/unit/services/test_enrichment_client_batch27_01.py
  backend/tests/unit/services/test_enrichment_client_batch27_02.py
  backend/tests/unit/services/test_enrichment_client_batch27_03.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_02.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_05.py
  backend/tests/unit/services/test_enrichment_pipeline_batch26_12.py
  pyproject.toml
Due: none

test(ci): green the three red CI gates from the branch's own 1.3 work
  .github/suppression-registry.yml
  .secrets.baseline
  backend/services/face_recognizer_loader.py
  backend/tests/unit/services/test_batch_aggregator.py
  backend/tests/unit/services/test_pipeline_factory.py
  vulture_whitelist.py
Due: backend-unit, backend-integration

feat(frontend): null-safe risk rendering across the event surfaces (1.6)
  frontend/src/components/events/EventCard.tsx
  frontend/src/components/events/EventClusterCard.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/EventListView.test.tsx
  frontend/src/components/events/EventListView.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/components/events/MobileEventCard.test.tsx
  frontend/src/components/events/MobileEventCard.tsx
  frontend/src/components/events/TimeGroupedEvents.tsx
  frontend/src/utils/risk.test.ts
  frontend/src/utils/risk.ts
  frontend/src/utils/severityColors.test.ts
  frontend/src/utils/severityColors.ts
Due: frontend

feat(frontend): event-detail verification section + retired-enrichment empty state (1.6)
  frontend/src/components/events/EventDetailModal.test.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/events/EventTimeline.tsx
  frontend/src/components/events/EventVerificationSection.test.tsx
  frontend/src/components/events/EventVerificationSection.tsx
Due: frontend

docs(vss): ledger row 1.6 [V] + plan Task 6 boxes ticked (1.6)
  docs/plans/2026-09-23-vss-gaming-gpu-ledger.md
  docs/superpowers/plans/2026-09-25-vss-phase1-vlm-path.md
Due: none
