Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

feat: Backend Zone-Household Linkage API (NEM-3190)
  .secrets.baseline
  backend/alembic/versions/c3d4e5f6g7h8_add_zone_activity_baselines.py
  backend/alembic/versions/c3d4e5f6g7h8_add_zone_household_config.py
  backend/alembic/versions/d4e5f6g7h8i9_add_zone_anomalies.py
  backend/api/routes/__init__.py
  backend/api/routes/zone_baselines.py
  backend/api/routes/zone_household.py
  backend/api/schemas/__init__.py
  backend/api/schemas/zone_baseline.py
  backend/api/schemas/zone_household.py
  backend/jobs/compute_baselines.py
  backend/main.py
  backend/models/__init__.py
  backend/models/camera_zone.py
  backend/models/zone_anomaly.py
  backend/models/zone_baseline.py
  backend/models/zone_household_config.py
  backend/services/zone_anomaly_service.py
  backend/services/zone_baseline_service.py
  backend/services/zone_household_service.py
  backend/tests/integration/services/test_zone_anomaly_service.py
  backend/tests/integration/test_zone_baselines.py
  backend/tests/integration/test_zone_household_api.py
  backend/tests/unit/services/test_zone_anomaly_service.py
  backend/tests/unit/services/test_zone_baseline_service.py
  backend/tests/unit/services/test_zone_household_service.py
  docs/openapi.json
  frontend/src/components/system/SystemHealthIndicator.test.tsx
  frontend/src/components/system/SystemHealthIndicator.tsx
  frontend/src/components/zones/ZoneActivityHeatmap.test.tsx
  frontend/src/components/zones/ZoneActivityHeatmap.tsx
  frontend/src/components/zones/ZoneStatusCard.test.tsx
  frontend/src/components/zones/ZoneStatusCard.tsx
  frontend/src/components/zones/ZoneTimelineScrubber.test.tsx
  frontend/src/components/zones/ZoneTimelineScrubber.tsx
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

chore: apply pre-commit formatting fixes
  backend/tests/unit/services/test_zone_anomaly_service.py
Due: none

fix: correct import order in camera_zone.py for Ruff lint
  backend/models/camera_zone.py
Due: backend-unit, backend-integration

fix: resolve hanging E2E pipeline integration test (NEM-3155)
  backend/tests/e2e/test_pipeline_integration.py
Due: none

fix: resolve Trivy backend container vulnerabilities (NEM-3226)
  .trivyignore
Due: none

docs: fix documentation inconsistencies (NEM-2796, NEM-2797, NEM-2798, NEM-2790)
  docs/deployment/container-orchestration.md
  docs/operator/deployment/README.md
  docs/reference/config/env-reference.md
Due: none

fix: verify contract tests are passing - no issues found (NEM-3005)
  CONTRACT_TESTS_VERIFICATION.md
Due: none

feat: integrate AI components into main UI (NEM-3064, NEM-3065, NEM-3067)
  frontend/src/components/ai/AIPerformancePage.test.tsx
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/events/EventDetailModal.test.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/layout/Header.tsx
Due: frontend

fix: revert to standard Python 3.14 Docker image (NEM-3236)
  backend/Dockerfile
Due: backend-unit, backend-integration

feat: add py-spy profiler integration to Pyroscope container
  docker-compose.prod.yml
  monitoring/pyroscope/Dockerfile
  monitoring/pyroscope/entrypoint.sh
  monitoring/pyroscope/profiler.sh
Due: none

chore: add multimodal evaluation sample fixtures (NEM-3233)
  backend/tests/fixtures/synthetic/comparison_report.json
  backend/tests/fixtures/synthetic/comparison_summary.txt
  backend/tests/fixtures/synthetic/local_pipeline_results.parquet
  backend/tests/fixtures/synthetic/multimodal_ground_truth.parquet
Due: none

feat: implement multimodal evaluation pipeline (NEM-3233)
  backend/tests/fixtures/synthetic/images/README.md
  backend/tests/fixtures/synthetic/images/edge_case/.gitkeep
  backend/tests/fixtures/synthetic/images/normal/.gitkeep
  backend/tests/fixtures/synthetic/images/suspicious/.gitkeep
  backend/tests/fixtures/synthetic/images/threat/.gitkeep
  backend/tests/integration/test_multimodal_pipeline.py
  tools/nemo_data_designer/multimodal/__init__.py
  tools/nemo_data_designer/multimodal/ground_truth_generator.py
  tools/nemo_data_designer/multimodal/image_analyzer.py
  tools/nemo_data_designer/multimodal/pipeline_comparator.py
  tools/nemo_data_designer/multimodal_evaluation.py
Due: none

feat: implement evaluation harness for prompt comparison (NEM-3229)
  backend/evaluation/AGENTS.md
  backend/evaluation/__init__.py
  backend/evaluation/harness.py
  backend/evaluation/metrics.py
  backend/evaluation/reports.py
  backend/tests/unit/evaluation/__init__.py
  backend/tests/unit/evaluation/test_harness.py
  backend/tests/unit/evaluation/test_metrics.py
  backend/tests/unit/evaluation/test_reports.py
  pyproject.toml
Due: backend-unit, backend-integration

feat: add py-spy continuous profiling to Python containers (NEM-3090)
  docker-compose.prod.yml
  monitoring/pyroscope/Dockerfile
  monitoring/pyroscope/entrypoint.sh
  monitoring/pyroscope/profiler.sh
Due: none

docs: add NeMo Data Designer documentation structure (NEM-3234)
  docs/README.md
  docs/development/nemo-data-designer.md
  docs/development/prompt-evaluation-results.md
  docs/development/testing.md
Due: none

feat: add pytest fixtures and CI for prompt evaluation (NEM-3230)
  .github/workflows/prompt-evaluation.yml
  backend/tests/conftest.py
  backend/tests/integration/test_nemotron_prompts.py
  pyproject.toml
  scripts/validate.sh
Due: none

feat: implement NeMo Data Designer foundation (NEM-3228)
  backend/tests/fixtures/synthetic/.gitkeep
  pyproject.toml
  tools/__init__.py
  tools/nemo_data_designer/README.md
  tools/nemo_data_designer/__init__.py
  tools/nemo_data_designer/config.py
  tools/nemo_data_designer/generate_scenarios.py
  tools/nemo_data_designer/notebooks/.gitkeep
  uv.lock
Due: none

docs: add NeMo Data Designer integration design (NEM-3227)
  docs/plans/2026-01-21-nemo-data-designer-integration-design.md
Due: none

feat: add enrichment pipeline edge case tests (NEM-3232)
  backend/core/logging.py
  backend/tests/conftest.py
  backend/tests/integration/test_enrichment_edge_cases.py
  pyproject.toml
  tools/nemo_data_designer/config.py
  tools/nemo_data_designer/enrichment_scenarios.py
Due: backend-unit, backend-integration

feat: expand scenario coverage to 1500+ with full columns (NEM-3231)
  .pre-commit-config.yaml
  tools/nemo_data_designer/analyze_coverage.py
  tools/nemo_data_designer/config.py
  tools/nemo_data_designer/generate_scenarios.py
Due: none

style: format design doc tables with prettier (NEM-3227)
  docs/plans/2026-01-21-nemo-data-designer-integration-design.md
Due: none

fix: CI fixes, security, and documentation updates (NEM-3226, NEM-3005, NEM-3155, NEM-2796/97/98/90) (#3729)
  .trivyignore
  CONTRACT_TESTS_VERIFICATION.md
  backend/tests/e2e/test_pipeline_integration.py
  docs/deployment/container-orchestration.md
  docs/operator/deployment/README.md
  docs/reference/config/env-reference.md
Due: none

fix: update isinstance syntax for Python 3.14 compatibility (UP038)
  backend/core/database.py
  backend/services/audit_logger.py
  backend/services/depth_anything_loader.py
  backend/services/detector_client.py
  backend/services/enrichment_pipeline.py
  backend/services/nemotron_analyzer.py
  backend/services/ocr_service.py
  backend/services/pipeline_workers.py
  backend/services/prompt_storage.py
  backend/tests/integration/test_jobs.py
  backend/tests/integration/test_search_api.py
  backend/tests/mock_utils.py
  backend/tests/unit/api/middleware/test_request_logging.py
  backend/tests/unit/api/routes/test_system.py
Due: backend-unit, backend-integration

feat: integrate AI components and fix Docker builds (NEM-3064, NEM-3065, NEM-3067, NEM-3236) (#3728)
  backend/Dockerfile
  frontend/src/components/ai/AIPerformancePage.test.tsx
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/events/EventDetailModal.test.tsx
  frontend/src/components/events/EventDetailModal.tsx
  frontend/src/components/layout/Header.test.tsx
  frontend/src/components/layout/Header.tsx
Due: backend-unit, backend-integration, frontend

fix: resolve import sorting issues from main merge (I001)
  backend/tests/integration/test_alembic_migrations.py
  backend/tests/integration/test_migration_rollback.py
  backend/tests/integration/test_migrations.py
Due: none

feat: comprehensive testing infrastructure uplevel
  .github/workflows/api-compatibility.yml
  .github/workflows/ci.yml
  .github/workflows/flaky-test-detection.yml
  .pre-commit-config.yaml
  .secrets.baseline
  FLAKY_TEST_DETECTION_IMPLEMENTATION.md
  backend/tests/conftest.py
  backend/tests/hypothesis_strategies.py
  backend/tests/hypothesis_strategies_usage.md
  backend/tests/unit/api/routes/test_dlq.py
  backend/tests/unit/api/routes/test_health_ai_services.py
  backend/tests/unit/api/routes/test_notification.py
  backend/tests/unit/api/routes/test_summaries.py
  backend/tests/unit/api/routes/test_zone_household.py
  backend/tests/unit/models/test_camera_zone.py
  backend/tests/unit/models/test_enrichment.py
  backend/tests/unit/models/test_zone_anomaly.py
  backend/tests/unit/models/test_zone_baseline.py
  backend/tests/unit/test_check_api_breaking_changes.py
  backend/tests/unit/test_hypothesis_strategies.py
  backend/tests/unit/test_websocket_mock_example.py
  backend/tests/unit/test_websocket_utils.py
  backend/tests/websocket_utils.py
  docs/development/api-breaking-change-detection.md
  docs/development/flaky-test-detection.md
  docs/development/hooks.md
  frontend/src/hooks/__tests__/useAdminMutations.test.tsx
  frontend/src/hooks/__tests__/useHouseholdApi.test.ts
  frontend/src/hooks/__tests__/usePaginationState.test.tsx
  frontend/src/hooks/__tests__/usePromptQueries.test.tsx
  frontend/src/hooks/__tests__/useSettingsApi.test.tsx
  frontend/src/hooks/__tests__/useZoneAlerts.test.tsx
  scripts/check-api-breaking-changes.py
  scripts/pre-push-tests.sh
Due: none

fix: resolve CI/CD lint and secret detection failures
  backend/tests/hypothesis_strategies.py
  backend/tests/unit/api/routes/test_dlq.py
  backend/tests/unit/api/routes/test_notification.py
  backend/tests/unit/models/test_enrichment.py
  backend/tests/unit/test_check_api_breaking_changes.py
  backend/tests/unit/test_websocket_mock_example.py
  backend/tests/unit/test_websocket_utils.py
  frontend/src/hooks/__tests__/useAdminMutations.test.tsx
  frontend/src/hooks/__tests__/useHouseholdApi.test.ts
  frontend/src/hooks/__tests__/usePaginationState.test.tsx
  frontend/src/hooks/__tests__/useSettingsApi.test.tsx
  frontend/src/hooks/__tests__/useZoneAlerts.test.tsx
Due: none

feat: add Redis slow log and PostgreSQL server-side query monitoring (NEM-3054, NEM-3055)
  docker-compose.prod.yml
  monitoring/alerting-rules.yml
  monitoring/alloy/config.alloy
  monitoring/grafana/dashboards/consolidated.json
  monitoring/grafana/dashboards/logs.json
Due: none

feat: comprehensive testing infrastructure uplevel (#3735)
  .github/workflows/api-compatibility.yml
  .github/workflows/ci.yml
  .github/workflows/flaky-test-detection.yml
  .pre-commit-config.yaml
  .secrets.baseline
  FLAKY_TEST_DETECTION_IMPLEMENTATION.md
  backend/tests/conftest.py
  backend/tests/hypothesis_strategies.py
  backend/tests/hypothesis_strategies_usage.md
  backend/tests/unit/api/routes/test_dlq.py
  backend/tests/unit/api/routes/test_health_ai_services.py
  backend/tests/unit/api/routes/test_notification.py
  backend/tests/unit/api/routes/test_summaries.py
  backend/tests/unit/api/routes/test_zone_household.py
  backend/tests/unit/models/test_camera_zone.py
  backend/tests/unit/models/test_enrichment.py
  backend/tests/unit/models/test_zone_anomaly.py
  backend/tests/unit/models/test_zone_baseline.py
  backend/tests/unit/test_check_api_breaking_changes.py
  backend/tests/unit/test_hypothesis_strategies.py
  backend/tests/unit/test_websocket_mock_example.py
  backend/tests/unit/test_websocket_utils.py
  backend/tests/websocket_utils.py
  docs/development/api-breaking-change-detection.md
  docs/development/flaky-test-detection.md
  docs/development/hooks.md
  frontend/src/hooks/__tests__/useAdminMutations.test.tsx
  frontend/src/hooks/__tests__/useHouseholdApi.test.ts
  frontend/src/hooks/__tests__/usePaginationState.test.tsx
  frontend/src/hooks/__tests__/usePromptQueries.test.tsx
  frontend/src/hooks/__tests__/useSettingsApi.test.tsx
  frontend/src/hooks/__tests__/useZoneAlerts.test.tsx
  scripts/check-api-breaking-changes.py
  scripts/pre-push-tests.sh
Due: none

Path conditions:
  backend-unit: any of: backend/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
  backend-integration: any of: backend/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
  frontend: any of: frontend/src/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
