Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

docs: add Nemotron prompts baseline and comparison guide (#3491)
  docs/nemotron-prompts-baseline.txt
  docs/nemotron-prompts-comparison-guide.md
Due: none

feat: Analytics to Grafana migration and navigation improvements
  frontend/src/components/analytics/AnalyticsPage.test.tsx
  frontend/src/components/layout/Sidebar.test.tsx
Due: none

feat: auto-discover Grafana URL for remote access
  .secrets.baseline
  frontend/src/components/ai/AIPerformancePage.test.tsx
Due: none

feat: Implement Nemotron prompt improvements to reduce false positives
  backend/alembic/versions/a1b2c3d4e5f6_add_household_member_and_vehicle_tables.py
  backend/alembic/versions/b2c3d4e5f6a7_add_experiment_results_table.py
  backend/alembic/versions/b2c3d4e5f6g7_add_camera_calibrations_table.py
Due: backend-unit, backend-integration

fix: flatten alembic migrations into initial schema
  backend/alembic/versions/a1b2c3d4e5f6_add_household_member_and_vehicle_tables.py
  backend/alembic/versions/b2c3d4e5f6a7_add_experiment_results_table.py
  backend/alembic/versions/b2c3d4e5f6g7_add_camera_calibrations_table.py
Due: backend-unit, backend-integration

feat: auto-discover Grafana URL for remote access (#3518)
  .secrets.baseline
  frontend/src/components/ai/AIPerformancePage.test.tsx
  frontend/src/components/analytics/AnalyticsPage.test.tsx
  frontend/src/components/layout/Sidebar.test.tsx
Due: none

fix: Add missing models to download script and fix model paths
  ai/enrichment/model_registry.py
  docker-compose.prod.yml
  scripts/download_models.py
Due: none

fix: Replace placeholder _call_llm_with_version with proper LLM call
  backend/services/nemotron_analyzer.py
Due: backend-unit, backend-integration

fix: Grafana iframe embedding for remote access
  docker-compose.prod.yml
  frontend/docker-entrypoint.sh
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/analytics/AnalyticsPage.tsx
  frontend/src/utils/grafanaUrl.ts
Due: frontend

fix: Redis maxmemory configuration and alert rule false positive
  docker-compose.prod.yml
  monitoring/alerting-rules.yml
Due: none

fix: update CSP to allow Grafana inline scripts
  frontend/docker-entrypoint.sh
Due: none

fix: alerting rules misconfigurations and raise GPU warning to 95%
  monitoring/alerting-rules.yml
  monitoring/prometheus-rules.yml
  monitoring/prometheus_rules.yml
Due: none

fix: Use patch.object for _call_llm mocking in pipeline E2E tests
  backend/tests/integration/test_pipeline_e2e.py
Due: none

feat: add critical alerts for GPU, circuit breaker, LLM, and database/cache
  monitoring/alerting-rules.yml
Due: none

fix: correct 12 broken alerts and add missing critical alerts
  monitoring/alerting-rules.yml
Due: none

feat: enhance Grafana dashboard with Alertmanager and backend-api metrics
  monitoring/grafana/dashboards/consolidated.json
Due: none

fix: Remove AINemotronTimeout from expected alerts test
  backend/tests/unit/core/test_prometheus_rules.py
Due: none

fix: Alert Management panels datasource and Prometheus scraping
  monitoring/grafana/dashboards/consolidated.json
  monitoring/prometheus.yml
Due: none

fix: improve Alert Management panel layout alignment
  monitoring/grafana/dashboards/consolidated.json
Due: none

fix: Grafana iframe embedding for remote access (#3521)
  backend/tests/integration/test_pipeline_e2e.py
  backend/tests/unit/core/test_prometheus_rules.py
  docker-compose.prod.yml
  frontend/docker-entrypoint.sh
  frontend/src/components/ai/AIPerformancePage.tsx
  frontend/src/components/analytics/AnalyticsPage.tsx
  frontend/src/utils/grafanaUrl.ts
  monitoring/alerting-rules.yml
  monitoring/grafana/dashboards/consolidated.json
  monitoring/prometheus-rules.yml
  monitoring/prometheus.yml
  monitoring/prometheus_rules.yml
Due: frontend

fix: resolve KeyError in MODEL_ZOO prompt and add pipeline tests
  backend/services/nemotron_analyzer.py
  backend/tests/integration/test_llm_analysis_pipeline.py
  backend/tests/unit/services/test_prompt_formatters.py
  backend/tests/unit/test_llm_prompt_formatting.py
  scripts/seed-events.py
Due: backend-unit, backend-integration

fix: correct EnvironmentContext parameters in integration test
  backend/tests/integration/test_llm_analysis_pipeline.py
Due: none

Path conditions:
  backend-unit: any of: backend/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
  backend-integration: any of: backend/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
  frontend: any of: frontend/src/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
