Repository mikesvoboda/nemotron-v3-home-security-intelligence: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

feat: integrate WorkerSupervisor with main application lifecycle (NEM-2460)
  backend/core/config.py
  backend/main.py
  backend/services/pipeline_workers.py
  backend/services/worker_supervisor.py
Due: backend-unit, backend-integration

fix: remove unused APIKey model (NEM-2478)
  .secrets.baseline
  backend/AGENTS.md
  backend/models/AGENTS.md
  backend/models/__init__.py
  backend/models/api_key.py
  backend/tests/unit/AGENTS.md
  backend/tests/unit/models/AGENTS.md
  backend/tests/unit/models/test_api_key.py
Due: backend-unit, backend-integration

fix: remove dead code detected by vulture (NEM-2637)
  vulture_whitelist.py
Due: none

feat: add TLS certificate volume mounts to docker-compose (NEM-2439)
  docker-compose.prod.yml
  docs/development/ssl-https.md
  frontend/docker-entrypoint.sh
  scripts/generate-ssl-cert.sh
Due: none

feat(orchestrator): add CATEGORY_DEFAULTS and monitoring lifecycle management (NEM-2467)
  backend/services/container_discovery.py
  backend/services/orchestrator/__init__.py
  backend/services/orchestrator/models.py
  backend/tests/unit/services/test_container_discovery.py
Due: backend-unit, backend-integration

fix: tolerate model availability errors in integration test
  backend/tests/integration/test_vision_extraction_pipeline.py
Due: none

fix: also tolerate 'Unknown model' errors in integration test
  backend/tests/integration/test_vision_extraction_pipeline.py
Due: none

fix: remove api_keys table references from test fixtures
  backend/tests/e2e/test_gpu_pipeline.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_full_stack.py
  backend/tests/integration/test_pipeline_e2e.py
Due: none

fix: prevent InFailedSqlTransaction in Alembic migrations (NEM-2639) (#3024)
  .secrets.baseline
  backend/alembic/env.py
  backend/api/schemas/ai_audit.py
  backend/services/depth_anything_loader.py
  backend/services/enrichment_pipeline.py
  backend/services/nemotron_analyzer.py
  backend/services/pipeline_quality_audit_service.py
  backend/services/prompts.py
  backend/services/reid_service.py
  backend/tests/integration/test_vision_extraction_pipeline.py
  backend/tests/unit/api/routes/test_ai_audit.py
  backend/tests/unit/routes/test_ai_audit_routes.py
  backend/tests/unit/services/test_ai_fallback.py
  backend/tests/unit/services/test_audit_service.py
  backend/tests/unit/services/test_depth_anything_loader.py
  backend/tests/unit/services/test_enrichment_pipeline.py
  backend/tests/unit/services/test_prompt_formatters.py
  backend/tests/unit/services/test_prompts.py
  backend/tests/unit/services/test_reid_service.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

fix: update unit tests to match new Entity API and container discovery
  backend/tests/unit/api/routes/test_entities.py
  backend/tests/unit/services/test_container_discovery.py
Due: none

fix: add missing OrchestratorSettings attrs for monitoring services
  backend/core/config.py
Due: backend-unit, backend-integration

feat: consolidate infrastructure improvements (NEM-2439, NEM-2451, NEM-2460, NEM-2467, NEM-2478)
  .secrets.baseline
  backend/AGENTS.md
  backend/api/routes/entities.py
  backend/core/config.py
  backend/main.py
  backend/models/AGENTS.md
  backend/models/__init__.py
  backend/models/api_key.py
  backend/services/container_discovery.py
  backend/services/orchestrator/__init__.py
  backend/services/orchestrator/models.py
  backend/services/pipeline_workers.py
  backend/services/worker_supervisor.py
  backend/tests/e2e/test_gpu_pipeline.py
  backend/tests/integration/AGENTS.md
  backend/tests/integration/conftest.py
  backend/tests/integration/test_full_stack.py
  backend/tests/integration/test_migrations.py
  backend/tests/integration/test_pipeline_e2e.py
  backend/tests/unit/AGENTS.md
  backend/tests/unit/api/routes/test_entities.py
  backend/tests/unit/models/AGENTS.md
  backend/tests/unit/models/test_api_key.py
  backend/tests/unit/services/test_container_discovery.py
  docker-compose.prod.yml
  docs/development/ssl-https.md
  docs/openapi.json
  frontend/docker-entrypoint.sh
  frontend/src/types/generated/api.ts
  scripts/generate-ssl-cert.sh
Due: backend-unit, backend-integration, frontend

fix: add missing test fixtures and integration tests
  backend/tests/integration/test_pipeline_quality_audit_service.py
  backend/tests/unit/services/test_nemotron_analyzer.py
Due: none

fix: add WorkerSupervisor mocks to WebSocket integration tests
  .secrets.baseline
  backend/tests/integration/test_websocket.py
Due: none

fix: update Entity API integration tests for PostgreSQL migration
  backend/tests/integration/test_entities_api.py
Due: none

fix: update entities API tests for UUID-based entity lookup
  backend/tests/integration/test_entities_api.py
Due: none

fix: rename test_list_entities_empty_without_redis to check response structure
  backend/tests/integration/test_entities_api.py
Due: none

fix: update WebSocket test fixtures to mock all lifespan services
  .secrets.baseline
  backend/tests/integration/test_websocket.py
  backend/tests/integration/test_websocket_auth.py
  backend/tests/integration/test_websocket_broadcast.py
Due: none

fix: update test mocks for async Docker client close
  .secrets.baseline
  backend/tests/integration/test_websocket.py
Due: none

fix: update async mocks in websocket broadcast and auth tests
  backend/tests/integration/test_websocket_auth.py
  backend/tests/integration/test_websocket_broadcast.py
Due: none

feat: consolidate infrastructure improvements and technical debt fixes (#3040)
  .secrets.baseline
  backend/AGENTS.md
  backend/api/routes/entities.py
  backend/core/config.py
  backend/main.py
  backend/models/AGENTS.md
  backend/models/__init__.py
  backend/models/api_key.py
  backend/services/container_discovery.py
  backend/services/orchestrator/__init__.py
  backend/services/orchestrator/models.py
  backend/services/pipeline_workers.py
  backend/services/worker_supervisor.py
  backend/tests/e2e/test_gpu_pipeline.py
  backend/tests/integration/AGENTS.md
  backend/tests/integration/conftest.py
  backend/tests/integration/test_entities_api.py
  backend/tests/integration/test_full_stack.py
  backend/tests/integration/test_migrations.py
  backend/tests/integration/test_pipeline_e2e.py
  backend/tests/integration/test_pipeline_quality_audit_service.py
  backend/tests/integration/test_websocket.py
  backend/tests/integration/test_websocket_auth.py
  backend/tests/integration/test_websocket_broadcast.py
  backend/tests/unit/AGENTS.md
  backend/tests/unit/api/routes/test_entities.py
  backend/tests/unit/models/AGENTS.md
  backend/tests/unit/models/test_api_key.py
  backend/tests/unit/services/test_container_discovery.py
  backend/tests/unit/services/test_nemotron_analyzer.py
  docker-compose.prod.yml
  docs/development/ssl-https.md
  docs/openapi.json
  frontend/docker-entrypoint.sh
  frontend/src/types/generated/api.ts
  scripts/generate-ssl-cert.sh
  vulture_whitelist.py
Due: backend-unit, backend-integration, frontend

fix: resolve dead code detection CI failure (NEM-2643)
  backend/tests/integration/test_websocket.py
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: resolve dead code detection CI failure (NEM-2643) (#3043)
  backend/tests/integration/test_websocket.py
  frontend/package-lock.json
  frontend/package.json
Due: none

[claudesquad] update from 'new2' on 14 Jan 26 14:26 EST (paused)
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/core/metrics.py
  backend/services/worker_supervisor.py
  backend/tests/unit/api/routes/test_entities.py
  backend/tests/unit/api/routes/test_system_supervisor.py
  backend/tests/unit/core/test_worker_metrics.py
  monitoring/alerting-rules.yml
  tests/load/config.js
Due: backend-unit, backend-integration

feat: implement 6 parallel agent backlog tasks
  backend/api/routes/system.py
  backend/core/metrics.py
  backend/tests/unit/api/routes/test_entities.py
  backend/tests/unit/api/routes/test_system_supervisor.py
  backend/tests/unit/core/test_worker_metrics.py
  docs/openapi.json
  frontend/src/types/generated/api.ts
Due: backend-unit, backend-integration, frontend

fix: improve E2E test reliability for calibration and feedback flows (NEM-2357)
  frontend/tests/e2e/pages/TimelinePage.ts
  frontend/tests/e2e/specs/calibration.spec.ts
Due: none

feat: complete entities API database integration and entity tests
  backend/services/enrichment_pipeline.py
  backend/services/entity_clustering_service.py
  backend/tests/integration/test_entities_api.py
  backend/tests/integration/test_entity_persistence_pipeline.py
  backend/tests/unit/api/routes/test_entities.py
  backend/tests/unit/api/schemas/test_entity_schemas.py
  backend/tests/unit/services/test_entity_clustering_service.py
Due: backend-unit, backend-integration

fix: add supervisor_healthy field to frontend test mocks
  frontend/src/components/system/BackgroundJobsPanel.test.tsx
  frontend/src/components/system/WorkerStatusPanel.test.tsx
  frontend/src/mocks/handlers.ts
Due: frontend

feat: complete entities API database integration (NEM-2453, NEM-2454, NEM-2455) (#3046)
  backend/services/enrichment_pipeline.py
  backend/services/entity_clustering_service.py
  backend/tests/integration/test_entities_api.py
  backend/tests/integration/test_entity_persistence_pipeline.py
  backend/tests/unit/api/routes/test_entities.py
  backend/tests/unit/api/schemas/test_entity_schemas.py
  backend/tests/unit/services/test_entity_clustering_service.py
  frontend/tests/e2e/pages/TimelinePage.ts
  frontend/tests/e2e/specs/calibration.spec.ts
Due: backend-unit, backend-integration

feat: implement 6 parallel agent backlog tasks (#3045)
  backend/api/routes/system.py
  backend/api/schemas/system.py
  backend/core/metrics.py
  backend/services/worker_supervisor.py
  backend/tests/unit/api/routes/test_system_supervisor.py
  backend/tests/unit/core/test_worker_metrics.py
  docs/openapi.json
  frontend/src/components/system/BackgroundJobsPanel.test.tsx
  frontend/src/components/system/WorkerStatusPanel.test.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/types/generated/api.ts
  monitoring/alerting-rules.yml
  tests/load/config.js
Due: backend-unit, backend-integration, frontend

fix: resolve container port configuration issues (NEM-2657, NEM-2659, NEM-2660)
  .env.example
  backend/api/routes/entities.py
  backend/core/config.py
  backend/tests/unit/services/test_performance_collector.py
  docker-compose.prod.yml
  frontend/nginx.conf
Due: backend-unit, backend-integration

fix: resolve media path mismatch and extend seed script for UI testing
  docker-compose.prod.yml
  scripts/seed-mock-events.py
Due: none

fix: resolve UI testing bugs and NVIDIA logo rendering (NEM-2661, NEM-2664, NEM-2665, NEM-2666)
  backend/services/nemotron_analyzer.py
  backend/tests/unit/services/test_nemotron_analyzer.py
  frontend/public/images/nvidia-logo-white.svg
  scripts/seed-mock-events.py
  semgrep.yml
Due: backend-unit, backend-integration

feat: enhance vision extraction pipeline and clean VQA artifacts
  .gitignore
  backend/services/prompts.py
  backend/services/reid_service.py
  backend/services/vision_extractor.py
  backend/tests/unit/services/test_prompts.py
  backend/tests/unit/services/test_reid_service.py
  backend/tests/unit/services/test_vision_extractor.py
  frontend/bun.lock
  frontend/src/components/layout/Header.tsx
  scripts/seed-mock-events.py
Due: backend-unit, backend-integration, frontend

fix: update smoke test for new header design
  frontend/tests/e2e/specs/smoke.spec.ts
Due: none

Path conditions:
  backend-unit: any of: backend/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
  backend-integration: any of: backend/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
  frontend: any of: frontend/src/, but not: backend/tests/**/*, backend/examples/**/*, frontend/tests/**/*, frontend/src/test/**/*, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/node_modules/**, **/__pycache__/**, docs/**/*, scripts/**/*, ai/**/*
